[2015-10-01 15:36] EladBezalel commented on #4945
So @marcysutton this is not a bug and can be closed?

[2015-10-01 15:38] topherfangio commented on #4948
Any chance you could provide a codepen which demonstrates how it's breaking so we can see a little bit better what you're trying to do?

[2015-10-01 16:07] topherfangio commented on #4907
Thanks; I'll take another look at it today when I'm at my IE machine and see if I can reproduce.

[2015-10-01 16:30] topherfangio commented on #4889
@ngraef Thanks for helping us keep the issues up-to-date! You've had a lot of very helpful comments recently :smile:

[2015-10-01 16:39] topherfangio commented on #4895
@VikramTiwari Absolutely!

You'll need to fork and clone this repository. You can see some info/guidelines [here](https://github.com/angular/material#contributing).

Once you have the project cloned, you'll want to look at the following file:

 * `docs/app/partials/getting-started.tmpl.html`

That has some links to existing Codepens, so you may want to fork them, update them and then update the UR

[2015-10-01 16:55] paulflo150 commented on #4785
How about:
1. Moving the events to md-virtual-repeat-container from ul since this is where the scrollbar is:
[code]

2. Add a scroll event which sets focus on the input.
[code]

[2015-10-01 16:56] vinkaga opened #4966 "All "Edit on CodePen" links are broken (globally)"
Results in an empty CodePen.

[2015-10-01 17:02] topherfangio commented on #4966
All of the CodePens are currently unavailable due to a recent upgrade to the CodePen site. They are working diligently to resolve the issue. You can track the progress here: https://github.com/CodePen/redesign/issues/112

I will leave this open in hopes that others who notice the issue will see this and be able to track it more easily.

[2015-10-01 17:30] keatonboyle opened #4967 "Disabled md-options still ripple and close md-select on click"
I'd expect `<md-option>`s that have been disabled (with a `disabled` or  `ng-disabled` attribute) not to ripple or close the select dropdown on click.  However, sometimes disabled options still animate on click, still show a pointer cursor on hover, and still close on click.

It seems that some browsers result in animation/close and some do not.  Though even in browsers that do not animate, the ba

[2015-10-01 17:35] jelbourn commented on #4967
Using that CodePen, I was able to see the issue on my laptop (Chrome Linux) but not my desktop (also Chrome Linux, oddly enough).

[2015-10-01 17:37] marcysutton commented on #4945
Sounds like it! I will close.

[2015-10-01 17:37] #4945 closed

[2015-10-01 17:41] EladBezalel commented on #3963
@michaelkrog It's still happening?

[2015-10-01 17:46] gejustin opened #4968 "mdVirtualRepeat - DOM Error when using md-checkbox in md-virtual-repeat"
I am attempting to use mdVitualRepeat with the md-on-demand attribute to create an infinite scrolling list of contacts. Each contact has an md-checkbox directive that will be used for batch actions. I've noticed that scrolling the list upward after a checkbox is clicked (sometimes it takes several checkboxes), causes it to bug out and elements start to disappear. I was able to fix the issue by wra

[2015-10-01 17:58] EladBezalel commented on #2201
I agree that it's unnecessary

@ThomasBurleson what's your opinion?

[2015-10-01 17:59] EladBezalel commented on #2685
@all it's still happening?

@catsass19 i can't figure why `-webkit-overflow-scrolling: touch;` worked for you as it's just affects the scrolling behavior.. weird..

[2015-10-01 18:44] jelbourn commented on #4968
@kseamon do you have time to take a look at this?

[2015-10-01 18:51] jelbourn commented on #4957
Very strange. It looks like the logic that keeps the calendar pane on the screen is misbehaving. Is there any way I could debug this in action? A production in something like CodePen or JsBin would be the most useful.

[2015-10-01 18:52] #4930 closed

[2015-10-01 18:54] ThomasBurleson commented on #2201
agreed :+1:

[2015-10-01 19:02] tommy8694 commented on #4896
+1
same issue in sidenav

[2015-10-01 19:02] Anaphase commented on #4336
[This bug is still present in 0.11.1](http://codepen.io/Anaphase/pen/EVZqrX)

[2015-10-01 19:33] valera33 commented on #2131
+1

[2015-10-01 19:35] ThomasBurleson commented on #2131
@rschmukler - can you look into this ?

[2015-10-01 19:50] michelank commented on #2722
@david-gang you can toggle() the sidebar without it, something like it (in ts):

buildToggler(navID: string): void {
            this.$mdSidenav(navID).toggle()
                .then(() => {
                    console.log("toggle " + navID + " is done");
                });
        }

[2015-10-01 19:51] relevantmedia commented on #4896
I tried to add md-tabs inside a sidenav. They are broken here as well. +1

[2015-10-01 19:55] jadjoubran commented on #4636
Yes, it always does

[2015-10-01 19:57] ThomasBurleson commented on #2722
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2015-10-01 20:01] ThomasBurleson commented on #4942
Whenever possible, provide a CodePen demo.

To expedite resolution, please always test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-material/master/angular-

[2015-10-01 20:01] #4942 closed

[2015-10-01 20:13] ThomasBurleson commented on #4916
@calebegg - today we add more stabilization changes to Layouts (in HEAD/master).
Here is your demo working properly:  http://codepen.io/ThomasBurleson/pen/qOrWKL

[code]

[2015-10-01 20:21] jelbourn commented on #4636
Based on that, I this doesn't sound like a bug in the datepicker itself. As it is now, the fact that it always deals with local times is working as intended; your app can take that local time and do any necessary conversions to UTC.

We do want to add a "UTC mode" to the datepicker, but it's not high on the short-term priority list. Going to close this issue for now- feel free to update if there's

[2015-10-01 20:21] #4636 closed

[2015-10-01 20:28] EladBezalel commented on #3787
Couldn't reproduce, here's a [codepen](http://codepen.io/EladBezalel/pen/KdabdL)

[2015-10-01 20:43] ThomasBurleson commented on #4962
@hanthomas - This appears to be working great with the last HEAD in master:

http://plnkr.co/edit/wPAClrzRkqKUlNv3K6sh?p=preview

[2015-10-01 20:43] #4962 closed

[2015-10-01 20:47] ThomasBurleson commented on #4875
Appears to be fixed with HEAD/master: http://codepen.io/ThomasBurleson/pen/dYNXpG

[2015-10-01 20:47] #4875 closed

[2015-10-01 20:48] ThomasBurleson commented on #4729
@tuhoojabotti -

Whenever possible, provide a CodePen demo.
To expedite resolution, please always test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-material

[2015-10-01 20:48] ThomasBurleson commented on #4729
@djmarcus1 - we will be releasing v0.11.2 tonight.

[2015-10-01 20:50] ThomasBurleson commented on #4959
Whenever possible, provide a CodePen demo!

To expedite resolution, please always test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-material/master/angular-

[2015-10-01 20:53] topherfangio opened #4971 "chips docs: IE/Firefox cannot delete non-number characters"
In the Custom Inputs mdChips demo, both Firefox and IE allow you to enter non-numeric text in the number fields. However, once typed, you can no longer use the backspace to delete the text, it instead jumps to the previous chip.

<img width="879" alt="screen shot 2015-10-01 at 3 43 37 pm" src="https://cloud.githubusercontent.com/assets/54370/10233509/6582888c-6854-11e5-95ce-f4a433662e99.png">

**S

[2015-10-01 21:02] hanthomas commented on #4962
Yes, it is working properly as of commit 77c050a.  Thanks!

[2015-10-01 21:18] EladBezalel opened #4973 "mdIsLockedOpen: Create and use in mdDialog, mdSideNav and mdBottomSheet"
We should create a directive that mdDialog, mdSideNav and mdBottomSheet will use to determine programmatically if closing should be enabled

[2015-10-01 21:24] topherfangio commented on #4907
I just got word from @EladBezalel who did some testing that he can see the issue on the 11.1 site, but that it appears to be fixed in [HEAD](https://material.angularjs.org/HEAD/#/layout/alignment).

Can you please test it there and see if it's working for you?

[2015-10-01 21:32] topherfangio commented on #4691
Confirmed; appears to only affect IE (tested Edge; assume 11 as well).

[2015-10-01 21:47] DmitryEfimenko commented on #4653
updated plunkr to use v0.11.1. It looks like select behaves better now. However, issue still can be reproduced in one condition:
* open dropdown
* start dragging the page (not the dropdown) - it's going to get dragged a bit off the screen)
* release, and before page reaches its original position attempt to drag dropdown
* observe that you are dragging the page rather than the dropdown

[2015-10-01 22:30] amritk commented on #4082
+1

[2015-10-01 22:31] p-mcgowan commented on #4082
+1

[2015-10-01 22:48] srsgores opened #4974 "Upgrade px to em"
One of my biggest pet peeves is ``px`` over ``em`` or ``rem``.  It prevents the design from properly scaling with other elements.  This library uses *some* ``em``, but the rest (for example [things like this](https://github.com/angular/material/blob/master/src/components/card/card.scss#L1)) still need to be migrated to ``em``.

I am willing to make this change, provided it is a welcome one.

Thoug

[2015-10-01 22:57] ThomasBurleson commented on #4974
@srsgores - Interestingly enough, complaints are well received when they are accompanied with **offers to help resolve**. Thank you ;-)

[2015-10-01 22:59] #4635 closed

[2015-10-01 23:02] ThomasBurleson commented on #4867
Both **flex-offset** and **layout-align** Layout features should be fixed now in master/HEAD and in v0.11.2.

To expedite resolution, please always test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *

[2015-10-01 23:02] #4867 closed

[2015-10-01 23:09] maddy2308 opened #4975 "md-datepicker allows to enter alpha numeric characters"
If i try to add anything other that date it allows to enter the date

[2015-10-01 23:21] ThomasBurleson commented on #4929
I have update the master, es5-tutorial, and es6 branches.
For testing with cordova, please use the master or es6 branches.

[2015-10-01 23:21] #4929 closed

[2015-10-01 23:23] ThomasBurleson commented on #4905
Please test with the lastest 0.11.2 released just today: See Layout fixes in the [Change Log](https://github.com/angular/material/blob/master/CHANGELOG.md)

[2015-10-01 23:23] #4905 closed

[2015-10-01 23:28] ThomasBurleson commented on #4905
Here is an updated Plunkr that works: http://plnkr.co/edit/vr1ZVnkDkbsL19E0Wo3M?p=preview

!! Important: You **MUST** configure a module dependency for ngMaterial:
[code]

[2015-10-01 23:30] ThomasBurleson commented on #4901
The **flex-wrap** is no longer a default within `flex='row'`.

Whenever possible, provide a CodePen demo.
To expedite resolution, please always test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWG

[2015-10-02 00:01] neonko commented on #3371
+1

[2015-10-02 00:01] sombriks commented on #4892
every input is transparent, it's visible in the picture i've added.
when i get some time i'll try to find which css rule makes datepicker behaves different from selects and other inputs.

[2015-10-02 00:26] djmarcus1 commented on #4729
Quick feedback: I tried the code with the RAWGIT releases. The problem still appears to be there. I will distill my code to a CodePen demo (or plnkr) and keep you posted shortly.

[2015-10-02 00:50] ivan7237d opened #4976 "Focus/hover style for buttons uses gray color with opacity"
For example, on a standard blue-themed toolbar the the circle around the menu icon is barely visible:

<img width="111" alt="screen shot 2015-10-01 at 8 30 29 pm" src="https://cloud.githubusercontent.com/assets/9092817/10237118/c3877c86-687b-11e5-9a7f-866dd2c421d7.png">

This is because the highlight color is rgba(158,158,158,0.2). It sounds like the best solution would be to have either semitrans

[2015-10-02 00:50] marcysutton opened #4977 "mdSelect options must be rendered at load time, not just on interaction"
In working on #3859 and #4914, I came across an issue that has existed for a while (I've mentioned it to @rschmukler a few times):

The options for an mdSelect are not in the DOM at all until you click or use the keyboard to activate it. For screen readers, this means a relationship cannot be established between the select and the options it controls, causing an error in Chrome's A11y Developer To

[2015-10-02 01:26] ThomasBurleson commented on #4729
@djmarcus1 - excellent. A Demo will be very helpful. Thx

[2015-10-02 01:30] djmarcus1 commented on #4729
Here's the CodePen:  http://codepen.io/djmarcus/pen/OypVVe

Just to clarify the issue. I use a layout="row" and have two (text and an md-select) items that I want to appear adjacent to each other on the same row.

The md-select shows up on the next row.

I did try it with version 0.11.1 and it also fails.

[2015-10-02 01:34] ThomasBurleson commented on #2454
@dmastag - I updated your CodePen to use ngMaterial 0.11.2 and Angular 1.3.19

http://codepen.io/ThomasBurleson/pen/LpWVxJ

*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-material/mast

[2015-10-02 01:46] ThomasBurleson commented on #4729
@djmarcus1 - Here is an updated CodePen: http://codepen.io/ThomasBurleson/pen/qOrdmy?editors=110

The Select is not actually on another row... rather it has margins that give it a LARGE row height and the title is aligned top of the row. Using `layout-align="start center" ` gets us to a UX that you want.

[2015-10-02 01:49] ThomasBurleson commented on #4902
@jelbourn, @robertmesserle - what are your thoughts here?

*  Is this a conflict with a common attribute `offset` ?
*  Should we rename the attribute to be **flex-offset** to be aligned with **flex-order** ?
  *  I think this solution is probably best...

[2015-10-02 01:51] djmarcus1 commented on #4729
Dang me. I'm not sure how I could have foreseen this :-(

So, in general, how does one 'debug' these types issue so we can avoid false bug alarms?

[2015-10-02 01:57] ThomasBurleson commented on #1720
Currently we use the following SCSS rules: https://github.com/angular/material/blob/master/src/core/services/layout/layout.scss#L185

[code]

I think we need to use:

[code]

But the minification is corrupting this...

[2015-10-02 02:05] ThomasBurleson commented on #4729
That is the challenge with FlexBox: it can be so hard to track down why it
is not aligning or working.
Ironic that you have to be a Flexbox expert to use Flexbox...

Open the developer tools and inspect the elements. Remember that without
ngMaterial, you could manually add the values and the elements should
layout as desired.
ngMaterial Layout is just sugar that allows you to not worry about the
v

[2015-10-02 03:32] topherfangio commented on #2454
@ThomasBurleson With the structure you provided, the sidenav will appear underneath the toolbar when opened on a small screen because the `<md-content>` tag sets `position: relative` (see image in [comment](https://github.com/angular/material/issues/2454#issuecomment-132744165)) and the sidenav uses `position: absolute`.

If you use a plain `<div>` instead of the `<md-content>`, then the sidenav i

[2015-10-02 04:52] sombriks opened #4978 "improvement: polyfill for ios-based browsers"
when i put the **required** attribute on input fields, both chrome and firefox alert me about it correclty nowadays.

however either chrome or safari on ipad gives me no clue about required fields.

can angular-material add some polyfill to prevent that and alert about the required fields?

[2015-10-02 05:25] norkunas commented on #4875
:+1:

[2015-10-02 05:50] michaelkrog commented on #3963
@EladBezalel Yes, it seems so.

http://plnkr.co/edit/2QzUUmtVRvTwjZIX1WxY?p=preview

[2015-10-02 06:02] FabVillegas commented on #4957
I cannot make the md-datepicker work in CodePen, but
http://codepen.io/anon/pen/PPpPOm

[2015-10-02 07:15] Stamy commented on #4907
Works fine with the 0.11.2

[2015-10-02 08:56] topherfangio commented on #4907
@Stamy Awesome; thanks for the update! Closing; please let us know if you see any more issues.

[2015-10-02 08:56] #4907 closed

[2015-10-02 09:25] prerna12 commented on #4636
Hi @jelbourn @jadjoubran,

I am facing the same issue. Is this issue fixed? Or if you could you kindly suggest some work around that works? Cause the date picker is setting my model to one day previous to the selected date.

Thanks.

[2015-10-02 09:37] ThomasBurleson commented on #3963
*  For the Tabs demo's use `class="md-padding"` which adds `padding:16px;`; I have removed the padding for the first demo (to show how the tabs *snaps* to the parent container).
*  Here is one of our Dialog demos with and without padding:
![screen shot 2015-10-02 at 4 35 47 am](https://cloud.githubusercontent.com/assets/210413/10243548/140063c4-68bf-11e5-98ef-0096df1c555d.png)
![screen shot 2015-1

[2015-10-02 09:37] #3963 closed

[2015-10-02 09:41] ThomasBurleson commented on #4978
Perhaps we offer an **md-show-required** attribute...
This needs a team discussion and will not be worked on until a post v1.0 milestone.

[2015-10-02 09:42] jadjoubran commented on #4636
@prerna12 I wasn't able to fix this yet.. maybe @ThomasBurleson has an idea?

[2015-10-02 10:01] Raidri opened #4979 "mdSticky: directive with scope params lose assignment"
Hi,

i have a directive which has different kinds of scopes. If the mdSticky component clone the directive, the scope values will be lost. But it is nessecary that the scope state stay active.

That is my directive:

[code]

[code]

Do i something wrong or is this a bug?

[2015-10-02 12:42] EladBezalel commented on #3963
@ThomasBurleson maybe we should make `.md-dialog-content` class that users can put on their content and not force padding on the element

[2015-10-02 12:46] #3787 closed

[2015-10-02 12:47] EladBezalel commented on #3916
@Tyrannmisu Can you please check it on HEAD to see if the problem still occurs?

[2015-10-02 13:55] ThomasBurleson commented on #3963
@EladBezalel - great idea. Make it so!

[2015-10-02 14:25] apat183 commented on #4537
+1 for this.

[2015-10-02 14:33] hanthomas opened #4981 "md-fab-speed-dial (0.11.2) does not work on Windows 10 with touch events"
The FAB Speed Dial demo for 0.11.2 (and all previous versions) does not work when you touch the FAB button, though it works fine with mouse.  When you touch the FAB button, it turns dark, but the speed dial is not triggered.  This problem appears to be only on Windows 10.  Android and iOS works fine.

[2015-10-02 15:11] colintemple commented on #4873
+1

I encountered it when moving from 0.10 to 0.11.1. In my case the tabs are not inside a dialog, but inside an `md-content`. When my app initially loads, this problem appears. If I navigate to another page and then back to the home screen (where these tabs load inside the `md-content` element), they look fine.

[2015-10-02 15:15] topherfangio commented on #4981
So are you saying that it does not work on Windows mobile? Any more specifics about the version would be really helpful.

Thanks!

[2015-10-02 15:16] ThomasBurleson commented on #4873
To expedite resolution, please always test with the latest versions:
*  Angular Material HEAD (currently v0.11.2)
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-material/master/angular-material.js
  *  RAWGIT

[2015-10-02 15:23] ThomasBurleson commented on #4873
@lmignot - your JS code in the CodePen is wrong.

[code]

You **must** include the `ngMaterial` dependency:

[code]

Here is the updated [CodePen](https://codepen.io/ThomasBurleson/pen/meWOvd).

@robertmesserle - I do this demo shows an integration issue with Tabs and Dialog

[2015-10-02 15:29] topherfangio commented on #4979
Could you please provide a very simple [Codepen](http://codepen.io) using the latest versions which shows the issue? It will help us better understand and track down the issue.

Here are the links to the latest versions:

*  Angular Material HEAD
 *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
 *  Bower Install - https://github.com/angular/bower-materi

[2015-10-02 15:29] britztopher commented on #4905
Looks good. Thanks

[2015-10-02 15:34] topherfangio commented on #4494
Looks like this was already fixed. Versions 11.1, 11.2 and HEAD all look correct. Please re-open if you experience any issues.

[2015-10-02 15:34] #4494 closed

[2015-10-02 15:37] EladBezalel commented on #4228
@pietschy can you please upload your use case so i can understand more deeply?

[2015-10-02 16:07] hanthomas commented on #4981
It's not working on *desktop* Windows 10 (not mobile or WP).  I'm running Chrome browser.  With the mouse, the demo works fine, but with touch it doesn't work at all.

Also, while the *demo* works fine on Android and iOS devices, when I implement FAB speed dial in my code, it doesn't work at all.  I'll put together a plunkr to show what I mean.

[2015-10-02 16:39] jelbourn commented on #4636
@prerna12 @jadjoubran Based on my understand of this, you need to convert the local value coming from the datepicker to UTC if that is what the rest of your app is using. For any real application, you should be using something like moment.js with `$mdDateLocaleProvider` to do parsing and formatting.

[2015-10-02 16:42] jelbourn commented on #4957
@FabVillegas That CodePen us usig version 0.8.3. The datepicker was added in 0.11.

[2015-10-02 16:46] jelbourn commented on #4902
Perhaps `layout-offset`, since it doesn't actually have anything to do with flex?

[2015-10-02 16:49] metamatt opened #4984 "conflation of "locals" and "options" pollutes the injector namespace"
I noted this behavior in AM 0.10.1 but a glance at the code makes it look like master still has the same behavior.

When you call `$mdDialog.show` (and presumably anything else based on `InterimElement`), all of the `options` properties get folded into `locals` and thus are injectable on the controller that gets invoked.

Using [the example from the $mdDialog docs page](https://material.angularjs.

[2015-10-02 17:46] gpopovic commented on #2430
+1

[2015-10-02 18:25] jelbourn commented on #4966
Issue has been resolved by CodePen.

[2015-10-02 18:25] #4966 closed

[2015-10-02 18:38] rafidka commented on #2841
@topherfangio sorry for the late response. I tried Angular 0.11 and it indeed solved it. Thanks!.

[2015-10-02 18:46] randallmeeker opened #4986 "Demo of md-datepicker does not show ngmessages for Min / Max / Invalid"
Assuming the example is to show a message, it currently does not on the demo site (0.11.12) chrome 45.0.3454

<img width="271" alt="screen shot 2015-10-02 at 1 42 55 pm" src="https://cloud.githubusercontent.com/assets/2538537/10254825/d151ece4-690b-11e5-920f-7ed7c6363545.png">

[2015-10-02 18:53] randallmeeker commented on #4981
I can verify on the demo using a touch screen desktop version of Windows 10 on Chrome.

The first demo of Fab Speed Dial "Basic Usage" just turns black.

The second demo "More Options" will open as expected, but will not close on touch. It will however, close on blur.

[2015-10-02 18:57] randallmeeker commented on #4981
On Windows 10, Microsoft Edge, Touch Screen

The top Demo "Basic Usage" works as expected.

The bottom Demo "More Options" will open and then immediately close.

[2015-10-02 18:58] e-oz commented on #4193
Please explain how to use md-on-append. How handler function should decide what to return, if it doesn't receive any arguments?

[2015-10-02 19:00] e-oz commented on #4666
related: #4193

[2015-10-02 19:06] DmitryEfimenko commented on #4578
The link should probably be [linking to this](https://www.google.com/design/spec/patterns/navigation-drawer.html).

[This issue](https://github.com/angular/material/issues/2197) is also probably relevant.

[2015-10-02 19:18] #3291 closed

[2015-10-02 19:18] PDSBGreg commented on #4785
+1 still broken on IE11 with version 0.11.2

[2015-10-02 19:20] DmitryEfimenko opened #4987 "[md-sidenav] - support expressions in [md-component-id]"
currently the following code will fail because `[md-component-id]` only supports strings:
*Html:*
[code]
*JS*:
[code]

I'm not sure if the following is the acceptable fix, but it works:
replaced [this line](https://github.com/angular/material/blob/master/src/components/sidenav/sidenav.js#L409):
[code]
... with this:
[code]
---
[Issue 3171](https://github.com/angular/material/issues/3171) is possib

[2015-10-02 19:30] topherfangio commented on #4193
@e-oz `md-on-append` is passed the text that the user typed so that you can translate it into an actual object (or just return the string if that's what you want).

Please see the [Basic Usage Demo](https://material.angularjs.org/HEAD/#/demo/material.components.chips) for more information.

[2015-10-02 19:45] randallmeeker commented on #4981
@topherfangio you might add the `browser: Chrome` label or remove all the browser labels as the only common element here is Windows 10, not the browser.

[2015-10-02 19:51] topherfangio commented on #4981
@randallmeeker Any chance you can test Firefox on your touch device and see if it also has issues?

[2015-10-02 20:33] e-oz commented on #4193
@topherfangio please try it with autocomplete and objects instead of text.

[2015-10-02 20:42] Deadly0 opened #4988 "Autocomplete wrong padding"
From demos (Head)
![default](https://cloud.githubusercontent.com/assets/4887213/10257217/b16a7e3e-695e-11e5-9d89-2f739ef48b39.png)

[2015-10-02 20:49] topherfangio commented on #4988
Can you tell us what browser you are using? I think this is related to the floating label, but I'm not sure.

[2015-10-02 20:58] Deadly0 commented on #4988
Yes, this bug happens only with floating label inputs.
Browsers: Chrome, Opera, IE, FF (Windows 8.1)

[2015-10-02 21:03] #4349 closed

[2015-10-02 21:04] #3144 closed

[2015-10-02 21:14] e-oz commented on #4193
@topherfangio thanks for advice - on second I try I found usage in code and I see I should pass ctrl.method($chip) in template to expect it in controller. Unusual but usable :)
Sorry for taking your time and thanks for help.

[2015-10-02 21:18] amritk opened #4989 "md-tabs: the label/body syntax does not work when inside another md-tabs"
I found an issue using md-tabs within md-tabs using a specific syntax. When I use this syntax it works fine:
[code]
![screen shot 2015-10-02 at 1 47 19 pm](https://cloud.githubusercontent.com/assets/2039539/10257515/cb886346-690c-11e5-9ec2-a100954e038a.png)

But when I use the other syntax, so I can include icons in my inner tabs, it seems to add the inner tab to the parent tabs and replace the fi

[2015-10-02 21:20] topherfangio commented on #4193
@e-oz Not a problem!

[2015-10-02 21:32] jualvarez opened #4990 "Using ng-show/ng-if inside md-item-templates within an md-autocomplete directive breaks md-virtual-repeat height calculation"
Height for the item template seems to be calculated before the ng-if or ng-show directives are evaluated, which causes the height of the li element to be wrongly calculated.

The following codepen shows this behaviour:
https://codepen.io/jualvarez/pen/ojZwWN

![image](https://cloud.githubusercontent.com/assets/2799416/10258187/e9e178b6-6932-11e5-93dc-86f58b721de3.png)

Try typing in "n" in the sta

[2015-10-02 22:07] verkestk commented on #4636
I'm seeing something similar, but it's intermittent. Sometimes the value assigned to the ng-model $scope property is this:

```Tue Jun 30 2015 00:00:00 GMT-0500 (CDT)```

And sometimes it's this:

```Tue Jun 30 2015 23:59:59 GMT-0500 (CDT)```

Same component, same page load. Just clicking the same date over and over again produces mostly the first, but about 1/10 of the time the second.

[2015-10-02 22:48] srsgores commented on #4974
Any update on this?

[2015-10-02 23:31] edbentinck commented on #4783
md-maxlength still appears broken (`v0.11.2`), but not for the reason mentioned above.

md-maxlength incorrectly marks the input field as erroneous even when it's correct. [Here's a demo of the error](https://codepen.io/anon/pen/yYMoJW), copied from the original demo site. [It doesn't happen in 0.11.0](https://material.angularjs.org/0.11.0/#/demo/material.components.input).

[2015-10-03 03:43] Splaktar commented on #3905
Cannot reproduce with angular 1.3.15, 1.4.6, 1.5.0-beta.1 and angular-material 0.10.0, 0.11.1, 0.11.2.

[2015-10-03 03:43] #3905 closed

[2015-10-03 03:52] Splaktar commented on #3953
I'm seeing additional tab related issues on v0.11.2. IE11 tabs look fine, but Chrome and Edge do not.

On Chrome:
![tabschromewindows](https://cloud.githubusercontent.com/assets/3506071/10261331/9046d4b2-6960-11e5-8e96-4e6b13674351.PNG)

On Edge:
![tabsedgewindows](https://cloud.githubusercontent.com/assets/3506071/10261332/943b5a0c-6960-11e5-8fcc-ce61da5a64a3.PNG)

[2015-10-03 04:16] Splaktar commented on #1376
Well this seems to be a little better in 0.11.2. At least when using `placeholder`, you will not get the overlaid password/label issue. But you do get an issue with the input applying an `md-icon-float` to the `md-input-container`.
![mdiconfloatpasswordinput](https://cloud.githubusercontent.com/assets/3506071/10261392/6b2700e6-6963-11e5-9300-4e94c2465c90.PNG)

This results in the label getting a `

[2015-10-03 09:15] estevo-de opened #4992 "Browser Support on Android - 4.2.2 Does not display correctly"
Hi All, I've started exploring Angular Material after experimenting with Material Design Lite.
One of the most important things in a layout is the grid.
In my opinion it has to be broad based as far as possible in order to maximise customer experience.
Here are the results:
Android 4.2.2 HTC One 1080 x 1920 - Incompatible
Android 4.3 Sony Xperia Z 1080 x 1920 - Incompatible
Android 4.4.4 HTC One 1

[2015-10-03 10:22] e-oz opened #4993 "layout: now depends on parent's display mode"
Please compare this:
http://codepen.io/evgeniyoz/pen/JYWOeo?editors=100
and this:
http://codepen.io/evgeniyoz/pen/QjpOxr?editors=100

Only difference is first tag name.

[2015-10-03 10:34] e-oz opened #4994 "layout: `flex="flex"` should be replaced to just `flex`"
Please compare:
http://codepen.io/evgeniyoz/pen/ojZoJb?editors=100
http://codepen.io/evgeniyoz/pen/qOrVgO?editors=100
Was not an issue in 0.11.0, but issue in 0.11.2 (easy to fix, but still should be noted in changelog, to save time).

[2015-10-03 10:36] e-oz commented on #4974
I'd like to see this landed too. Thank you @srsgores for proposal.

[2015-10-03 10:41] jaymanned commented on #4949
@jelbourn Any workaround you can think of?

[2015-10-03 11:25] jimmywarting opened #4995 "add prompt dialog?"
Addition to $mdDialog. just a suggestion.

[2015-10-03 11:26] rafidka opened #4996 "Using enter on md-chips with md-autocomplete causes two items to be added"
I have the following code for tags on my website:

    <md-chips ng-model="ctrl.tagNames" readonly="ctrl.readOnly"
              md-autocomplete-snap
              md-on-append="ctrl.onAppend()"
              md-require-match="false">
      <md-autocomplete
          md-selected-item="ctrl.selectedTag"
          md-selected-item-change=""
          md-search-text="ctrl.tagQuery"
          md-searc

[2015-10-03 11:44] chr22 commented on #4996
Here is a [CodePen](http://codepen.io/chr22/pen/ZGJabN) showing the issue.

[2015-10-03 11:47] chr22 commented on #4992
There is only support for android 4.4 and up.

Major browser versions n-1

[2015-10-03 11:49] rafidka commented on #4996
Thanks @chr22. Do you have any idea how to work around it for now?

[2015-10-03 11:52] chr22 commented on #4996
No i have the same issue in my application.

[2015-10-03 12:30] ThomasBurleson commented on #4995
What is the difference between a **prompt** dialog and the current **alert** and **confirm** dialogs?
Can you provide a scenario and a code usage?

[2015-10-03 12:31] ThomasBurleson commented on #4974
@srsgores - I will respond with details on Tuesday, Oct 6.

[2015-10-03 12:52] ThomasBurleson commented on #4993
![screen shot 2015-10-03 at 7 47 20 am](https://cloud.githubusercontent.com/assets/210413/10262950/e09c7d12-69a2-11e5-920d-7e34538e1a77.png)

[2015-10-03 12:54] ThomasBurleson commented on #4993
It appears that the `<ui-view>` does not define a **display** or **position** mode.

[2015-10-03 13:01] e-oz commented on #4993
Indeed. And 99% of directives with custom tags.

[2015-10-03 13:35] ThomasBurleson commented on #4993
I am not sure how to resolve this... as this appears to be a flexbox (not ngMaterial Layout) issue.
Suggestions ?

[2015-10-03 14:15] #2851 closed

[2015-10-03 14:41] pjbull commented on #1648
If anyone needs a CSS workaround, this worked for me:

    .md-select-label {
        padding-bottom: 2px !important;
        border-width: 1px !important;
    }

[2015-10-03 14:47] kimsrung commented on #4924
I've got the same problem. For me, the DialogB can't even be closed even if I call $mdDialog.hide() before I show another one.

[2015-10-03 14:52] kimsrung commented on #4924
I guess I got myself solve. Seem likes I don't need to call $mdDialog.hide() since it will do automatically.

[2015-10-03 15:33] randallmeeker commented on #4981
FireFox:

The top Demo "Basic Usage" works as expected.

The bottom demo "More Options" - first click will open the tooltip, the second click will open the additional icons. Third click closes the additional icons, but the tooltip will stay until blurred.

So basically it fails in all browsers.

[2015-10-03 15:36] randallmeeker commented on #4981
FireFox: not sure what the expected result is, but firefox will not collapse the top "Basic Usage" when blurred.

[2015-10-03 17:48] e-oz commented on #4993
Just document it :)

[2015-10-03 18:31] jimmywarting commented on #4995
Well, a prompt dialog has an input where you can type some text

[2015-10-03 19:31] e-oz opened #4997 "layout: `flex="100"` != `flex`"
Please compare:
http://codepen.io/evgeniyoz/pen/qOrYJj?editors=100
http://codepen.io/evgeniyoz/pen/ZbeowQ?editors=100

[2015-10-03 19:39] ido567 opened #4998 "Style md-autocomplete input like the labeled one"
Hi

As you know, there is a difference between the style of the autocomplete input with or without label.
I want to put an autocomplete input which look like the labeled one, but just without the label.

In my example, there is an autocomplete input with a label of "Favorite state", I need to keep the design of the input and remove the label.

https://codepen.io/anon/pen/VvpxNX

Thanks!

[2015-10-03 20:24] ThomasBurleson commented on #4995
That is easily done with a custom dialog... right?

[2015-10-03 20:45] EinArzt opened #4999 "md-autocomplete not ng-required compatible"
When using `ng-required` with an `md-autocomplete` it creates a normal input that has a fixed `required="required"` attribute. So conditionally setting the required attribute is not possible.

[2015-10-04 00:38] fabio-vitali commented on #4801
+1

[2015-10-04 00:58] Splaktar commented on #4946
Correct behavior in Chrome:
![chromesimpletoastlayout](https://cloud.githubusercontent.com/assets/3506071/10265909/5f2868b2-6a11-11e5-98c4-5351c9f24691.PNG)

Bad layout in IE11:
![ie11toastformattingissue](https://cloud.githubusercontent.com/assets/3506071/10265903/01f8873a-6a11-11e5-99fc-452e74a2bd51.PNG)

Reproduction steps:
Click on 'Show Simple' on the following demos:
https://material.angular

[2015-10-04 01:14] super-coder commented on #2131
@rschmukler   if i do what you suggests, add ui-sref attributes on md-item-content then i will have a dead space if items are uneven width. It will have a ripple but not work for changing URL

[2015-10-04 02:03] djmarcus1 opened #5001 "md-datepicker date returned can be different if date entered as text or via calendar drop down"
Two issues.

<b>[1] Selecting date via drop down shows a different value compared to entering same date as text.</b>

I define (via .config of $mdDateLocaleProvider) a date format of <b>YYYY-MM-DD<b>.

I select a date via calendar drop down of October 1, 2015.
... the value returned is: <b>2015-10-01T04:00:00.000Z</b>  ... correct.

I enter a date via the text input: 10/01/2015
... the value retur

[2015-10-04 02:23] ptrenery commented on #3654
+1

[2015-10-04 02:28] animesh1987 commented on #4801
+1

[2015-10-04 09:35] ThomasBurleson commented on #3513
@here - If the **minimum** value is an empty circle, then perhaps the **maximum** value should be represented with a filled circle: using a `md-max-value`. And perhaps we change the name also of the minimum to "md-min-value".

[2015-10-04 09:38] mustafahlvc commented on #4877
Fixed after v0.11.2

[2015-10-04 09:38] #4877 closed

[2015-10-04 09:39] louiealmeda commented on #4995
+ 1

With that, alert and confirm can be easily done with custom dialog as well... right? so why do we have them?

[2015-10-04 09:44] ThomasBurleson commented on #3654
This will be addressed **after** the v1.0 release.

[2015-10-04 10:13] denistrofimov commented on #4862
Fixed in 0.11.2?

[2015-10-04 10:15] Wingie commented on #1837
+1

[2015-10-04 10:25] Wingie commented on #4843
+1 facing this same issue

[2015-10-04 11:36] ayoubjs commented on #4856
Hi,
I noticed the recent animation change wich makes the scrolling more obvious but certain (most?) people are looking for arrows to switch months (like in the [material spec](https://www.google.com/design/spec/components/pickers.html#pickers-date-pickers)).
I think angular's anchorScroll would be a fast/easy way of achieving that.

Thank you

[2015-10-04 11:49] Deadly0 opened #5002 "md-autocomplete clear input value"
I need to clear input after autocomplete item is selected. [Example](http://plnkr.co/edit/jdsZo4jefADNhxvY03Zi?p=preview)
But to clear the input I need to use `$scope.$$childTail.searchText = '';` instead of simple `$scope.searchText = '';` because the second do not work.
Is it bug or normal behavior?

[2015-10-04 12:23] mjhasbach commented on #4938
My only complaint is the extra right padding on the chips when using `ng-model` and `readonly="true"`.

[2015-10-04 13:12] doug65536 opened #5003 "md-tabs should respect the first auto-focus element in the md-tab"
When activating a tab, the tab should be checked for an element with an auto-focus attribute, and if there is one it should set focus to it.

[2015-10-04 15:47] apat183 commented on #4862
+1 this is happen for me. It's only happening on confirm dialog and not custom.

[2015-10-04 16:46] MadMub commented on #1053
To offer some insight, I myself struggled to grasp how the angular material doc site has a sticky toolbar, while still maintaining position relative.

The key was diving further and learning how flexbox works, which is what material is implemented in (in terms of css layout). So making something scroll away or remain "sticky" should never involve changing the position attribute. But rather involve

[2015-10-04 17:16] tonyawad88 commented on #4996
+1

[2015-10-04 17:17] tonyawad88 commented on #4996
I believe it's related to this: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/ngmaterial/_IQ6FzJIH5k/p2Oy1gseCQAJ
?

[2015-10-04 17:27] tonyawad88 opened #5004 "md-dialog hidden in 0.11.2"
Hello,

I upgraded my material libraries from 0.10.1 to 0.11.2 and the basic mdDialog seems to be hidden. Check screenshot below. I tried to modify the z-index of its container and itself, it didn't work.

I included below the js and html of the view.
***HTML Snippet:***
[code]
***JS Snippet:***
[code]

Thank you,
<img width="323" alt="screen shot 2015-10-04 at 1 26 50 pm" src="https://cloud.githu

[2015-10-04 18:14] samio80 opened #5005 "md-select creating clone with invalid name"
When md-select is created with a name xxx then a select child is created with dot prefixed. This causes that it's not possible to query the select from javascript e.g:
<md-select name="xxx"> results in
<md-select> .... <select name=".xxx">
So when I want to validate:

formName..xxx.$error (Invalid javascript) the only way would be something like formName[".xxx"], but it does not make sense because

[2015-10-04 18:23] samio80 commented on #5005
The clone does not includes any attribute inherited from the parent (so validation is not possible, or at least I don't see how?)

https://github.com/angular/material/blob/b983c0d4575f6701cb327f29c75354dc31447c74/src/components/select/select.js#L116

[2015-10-04 19:59] EladBezalel commented on #5004
Please provide a CodePen or Plunkr that demonstrates this issue. Here are some starter demo templates that you can use/fork:

*  [CodePen template](http://codepen.io/team/AngularMaterial/pen/BNYppz)
*  [Plunkr template](http://plnkr.co/edit/yP0gB9iTacIQb48thud8?p=preview)

[2015-10-04 22:44] qjlee opened #5007 "md-tooltip does not show up when navigating via keyboard tab"
Issue is reproduced in the codepen:
https://codepen.io/anon/pen/XmMGmB

It is a bit annoying that it does not show up, is it by design or just a missing feature?  By looking into the source code,  I do not get why we use mouseActive here.

[code]

[2015-10-04 22:59] marcysutton commented on #5007
Tooltips aren't supported on Input fields...they already have a label, so technically it's redundant information. It's surprising it even works for the mouse....support would have to be added for it to work with the keyboard, but I'm not sure it really aligns with the Material Design spec.

[2015-10-04 23:09] pietschy commented on #4228
Thanks @EladBezalel, here it is.  http://plnkr.co/edit/A705BAmFy1hxEqdCEeK6?p=preview

[2015-10-04 23:20] marcysutton commented on #3859
After talking this over with an accessibility colleague of mine and doing some testing, I have found that the role of `combobox` is actually correct for JAWS and NVDA–that is what is announced for a native select. In VoiceOver on OSX, a native select is announced as "popup button", so the role will have to change depending on the user agent. I would prefer to keep the same role for all user agents

[2015-10-04 23:38] paulflo150 commented on #5002
Use the "dot notation" or "controller as"

http://plnkr.co/edit/qBGYOUsF67XVPjlwId4f?p=preview

[2015-10-04 23:46] doug65536 commented on #5003
Oops, I meant [autofocus](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input#attr-autofocus), not `auto-focus`.

[2015-10-05 00:18] qjlee commented on #5007
https://www.google.com/design/spec/components/tooltips.html

Tooltips are labels that appear on hover and focus when the user hovers over an element with the cursor, *focuses on an element using a keyboard (usually through the tab key)*, or upon touch (without releasing) in a touch UI. They contain textual identification for the element in question. They may also contain brief helper text regardin

[2015-10-05 00:48] mhchen commented on #4950
Quick update: some investigation reveals that this particular issue is caused by a duplicate month being rendered by virtual-repeat:

<img width="345" alt="Duplicate datepicker month"src="https://cloud.githubusercontent.com/assets/1325549/10271271/29e31f54-6abf-11e5-93c2-b49a24b5e7ec.png">

This happens on calendars that don't have max-date set too but it's far more apparent on calendars with max-

[2015-10-05 01:34] john-ring opened #5010 "$mdSticky docs don't describe the parent element requirements necessary to make a component sticky"
The docs describe $mdSticky as "The $mdSticky service provides a mixin to make elements sticky." There is no demo.

My understanding of that sentence means that it is similar to position:fixed after you scroll past the element passed to the function, and the element will remain "sticky" on that point on the page.

I created a simple directive that passes the scope and the element into the $mdStick

[2015-10-05 02:55] hanthomas commented on #4981
I created PR #5012 to fix this problem.  This change allows FAB speed dial to work properly on touch-only devices, mouse-only devices, and touch+mouse devices.

[2015-10-05 03:11] IDontEatSoap commented on #4120
+1

[2015-10-05 03:12] colinskow commented on #4950
What I suspect is happening, is that Chrome won't let a user scroll past the bottom of the virtual repeat scroller object so it reaches the bottom and stops as it is supposed to. But on Safari nothing stops it from going past the bottom so it infinitely repeats the last two items. If you scroll back up it scrolls like normal after you get back to above the bottom.

I don't know if the bug lies in

[2015-10-05 03:35] mhchen commented on #4950
@colinskow just wondering: are you able to see a situation in Chrome where the duplicate month renders and the scrolls object stops scrolling? As noted in my comment above I strongly suspect this is due to a duplicate month being rendered in non-Chrome browsers and not due to some arbitrary stoppage of the scroll. When there is a duplicate month the scroller height is taller than what virtual-repe

[2015-10-05 04:55] colinskow commented on #4950
In Chrome a duplicate month never renders. It works correctly. I had a similar bug with my `virtual-repeat` implementation, and it turned out that word-wrap had made some of my items taller than the specified size. On Chrome it caused the scroller to stop several items before my list ended. On Safari it totally bugged out and repeated the last one or two items forever. (Same behavior we are seeing

[2015-10-05 05:07] mhchen commented on #4950
Interesting that Chrome fixed the problem in your other example. This probably has some bearing on other issues with virtual-repeat but barring any other evidence it seems pretty clear to me that this particular issue is not CSS-related since the calendar months are all fixed heights and this duplicate month issue is readily identifiable and quite a good explanation for the problem we're seeing.

[2015-10-05 05:15] colinskow commented on #4950
Go here: https://material.angularjs.org/0.11.2/#/demo/material.components.virtualRepeat
(using Safari)

Load the "Deferred Loading" example in CodePen. Scroll down past 49999. Same behavior. The issue is definitely Virtual Repeat.

[2015-10-05 05:17] mhchen commented on #4950
Sure, I'm not really convinced that we disagree. I filed a PR for this that will fix it but waiting to hear from the author of virtual-repeat about the approach.

[2015-10-05 05:18] mjhasbach commented on #4938
Also, `md-on-select` does not work when using `readonly="true"`. A workaround is to use `ng-click` with `md-chip-template`; however, that is problematic because the event is only fired when clicking directly on the chip text (not on the outer edges).

Based on those observations, I feel that `ng-repeat` should be supported on `md-chip`.

[2015-10-05 05:26] colinskow commented on #4950
Interesting, do you know what is different about Safari that causes it to fire the $watchCollection callback more than Chrome?

[2015-10-05 05:29] mhchen commented on #4950
I don't, it's a really weird place for $watchCollection to be firing, but my first stab at this was limited to just looking at virtual-repeat and not stepping into $watchCollection itself. I plan on looking into it more if no one else has any insight about it.

[2015-10-05 05:39] colinskow commented on #4950
Thank you very much @mhchen !

[2015-10-05 05:41] mhchen commented on #4950
No problem, thanks for helping me look into! Looks like there are a few other issues with virtual-repeat that your insights might help us solve

[2015-10-05 06:21] pavankumarkatakam opened #5013 "virtualrepeat with md-menu not working"
check out the demo [codepen](https://codepen.io/pavankumar0440/pen/LpWoEe?editors=101), i want to keep the virtual-repeat in md-menu and the whole thing at md-toolbar, like facebook notification. but it is not working. please tell me why?

[2015-10-05 06:48] mhchen commented on #2529
Sorry for the delay in response. I looked into this @forcewill and I'm wondering if $setUntouched isn't what you're looking for instead. It will work for your use case and it makes sense conceptually too. Focusing and then blurring a required field doesn't make it dirty (i.e. not pristine), but it does make it touched. Only actually entering some input marks a field as dirty. Since by default I'd

[2015-10-05 06:56] navneet35371 commented on #4943
+1

[2015-10-05 07:53] fabio-vitali commented on #4801
I fixed it setting the position of the bottomsheet and the backdrop to "fixed"

[2015-10-05 08:40] tonyawad88 commented on #5004
@EladBezalel I wasn't able to replicate using CodePen. However I noticed the opacity of the dialog was set to 0. Apparently we animate the dialog opacity from 0 to 1 when we show it. I have animation disabled. Enabling the animation made it work again. Is it possible to disable animation and still have the dialog show up ?

Hard code css opacity to 1 ?

[2015-10-05 08:44] tinusn opened #5014 "layout-margin / layout-padding and flex="?""
In release 0.10.x layout-margin and layout-padding works as expected, but in 0.11.2 it does not.

The issue seems to be that the new class based approach does not add "flex" to the class list and is thus not hit by the following:
[code]

In 0.10.1:
[code]
becomes
[code]
whereas in 0.11.2 it becomes:
[code]

I tried to setup a codepen to demonstrate the issue, but for some reason I cannot get it to

[2015-10-05 09:04] Tyrannmisu commented on #3916
Sry i totaly forgot to post here. :see_no_evil:
I did not experience this issue since 0.10.1-rc4 nether on HEAD nor on the official releases.
I would say its fixed.

[2015-10-05 09:26] Benew commented on #4900
linked to #3855

[2015-10-05 10:09] cnpal commented on #4990
+1

[2015-10-05 10:13] #3916 closed

[2015-10-05 10:21] EladBezalel commented on #5004
dup #4862,
closed by #5006

[2015-10-05 10:21] #5004 closed

[2015-10-05 10:30] kwypchlo commented on #1837
+1

[2015-10-05 10:50] constantijn commented on #4938
@topherfangio I tested out the `readonly="true"` workaround. This sorta works, but the layout is broken in that there's extra white space in every chip where the "close X" is supposed to be (like @mjhasbach said). I can't use it like this because my designer's going to have an aneurism if I try show this to him.

Also if that layout glitch is fixed the 4th example on the chips demo page might need

[2015-10-05 11:05] panzershreck commented on #5014
+1

[2015-10-05 11:11] jaymanned opened #5015 "Virtual Repeat Snap Scroll support"
Any plans to make mdVirtualRepeat scroll support horizontal and vertical snap scrolling of the scrolled elements, i.e. scroll does not allow clipped elements in view? Similar demo [here] (http://alvarotrigo.com/fullPage/#secondPage) though this one uses full sized pages as scroll elements

[2015-10-05 11:21] pavankumarkatakam commented on #5013
Any work arounds to work this now, instead of waiting for the 0.12.0 milestone release.

[2015-10-05 12:05] FrankMeyer commented on #4834
For me the issue arrises since bower-material v0.11.2-master-71674b0
In the commit 4a16038, addressing issue #4743, the check for pagination was changed.
-    var canvasWidth = Math.min($element.prop('clientWidth'), ctrl.maxTabWidth);
+    var canvasWidth = $element.prop('clientWidth');
If you change the line back to use the minimum of clientWidth and maxTabWidth your problem will be solved.

[2015-10-05 12:38] Deadly0 commented on #5002
@paulflo150 thank you.

[2015-10-05 12:38] #5002 closed

[2015-10-05 13:18] hannesAxiell opened #5016 "md-tabs and ng-if"
Hi!
There seems to be a bug in md-tabs when using ng-if and md-selected. No matter the expression in the ng-if events aren't propagated to a watched variable (like selectedIndex)

I changed [Burlessons tabs example](http://codepen.io/anon/pen/ZbKzmJ?editors=101) to verify it:

    <md-tabs md-stretch-tabs md-selected="selectedIndex" ng-if="1==1" >

(a more realistic expression would be ng-if="tabs

[2015-10-05 13:54] SpenceDiNicolantonio opened #5018 "md-menu 'is-open' state expression attribute"
It would be great to have a reference to the state of an `md-menu` element. This could be accomplished through an `md-is-open` attribute similar to that of `md-side-nav`. It would provide something like this:

[code]

[2015-10-05 13:57] jelbourn commented on #4949
@jaymanned As a workaround, you could render a transparent element on top of the switch that intercepts clicks to do what you need.

[2015-10-05 14:10] mckenzielong commented on #5010
From what I can tell, the container element needs position (absolute or relative work here), a set height (layout-fill works here) and overflow set to auto or scroll. Good news is you can use md-content for this.  See: http://codepen.io/mckenzielong/pen/LpyYME

There are still some weird things going on with the margin, but the element is 'sticking'

[2015-10-05 14:17] vinkaga opened #5019 "Does scroll shrink toolbar need div height?"
The demo of the scroll shrink toolbar specifies the div height as follows
[code]
It doesn't seem to work at all without having the div height specified. Specifying the div height is very restrictive. Is there a way to make it work without specifying the div height?

[2015-10-05 15:12] calebegg commented on #4914
Note that the duplicate ID check triggering on SVGs should be fixed:

https://github.com/GoogleChrome/accessibility-developer-tools/issues/141

But it's possible that the Chrome store version of the extension hasn't been updated.

[2015-10-05 15:20] pmowrer opened #5020 "Inability to add custom layout breakpoints"
Prior to 0.11.0, it was relatively easy to add custom breakpoints (e.g. `xs` in our case as we're transitioning away from bootstrap) using the [sass mixins that define the defaults](https://github.com/angular/material/blob/cca1955e4133c210a172fda16fd19266ff39ce9d/src/core/style/layout.scss#L286).

As of 0.11.0, this method no longer works as [layouts became directives](https://github.com/angular/m

[2015-10-05 15:21] calebegg commented on #4977
Role combobox also [technically requires an owned element with role "textbox"](http://www.w3.org/TR/wai-aria/roles#combobox) (because a combobox normally has an editable text field at the top), though from your investigation in #3859, I think that's not really worth addressing (if NVDA and JAWS both consider the built-in `<select>` as a "combobox" even though it's not). But it does mean that the a

[2015-10-05 15:35] Varkal commented on #5019
Same issue here. Does'nt seems to work without specify a height

[2015-10-05 15:38] fjnogueira opened #5021 "md-fab-speed-dial with fab action buttons hidden, get in front of other elements on the page"
![delete_button_does_no_work_below_fab_shadow](https://cloud.githubusercontent.com/assets/9854191/10285175/8461e2b0-6b7f-11e5-9a2e-865d0db40ecf.gif)
when include a fab speed dial, it obstructs access to elements (when hidden), a possible hack might be changing the z-index of the hidden fab action buttons when hidden

[2015-10-05 15:47] SpenceDiNicolantonio opened #5022 "md-tabs not initializing properly when dynamically shown via hide/show directives"
When an `md-tabs` is initially hidden, due to a hide/show directive such as `hide-sm`, the tabs are not initialized properly upon being shown. For example, the `max-width` of all `md-tab-item` elements is set to `0`.

This issue is probably related to #2291

[2015-10-05 15:57] jaymanned commented on #4949
@jelbourn Actually I came up with a quick and dirty workaround to implement my 3 state switch combining the `ng-click` and `ng-change` events. That way I can determine if the switch has been dragged on/off or clicked on/off.

For dragging, I respect the user's intention and don't hijack the control. But when clicking on/off, I intercept the `ng-change` event and show a filter panel that allows to

[2015-10-05 16:06] topherfangio commented on #4981
@hanthomas Thanks! I'll take a look!

[2015-10-05 16:07] topherfangio commented on #5021
Duplicate of #4259. Should be closed when #4847 is merged.

[2015-10-05 16:07] #5021 closed

[2015-10-05 16:55] pipegris commented on #4910
Hi
I've been having some problems regarding md-icon directive.
I'm using https://materialdesignicons.com/ css font, statically it works, but when I bind a variable to the class name:
<md-icon md-font-icon="mdi-{{iconName}}" class="mdi"></md-icon>

it won't change the icon because the icon name gets appended to the classes, in Chome Dev Tools I could see that class appended remains even after chang

[2015-10-05 16:58] jelbourn commented on #4910
@pipegris Could you open a new issue with your problem and possible a CodePen (or similar) of what you're trying to do?

[2015-10-05 17:22] hanthomas commented on #4981
@topherfangio I made one more change to PR #5012 to address issues on IE/Edge.  Now it should work on Chrome and IE/Edge.  Also, I verified that the latest change works on Phonegap for Android, iOS, and Windows.

[2015-10-05 17:33] Deadly0 opened #5023 "md-autocomplete calls search func when selected item changed"
When you select an item from suggested (using mouse) md-autocomplete calls search function again. Do not work if select item using keyboard.
[Example](http://plnkr.co/edit/1WwobqKIkLXReCmZqbks?p=preview)

I have a problem with it using Meteor: selected item from suggested always `undefined`.

[2015-10-05 17:34] ThomasBurleson commented on #5020
Great suggestion... and interestingly engouh this feature is already in planning ;-)

[2015-10-05 17:41] ido567 commented on #2795
I'v faced a similar issue, I managed to track the active item by myself and add the _md-accent_ class to it.
But the class is not changing anything when the _md-list-item_ has ng-click attribute (because of the button wrapper).

There is a way to fix that?

[2015-10-05 17:55] pmowrer commented on #5020
Glad to hear that! Thanks for the update and keep up the great work!

[2015-10-05 18:35] topherfangio commented on #4996
I believe this is a duplicate of #4412. Please comment if you disagree and I will reopen.

[2015-10-05 18:35] #4996 closed

[2015-10-05 18:37] topherfangio commented on #4948
Duplicate of #4412. Please comment if you disagree and I will reopen.

[2015-10-05 18:37] #4948 closed

[2015-10-05 18:48] programmist commented on #4910
This is a duplicate of #4961.  Work will continue in that bug.

[2015-10-05 18:48] #4910 closed

[2015-10-05 19:52] pavelhoral opened #5025 "menuBar: menu focus is one step behind mouseenter"
If you click on the menu and move your mouse to another menu, then the focused menu is one step behind. This can be observed on the demo page as well:

![Focus out-of-sync](https://cloud.githubusercontent.com/assets/2012726/10291649/41a8e30c-6bab-11e5-948c-4ea58af89bd4.png)

The expected behavior is to have focus on menu which is opened.

[2015-10-05 20:03] pavelhoral commented on #5025
Navigating using just keyboard (*left* and *right*) arrow is also broken. Pretty sure the culprit is that the closed menu gets automatically focus.

[2015-10-05 20:03] bkarv opened #5026 "Md-datepicker display issues"
I'm getting a display issue for the md-datepicker pop-up. Half the screen goes dark grey and I get half a box. I'm using the standard demo code as follows.
<md-content>
  <h4>Standard date-picker</h4>
  <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
</md-content>

Screen shot below:

<img width="1280" alt="screen shot 2015-10-06 at 6 45 17 am" src="https://cloud.gith

[2015-10-05 20:10] pavelhoral commented on #5025
Was able to pinpoint the behavior to `$mdMenuClose` handler in https://github.com/angular/material/blob/master/src/components/menuBar/js/menuBarController.js#L46-L63 . If I comment this out, everything works... I will give it a few more minutes if I can determine what is going on there.

[2015-10-05 20:14] robertmesserle commented on #4046
@elubin Is this still an issue?  I am unable to recreate this.

[2015-10-05 20:14] #4046 closed

[2015-10-05 20:17] robertmesserle commented on #3824
@wlingke Is this still an issue?  If so, can you please create a CodePen demonstrating how to recreate?

The only instance of `el.tagName` I found was in `md-icon`

[2015-10-05 20:20] robertmesserle commented on #3824
Added a check for `el` before checking `el.tagName` - closing.  Please reply if this issue still exists.

[2015-10-05 20:20] #3824 closed

[2015-10-05 20:30] robertmesserle commented on #3843
This is resolved in 0.11.2

[2015-10-05 20:30] #3843 closed

[2015-10-05 20:35] colinskow opened #5027 "Virtual Repeat Scroller doesn't shrink when items are removed"
I start out with the vertical repeat demo with 1000 items. Then I remove the last 900 items. Now, after I scroll past 100 it repeats the last page infinitely until it reaches the bottom of the original thousand.

Demonstration: https://codepen.io/colinskow/pen/PPmNbL

[2015-10-05 20:36] colinskow commented on #5027
Related to: https://github.com/angular/material/issues/4950

[2015-10-05 20:36] pavelhoral commented on #5025
### I think I have decyphered what is going on

* The issue here is really the `focus()` called from [`$mdMenuClose` handler](https://github.com/angular/material/blob/master/src/components/menuBar/js/menuBarController.js#L58)
* Menu can be closed in a several ways and the focus solves just one of them (breaking the others):
   * hitting arrow LEFT/RIGHT key opening adjecent menu - broken right now

[2015-10-05 20:36] robertmesserle commented on #3683
this appears to be resolved

[2015-10-05 20:36] #3683 closed

[2015-10-05 20:45] pavelhoral commented on #5025
One more thing - As fixing this might take some effort **I vote for removing the *close focus* in the closest possible release** as it currently breaks more things than it solves. Please correct me if it has some deeper purpose.

[2015-10-05 21:09] pavelhoral commented on #5019
You can use combination of `layout-fill` and scrollable `md-content` - https://codepen.io/anon/pen/wKdGXB

[2015-10-05 21:13] vinkaga commented on #5019
@pavelhoral, that works! Thanks.

[2015-10-05 21:13] #5019 closed

[2015-10-05 21:18] robertmesserle commented on #4056
This appears to work fine in IE11 when tested against HEAD.

[2015-10-05 21:18] #4056 closed

[2015-10-05 21:21] robertmesserle commented on #3774
I am not seeing any issue in the CodePen demo.  Is this still an issue?

[2015-10-05 21:21] robertmesserle commented on #3774
Closing for now - please reopen if this is still an issue and provide a codepen or instructions to recreate.

[2015-10-05 21:27] robertmesserle commented on #4458
This is as designed and consistent with the way that Angular approaches animations and state.

[2015-10-05 21:36] robertmesserle commented on #4433
@ThomasBurleson This is not the ripple, but the focus indicator.  The fix would be to clear the focus, but I'm not sure we want to do that.

[2015-10-05 21:38] robertmesserle commented on #4430
This appears to be resolved

[2015-10-05 21:38] #4430 closed

[2015-10-05 21:50] metamatt commented on #3774
@robertmesserle I don't have permission to reopen but I believe this is still an issue, but codepen is doing something to mask it such that you can't repro at codepen.

If I try using AM in a real app, the `<html>` and `<body>` elements have `position: relative, height: 100%` and are pinned to the size of the browser window but if I scroll the browser window they scroll offscreen. If I try the cod

[2015-10-05 21:53] tonyawad88 commented on #4996
@topherfangio reading 4412, it's along the same lines. The current workaround is to add md-require-match="true" to the md-chips directive. Hope this helps.

[2015-10-05 21:57] chriscalo commented on #4945
On Mac OS X, clicking on push buttons or checkboxes does not steal focus from other controls. They can still be focused via the keyboard, so there's no accessibility issue.

http://sendvid.com/2gweiimg

In my humble opinion, the same is desirable on the web. This can be achieved on push buttons via `event.preventDefault()` on `mousedown`.

[2015-10-05 22:07] colinskow commented on #5027
Got it fixed and am putting together a PR.

[2015-10-05 22:10] #4368 closed

[2015-10-05 22:22] colinskow commented on #5027
`VirtualRepeatContainerController.prototype.sizeScroller_` is getting called with `NaN` which causes the buggy behavior.

[2015-10-05 22:28] kmgilbert100 commented on #5026
+1 We need offset attribute options for the date picker

[2015-10-05 22:30] kmgilbert100 opened #5028 "Datepicker Aria Label Warnings"
I get the following warning whenever I use datepickers

```ARIA: Attribute " aria-label ", required for accessibility, is missing on node: ```

Adding the aria label attr to the **<md-datepicker>** doesnt seem to do it either.

[2015-10-05 22:31] ThomasBurleson commented on #2356
@richshaw The Angualr Material v0.11.2 fixes the layout **without** your css mods:

http://plnkr.co/edit/3HpbxrcfnPlnYixwjftU?p=preview

To expedite resolution, please always test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master

[2015-10-05 22:31] #2356 closed

[2015-10-05 22:36] robertmesserle commented on #3774
@metamatt If you are seeing this in a Plunker demo, that is fine as long as I have a way of seeing this issue occurring.

[2015-10-05 22:41] frodefi opened #5029 "Feature: Time Picker"
Issue #648, requesting a date time picker, resulted in md-datepicker. I cannot see any open issue for a time picker, so I am therefore requesting it.

Preferably a clock-style like the [React's Material time picker](http://material-ui.com/#/components/time-picker), see image (except that, for 24-hour mode, it would be visually better to have the high hours in the outer ring, like this [bootstrap t

[2015-10-05 22:42] metamatt commented on #3774
Thanks. I just tried moving the dialog demo from codepen to plunker and still didn't see the behavior that was bugging me in the real app. I'll try to isolate it to a working repro in either codepen or plunker and get back to you.

[2015-10-05 22:59] robertmesserle commented on #3774
@metamatt Also, if your app is available for me to view, I could try to debug it there as well.

[2015-10-05 23:13] #4308 closed

[2015-10-05 23:20] ThomasBurleson commented on #5029
This feature is planned for implementation after the v1.0 release.

[2015-10-05 23:28] metamatt commented on #3774
OK, I couldn't repro in plunker so I dug into the code to see what was different between my app case and the plunker case even using the same version (still on 0.10.1). I think this got fixed *inside* the 0.10.1 release. Sorry to waste your time but if you have a minute maybe you could explain or link me to something about your release management practices that would help me and others reliably ob

[2015-10-05 23:38] du6 opened #5030 "A child dialog opened from a parent dialog won't close."
I tried to open a child md-dialog from a parent md-dialog by event broadcasting. But the mddialog.cancel() function does not close the child dialog.

Codepen demo:

http://codepen.io/anon/pen/VvpWXe

[2015-10-05 23:45] #4433 closed

[2015-10-05 23:51] #4367 closed

[2015-10-06 00:06] robertmesserle commented on #3774
The tagging may be a bit misleading.  Once we release 0.10.1, the official version of the code changes to 0.10.1, but each commit after that is not part of that commit.  So a tag in bower that looks like `v0.10.1-{{SHA}}` is **NOT** included in `0.10.1` and will be rolled into the next release.

[2015-10-06 00:06] #3774 closed

[2015-10-06 00:07] ThomasBurleson commented on #5030
Stacked Dialogs are not supported.

[2015-10-06 00:07] #5030 closed

[2015-10-06 00:11] RolandHeath commented on #4950
@mhchen @colinskow
The calendar months are all fixed heights, but they aren't the only thing inside the virtual-repeat. The tbody elements are repeated, but the table element is also inside the repeat, and has its own padding (affecting the overall height).

[2015-10-06 00:15] mhchen commented on #4950
Thanks @RolandHeath, but again, while it might be true that CSS padding issues might cause virtual-repeat issues, for this particular issue I'm targeting the duplicate month issue. If you can reproduce this issue without seeing a duplicate month, please let me know.

[2015-10-06 00:16] samio80 commented on #1716
+1

[2015-10-06 00:22] RolandHeath commented on #4950
Thanks - I'd misinterpreted colin's comments. I stopped seeing this with the latest chrome, whereas virtual-repeat ones persist, so that's my mistake.

[2015-10-06 01:10] du6 commented on #5030
It is not stacked dialogs. The parent dialog called mddialog.cancel() to close itself before rootScope broadcasting the event to open the child dialog. But somehow the child dialog no longer responses to mddialog service.

[2015-10-06 01:27] colinskow commented on #5027
https://github.com/angular/material/pull/5031

[2015-10-06 06:16] no-more commented on #5030
Hi,

I had the same issue. And 2 solutions for this:
 * Don't close the first dialog manually, mddialog.show will close it for you (but then you can't return a value which is an issue)
 * or use $timeout before opening the second dialog. I had to set 1000ms for this to work all the time (seems to depends on performance)

I think there's some kind on conflict in the chain process.

[2015-10-06 07:46] zishanj opened #5033 "md-list-item doesn't support more than one secondary element"
`md-list-item` doesn't support more than one secondary element. If I try to use `md-secondary` class on more than one item like for `checkbox` and `md-icon`, it will only work with first item and the secondary items are also misaligned.

[2015-10-06 08:01] #4862 closed

[2015-10-06 08:28] ThomasBurleson opened #5034 "layout features should support md-css-only directive"

[2015-10-06 08:35] #4025 closed

[2015-10-06 08:35] #4469 closed

[2015-10-06 08:35] #4618 closed

[2015-10-06 08:35] #4665 closed

[2015-10-06 08:35] #4788 closed

[2015-10-06 08:35] #4855 closed

[2015-10-06 08:35] #4906 closed

[2015-10-06 08:39] #2201 closed

[2015-10-06 08:39] #2895 closed

[2015-10-06 08:41] #4872 closed

[2015-10-06 08:52] ido567 commented on #4855
Great! When it is scheduled to be published?

[2015-10-06 08:54] #4259 closed

[2015-10-06 08:57] #2012 closed

[2015-10-06 08:57] #3029 closed

[2015-10-06 09:00] iamfrank commented on #3655
Is there a reason why Angular Material relies so heavily on pixel dimensions as opposed to relative units like em/rem/% ?

Using relative units, you wouldn't have to deal with different screen densities either.

[2015-10-06 09:03] #4763 closed

[2015-10-06 09:03] iamfrank commented on #4974
Might be able to chip in with some working hours, also. Severely need the em's on a responsive project downstream.

[2015-10-06 09:04] #4581 closed

[2015-10-06 09:06] #4569 closed

[2015-10-06 09:16] #4823 closed

[2015-10-06 09:24] #1202 closed

[2015-10-06 09:39] dohomi commented on #4259
@topherfangio great news, will it be part of 0.11.3?

[2015-10-06 12:03] ThomasBurleson commented on #5020
References https://github.com/angular/material/issues/5034

[2015-10-06 12:54] davide-quix commented on #2653
Also if you add padding or border the layout breaks!
The `box-sizing: border-box` rule seems to be missing for this class.
(http://codepen.io/anon/pen/OymjLj)

[2015-10-06 13:16] ThomasBurleson commented on #2653
To expedite resolution, please always test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-material/master/angular-material.js
  *  RAWGIT - https://rawgit.com

[2015-10-06 13:19] rtprakash commented on #4879
Thanks

[2015-10-06 13:22] ThomasBurleson commented on #2653
@pjain11 - Here is an updated, working [Plunkr:](http://plnkr.co/edit/6Zukc643TubLkAM6KC3P?p=preview). With ngMaterial v0.11.2 (or higher), you must now do include the ngMaterial module dependency:

[code]

[code]

[2015-10-06 13:25] ThomasBurleson commented on #2653
@offminded - The issue you are referring to has definitely caused some confusion.
How about this as a solution:

*  **flex="33"**  becomes **`flex: 0 0 33%`**
*  **flex="34"**  becomes **`flex: 0 0 34%`**
*  **flex="66"**  becomes **`flex: 0 0 66%`**
*  **flex="67"**  becomes **`flex: 0 0 67%`**

This will then allow developers **full** control over their choice.

[2015-10-06 14:28] tramonex-dbardaji opened #5035 "Md-datepicker CSS diferente a los demás inputs"
Hi, I was taking a look into the css and I saw that this element (MD-datapicker) is different that the others inputs and for this reason is not adapting well with the others. Also, if you want to modify it to try to have the same effects that the others inputs, you should create an extra wrapper.

All inputs:
    container { padding: 2px 2px 10px 2px}
    input {  height: 34px; padding: 2px 2px 1p

[2015-10-06 15:06] SpenceDiNicolantonio opened #5036 "Promise returned from $mdDialog.show() is resolved immediately"
According to the documentation, `$mdDialog.show()` returns "`A promise that can be resolved with $mdDialog.hide() or rejected with $mdDialog.cancel().`" Contrarily, the promise returned from `$mdDialog.show()` is being resolved immediately, without any call to `$mdDialog.cancel()` or `$mdDialog.hide()`.

[2015-10-06 15:21] ThomasBurleson commented on #5036
@topherfangio - can you investigate ?

[2015-10-06 15:33] SpenceDiNicolantonio commented on #5036
My mistake... I'm not sure what I was doing wrong previously, but everything seems to be working properly.

[2015-10-06 15:33] #5036 closed

[2015-10-06 15:34] mhchen commented on #2529
I realize after revisiting that this is essentially what @PrashantAshok said a long time ago only I don't think it's a workaround, I think it's the correct solution

[2015-10-06 16:06] bastienJS opened #5037 "ng-messages in dialog are not shown/visible"
My bower packages I use:
[code]

My ng-messges are NOT shown in the user interface when put in a md-dialog.

I know all the threads like these:
https://github.com/angular/material/issues/2820
https://github.com/angular/material/issues/4291
http://stackoverflow.com/questions/32272386/angular-ng-messages-not-showing-inside-angular-material-design-dialog-md-dialo

and there are other floating around

[2015-10-06 16:31] audiodude commented on #2242
+1

[2015-10-06 17:31] facuxt commented on #4193
For example...
 <md-chips ng-model="selectedVegetables" md-autocomplete-snap="" md-require-match="true" md-on-append="wtf($chip)">

and in controller...

    $scope.wtf = function(chip){
    	//chip.wtf = $scope.contador++;
    	var newChip = {};
    	angular.copy(chip, newChip)
    	return newChip;
    	//return chip;
    }

[2015-10-06 18:18] mike1o1 opened #5038 "md-dialog overflows on action-click with Microsoft Edge"
This is a weird bug and seems to be specific to Microsoft Edge. I am unable to duplicate it in Chrome or even IE 11.

If the contents of an `md-dialog` extend past the height of the screen, the dialog initially renders fine with the overflow. However, as soon as the user clicks on one of the buttons in the `md-actions` area, the content expands to be full height and the text and button gets cut of

[2015-10-06 19:04] ido567 opened #5039 "Circular progress animation is wrong inside dialog"
The animation of a indeterminate circular progress bar inside a dialog with custom layout is looking weird!
You can look at the codepen example:

https://codepen.io/anon/pen/jbmZgV

[2015-10-06 19:15] EladBezalel commented on #5037
@bastienJS can you please create 2 codepens with the working and not working code? It'll help me investigate it.

[2015-10-06 19:16] ThomasBurleson commented on #5039
The progressCircular indicator looks fine to me: see [Online Docs](https://material.angularjs.org/0.11.2/#/demo/material.components.progressCircular).

What is the issue?

[2015-10-06 19:18] EladBezalel commented on #5039
Hey @ThomasBurleson I can see it too on mobile. (LG G3 Chrome)

[2015-10-06 19:27] ThomasBurleson commented on #5039
@EladBezalel - assigned to you. LOL

[2015-10-06 19:35] #4041 closed

[2015-10-06 19:40] ido567 commented on #5039
Also happens on Chrome version 45.0.2454.101 m

[2015-10-06 19:49] MadMub commented on #5033
+1

[2015-10-06 19:50] hastingsw commented on #3678
How can I make the text color darker for SELECT to match all other text color ?  Thanks !
![textcolor](https://cloud.githubusercontent.com/assets/14204904/10320529/e2a455de-6c41-11e5-9955-46ca8d21c8d7.png)

[2015-10-06 19:51] ThomasBurleson commented on #5039
I am not seeing anything wrong in Chrome Canary (v48.x): http://codepen.io/ThomasBurleson/pen/xwdWRQ

![screen shot 2015-10-06 at 2 52 55 pm](https://cloud.githubusercontent.com/assets/210413/10320581/c93d8c1c-6c39-11e5-9544-b2716553beb2.png)

[2015-10-06 20:18] ido567 commented on #5039
That's what I see in my codepen:
![Image](http://i.imgur.com/LOmj97M.png)

For your's I see the following error (from mobile and chrome):
![Image](http://i.imgur.com/IfPRl0f.png)

[2015-10-06 20:20] ivan7237d commented on #4370
I figured out that this issue can be resolved by setting priority > 0 on my directive (http://codepen.io/anon/pen/OymvMy?editors=101), so I guess I should better close this issue.

[2015-10-06 20:20] #4370 closed

[2015-10-06 20:32] ThomasBurleson commented on #5039
@ido567 - notice the Console errors? Make sure you are using:

[code]

[2015-10-06 20:38] robertmesserle commented on #4322
@lscordilis Can you provide a demo for this?

Also, from the screenshot, it looks like they have the `ng-hide` class - any reason they are not being hidden?

[2015-10-06 20:59] alirezamirian opened #5040 "md-autocomplete as attribute directive makes more sense"
I think hiding a text input inside a component is not a good idea generally. **auto-completion** as a behavioral directive makes a lot more sense to me and doesn't force a lot of limitations.

First of all, when you hide a text input inside a component which itself is basically a text input (or at least is quite similar to it) with some additional feature, you will end up providing access to a lot

[2015-10-06 21:01] LeartS commented on #2829
with `readonly="true"` it leaves some space on the chip for the close icon, while with really static chips it doesn't.

[2015-10-06 21:08] robertmesserle commented on #4322
I am not able to recreate this.  Closing for now, please reopen with a CodePen demo if this issue still exists.

[2015-10-06 21:08] #4322 closed

[2015-10-06 21:11] ido567 commented on #5039
I managed to make your codepen to work, but I don't see any circular progress.
I can see dialog with auto-complete component, but that's it.

[2015-10-06 21:12] erinkidd01 commented on #4105
Do we have a timeline for when this change is expected? As of right now, I'm forcing focus to the dialog when it's opened, capturing all of the TAB keypresses, and controlling the focus manually. It's quite tedious as we have many dialogs on the page.

[2015-10-06 21:19] ThomasBurleson commented on #5039
My apologies: here is the CodePen with the dialog and circular progress indicator:  http://codepen.io/ThomasBurleson/pen/MamVvV

[2015-10-06 21:23] ido567 commented on #5039
I'm sorry, but it still not working! It looks the same as my picture above

[2015-10-06 21:31] lscordilis commented on #4322
This issue is no longer a problem for me because I query the server directly on ```md-search-text-change``` instead of loading the whole collection of items into the client. However, unless anything has changed to address this, I would imagine it still happens. I'll see if I can attach a demo, recreating the problem when I've got some spare time. Thanks anyway :)

[2015-10-06 21:42] Badisi commented on #1559
I have updated the plunker with latest angularjs #1.4.6 dependencies and angular-material #master but still the reflow is not working.
http://plnkr.co/edit/fFIFFrG7AO63CZeDT4kz?p=preview

[2015-10-06 21:45] robertmesserle commented on #4286
I am not able to recreate this with the latest code.  Closing for now - please add a CodePen demo if this is still an issue.

[2015-10-06 21:45] #4286 closed

[2015-10-06 21:46] robertmesserle commented on #4281
This appears to be resolved now.

[2015-10-06 22:10] #4065 closed

[2015-10-06 22:10] #4834 closed

[2015-10-06 22:10] #4873 closed

[2015-10-06 22:21] shyndman commented on #1559
Ah, got it. I'm putting together a pull request now.

[2015-10-06 22:31] brianppoole opened #5041 "MenuBar: Unresponsive after launching $mdDialog with shared $scope"
I might just be missing a step, but if I launch a dialog from the MenuBar it's no longer responsive after the dialog has been dismissed. This only seems to happen if I'm passing the scope to the dialog. (Line 16 in the example.)

Here's a very basic example:
https://codepen.io/brianppoole/pen/XmRYdN

1. Click on File -> Rename
2. Click either action button to dismiss the dialog
3. Try clicking Fil

[2015-10-06 22:37] ThomasBurleson commented on #5039
@topherfangio - can you help investigate this issue? I am unable reproduce any problem.

[2015-10-06 22:49] Wsiegenthaler commented on #3103
+1

[2015-10-06 22:56] shyndman commented on #1559
There you go. Should be in soon.

[2015-10-06 23:05] FabVillegas commented on #4957
Fixed it.
![image](https://cloud.githubusercontent.com/assets/7811470/10324586/6b1b8b4a-6c50-11e5-9169-ad192a38b886.png)

The problem is adding the md-tab with its own scroll, I guess having that messes up with the place where the datepicker opens.

Fixing the md-tab by adding the attribute md-dynamic-height

[2015-10-06 23:05] #4957 closed

[2015-10-06 23:05] #1559 closed

[2015-10-06 23:11] marcysutton commented on #5028
Can you provide more information, including a Codepen or Plunker demo? There are no warnings on the demos. Also, which version of Angular Material?

[2015-10-06 23:13] marcysutton commented on #5007
Yes, tooltips have keyboard support for certain elements, like buttons. I am saying it seems redundant and misaligned with the spec to use a tooltip on a text input. The convention is to use labels and placeholders to communicate the purpose of inputs.

[2015-10-06 23:14] marcysutton commented on #5007
Also the word "label" in that text is referring to the tooltip, not a form `<label>`.

[2015-10-06 23:22] #4120 closed

[2015-10-06 23:23] robertmesserle commented on #4119
@schmkr Can you please provide a CodePen demo if this is still an issue?  Closing for now.

[2015-10-06 23:23] #4119 closed

[2015-10-06 23:28] #4082 closed

[2015-10-06 23:28] robertmesserle commented on #4082
@nkoterba This is a documentation error - this should have been `md-no-ink-bar`

[2015-10-06 23:37] ThomasBurleson commented on #4082
@here :+1:  Nice catch

[2015-10-06 23:38] robertmesserle commented on #3885
Closing for now - please respond with a CodePen demo if this issue still exists.

[2015-10-06 23:38] #3885 closed

[2015-10-06 23:45] dpatinor opened #5043 "md-datepicker readonly"
You can restrict the entry of the date manually?,  You can use 'readonly'?

... md-min-date="minDate" md-max-date="maxDate" readonly="readonly"></md-datepicker>

For me this is not working.

[2015-10-06 23:52] robertmesserle commented on #3854
This appears to be resolved - closing.

[2015-10-06 23:52] #3854 closed

[2015-10-07 00:07] cardimajs commented on #35
+1

[2015-10-07 02:31] dmackerman commented on #4975
What?

[2015-10-07 03:12] maddy2308 commented on #4975
If you use md-datepicker and start typing alphabets or special characters it will allow us to enter as against the native <input type="date">

[2015-10-07 03:13] maxtorzito commented on #35
+1
El oct. 6, 2015 19:08, "cardimajs" <notifications@github.com> escribió:

[2015-10-07 04:19] mattiLeBlanc opened #5044 "using [flex] attribute results in class="flex-flex" which doesn't exist"
Hi,

I noticed my layout went awry after updating to AM 0.11.2

The problem as I see it is that
[code]
turns into
[code]
This `flex-flex` class doesn't exist and should be `flex'.

Am I correct to suggest that this is a pretty big bug?

To fix my layout I have to manually add `class="flex"` to each element to make sure it has the `flex' class

update: I do use Jade however, which compiles to `flex

[2015-10-07 04:21] mattiLeBlanc commented on #4994
probably related: Flex turns into `class="flex-flex`

https://github.com/angular/material/issues/5044

[2015-10-07 04:57] zishanj opened #5046 "Icon Button in Dialog box never remove focus after click"
I am using `md-icon` button inside `md-dialog` box. After I click the icon button the dark ripple around the button doesn't remove unless I click somewhere else to lose the focus. Is there any workaround to this?

[2015-10-07 05:06] Alesha25 opened #5047 "md-chips with autocomplete and mdRequireMatch: pressing enter adds the value twice"
Hey, I am using 0.11.1 (checked on 0.11.2 as well ) version of angular material.

I want to use both the auto complete values and a free text (mdRequireMatch = true), once a type the first letter and pick some option from auto complete (pressing 'Enter') two new chips are added

https://codepen.io/anon/pen/ojWPOw

Type 'ca', see the auto complete opened and pick 'Carrot' (by pressing Enter), two n

[2015-10-07 05:14] mattiLeBlanc commented on #5014
probably related: Flex turns into `class="flex-flex"`

https://github.com/angular/material/issues/5044

[2015-10-07 05:20] zishanj commented on #5046
I have further checked it and it seems like the dark circle surrounding the icon is appearing outside the dialog box also. It remains there until I lose the focus to the icon button.

[2015-10-07 06:38] colinskow commented on #5035
+1 see also https://github.com/angular/material/issues/4955

[2015-10-07 07:53] bastienJS commented on #5037
Yes I will do in appr. 10 hours when I am at home in the evening. I anyway thought I should do that, but was too lazy for now..

[2015-10-07 08:41] yodiyo commented on #1837
+1

Yes, I need this! I want the model to update so I can work with the selected option in the controller.

[2015-10-07 08:44] tinusn commented on #4999
+1

[2015-10-07 09:55] emps opened #5048 "md-stretch-tabs="always""
md-stretch-tabs="always" stoped working with latest master

[2015-10-07 10:07] tjwoon commented on #4986
Same problem here. The demo is from [Angular Material documentation](https://material.angularjs.org/0.11.2/#/demo/material.components.datepicker)

The line under the date turns red, but no textual messages.

[2015-10-07 10:13] pl-j commented on #4603
+1 ; although my problem is not exactly the same, it seems linked.
If there is a scroll on the page, clicking on a select will mess the page layout (in my case, it overrides the width set on the body, which in turn stretches everything).

My apologies if by mistake this is a different issue entirely.

[2015-10-07 10:15] Raidri commented on #4979
Here a Demo:
http://codepen.io/Raidri/pen/BoWXxq

[2015-10-07 11:28] tinusn commented on #4892
You can fix the transparent text by adding the following to your styles:
[code]

[2015-10-07 11:45] ThomasBurleson commented on #5044
`flex="flex"` is valid ?
*  Where is this defined as a standard?
*  What style values does this equate to ?

Here are the accepted ngMaterial Flex options:  https://gist.github.com/ThomasBurleson/88152ec57c9133dec57a

[2015-10-07 11:48] jeroenvheel commented on #5048
have the same problem.

[2015-10-07 12:28] ramanathan92 commented on #4075
No it is not resolved in latest code also.Still am facing this problem,after upgrading to 0.11.2

[2015-10-07 13:10] nestorneto commented on #5040
you got a point.

[2015-10-07 14:00] elubin commented on #4046
@robertmesserle focus seems better, however, if you click 'launch' button, pick 'apple', then click 'pick something' to open the drop again, then TAB, the open list stays open.  you can then click anywhere on the screen and the list never goes away.  ( i *think* because i didn't move the mouse over the list, i just clicked 'pick something' and then tab key.

[2015-10-07 14:01] elubin commented on #4046
@robertmesserle is this is master so i can try it against my full project?

[2015-10-07 14:03] JaggyGT commented on #5010
So it's a documentation issue then?  Is there a way to tag this issue to indicate there should be a doc change?

[2015-10-07 14:04] antoinebrault opened #5049 "md-datepicker should support ng-focus"
Haven't tested all other components, but md-datepicker seems to not support ng-focus.
There should be a way to execute code on focus just like any regular inputs.

[2015-10-07 14:04] cicw opened #5050 "Need the ability to keep the searched term at the search box after do the search (google behaviour)"
I have my md-autocomplete set as follow:

- model: md-search-text="searchText"
- items: md-items="item in performQuery(searchText)"
- search (trigger): md-min-length="2"

Problem: when I select an item from the itens collection if I don´t clear the searchText model the window of itens collection pops again after the selection
but i need to keep the searched text there like google does with out thi

[2015-10-07 15:38] btford opened #5051 "Documentation markdown headers not properly rendered"
See: https://material.angularjs.org/0.11.2/#/api/material.components.autocomplete/directive/mdAutocomplete

<img width="367" alt="screen shot 2015-10-07 at 8 37 32 am" src="https://cloud.githubusercontent.com/assets/474988/10342622/c5de776c-6cce-11e5-8509-ae38712ceaa2.png">

I would not expect to see the `###`, but instead a level 3 header.

[2015-10-07 15:53] clshortfuse commented on #4458
@robertmesserle  I know you closed the issue, but maybe there should be a callback for when the animation completes?

    angular.element(elements.inkBar).css({ left: left + 'px', right: right + 'px' });

Using a timer as a workaround would be unreliable on slow machines (like tablets and phones). I've read that .animate() does have callback support.

If there's some reason why you'd rather use .c

[2015-10-07 15:56] topherfangio commented on #5051
If I recall correctly; all that is needed to fix this is putting a space between the hash tags and the text. I'll see if I can do this next time I'm in that file. Thanks!

[2015-10-07 16:16] goncaloneves opened #5052 "md-menu vertical padding inside md-toolbar"
md-menu component should have similar behavior as md-button inside md-toolbar.

Currently is setting vertical padding and messes vertical alignment on resolutions under 600px:
https://github.com/angular/material/blob/master/src/components/menu/menu.scss#L118

[code]
![md-menu-padding](https://cloud.githubusercontent.com/assets/6536945/10343671/d9ed795e-6d16-11e5-87a7-3bd1815a6e83.jpg)

[2015-10-07 16:48] topherfangio commented on #4075
@ramanathan92 Can you try against 0.11.2 or master? We've made some additional updates to the autocomplete recently.

[2015-10-07 16:51] EladBezalel commented on #3808
What's your browser, version and os.
Couldn't reproduce on Chrome, Version 45.0.2454.101 m, Windows 10

[2015-10-07 16:58] topherfangio commented on #4979
Awesome, thanks for the demo!

[2015-10-07 17:03] topherfangio commented on #4603
Whenever possible, please provide a CodePen Demo. To expedite resolution, please always test with the latest versions:

*  Angular Material HEAD
 *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
 *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
 *  RAWGIT - https://rawgit.com/angular/bower-material/master/angu

[2015-10-07 17:03] #4603 closed

[2015-10-07 17:06] topherfangio commented on #5047
Duplicate of #4412. Please search before adding a new issue. If you believe this is different, please comment and I will reopen.

[2015-10-07 17:06] #5047 closed

[2015-10-07 17:21] topherfangio commented on #4855
@ido567 It is available in master right now. Can you take a look and make sure it works for you? I updated the [first autocomplete demo](https://material.angularjs.org/HEAD/#/demo/material.components.autocomplete) to show an example usage. Just type a non-state in the box to see the `md-not-found` message and click the "Create a new one!" link.

[2015-10-07 17:29] topherfangio commented on #4678
This should be fixed in master. Can you please let us know if you are still experiencing the issue, and if so, provide a Codepen demonstrating the problem? If so, I will reopen.

Also, regarding the position of the suggestions list, can you please open a separate issue so that we can mark it as a feature request?

[2015-10-07 17:29] #4678 closed

[2015-10-07 17:37] AntonKL commented on #4921
I understand that this is a closed issue and that it might be undiscussable, but I just have to ask if you are aware of any way to make the theming dynamic, even if it's not official.

[2015-10-07 17:38] topherfangio commented on #4673
I just updated your fiddle to use master, and this unfortunately still looks to be an issue. We will investigate.

[2015-10-07 17:56] mrfaizanhaider opened #5053 "Can we use?"
can we use just single component of ng-md like chips on another project??

[2015-10-07 17:59] robertmesserle commented on #4075
@ramanathan92 Can you provide a CodePen demonstrating the issue?  I have been unable to reproduce.

[2015-10-07 18:03] robertmesserle commented on #4458
@clshortfuse As far as I know, we can't use `.promise()` because that isn't supported by jqLite and we can't assume that all users have included jQuery; however, I'm going to reopen this issue for `post-1.0`

[2015-10-07 18:16] Mathem8tic commented on #4896
http://codepen.io/Mathem8tic/pen/JYNQBV

I am also having issues using v 0.11.2, it seems to happen when `<md-tab ... md-no-pagination>` is used.

Are tabs not intended for use within the `<md-sidenav>`

[2015-10-07 18:35] bastienJS commented on #5037
Wow nearly punctually in my free time :p

NOT Working sample: http://plnkr.co/edit/B0xuv5pJyebju0SBb9gY

The working sample is W.I.P !

[2015-10-07 18:37] #5048 closed

[2015-10-07 18:42] bastienJS commented on #5037
haha... I had TWO form tags inside my html that seemed to break the validation.

Working sample fixed without 2 form-tags:

http://plnkr.co/edit/B0xuv5pJyebju0SBb9gY?p=preview

If plunker would not have shown me the red alert icons in the editor that there is something wrong - why ever plunker can detect that... - I saw there is something wrong...

Bug fixed I am happy :-)

[2015-10-07 18:42] ThomasBurleson commented on #5053
https://github.com/angular/bower-material/tree/master/modules/js/chips

[2015-10-07 18:42] bastienJS commented on #5037
Developer issue...

[2015-10-07 18:42] #5037 closed

[2015-10-07 18:52] bastienJS commented on #4986
With ng-messages inside a dialog:

http://plnkr.co/edit/B0xuv5pJyebju0SBb9gY?p=preview

Required message is shown with 0.11.2 in chrome!

[2015-10-07 18:54] EladBezalel commented on #3081
Working with latest [Codepen](https://codepen.io/EladBezalel/pen/VvbopK)

[2015-10-07 18:54] #3081 closed

[2015-10-07 18:55] bastienJS opened #5055 "md-datepicker only shows initial date when I click into the date input field"
sample repro: http://plnkr.co/edit/B0xuv5pJyebju0SBb9gY?p=preview

the sample shows a start and end date for current date. But those dates are only then visible in the datepickers if I click into the input field of the datepicker.

Bug1:
This seems to be only a problem with CHROME. I use Version 45.0.2454.101 m.

In Firefox latest the init display of the dates are fine.

Bug2:
There is still anoth

[2015-10-07 18:55] EladBezalel commented on #5037
Great :)

[2015-10-07 19:03] clshortfuse commented on #4458
@robertmesserle Yeah, I realized that it's jQuery later. I got something working here using angular:

https://github.com/clshortfuse/material/blob/patch-10/src/components/tabs/js/tabsController.js

It's a bit of a hack. I'm going to look into perfecting it, but it's a start.

[2015-10-07 19:05] #4248 closed

[2015-10-07 19:09] randallmeeker commented on #4986
I just did your plnkr and got no messages shown and can not trigger the required validation. If I click in and set the date and erase it and click out, no required validation triggers. I can get an invalid validation, but still no message

Chrome 45.0.2454.101

<img width="281" alt="screen shot 2015-10-07 at 2 07 36 pm" src="https://cloud.githubusercontent.com/assets/2538537/10348118/e87f99b2-6cfc

[2015-10-07 19:17] mrfaizanhaider commented on #5053
yes or not?

[2015-10-07 19:23] jsr6720 commented on #4946
Pull request should be posted by EOW pending internal review @Paychex

[2015-10-07 19:39] lscordilis commented on #4176
+1

[2015-10-07 19:47] justingrayston commented on #3111
Does this really need a plunker/codepen? It happens on the demo site (currently 0.11.2).

[Here](https://codepen.io/justingrayston/details/RWVXvj/) is the codepen from the md-toolbar demo itself. I can replicate in the code pen, but it is easier to do using the Chrome emulator.
Select Nexus 5, load the toolbar demo, scroll down in the basic tool bar, notice the pink stops short.

![screen shot 201

[2015-10-07 20:02] MadMub commented on #2492
+1

[2015-10-07 20:16] hastingsw opened #5056 "md-select text color"
I can't seem to overwrite md-select placeholder text color to a darker shade.  I want all the text to look the same color on a form.  I know once user selects an item, it will be darker. Thank you !
Our custom css is listed after angular-material.css
md-input-container.md-default-theme label,
 md-input-container.md-default-theme .md-placeholder{
    color:#515151 !important;
}

![textcolor](https:

[2015-10-07 20:39] #5051 closed

[2015-10-07 20:42] robertmesserle commented on #4307
@alarrosa14 @bitencode @jvmccarthy Is this still occurring with the latest code from master?

[2015-10-07 20:45] robertmesserle commented on #4220
This appears to be fixed.  Closing for now.  Please reopen if this issue still exists.

[2015-10-07 20:45] #4220 closed

[2015-10-07 20:47] #4011 closed

[2015-10-07 20:51] topherfangio commented on #4329
According to the spec (http://www.google.com/design/spec/components/buttons.html#buttons-toggle-buttons), icon buttons do not have a hover effect, only a focus/click effect.

You have made this an icon button by adding `class="md-icon-button"`.

Closing for now, please comment if you feel like we should re-open.

[2015-10-07 20:51] #4329 closed

[2015-10-07 20:53] #3743 closed

[2015-10-07 20:54] robertmesserle commented on #3569
This seems to be fixed.  Closing.

[2015-10-07 20:54] #3569 closed

[2015-10-07 20:56] #3508 closed

[2015-10-07 20:57] #2914 closed

[2015-10-07 20:57] robertmesserle commented on #3412
@gio82 @jurgenramirez Is this still an issue?  If so, please reply with a codepen demo.  Closing for now.

[2015-10-07 20:57] #3412 closed

[2015-10-07 21:00] SpenceDiNicolantonio commented on #4898
+1

[2015-10-07 21:41] spektor56 commented on #5039
The animation is not smooth and skips around for me on Chrome: Version 45.0.2454.101 m.  On the angular material demo site it does a little hiccup after every rotation.

[2015-10-07 22:02] #3879 closed

[2015-10-07 22:38] trimox commented on #5005
I'm hoping someone can look into this as well. We had issues posting the cloned md-select form values using a regular form post. I ended up adding hidden elements that updated with select value and posting those.

[2015-10-07 22:41] ThomasBurleson commented on #3081
@EladBezalel - what did you change to get this to work ?

[2015-10-07 22:43] ThomasBurleson commented on #5053
This is not supported yet; as you will need JS code from `material.core`.

[2015-10-07 22:45] ThomasBurleson commented on #5053
We

[2015-10-07 22:45] #5053 closed

[2015-10-07 23:28] mattiLeBlanc commented on #5044
I see what you mean. Apparently the Meteor JADE package converts it from `<div flex/ >` to `<div flex="flex">`.
However, before the upgrade where I was using:
angular:angular@1.4.3
angular:angular-animate@1.4.3
angular:angular-aria@1.4.3
angular:angular-material@0.10.1
angular:angular-messages@1.4.3
angular:angular-sanitize@1.4.3
angularui:angular-ui-router@0.2.15

this flex=flex didn't cause an i

[2015-10-07 23:28] EladBezalel commented on #3081
Nothing.. It's 4 months old so maybe we fixed it already

[2015-10-08 00:13] ThomasBurleson commented on #5044
We will update Layouts to safeguard against `flex="flex"`

[2015-10-08 00:15] tjwoon commented on #4986
@bastienJS I got red line but no message on Android Chrome Beta. Screenshot:

[2015-10-08 00:18] ThomasBurleson commented on #4674
Fixed.

[2015-10-08 00:18] #4674 closed

[2015-10-08 00:18] ThomasBurleson commented on #4775
Fixed.

[2015-10-08 00:18] #4775 closed

[2015-10-08 00:19] ThomasBurleson commented on #4355
Fixed with `hasOwnProperty( )`

[2015-10-08 00:19] #4355 closed

[2015-10-08 00:22] mattiLeBlanc commented on #5044
awesome. And I will look into fixing the Jade package so that it doesn't create `flex="flex"` necessarily.
Great work.

[2015-10-08 01:13] iamryandrake commented on #1311
I'm getting the same issue as QuantumInformation above. Any other comments?

[2015-10-08 01:21] chamarts opened #5059 "md-tooltip doesn't wrap the text in IE"
the text doesn't get wrapped in IE while using md-tooltip. it works fine in chrome though. does anyone know a work around ?

thx

[2015-10-08 01:40] giriprashaad opened #5060 "md-input-container input ng-focus ng-blur fires when page load"
`<md-input-container>
<input type="date" ng-focus="focus()" ng-blur="blur()" >
</md-input-container>`

When page loads, ng-focus and ng-blur fire. Is there something i'm not doing correctly?

[2015-10-08 01:46] BurovAndrii opened #5061 "mdMaxlength does not watch for ngModel Change"
max length counter is not updated if ngModel value is changed.
It looks like it can be fixed if add watcher for ngModel attribute

[2015-10-08 03:39] RolandHeath commented on #5040
+1
This would also mean that something like md-chips could avoid css interactions with autocomplete, hopefully. I think there's an issue for that problem already, but this would solve it.

[2015-10-08 03:53] nestorneto commented on #5040
input datepicker too

[2015-10-08 04:28] TonyHuynh68 opened #5062 "Toast Message can not show multiple"
I have more error message in server and I put these in mdToast but it can not show all it and make freeze screen.

[2015-10-08 06:03] jvmccarthy commented on #4307
@robertmesserle We refactored the dialog that was giving us problems with autocomplete to not use tabs.  I also played around with trying to reproduce this in a CodePen.  I could get the browser to use autocomplete on the form but couldn't repro the issue.  If I see it again, I'll try it with the latest.  Thanks.

[2015-10-08 06:24] ramanathan92 commented on #4075
sure am working on it.I will provide you that.

[2015-10-08 06:32] olsynt opened #5063 "md-autocomplete padding of the input with rtl language"
![screenshot 2015-10-08 at 9 30 23 am](https://cloud.githubusercontent.com/assets/5204806/10359236/58ab9c52-6d9f-11e5-9ea2-0674266eb346.png)

How to fix that problem ?

[2015-10-08 07:09] olsynt commented on #4084
Any progress ?

[2015-10-08 07:59] sebastianhenneberg commented on #3981
+1

[2015-10-08 08:02] matitalatina commented on #4896
Maybe you already know it, but this is my ugly-as-hell workaround to fix tabs inside sidenav:
[code]

[2015-10-08 08:42] hulyav commented on #3895
+ 1
the fix date?

[2015-10-08 08:42] hulyav commented on #3895
+1
What is the fix date?

[2015-10-08 08:43] hulyav commented on #3895
+1
What is the expected fix date?

[2015-10-08 08:43] a8775 opened #5064 "feat(scroll-bar): customize scrollbar UX per Material Design specifications"
Hi,

It could be by design but I think it's not perfect solution. On desktop the md-select has scrollbar but not on the mobile. This is inconsistent. On the mobile it's not obvious if the component is scrollable or not. Please take a look on the same component on desktop and on the mobile - chrome browser and the latest(head) release.
I like very much ngmaterial, I'm looking forward for 0.12 and o

[2015-10-08 08:58] pl-j commented on #4603
Thanks for replying @topherfangio . Using the latest versions of Angular+Angular Material does not change a thing. But, writing a pen was definitely worth it, since I found a workaround.

Here's the pen : http://codepen.io/anon/pen/NGgxbY

On my (sort of low) resolution, there is a scroll on the display panel. Clicking the select while there is a scroll on stretches the body. If you remove some of

[2015-10-08 09:31] mjhasbach commented on #2561
+1

[2015-10-08 09:52] ThomasBurleson commented on #4084
These feature will be improved in **post-1.0** milestones

[2015-10-08 09:53] ThomasBurleson commented on #5062
Whenever possible, provide a CodePen demo.
To expedite resolution, please always test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-material/master/angular-m

[2015-10-08 09:53] #5062 closed

[2015-10-08 09:55] ThomasBurleson commented on #1311
@QuantumInformation

Please provide a CodePen or Plunkr that demonstrates this issue. Here are some starter demo templates that you can use/fork:

*  CodePen template: http://codepen.io/ThomasBurleson/pen/zvorxN
*  Plunkr template: http://plnkr.co/edit/yP0gB9iTacIQb48thud8?p=preview.

[2015-10-08 10:03] EladBezalel commented on #5064
Actually I think we should provide a better scrollbar that fits the spec or the material design way..

[2015-10-08 10:23] ddennis commented on #4896
+1 - thanks for the "ugly-as-hell workaround" , it works

[2015-10-08 11:14] moonfury commented on #5040
+1 for this, md-autocomplete or md-typeahead would feel more natural as an attribute to a regular input, e.g. <input type="text" md-autocomplete="[...]">. I got stuck with this issue when tried to do an autocomplete input with a label and an icon, which seems impossible so far without over9000 lines of extra styling code. +1 as well for styling datepicker as a regular input.

And one more thing: a

[2015-10-08 11:55] #3186 closed

[2015-10-08 11:55] #3784 closed

[2015-10-08 12:00] #4950 closed

[2015-10-08 12:00] #5027 closed

[2015-10-08 12:04] jesperzach commented on #3576
Still not fixed. Shows no animation nor backdrop.
[code]
Again, works fine without ui-router.

[2015-10-08 12:04] #4094 closed

[2015-10-08 12:04] #4150 closed

[2015-10-08 12:06] #3873 closed

[2015-10-08 12:10] HendrikWansing opened #5065 "md-fab-speed-dial close with outside click in firefox not working"
If you click on another DOM-Element than md-fab-speed-dial it closes the speed-dial in chrome but not in Firefox. I assume it should close the speed-dial in Firefox, too. This bug is reproducible in your demo.

If you click into an input field with open speed-dial, it prevents typing spaces.
fabSpeedDial/fabController.js line 230:
case $mdConstant.KEY_CODE.SPACE: event.preventDefault(); return fal

[2015-10-08 12:54] grovina commented on #5041
+1

[2015-10-08 13:46] ThomasBurleson commented on #3576
@jesperzach - please do **not** comment on closed issue. Open a new issue or post to the Forum.

[2015-10-08 14:01] #4946 closed

[2015-10-08 14:23] L3V147H4N opened #5066 "$mdDialog: Passing a promise to locals also waits for the promise to resolve"
When passing a deferred.promise inside the locals Object the dialog doesn't open until the deferred is resolved and to my understanding of the API, that is the job of the resolve property.

[2015-10-08 14:27] epelc commented on #2391
+1

I've tested that this happens with angular-material `0.10.1` and `0.11.2`

[2015-10-08 15:05] topherfangio commented on #4095
@dmackerman PR #4958 has been merged, can you please test again?

[2015-10-08 15:10] topherfangio commented on #4358
As of PR #4958, the behavior has changed slightly.

@spoco2 The list no longer appears if you do not provide the `md-not-found` template (or if you provide an empty one). Can you retest against master and see if it works as expected?

@zzo I think your use-case is slightly different, but supposing `.` returns no search results, and you do not provide the `md-not-found` template, I think it now sup

[2015-10-08 15:17] topherfangio commented on #4469
@hannupekka Your codepen example unfortunately uses a bad link to our CDN which always loads master. I have updated your codepen to use v0.10.1 (http://codepen.io/topherfangio/pen/MaoJpE) and can clearly see the error.

However, I then updated your codepen to use Angular 1.4.7 and the master branch of material (http://codepen.io/topherfangio/pen/yYXgXo) and I think it works like you would expect.

[2015-10-08 15:23] topherfangio commented on #4503
This was partially fixed by PR #4958 which is now available in master. The codepen above actually shows the correct behavior because it is unfortunately using some bad CDN links which always point to master (this has been corrected for new codepens, but we haven't retroactively fixed old codepens).

I believe the only issue now is that the padding is incorrect which is already listed in #4988.

Cl

[2015-10-08 15:23] #4503 closed

[2015-10-08 15:33] anrose opened #5067 "md-autocomplete has problems with mouse action"
If the object you're querying does not exist, and you click the next field in the form instead of tabbing, the field's value is not retained.

[2015-10-08 15:40] topherfangio commented on #4518
I think this would require some new `md-chips` attributes for what mode of operation it should use, and I think we should put some thought into that if we go that route.

In the meantime, could you dynamically set the `md-min-length` to `0` if there are no selected chips, and `1` if there are? This would force users to type into the input to bring up the list. I guess you could also watch for clic

[2015-10-08 15:43] topherfangio commented on #5050
I believe this was a bug fixed in PR #4958. Can you please test against master and see if you still experience the issue?

If so, please provide a Codepen demonstrating the issue and I will reopen. Here are some links to get you started:

* HEAD Demos
  * https://material.angularjs.org/HEAD/#/demo/material.components.autocomplete
*  Angular Material HEAD
 *  Bower Install - https://github.com/angu

[2015-10-08 15:43] #5050 closed

[2015-10-08 15:48] orangesoup opened #5068 "virtualRepeat: with layout-wrap"
I have an `<md-content layout="row" layout-wrap>` which contains many `<md-card>` elements with fixed width and height. On the initial page load I load X number of them. This is all fine. What I would like to do is on scroll (infinite scroll) load more card data and display them. Is this possible with virtual-repeat now and if so, how? If not, how could I achieve the same effect without virtual-re

[2015-10-08 15:55] nathantn opened #5069 "Safari's "Elastic scroll" effect breaks md-toolbar with md-scroll-shrink"
angular-material 0.11.2

[2015-10-08 16:00] subeebot opened #5070 "Dialogs should be re-usable"
Our app needs to re-open previously hidden dialogs with preserved scroll position, active tab, etc. The current show/hide methods are somewhat misleading since it seems that hide is basically destroy. Is this feature going to be supported at some point? Does anyone know of a way/work-around to do this now?

[2015-10-08 16:44] nathantn commented on #5070
My solution for this issue
https://codepen.io/anon/pen/xwrqpG?editors=101

[2015-10-08 16:46] topherfangio commented on #4193
@facuxt We have an outstanding PR (#4479) to automatically disallow identical chips.

Do you have a use-case for identical chips? Could you easily add an `id` field or something to make them unique?

[2015-10-08 16:56] topherfangio commented on #3921
@chr22 Scratch my last comment; I think your issue is actually a duplicate of #4412.

Closing this due to duplicates.

[2015-10-08 16:56] #3921 closed

[2015-10-08 17:54] #3808 closed

[2015-10-08 18:04] GustavoCostaW opened #5071 "How I check $mdDialog is Open?"
I checked the documentation, but not found any property :(

https://material.angularjs.org/0.11.2/#/api/material.components.dialog/service/$mdDialog

$mdSidenav(componentId).isOpen(); exist and $mdDialog not?

[2015-10-08 18:31] rschmukler commented on #5041
See [this pen](https://codepen.io/anon/pen/BoZRqg) for an example of it working. The trick is passing in `preserveScope: true` to the `$mdDialog.show` so that the scope isn't destroyed when the dialog is closed.

[2015-10-08 18:31] #5041 closed

[2015-10-08 18:56] anteksiler opened #5072 "Checkbox ng-change issue"
Using this code:
[code]
The function is called with everychange, however, it returns the model that is before the action.
Lets say there are 2 checkboxes, both unchecked. If you check one of them, the model returns null, but if you uncheck it, it returns the checked value.

[2015-10-08 19:06] osuritz opened #5073 "md-checkbox breaks with multiple column"
`md-checkbox` broken when used with a container that use `(-webkit-)column-count`.

Artifacts in Chrome:
- All checkboxes after the one being clicked flicker
- Background correctly changes on the checkbox but the check mark is actually missing

Demo at: https://codepen.io/anon/pen/qOjjdy

[2015-10-08 19:27] facuxt commented on #4193
Hello topherfangio. im doing a mathematical formula builder... i show you here some screenshots... maybe i can add a unique id or something in order to avoid that new feature... but... i think that a more apropiate approach to this should be to leave a configuration-thingy like md-allow-repeated to solve this issue for all of us.
![screen](https://cloud.githubusercontent.com/assets/7550822/1037732

[2015-10-08 19:42] randallmeeker commented on #4986
I went back and tested the demo site and updated the title of this question accordingly. On the demo site required DOES show, however invalid / min / max do not show.

[2015-10-08 19:57] ThomasBurleson commented on #5041
@rschmukler  - we definitely need to document the above regarding the dependency on `preserveScope` for shared scopes.

[2015-10-08 20:02] rschmukler commented on #4923
@marcysutton this is because we are using the `ng-mouseenter` event on that menu, which does not fire on enter / space. This is potentially a confusing first demo, but unless we wan't to overload the `ng-mouseenter` directive I think this is behaving as intended? Let me know your thoughts

[2015-10-08 21:18] datnordstrom commented on #4896
1+

[2015-10-08 21:25] colinskow commented on #4950
@ThomasBurleson this is not fixed yet. @mhchen 's PR needs to be merged to close this.
https://github.com/mhchen/material/commit/12b1c108dfe9a304895ed5d60a2234ee26263e32

[2015-10-08 22:40] #5025 closed

[2015-10-08 23:16] lrondanini opened #5076 "Problem with flex's value from variable"
Hi all,

When setting the flex value from a variable:

[code]

The resulting HTML is (assuming pane.flex=50):

[code]

As you can see the "flex" class is the problem. Things get even more strange if there is an ng-repeat:

[code]

the resulting html is

[code]

It's really not a big problem but I figured you may want to know.

Thanks

[2015-10-08 23:35] stavro commented on #2492
+1 Does anyone have a usable workaround for now?

[2015-10-08 23:38] zzo commented on #2492
I don't have anything good unfortunately - on blur from the input field I check the value in the field - if it's not an 'allowed' value I make the input box empty.  Since the field is marked as 'required' the normal form error handling now kicks in and displays the error that the field is required

[2015-10-09 01:57] spoco2 commented on #4358
@topherfangio Seems to work, yes :D Excellent.. looks like things are a little different in the way things fit into the page, but that's cool.

Thank you. I look forward to it appearing in the next bower version :)

[2015-10-09 05:56] gpopovic commented on #5015
+1

[2015-10-09 07:47] lrondanini commented on #5076
Thanks Thomas,

if possible,can you report here what the problem was? I'm having a similar problem with angular where a function seems to be evaluated twice.

[2015-10-09 08:07] hulyav commented on #2242
+1

[2015-10-09 08:29] PeWu commented on #4371
A workaround is using $timeout to set the value in a separate digest cycle.
In the above CodePen, replace `$scope.value = 10;` with
`$timeout(function() { $scope.value = 10;  });`

[2015-10-09 11:02] romanchak commented on #5071
$mdDialog should return the promise which should be resolved in case if dialog is closed.
var myDialog = $mdDialog.show(...).then(function(result) {
  return result;
}, function() {
  return false;
});

$timeout(function() {
  if(!myDialog.$$state.status) {
   console.log("Dialog is still active");
  }
}, 5000);

[2015-10-09 12:04] HendrikWansing opened #5078 "fab-speed-dial, fab-toolbar: react slowly on click"
Hi,

we use md-fab-speed-dial and md-fab-toolbar in combination with a single trigger.
All directives have the same variable as attribute in md-open.

On Desktop-Browser the performace is okay but on iPhone6+ it feels very slow. Like 500ms till animation starts.

Code Snippet:
<md-fab-speed-dial md-open="switch"
                   md-direction="up"
                   class="md-fab-bottom-right md-

[2015-10-09 12:06] maxime-menard commented on #2492
+1

[2015-10-09 12:30] myagoo opened #5079 "md-no-bar does nothing on md-tabs"
From what I understood from the sources, md-no-bar directive should hide the ink bar from md-tabs... But it does'nt (v0.11.1 and before).

I'm using the npm build of angular-material. There seems to be only one occurence of the "mdNoBar" string in the required file and it is :
[code]

[2015-10-09 13:04] miclaus commented on #1833
+1

Having the same issue, when setting `md-ink-ripple` on `md-list-item`, the parent element `md-list` adopts the same ripple setting.

[2015-10-09 13:38] HaySayCheese opened #5080 "md-datepicker crashes Safari on iOS v7.1"
Angular Material version - 0.11.0
Device - iPhone 5s

[2015-10-09 14:39] epelc opened #5081 "md-menu: Divider hidden if menu has several elements or a scrollbar"
All `md-menu-divider`s become hidden if there are to many elements or a scrollbar is shown.

See this demo

https://codepen.io/anon/pen/NGgBYb

This shows up in the latest head(see demo) and I also tested it locally in 0.11.2(I believe this is an old bug because I don't remember the divider showing up in 0.10.1 either but I may be wrong).

[2015-10-09 15:00] epelc opened #5082 "md-menu(icon): Icon squished by md-button's(a href version) text"
If you have a button with an icon in an `md-menu` and the button is a link(using href/ui-sref instead of ng-click) or essentially if the button is using the `a` tag instead of the `button` tag. Then if you have a scrollbar and lots of text in it the icon will shrink down to about 7px wide because the `<a></a>` version uses `display: flex;` instead of `display: inline-block;`.

I'm not sure if one

[2015-10-09 15:03] epelc commented on #5082
Also this didn't happen in `0.10.1`. I upgraded to `0.11.2` yesterday and encountered it. It also still happens on the latest master.

[2015-10-09 15:31] npradeeptha commented on #2949
+1 anyone has a workaround for now?

[2015-10-09 15:36] ido567 commented on #4855
Looks good!
I think it's necessary to close the auto completion after the click, or to give us the abillity to close it programmatically

[2015-10-09 15:36] garaboncias commented on #4793
http://codepen.io/anon/pen/JYJaKg?editors=101
happens only if a $scope.$watch is bounded after controller constructor.
If you remove $timeout wrapper is work as expected.

[2015-10-09 15:39] epelc opened #5083 "md-autocomplete: Escape button dosen't call `md-search-text-change`"
The `md-search-text-change` function isn't being called after you escape the the search text is cleared. This causes issues with your old search still being there but it being hidden if you are using the autocomplete to do detail lookups(google maps autocomplete api requires this) after an item is selected.

It looks like `announceTextChange()` needs to be called in the `clearValue()`(found [here]

[2015-10-09 16:20] dtimon commented on #5010
This is not working in Firefox and IE.. it is a pitty..

[2015-10-09 16:24] npradeeptha commented on #4400
+1

[2015-10-09 16:40] dsun29 opened #5084 "IE 11 compatibility?"
When playing with offical MD demo I found that it works well in Chrome but in IE there are a couple of issues. The attached screenshot 1 shows one issue. It is Checkbox demo page. Another issues comes from Subheaders/Late Message. Check screenshot 2. I use Win8.1.

![image](https://cloud.githubusercontent.com/assets/9710207/10399719/0a22c73c-6e7a-11e5-9c02-f847040c3fca.png)

![image](https://cloud

[2015-10-09 16:54] marcysutton commented on #4923
That doesn't matter to a keyboard user. It still has to work for all users, no matter what the demo is intending to show.

[2015-10-09 16:57] CxRes commented on #3186
Thanks!!! Just in time for me to use...

[2015-10-09 17:16] enderdickerson commented on #5084
+1. Similar formatting issues discovered today

[2015-10-09 17:27] robertmesserle commented on #4307
Closing for now, but will reopen if it is still an issue.

[2015-10-09 17:27] #4307 closed

[2015-10-09 17:32] #3328 closed

[2015-10-09 17:37] robertmesserle commented on #2113
As far as I can tell, `tabindex` works properly on autocomplete.  @marcysutton can you help confirm this?  As is, adding `tabindex` to `md-autocomplete` seems to work properly without transferring the attribute to the input tag.  (Focusing `md-autocomplete` forwards focus to the input.)  Is there any reason to manually transfer this attribute?

[2015-10-09 17:37] robertmesserle commented on #2113
Closing for now, will reopen if this step is necessary.

[2015-10-09 17:40] robertmesserle commented on #3372
Appears to be fixed in master

[2015-10-09 17:40] #3372 closed

[2015-10-09 17:59] Sebastien-Meiffren commented on #5014
+1
my workaround is to add the css class flex to the flexed element

[2015-10-09 18:06] marcysutton commented on #2113
The request was for custom `tabindex` values, which need to be manually moved to the input. Right now, if you add `tabindex="3"` to `md-autocomplete` it remains there, causing both the wrapper and the input to be focusable. Only the input should be focusable.

[2015-10-09 18:25] jelbourn opened #5085 "Can't enter space into input when FAB speed-dial is open by default."
http://codepen.io/katolikau/pen/gaRBLj

If there is an `<md-fab-speed-dial>` with  `md-open="true"` on the page, then you can't enter a space character into any `<input>` on the page. This means that there's some overzealous event listener doing `preventDefault` somewhere on the page.

cc @topherfangio

[2015-10-09 18:26] robertmesserle commented on #2113
@marcysutton Since `md-autocomplete` is tabbable, and forwards its tabs to the input, would adding `tabindex='-1'` resolve this?

[2015-10-09 18:37] #2113 closed

[2015-10-09 19:08] ThomasBurleson commented on #5014
@tinusn - Here is a CodePen that show it working:  http://codepen.io/ThomasBurleson/pen/RWgqom
You need to create the app (so the ngMaterial Layout directives run) and you need `layout-fill`:

[code]

[2015-10-09 19:08] #5014 closed

[2015-10-09 19:10] clshortfuse commented on #5044
@mattiLeBlanc  I had the same issue, but the right way to do it is:

    div(flex='')

[2015-10-09 19:29] shak18 commented on #2492
My workarround so far is this directive (apllied directly on the md-autocomplete element):

    .directive('mdAutocompleteRequired',  function ($timeout) {
                return {
                    restrict: 'A',
                    require: '^form',
                    link: function(scope, element, attr, ctrl) {
                        $timeout(function() {
                            var rea

[2015-10-09 19:32] robertmesserle commented on #3374
It looks like the functionality is working properly, but it is not triggering the ink ripple when `data-` is prefixed.  Looking into this.

[2015-10-09 19:57] 0101adm opened #5087 "(feat) md-slider - smoother / more keyframes on open animation"
can the open animation contain more keyframes to give a more fluid effect?

![untitled screencast](https://cloud.githubusercontent.com/assets/5133412/10404105/aa3176a2-6e8d-11e5-8e5a-3046fd0081dc.gif)

[2015-10-09 19:59] 0101adm opened #5088 "(bug) md-slider - slider has focus animation on open"
1st slider shows as normal.  slider point not focused (enlarged).

2nd and 3rd slider point show as focused when opened.

![untitled screencast](https://cloud.githubusercontent.com/assets/5133412/10404140/f1ea2c00-6e8d-11e5-954a-5435b17e52f6.gif)

[2015-10-09 20:04] shak18 commented on #2492
My workarround so far is this directive (apllied directly on the md-autocomplete element):

    .directive('mdAutocompleteRequired',  function ($timeout) {
                return {
                    restrict: 'A',
                    require: '^form',
                    link: function(scope, element, attr, ctrl) {
                        $timeout(function() {
                            var rea

[2015-10-09 20:16] marcysutton commented on #2113
That looks good to me, assuming focus is forwarded to the input since it is the element with a role.

[2015-10-09 20:34] mbitson commented on #537
I'm a little behind here, but I believe that this is the wrong approach. If you want 'functional' colors, such as one to warn users, don't modify the css for the current theme- just apply a 'warning' theme to that particular element. This allows you to pick any hue of your warning theme to ensure your contrast on the page, as well as chose a secondary palette just in case you need some dark warnin

[2015-10-09 20:45] DerekLouie commented on #4924
I removed the  `this.mdDialog_.hide();` in the openDialogB function, and it helped a bit actually.

I also ended up having to use $$postDigest instead of $timeout, and that seemed to run a function after the click handlers were attached.

Hope that helps for now :+1:

[2015-10-09 20:49] llanzo commented on #4307
For what it's worth, if the dialog is opened with a width that is larger than the pagination cutoff (the width of the dialog > than the combined width of all the tab labels) the md-tab-item elements have a style attribute max-width = 0px; I think this is probably because the shouldPaginate() function of the MdTabsController will never return true in this situation.  This doesn't seem to be problem

[2015-10-09 21:00] EladBezalel commented on #3186
@CxRes np :)

[2015-10-09 21:07] valtersboze commented on #5084
md-autocomplete is somewhat broken in 11.x , working fine in 10.x
with IE11 you cannot touch the scrollbar in md-autocomplete using IE and theres a weird padding.

[2015-10-09 21:26] jeffthompson1971 commented on #2430
+1
yah... i'm seeing the refresh is terrible scrolling up or down.. screen is all white and then slowly the rendering is done.. really bad.   not shippable at all.

[2015-10-09 21:31] ThomasBurleson commented on #2430
Whenever possible, provide a CodePen demo.

To expedite resolution, please always test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-material/master/angular-

[2015-10-09 21:58] robertmesserle commented on #4307
@llanzo This is resolved if you change the version to HEAD.

[2015-10-09 22:03] ThomasBurleson commented on #5034
@rschmukler, @topher, @jelbourn, @robertmesserle - here is the new PR with changes from last review(s).

[2015-10-09 22:08] robertmesserle opened #5091 "Test issue"
test

[2015-10-09 22:08] #5091 closed

[2015-10-09 23:49] colinskow commented on #5070
Does `preserveScope` work for you, or are you looking for another solution?

[2015-10-10 00:51] mattiLeBlanc commented on #5044
I just base it on the docs of Angular Material and Polymer Elements. They all use layout and flex as attribute possibly without value.
I think it is loosely allowed, same with things like 'checked' or 'selected' in HTML

[2015-10-10 03:39] #2954 closed

[2015-10-10 03:39] #4902 closed

[2015-10-10 03:39] #4959 closed

[2015-10-10 03:39] #4994 closed

[2015-10-10 03:39] #5076 closed

[2015-10-10 03:44] ThomasBurleson commented on #5044
Closed with SHA 2478f1d2b064d5e0

[2015-10-10 03:44] #5044 closed

[2015-10-10 03:48] ThomasBurleson commented on #1720
Closed with SHA 2478f1d2b064d5e06ba57d01b5460fe232f4b270

To expedite issue resolution, please always test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-mate

[2015-10-10 03:58] #3513 closed

[2015-10-10 04:16] ThomasBurleson commented on #2675
Closed with SHA 2478f1d2b064d5e06ba57d01b5460fe232f4b270

[2015-10-10 04:16] #2675 closed

[2015-10-10 04:53] sombriks commented on #4892
@jelbourn i've made some screenshots in order to clarify what i am trying to say. plase take a minute to lay down eyes on it:

http://imgur.com/gallery/rvOB2/

@tinusn i've tried your suggestion, however i had no luck with it.

Also, i tried to track down that background:rgb(255,255,255) css property appearing inside md-datepicker. I've looked into the source (bower_components/angular-material/mod

[2015-10-10 08:01] Frank3K commented on #761
@ThomasBurleson: This issue still exists in Internet Explorer 11. Can you re-open this issue or should I create a new one?

[2015-10-10 08:25] Madd0g commented on #4314
@colinskow - Thanks, it's close to working, it works for me on refresh, but not on regular state-changes
(Note that I'm measuring the parent node of the virtual list, not the body like in your example).

A huge +1 for making virtual-repeat flexable.

[2015-10-10 09:00] blmcquillan commented on #4850
Anyone come up with a quick fix for this one?

[2015-10-10 13:20] julbr opened #5093 "md-select async does not display md-progress-circular"
To keep things simple, I have copy/pasted the demo's code to test md-select in my project:
HTML:

    <div layout="column" layout-align="center center" style="height: 100px;">
        <md-select placeholder="Assign to account" ng-model="user" md-on-open="loadQBOAccounts()"
                                       style="min-width: 200px;">
            <md-option ng-value="qboAccount" ng-repeat="qboA

[2015-10-10 16:39] Splaktar commented on #3953
This exception is due to the following function throwing an exception only on IE11:

    function updatePagingWidth() {
      var width = 1;
      angular.forEach(elements.dummies, function (element) { width += element.offsetWidth; });
      angular.element(elements.paging).css('width', width + 'px');
    }

`elements.dummies` is not valid on IE11 whereas in Chrome, it contains a valid `HTMLCollec

[2015-10-10 17:15] colinskow commented on #4314
@Madd0g - I actually refactored it a little bit and it seems to work better. At least on Safari and Chrome it always appears to be the right size.

[code]

[code]

[2015-10-10 17:15] GustavoCostaW commented on #5071
@romanchak  why  $mdSidenav(componentId).isOpen(); and $mdDialog not?

[2015-10-10 17:27] vinkaga opened #5094 "Sticky Footer with Scroll Shrink Header"
While each of them work fine separately, I can't seem to get the two working together. Any suggestions would be appreciated.

[2015-10-10 17:58] EladBezalel commented on #5094
Can you please post a codepen?

[2015-10-10 18:05] vinkaga commented on #5094
Two versions - scroll shrink doesn't work on either of them
1. http://codepen.io/vinkaga/pen/LpLwjE
2. http://codepen.io/vinkaga/pen/epRwyy

[2015-10-10 18:20] EladBezalel commented on #5094
You're using old versions of ngMaterial, works with head
http://codepen.io/EladBezalel/pen/WQOVdz

[2015-10-10 18:20] #5094 closed

[2015-10-10 18:32] vinkaga commented on #5094
It's footer is always visible - for sticky footer it should show only when the page is scrolled to bottom.

[2015-10-10 19:00] EladBezalel commented on #3721
@all can you please check if it's still happening on HEAD?

I tested this on my LG G3 and our sidenav worked better!
http://codepen.io/EladBezalel/pen/avweab - removed the 200ms wait

[2015-10-10 19:10] EladBezalel commented on #5094
Something like this?
http://codepen.io/EladBezalel/pen/vNZovx

[2015-10-10 19:11] #4815 closed

[2015-10-10 19:20] EladBezalel commented on #4542
@ThomasBurleson should i make a PR that makes the parent relative?

[2015-10-10 19:21] EladBezalel commented on #4401
@simongcc still happening on HEAD?

[2015-10-10 19:31] EladBezalel commented on #4230
[code]

[2015-10-10 19:34] #4230 closed

[2015-10-10 19:43] EladBezalel commented on #3979
@chungwong @tirana I couldn't reproduce on HEAD can you make a codepen with the problem if it's still occurs?

[2015-10-10 19:49] EladBezalel commented on #3308
@ragndahl Can you please check if it's still occurring on HEAD and if it does create a codepen with the bug?

[2015-10-10 20:13] Splaktar commented on #3953
Calling `getElements().dummies` instead of `elements.dummies` seems to resolve this issue. I'm working to find a more elegant and performant solution.

[2015-10-10 20:15] EladBezalel commented on #5039
It seems to be the `md-dialog-content` css `overflow: auto` property.
I can't figure why overflow influencing the animation..

[2015-10-10 20:40] vinkaga commented on #5094
Actually no. In this example (http://codepen.io/vinkaga/pen/LpLwjE), see how the footer scrolls out of the viewport when the page is scrolled up. But when the content is smaller than the viewport height (by deleting some of the 'Bla bla ...'), the footer sticks to the bottom edge.

In your code pen, the footer does stick to the bottom edge but it is always visible even when content is larger than

[2015-10-10 21:59] Madd0g commented on #4314
@colinskow - that does work better, but it seems like the internal `md-list` doesn't get resized to the necessary height, I don't even understand what causes it to be smaller in size, I've combed through the styles tab and don't see anything that can cause it :(

[2015-10-10 22:47] EladBezalel commented on #5094
@vinkaga http://codepen.io/EladBezalel/pen/ZbJzNB,
BTW this is not an issue, you should ask these kind of questions in the forum

[2015-10-10 22:47] Madd0g opened #5095 "Virtual repeat should expose an "isLoading" property"
I think it's pretty cool how the virtual repeater renders rows that don't have data and then populates them with data, I currently use something like this to display a loading message:

     <div md-virtual-repeat="item in items">
             ........
             <span ng-if="!item">loading...</span>
     </div>

I would much prefer a more robust solution like `$isLoading`, like ng-repeat does `

[2015-10-10 22:48] EladBezalel commented on #5087
related #1839

[2015-10-10 22:48] abeniwal commented on #1484
@robertmesserle was there ever any progress on allowing a flat md-autocomplete (without a floating label)? I couldn't find the ticket.

[2015-10-10 22:53] chungwong commented on #3979
http://codepen.io/anon/pen/Mavgde

I replaced v10.0 to v11.2 and this is the only difference between my original pen and this pen.

I couldn't reproduce the issue because I simply couldn't re-open the dialog once I clicked "NOT USEFUL" or "USEFUL" after selection

[2015-10-11 02:11] robertmesserle commented on #1484
Not yet, but it is planned.

Sent from my iPhone

[2015-10-11 03:26] rick4470 commented on #1484
+1 for md-autocomplete icons

[2015-10-11 05:16] roidayan commented on #3721
I checked it also last week. I think since 0.11 it works much better. Anyway I don't use the css workaround I posted anymore.

[2015-10-11 05:22] tirana commented on #3979
I think it was fixed partially; no random windows anymore.
however, I also could not re-open it in some cases.
for example, http://codepen.io/anon/pen/BodyRZ
steps:
1. open the dialog
2. click on the autocomplete field
3. click on enter
4. try to open the dialog
expected: the dialog
actual: nothing. (and no js errors)

[2015-10-11 05:25] tinusn commented on #5014
@ThomasBurleson The pen you have made still does not work?

Here is what I would expect (or at least, that is how it worked in 0.10.x):
![image](https://cloud.githubusercontent.com/assets/1086600/10415024/f4870a58-6fe8-11e5-9582-4906388c132a.png)

But the pen you have made gives this:
![image](https://cloud.githubusercontent.com/assets/1086600/10415026/15db7270-6fe9-11e5-9c2f-0ce9b1088057.png)
Not

[2015-10-11 08:36] EladBezalel opened #5097 "mdTabs: should provide accent colors without the background"
Currently, tabs gets the primary color with ink-bar accent,
.md-primary and .md-accent sets the background but there's no option for flat tabs with the accent colors.

http://codepen.io/anon/pen/YyxXXQ

[2015-10-11 08:51] patrickmichalina commented on #4925
I am having a similar issue. When the <p> element is filled with a large amount of content, it will spill onto the next <md-list-item>. I have attached an image to help see the issue.

<img width="594" alt="screen shot 2015-10-11 at 1 50 25 am" src="https://cloud.githubusercontent.com/assets/6701211/10416075/9d99ae54-6fba-11e5-8a91-b73d03a59ad2.png">

[2015-10-11 10:33] colinskow commented on #4314
@Madd0g if I open and close the Javascript console or developer tools, it will thereafter render an incorrect height. As long as I don't do that, my implementation seems to render correctly.

Do you have a CodePen to demonstrate your issue?

[2015-10-11 10:41] colinskow commented on #4314
Here's my CSS that is working perfectly. Note that the repeat items all must be the EXACT specified height without any padding or overflow, otherwise scrolling will be really glitchy.

[code]

The `min-height` on the container seems to be important. This is later overridden by the actual height from your script. Also, `overflow: hidden` on the repeat item keeps any items from accidentally getting

[2015-10-11 11:50] foxx9 commented on #4785
+1

[2015-10-11 12:30] Madd0g commented on #4314
@colinskow - it's definitely something about my HTML that's causing it (and weirdly it only breaks on ui-router state change, not a page refresh), but the directive I posted solves my problem perfectly, so I'm not worried, it will be enough for me until the virtual repeater is officially flexable.

Thanks for your help

[2015-10-11 13:01] jadjoubran commented on #4636
@jelbourn I tried fixing it by including moment.js but I wasn't able to fix it..
How would you suggest fixing it? I'm not even sure I got it right
Which method of these should I keep?
https://material.angularjs.org/0.11.2/#/api/material.components.datepicker/service/$mdDateLocaleProvider
Is it parseDate? because it never gets called
Thanks!

[2015-10-11 15:50] ozsay opened #5098 "mdButton: Ripple effect for double click"
Hi,

I request to have a feature where i can decide when the ripple effect happens.
Currently, the ripple effect happens on every click on the button (on double click the ripple effect happens twice).
It will be nice if i could do something like this:
[code]
and then the ripple effect will happen once only for double click.

Thanks in advance,
Oz

[2015-10-11 16:00] #3721 closed

[2015-10-11 16:04] EladBezalel commented on #3979
Both cases is about the `md-scroll-mask`, i will take a look later and see what's the problem, thanks.

[2015-10-11 18:28] djmarcus1 opened #5099 "ng-class ignored on <input> when inside <md-input-container>"
It appears that an `ng-class` attribute is ignored when the `<input>` is inside `<md-input-container>`.

See codepen: http://codepen.io/djmarcus/pen/qOXbMO

In this example, I use the `ng-class` to show the input in green color if the input ends in an even digit and in red for any other charatcer.

When I use the `<input ng-class=...>` inside `<md-input-container>` the class is ignored. When I use

[2015-10-11 19:49] rigobcastro commented on #5014
In 0.11.1 it's works. In current version 0.11.2 you need add .flex class manually.

[code]

[2015-10-11 20:10] ozsay opened #5100 "toast/menu: toast disappears when menu is opened."
codepen to watch:
https://codepen.io/anon/pen/ojexRq

1. Click on 'Open Toast'
2. Open one of the menus.

The toast disappears when the menu is opened and returns when it's closed.

[2015-10-11 20:23] wearska commented on #2653
flex="33" needs to remain 0 0 33.33%.

Yes, you can use an expression to make each third element flex="34", but what about if you are working with ratio sized elements? The third element will always be a bit taller than the first 2.
Material design makes use of aspect ratios when it comes to cards or images and this is quite an issue.

[2015-10-11 20:37] bastienJS opened #5101 "Make md-select always opened like a html select multiple"
I need a mix of a native multiple select tag but with your material design style.

![listbox](https://cloud.githubusercontent.com/assets/5945955/10418930/6829f220-7068-11e5-9171-3aaf5bdf3e21.PNG)

I would like to have your md-select component to be always opened.

 Do you plan something like that?

[2015-10-11 22:54] uriva commented on #2819
+1

[2015-10-11 23:19] RolandHeath commented on #5067
It might help if you could reproduce this in a codepen or similar. I'm not seeing this on the docs page (or my own) in chrome 45. Which browser are you having this problem with?

[2015-10-11 23:45] epelc commented on #2391
Looks like this is caused by the following css

[code]
// Only apply this fix to ie11 using the media query css hack.
@media all and (-ms-high-contrast: none) {
    md-tabs-canvas.md-center-tabs {
        // This is normally 'center' but we need to turn it off so the tabs aren't invisible.
        text-align: left;
    }

    // The following correctly aligns the tabs to the center.
    md-paginat

[2015-10-12 00:07] EladBezalel commented on #5100
It's an easy fix, `md-toolbar` gets `z-index` of 100, while `md-toast` only have 90.

[2015-10-12 00:09] EladBezalel commented on #5099
Works for me, it's green on even numbers..

[2015-10-12 00:27] djmarcus1 commented on #5099
Look at the first `<input>` value display (which is inside `<md-input-container>`), it shows **no color**.

The second `<input>` which is **not** inside the `<md-input-container>` **does** show color.

I've changes the labels to 'WORKS' and 'FAILS' to make it more obvious.

[2015-10-12 00:33] EladBezalel commented on #5099
Oh, OK i saw it..

a quick override is:
[code]

We should take a look why your class is not stronger than `.md-input`

[2015-10-12 01:15] djmarcus1 commented on #5099
Toda for the work-around. :-)

[2015-10-12 01:59] mjhasbach commented on #4938
See also https://github.com/angular/material/pull/5102

[2015-10-12 02:07] bathos opened #5103 "Left & right arrow keys do not work inside input fields in an md-menu"
Demonstration here:

https://codepen.io/anon/pen/EVvgrx

(not my actual code, just a quick recreation based on one of the demos).

In my case I'm employing md-menu to encapsulate a list of numeric field options that would otherwise add too much noise to the form, and which have an alternative concise representation when the menu is closed.

This may well not be a bug; given the directive's name, i

[2015-10-12 03:24] johnnyluu opened #5104 "New version causes the height of flex items not fit their contents"
I updated Angular Material to the latest version because I wanted to use the new menubar. However, the new implementation of flex layout caused my grid list to not scale property in MOBILE view. The parent elements, which have flex="50" and flex-sm="100", dont seem to fit it's content anymore. More specifically, some of the containers of the md-cards don't have the same height as the md-cards,  re

[2015-10-12 03:43] spoco2 commented on #4037
I'd love to be able to do this too... I'm trying to use mdDialog to create a menu that comes from a button on the top of the screen (a fair bit of content in it).

I can't even get anything to work using css (without affecting ALL dialogs, which I don't want to), because the element that you get to provide within the template is wrapped inside another which actually defines the size and position.

[2015-10-12 05:15] gpopovic commented on #5095
I would love that also.

[2015-10-12 06:41] gabguy opened #5105 "It is very difficult to select older dates using md-datepicker"
Let's say I want to select 5.5.1965 as a date, I need to scroll up to year 1965 (which takes a long time).

maybe add a button to select only the year from a list of available years?

[2015-10-12 07:04] DBGTTECHJAM commented on #4251
+1, I think this should be high priority.

[2015-10-12 07:05] victor-perez commented on #3171
+1

[2015-10-12 07:30] bathos commented on #1269
[Yet another take](https://gist.github.com/bathos/7ecf15829c0c615d5c97), based on BoLaMN's & others examples. This only adds new classes, .text and .background corresponding to every intention, hue and theme combo, and including the appropriate contrast color when using .background.

[2015-10-12 08:09] Soulcyber commented on #5072
i think we have the same problem, ng-change doesn't provide the new ng-model value but return the old one

[2015-10-12 08:12] anteksiler commented on #5072
I solved this by throttling the function. In my case, it was triggering twice.

[2015-10-12 08:21] woutderooms commented on #4839
+1

[2015-10-12 08:21] Soulcyber commented on #5072
i've solved with this:
[code]
And in the controller function i did this:
[code]

[2015-10-12 08:30] ThomasBurleson commented on #5104
Some thoughts:

*  Trying setting explicit heights on your cards
*  You are using Angular v1.4. Please use Angular 1.3.19 or greater, 1.4.6  or greater
*  Please retry with the HEAD version of Angular Material
*  Please provide a simplified CodePen

Whenever possible, provide a CodePen demo to report an issue. To expedite resolution, please always test with the latest versions:

*  Angular Materia

[2015-10-12 08:51] sunnyshah01 commented on #4251
+1

[2015-10-12 08:52] sunnyshah01 commented on #4826
+1

[2015-10-12 09:27] sunnyshah01 commented on #4636
+1

[2015-10-12 10:42] bathos commented on #5060
I've encountered a possibly-related issue. I have a focus event on a button, and it fires on hover... I don't think this is an angular issue but I haven't been able to find anything in ng-material to explain it, either.

[2015-10-12 10:49] bathos commented on #5060
I've found the answer to my issue at least, but it won't help you if the example you gave is complete. In my case, it was caused by md-tooltip. That might make sense if the md-tooltip in the button had actually fired a focus event, but the event that my ng-focus handler received was a mouseover!

[2015-10-12 11:48] sunnyshah01 opened #5106 "Required md-date-picker with Floating label option like other components have"
- Floating label in date picker is required optionally.
- Currently there is two buttons in md-date-picker. One is date picker icon button and another is drop down button.
- Date picker should look like another components Input, Select and Autocomplete so all components looks same.
- css for date picker validation message is required

[2015-10-12 11:53] sunnyshah01 opened #5107 "Required css for date picker validation message"
- Required CSS and proper position for a validation message of date picker.
- Size of input in date picker is fixed so it should be as per flex size.
- date picker icon button position should be optional, either start position or end.

[2015-10-12 11:59] sunnyshah01 commented on #4937
+1

[2015-10-12 13:59] mramanauskas commented on #4990
+1

[2015-10-12 14:39] JobaDiniz commented on #4561
I couldn't find `md-calendar` in the [docs](https://material.angularjs.org/0.11.2/#/). Where is it?

And how can I create a *theme* for [ui-calendar](http://angular-ui.github.io/ui-calendar/) plugin? It uses [fullcalendar](http://fullcalendar.io/), however, I cannot use `md-button` for example, because they render buttons with `button` tags.

[2015-10-12 15:27] a8775 commented on #5064
You are right :)

The MD page: https://www.google.com/design/spec/components/menus.html#menus-simple-menus
doesn't give the answer as threre are two solution...

The first is exactly like we have on ngmaterial:
![snip_20151012171743](https://cloud.githubusercontent.com/assets/14092227/10431429/43e73ace-7105-11e5-8834-45aa56eeeebb.png)

but few lines below is the recommendation:
![snip_201510121715

[2015-10-12 15:32] calebegg opened #5109 "Dialogs should have max-width set"
Per the spec:

https://www.google.com/design/spec/style/typography.html#typography-other-typographic-guidelines

At least the alert and confirm dialogs should; not sure about custom dialogs.

[2015-10-12 15:39] jlmagee opened #5110 "generated calendar grid cell id is one month too low"
please note that getMonth() returns 0-11 not 1-12 so the generated grid cell id is off by one month.

   * Gets an identifier for a date unique to the calendar instance for internal
   * purposes. Not to be displayed.
   * @param {Date} date
   * @returns {string}

  CalendarCtrl.prototype.getDateId = function(date) {
    return [
      'md',
      this.id,
      date.getFullYear(),
      date.get

[2015-10-12 16:00] topherfangio commented on #3926
Closed by #5089.

[2015-10-12 16:00] #3926 closed

[2015-10-12 16:07] mnanzawa opened #5111 "md-datepicker should accept null value for date initialization."
The md-datepicker returns null when date is not selected. It should also accept null value for date initialization. Currently, if I set null to required date value, it won't accept (it won't even initialize).

Sample: https://codepen.io/anon/pen/xwLPbP

[2015-10-12 16:17] blootch opened #5112 "ng-cloak not working with md-autocomplete"
Hi,

ng-cloak doesn't work on md-autocomplete results. Applied with attibute or CSS, both doesn't work. I still see {{value}}.

More informations :

- It only append on the first load.
- Angular material 0.11.2
- Angular 1.4.4
- Angular + angular material loaded in <head> section.
- CSS rule for ng-cloak is added to the app css file.

[2015-10-12 16:31] happschinson commented on #4940
are there any ideas about how to solve this problem?

[2015-10-12 16:31] happschinson opened #5113 "Md-Tab change finished event?"
Hi!

Is there any event which tells my controller when the tab change (with animation!) is done completely?

thanks!

[2015-10-12 17:04] marcysutton commented on #5003
Do you mean the tab, or the tab content? There is focus behavior already set up on tabs so that keyboard and screen reader users can navigate them intuitively. What is your use case for sending focus to a different element?

[2015-10-12 17:06] marcysutton commented on #5103
That really doesn't look like a menu anymore. I think a dialog is a better UI pattern for what you're trying to achieve.

[2015-10-12 17:10] marcysutton commented on #4392
Can you provide a demo showing your markup? List items by themselves are not interactive, while list controls do some fancy things behind the scenes. More info about which element should be clickable will help to debug. Thanks.

[2015-10-12 17:11] marcysutton commented on #3969
Can you provide a Codepen or Plunkr demo that shows what you're trying to achieve?

[2015-10-12 17:34] jelbourn commented on #4561
@JobaDiniz The point of this issue is that there's no docs page for `md-calendar`.

[2015-10-12 17:36] jelbourn commented on #4636
Both `parseDate` and `formatDate` need to be set.

[2015-10-12 17:45] #4846 closed

[2015-10-12 18:23] erinkidd01 commented on #4037
@spoco2 I have a hack that works for now to configure positions. The animations are slightly messed up, but at least the dialog is in the correct location.

Before showing the dialog, calculate the position of where you want it to go, pass that value as part of locals, and then in a timeout in your dialog-controller, set the position of the dialog. You can look at the code for mdMenu to see a more

[2015-10-12 18:23] topherfangio commented on #4937
#4915 has been merged, can you please retest against the latest master? If the issue is not resolved, please comment and I will reopen.

[2015-10-12 18:23] #4937 closed

[2015-10-12 18:26] jgr3go opened #5114 "https://material.angularjs.org/latest/ throws exception"
Current material.angularjs.org redirects to /latest which throws an exception when loading such that the whole page doesn't work.

Console output:
`angular.js:11379 Uncaught TypeError: Cannot read property 'replace' of undefined`

https://material.angularjs.org/0.11.3/ works fine.

[2015-10-12 18:37] JSlifierz commented on #5114
+1

[2015-10-12 18:38] ErinCoughlan opened #5115 "Virtual repeat and ng-class"
ng-class is not applied to virtual repeat when used multiple times.

I'm showing three panels next to each other, all using virtual repeat. I'm adding a class for the selected item in each column using ng-class, but the class is only applied in the first column. After clicking on another item in the panel, the classes are applied correctly to that panel.

[2015-10-12 19:05] rschmukler commented on #4843
Both of these are actually having the same error (see the console about the 10 digest iterations in both. This just breaks things more in our select than in angular's native. As for why *that* error is thrown, see this stack overflow: https://stackoverflow.com/questions/27306919/angularjs-cannot-call-method-from-list-comprehension-in-select

[2015-10-12 19:05] #4843 closed

[2015-10-12 19:08] rschmukler commented on #4923
@marcysutton perhaps it's an error with `ng-mouseenter` then and this issue should be directed to angular itself?

[2015-10-12 19:14] marcysutton commented on #4923
Just to add some more notes here...we shouldn't be opening menus on `ng-mouseenter`, or `ng-focus` for that matter. It forces a user into a menu, which is bad UX. Recommended the demo be changed to use `ng-click`, which is a more accessible and desirable user experience for this component..

[2015-10-12 19:15] rschmukler commented on #4923
Sounds good!

[2015-10-12 19:23] kildareflare commented on #1895
Don't have a plunker yet, but I am also seeing this with latest versions (0.11.2 & 1.4.5).

[2015-10-12 19:26] rschmukler commented on #4923
closed by f9d5cf8ed20551ae7fc5f8b4f21407db7fc9bdbc

[2015-10-12 19:26] #4923 closed

[2015-10-12 19:42] HBO2 opened #5116 "[bug] datepicker 11.3 -> Transparant background"
The 11.3 release brakes the Datepicker on Chrome for MacOSX El Capitain. Result a transparant background.
![screen shot 2015-10-12 at 21 40 23](https://cloud.githubusercontent.com/assets/7763328/10436918/e635d24e-7129-11e5-92ac-fa0e4c8afad4.png)

[2015-10-12 19:54] ThomasBurleson commented on #5114
We have switched to HTML5 mode for our Online Docs... this should be fixed soon.

[2015-10-12 19:58] jmls commented on #2088
@Seiifer : could you show an example ? thanks - I have the same problem

[2015-10-12 20:08] FlipOneDev opened #5117 ""Page Not Found" In Layout Pages on Website"
Selecting any item under the "Layout" section on the side navigation results in a "Page Not Found" message. See attached screenshot.
![material angularjs org-page-not-found](https://cloud.githubusercontent.com/assets/12635542/10437473/42972c6a-70e2-11e5-944d-20b46a1ce288.png)

[2015-10-12 20:11] jelbourn commented on #5114
This issue is actually already fixed. There's a _different_ issue preventing people from getting to `layout/` pages.

[2015-10-12 20:11] #5114 closed

[2015-10-12 20:24] 0101adm opened #5118 "(feat) drop down button"
https://angular-ui.github.io/bootstrap/#/dropdown

[2015-10-12 20:25] #761 closed

[2015-10-12 20:31] chrisconover opened #5119 "Overlapping cascading menu items"
I'm attempting to create a cascading dropdown menu using <md-menu-bar>, <md-menu>, <md-menu-content>, and <md-menu-item>. As the user hovers over options, the menus overlap on each other.

<img width="349" alt="screen shot 2015-10-12 at 1 30 40 pm" src="https://cloud.githubusercontent.com/assets/694311/10437950/745b9cce-70e5-11e5-8179-da801b747cab.png">

Screen recording: https://drive.google.com/

[2015-10-12 20:56] 0101adm opened #5121 "(bug) fab speed dial"
might be against spec...

if fab is positioned relative to container, fab action button (even though hidden) width takes up space.  seems they need to be absolutely positioned.

![untitled screencast](https://cloud.githubusercontent.com/assets/5133412/10438532/5d30615e-70f1-11e5-8ba6-c09a5db0f3a7.gif)

[2015-10-12 21:07] TimKlein87 commented on #4940
I just experienced the same problem. After some searching I only found one solution that turned off the animation using CSS, but tab switching was still incredibly slow in IE (11). So after some thinking I came up with the following. It looks very good and works very fast.

[code]

[2015-10-12 21:08] germanferrero opened #5122 "md-list-item height break since 0.11.1"
![breakinchange](https://cloud.githubusercontent.com/assets/7140856/10438314/54e96b54-7109-11e5-9411-3227c21ea9a5.png)

I'd note that md-list-item height is not been calculated to wrap childs. Try to write long text in  < p > element of demo's md-line-3 items. In version 0.11.0 works fine but since 0.11.1  list items overlap.  If desired  behaviour for long text is  hide  overflow with ellipsis, i

[2015-10-12 21:21] Alexandre-io opened #5124 "md-tooltip bug with md-fab-toolbar"
All tooltips are opened on the same location when mouse is over the fab-toolbar. Example:
http://codepen.io/anon/pen/pjrLog

[2015-10-12 21:25] topherfangio commented on #4291
@kschwidder I have a PR (#5123) to add some info to the docs about optional dependencies.

Additionally, we made some changes to the way messages were shown including using `position: relative` so I believe this issue can be closed.

Please post a comment including a [Codepen](http://codepen.io) (using the latest master versions) which demonstrates the issue if you are still having problems and we

[2015-10-12 21:25] #4291 closed

[2015-10-12 21:29] 0101adm opened #5125 "(feat) md-fab-speed-dial - on open"
ability to know when fab opens and closes.  probably trigger when animation finishes.

[2015-10-12 21:44] doug65536 commented on #5003
Yeah, you make a good point. The keyboard interface is fantastic. Almost all of the behaviour is exactly what I want. What I don't like is, if you select a tab that contains form controls (with enter, or by clicking the tab label), the user has to set focus into the tab content to use form controls (with tab press or click).

Is there a way for me to set focus to an input in that scenario?

[2015-10-12 21:50] hardywu commented on #4791
Same here on Mac OS X

[2015-10-12 22:12] daniel-nagy commented on #2492
If you want to mark the input field as invalid if the user does not select a `md-autocomplete` option this is easily achievable with a custom validator,

[code]

Usage,

[code]

[2015-10-12 22:27] 0101adm commented on #5118
specifically a split button w/ a menu.

[2015-10-12 22:34] #3708 closed

[2015-10-12 22:38] abeniwal commented on #3906
+1

[2015-10-12 23:12] ThomasBurleson commented on #4940
Please provide a CodePen demo.

To expedite resolution, please always test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-material/master/angular-material.js

[2015-10-12 23:13] ThomasBurleson commented on #5112
Please provide a CodePen demo.

To expedite resolution, please always test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-material/master/angular-material.js

[2015-10-12 23:28] shyndman commented on #2224
@ThomasBurleson,

Who did you have that review with?

Marcy's suggestion seems a lot stronger, and more aligned with how you'd expect grids to act.

[2015-10-12 23:31] bathos commented on #5103
That's true, I'm really not using it as a menu, which is why I wondered if there was another means to achieve this in ngMaterial without the menu-specific keyboard handling and aria markup. What I needed was a "list of options the drops down from a button", which happens to be -- visually and in terms of click/mouse behavior at least -- identical to md-menu. That it's so close made me wonder if th

[2015-10-12 23:48] fedelopez commented on #2704
+1

[2015-10-13 00:10] dg1202 opened #5126 "md-autocomplete: support custom buttons within input"
Understand this would be very low on priority, maybe something for a PR!

I am making a maps application, and using the autocomplete very similar to the implementation on [google maps](https://maps.google.com) as a search.

It would be great if I could embed a couple of buttons in the actual search, similar to google maps:

### Google Maps
<img width="420" alt="screen shot 2015-10-12 at 6 57 07 pm

[2015-10-13 01:11] SomethingNew71 opened #5127 "Theming no longer present on Button Demo"
None of the colors are presenting themselves on the demo page for the buttons
<img width="1196" alt="screen shot 2015-10-12 at 9 10 32 pm" src="https://cloud.githubusercontent.com/assets/4572799/10442968/cc9a3932-7125-11e5-902a-fce3b763756f.png">

[2015-10-13 01:20] spoco2 commented on #4037
@erinkidd01 Thanks, I've passed on trying to use mdDialog for my slide down menu, was illfitted.

Have used basic CSS and Angular to get what I wanted :)

[2015-10-13 03:16] tsdragon0404 opened #5128 "0.11.3 - button doesn't display color, border of input is transparent"
Please review at Demo page.
https://material.angularjs.org/latest/demo/button
https://material.angularjs.org/latest/demo/input

[2015-10-13 04:03] doppio commented on #4791
Same - I'm on OS X 10.10.4 and am unable to build.

[2015-10-13 04:20] RolandHeath commented on #5099
It's a css specificity issue. An alternative workaround, not using !important is:
[code]

[2015-10-13 05:28] raeffs commented on #3872
this is fixed in angular: https://github.com/angular/angular.js/pull/12903

[2015-10-13 05:58] windhunter89 commented on #4023
Temporary solution

[code]

[code]

Output(See the Role)
![image](https://cloud.githubusercontent.com/assets/7919264/10446943/572bd1aa-71b2-11e5-84bb-cf92c41b6e0f.png)
![image](https://cloud.githubusercontent.com/assets/7919264/10446950/6387c378-71b2-11e5-82e3-9fa10f815c3a.png)

[2015-10-13 06:13] windhunter89 commented on #5128
+1

[2015-10-13 06:23] krijoh92 commented on #4551
Yeah, this made me either have to change from 'light-blue' to 'blue' as primary in my theme, or do this:
[code]

[2015-10-13 06:25] tommy8694 opened #5129 "the md tab content will be emptied when scrolling on IOS safari"
Even in the official demo page of the md-tabs, the md-tab content will be emptied or disappeared during scroll up or down. It will be back to normal if clicking the tab or scrolling up or down.
![picture](https://cloud.githubusercontent.com/assets/385320/10447313/1949ee2c-71b6-11e5-99e0-06511f68d603.jpg)

[2015-10-13 06:50] aviraldg opened #5130 "mdVirtualRepeat: Buggy scrolling near end of list"
Demo: http://codepen.io/aviraldg/pen/JYyBEL

Try to scroll to the bottom of the list.

Expected: Scrolling stops at end of list.

Actual:

1. Scroll position "jumps" jarringly when near end of list, `translateY` keeps increasing (despite no actual increase in scroll position)
2. After step 1, scrolling up is also useless and exhibits the same buggy behaviour (apparently until `translateY` returns

[2015-10-13 07:21] halayli opened #5131 "Autocomplete doesn't render properly"
Using 0.11.3. This is exhibited on Safari 9.0 and Chrome 45

<img width="874" alt="screen shot 2015-10-13 at 12 19 44 am" src="https://cloud.githubusercontent.com/assets/125592/10448216/2c7bdfa8-7140-11e5-86bf-4cfb04dcb394.png">

[2015-10-13 07:47] barryvdh commented on #4757
Any workarounds for this? Kind of a blocker for my new app release.

[2015-10-13 07:57] doug65536 commented on #2961
This is not assigned properly is it? The problem has nothing to do with docs. Angular material itself has the bug (and yes, non-working movement keys are a bug, let's be real here).

[2015-10-13 09:17] michaelkrog commented on #3963
I like the fact that padding is not forced, but the implementation is a bit confusing.

__HTML example__
[code]

We already have directives that tell whether padding should be added or not. Why introduce another css class? And then a class that carries the same name as a directive?

Would'nt it be more simple to have it like this?
[code]

Or if 'layout-padding' does not quite fit here, perhaps thi

[2015-10-13 09:21] ThomasBurleson commented on #3872
Please always test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-material/master/angular-material.js
  *  RAWGIT - https://rawgit.com/angular/bower-material/

[2015-10-13 09:21] #3872 closed

[2015-10-13 09:27] ltfsolutions commented on #4940
CodePen: http://codepen.io/anon/pen/OyjBLz
Works great in Chrome, very slow in Internet Explorer (11). If it has to do with the animation, maybe something like ``<md-tabs md-dynamic-height md-disable-animation>`` can be added.

[2015-10-13 09:29] TimKlein87 commented on #4940
CodePen: http://codepen.io/anon/pen/OyjBLz
Works great in Chrome, very slow in Internet Explorer (11). If it has to do with the animation, maybe something like ``<md-tabs md-dynamic-height md-disable-animation>`` can be added.

[2015-10-13 09:33] johnnyluu commented on #5104
Hi @ThomasBurleson , Thanks for the comment. I think specifying a explicit height works, but I do need responsive height on this. So the only way I can think of is to update the height with JavaScript every time the window is resized, but that's certainly not ideal.

I've updated the initial post with a codepen demo: http://codepen.io/johnnyluu/pen/jbLvge with the latest angular and material. Unfo

[2015-10-13 09:33] maelfrize commented on #3364
I'm happy about your UX decision. Our users are having the same issues when filling out forms with chips.
Looking forward to your fix :)

[2015-10-13 09:42] ThomasBurleson commented on #5131
If you navigate to https://material.angularjs.org/0.11.3/demo/autocomplete, then everything appears to be working correctly. Currently we have an issue that `https://material.angularjs.org/latest/` !==  `https://material.angularjs.org/0.11.3/`. We are investigating.

[2015-10-13 09:53] ThomasBurleson commented on #5104
@johnnyluu - We are investigating this...

[2015-10-13 09:56] ThomasBurleson commented on #5127
Fixed in https://material.angularjs.org/0.11.3/demo/button

[2015-10-13 09:56] #5127 closed

[2015-10-13 10:21] kuhnroyal commented on #3290
Looking good, seems to be fixed!

[2015-10-13 10:21] #3290 closed

[2015-10-13 10:37] halayli commented on #5131
Ah got it. Yep going directly or selecting latest works. Navigating from root landing to autocomplete is broken. Thanks for the quick response.

[2015-10-13 11:30] Seiifer commented on #2088
@jmls Well, you just need to add a height attribut to your `<md-content>` in order to have the scroll bar.

It worked for me :
[code]

[2015-10-13 13:09] ThomasBurleson commented on #3951
Fixed.

[2015-10-13 13:09] #3951 closed

[2015-10-13 13:16] anrose commented on #5067
I am also using Chrome 45 (specifically Version 45.0.2454.101 (64-bit) on OSX if it makes a difference). I can show screenshots and describe what fields are bound to where.

This first screenshot shows a dialog box with a form. The md-autocomplete is on that school field which is bound to a School object with fields for the name of the school, its city, and its state. The city and state fields wil

[2015-10-13 13:17] ThomasBurleson commented on #5122
Fixed. See https://material.angularjs.org/0.11.3/demo/list

[2015-10-13 13:18] ThomasBurleson commented on #5116
Fixed. See https://material.angularjs.org/0.11.3/demo/list

[2015-10-13 13:18] #5116 closed

[2015-10-13 13:18] #5112 closed

[2015-10-13 13:22] stevenmiles commented on #1720
I was having the same issue as OP with an iPad iOS 9.0.1 with 0.11.3 and md-card  which includes 2478f1d. 2478f1d didn't change the behaviour.

The safari bug that @csvan shared contained a work around for the issue.

Flexbug: https://github.com/philipwalton/flexbugs#11-min-and-max-size-declarations-are-ignored-when-wrapping-flex-items
Work around Demo: http://codepen.io/philipwalton/pen/RPMqjz

T

[2015-10-13 13:23] ThomasBurleson commented on #4964
Whenever possible, provide a CodePen demo.

Please always use and test with the latest versions:
*  Angular Material HEAD
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-material/master/angular-material.js
  *

[2015-10-13 13:23] #4964 closed

[2015-10-13 13:28] hewaroth commented on #3287
+1

[2015-10-13 13:38] poltorak commented on #5116
@ThomasBurleson what does the list (which you've linked) with datepicker? I checked also on Safari and Firefox Developer Edition, it is not fixed unless I've missed something

[2015-10-13 13:54] kuhnroyal opened #5132 "md-autocomplete should allow custom result height"
Currently I can't find a way to target a specific `md-autocomplete-suggestions-container`/`md-virtual-repeat-container` in order to set a custom height for the result list.

`md-autocomplete` should set the `md-menu-class` or something else on the container so it can be targeted by CSS rules.

[2015-10-13 14:13] Wardormeur opened #5133 "[feature] DOM validator"
As bootstrap is having a bootlint, a ngmdlint would definitely be interesting :)

[2015-10-13 14:36] germanferrero opened #5134 "ng-include inside md-dialog-content not working 0.11.3"
Hi, before 0.11.3, this works fine,

[code]
Now, i'd lose padding.

hello_world.html: Hello World

Plunker here: http://plnkr.co/edit/j9jzHA?p=preview

[2015-10-13 14:49] germanferrero commented on #5122
@ThomasBurleson, i can't see fix. Just same behaviour as yesterday. Workaround for me was setting height:auto to md-list-item. By default, is set to 88px, independently  of children heights

[2015-10-13 14:55] nathanmarks commented on #5130
Same thing happening on my end:

https://dl.dropboxusercontent.com/s/i4ll9i4wpzhbjnw/2015-10-13%20at%2010.55%20AM.png

[2015-10-13 15:04] alexpozzani opened #5135 "md-datepicker incorrect date validation due by format"
For regions where the date format is different from "mm/dd/yyyy", when the date is manually typed in the field, the value check is done incorrectly.
For example, here in Brazil where default date format is "dd/mm/yyyy", using the demo site, when we manually inform "28/10/2015", the date is not validated. But when we type in the format "mm/dd/yyyy" (10/28/2015), the date is validated and the value

[2015-10-13 15:11] ThomasBurleson commented on #5133
@Wardormeur - we would welcome a Pull Request for this.

[2015-10-13 15:12] #5128 closed

[2015-10-13 15:16] rschmukler commented on #5119
Per this image in the spec, this is the intended behavior:

[!spec image](http://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7dlkwTUdncmtTTXM/components_menus_usage7.png)

I'd recommend setting the `width` attribute to make them not stack so perfectly.

[2015-10-13 15:36] ThomasBurleson commented on #5122
Will fix with:

[code]

[2015-10-13 15:42] #5122 closed

[2015-10-13 16:03] cssensei commented on #5132
Maybe it would be better to add support for `md-auto-shrink` & `md-auto-shrink-min` parameters directly on `md-autocomplete` directive.

[2015-10-13 16:10] rschmukler commented on #4551
@0101adm it is indeed intentional. Check out the [color palette](https://www.google.com/design/spec/style/color.html#color-color-palette) to see when font will be light or dark.

[2015-10-13 16:10] #4551 closed

[2015-10-13 16:28] epelc opened #5136 "input/select: Too dark when on dark toolbars"
inputs and selects are way too dark when on a dark toolbar. You can hardly see what you are typing and it's very hard to see the bottom line. Perhaps there should be an option to invert the colors of the input/select when it's on a dark toolbar or just make them white.

Example
![image](https://cloud.githubusercontent.com/assets/5204642/10461085/a39bf586-71a5-11e5-9a45-e9ecb39a0dd1.png)

[2015-10-13 16:30] ThomasBurleson commented on #5136
@rschmukler - is this related to recent theme changes?

[2015-10-13 16:36] tirana commented on #4450
+1 to increase priority - a lot of our users reported about it :(

[2015-10-13 16:37] tirana commented on #3200
+1. it should be same as the other input components

[2015-10-13 16:37] bseay opened #5137 "Documentation Getting Started Left Menu Bar Link Broken"
The "Getting Started" link in the left menu bar of the main documentation website does not work.

*Reproduce:*
- Navigate to https://material.angularjs.org/
- You are redirected to https://material.angularjs.org/latest/
- Click "Getting Started" in the left menu bar

*Result:*
- Url is https://material.angularjs.org/getting-started
- 404 Page Not Found

*Expected:*
- Correct url is https://materia

[2015-10-13 17:01] topherfangio commented on #4450
So, I think I finally figured out the real reason this is happening: the autocomplete was updated in 0.11 to use the virtual repeat for performance reasons. Part of this change also updated the autocomplete dropdown to set it's size based on the autocomplete's input size.

So, a quick & dirty workaround is to set the size of the input in your CSS:

[code]

This should make the autocomplete the rig

[2015-10-13 17:22] patrickmichalina commented on #4296
I have the same exact issue using iOS 9. Browser works fine but in standalone (app saved to home screen) the md-select flickers and closes immediately. If I double tap quickly it works..

[2015-10-13 17:52] tirana commented on #4450
yes. it works! thanks!

[2015-10-13 17:52] blootch commented on #5112
Hi Thomas,

No need CodePen, it happend also on the demo page : https://material.angularjs.org/latest/demo/autocomplete

To reproduce this :
1) refresh the page
2) Concentrate yourself to see the {{}}
3) Click on the first input (with states)

Note : It only happend with the first click. With second click it is ok. So, to reproduce again, refresh the page.

Do you see it ? It happend also with ng-

[2015-10-13 18:01] jelbourn commented on #3505
Lowing the priority on this since people can easily to their own media queries to tweak the font size.

[2015-10-13 18:16] germanferrero commented on #2454
I have many issues with md-content height / scroll in firefox. Right now it's making my app unusable in this browser. I will update with some plunkers in my free time. In few words, like examples shown here, md-content doesn't srcoll independently.I have fab-speed-dial in botom-right corner which it's taking out of screen, and must scroll to see it. Really need this get fixed. I desired priority g

[2015-10-13 19:03] topherfangio commented on #2454
@germanferrero I have been looking at this over the last two days and think I may have a more suitable solution.

Can you try using the latest version and adding the following CSS to see if it alleviates the issue?

[code]

This seems to fix the Firefox-specific issue mentioned here, and I believe it makes logical sense, but may have some unintended side-effects. If you see any major issues, could

[2015-10-13 19:14] germanferrero commented on #5134
My fault,  i ran into #4983  and then with docs. I would add this change to breaking changes in CHANGELOG or somewhere else there.

[2015-10-13 19:18] #5134 closed

[2015-10-13 19:27] kasiarachwal commented on #2406
For me, the issue was resolved in Chromium and FF when I hacked md-tooltip's getNearestContentElement() to stop the contained while loop iteration at the nearest ancestor md-content. Judging by a comment inside this function it is supposed to stop the loop there anyway, but it is missing the logic to check for md-content nodeName, and it, therefore, always attaches the tooltip to body, which throw

[2015-10-13 19:35] Frank3K commented on #2406
Can you share your solution / submit a PR? I'm having the same issue. Have you tested your solution in Internet Explorer?

[2015-10-13 19:36] aberenyi commented on #1206
+1

[2015-10-13 19:43] ThomasBurleson commented on #5137
@robertmesserle - FYI.

[2015-10-13 19:52] jmuharsky commented on #3436
@ThomasBurleson I'm having a similar issue with nesting, and it's a regression since 0.10.0 (the last version I used).  Looking at the CodePen you linked, I'm seeing a similar issue -- the nested items' flex heights aren't being respected.

[2015-10-13 19:55] mindontheblink opened #5139 "Selected tab icon color not white inside toolbar"
I noticed that after upgrading to 11.3, the selected tab icon color in a toolbar is no longer white.  I see this in the source code:

[code]
which is getting overwritten with
[code]
I changed this to
[code]
which seems to have resolved my problem.

[2015-10-13 19:57] ThomasBurleson commented on #5139
@rschmukler - related to theme changes ?

[2015-10-13 20:15] jelbourn commented on #5137
@ThomasBurleson I already fixed this on master. It will get taken care of automatically when we release 0.11.4 for `latest/` and I can manually fix `0.11.3`.

[2015-10-13 20:23] ThomasBurleson commented on #5137
Fixed with SAH https://github.com/angular/material/tree/v0.11.4

[2015-10-13 20:23] #5137 closed

[2015-10-13 20:55] joeyperson opened #5140 "Focused inputs with errors don't highlight label and line in red until the second time receiving focus"
When using the demo section for [input errors](https://material.angularjs.org/latest/demo/input), the first time I focus on an element, it inherits the "normal" ink color, which is incorrect. The [spec indicates](http://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bzhp5Z4wHba3ZjlmVGoyUVJOOVk/patterns_errors_userinput17.png) that when an error appears, both the

[2015-10-13 20:58] blootch commented on #5112
The issue is the same with lasted versions from rawgit + angular 1.4.7.

[2015-10-13 21:08] HBO2 opened #5141 "[bug] Datepicker 11.3"
https://github.com/angular/material/issues/5116

Something realy strange is going on. The link mentioned in 5116 is indeed going to a datepicker with a solid background, but pulling the release is not and when switching on the website from demo to demo it's simply a datepicker with a transparant background.

I hope you don't mind but this issue is not solved on chrome and firefox on the mac. The s

[2015-10-13 21:08] ThomasBurleson commented on #5112
@blootch - I visited the URL  https://material.angularjs.org/latest/demo/autocomplete, refreshed, and catpured the image below (in which I cannot see any `{{ }}`:

![screen shot 2015-10-13 at 4 04 30 pm](https://cloud.githubusercontent.com/assets/210413/10468341/23636c5e-71c4-11e5-8429-aaa7b4992fd5.png)

[2015-10-13 21:09] ThomasBurleson commented on #5112
![screen shot 2015-10-13 at 4 09 35 pm](https://cloud.githubusercontent.com/assets/210413/10468468/d2c25778-71c4-11e5-9ca0-1fc6ae10f0e0.png)

[2015-10-13 21:28] DTittel opened #5142 "ng-change on md-slider showing old value"
I've been trying to run an onChange function for a set of sliders made with ng-repeat, so the models are set based on the repeat value.

[2015-10-13 21:35] marcysutton commented on #5103
Menus have to be accessible from the keyboard (using the arrow keys), and jamming inputs into them isn't a common pattern. A dialog can take more complex content, but it might not have the animation you're after. I think the team would have to discuss whether menus can and should support more complex content. It would definitely impact the ARIA we have in place for menus, which are sort-of all-or-

[2015-10-13 21:52] chrisconover commented on #5119
The spec image shows a menu item selected and its child selected which reveals more options. I agree, that image looks fine.

If you look at my example, you'll notice child menus of "Foo" and "Bar" (siblings) overlap each other. This is not working as intended. When a user hovers off of a menu selection any of its submenus should close. In my example above, I hover off of "Foo" and onto "Bar", but

[2015-10-13 22:44] ThomasBurleson commented on #5034
Fixed in SHA a4a5644d23ee5624ea02413a6d09bce01c1dbeda

[2015-10-13 22:44] #5034 closed

[2015-10-13 23:38] marceloluissantosit opened #5143 "md-select closes automatically when clicked in iOS Simulator"
Hello, people!

I am having a problem with md-select in a simple project using Cordova and testing in iOS Simulator. When I click to open the md-select, it closes automatically. It appears to be firing the event to select an item when it is opened. I uploaded the sample in the link bellow to the issue and the problem only happen with iOS. I tested in Android and it works nicely.

https://www.dropb

[2015-10-13 23:40] blootch commented on #5112
Do you see it on the gif ?

To reproduce :
1) refresh the page
2) Click on the input
3) If you don't see at the first click, refresh again and click.

![telechargement](https://cloud.githubusercontent.com/assets/6443098/10471224/2b80c652-7214-11e5-9192-6852de7b56a9.gif)

[2015-10-14 00:03] RolandHeath commented on #5130
This issue is a duplicate of #4169

[2015-10-14 00:38] amritk commented on #5079
It should be md-no-ink-bar https://github.com/angular/material/issues/4082

[2015-10-14 00:42] amritk opened #5144 "md-tabs: Colors are broken on demo site"
They are broken in the latest iteration:
https://material.angularjs.org/0.11.4/demo/tabs
And in head:
https://material.angularjs.org/HEAD/demo/tabs
![screen shot 2015-10-13 at 5 40 34 pm](https://cloud.githubusercontent.com/assets/2039539/10472117/b04f06de-71d1-11e5-83bc-8bb8b9b8617e.png)
Tested on OSX chrome 46.0.2490.71 (64-bit)

[2015-10-14 00:51] loganfreeman opened #5145 "gulp-uglify"
[code]
Error in plugin 'gulp-uglify'
Message:
    ..\material\dist\angular-material.js: Unexpected token punc «;», expected punc «,»
Details:
    fileName: ..\material\dist\angular-material.js
    lineNumber: 22752

[2015-10-14 01:06] loganfreeman opened #5146 "failed to load angular-material.min.js in browser"
Uncaught SyntaxError: missing ) after argument list

Follow the instructions here:
[Instructions](https://github.com/angular/material/blob/master/docs/README.md#docs)
# Build & deploy docs to `dist/docs`
gulp docs

# Watch source dirs for changes and rebuild
gulp watch

# Use the built-in gulp server with live reload
gulp server

# Alternatively, install httpster globally; if not already installed

[2015-10-14 01:13] aviraldg commented on #5130
Thanks @RolandHeath, hadn't seen that.

[2015-10-14 01:13] #5130 closed

[2015-10-14 01:15] houmark commented on #5144
Can confirm this also happens within our app so this seems to be related to some of the theme based changes done recently.

[2015-10-14 01:18] houmark commented on #5118
@0101adm Did you take a look at https://material.angularjs.org/HEAD/demo/menu which can do most of what the bootstrap dropdown can do.

Alternatively https://material.angularjs.org/HEAD/demo/menuBar can be useful maybe?

[2015-10-14 01:20] germanferrero commented on #2454
@topherfangio, this is the moment when everyone claps! Im loving those three lines.
Obviously, like you said, they bring whit them some side-effects. My examples were:

Cases where i need a layout-row.flex element with a child that exceed  parent edges, something like this:
![o9mhp](https://cloud.githubusercontent.com/assets/7140856/10472426/aadc0484-71f6-11e5-8be2-505d04cb7757.png)
 White div is

[2015-10-14 02:16] dbkaplan commented on #1716
+1

[2015-10-14 02:18] pablogrisafi1975 commented on #2239
Thank you very much dohomi! Excellent solution

I also think that a couple of buttons None/All/OK (or close) as a last line would be a nice addition.... but I'm not sure that would be material enough...

[2015-10-14 02:27] ThomasBurleson commented on #5146
@jelbourn, @robertmesserle - thoughts ?

[2015-10-14 04:34] bathos commented on #5103
Agreed, md-menu is and ought to remain specific to menu's semantic meaning. I think it would be cool if the behavior of "list that expands from another clickable element" were made available more generally, but if the masses aren't clamoring for it...

[2015-10-14 04:34] #5103 closed

[2015-10-14 05:22] jelbourn commented on #5146
@ThomasBurleson Something is off with doing this particular configuration, but doing `gulp watch site` works fine, so I'd say this is a lower priority issue.

[2015-10-14 06:16] miclaus commented on #2595
In the meantime one could position the buttons right to the list items and style accordingly and maybe use `md-ink-ripple` for more fancy .

[2015-10-14 06:37] johnnyluu commented on #5104
Thanks for that! I guess I'll set explicit heights to work around it until it gets resolved.

[2015-10-14 07:19] vinaynb commented on #1895
facing the same issue with latest version of angular-material 0.11.4.
Any workarounds till it gets a permanent solution ?

[2015-10-14 08:06] corentin-gautier commented on #5106
+1

[2015-10-14 08:13] romanchak opened #5147 "ng-messages animation jump issue"
Take a look at "Top Secret Project" > "Client Email" official example:
https://material.angularjs.org/HEAD/demo/input

Type "thatsmyname@gmail.c", then remove last character.
Error message will appear fully then disappear again and then animation will start.

Issue doesn't reproduce vice versa: in case if you already see the error and then pass the validation.
"thatsmyname@gmail." > "thatsmyname@g

[2015-10-14 08:15] kmanktelowram opened #5148 "md-tabs not working in IE when compiled in directive"
I have created a code pen: http://codepen.io/anon/pen/MaEawK

You cannot switch tabs and 'md-ink-bar' is not displayed.

Tested in IE11.

Thanks!

[2015-10-14 08:15] barryvdh commented on #5143
Related: #4757, #4296

[2015-10-14 08:46] robertmesserle commented on #5131
This is resolved in 0.11.4

[2015-10-14 08:46] #5131 closed

[2015-10-14 08:48] robertmesserle commented on #2636
Closing for now - please respond with steps to recreate (ie. browser and OS information) as I cannot reproduce.

[2015-10-14 08:48] #2636 closed

[2015-10-14 08:51] Stamy commented on #5144
Noticed same issue as well. Chrome OSx.

[2015-10-14 09:25] reylibutan opened #5149 "md-menus not closing when using ng-repeat"
[code]

I am doing something like above but unfortunately, if I click a menu, it stays open even if I click other buttons.

I just want it to have the same behavior as

https://material.angularjs.org/latest/demo/menuBar

P.S. If I don't use ng-repeat (meaning, menus are static), it works fine though.

[2015-10-14 09:41] Janpot commented on #4417
In my case there's a dataset that gets items prepended at a relatively fast pace. In my case a 'pagination' with a linked-list-like behavior rather than index makes more sense. Maybe there could be some alternative virtual-repeat model that looks like:

[code]

[2015-10-14 09:44] Madd0g opened #5150 "docs(menu): missing new position modes"
All the [menu demos](https://material.angularjs.org/latest/demo/menu) show the menu covering the button that triggered it, is it possible to position it under the button? Like the menu-bar component does? I see there's some position support, but it seems like it's only left/right?

It seems to me like there should be a way to keep the button visible and in active state when menu is triggered.

Tha

[2015-10-14 09:53] barryvdh commented on #4296
Can confirm with https://material.angularjs.org/0.11.4/demo/select on the Chrome app on iOS.
Codepen: http://codepen.io/barryvdh/full/pjWgbd
Codepen example also shows the problem when you add it to the homescreen (because it's webapp-capable)

If I look closely, it seems to click on the item that is below my finger. So it counts the 'tap' 2 times, first to open it, but then uses the same tap to s

[2015-10-14 10:11] websirnik commented on #5144
+1. Introduced in 0.11.4.

[2015-10-14 10:18] smilovanovic commented on #5126
+1

Maybe even custom button in the footer of results dropdown, user should be able to pass button label and function that should be trigger on ng-click

[2015-10-14 10:26] yxh10 commented on #5105
+1, the current version of datepicker is not suitable for input date of birth. Need a better way to change year, month, date easily. Thanks!

[2015-10-14 10:29] cssensei commented on #4619
@tsdragon0404 I've submitted a [PR](https://github.com/angular/material/pull/5151) for this issue. Please check and let me know if all it's ok. Thanks!

[2015-10-14 10:52] Eden-Sun opened #5152 "md-switch with ng-true-value"
https://codepen.io/anon/pen/LpzGoV?editors=101
switch 2 did not changed with its value

[2015-10-14 10:53] dohomi commented on #5144
+1 after 0.11.4 update

[2015-10-14 10:54] ThomasBurleson commented on #5144
We are aware of this and will fix today on master.

[2015-10-14 11:00] webley commented on #4450
Thanks for finding the workaround - it's working well for me.

[2015-10-14 11:08] marceloluissantosit commented on #5143
barryvdh thank you by the information. I will subscribe notification about the other issues. I would ask you if you get a solution, post here, please.

Thank you again!

Marcelo Santos

[2015-10-14 11:49] MaximShoustin commented on #3557
Hello,

I have a bit different issue with this scenario:

If I choose chip with keyboard arrows from dropdown list and press 'Enter', **both chips are added to selected chips.**

Consider I want to add `Broccoli

`. So I type later `b`, therefore in auto-complite I see `Broccoli`. So i choose `Broccoli` and press Enter. Added `b` chip and `Broccoli`

![screen shot 2015-10-14 at 2 48 11 pm](https:/

[2015-10-14 11:58] ericman93 opened #5153 "Dialog keyHandlerFn fired after dialog close"
When options.escapeToClose is assigned to true, even if the dialog is closed and the user hits 'Esc' key, keyHanlderFn fires anyway.

[2015-10-14 12:05] celrenheit commented on #5141
Same thing is happening for me for 0.11.4:
![angular-material-bug](https://cloud.githubusercontent.com/assets/671040/10482922/62751312-727c-11e5-98ab-b1b05acf8d90.png)

For 0.11.3, the version on the website seems to work correctly.

[2015-10-14 12:42] Lorthirk opened #5155 "Tab headers visualization issues in 0.11.4"
Hello. It seems that 0.11.4 broke something with tab headers: as you can see even in the demo page for tabs, tab headers are rendered as white on white now:

![](https://files.gitter.im/angular/material/AD8K/angular-0.11.4.png)

while they were correctly shown according to the theme in 0.11.3:

![](https://files.gitter.im/angular/material/LDG5/angular-0.11.3.png)

I am aware of the breaking change

[2015-10-14 12:46] sbondor opened #5156 "Layout child items with flex of specific size no longer have padding"
The child div in the following code no longer has padding. Only layout div has padding.
[code]
Not sure if it's bug or misuse.

[2015-10-14 14:09] erikogenvik opened #5158 "mdDialog: if new dialog is opened while another is active, second one can't be hidden"
If a new dialog is opened while there's already another dialog being shown, the first one will be hidden and the new one will be shown. However, since 0.11.0 or perhaps 0.11.1 there's something which breaks the second dialog, so that when $mdDialog.hide() is called nothing happens.
The end result is a dialog that can't be removed.

I haven't had time to investigate the cause, but I've added a test

[2015-10-14 14:18] PDSBGreg commented on #5152
This isn't a bug. At least not IMO. When you use ng-true-value and ng-false-value, those are the values the switch is looking for in ng-model to determine if it is on or off. Since you're just toggling true/false, it won't turn on because the boolean true does not equal 'yup'.

If you change your pen to toggle between 'yup' and 'nope' it works. See https://codepen.io/anon/pen/LpzRzK?editors=101

[2015-10-14 14:44] cssensei commented on #4268
Maybe this could be an actual feature: ability to append unselectable results to `md-autocomplete`

[2015-10-14 14:47] blootch opened #5159 "md-tab label colors"
I do not know if it seems to be an issue but it seems to me. Look at the tab labels color.
Tested with latest version + angular 1.4.7.

![capture du 2015-10-14 16 42 43](https://cloud.githubusercontent.com/assets/6443098/10487093/a04364d0-7292-11e5-9cc1-1825195b5910.png)

[2015-10-14 14:54] raprav commented on #2886
+1

[2015-10-14 14:59] jsmylnycky commented on #5055
+1 to getting this fixed

[2015-10-14 15:00] kasiarachwal commented on #2406
It does work for me in IE.

[2015-10-14 15:02] bluebirdtech commented on #2886
Noticed how Stripe checkout does masking on the expiry date recently.  It's very nice.  All invalid keys are ignored, including spaces.  If you enter eg. 616, it would enter it as 06/16 given that 6 is not a valid value for the first digit.

[2015-10-14 15:14] #5159 closed

[2015-10-14 15:17] ThomasBurleson commented on #5155
@rschmukler - you loving life ?

[2015-10-14 15:18] ThomasBurleson commented on #5141
@jelbourn - ping.

[2015-10-14 15:43] topherfangio commented on #5039
@EladBezalel It appears to be something with the transform actually.

In order to make it prettier as it scales to larger sizes, we actually make the circular progress 100px wide/tall and then do `transform: scale(0.5)` to get it back to 50px/50px. If we change this to `scale(1)` or even `scale(0.75)`, the animation is once again smooth. I tried a bunch of different values and it started to degrad

[2015-10-14 15:45] EladBezalel commented on #5099
@djmarcus1, i spoke with the team and @RolandHeath solution is our solution as well,
or you can be even more specific with:
[code]

[2015-10-14 15:45] #5099 closed

[2015-10-14 15:47] ThomasBurleson commented on #5039
@topherfangio - we did the reverse scaling for exactly that reason:  smooth anti-aliasing at values > 50 <= 100 px. I can understand the animation being smoother with `scale(1)`. But I am completely confused why `scale(0.75)` does not degrade animation while `scale(0.5)` does.

@jelbourn, @robertmesserle - Thoughts ?

[2015-10-14 15:52] topherfangio commented on #4619
I think this may have already been fixed as I can't reproduce in 11.3/11.4 which were just released.

@cssensei Can you please re-test with the latest version and let us know if you're still having trouble? If not, could you go ahead and close your PR?

Thanks!

[2015-10-14 15:53] topherfangio commented on #4619
Indeed, should have been fixed in 9dd2e354947746279dddc5a83b263f97c26e0647. I am closing, please re-open if you still have issues.

[2015-10-14 15:53] #4619 closed

[2015-10-14 16:06] djmarcus1 commented on #5099
I understand the solutions.

imho: Since this is a ‘gotcha’, the documentation should mention that an ng-class inside a child element of md-input-container is competing with the one used internally by the md-input-container itself and offer these solutions as options.

-Thanks for your help
David

From: Elad Bezalel [mailto:notifications@github.com]
Sent: Wednesday, October 14, 2015 11:47 AM
To: a

[2015-10-14 16:17] EladBezalel commented on #5099
@djmarcus1 a PR is always welcome :)

[2015-10-14 16:18] Eden-Sun commented on #5152
thanks

[2015-10-14 16:18] #5152 closed

[2015-10-14 16:21] EladBezalel commented on #5039
well, it's smooth with `scale(.55)` also..

[2015-10-14 16:22] bvilches opened #5162 "md-autocomplete + md-min-length="0" + required fails (throws exception)"
Open the md-autocomplete demo in Code Pen and add the `required` property to it.

Now select one state and start backspacing the content. When you delete the final letter you will get an exception: "Cannot read property 'toLowerCase' of undefined".

This is happening at line 17857 in the handleQuery function:

    function handleQuery () {
        var searchText = $scope.searchText,
        term

[2015-10-14 16:25] bvilches commented on #5155
It's being a mess for me too XD

+1

[2015-10-14 17:32] topherfangio commented on #4358
@spoco2 Thanks for the update!

@zzo Any chance you have been able to look at my post above and test out the new functionality?

[2015-10-14 17:43] topherfangio commented on #4783
@edbentinck Can you please open a separate issue for this? This issue and my commit specifically dealt with how the messages were displayed/styled, so I don't think it would affect the actual operation of `md-maxlength`.

[2015-10-14 17:46] edbentinck commented on #4783
@topherfangio Actually I've since submitted a PR for this. It's a nice quick one, so if you could review it that would be great. Cheers

[2015-10-14 17:48] topherfangio commented on #4998
We'll look into adding an option for this.

In the meantime, you can just add a custom CSS class and set the label's visibility to hidden: https://codepen.io/topherfangio/pen/avLJpQ?editors=110

[2015-10-14 17:49] topherfangio commented on #4783
@edbentinck Can you post a link to the PR? I'm not seeing it in the issue history :-)

[2015-10-14 17:51] edbentinck commented on #4783
@topherfangio Sorry, should have been clearer. It's PR [`#5011`](https://github.com/angular/material/pull/5011) :)

[2015-10-14 17:55] brujo696 commented on #4287
+1

[2015-10-14 17:55] chrisconover commented on #5119
Any thoughts @rschmukler?