[2016-01-06 13:02] marino-oneshoe commented on #6529
+1

[2016-01-06 13:19] DevVersion commented on #6545
I created a fix for that, see #6558

[2016-01-06 13:23] skosno commented on #6557
BTW. maybe check if tooltip is currently visible/hidden and not trigger digest at all when setVisible is called with same value as current?

like https://github.com/angular/material/blob/master/src/components/tooltip/tooltip.js#L190 :
if(scope.visible === !!value) {
  return;
}
?

[2016-01-06 13:26] fridolin-koch opened #6559 "md-tabs: md-button ripple effect broken in Chrome"
If the `md-tabs`component is present on the page, the ripple effect is broken in Chrome 47.0.2526.106 (Mac). Latest Firefox and Safari are fine.

Expected behaviour (FF):

![expected_ff](https://cloud.githubusercontent.com/assets/1880828/12143418/be7e1aaa-b480-11e5-995f-ddb2698b1a5d.gif)

Actual behaviour (Chrome):

![actual_chrome](https://cloud.githubusercontent.com/assets/1880828/12143435/cf603

[2016-01-06 13:39] kwypchlo commented on #6557
We need additional check if the value is queued.
[code]

[2016-01-06 13:48] kvetis opened #6560 "md-contact-chips need to expose whole md-chips API"
md-contact-chips is a very pretty directive combining a pretty template for both md-chips and md-autocomplete. Unfortunately it does not expose the whole power of md-chips. The directive itself should provide most of the API the md-chips directive has. I'm talking about these attributes:
`readonly` `md-on-add` `md-on-remove` `md-on-select` `delete-button-label` `delete-hint`

Otherwise we need to

[2016-01-06 13:59] DevVersion commented on #6559
I baldy imported your code into a codepen demo. I run it on Chrome 47.0.2526.106 m (Windows) and it works perfectly. Are you running this on a Webserver or per file protocol?

![](https://i.gyazo.com/ed8b184180c1a466ea05d35389801d10.gif)

- http://codepen.io/DevVersion/pen/LGWdVb

[2016-01-06 14:11] fridolin-koch commented on #6559
Yes, it works within the Codepen iFrame. But it won't via HTTP or local file.

If you open the corresponding Codepen iFrame in a new tab it won't work.

[2016-01-06 14:25] olivero86 commented on #5883
+1

[2016-01-06 14:30] alphazhe commented on #6554
I got it .. I wasn't returning promise correctly that is the reason why I am not getting results properly. Now it is working perfectly fine.

[2016-01-06 14:33] ByJC opened #6561 "Override Roboto font with provider"
Hi everyone,

I wanted to know if there is a way to override completely the default font Roboto ?
I looked for a provider to configure the default font but it seems that the font-familly attribute is hard-coded in the scss.

Could we imagine such a service ? I know that material design specifies only Roboto and Noto but it could be a great feature.
if not do you have a way to do so in my app ? (ov

[2016-01-06 14:34] ewalobohr opened #6562 "Angular.js"
Hi,

We are looking for a Leader Front-end Engineer to work in Warsaw.

Job Description

Front End Developer Head of Technology Technology Warsaw, Poland

Looking for a skilled web and Front End developer to implement and maintain our in-houseand client-facing applications and website using HTML5, CSS3 and JavaScript. Working as part of an Agile development team, you will need to implement pixel-p

[2016-01-06 14:34] alphazhe opened #6563 "md-autocomplete dropdown height shrinks sometimes thus showing small height list with scroll bar"
Some times md-autocomplete dropdown list shrinks thus showing list with one item visible with scroll bar. Please fix this issue or tell me where I am doing wrong.

[2016-01-06 14:44] davidcui2 commented on #6555
+1. This [one](https://github.com/angular/material/issues/6458) closed only a few days ago.

[2016-01-06 15:15] DevVersion commented on #6559
Yes, I can reproduce that ;)

[2016-01-06 15:43] jarmesbarry opened #6564 "Child Alignment docs broken"
Just thought I'd let you know the interactive demo in the documentation for the layout-align seems to be broken. The header bar seems stuck on layout="row" layout-align="center center" whatever options you choose.

[2016-01-06 16:21] tiagoovieira opened #6565 "I can't create a select multiple with optgroups"
I can't create a select multiple with optgroups, I get errors. I have some options with values such as "Medical Books", "Science Fiction". Is that a problem?
![screen shot 2016-01-06 at 4 20 42 pm](https://cloud.githubusercontent.com/assets/3091256/12147566/781d6550-b491-11e5-98ef-a4d4f8594e70.png)

[code]

and in my controller

[code]

[2016-01-06 16:56] cah-alexsukhodolsky commented on #6545
Thanks for fixing it (and the quick turnaround)! I love the Angular Material library--I'm glad there's such a dedicated and talented team developing it.

[2016-01-06 16:56] 0101adm opened #6566 "md-dialog + not going fullscreen"
chrome

am 1.0.1

http://codepen.io/0101adm/pen/wMJXGJ

[2016-01-06 17:19] topherfangio commented on #6499
Can you please add a Codepen demo that shows the exact issue? I copy/pasted your code from above, but it's not really showing anything relevant.

[2016-01-06 17:22] topherfangio commented on #6475
Can you try adding `md-highlight-flags="i"` to your `<md-chips>` element? This should set the filtering to be case-insensitive.

https://material.angularjs.org/latest/api/directive/mdHighlightText

[2016-01-06 17:28] manish2535 commented on #6559
Unrelated comment - how do you guys create those nice videos or gifs?

[2016-01-06 17:29] fridolin-koch commented on #6559
https://github.com/lepht/licecap ;-)

[2016-01-06 17:35] topherfangio commented on #6449
Can you please add a little bit more information to this issue? It's very hard to understand what you mean by "copy". A usage scenario would be very helpful.

[2016-01-06 17:37] manish2535 commented on #6524
Taken from Toast Doc -

Parent container notes
The toast is positioned using absolute positioning relative to it's first non-static parent container. Thus, if the requested parent container uses static positioning, we will temporarily set it's positioning to relative while the toast is visible and reset it when the toast is hidden.

Because of this, it is usually best to ensure that the parent con

[2016-01-06 17:38] topherfangio commented on #6422
Indeed, seems like the `md-warn` CSS selector is not specific enough.

[2016-01-06 17:39] topherfangio commented on #6418
This was merged and should now be fixed. Please let us know if you're still having issues and we will reopen.

[2016-01-06 17:39] #6418 closed

[2016-01-06 17:39] topherfangio commented on #6414
This should now be fixed. Please let us know if you are still experiencing issues and we will reopen.

[2016-01-06 17:45] 4tron commented on #6499
Sorry i cant recreate it , nor find the original code , it had been a very long day. I think it had something to do with the outer flex i was using , not sure .. anyways its closed

[2016-01-06 17:45] #6499 closed

[2016-01-06 17:46] topherfangio commented on #6408
The `tabsController.js` file currently has the following line:

[code]

The `debounce()` method does not call the function unless there is at least 100ms between calls. We may be able to fix this by changing it to use `$mdUtil.throttle()` instead, but we need to investigate further.

[2016-01-06 17:48] DmitryEfimenko commented on #6384
I can neither confirm nor deny that there is an issue with excessive amounts of watchers being created, but as @epelc mentioned, limiting the amount of data that's actually used by autocomplete should be the way to go regardless of the issue with watchers.

The purpose of autocomplete is to help user to make a choice. Having more than 20 results presented to the user is simply not useful. If there

[2016-01-06 17:49] topherfangio commented on #6407
Duplicate of #6111 which we are working to address.

[2016-01-06 17:49] #6407 closed

[2016-01-06 17:53] topherfangio commented on #6350
Can you please provide a Codepen demo of the issue?

Also, these kinds of issues can typically be resolved by wrapping the inner contents of your content (`md-item-content` in this case) with a div containing the layout attributes (since the div has a display of block).

[2016-01-06 17:55] topherfangio commented on #6338
Work is currently being done in #6209 to address this.

[2016-01-06 18:08] manish2535 commented on #6559
Thanks a lot. This is so Cool!

[2016-01-06 18:11] EsunaProxy commented on #6384
@DmitryEfimenko That simply is not feasible in our use case scenario.

Also, that's not the point of md-min-length="0", which is there to allow all results to be displayed.

[2016-01-06 18:16] topherfangio commented on #6268
Try this: http://plnkr.co/edit/AhBL4E5xLdVbQb1HUkI9?p=preview

Basically, you'll need the `layout="column"` to be on the lowest div, and the parents to have the `layout-fill` directive so that they take up the proper amount of space.

Please let us know if this works for you.

[2016-01-06 18:19] DmitryEfimenko commented on #6384
@EsunaProxy
It's my understanding that `md-min-length="0"` determines how many characters user needs to type in the input before the suggestions start to show up. It does not determine how many results are to display. See [api docs](https://material.angularjs.org/latest/api/directive/mdAutocomplete)

I am very curious to hear what is your use case that would require so many suggestions to be displ

[2016-01-06 18:21] webknjaz commented on #1865
@osi-bhushankumar I've fixed @tapas4java's example, so it works now, but `<md-button>` still doesn't work.
http://plnkr.co/edit/0Rh5sYVeqFZIDoLgIXSw?p=preview

[2016-01-06 18:25] osi-bhushankumar commented on #1865
@webknjaz , You have used https://github.com/urish/angular2-material-build this library. But, 'this is no longer maintained'.

See this, https://github.com/urish/angular2-material-build/issues/7 .

[2016-01-06 18:29] DevVersion commented on #6559
@fridolin-koch - Please run the `iframe` of this [codepen](http://codepen.io/DevVersion/pen/GoWdmb).
And then you can remove the sidenav - and you see the ripple is working. I don't think it's related to the performance because the Timeline shows nothing :).

But if we analyze the `ripple container`, we can see it's aligned correctly.
Also the ripple service is called correctly.

And I need to neg

[2016-01-06 18:31] topherfangio commented on #6239
The tabs controller exposes the `updateInkBarStyles()` method which you can call once the x3d scene has rendered. I am not familiar with x3d, so another alternative is to use `$timeout` if you don't have some sort of x3d `onRender()` callback.

Aside from this, I am not sure we can provide support. You may have better luck if you post this on the [forums](https://groups.google.com/forum/#!forum/ng

[2016-01-06 18:31] #6239 closed

[2016-01-06 18:33] topherfangio commented on #6216
We have been discussing with the team whether we intend to support the height changes at smaller screen resolutions or not. I believe this toolbar support was added before we added the `-xs` breakpoint which is why it changes back to the large size on the smallest breakpoint.

[2016-01-06 18:34] topherfangio commented on #6165
Can you please provide a Codepen showing the issue with the white background so that we can look for a quick solution?

[2016-01-06 18:35] topherfangio commented on #6106
Can you please provide a minimal Codepen which demonstrates the issue so that we can investigate further?

[2016-01-06 18:38] topherfangio commented on #6095
If you are still experiencing issues (i.e. since we released 1.0.1), please provide a minimal Codepen demo of the issue and we will reopen this issue and investigate.

[2016-01-06 18:38] #6095 closed

[2016-01-06 18:39] DevVersion commented on #6564
Fixed in #6567

[2016-01-06 18:40] topherfangio commented on #6045
At this point, I think we are pretty much set in how this component is used since we have already released 1.0, however, we will definitely consider this for the 2.0 release.

[2016-01-06 18:49] topherfangio commented on #5963
I believe this is simply an issue with the demo because it uses `md-autohide="false"` on the tooltip and binds the `md-visible` to a scope variable.

It looks like there is some conflicting action in the demo between the scope variable and the auto-hiding. If you set `md-autohide="true"`, it gives a slightly different functionality, but fixes the issue you are mentioning.

[2016-01-06 18:51] topherfangio commented on #5960
If you can provide a demo for this (using the latest 1.x release), we would be happy to reopen this issue and investigate further.

[2016-01-06 18:51] #5960 closed

[2016-01-06 19:01] topherfangio commented on #5815
Seems to be a CSS specificity issue with the disabled not being specific enough.

[2016-01-06 19:17] topherfangio commented on #5789
This appears to be caused by the fact that the scale is set to `0.1` instead of `0.0`. I *think* we can revert this back to `0.0` now that another bug has been fixed, but I need to double-check.

[2016-01-06 19:21] topherfangio commented on #5775
I have marked this as a 2.0 consideration because I believe we need to refactor how the speed dial/toolbar work to be more generic. I have some ideas on this, but since it is a large undertaking, we definitely shouldn't do it in a 1.x release (IMO).

[2016-01-06 19:26] topherfangio commented on #5709
At this point, I don't believe we can easily support this request for 1.x.

We are, however, looking at adding a bit more functionality to chips (via #5799) so that you can use the workaround without necessarily having to use the `readonly` attribute which causes issues for some users.

In the meantime, I am going to mark this for consideration in 2.0 so that we will remember to take this into acc

[2016-01-06 19:28] topherfangio commented on #5626
Closing in favor of #5709.

[2016-01-06 19:28] #5626 closed

[2016-01-06 19:31] topherfangio commented on #5610
Duplicate of #4746.

[2016-01-06 19:31] #5610 closed

[2016-01-06 19:41] topherfangio commented on #5341
Re-assigned to Elad since he has been managing the associated PR which looks ready to go.

[2016-01-06 19:42] topherfangio commented on #5263
Can you please provide a Codepen showing the issue. It is very difficult to track down issues without an example of how it is failing :smile:

[2016-01-06 19:46] topherfangio commented on #5220
Thanks for the video, verified that this is happening on desktop and iOS Safari with latest version.

[2016-01-06 19:47] topherfangio commented on #5069
Duplicate of #5520.

[2016-01-06 19:47] #5069 closed

[2016-01-06 19:49] cranesandcaff commented on #6566
Can confirm, the docs say adding the property results in the `md-dialog-fullscreen` class (or similar) being applied, I've tried using both the property and directly adding the class to my `md-dialog` element.

[2016-01-06 19:50] topherfangio commented on #4885
Can you please let us know if this is still an issue after upgrading to 1.0.1?

[2016-01-06 19:52] topherfangio commented on #4830
Can you please let us know if this is still an issue after upgrading to 1.0.1? If so, can you please provide a Codepen as an example?

[2016-01-06 19:58] rochapablo commented on #6350
@topherfangio, I'm sorry.

I'm working in another project. You can close this issue and if the problem occurs I share a demo.

Thank you for your time.

[2016-01-06 20:06] topherfangio commented on #6350
@rochapablo Thanks! And good luck on your other project!

[2016-01-06 20:06] #6350 closed

[2016-01-06 20:09] DmitryEfimenko opened #6568 "md-autocomplete: ignores md-min-length="0""
**ngMaterial version:** 1.0.4
**Browsers:** all
**Reproduce the Error:** [Codepen](http://codepen.io/anon/pen/QypBew?editors=101)
**Related Issues:** #5678 might be relevant
**Overview of the Issue:**
There is corner case when the `md-min-length="0"` and the initial value of `md-search-text` is set to empty string.
The expected behavior is that once focused there would be some suggestions displaye

[2016-01-06 21:07] webmatze commented on #5789
Yes, setting **scale** to ``0.0`` seems to fix it.
Could not find any other problems with that.

[2016-01-06 21:14] gleno opened #6569 "Somewhere in md-select scope picks up outside parameters"
opts, in the following snippet (taken from 1.0.1) seems to pickup 'mode' from above scope, and get confused. For now, I'll workaround with ng-init="mode = null" on the parent md-input-container.

    self.selectedLabels = function(opts) {
      opts = opts || {};
      var mode = opts.mode || 'html';
      var selectedOptionEls = $mdUtil.nodesToArray($element[0].querySelectorAll('md-option[selecte

[2016-01-06 21:24] a2bsoftware commented on #6233
+1 on Chrome and Chrome Android.
Goes back to normal when the Select element loses focus.

[2016-01-06 21:41] tonyeung commented on #6111
+1 spent an entire day trying to debug this. Should have just checked. T.T

[2016-01-06 21:57] wcjr commented on #6045
ok, thanks for the consideration.

[2016-01-06 22:05] BIGbuu commented on #6566
[code]
md-dialog.md-dialog-fullscreen work on screen < 960px.
Just resize you window or owerride this style.

[2016-01-06 22:37] topherfangio commented on #5789
The original problem was that using a speed dial action to open a dialog was throwing an error because it couldn't find the proper fab to go back to (because the scale was 0).

I think that has been fixed, but need to check first :smile:

[2016-01-07 00:01] mpiasta-ca commented on #6399
I just came across this issue too. Thought I was doing something wrong in my project. So then I went to angular-material demo and replicated it: https://material.angularjs.org/latest/demo/input

Scroll to "Errors" section:
# In the "Description" field, enter a really long string like "This is a long string that exceeds the maximum"
# Now select-all and backspace/delete. Then blur from the field.
#

[2016-01-07 00:11] FrancescoRizzi commented on #6399
But in the same demo block ("Errors"), the very next sample field ("Client Name", required) seems to work?
eg:
focus on it
blur out of it
required error appears (as expected)
focus on it
enter any value
required error already disappear (as expected)
you can even blur out and it's fine.

Could the problem be due to the char counter that appears in both the error scenarios (original code pen Test fi

[2016-01-07 00:45] stunaz commented on #6566
https://github.com/angular/material/issues/5924

[2016-01-07 00:47] a2bsoftware commented on #5897
+1

[2016-01-07 01:03] #6566 closed

[2016-01-07 02:14] bojancai commented on #6086
+1

[2016-01-07 02:17] bojancai commented on #5043
+1

[2016-01-07 06:20] RolandHeath commented on #6568
If you delete the line where you set `md-search-text` from your controller, this works as expected.
In your codepen, this is line 13.
`self.searchText    = '';`

In your codepen, I followed these steps, looking at `self.searchText` in the chrome developer tools.

1. Focus the autocomplete field.
2. Type something.
3. Backspace everything you typed.

`self.searchText` is set then set to undefined,

[2016-01-07 06:31] RolandHeath commented on #6565
Have you tried changing `ng-label="{{category.category}}"` to `label="{{category.category}}"`?
I couldn't find ngLabel in the angular docs, I'm inclined to think that might be your problem.

[2016-01-07 06:37] DmitryEfimenko commented on #6568
of course it'll work if I delete the line 13. It would be the same as setting it to undefined, which does not equal to empty string (which is the corner case I described).

I need suggestions to show up right away, when the input gets focus. Not after I type something. That's why I set `md-min-length="0"` and expect this behavior. And it does behave like this unless that corner case with the empty

[2016-01-07 06:57] kalokamgit commented on #5896
+1

[2016-01-07 06:59] RolandHeath commented on #6568
That's fair, this is definitely not the expected behaviour.

[2016-01-07 07:29] alexkb opened #6571 "md-tabs, md-dynamic-height and navigation to anchors"
When using `md-tabs` with the `md-dynamic-height` attribute, my tabs auto size and look great. However, if I have anchor links to parts within the the tab contents, and the user clicks on an anchor link, the tab content seems to all move up and hides the tab navigation. Has anyone else experienced this and know of a work around?

I'm using AngularJS v1.4.8 with AngularMaterial v1.0.0-rc7.

[2016-01-07 07:31] alexkb commented on #6571
Here is a codepen of the issue: http://codepen.io/alexkb/pen/LGWaXz

[2016-01-07 08:48] fstiffo opened #6573 "md-card demo does not work on iOS devices"
The md-card demo on Material Angular site
https://material.angularjs.org/latest/demo/card
does not work on iOS devices safari browser (tested on various from iOS 8 to the latest iOS 9.2) and iPhone 5, 5S, 6, 6 Plus

[2016-01-07 08:56] fridolin-koch commented on #6559
Here is an example without the sidebar - same issue - http://preview.fkse.io/md/nosidebar.html
As you found out, it's obviously not a performance issue. Despite that, it's somehow related to the `md-tabs` component. Same code, but without tabs http://preview.fkse.io/md/sidebar-notabs.html -> working

I tested many combinations in my app, the bug only occurred if the `md-tabs` component was present

[2016-01-07 09:20] vapits commented on #2456
I have exactly the same problem with version 1.0.1 & master also.

[2016-01-07 10:54] gvorster commented on #6573
Tried this as well on iPhone 5s IOS 9.2 and md-card is not shown in Safari.

[2016-01-07 11:15] blackxored commented on #6106
I've since discovered that it only happens when you have auto scroll enabled in your container, so I'm not really sure it's a core issue per se and I'd be more interested in a workaround. Thanks.

[2016-01-07 12:46] DevVersion commented on #6559
That's really strange!, If I run my version and without the tabs directive, the ripple still won't work. But if I remove the sidenav directive it will work.

We need to collect information. So in my case it only works if there is no `locked sidenav` present.

[2016-01-07 13:11] tiagoovieira commented on #6565
I tried with both, with no success

[2016-01-07 13:36] camden-kid commented on #6414
There is one problem I recently spotted on this page https://material.angularjs.org/latest/layout/alignment but it's not related to CodePen issues. After clicking on the View Source icon in the demo the markup doesn't reflect the options selected and the expanded markup display obscures some of the options.

[2016-01-07 13:43] averas opened #6574 "Virtual Repeat does not like top/bottom margins on its child elements"
If you take the example on Virtual Repeat - Deferred Loading from the Angular Material page and add a margin to the repeated elements the scrolling becomes erratic after one has scrolled to the end.  Even though it seems that the elements don't keep scrolling, the actual scrolling position keeps increasing so that when you want to scroll up again you have to scroll the same distance you tried to s

[2016-01-07 13:45] vapits opened #6575 "mdDialog promise is not executing"
So the thing is that the ````.then```` is not returning anything not even the cancelation.

I've got this function in my app:
[code]
And in my Dialog Controller:
[code]

And i call it by:
[code]

Any ideas what's happening here?

[2016-01-07 13:58] idostern commented on #1217
+1

[2016-01-07 14:08] DevVersion commented on #6575
I tried to reproduce that in a codepen demo, and it worked. See here http://codepen.io/DevVersion/pen/QypeVG?editors=101

[2016-01-07 14:10] vapits commented on #6575
@DevVersion Well my bad, didn't mentioned that if i use the templateUrl (a file) then it doesn't.

[2016-01-07 14:16] karolkochan commented on #5815
+1

[2016-01-07 14:21] #6575 closed

[2016-01-07 14:52] 91K00 commented on #3939
+1
Fully agree with bluebirdtech.
Clear must be present like in select.

Thanks

[2016-01-07 14:52] bouwaccount commented on #6162
This is propably because of the built-in delay (300ms) in mobile browsers. A library we use in some our projects is FastClick. This eliminates the delay and makes your website / web application feel much more responsive.

FastClick library: https://ftlabs.github.io/fastclick/

[2016-01-07 14:56] 91K00 commented on #2727
+1 Fully agree with @steegi
Please allow to display the clear button if needed

[2016-01-07 14:58] softdevelophd commented on #4015
@GlennButera could you please tell how to use it? Thanks

[2016-01-07 15:31] super-coder commented on #4379
@Thiago-Medeiros just to mention that your solution doesn't seem to work
would be nice to have a transparent option

[2016-01-07 15:34] topherfangio commented on #6414
@camden-kid Can you please open a separate issue for this so that we can track it and fix it?

[2016-01-07 15:35] topherfangio commented on #6106
Okay, we can definitely look at providing a workaround, but we will need a demo to test against so that we make sure we properly understand your problem.

Alternatively, you might post a message on the forums to see if anyone else has already come up with a workaround.

[2016-01-07 15:43] camden-kid opened #6576 "Online docs - Child Alignment demo not working correctly"
Related to https://material.angularjs.org/latest/layout/alignment.

After clicking on the View Source icon in the demo the markup doesn't reflect the options selected and the expanded markup display obscures some of the options.

[2016-01-07 15:43] chrisryer commented on #4688
To change the colour of the tab ripples & ink bars in material-design: 1.0.1 ( potentially close versions too )
/* override default styles of material design */
md-tabs.md-accent md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-ink-bar{
	color:#60c9f8; /* this changes the colour of the ripple */
	background-color:#60c9f8;  /* this changes the colour of the ink bar */
}

[2016-01-07 16:04] cah-alexsukhodolsky commented on #1217
+1

[2016-01-07 16:10] objecteer commented on #6407
After investigation, I suspected that the problem was from jqLite. So, I added JQuery to my page and the problem was solved.

[2016-01-07 16:11] mckenzielong commented on #6576
dupe of #6564

[2016-01-07 16:12] cosecantTW commented on #6086
+1

[2016-01-07 16:15] objecteer commented on #6111
I think the problem was from jqLite. So, I added JQuery to my main page and the problem was solved.

[2016-01-07 16:27] tonyeung commented on #6111
@objecteer  i have the full version of jquery also.

[2016-01-07 16:33] Anaphase commented on #6560
I'd also love to be able to use a custom chip template with md-contact-chips the same way you can with normal md-chips. My issue is that when you add multiple new contacts, they all display the default "New Contact" name instead of the unique email, which is preferable.

[2016-01-07 17:25] DevVersion commented on #6576
@camden-kid - @mckenzielong is right that's a dupe and is it's already fixed in PR #6567

[2016-01-07 17:27] DevVersion commented on #6573
Yes, I can reproduce that - it seems to be related to the `flex-50` class, I debugged the IOS Safari, and it worked if I remove the `flex-50` class.

[2016-01-07 17:41] aeslinger0 opened #6577 "$mdMedia giving wrong boolean values"
It seems like a race condition to me. Here's the plunker: https://plnkr.co/edit/T0RfECzDyGkaWTpxsN9T?p=preview

Just resize the window a few times and you'll see that sometimes you have 'true' for multiple sizes and sometimes you'll get 'false' for everything.

[2016-01-07 17:47] foote-Greg commented on #2950
+1  Desktop apps desperately need this functionality...

[2016-01-07 17:57] mario-aleo opened #6578 "md-input-container keep focused/open after touch outside"
An md-input-container stay focused ('clicked') when touch outside it.

Somewhere, in the older releases the touch outside was closing the interaction with the md-input-container, but now, if you touch on an md-input-container and than touch outside it, it still focused/click and on devices the touch outside event open the keyboard.

You can see it here: http://codepen.io/bgoerdt/pen/wMgZzK
Just us

[2016-01-07 18:22] webknjaz commented on #1865
Guys, I've found ng2 fork: https://github.com/justindujardin/ng2-material

[2016-01-07 18:29] calebegg opened #6580 "Autocomplete options are not accessible to the user on JAWS + Firefox"
Only the first option can be selected on JAWS, using the autocomplete demo page, for example. The later options are not selectable.

[2016-01-07 18:39] calebegg opened #6581 "Pressing esc while in autocomplete loses focus"
If you press 'esc' while typing in an autocomplete field, focus is lost (goes to the top of the page).

This is on Chrome/Ubuntu

[2016-01-07 19:02] mario-aleo commented on #6578
I've found an work around, that is to comment the line 2114:
"document.addEventListener('mousedown', mouseInputHijacker, true);"

[2016-01-07 19:02] calebegg opened #6582 "Holding down backspace to clear autocomplete causes page to go back (JAWS/Firefox)"
1. Enable JAWS
2. Load [the autocomplete demo page](https://material.angularjs.org/HEAD/demo/autocomplete)
3. Check the "simulate query"
4. Copy a long string from somewhere (a few words)
5. Paste it into the autocomplete box (this is needed to prevent the next step from hitting the cache)
6. Hold down backspace to clear the field

Usually (not 100% of the time), you'll get taken back to the previ

[2016-01-07 19:03] dptinor commented on #5043
@scspijker Exactly that was the problem I had, the immediate solution was not to use the md-datepicker.

For correct operation, the manual input should not be ignored by the model.
Also it would be a plus to have the option of restricting the manual input.

[2016-01-07 19:11] jelbourn commented on #1865
You can follow the development of the Angular 2 Material components on our repo: https://github.com/angular/material2

[2016-01-07 19:11] erslater commented on #6096
This is almost always required in my apps.  I have been using a regular menu with separators but in some cases the list just gets too long and looks sloppy.  Would love to see this functionality.

[2016-01-07 19:22] acondiff commented on #6096
Here is a directive I wrote for now...

[code]

CSS
[code]

HTML (usage)
[code]

Hope this helps!

[2016-01-07 19:26] ssj3sunny commented on #6563
+1

[2016-01-07 20:01] skosno commented on #6460
Hi,

Not really sure what seems to be a problem? Here is a very simple codepen:
http://codepen.io/anon/pen/pgPjzq

If I understand correctly it is doing exactly what you need?
(of course this simple example works because model is simple string value, if array would be of objects you would have to initialize your model as reference to the same object array is referring). Documentation is doing this

[2016-01-07 20:31] AntonKL opened #6583 "Everything in bold?"
Since ```0.11.0``` almost everything seems to be very bold-ish. Even text in a p-tag seems to be in bold. Is this something in the specs I'm not aware about? In my eyes it looks like everything is put emphasis on.

## 0.10.1
![0 10 1](https://cloud.githubusercontent.com/assets/1410781/12181997/d1cb9b22-b585-11e5-9208-804e5cfdd109.jpg)

## 0.11.0
![0 11 0](https://cloud.githubusercontent.com/assets

[2016-01-07 21:08] 0101adm commented on #6578
related / dup of #5365

[2016-01-07 21:16] Visionstar commented on #4233
+1

[2016-01-07 21:42] cadilhac opened #6584 "No CDN for 1.0.1 ?"
I don't know the policy for publishing to the CDN, so is there a plan to put each new version on the CDN? I am missing the 1.0.1 release and I hope to find 1.0.2 there with a fix I need too.
Thanks

[2016-01-07 21:43] hitigon opened #6585 "md-scroll-mask might not take effect in time with md-autocomplete"
There would be a small window when search in md-autocomplete and make a page scrolling that causes md-autocomplete suggestion box's position changed with scrolling. There is a screenshot:

<img width="927" alt="screen shot 2016-01-07 at 1 30 28 pm" src="https://cloud.githubusercontent.com/assets/493756/12183343/27b587f2-b543-11e5-89e6-ec34b8edaf58.png">

[2016-01-07 22:12] DevVersion commented on #6584
Hello,

I'm not sure about this `CDN` but you should be able to use this one too, its also used by all codepen demos from the docs.

`http://cdn.rawgit.com/angular/bower-material/v1.0.1/angular-material.css`
`http://cdn.rawgit.com/angular/bower-material/v1.0.1/angular-material.js`

[2016-01-07 22:13] cadilhac opened #6587 "Invalid input does not disappear with ng-show"
In a form, I have one checkbox to show or hide some other fields (with ng-show). If all fields are valid and the expression in the ngshow becomes false, then the fields are correctly hidden. However, if one of the fields becomes invalid, it does not become hidden. Note that if the field is invalid at first, it can be hidden (but make it valid and then invalid later and the problen happens).

http:

[2016-01-07 22:14] DevVersion commented on #6583
What browser are you using?

[2016-01-07 22:16] cadilhac commented on #6584
Great, thank you.

[2016-01-07 22:16] #6584 closed

[2016-01-07 22:31] wallw-bits opened #6588 "Percentage flex in nested layout containers"
Using percentage flex items like flex="30" do not work properly when nested in layout containers. The [Codepen here](http://codepen.io/anon/pen/QyvyMy) shows the problem on the left and the expected heights of the blue and green divs on the right.

[2016-01-07 22:56] DevVersion commented on #5890
Its fixed in #6589

[2016-01-07 22:56] DevVersion commented on #5230
Fixes in #6589

[2016-01-07 22:56] DevVersion commented on #6585
It is fixed in #6589

[2016-01-07 23:13] jill8668 commented on #2320
It would be nice to have this feature, and it is especially useful when the editing works with autocomplete.

[2016-01-07 23:14] AntonKL commented on #6583
Version 47.0.2526.106 (64-bit) @ OSX 10.11.2 (El Capitan).

Same problem applies to Safari.

[2016-01-07 23:26] #5813 closed

[2016-01-08 00:26] pablogrisafi1975 opened #6591 "datepicker inconsistent with select when navigating with keyboard"
If you navigate via tab and a select gets focus you can open the dropdown using the down arrow in the keyboard. Once you open it, you can navigate with keys and select with space or enter, you close with scape, esc or tab. There is no way to focus in the down arrow in the right.

If you access a datepicker you can (and need to) focus in the down  arrow to open the dropdown. You can navigate with l

[2016-01-08 00:49] RolandHeath commented on #6574
Related/duplicate of #4169

[2016-01-08 00:51] pablogrisafi1975 opened #6592 "select multiple options no background when focused and selected"
if you use a select  multiple and try to navigate using the keyboard, you'll see that the options have a nice light grey background when not selected, and turn blue with no background when selected using keyboard. Selected options are always blue on white, making it impossible to know the option you are focused right now.

A simple hack to solve it

    md-select-menu md-option:focus {
    	backgr

[2016-01-08 02:00] mpiasta-ca commented on #6399
@FrancescoRizzi, the issue appears when there are multiple ng-message error cases for an input field. The "Client Name" field only has a single ng-message error case. The issue happens when one ng-message is removed/hidden, and another ng-message block is supposed to be displayed; but in this case, the subsequent ng-message block is never displayed.

[2016-01-08 05:06] RolandHeath commented on #5286
This issue seems to be solved in the latest version

[2016-01-08 05:06] #5286 closed

[2016-01-08 05:44] wbgbg commented on #6217
I met the same problem in my electron app(chrome 47.0.2526.73).And flex="initial" works for me.Thanks!

[2016-01-08 08:08] Lasto13 commented on #4325
botanoc this didnt work for me ... browser didnt accept color property (alough it accepted others) so i had to go through document.getElementsByTagName('md-ink-bar')[0].style.color = '#f00';

[2016-01-08 08:10] thanhphat opened #6594 "md-fab-speed-dial: does not animate the first time"
I use angular material 1.0.1.
The fab speed dial can not view good in the first time.
Here is my code
    html
<md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-svg-src="assets/svg/ic_add_white_36px.svg" aria-label="menu"></md-icon>
        </md-button>
    </md-fab-tr

[2016-01-08 09:13] phamtuananh791994 commented on #6563
+1

[2016-01-08 10:03] tolemac commented on #6253
I copy here my temporal solution, it works fine:
[code]

[2016-01-08 11:28] 91K00 commented on #1780
For me it's not working with version 1.0.1, am I the only one ?

http://codepen.io/anon/pen/obWZqP

[2016-01-08 11:34] 91K00 commented on #6393
Ok great! Thanks

[2016-01-08 11:39] reinos opened #6595 "Speed Dial start with an open list"
I setup a simple Speed Dials code pen here http://codepen.io/anon/pen/JGNWYr where you see that the list start open instead of closed...

Any idea how i can start with a closed list.

[2016-01-08 12:29] kvetis commented on #6560
@Anaphase md-contact-chips is a more-or-less just two custom templates put together. One is the chips template and the other is the autocomplete template. You can use the md-contact-chips directive template in `src/components/chips/js/contactChipsDirective.js` and customize it your way.

[2016-01-08 12:40] simonh1000 commented on #6440
@rsteenbergen thanks - that helped me

[2016-01-08 13:22] bonatoc commented on #4325
@Lasto13 — Things may have changed, my comment was about pre-1.0.0 version.
Use Chrome Dev Tools, select the ink bar, and see what css is declared.
You should be able to overwrite it in your CSS file by targeting it precisely.

Furthermore, it's not the "color" property, it's "background" (or "background-color").
See this pen, which is a fork of the official AM tabs Codepen demo : http://codepen.i

[2016-01-08 14:16] cadilhac commented on #3655
I had the same thinking about density. Right now, I design my app essentially for the desktop. When I create a modal dialog it becomes quickly very long because of the relatively low density. I was looking at how to change the density, hoping to find a sass variable but found nothing. I guess there is no option yet...

As a workaround I'm adding a scrollbar but I don't even know if this is in the

[2016-01-08 15:23] Wardormeur opened #6596 "[Documentation] $mdMenu should be listed as a service"
https://material.angularjs.org/latest/api/directive/mdMenu
"You can then close the menu programatically by injecting $mdMenu and calling $mdMenu.hide()."
As it, it's a service and should be listed as one in the side menu :)
Thanks !

[2016-01-08 16:07] davidcui2 opened #6597 "md-grid-tile with ng-show still occupy the space"
Tried to search two keywords `md-grid-tile` and `ng-show` together and get no existing issue.

I don't know whether the blank space left is intended or not.

Super simple [pen](http://codepen.io/zhc/pen/qbmXoK) available.

[2016-01-08 16:21] kabsila commented on #6495
I had the same problem

[2016-01-08 16:51] smurugavel commented on #6581
Yes. I see this problem as well

[2016-01-08 17:04] Anaphase commented on #6560
Yeah, I know. It would just be nice to be able to use md-contact-chips and also specify a custom md-chip-template instead of using the hardcoded template.

[2016-01-08 17:32] Wardormeur commented on #6321
Agreed, have the same issue on Adnroid default browser.
I suspect the size is based upon the total size instead of the available size (when keyboard is open), and once the keyboard disappears, doesn't resize.

[2016-01-08 18:22] charlietfl commented on #4940
Similar issue using md-tabs with md-dynamic-height inside md-dialog IE 11. My customer is using WIndows 8.1 and tabs are causing IE 11 to freeze and completely lock up OS to the point of hard re-boot.

Am using angular 1.4.8 and material 1.01

I can not reproduce unfortunately using VirtualBox and IE 11 in Windows 8.1.
Oddly the same config seems to work fine in IE10 as well as  IE11 in Windows 7

[2016-01-08 18:39] pames commented on #980
One other issue related to injecting <style> tags - this hinders an application's ability to use Content Security Policy (e.g. those that use ng-csp).  This requires adding 'unsafe-inline' to the style-src directive, which isn't particularly ideal.

[2016-01-08 18:52] GavinPalmer1984 commented on #6197
+1
nice GIF by the way (never seen that used in a bug report and I am curious how you did it)

[2016-01-08 19:31] davetclark opened #6598 "md-datepicker doesn't support $touched in a form"
md-datepicker should be fully supported by forms. Using the control doesn't play nicely with angular form controls like $touched.

http://codepen.io/anon/pen/XXRVmp

[2016-01-08 19:54] rochapablo commented on #2452
+1

[2016-01-08 20:29] chrishawn commented on #3990
add type="submit" to your md-button and it worked for me

[2016-01-08 20:31] nestorneto commented on #6595
same here.

[2016-01-08 20:36] manish2535 opened #6599 "Styling md-autocomplete"
My App uses multiple md-autocomplete. One md-virtual-repeat-container is created for each md-autocomplete and inserted at the end of the body.

I want to style the position of each md-virtual-repeat-container differently but since there is no way for me to pass a special class or id to this element using the directive, I am not able to do this.

I can use the ordering to my advantage and use the C

[2016-01-08 21:20] STOpandthink commented on #5963
Thanks, Topher, looks like that does fix that issue.

On Wed, Jan 6, 2016 at 10:50 AM Topher Fangio <notifications@github.com>
wrote:

[2016-01-08 21:24] naomiblack opened #6600 "material.angularjs.org needs a site footer"
We need a footer on all pages of the material.angularjs.org site with the following content:

Powered by Google ©2014-2016. Code licensed under the [MIT License](https://github.com/angular/material/blob/master/LICENSE). Documentation licensed under [CC BY 4.0](http://creativecommons.org/licenses/by/4.0/).

[2016-01-08 21:30] naomiblack opened #6601 "update codepen examples to include MIT License"
All of our codepen examples must include the following statement at the end of each file:

[code]
It might be nice to just create a site-level alias for http://material.angularjs.org/license that points to the github page for simplicity

(related: https://github.com/angular/material/issues/6600)

[2016-01-08 21:43] jelbourn opened #6602 "Inline <style> elements violates style-src Content Security Policy"
See https://developer.mozilla.org/en-US/docs/Web/Security/CSP/CSP_policy_directives#style-src

In order to address this, there would need to be build-time tooling to let people generate their own theme css outputs.

[2016-01-08 21:58] ThomasBurleson commented on #6601
This will be appended to the source in the HTML source pane:

[code]

[2016-01-08 21:59] naomiblack commented on #6601
should also appear in any js and css files that we provide

[2016-01-08 22:16] ThomasBurleson commented on #6601
I see. I will amend and fix that also.

[2016-01-08 22:35] chrisguerrero commented on #2943
+1

[2016-01-09 00:05] mattfysh opened #6604 "Unit testing with angular-material"
Attempting to unit test a directive which uses `$mdDialog.show()`, and decided to keep the real dialog implementation in place as the API is too large to stub. Have run into a couple of problems, here's what I have so far:

[code]
A couple of issues with this:
1. The rootScope/timeout pattern needs to be repeated after each interaction with the dialog's controls
2. md-option's are not added to $ro

[2016-01-09 00:12] naomiblack commented on #6601
Is there a propagation delay? When I click the Live Demo link for autocomplete, I don't see our boilerplate in the codepen source files that are live

[2016-01-09 00:55] 0101adm opened #6605 "dialogService + typings"
do any of you maintain typings for DefinitelyTyped?

if so, dialogservice interface should have hide, cancel, etc running a promise.

[code]

should be

[code]

[2016-01-09 02:28] #6600 closed

[2016-01-09 09:54] EladBezalel commented on #5775
I do agree with you, on 2.0 we should be able to have versatile animated components, as the animations is a large part of the material design

[2016-01-09 09:58] EladBezalel commented on #6524
@manish2535 thanks for your comment, you described it well :)

[2016-01-09 09:58] #6524 closed

[2016-01-09 10:15] lakshmikant4u commented on #3244
It would be great to see this coming in new release?

[2016-01-09 10:22] EladBezalel commented on #6466
@marty331 can you please provide a codepen so i can investigate it more?

[2016-01-09 10:23] EladBezalel commented on #6473
@DevVersion i'd suggest you would add this to your PR

[2016-01-09 10:24] EladBezalel commented on #6237
@angrybakon Can you please provide a code pen so we can investigate this more?

[2016-01-09 10:27] EladBezalel commented on #6373
@mandekisd can you please provide a codepen so we can investigate more?

[2016-01-09 10:28] EladBezalel commented on #6388
@shak18 can you please provide a codepen so we can investigate more?

[2016-01-09 10:30] #5625 closed

[2016-01-09 10:40] EladBezalel commented on #6263
dup #5216

[2016-01-09 10:40] #6263 closed

[2016-01-09 10:41] EladBezalel commented on #5147
@topherfangio do you mind that this issue? i think you're the most related person to this issue right now

[2016-01-09 10:43] EladBezalel commented on #4642
@topherfangio mind taking this also ? :smile:

[2016-01-09 10:43] nicgirault commented on #6312
:+1:

[2016-01-09 10:52] EladBezalel commented on #4893
Can you please provide a codepen with the latest ngMaterial version if it's still occurring?

[2016-01-09 10:54] 0101adm commented on #6473
@DevVersion yep :+1:

[2016-01-09 10:54] EladBezalel commented on #6119
@shfaizanali can you please provide a codepen so we can investigate more?

[2016-01-09 10:56] shfaizanali commented on #6119
Hey sorry, I was using it in conjunction with Ionic and Ionic's CSS was over riding material design css

[2016-01-09 10:56] #6119 closed

[2016-01-09 10:57] EladBezalel commented on #5796
@topherfangio moved this to your plate cause you're in charge on the ongoing PR

[2016-01-09 11:04] EladBezalel commented on #5975
dup #5834

[2016-01-09 11:04] #5975 closed

[2016-01-09 11:13] DevVersion commented on #6473
@EladBezalel, @0101adm - It's a now an option in the interim element

[2016-01-09 11:24] EladBezalel commented on #5536
@sunojvijayan can you please provide a codepen so we can investigate it more?

[2016-01-09 11:25] EladBezalel commented on #5588
Not happening on master

[2016-01-09 11:25] #5588 closed

[2016-01-09 11:26] EladBezalel commented on #5672
@robertmesserle moving this to your plate as you're on the PR that fixes it

[2016-01-09 11:29] EladBezalel commented on #5524
@ivan7237d is it still happening on master?

[2016-01-09 11:30] EladBezalel commented on #5290
@marcoocram can you please provide a codepen so we can investigate more?

[2016-01-09 11:31] EladBezalel commented on #5321
@topherfangio is this fixed?

[2016-01-09 11:32] EladBezalel commented on #5282
@faraazc Can you provide a codepen so we can investigate this more?

[2016-01-09 11:34] EladBezalel commented on #6520
@dnd thanks!
@kerocode more than that, this kind of questions should be asked in our [forum](https://groups.google.com/forum/#!forum/ngmaterial).

[2016-01-09 11:34] #6520 closed

[2016-01-09 11:41] EladBezalel commented on #6481
@confeccionar polymer is another implementation of material design,
we follow the spec, as much as i like the animation you mentioned, it's not a part of the material spec and therefore not part of our project.

[2016-01-09 11:41] #6481 closed

[2016-01-09 11:42] EladBezalel commented on #6153
@arabsight can you please provide a codepen?

[2016-01-09 11:42] EladBezalel commented on #6192
@peio72 Can you please provide a codepen so we can investigate more?

[2016-01-09 11:43] EladBezalel commented on #6454
@topherfangio do you have any iOS available for checking thinks?

[2016-01-09 11:45] EladBezalel commented on #6303
@PeerInfinity @ccstevenson thanks for addressing this, this should be discussed

[2016-01-09 11:47] EladBezalel commented on #6309
@AhmadZuhdi Can you please provide a codepen so we can investigate more?

[2016-01-09 11:55] EladBezalel commented on #5192
@deevorak can you please check if it's still happening on master after #5195 has resolved

[2016-01-09 11:58] EladBezalel commented on #6130
dup #4827

[2016-01-09 11:58] #6130 closed

[2016-01-09 12:06] gpopovic opened #6606 "Virtual repeater slow on iphone"
When i'm scrolling through the virtual repeater demo on  iphone (chrome browse), faster than normal, it takes a lot (like a second) before items appear.

On the desktop this doesn't occur. This deteriorates user experience on iphone.

update:

Safari && firefox mobile don't have these problems.

update2:

it appears on chrome(iphone), dom gets updated when scrolling stops.

[2016-01-09 13:44] AhmadZuhdi commented on #6309
@EladBezalel like this http://codepen.io/AhmadZuhdi/pen/wMdEyw ?

[2016-01-09 14:57] NicolasBlois commented on #6197
@GavinPalmer1984 : I used a screen recorder (kazam on ubuntu) then I convert it to gif
@ThomasBurleson https://github.com/angular/material/pull/6346/files this resolves this issue for me.

[2016-01-09 16:31] Splaktar opened #6607 "mdToast (docs): examples don't align with Material Spec"
Currently the [docs](https://material.angularjs.org/latest/demo/toast) show an 'OK' button and a 'Close' button in the two snackbar (toast) examples (Show With Action, Show Custom).

Based on the [spec](https://www.google.com/design/spec/components/snackbars-toasts.html#snackbars-toasts-usage) having this kind of a 'Dismiss', 'OK', 'Close' button in a snackbar is a "Don't".

The docs should not sh

[2016-01-09 16:41] EladBezalel commented on #6309
yes thank you :) i'm on it..

[2016-01-09 16:42] DevVersion commented on #6607
That's right, so perhaps we should only add a button for `UNDO`, which represents the possibility of placing a button in there. Thoughts?

[2016-01-09 16:44] Splaktar commented on #6607
Yes, I think an UNDO or RETRY button in the examples would better align with the spec.

[2016-01-09 16:44] deckikwok commented on #1208
i've removed all md-content and sure enough there's no flash.
then proceeded to add: -webkit-overflow-scrolling: touch; and the issue came back.
does md-content directive adds that to css?

[2016-01-09 17:00] anameavailable opened #6608 "mdSelect horizontal scroll like input"
Hello,

I did some search about, but without success. I apologize if this topic is already known.

the issue is about unexpected behaviour with mdSelect.
When an input container is narrowed it can be horizontally scrolled, but isnt the same behaviour for mdSelect.

Its intended by design?
http://codepen.io/anon/pen/rxmqrQ?editors=101

Best!

[2016-01-09 17:05] DevVersion commented on #6607
Yes, sounds good ;) then we should simply add a highlight color.
And how can we get that green color? is it also in the palette?

[2016-01-09 17:31] julienpa commented on #3990
Indeed, with `type="submit"` and the button inside the `<form>` element, it works for me too

[2016-01-09 17:39] oravecz opened #6609 "Clarification: Dynamic capabilities of CSS"
The Material Design introduces the device-independent measurement of dps. The SCSS file seems poised to take advantage of this calculation, however the distributed CSS file is, of course, static. Is there any provision within Angular Material to adjust layout and components based on the devices screen density, or is it fixed to a 160dpi screen?

[2016-01-09 18:50] cadilhac commented on #6587
and FYI (I know this is obvious), the problem does not occur if the ng-show directive is placed one level up in a parent DIV of the md-input-container, or if ng-show is replaced by ng-if.

[2016-01-09 18:59] Splaktar commented on #6607
Using `.highlightAction(true)` on the simple toast builder gives the button `md-primary`. Should this be accent instead?

For the custom action, there is a style that is overriding putting `md-accent` on the button in the template and making the button white. I had to add a custom style to use the accent color over this white style.

http://codepen.io/Splaktar/pen/jWmQad

[2016-01-09 19:03] DevVersion commented on #6607
The Accent Color looks much more handsome as the primary highlight. But I think the Specs use the Accent Color too?

[2016-01-09 19:12] Splaktar commented on #6607
It does look like the spec prefers the accent color for the snackbar action highlight. It seems like using `md-warn`, and `md-primary` on the button should be allowed as well, but not the default.

[2016-01-09 20:02] david-meza commented on #6547
That's because you are using an angular expression in an HTML attribute that is not being watched by angular. Have you tried using ng-class instead? It should work as intended (it does in the Plnkr).
    <div ng-class="{{ 'foo' }}">My Flex Content</div>

[2016-01-09 20:23] jmuharsky commented on #6547
The best-practices recommendation is fair and appreciated.

[2016-01-09 20:28] nathanmarks commented on #6161
@topherfangio Would a PR with a failing test for this be helpful?

[2016-01-09 20:32] nathanmarks commented on #6161
Unless you have another method in mind for this issue - I can write a test that checks for the floating label class needed for keeping it floating above the input: `md-input-focused`.

Even though the input itself isn't technically focused -- I often like to treat interacting with an element that naturally feels like a pseudo-"child" or part of the input (autocomplete list) as the input still havi

[2016-01-09 20:41] lalo4ka commented on #6595
same here

[2016-01-09 20:55] lalo4ka commented on #6595
try this (the magic is in the attribute ng-cloak):

<div style="position: fixed; bottom:20px;right: 20px" ng-cloak>
  <md-fab-speed-dial md-open="false" md-direction="up"
                     class="md-fling">
    <md-fab-trigger>
      <md-button aria-label="send" class="md-fab md-warn">
        <md-icon>send</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button

[2016-01-09 22:05] gisek opened #6610 "Input messages disappear"
I originally posted the question on angular.js repo (https://github.com/angular/angular.js/issues/13723), but was instructed to move it here.

Please take look at the Angular Material demo site at the `Postal Code` input:
https://material.angularjs.org/1.0.1/demo/input

Scenario 1 (works ok)
1) We start with
![a_1](https://cloud.githubusercontent.com/assets/1664094/12216965/f9b165b8-b6f2-11e5-8540

[2016-01-10 01:20] lewiswharf commented on #3990
`type="submit"` worked! Seems logical.

[2016-01-10 01:39] epelc commented on #6602
Would be nice if there was also a gulp plugin for this

[2016-01-10 01:41] epelc commented on #6588
Possibly a duplicate of #5772

[2016-01-10 05:35] icanoop commented on #469
I see this issue was addressed but I don't see how to namespace or scope angular md styles. The styles are being applied globally to my page. How can I limit md styles to just within my ng app without affecting the surrounding page?

[2016-01-10 14:03] nicgirault commented on #3046
:+1:

[2016-01-10 15:29] uriva commented on #6449
I mean use the mouse to select the text of all chips together and copy it somewhere else

[2016-01-10 17:53] CreativelyMe commented on #5426
+1

[2016-01-10 19:26] unfortunatetoast commented on #6598
yes. having problems with this as well.

[2016-01-10 21:45] alextreppass commented on #6304
Same issue with angular-material installed over bower. It (libsass?) chokes on the `\0` IE hacks:
[code]

[2016-01-10 22:53] EladBezalel commented on #6487
@HW-Siew there's no option to override this behavior, this behavior is following the spec, however i do agree that <960 is way to much and we should consider lower that to xs breakpoint.

[2016-01-10 22:57] EladBezalel commented on #5088
@0101adm can you please provide a codepen so we can investigate this more?

[2016-01-10 23:13] EladBezalel commented on #4827
This issue is outdated due to [this](https://github.com/angular/material/blob/master/src/components/toast/toast.scss#L122) if it's still happening please ping me and i will reopen this issue

[2016-01-10 23:13] #4827 closed

[2016-01-10 23:15] noilly opened #6612 "Icons in select option do not honour disabled styling"
In select options, icons do not get the same "disabled" styling that the text does.

Example codepen: http://codepen.io/noilly/pen/wMevbQ

I feel how it currently works sends a mixed message to the user, and so icons should be similarly "greyed out".

[2016-01-11 00:02] 0101adm commented on #5088
cannot dup.

[2016-01-11 00:02] #5088 closed

[2016-01-11 02:33] spoco2 commented on #5678
I certainly seem to be having this exact problem. md-min-length is doing nothing for me setting it to 0. The examples on the demo site all work when you first click in them, showing the full list, but the expression for returning the list never gets called on click for me, only when I type one character.

[2016-01-11 03:17] spoco2 commented on #6568
I too am having this issue, but it doesn't seem to be related to the same line as mentioned here.

From tracing it through the various checks it makes, this seems to be the problem for me:
[code]
(I added the console log)
Which says it'll only show if there are matches, which it can't even know yet because no matching has run at this point. If I just make it :
[code]

It seems to behave as desired

[2016-01-11 05:50] 0101adm opened #6613 "md-bottom-sheet + screen position"
chrome

am 1.0.1

bottom-sheet opens in wrong position if opened anywhere beyond the top of the page.

http://codepen.io/0101adm/pen/MKoaeZ

scroll to the last button.  make sure the page has scrolled.  click.  bottom-sheet should open further up the page.

[2016-01-11 06:49] goelinsights commented on #2907
+1

[2016-01-11 07:37] tenshiAMD opened #6614 "CSS Error on v1.0.0 and v1.0.1 while app deployment in production mode."
This error appeared while deploying the app in production mode, this persist in v1.0.0 and v1.0.1. Could you check this guys? In v1.0.0rc7, the deployment is successful. It keeps on failing in v1.0.0 and v1.0.1.

<b>Sass::SyntaxError: Invalid CSS after "...a screen\0 and ": expected "{", was "(max-width: 599..." (sass):2235</b>

[2016-01-11 09:05] nsdcss opened #6615 "Slider not working on IOS when page is zoomed in"
I encountered a problem with the sllider-component on an Ipad (IOS 9):

When the page is zoomed in the sliders are not working anymore. The used pointer.x property delivers a wrong value in this case.

When I do: x = x - document.body.scrollLeft - document.documentElement.scrollLeft; (in adjustThumbPosition(x) and positionToPercent(x) in slider.js)
It seems to work properly, which is basically usi

[2016-01-11 09:08] JA44 opened #6616 "anchor in a md-toolbar, click on the anchor, it move the toolbar"
I create a toolbar with some links which pointing anchors in the md-content.
When I click on the anchor, it should show the targeted anchor without move the toolbar.

codepen: http://codepen.io/anon/pen/mVwVZY

To reproduce:

1. Click on the link "Content1"

The result: The browser shows the anchor but the toolbar moves. It shows the md-toolbar partially

I expect the browser shows the anchor with

[2016-01-11 09:58] chtefi commented on #6561
Anybody ?

[2016-01-11 10:10] mackelito commented on #1716
+1

[2016-01-11 10:38] egystr commented on #5308
+1

[2016-01-11 11:10] rnybergh commented on #5071
+1

[2016-01-11 12:29] zeeshanhyder commented on #6455
In IE 11, md-toolbar is appearing completely messed up after updating to version 1.0.1 in md-dialog. It doesnt take up entire width of the dialog and also the content inside md-dlalog doesnt get rendered unless we explicitly mention the height of dialog.

[2016-01-11 12:32] zeeshanhyder opened #6617 "md-dialog messed up in IE11 after updating to version 1.0.1"
The md-dialog is completey messed up in ie11 after updating to version 1.0.1. The md-dialog-content is not visible, unless you explicitly mention the height of md-dialog or set the md-dialog as "layout-fill"

Below is the demo:
http://codepen.io/zeeshanhyder/pen/WrOzRJ

[2016-01-11 13:20] ThomsC commented on #4233
+1

[2016-01-11 13:57] antoinebrault commented on #4883
see:
https://github.com/selectize/selectize.js/blob/043420284064ad998b07e1abd9720f56c86d6614/dist/js/standalone/selectize.js#L58
https://github.com/select2/select2/blob/8ad8f200ba8c9429d636453b8ee3bcf593e8c87a/src/js/select2/defaults.js#L300

[2016-01-11 16:04] Wardormeur opened #6618 "[mdDialog] Fullscreen behavior is strange"
Hi
http://codepen.io/anon/pen/rxwyNx
tldr; watch hover sizeis only done when fullscreen is true on initial opening

When opening the "CUSTOM DIALOG" in small screen, it evaluate as expected to fullscreen.
Same goes when opening on larger screen, it goes as "windowed".
However, when resizing from "windowed" to smaller, it doesn't trigger the fullscreen on xs/sm; whereas opening it on small resoluti

[2016-01-11 16:31] marino-oneshoe commented on #6594
+1

[2016-01-11 16:37] Elfayer opened #6619 "md-checkbox tick doesn't show inside table"
When an `<md-checkbox>` is put inside a table with the `border-collapse: collapse;` CSS, the tick doesn't show (**Only on IE or Edge**) : https://jsfiddle.net/a8zco7nt/

![image](https://cloud.githubusercontent.com/assets/15869149/12239607/ec166582-b889-11e5-9b19-d15236298387.png)

This is so weird I have no idea how to fix this. Any thought ?

[2016-01-11 16:38] marino-oneshoe commented on #6594
use ngCloak like:
<md-fab-speed-dial md-open="ctrl.fabOpen"  class="md-scale" ng-cloak>

[2016-01-11 16:51] thanhphat commented on #6594
I used ngCloak but it can't be fixed.

[2016-01-11 17:03] topherfangio commented on #6449
I really feel like a better user experience (if you need this), would be to provide a button that copies it directly to the clipboard. If you had enough chips to make two lines, I imagine it would be difficult.

Why do you need them to copy/paste the chip's contents?

[2016-01-11 17:08] Zacharias3690 commented on #6399
+1, occurs for me when going from one invalid state to another. When going from invalid -> valid -> invalid, messages work as expected.

[2016-01-11 17:10] topherfangio commented on #6455
Thanks for the additional information. Everything looks right in IE11 on the demo page you linked above.

Would you be able to provide a very simple Codepen which demonstrates how you are using the toolbar inside the dialog so we can look at getting it fixed?

[2016-01-11 17:39] odedniv commented on #6614
+1

[2016-01-11 17:44] cammckinnon opened #6620 "Labels inside md-optgroup get overwritten"
Description: Inside md-optgroup elements with a label specified, all <label></label> elements get overwritten by the md-optgroup directive.

Steps to reproduce:

 1. Have an md-optgroup with a label="..." specified, and add some labels of your own inside it somewhere, like this:

[code]
 2. Expected behavior is that a single label appears above the md-optgroup element with the text "My Label", and

[2016-01-11 18:13] italoayres commented on #1217
+1

[2016-01-11 18:23] tjlav5 commented on #6534
@csvan would you rather have to press ESC twice to trigger the blur? Once for the autocomplete form, and a second time for the input field?

[2016-01-11 18:59] macchie commented on #6614
+2

[2016-01-11 19:13] clabough opened #6621 "disableBodyScroll causing body jump"
I've found that the disableBodyScroll function is causing my body to jump to the left.  This only happens when the body width is not 100% and the scrollHeight is > clientHeight.

See this CodePen as an example. It's taken from your documentation sample.

http://codepen.io/anon/pen/EPXXXY

[2016-01-11 19:44] du6 commented on #5030
Not reproducible with v1.0.1

[2016-01-11 20:20] arron21 commented on #2228
Hey don't forget to add support for
 `layout-gt-sm="row"`

etc etc

[2016-01-11 20:57] assaftenen commented on #455
What about passing scope data from the dialog into the parent one?

[2016-01-11 21:53] austinthedeveloper commented on #4744
I did not see this issue when I created my issue: #6420 . My solution will fix that issue.

[2016-01-11 22:18] marino-oneshoe commented on #6594
it look like if the fab component is not initiate properly. The md-fab-action-item needs to get inline styles.
like so:
`<div class="md-fab-action-item" style="opacity: 0; transform: scale(0.1); transition-delay: 2ms; z-index: 22;">`

These styles are set by the md-fab-speed-dail component. https://github.com/angular/material/blob/master/src/components/fabSpeedDial/fabSpeedDial.js
i think is somew

[2016-01-11 22:21] SpikesCafe-google opened #6622 "md-datepicker shows error if default date == max date"
The documentation indicates that max date is inclusive, but it does not behave this way. Also, if I pick an older date, then the current date, the error goes away.

http://codepen.io/anon/pen/zrwPMB

It appears the bug is due to minDate and maxDate including the time-of-day, whereas they should reference the beginning and end of each respective day.

[2016-01-11 23:24] uriva commented on #6449
Same reason an HTML table is copyable

On Mon, Jan 11, 2016, 09:04 Topher Fangio <notifications@github.com> wrote:

[2016-01-12 00:33] RichOren commented on #6597
I would try ng-if instead of ng-show/ng-hide if you do not want it to occupy the space.

[2016-01-12 00:38] 0101adm commented on #6516
cannot dup.

[2016-01-12 00:39] #6365 closed

[2016-01-12 00:47] EloB commented on #3163
+1

[2016-01-12 01:12] jpike88 opened #6623 "md-datepicker lacks time function"
This is clearly stated in material docs, yet there's nothing for this yet.

[2016-01-12 02:56] dohomi commented on #6529
+1

[2016-01-12 03:29] DavidFrahm opened #6624 "Is md-autocomplete intended for editing a record, or new values only?"
I have a working form that creates a new record, which has an input that uses md-autocomplete.

On another view, I want to edit that record, and using the same md-autocomplete does not display the existing value.

My question: Is md-autocomplete intended to work for display and edit of values in a form, or should I display the value and use md-autocomplete in some way only for finding a new value?

[2016-01-12 04:00] DavidFrahm commented on #6624
I just needed to understand how to use `md-selected-item` attribute, set to the value object.

[2016-01-12 04:00] #6624 closed

[2016-01-12 05:12] vivekimsit opened #6625 "md-sidenav usability issue (CSS documentation)."
I am implementing the side navigation and I want that the top of the side navigation should contain the image of the logged in user. Currently I see that I can use `md-icon` but I have to manually tweak the CSS to get the desired effect. I see that there are other directives too. The docs at present seems sparse right now so, it will be great when someone points me to or at least give an small exa

[2016-01-12 05:29] vivekimsit opened #6626 "[$mdIconProvider] missing or incomplete documentation."
I want to use `svg sprites` and give them some default size so that I don't have to specify size in the `HTML` and if I want some specific size I should be able to override them. At present I am using the below snippet.

[code]
In HTML I have to declare the following:

[code]

but I want it this way:

[code]

and I want to override then,

[code]

Is there any better way or I am doing something wro

[2016-01-12 05:55] brianfeister commented on #5896
+1

[2016-01-12 05:57] brianfeister commented on #6138
+1

[2016-01-12 06:57] peterkjang commented on #5132
Exactly what I'm looking for.  The hardcoded height limit to only show up-to 5 items is really limiting.

[2016-01-12 07:32] zeeshanhyder commented on #6455
@topherfangio Here is the demo i have made.
http://codepen.io/zeeshanhyder/pen/WrOzRJ
Also if you check it on other browsers, there is small full screen check box just below the button, which appears on all other browsers except IE 11.

[2016-01-12 07:37] zeeshanhyder commented on #6455
I think the issue is with flexbox on IE. Seeing the default css of md-dialog, you have specified layout-column, min-width,max-width but no explicit height which actually confuses IE. Here is the issue link
https://connect.microsoft.com/IE/feedback/details/802625/min-height-and-flexbox-flex-direction-column-dont-work-together-in-ie-10-11-preview

[2016-01-12 07:53] davidcui2 commented on #6597
Yeah, I know that should do the job. Just wondering whether that's a bug or not.

[2016-01-12 08:33] mattdanna commented on #6561
Just include a `font-family` override in your application stylesheets, which need to be included in your build *after* your Angular Material dependencies. This is what I use and haven't had any issues:

[code]
Demo: http://codepen.io/mattdanna/pen/pgwVzX

And don't worry, I'm not actually using Comic Sans in my app... ;)

[2016-01-12 08:35] mattdanna commented on #6623
Duplicate of https://github.com/angular/material/issues/5029.

[2016-01-12 08:46] marshfire opened #6628 "chips remove button should carry md-prevent-menu-close attribute"
I'm trying to implement a filter inside a menu where chips are used to indicate the different filter values selected. This works quite good until you try to remove one of them. In this case the menu closes, which is quite inconvenient for the user.

I can not think of a situation where I want a menu closed when I remove a chip. So best is to always add this attribute.

The code that would need to

[2016-01-12 08:59] ByJC commented on #6561
Hi @mattdanna !
Thank you for your reply and the codepen.
Currently that is what I did in my app and it works pretty well.
I was just looking for another way to handle thing.

[2016-01-12 09:02] AlphaHinex commented on #2978
+1

[2016-01-12 09:28] zoechi commented on #2978
Follow https://github.com/angular/material2

[2016-01-12 09:51] omarkammoun commented on #6563
+1
Even here, if you chose and delete an item many time https://material.angularjs.org/latest/demo/autocomplete

[2016-01-12 09:53] Robin-Hoodie opened #6629 "md-select support for separate searchbox and filtering the option list"
Filtering the option list based on what the user types in a separate searchbox would be much needed for us. We're currently using our own custom-made directive for selects which supports this but wanted to switch to angular-material. However for selects this is an option we would really need before considering replacing them.

This is more or less what I mean: http://ui.lumapps.com/directives/sele

[2016-01-12 09:56] sckoh commented on #5294
+1

[2016-01-12 09:57] Pega88 commented on #6629
+1!

[2016-01-12 09:59] Krie999 commented on #6629
+1!

[2016-01-12 10:04] PapyElGringo commented on #5791
+1

[2016-01-12 10:49] super-coder opened #6630 "layout="column" and flex="50" don't work in IE"
Edit: IE11
I was following https://material.angularjs.org/latest/layout/introduction and seems like **layout="row"** and **flex="50"** is not working
http://codepen.io/anon/pen/mVwKLJ

![image](https://cloud.githubusercontent.com/assets/2155554/12261624/4e6046f0-b933-11e5-96f9-1e3bf56aed52.png)

[2016-01-12 10:58] Wardormeur commented on #6617
flex without value is badly supported by IE, and flex="100" isn't by Android default browser/iOS
Change flex to flex="auto" in your md-dialog-content and it'll work fine :)

[2016-01-12 11:03] mexican-jack commented on #6563
+1

[2016-01-12 11:04] mexican-jack commented on #6563
it appears that this has been fixed in head..

[2016-01-12 11:22] Grendizr opened #6632 "Add ng-disabled to md-list"
Hi !

Please correct me if I am wrong, but I am bit surprised to see the md-list not supporting / propagating the ng-disabled value to childrens

                    <div layout="row" flex>
                     <md-list layout-align="center start"
                             ng-disabled="!submissionDate">
                        <md-subheader class="md-no-sticky">Providers</md-subheader>

[2016-01-12 11:54] zeeshanhyder commented on #6617
Works now. Thanks. Closing the issue.

[2016-01-12 11:54] #6617 closed

[2016-01-12 12:45] csvn opened #6633 "mdToast removed early"
If a toast is created when an existing toast's remove animation is underway will remove the newly created toast early.

See example at codepen:
http://codepen.io/csvn/pen/XXgBvm?editors=101

[2016-01-12 12:59] waegen commented on #6268
Thank you for your answer. Unfortunately my project hierarchy is a bit different so that the HeaderInformation is outside the injected ui-view. I have updateted the [plunkr](http://plnkr.co/edit/07bQaSRXSo6WhxO0TlUj?p=preview) to reflect that. Now you can see an addtional scrollbar for the outside container.

Will it be possible to remove that or do I have to change my structure?

[2016-01-12 13:34] Wykks commented on #1780
@91K00
See #6393

[2016-01-12 13:52] super-coder opened #6634 "md-grid-list doesn't work with Fixed-height rows"
according to https://material.angularjs.org/latest/api/directive/mdGridList i can set Fixed-height rows:
**md-row-height="200px"**

but it doesn't work

http://codepen.io/anon/pen/NxgOKG

![image](https://cloud.githubusercontent.com/assets/2155554/12265199/d69b7864-b94c-11e5-9848-567365fedb9e.png)

[2016-01-12 14:15] morganRotaStabelli commented on #5772
We have loose the all afternoon beacause the responsive layout was not working as expected, then we look inside angular material css and we found that css media query are associated with wrong classes!!!!!!

Example:
In the css we found the following lines:
@media (min-width: 960px) and (max-width: 1199px) {
   .hide-lg:not(.show-lg):not(.show) {
    display: none; } [...]

So from this css lines

[2016-01-12 14:58] charlietfl commented on #6618
@Wardormeur The value for your variable `useFullScreen` and therefore `fullscreen` object property is only going to be evaluated at the moment `showAdvanced()` gets called. Seems like you are expecting a watch on a primitive variable that has no watch.

[2016-01-12 15:06] super-coder opened #6635 "Responsive Layout example doesn't work in IE11"
from https://material.angularjs.org/latest/layout/container
**Responsive Layouts** section, just pasted in codepen
http://codepen.io/anon/pen/eJRPbj

![image](https://cloud.githubusercontent.com/assets/2155554/12266933/c7161fca-b956-11e5-9aec-07aad226cfcf.png)

this is my 3rd bug today, layout suck big time, feels like going with Angular material was a major mistake

[2016-01-12 15:15] ddjonline commented on #6304
+1  angular-material 1.0.1 with node-sass ^3.3.3

[2016-01-12 15:25] Wardormeur commented on #6618
Well, it's being watched somehow since there is a switch from small-fullscreen to large-windowed,  or am I missing an info on how it has been implemented?

[2016-01-12 15:27] Andrew1503 opened #6636 "layout="row" input alignment issues"
`md-input`, `md-select`, `md-checkbox`, `md-switch`, and `md-button` don't seem to want to align properly when they are siblings in a parent with `layout="row"`.

[codepen](http://codepen.io/Andrew1503/pen/QygZGG)

I tried different combinations of layout-align, and none seem to get everything lined up. The best result I've found is using `layout-align="start center"` and overriding the height of

[2016-01-12 15:29] Wardormeur commented on #6635
flex="auto" :)

[2016-01-12 15:58] Kasahs commented on #3464
A temporary hack for this if you just want to disable the input element:
[code]

[2016-01-12 16:00] mathiasmoeller commented on #6338
+1

[2016-01-12 16:05] csvan commented on #1217
+1

[2016-01-12 16:06] csvan commented on #1217
Relevant: https://github.com/angular/material/issues/1120

[2016-01-12 16:28] super-coder commented on #6635
still flex='50' doesn't work
http://codepen.io/anon/pen/eJRPbj

![image](https://cloud.githubusercontent.com/assets/2155554/12269467/95b2693c-b962-11e5-8d4f-0e08d51a7105.png)

[2016-01-12 16:29] bonatoc opened #6637 "$mdDialog: option 'onRemoving' is fired upon dialog opening, not closing."
I would expect, as the [docs state](https://material.angularjs.org/latest/api/service/$mdDialog), that 'onRemoving' would be fired when the mdDialog hides/closes.

Looks like it's not the case :
http://codepen.io/bonatoc/pen/obwOvZ

[2016-01-12 16:36] bonatoc commented on #6636
Yes, can someone from the team explain the rationale behind the different **margin-top** and **margin-bottom** inconsistencies for form elements ?

[2016-01-12 16:37] bonatoc commented on #6635
Did you take a look at [https://github.com/philipwalton/flexbugs](https://github.com/philipwalton/flexbugs) ?

[2016-01-12 18:20] thomasreiser commented on #6529
+1

[2016-01-12 18:51] DominicBoettger opened #6638 "Interest for doing theming in SCSS"
Hi,

i did some work today to solve the theming completely in scss and to be able to create themes in scss dynamically.
To change the theme i just toggle the <body theme="mytheme"> attribute and change the theme without rewriting all the elements via javascript. It works very well and i am quite happy with the performance.

Do you have an interest to get this added to the default branch? If not i

[2016-01-12 20:09] DevVersion commented on #6638
Sounds in general really nice!. I didn't got one thing... how can I switch a theme dynamically? Is this still    possible? If so, how do you resolve the current `theme`, due a DOM Element / Attribute / Class?

[2016-01-12 20:34] Frank3K commented on #6638
I am also interested to see this feature. Can you provide a demo?

[2016-01-12 20:40] mmaguigan-dti commented on #2254
+1

[2016-01-12 20:52] ganySA commented on #2068
+1 on this. I just experienced it!
Maybe a comment in the documentation would be good for now?

[2016-01-12 21:09] b3n01t opened #6639 "md-autocomplete: way too complecated!"
It is insane to have to configure all what you need to configure to get a simple autocomplete box working!
Please make the directive interface simpler!

[2016-01-12 21:41] ThomasBurleson opened #6640 "menu: support nested submenus"
<img width="286" alt="screen shot 2016-01-12 at 1 41 24 pm" src="https://cloud.githubusercontent.com/assets/338073/12277808/58d22d5c-b932-11e5-8bab-7c21a1b79e9e.png">

@conniew, @bourey

[2016-01-12 21:42] bourey commented on #6640
<img width="286" alt="screen shot 2016-01-12 at 1 41 24 pm" src="https://cloud.githubusercontent.com/assets/338073/12277808/58d22d5c-b932-11e5-8bab-7c21a1b79e9e.png">

[2016-01-12 21:45] ThomasBurleson opened #6641 "menu: add labels"
<img width="156" alt="screen shot 2016-01-12 at 1 44 55 pm" src="https://cloud.githubusercontent.com/assets/338073/12277890/dce450fc-b932-11e5-8014-0327af2aa9a1.png">

[2016-01-12 21:46] bourey commented on #6641
<img width="156" alt="screen shot 2016-01-12 at 1 44 55 pm" src="https://cloud.githubusercontent.com/assets/338073/12277890/dce450fc-b932-11e5-8014-0327af2aa9a1.png">

[2016-01-12 21:49] ThomasBurleson opened #6642 "menu: open below originating element"
Support for position below the originating element and any optional offset.

[2016-01-12 21:50] bourey commented on #6642
<img width="128" alt="screen shot 2016-01-12 at 1 49 04 pm" src="https://cloud.githubusercontent.com/assets/338073/12278002/70ebfc96-b933-11e5-8a61-7a43ce2acbc1.png">

[2016-01-12 21:51] kseamon commented on #6480
Fix should go out in the next release.

[2016-01-12 21:51] #6480 closed

[2016-01-12 22:05] kseamon commented on #6279
Confirmed the bug. Will try to address this for 1.1.

[2016-01-12 22:20] ThomasBurleson opened #6643 "menu: support sync filtering with input field"
Support searchbox in the select menu, which filters the list of items.

[2016-01-12 22:33] ThomasBurleson opened #6644 "improve form validation"

[2016-01-12 22:33] Egidius commented on #6304
+1

[2016-01-12 22:34] ThomasBurleson opened #6645 "Support long labels in Select"
In some cases the select label length may exceed the available horizontal space.

@joeyperson

[2016-01-12 22:35] ThomasBurleson opened #6646 "Embedded Loading indicators"
For Buttons or Select

[2016-01-12 22:37] ThomasBurleson opened #6647 "Support for `required` field indicator"

[2016-01-12 22:39] bourey commented on #6644
We've found that users occasionally don't notice required fields and can't figure out why their form can't be successfully submitted.  Since the user has never interacted with the form field, it never shows an error state and the error is hard to find.  We typically check the form's validity on submit and if the form is invalid, set all error states visible rather than attempting to submit the for

[2016-01-12 22:39] ThomasBurleson opened #6648 "Support toggle buttons"
<img width="1204" alt="screen shot 2016-01-12 at 2 39 15 pm" src="https://cloud.githubusercontent.com/assets/210413/12279140/4d15ccc8-b93a-11e5-82d1-b4b919595683.png">

[2016-01-12 22:40] ThomasBurleson opened #6649 "Toast with multiple actions"

[2016-01-12 22:43] ThomasBurleson opened #6650 "customized, different spacing around components"

[2016-01-12 22:43] ThomasBurleson opened #6651 "hover/focus for buttons (ux question)"

[2016-01-12 22:45] DevVersion commented on #6647
Is this related to an Asterisk? Or what is meant by that?

[2016-01-12 22:49] ThomasBurleson opened #6652 "fix(docs): update link to CodePen community link"

[2016-01-12 22:51] #6652 closed

[2016-01-12 22:56] ThomasBurleson opened #6653 "Refactor CSS classes to support public and private classnames"
To facilitate identification of CSS classes that can be easily customized and classes that should **not** be customized.

*  separate of animation stylings from other SCSS
*  use of a private css class also. e.g.
  *  select.css (public classes only)
  *  _select.css (private classes only)
* classnames have prefixing or trailing `_` character.
* support for unit tests that validate changes to publ

[2016-01-12 23:06] bourey commented on #6647
Yes.  Here's a link to the latest Material spec for required fields: https://www.google.com/design/spec/components/text-fields.html#text-fields-required-fields

[2016-01-12 23:09] ThomasBurleson opened #6654 "Support for multiple ng-apps in document"
Tooltips and other components make assumptions that only one ng-app is present and then assumes position information relative to the document root.

[2016-01-12 23:09] DevVersion commented on #6647
Oh okay I was wondering, because I already created a PR, which is ready for merge, a few days ago.
See #6518 Whats now :smile: ?

[2016-01-12 23:11] ThomasBurleson opened #6655 "build: detection duplicate css names"
Need a node module for css parsing to detect duplicate class names during builds.

*  support property prefixing (e.g. `transition`
  transition property value prefixing)

[2016-01-12 23:13] ThomasBurleson commented on #6651
@joeyperson - can you help us escalate this for resolution?

[2016-01-12 23:29] bourey commented on #6651
priority: medium

[2016-01-12 23:30] bourey commented on #6650
priority: medium

[2016-01-12 23:30] bourey commented on #6646
priority: low

[2016-01-12 23:32] bourey commented on #6645
priority: low

[2016-01-12 23:33] bourey commented on #6642
priority: medium

[2016-01-12 23:33] bourey commented on #6641
priority: medium

[2016-01-12 23:34] bourey commented on #6640
priority: medium

[2016-01-12 23:38] ThomasBurleson opened #6656 "Checkbox with Select All/None in dropdowns"

[2016-01-12 23:40] mackelito opened #6657 "Scroll event not firing on md-content"
I need to fire a function on a scroll event... but the directive placed inside a md-content does not fire any scroll events?

[code]

If I add this to the directive the scroll event works.. but other material directives stops working. (md-toolbar with the md-scroll-shrink attr)
[code]

Any ideas?

[2016-01-12 23:50] philippbussche opened #6658 "datepicker on non-white background or background image"
Hi there,
please see my codepen http://codepen.io/anon/pen/dGzoeL
When using a datepicker component on a background that is not white (possibly a background picture) then there are a few not so nice looking things:
First the input field height does not seem to be right. Also when opening the date box then the header of the box is half transparent and half white.
Thanks
Philipp

[2016-01-12 23:52] rfuhrer commented on #6559
I have the same issue as you guys, but for me it only happens if the button is using the "md-icon-button" class.  Regular buttons work just fine. I have a sidenav and tabs and it breaks, sidenav and no tabs and we're good. Again it only happens in chrome, even Edge works properly :)  I doubt that's much help but maybe there's some difference between a button and a md-icon-button that will lead you

[2016-01-12 23:53] ThomasBurleson commented on #6645
UX team feedback suggests "line wrapping" for both the selected text and the menu item text.

[2016-01-12 23:59] ThomasBurleson commented on #6651
* No hover indicator - need for desktop; important for discovery of icon buttons that are interactive.
* Focus has changes in percentages (12-20% black or white) of color.

[2016-01-13 00:04] yobacca opened #6659 "Init of md-menu throws exception when trigger element uses data- prefix for ng-click"
I get the following error when the trigger element of a md-menu uses "data-"-prefix for ng-click.

Error: triggerElement is null
init@http://localhost/bower_components/angular-material/angular-material.js:21489:5

I just saw that there was a similar issue for md-menu-item, which has already been fixed: https://github.com/angular/material/issues/3397

I fixed the issue in my local copy of angular-m

[2016-01-13 01:11] deepikat commented on #3364
did anyone try out the hack @bonatoc mentioned here?

+1

[2016-01-13 01:43] ThomasBurleson commented on #6658
Duplicate

[2016-01-13 01:43] #6658 closed

[2016-01-13 01:44] ThomasBurleson commented on #6657
Whenever possible, provide a CodePen demo.

[2016-01-13 01:45] #6639 closed

[2016-01-13 01:46] ThomasBurleson commented on #6638
Theming enhancements will be integrated only in ngMaterial 2.

[2016-01-13 01:46] #6638 closed

[2016-01-13 01:54] #6628 closed

[2016-01-13 01:57] ThomasBurleson commented on #6625
Need to clarify when an icon or an image tag is the preferred usage.

[2016-01-13 01:57] #6623 closed

[2016-01-13 02:05] ThomasBurleson commented on #6615
Contact @jelbourn for details!

[2016-01-13 02:19] ThomasBurleson commented on #6609
Angular Material 1.x uses pixels. Use of `dp` will not be supported in 1.x

[2016-01-13 02:19] #6609 closed

[2016-01-13 02:22] ThomasBurleson commented on #6605
The Material team does maintain DefinitelyTyped.

[2016-01-13 02:22] #6605 closed

[2016-01-13 02:24] ThomasBurleson commented on #6604
This is a known issue and area that needs enhancement.

[2016-01-13 02:26] ThomasBurleson commented on #6601
Add to CodePen Community samples.

[2016-01-13 02:31] ThomasBurleson commented on #6596
This will remain part of the mdMenu documentation.

[2016-01-13 02:31] #6596 closed

[2016-01-13 02:32] ThomasBurleson commented on #6595
Cc: @topherfangio - Resolve by wrapping FabSpeedDial in a ng-cloak container.

[2016-01-13 02:33] #6595 closed

[2016-01-13 02:34] ThomasBurleson commented on #6594
Duplicate of #6111.

[2016-01-13 02:34] #6594 closed

[2016-01-13 02:36] ThomasBurleson commented on #6591
The current functionality is conformant with DatePicker specs.

[2016-01-13 02:36] #6591 closed

[2016-01-13 02:37] ThomasBurleson commented on #6587
Workaround is to move the `ng-show` 1-level up.

[2016-01-13 02:39] ThomasBurleson commented on #6583
Not an issue.

[2016-01-13 02:39] #6583 closed

[2016-01-13 02:41] ThomasBurleson commented on #6582
Prevent default upon backspace if empty

[2016-01-13 02:43] ThomasBurleson commented on #6577
duplicate

[2016-01-13 02:43] #6577 closed

[2016-01-13 02:45] #6574 closed

[2016-01-13 02:47] ThomasBurleson commented on #6569
duplicate of issue filed by @jelbourn

[2016-01-13 02:47] #6569 closed

[2016-01-13 02:50] #6563 closed

[2016-01-13 02:50] #6561 closed

[2016-01-13 02:53] ThomasBurleson commented on #6559
Attn: @robertmesserle

[2016-01-13 02:56] #6555 closed

[2016-01-13 02:56] ThomasBurleson commented on #6555
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-01-13 02:57] ThomasBurleson commented on #6552
API will not be changed.

[2016-01-13 02:57] #6552 closed

[2016-01-13 03:01] ThomasBurleson commented on #6544
Great feature for PR from community contributor.

[2016-01-13 03:03] ThomasBurleson commented on #6531
Refactor into reusable function with API access.

[2016-01-13 03:04] ThomasBurleson commented on #6530
Whenever possible, provide a CodePen demo.

[2016-01-13 03:04] #6530 closed

[2016-01-13 03:05] ThomasBurleson commented on #6522
Whenever possible, provide a CodePen demo.

---

To expedite resolution, please always test with the latest versions:
*  **Angular Material HEAD**
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.js
  *  Bower Install - https://github.com/angular/bower-material/blob/master/angular-material.css
  *  RAWGIT - https://rawgit.com/angular/bower-material/master

[2016-01-13 03:05] #6522 closed

[2016-01-13 03:06] ThomasBurleson commented on #6517
Community contribution encouraged!   ;-)

[2016-01-13 03:08] ThomasBurleson commented on #6512
Use `ControllerAs` syntax.

[2016-01-13 03:08] #6512 closed

[2016-01-13 03:08] ThomasBurleson commented on #6511
Duplicate

[2016-01-13 03:08] #6511 closed

[2016-01-13 03:13] ThomasBurleson commented on #6506
Community contribution welcome! ;-)

[2016-01-13 03:16] shprink commented on #6561
The codepen with Comic Sans MS is awesome!

[2016-01-13 03:17] naomiblack commented on #6495
I'm not able to reproduce this. Can you provide more information?

[2016-01-13 03:18] naomiblack commented on #6489
Please submit a reproduction case with codepen? This isn't enough information.

[2016-01-13 03:20] naomiblack commented on #6478
dup #5865

[2016-01-13 03:20] #6478 closed

[2016-01-13 03:23] #6475 closed

[2016-01-13 03:27] naomiblack commented on #6460
please direct discussion to our mailing list.

[2016-01-13 03:27] #6460 closed

[2016-01-13 03:30] naomiblack commented on #6457
Community contribution welcome.

[2016-01-13 03:32] naomiblack commented on #6454
Need to find dup issue

[2016-01-13 03:33] naomiblack commented on #6450
cannot reproduce. could you provide a codepen?

[2016-01-13 03:35] naomiblack commented on #6446
@rschmukler is this intended?

[2016-01-13 03:35] naomiblack commented on #6444
Sorry, this is out of scope for the forseeable future.

[2016-01-13 03:35] #6444 closed

[2016-01-13 03:37] naomiblack commented on #6439
Community contributions welcome.

[2016-01-13 03:39] naomiblack commented on #6428
Karl is correct. Implementation will remain the same for the forseeable future.

[2016-01-13 03:39] #6428 closed

[2016-01-13 03:40] #6426 closed

[2016-01-13 03:48] naomiblack commented on #6412
closing -- please provide a demo to reopen.

[2016-01-13 03:48] #6412 closed

[2016-01-13 03:50] naomiblack commented on #6396
thank you @DevVersion!

[2016-01-13 03:51] naomiblack commented on #6385
Closing. Please submit a codepen to reopen.

[2016-01-13 03:51] #6385 closed

[2016-01-13 03:52] naomiblack commented on #6384
please move discussion to the forum. this is interesting but not a bug. :)

[2016-01-13 03:52] #6384 closed

[2016-01-13 03:55] naomiblack commented on #6368
This is working as intended.

[2016-01-13 03:55] #6368 closed

[2016-01-13 03:56] naomiblack commented on #6366
can you provide a codepen to reproduce?

[2016-01-13 04:25] mangrish commented on #6351
+1

[2016-01-13 04:27] mangrish commented on #6529
+1

[2016-01-13 05:14] donedgardo opened #6660 "These flex options are missing in the docs."
... or very hard to find.

flex - Sets flex on all.
flex-sm - Sets flex on devices less than 600px wide.
flex-gt-sm - Sets flex on devices greater than 600px wide.
flex-md - Sets flex on devices between 600px and 960px wide.
flex-gt-md - Sets flex on devices greater than 960px wide.
flex-lg - Sets flex on devices between 960px and 1200px.
flex-gt-lg - Sets flex on devices greater than 1200px wide.

[2016-01-13 07:02] marshfire commented on #6628
Huh? Closed without a comment? Is it a won't fix or a no-brainer?

[2016-01-13 07:47] kouak commented on #6614
Duplicate of #6304 ?

[2016-01-13 07:48] mohitadwani opened #6661 "mdContactChips: add option for md-not-found"
As in normal `md-chips`, there is support for `<md-not-found>` tags, `md-contact-chips` should also have support for `md-not-found` when no results are returned from querySearch.

[2016-01-13 08:02] super-coder commented on #6635
Related:
http://codepen.io/anon/pen/EPvyWz
removing **layout-fill** from standard example **[Menu Position Modes](https://material.angularjs.org/latest/demo/menu)** breaks example in IE11

![image](https://cloud.githubusercontent.com/assets/2155554/12288384/07028220-b9e5-11e5-9548-0b4a72c4c5ec.png)

[2016-01-13 08:09] AntonKL commented on #6583
Thomas, will you please clarify? Is it a change in the Roboto font or are you referring to this as irellevent due to the fact the the issue should be local?

[2016-01-13 08:09] super-coder commented on #6635
@bonatoc do you understand what "supported browser" means? it means - it works in that browser without workarounds

[2016-01-13 08:11] mohitadwani commented on #6560
+1

[2016-01-13 08:15] csvan commented on #4037
+1

[2016-01-13 09:39] manishgdev commented on #4893
This was happening when the html of the project was used to build in a cordova project.
My android version is 4.3 which could be one of the reason that the components were not properly rendered as android versions below 4.4 does not support material elements to full extent.

Anyways the HTML and the js codes are there in the description and I will try to build the app again on mobile to see the la

[2016-01-13 09:42] DominicBoettger commented on #6638
@ThomasBurleson That's the information i needed. Thank you. I think i will  run this as separate project.

I just did a quick workaround for the stuff i needed and copied all the javascript injected styling part into a scss file and reformated it. Then i added a theme="" attribute to my body.

If i want to toggle the theme i just toggle the variable in theme="mytheme".

[code]

[2016-01-13 10:10] mathiasmoeller opened #6662 "md-tooltip does not work together with md-menu"
I am using a md-menu with a lot of tooltips inside the menu element.
In material version 1.0.0-rc4 it was working fine. Since upgrading to 1.0.1 it is broken.
The tooltips all appear when hovering the button to open the md-menu, but when it is open, no tooltips are shown.
See the demo:
http://one-logic.github.io/md-color-menu/
(after opening the menu every color should have a tooltip)

this is the

[2016-01-13 10:18] Wykks commented on #3200
+1

[2016-01-13 10:34] cafrean opened #6663 "md-select label displayed incorrectly when ng-model is null."
When using a `<label>` along with `<md-input-container>` and `<md-select>`, and `ng-model` gets set to "null", two instances of the label is shown, in different states.

This was observed with the following code:

                <md-input-container>
					<label>Category</label>
					<md-select ng-model="selectedFilter">
						<md-option ng-repeat="filter in filters" value="{{filter}}">{{filter}}<

[2016-01-13 10:56] muratsevim commented on #6495
On the Dynamic Tabs demo https://material.angularjs.org/1.0.1/demo/tabs
If I add two more tabs labeled "Test", the arrow on the left side becomes disabled, although there are more tabs there.
![dynamic_tabs_demo](https://cloud.githubusercontent.com/assets/171835/12292117/0959899e-b9e3-11e5-91f2-ee46fa05de85.png)

Tested and got same result on Angular Material 1.0.1 demo pages with Google Chrome Ve

[2016-01-13 11:14] rkimaoui commented on #6446
Hi there,
I have the same problem.
When i open md-menu-bar, the code sets z-index to 100 for the parent md-toolbar, after that, i can't close it from the toolbar.

[2016-01-13 11:48] bonatoc commented on #3364
Actually I could do a pull request. But I'm kind of newbie on that particular matter.
Not sure I have the required skills, AM code looks like state of the art to me :-)
Let me see if this still works on the current release (1.0.1).

[2016-01-13 11:54] sam2x commented on #4236
+1

[2016-01-13 12:07] rgolea opened #6664 "md-select with md-autocomplete"
Is there any way to use autocomplete with md-select in an async way? Thank you.

[2016-01-13 12:30] lyschoening commented on #4645
+1

[2016-01-13 12:40] ricardobfa opened #6665 "md-subheader with an centered parent"
Check pen for issue:
http://codepen.io/anon/pen/zrdNzX

In my desktop app, I have a div that make a centralized content, leaving the parent `md-content` fluid.

When scroll happen, `md-subheader` gets some extra margin and break his position.

I believe that subheader sticky event is basing on md-content position, but in this case, its diferent.

Is there any way of making this work? Except center

[2016-01-13 12:56] mackelito commented on #6657
Took me some time to recreate it all but here you go :)

http://codepen.io/mackelito/pen/bErpPq

To make the scrolling directive work just remove the css for "list-of-people"...

[2016-01-13 12:57] glwesterbeek opened #6666 "Header of interactive demo of Child Alignment not updated"
The header from the Demo on: https://material.angularjs.org/latest/layout/alignment is not updated when changing the bullets. In the past it used to work fine. But not since 2 months or so.

![demoissue](https://cloud.githubusercontent.com/assets/7727296/12294809/589041be-b9fd-11e5-9264-7465b5410433.jpg)

[2016-01-13 13:02] arizonsolutions opened #6667 "mdtabs freezes when the tab labels are of certain length or characters"
md tabs freezes when the tab labels are of certain length or characters. Not sure if the length is the problem here. But, when i change the label, it works. Here is a codepen for investigation.

http://codepen.io/anon/pen/wMqgEy

[2016-01-13 13:03] aliai opened #6668 "autocomplete: Wrong height is set for md-virtual-repeat-container"
Hi,

When get focused on autocomplete filed, sometimes the rendered suggestion list is shrieked to show only one item, whereas there are more items on the list. This happens quite randomly, sometimes more often than this particular demo (gif):

![autocomplete-bug](https://cloud.githubusercontent.com/assets/5068004/12294689/99df3d6a-b9fc-11e5-90c4-021f32309d55.gif)

I tried to debug this, but led t

[2016-01-13 13:04] philippbussche commented on #6658
Hi @ThomasBurleson what issue is this a duplicate of please ?
Thanks

[2016-01-13 13:14] dmaslov opened #6669 "md-toast weird behavior"
When we have vertical scroll on the page and the ```Toast``` appears at the bottom, page scrolls up.
 [Link](http://codepen.io/anon/pen/vLJxBJ) to see the behavior (official doc with more content)

Thanks in advance!

[2016-01-13 13:19] bozheville commented on #6669
+1
Same behaviour when `md-toast` appears at the top

[2016-01-13 13:21] DedMorozzz commented on #6669
+1 same problem

[2016-01-13 13:26] Greynight commented on #6669
+1

[2016-01-13 13:50] sarod commented on #2254
:+1:

[2016-01-13 14:17] AntonKiva commented on #6669
+1

[2016-01-13 14:24] tuchk4 commented on #6669
+1

[2016-01-13 14:28] BMartinos commented on #4233
+1. Is there any progress on this issue? Its becoming quite annoying not having a label for the datepicker and causing some confusion on my forms. Especially when I have multiple datepickers on a form and i don't know which input is which after selecting dates. E.g Start Date and End Date. Progress on this will be much appreciated. Thanks

[2016-01-13 14:37] Narretz commented on #6104
This looks similar to https://github.com/angular/angular.js/issues/12842. The underlying issue is that browsers change the behavior of requestAnimationFrame / timeouts when the tab is unfocused. It's possible that this affects material unrelated to angular core, though.

[2016-01-13 15:10] pdore-netfore commented on #1773
+1

[2016-01-13 15:25] colbroth commented on #1484
Was a new issue submitted for adding the icon as part of the input field? I am trying to use md-icon with md-autocomplete on the same row and the icon does not align properly.

[2016-01-13 15:28] kseamon commented on #6606
Does the same thing happen in MobileSafari, out of curiosity? What I've seen there is that the browser does not redraw the scroll buffer synchronously while scrolling, so there's not much we can do about that aside from perhaps rendering more "extra" rows than we do now (3). Obviously doing that harms performance generally.

[2016-01-13 15:29] kseamon commented on #6599
If you use a custom template for your menu items, you could add an ng-class or ng-style to it, right?

[2016-01-13 15:49] cmacdonnacha commented on #2630
Just wondering what version this is fixed in? I'm currently using 1.0.1.

[2016-01-13 15:55] cornelos commented on #4251
+1

[2016-01-13 16:02] warpdesign commented on #6548
@craigsh I think this is related to #5681 (I noticed the same problem as well).

[2016-01-13 16:04] warpdesign commented on #5681
Is there a workaround other than commenting out the DOMSubtreeModified event handler for this problem ?

[2016-01-13 16:11] sarunast opened #6670 "Bug fab-speed-dial + icons with ligatures show dots (1.0.2)"
I am using latest chrome on mac with material v1.0.2. And I always get dots on Fab on initial load and then if I reveal it and close they are gone.

This is the plunk link to the example. I can reproduce it every time hopefully you will be able to see it without any issues otherwise I can provide screenshot.
http://plnkr.co/edit/jWkr6V0Afi8by7DKu2vD?p=preview

Edit: looks like a temporary hack is

[2016-01-13 16:17] DevVersion commented on #6666
That's a dupe issue, and is fixed in #6567

[2016-01-13 16:40] christopheGaon commented on #5681
+1

[2016-01-13 16:43] glwesterbeek commented on #6666
Ah, thanks for your reply. I should have checked for dupes. When will the fix become in effect on https://material.angularjs.org/latest/layout/alignment ?

[2016-01-13 16:44] DevVersion commented on #6666
That completely depends on the Team, when they got enough time to merge. But because this is dupe issue, you should close this issue :+1:

[2016-01-13 16:46] glwesterbeek commented on #6666
Will do! Enjoy your day

[2016-01-13 16:46] #6666 closed

[2016-01-13 17:41] ih57452 commented on #6104
That's exactly what I'm trying to do: change classes depending on live telemetry data.
My example above does the same thing when I remove Material and just require Animate. I didn't think to try that before since Animate was being required by Material and not directly from my app.

[2016-01-13 17:47] pdore-netfore commented on #4787
+1

[2016-01-13 18:07] craigsh commented on #6548
@warpdesign Thanks - that's good news that it's not just me! It happening on pages that I'm using md-tabs on,

[2016-01-13 18:58] ganySA commented on #4236
+1

[2016-01-13 19:39] PavloKovalov commented on #6669
+1

[2016-01-13 19:43] super-coder commented on #1992
both codepens don't work for me

so can i use centered tabs?

[2016-01-13 19:50] colbroth opened #6671 "md-autocomplete ng-model issue"
Is there an example on how to make a custom directive from md-autocomplete? This is needed for a scenario in which I have two web pages. Each web page needs a state entry. I would like a shared directive to autocomplete the state entry as shown in the demo.

I have tried the following but the querySearch appears to fail to show auto-complete entries
For example

web page html has this
<state-direc

[2016-01-13 19:57] chrisajohn commented on #6200
I am also having issues with the flex: 1 0 auto; I found that by altering the class this way gets the same result without any adverse impacts (that I can see).

[code]

[2016-01-13 20:00] gpopovic commented on #6606
It doesn't happen on safari.

This link seems to describe this behavior.
.
http://developer.telerik.com/featured/scroll-event-change-ios-8-big-deal/

[2016-01-13 20:28] davidmillercode commented on #3364
I've also implemented this hack successfully.  However, is there a way to leave the source code alone and overwrite this from a separate file? I've messed around with priority/terminal properties, but cannot get it to work in a lot of cases.

[2016-01-13 20:30] thatguyyoulove commented on #3200
+1

[2016-01-13 21:26] ThomasBurleson commented on #6629
References #6643

[2016-01-13 21:48] ThomasBurleson commented on #4680
We plan to support an optional `md-` prefix with ngMaterial 1 Layout features.
This is planned for ngMaterial 2.

[2016-01-13 21:53] drinkbird commented on #1484
@colbroth yes it's https://github.com/angular/material/issues/6150

[2016-01-13 21:59] EladBezalel commented on #2630
not merged yet #6043

[2016-01-13 22:06] jelbourn commented on #6336
cc @mhevery

[2016-01-13 22:09] bourey opened #6673 "Support editing of existing chips"

[2016-01-13 22:14] colbroth commented on #6671
Here is the codepen http://codepen.io/colbroth/pen/QyMaQX/?editors=101

[2016-01-13 23:15] jascination opened #6674 "Removing an item from md-autocomplete once selected"
I'm using `md-autocomplete` within `md-chips`, as per the docs (using `1.0.1`)

It's working fine, but I'd like to update the autocomplete suggestions to omit things that have already been selected.

Here's my view (forgive the Jade!)

      md-chips(ng-model="banned", md-autocomplete-snap, md-transform-chip="transformChip($chip)", md-require-match="true", md-on-add="addChip($chip)", md-on-remove=

[2016-01-14 00:02] vbanuelos commented on #5854
+1 These should be allowed to work together.

Similar to how it works with md-input-container:
![image](https://cloud.githubusercontent.com/assets/2799090/12311844/f049be16-ba0e-11e5-975a-b08586003b1d.png)

![image](https://cloud.githubusercontent.com/assets/2799090/12311860/0b8b23e0-ba0f-11e5-8d23-11e2a723087f.png)

[2016-01-14 00:02] mattdanna opened #6675 "md-datepicker and md-select triangle icon inconsistencies"
There are some minor/cosmetic inconsistencies with the triangle icon for `md-datepicker` vs. `md-select`. The icons have different sizes and opacities when containing a value.

Pristine state:
![image](https://cloud.githubusercontent.com/assets/1121110/12311489/2ae994fe-ba0c-11e5-8bac-c5909830f3ff.png)

Valid state:
![image](https://cloud.githubusercontent.com/assets/1121110/12311541/8838fc9e-ba0c

[2016-01-14 00:09] ThomasBurleson commented on #5080
iOS7 is not supported.

[2016-01-14 00:09] #5080 closed

[2016-01-14 00:15] ThomasBurleson commented on #4680
Track via #6294

[2016-01-14 00:15] #4680 closed

[2016-01-14 00:31] ThomasBurleson commented on #6336
To be investigated/researched AFTER Layouts Gen2.

[2016-01-14 00:33] ThomasBurleson commented on #6673
May be a duplicate.

[2016-01-14 00:39] ThomasBurleson commented on #6664
No.

[2016-01-14 00:39] #6664 closed

[2016-01-14 00:42] naomiblack commented on #6663
This looks related to this issue, which should have been resolved. Regression? Or a missed use case? https://github.com/angular/material/issues/6274

[2016-01-14 00:47] ThomasBurleson commented on #6660
Please see https://material.angularjs.org/latest/layout/introduction

[2016-01-14 00:47] #6660 closed

[2016-01-14 01:03] ThomasBurleson commented on #6341
Will not fix.

[2016-01-14 01:03] #6341 closed

[2016-01-14 01:14] #6322 closed

[2016-01-14 01:22] ThomasBurleson commented on #6282
Not supported.

[2016-01-14 01:22] #6282 closed

[2016-01-14 01:25] ThomasBurleson commented on #6268
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-01-14 01:25] #6268 closed

[2016-01-14 01:29] ThomasBurleson commented on #6233
Duplicate.

[2016-01-14 01:30] #6224 closed

[2016-01-14 01:30] #6222 closed

[2016-01-14 01:32] ThomasBurleson commented on #6218
Will review PR and merge soon.

[2016-01-14 01:33] ThomasBurleson commented on #6213
Will not fix.

[2016-01-14 01:33] #6213 closed

[2016-01-14 01:38] ThomasBurleson commented on #6188
Hybrid solutions not supported until ngMaterial 2

[2016-01-14 01:38] #6188 closed

[2016-01-14 01:38] #6180 closed

[2016-01-14 01:44] ThomasBurleson commented on #6115
Please retry with lastest code from HEAD and submit a CodePen.

[2016-01-14 01:44] #6115 closed

[2016-01-14 01:44] #6106 closed

[2016-01-14 01:46] #6077 closed

[2016-01-14 01:46] gmoothart opened #6676 "md-tabs can't be used for page navigation"
The tab component does not work well as top-navigation (header links, with no md-tab-body). The root of the problem is that md-tabs fires a synthetic click event on init, which causes an infinite redirect loop if clicking on a tab causes a page navigation (which re-initializes the tabs which causes a click which triggers a page navigation...).

tab init triggers the select() function:
https://gith

[2016-01-14 01:48] ThomasBurleson commented on #6068
Fixed.

[2016-01-14 01:48] #6068 closed

[2016-01-14 01:49] #6055 closed

[2016-01-14 01:50] ThomasBurleson commented on #6046
Will not fix.

[2016-01-14 01:50] #6046 closed

[2016-01-14 01:50] #6041 closed

[2016-01-14 01:51] #6020 closed

[2016-01-14 01:59] ThomasBurleson commented on #5964
Not supported.

[2016-01-14 01:59] #5964 closed

[2016-01-14 02:03] ThomasBurleson commented on #6673
Duplicate of #2320

[2016-01-14 02:03] #6673 closed

[2016-01-14 02:07] ThomasBurleson commented on #5929
CNR

[2016-01-14 02:07] #5929 closed

[2016-01-14 02:08] #5909 closed

[2016-01-14 02:09] #5902 closed

[2016-01-14 02:09] ThomasBurleson commented on #5896
Duplicate ?

[2016-01-14 02:11] #5880 closed

[2016-01-14 02:12] ThomasBurleson commented on #5878
Please provide more details.

[2016-01-14 02:18] ThomasBurleson commented on #5871
Try:

[code]

[2016-01-14 02:18] #5871 closed

[2016-01-14 02:19] ThomasBurleson commented on #5865
@robertmesserle - can you review the PR plz

[2016-01-14 02:47] #5855 closed

[2016-01-14 03:01] gbruins commented on #6068
Awesome thanks Thomas!

[2016-01-14 03:04] wenbolovesnz commented on #6154
I have the same problem, only frist page can be printed.

[2016-01-14 06:00] bonatoc commented on #3364
Sure, that would be better, but for the moment my Javascript skills are... what they are.

As I understand it, AM is already writing/adding functions to directive controllers by extending *prototype*, so I guess a good Google/Stackoverflow/AM_Forums session should do the trick.

It seems logical that the directive's controller could be extended afterwards. You just need to find how to reference *

[2016-01-14 07:37] cafrean commented on #6663
I'm sorry! Looking at the issue that @naomiblack referenced I realized that my project hadn't updated its version of Angular Material for a few weeks. The problem is no longer present in 1.0.1.

[2016-01-14 07:37] #6663 closed

[2016-01-14 08:30] super-coder opened #6678 "Demos don't work on iPhone 4, iOS 7.1.2 both in Safari and Chrome 47"
I am not sure what n-1 browser support mean in this case, but Menu doesn't scroll and demos don't work on the iPhone 4. Like nothing works basically
![2016-01-14 11 18 10](https://cloud.githubusercontent.com/assets/2155554/12319243/0b8e628c-bab2-11e5-855c-cc191ad3110f.png)
![2016-01-14 11 15 32](https://cloud.githubusercontent.com/assets/2155554/12319245/0d3b0c98-bab2-11e5-9ba2-8f687365bbad.png)
!

[2016-01-14 08:34] super-coder commented on #6676
hm, i am using it with ui router and seems fine. I have a MoreInfoCtrl.js where i check ** vm.stateName = $state.current.name;** and tabs that are in moreinfo.html have md-active="vm.stateName=='moreinfo.someState'" and embedded  ui-view  in moreinfo.html

So this way i can reload the page and selected tab becomes active

[2016-01-14 08:58] adrianandreias commented on #5335
Isn't this what `md-autofocus` does? If I am not misunderstanding this the issue should be closed.

[code]

[2016-01-14 09:05] adrianandreias opened #6679 "pre-select text in input on md-autofocus?"
Shouldn't the text in an input box be selected when using md-autofocus on an input box?

[code]

Currently the focus is set on the input box, but the cursor is placed at the end of text.

I'd prefer to have the text pre-selected, that's what happens when you use TAB key to move to another input box.

If you still think this behavior is fine what do you recommend to use in order to have the text pr

[2016-01-14 09:20] adrianandreias opened #6680 "md-autofocus works in dialog not in page"
I've noticed that `md-autofocus` on `input` only works in dialog. Not when in a simple page.

[code]
http://codepen.io/anon/pen/KVvxGK

[2016-01-14 10:06] EladBezalel commented on #5335
@SnakeME did you got your answer from @adrianandreias (thanks!)

[2016-01-14 10:36] SnakeME commented on #5335
md-autofocus is not working for me (using v1.0.1).

http://codepen.io/anon/pen/zrdmaW

[2016-01-14 10:41] EladBezalel commented on #2208
Closing this issue as the requested outcome can be reproduce with the current api.
If i got it wrong please comment and i will reopen this issue.

[2016-01-14 10:48] EladBezalel commented on #5335
@SnakeME are you trying to use [dialog/autocomplete/bottomsheet/sidenav](https://material.angularjs.org/latest/api/directive/mdAutofocus)?

maybe we should add support for just input container

[2016-01-14 11:13] EladBezalel commented on #5987
@AxxlForce works fine for me [codepen](http://codepen.io/EladBezalel/pen/PZKxoN)

[2016-01-14 11:17] EladBezalel commented on #6680
dup #5335

[2016-01-14 11:17] #6680 closed

[2016-01-14 11:19] emps opened #6681 "md-icon inside md-button-icon not centered"
md-icon inside md-button-icon lost his center place since md-icon got
md-icon {
    margin-right: 5px;

that wasnt befor

fixed for now by doing
.md-button md-icon {
    margin: 0 !important;
}

[2016-01-14 11:32] EladBezalel commented on #5861
@DevVersion is this related to #5887?

[2016-01-14 11:39] pasqLisena commented on #4896
Is this a duplicate of #4873?

[2016-01-14 11:42] EladBezalel commented on #4860
@ryanki1 any progress reproducing this?

[2016-01-14 11:56] EladBezalel commented on #5060
hey @giriprashaad, can't reproduce [codepen](http://codepen.io/EladBezalel/pen/zrdMEb)

[2016-01-14 11:56] #5060 closed

[2016-01-14 11:58] SnakeME commented on #5335
My case has nothing to do with dialog/autocomplete/bottomsheet/sidenav. I just want to set autofocus for a standart input container. Like this attribute: http://www.w3schools.com/tags/att_input_autofocus.asp

But wether the HTML attribute nor md-autofocus are working.

<input ng-model="user.title" type="text" autofocus>
<input ng-model="user.title" type="text" md-autofocus>

Both attributes seem t

[2016-01-14 12:04] omeid commented on #2208
@EladBezalel Please reopen.

The proposed solution is a hack and is inconsistent with $mdSidenav service. There is no animation for example, and it essentially disable the `open`/`close` API.

See also #3027.

[2016-01-14 12:07] oldirony commented on #6351
+1

[2016-01-14 12:17] adrianandreias commented on #5335
I can confirm that `md-autofocus` in a simple page, but only in dialogs (as described in #6680).

(Initially you asked if there is a solution: there's is one, just that not working due to a bug :) ).

[2016-01-14 12:30] jsmylnycky commented on #5663
+1

[2016-01-14 12:39] oldirony commented on #4233
+1

[2016-01-14 12:46] Kratos-SA commented on #2808
+1

[2016-01-14 13:13] manish2535 commented on #6599
Yes but the md-autocomplete gets dynamically generated and appended to the body so that class or style will not make it through.

[2016-01-14 13:24] manish2535 commented on #6668
You can reproduce this for certain if you were to scroll to get an option and then try to open the list again.

![demo](https://cloud.githubusercontent.com/assets/4663798/12325428/30fdf010-ba98-11e5-8170-01457c334295.gif)

[2016-01-14 13:46] DevVersion commented on #5861
@EladBezalel No I don't think so, my PR is just moving the sidenav down, if we are scrolled down on opening sidenav. So this seems to be another issue.

[2016-01-14 13:51] EladBezalel commented on #2208
@omeid [there's an animation](http://codepen.io/EladBezalel/pen/xZLmQd)
This feature request is the same as duplicate `md-is-locked-open` attribute and rename it.

[2016-01-14 13:55] EladBezalel commented on #5861
@standup75 scrolling should be disabled by the spec, when backdrop is applied the content behind should not be interacted.
if you use `md-is-locked-open` attribute than you can scroll.

[2016-01-14 13:58] EladBezalel commented on #5861
@DevVersion for your question the scroll lock should listen to viewport changes and repaint itself.

[2016-01-14 14:03] DevVersion commented on #5861
@EladBezalel - I'm sorry I talked about the other issue #5887. I meant only, that this issue isn't related to #5887.

[2016-01-14 14:16] sam2x commented on #2208
@EladBezalel Hey. Sorry to comment this, but i don't understand your answer, do you mean the 'push-in' feature is already supported or could be done by the devellopper ? Not sure if you're talking about @FDIM solution, but his answer has to be improved to support breakpoint. (or maybe you are refering to another code ?

[2016-01-14 14:17] EladBezalel commented on #5861
@DevVersion iv'e talked about your earlier comment :)

[2016-01-14 14:57] bonatoc commented on #1992
@super-coder — if you're super, please provide more info: version, specific problem?

[2016-01-14 15:00] super-coder commented on #1992
![image](https://cloud.githubusercontent.com/assets/2155554/12327618/a60843b0-bae8-11e5-81ff-ca667a702839.png)

![image](https://cloud.githubusercontent.com/assets/2155554/12327624/af609a20-bae8-11e5-898c-f11e044908ff.png)

[2016-01-14 15:32] DevVersion commented on #6544
@calebegg What item you want to access from the `ngModelController`? The selected item or just the search text?

[2016-01-14 15:35] DevVersion commented on #6678
This is issue is a dupe of #6573

[2016-01-14 15:58] elimence opened #6683 "Accessing Documentation For Version 0.0.2"
Hello ;)
I need a bit of help here. My company is still using a really old version of Angular material, we plan on migrating to the latest soon but that will be a lot of work and for the mean time we need to build some pressing features with version 0.0.2.

As it turns out, the documentation for 0.0.2 is no longer available online, so I've clone the repo and intent to revert to whatever commit cor

[2016-01-14 16:03] DevVersion commented on #6642
Isn't this already working with using the `y` target `bottom`?

[2016-01-14 16:09] ajones-miovision commented on #5500
+1
We're in the process of migrating from bootstrap to material and after changing all our tab panes to material we noticed this. I can believe more people aren't complaining about this. Having lazy load is critical when your tabs make frequent callbacks to the server for updated content on web socket messages. Once a tab is no longer active the controller should be destroyed and only reinitialize

[2016-01-14 16:12] jascination commented on #5204
This solution doesn't actually work when tables have data with different-lengthed values in them. Codepen example: http://codepen.io/anon/pen/jWLJKK

I'm working with a list of about 4,000 data records, virtual repeat is a godsend for performance (load time goes from about 30s to >1s!) but the styling looks really messy.

Are there any other methods for making `md-virtual-repeat` work with a table

[2016-01-14 16:18] JasperG commented on #5153
Also, in case where one dialog is opened where escapeToClose is true, any following dialogs (even when setting escapeToClose to false), can still be closed by pressing the escape button.

[2016-01-14 16:55] sudeep494 commented on #6500
+1. I ran into this too and and lowering the z-index is work-around i am using too but I encourage the material-design team to fix this issue.

[2016-01-14 17:04] aider commented on #3895
+1

[2016-01-14 17:14] Frank3K commented on #5930
+1

[2016-01-14 18:31] jztein opened #6685 "md-menu not opening adjacent submenus on hover."
Reproduce issue at:
http://codepen.io/anon/pen/zrdQwP
1. Open File menu
2. Alternate hovering on both New submenus.

It seems that only one menu item can react to open/closing hover events at a time.

[2016-01-14 18:38] deepikat commented on #3364
I wrote a directive "monitor-input-focus" as follows:
[code]
I am trying to spot the input tag(present inside of the md-chips) and MdChipsCtrl in the link function of the new directive. But failed. Any advice??

[2016-01-14 19:24] charlietfl commented on #6676
There is also a demo in the codepen examples that works fine  http://codepen.io/ThomasBurleson/pen/RNRBNq

[2016-01-14 19:31] super-coder commented on #6678
not only

[2016-01-14 19:35] DevVersion commented on #6678
Can you please provide more information, instead of just denying. The `md-card` issue on iOS is related to #6573 - Cards is related to the `Flexbox` Layout. About your scrolling, I can't reproduce that. It's working on the latest Safari.

[2016-01-14 19:40] super-coder commented on #6678
i have an iphone 4 and
1) I can't scroll left menu
2) text doesn't wrap in grey boxes

for a start

[2016-01-14 19:44] DevVersion commented on #6678
Good... Problem 2, will be handled in #6573.

[2016-01-14 19:47] topherfangio commented on #6683
With running a version that old, you may run into some issues, but I *think* the following should get you what you want:

[code]

I'm not positive (I haven't been on the project that far back), but I bet everything is output into the `dist/docs` directory which you can then drop on a web server (or use something like [live-server](https://github.com/tapio/live-server)) to view.

There may be some

[2016-01-14 19:53] sroyqci commented on #5663
+1

[2016-01-14 19:54] mattbugbee commented on #2949
+1

[2016-01-14 20:00] mprentic-harris commented on #6678
@super-coder n-1 means that the current version and previous version are supported. This means Safari 9 (current) and 8 are supported. Safari 7 in iOS 7.1.2 is not supported.

[2016-01-14 20:02] super-coder commented on #6678
@mprentic-harris but what about Chrome 47? It also doesn't work

[2016-01-14 20:18] sroyqci opened #6687 "md-autocomplete: clear button not working on iOS"
Upon focus of an md-autocomplete input & typing in some characters, the "X" clear button does not work on iOS touchscreen devices.  There appears to be no way to clear any entered text, except for deleting the characters via backspace on the iOS keyboard.  (Tapping outside the control does not dismiss either, as detailed in https://github.com/angular/material/issues/5663)

Using an iPad, I'm able

[2016-01-14 20:38] tonyeung opened #6688 "md-autocomplete wrapped in md-input-container breaks X button position"
When you wrap md-autocomplete in a md-input-container, type something in, an x button is supposed to show up on the right of the input to clear the field. What happens instead is that it shows up on the left as if floated left.

The only thing that I changed on the sample pen was to wrap the md-autocomplete with the md-input-container. Reproducable here: http://codepen.io/tonyeung/pen/RrZzzV

[2016-01-14 20:49] tonyeung commented on #6688
I found the problem: there is a style `md-input-container .md-input { order: 2 }`
Changing the `order: 2` to order `0` fixes the problem.

for completeness, the workaround is to add a class

[code]

the pretty long to make sure its specific enough to override the existing style as well as to prevent it from screwing with any other styles

[2016-01-14 20:49] tonyeung commented on #6688
leaving this open because i don't know if this is considered a bug or not.

[2016-01-14 21:05] tonyeung commented on #5834
+1 just came across this

[2016-01-14 21:38] GiTweeker commented on #3597
Still facing this issue..no fix yet

[2016-01-14 21:58] mprentic-harris commented on #6678
@super-coder Chrome on iOS has to use the same Safari webkit engine due to Apple restrictions. So only the Safari/iOS version matter.

[2016-01-14 21:59] mattdanna commented on #5834
+1 also ran into this issue.

[2016-01-14 22:20] rvarbanov opened #6689 "md-autofocus and autofocus do not work with md-select"
md-autofocus and autofocus do not work with md-select

[2016-01-14 23:01] mackelito commented on #2041
Kind of works if you use eg. height: 100vh; but that can bring other issues..

[2016-01-14 23:14] ThomasBurleson commented on #5854
May be a duplicate.

[2016-01-14 23:16] ThomasBurleson commented on #5851
Ionic-ngMaterial hybrids are not supported. If you can reproduce this without Ionic **AND** provide a CodePen demo, we will reopen.

[2016-01-14 23:16] #5851 closed

[2016-01-14 23:17] breity commented on #6304
+1 me too with angular-material 1.0.1 and node-sass cli

[2016-01-14 23:17] ThomasBurleson commented on #5849
<img width="718" alt="screen shot 2016-01-14 at 3 17 18 pm" src="https://cloud.githubusercontent.com/assets/210413/12340795/f6c43ca8-bad1-11e5-8ed0-e684bee465a7.png">

[2016-01-14 23:35] ThomasBurleson commented on #6689
`md-autofocus` is intended to allow container components to identify a specific child element to have focus. Select should not be considered a 'container' component.

[2016-01-14 23:35] #6689 closed

[2016-01-14 23:40] tomrainedotcom opened #6690 "Close a dialog box from iframe"
Hi Guys,

I have built an application that utilises PayPals Payflow Pro which uses an iFrame to complete credit card transactions. When the payment is complete it loads a new page which I am using as a transaction complete page, and I am able to redirect the parent page using parent.location.href = "#/foo/bar"

The issue I am having now is the the $mdDialog box the iFrame loads in isn't closing, I

[2016-01-14 23:41] #6683 closed

[2016-01-14 23:43] #6681 closed

[2016-01-14 23:58] ThomasBurleson commented on #6679
IMO, this would be an enhancement with something like a `selectOnFocus` directive.

[2016-01-15 00:01] ThomasBurleson commented on #5844
Will not fix. Workaround is appropriate.

[2016-01-15 00:01] #5844 closed

[2016-01-15 00:02] ThomasBurleson commented on #5841
Interesting idea. You are encouraged to submit a Pull Request with this enhancement.

[2016-01-15 00:02] ThomasBurleson commented on #5839
You are encouraged to submit a Pull Request with this enhancement.

[2016-01-15 00:03] ThomasBurleson commented on #5838
That is the best way for now.

[2016-01-15 00:03] #5838 closed

[2016-01-15 00:04] ThomasBurleson commented on #5831
You are encouraged to submit a Pull Request with this enhancement.

[2016-01-15 00:09] ThomasBurleson commented on #5825
Please provide a CodePen demo. I will reopen if needed.

[2016-01-15 00:09] #5825 closed

[2016-01-15 00:10] ThomasBurleson commented on #5824
will not fix.

[2016-01-15 00:10] #5824 closed

[2016-01-15 00:10] ThomasBurleson commented on #5823
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-01-15 00:10] #5823 closed

[2016-01-15 00:11] ThomasBurleson commented on #5822
You are welcome to submit a PR for a contextMenu component.

[2016-01-15 00:11] #5822 closed

[2016-01-15 00:12] ThomasBurleson commented on #5819
Closing as duplicate.

[2016-01-15 00:12] #5819 closed

[2016-01-15 00:13] jrenee42 commented on #5839
noted!

[2016-01-15 00:15] ThomasBurleson commented on #5791
A menu item is selected but not interactive. Will not change.

[2016-01-15 00:15] #5791 closed

[2016-01-15 00:37] chrisconover commented on #6333
@ThomasBurleson any chance someone will be able to take a quick look at this?

[2016-01-15 00:41] #5724 closed

[2016-01-15 00:46] ThomasBurleson commented on #5695
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-01-15 00:46] #5695 closed

[2016-01-15 00:48] ThomasBurleson commented on #5689
Documentation improvement needed.

[2016-01-15 00:48] chrisguerrero commented on #5166
@ThomasBurleson

I'm experiencing the same issue after upgrading from v0.11.4 to v1.0.1. I use `md-layout-css` to disable the Layout JS engine per [#5020](https://github.com/angular/material/issues/5020):

http://codepen.io/anon/pen/JGrPgw

When `md-layout-css` is removed, the class selectors added by the Layout JS engine work as expected. I require the layout selectors in my app because I use the

[2016-01-15 00:49] ThomasBurleson commented on #5681
@robertmesserle - think we need your eyes on this one!

[2016-01-15 00:50] ThomasBurleson commented on #5679
See styles in CodePen.

[2016-01-15 00:52] STOpandthink commented on #1963
Documentation is incorrect. ngChange is listed as belonging to md-radio-button: https://material.angularjs.org/latest/api/directive/mdRadioButton

[2016-01-15 00:52] STOpandthink commented on #951
Documentation is incorrect. ngChange is listed as belonging to md-radio-button: https://material.angularjs.org/latest/api/directive/mdRadioButton

[2016-01-15 01:02] ThomasBurleson commented on #5671
This change is related to our focus on components and security issues.

[2016-01-15 01:04] ThomasBurleson commented on #5667
Will not fix.

[2016-01-15 01:04] #5667 closed

[2016-01-15 01:06] ThomasBurleson commented on #5641
Will not fix in ngMaterial1.

[2016-01-15 01:06] #5641 closed

[2016-01-15 01:09] ThomasBurleson commented on #5603
Will not fix.

[2016-01-15 01:09] #5603 closed

[2016-01-15 01:19] #4885 closed

[2016-01-15 01:20] #5192 closed

[2016-01-15 01:23] ThomasBurleson commented on #6642
Related to #5150

[2016-01-15 01:24] ThomasBurleson commented on #5495
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-01-15 01:26] ThomasBurleson commented on #4976
Will not fix.

[2016-01-15 01:26] #4976 closed

[2016-01-15 01:27] ThomasBurleson commented on #4866
Fixed.

[2016-01-15 01:27] #4866 closed

[2016-01-15 01:36] ThomasBurleson commented on #4830
Will not fix.

[2016-01-15 01:36] #4830 closed

[2016-01-15 01:43] prasannapattam commented on #5824
Without this fix, the mouseenter feature will not be used effectively. I recommend disabling the ng-mouseenter functionality all together.

[2016-01-15 01:54] CoDEmanX commented on #4866
Why not change?

[2016-01-15 02:05] ThomasBurleson commented on #4642
A pull request would be welcomed!

[2016-01-15 02:11] robertmesserle commented on #5495
Can you provide a link or codepen demo of the problem you are experiencing?  The focus should be set for accessibility reasons, but I'm not sure why it would jump to the top of the page unless you were visually putting the tabs outside of the viewport.

[2016-01-15 02:16] robertmesserle commented on #5681
@ThomasBurleson This is a known performance hit; however, there's not really a clean workaround (at least not to my knowledge).  Delaying the attachment may work to improve the performance (and should be fairly easy), but that's clearly a bandaid and not a proper fix.

[2016-01-15 02:22] yxh10 opened #6692 "md-bottom-sheet animation is broken"
When triggering bottom sheet, the slide up animation is broken. The bottom sheet appears instantly. There is no transition animation. But slide out (hide) animation works just fine. This happens in both 1.0.1 and 1.0.2.

To observe this, simply make the bottom sheet take 100% screen size, then it become obvious.

Thanks!

[2016-01-15 02:55] RolandHeath commented on #5204
@jascination
It's an ugly solution, but you might be able to fix those issues using css on your cells, something like this:

    .table-cell {
        height: 64px;
        max-height: 64px;
        max-width: 176.5px; //Your width here... it might be better to set this per column.
        overflow: hidden;
        display: flex;
        align-items: center;
    }

It would be nice to have a direc

[2016-01-15 04:06] mangrish commented on #5335
:+1:

[2016-01-15 05:07] Todd-Werelius commented on #5679
By the way, the code pen style fixes are now partially broken on action button placement on a few examples after I updated to 1.0.2, haven't figured out why as of yet

[2016-01-15 06:15] gpopovic commented on #5380
+1

[2016-01-15 06:32] elimence commented on #6683
@topherfangio
Thanks for the help. That worked. I had to downgrade npm and node to get it to work though.

[2016-01-15 08:28] sarunast commented on #6670
The issue still remains in version 1.0.2

[2016-01-15 08:42] 0101adm commented on #6692
this is a dup and i believe there is already a fix.

[2016-01-15 09:14] jpolo opened #6693 "mdChips with ngModel"
Here is my use case
[code]
myGetterSetter is never called as a setter when appending a chip.
I read in the code that the method appendChip() just do a .push() on the model array.

In my experience, using the same object reference between "view value" and "model value" directive could be harmful.
A better approach would be to configure ngModel.parse/format by doing a copy of the array.

appendChip(

[2016-01-15 09:48] julienpa commented on #1983
Since it has been moved to the backlog, does it mean it won't be fixed anytime soon?

[2016-01-15 09:56] Unasbj commented on #5132
+1

[2016-01-15 10:01] emps commented on #6681
ThomasBurleson u just close this ? did u check the issue ?

[2016-01-15 10:06] jpolo commented on #1901
I am facing the same kind of issue with floating label, so I think it might be reopened. My use case :
[code]
Floating label is correct at initialization but when clicking on the empty element the floating label is still up. I also tried with ng-value="undefined" or null and it does not solve it...
It seems that the md-select is in a "selected empty value" state which is semantically different fro

[2016-01-15 11:25] cleever commented on #1901
I'm facing the same issue that @jpolo said. Floating label does not work correctly with this solution.

[2016-01-15 11:39] himanshushankhala commented on #3202
@cebor  Thanks for the solution it worked!

[2016-01-15 11:46] noddysouthgate commented on #445
@ThomasBurleson Why doesn't it just prevent you from commenting in the first place

[2016-01-15 12:12] nitin7dc commented on #1177
+1

[2016-01-15 12:21] jayeshanandani commented on #1901
@jpolo I think what @ThomasBurleson mentioned is you need to have a dropdown option with blank value and value (in controller) should be set to blank instead of setting to null or undefined as HTML treats a blank value dropdown as required and won't allow user to submit form until value is selected.

[2016-01-15 13:07] michaelkrog opened #6694 "#487 & #4233 sinking into the oblivion"
It seems that #487 and #4233 is sinking deeply into the oblivion.

They have been postponed since before release candidates, but much preferred by the community.
Please delegate to community if you do not plan to fix them!

[2016-01-15 13:47] mackelito opened #6695 "Material/Codepen bug"
https://material.angularjs.org/latest/demo/chips

The demo on codepen is not working, trying to load materials js from "http://localhost:8080/angular-material.js"  ;)

Looks like all demos are affected..

[2016-01-15 14:18] craigsnyders commented on #6559
I too have this issue with v1.0.1 where md-tabs breaks every ripple effect on every button on the page.

[2016-01-15 14:41] xavierva opened #6696 "Adding max condition in input type="number" make form width smaller"
When I add a max limit like this :

                    <input type="number" min="0" max="20" required>

my form become smaller.

[2016-01-15 16:33] cadilhac commented on #6214
+1
Fix not seen in 1.0.2

[2016-01-15 16:55] phoenisis commented on #5029
+1

[2016-01-15 16:57] ryanki1 commented on #4860
Hi you might as we'll close it  - Its been a while :-)

Date: Thu, 14 Jan 2016 03:43:34 -0800
From: notifications@github.com
To: material@noreply.github.com
CC: contactkieran@hotmail.com
Subject: Re: [material] Angular materials md-slider aria-valuenow picking up value from max attribute (#4860)

@ryanki1 any progress reproducing this?

—
Reply to this email directly or view it on GitHub.

[2016-01-15 16:58] darlanalves commented on #3897
The solution I found so far, if someone lands here from Google or Google Groups:

https://stackoverflow.com/questions/31962534/using-a-directive-as-the-md-dialog/34816085#34816085

[2016-01-15 17:02] DevVersion commented on #6692
Yes, that's a dupe of  #6468 and is solved in #6484

[2016-01-15 17:04] 2stopme opened #6698 "md-select attribute multiple not working"
Hi,

[code]

In this case multiple="false" not work.

[2016-01-15 17:04] camden-kid commented on #6414
The CodePen problem has reappeared.

Also, when the CodePen examples were working the md-icon svg icons did not load.

[2016-01-15 17:17] maelfrize commented on #6662
+1
Same issue here.

[2016-01-15 17:17] StritziK commented on #6662
Same problem with me, glad I'm not alone

[2016-01-15 17:22] rhllor commented on #6694
+1

[2016-01-15 17:31] gbaj commented on #6668
This is the same issue I think-
http://codepen.io/anon/pen/LGzxyK

In the input box, hit backspace twice. You'll see the new height isn't recalculated properly.

![image](https://cloud.githubusercontent.com/assets/11010715/12360099/decabafc-bb83-11e5-8885-4750186b88cd.png)

[2016-01-15 18:35] topherfangio commented on #6414
@camden-kid Thanks; it looks like it's only "latest" that is having trouble; HEAD codepens appear to point to the proper place.

[2016-01-15 18:45] topherfangio commented on #6683
@elimence Glad you got it working!

[2016-01-15 18:47] topherfangio commented on #4642
@Yimiprod We recently added a new "Errors Advanced" demo which shows one possible solution for this. I would still like to see something more robust, but this should get you started:

https://material.angularjs.org/latest/demo/input

[2016-01-15 19:15] braintapper commented on #6201
+1

[2016-01-15 19:18] ThomasBurleson opened #6699 "Resolve Jenkins fails with Angular Material and Angular 1.3.x"
Jenkins [AngularJS Material Testings](https://ci.angularjs.org/job/angularjs-material-version-testing)

[code]

[2016-01-15 19:22] ThomasBurleson commented on #6696
Please provide a CodePen or Plunkr that demonstrates this issue. Here are some starter demo templates that you can use/fork:

*  CodePen template: http://codepen.io/ThomasBurleson/pen/zvorxN
*  Plunkr template: http://plnkr.co/edit/yP0gB9iTacIQb48thud8?p=preview.

[2016-01-15 19:22] #6696 closed

[2016-01-15 19:25] jelbourn commented on #6602
@Emeegeemee fixed the `<style>` element issue in #6691, but there are still inline style attributes that are potentially a problem in: [slider](https://github.com/angular/material/blob/91291ed425def4fde3e3343b531f5117d33b9756/src/components/slider/slider.js#L200), [tabs](https://github.com/angular/material/blob/91291ed425def4fde3e3343b531f5117d33b9756/src/components/tabs/js/tabsDirective.js#L137),

[2016-01-15 19:26] ThomasBurleson commented on #6694
@michaelkrog - External Pull Requests on those would be welcomed.

[2016-01-15 19:26] #6694 closed

[2016-01-15 19:30] ThomasBurleson commented on #6692
Duplicate

[2016-01-15 19:30] #6692 closed

[2016-01-15 19:30] ThomasBurleson commented on #6414
Duplicate.

[2016-01-15 19:30] #6414 closed

[2016-01-15 19:31] #5617 closed

[2016-01-15 19:38] ThomasBurleson commented on #5587
Will not fix. PR would be welcomed.

[2016-01-15 19:38] #5587 closed

[2016-01-15 19:42] ThomasBurleson commented on #4880
A fix via Pull Request would we welcomed!

[2016-01-15 19:42] cadilhac opened #6700 "Wrong disabled and selected radio button appearance when using md-primary"
Here is a radio button. Imagine it is in a selected state.

<md-radio-button ng-value="true" class="md-primary" ng-disabled="!vm.options.enabled"></md-radio-button>

When I don't use md-primary, the disabled radio button becomes gray on the outer circle and keeps its color on the inner circle.
When I use md-primary, the disabled radio button keeps its color on both circles, which doesn't really lo

[2016-01-15 19:44] cadilhac commented on #6700
Seems a duplicate of #6196

[2016-01-15 19:45] #6700 closed

[2016-01-15 19:45] #4992 closed

[2016-01-15 19:45] #5147 closed

[2016-01-15 19:45] ThomasBurleson commented on #5147
Duplicate

[2016-01-15 19:45] ThomasBurleson commented on #5253
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-01-15 19:45] #5253 closed

[2016-01-15 19:46] ThomasBurleson commented on #5263
Will reopen after CodePenis provided and issue demonstrable.

[2016-01-15 19:46] #5263 closed

[2016-01-15 19:48] #5342 closed

[2016-01-15 19:48] ThomasBurleson commented on #5421
Will not support.

[2016-01-15 19:48] #5421 closed

[2016-01-15 19:51] Zacharias3690 commented on #4107
+1, the transform doesn't get removed when going from paginated tabs to non-paginated tabs e.g. mobile portrait to mobile landscape.

Codepen Example: http://codepen.io/Zacharias3690/pen/KVXmKw

To reproduce, shrink screen to where tabs are paginated, click the right arrow to move tabs, unshrink the page. Using v1.0.2

[2016-01-15 20:01] jelbourn opened #6703 "Exclude layout.attributes.scss from closure build output"
When running `gulp build-all-modules --mode=closure`, the definitions for `layout.attributes.scss` are included in the outputted `core.css`. These styles should be omitted.

cc @ThomasBurleson

[2016-01-15 20:02] jelbourn commented on #6614
Yes, this is a dupe.

[2016-01-15 20:02] #6614 closed

[2016-01-15 20:05] jelbourn opened #6704 "Don't add `goog.require` for ngAnimate in Closure output"
When running `gulp build-all-modules --mode=closure`, the outputted `core.js` file contains the line `goog.require('ng.ngAnimate');`. The `ngAnimate` module should be excluded from generation of `goog.require` statements.

[2016-01-15 20:20] ThomasBurleson commented on #6549
*  use `ng-class="myClass"` for interpolated values... this approach will not interfere with the `class="flex"` injection.
*  change **md-input-container** `display:flex` instead of `display:inline-block`

<img width="1061" alt="screen shot 2016-01-15 at 12 18 29 pm" src="https://cloud.githubusercontent.com/assets/210413/12364196/1fce961a-bb82-11e5-94f0-f5fd5fd88745.png">

[2016-01-15 20:20] #6549 closed

[2016-01-15 20:34] ThomasBurleson commented on #6283
Will not fix.

[2016-01-15 20:34] #6283 closed

[2016-01-15 20:43] gbaj commented on #6668
As a workaround- adding this into your getSuggestions function seems to work

    this.timeout_(function() {
      var outerContainer = document.querySelector('.md-autocomplete-suggestions-container');
      var innerContainer = document.querySelector('.md-virtual-repeat-sizer');
      outerContainer.style.height = innerContainer.style.height;
    });

[2016-01-15 20:59] #4860 closed

[2016-01-15 21:01] EladBezalel commented on #4880
dup #5744 will be fixed via #5868

[2016-01-15 21:01] #4880 closed

[2016-01-15 21:06] grosem commented on #6610
I think I found the problem:

https://github.com/angular/material/blob/1d71928ee7480464d34749284cb326d3ad127f93/src/components/input/input.js#L639-L642 says *If we have the md-auto-hide class, the md-input-invalid animation will fire, so we can skip*. However, it does not.

The animation is supposed to be triggered by the setInvalid function
https://github.com/angular/material/blob/1d71928ee748046

[2016-01-15 21:07] yanndupuy commented on #6610
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dupuyyann@gmail.com
    Domain zyapps.com has exceeded the max emails per hour (497/400 (124%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2016-01-15 21:17] jelbourn commented on #6360
Dupe of #6304

[2016-01-15 21:17] #6360 closed

[2016-01-15 21:22] jelbourn commented on #6655
Doesn't necessarily have to be a CSS parser, but something in the tooling that cleans up the same property being used more than once in the same rule. This does *not* apply to specific properties that have browser-prefixed values (such as `display` having `-webkit-flex` and then `flex`).

All three existing cases come from the use of SCSS mixins. They are:
* menu (text-align)
* menu-bar (text-alig

[2016-01-15 21:24] jelbourn commented on #6655
@ThomasBurleson I'm changing this to P2 because the amount of manual work it requires is very low.

[2016-01-15 21:54] topherfangio commented on #6345
@ThomasBurleson Is there a reason this is assigned to me even though there is a PR to fix it? I put an "LGTM" on the PR in case that is what was needed.

[2016-01-15 22:08] #6622 closed

[2016-01-15 22:40] laicosly commented on #6638
Angular Material could use an improved color-theming story.  I'd like to see colors defined separately from the angular-material.scss file.

[2016-01-15 22:46] laicosly commented on #6638
I don't understand the choice to use javascript theming, that idea doesn't seem right.  I'd like to see pure scss style/theming.

[2016-01-15 22:47] laicosly commented on #973
Please go back to scss theming.

[2016-01-15 22:51] uriva commented on #2577
@ab712 Thanks for the clarification about md-on-remove. I was searching for that exactly and it was not obvious from docs.

[2016-01-15 23:45] topherfangio commented on #6699
@ThomasBurleson Pretty sure this is just waiting on PRs to get merged: #6550 and #6276.

[2016-01-16 00:18] omeid opened #6709 "Request: md-colorpicker"
`<input type="color">` is still [not supported by some major browsers](http://caniuse.com/#feat=input-color), the usual suspects, IE and the IE6-round-two (also known as Safari).

Inline with md-options, md-select, md-datepicker, and other _enhanced_ form controls, it would be nice to have `md-colorpicker` or provide a consistent colorpicker when using `<input type="color">`.

Some previous art:

[2016-01-16 01:26] isavnin opened #6710 "Default shadows are inconsistent with material design specs"
The elevation shadows for most elements do not follow current material design specs:
https://www.google.com/design/spec/what-is-material/elevation-shadows.html#elevation-shadows-shadows

For example, FAB buttons should have resting state -> pressed state as 6dp -> 12dp. Right now it looks more like 2dp -> 6dp. Sidenav should default to 16dp. Card should default to 2dp. This should be checked for a

[2016-01-16 08:19] johannesjo commented on #973
But you're forcing people to work with your own custom js system. And while sass is pretty common, well established and not too hard to port to less or stylus (make it it's own repo + module for that matter) the combination of the two is.

[2016-01-16 08:47] Frank3K commented on #6709
Is there an official color picker in the [material design guidelines](https://www.google.com/design/spec/material-design/introduction.html)? If not, I doubt if the component is going to be added.

Are there issues with e.g. brianpkelley implementation?

[2016-01-16 08:49] omeid commented on #6709
@Frank3K Yes, quite a few. For example, you can't use it inside an md-dialog as it uses an md-dialog itself.

[2016-01-16 11:49] EladBezalel commented on #6709
@omeid at this moment there's no memory of color picker in the material design spec.
ngMaterial project aims to provide components according the design spec and follow it completely.
The idea you posted are very nice, you can create a directive that uses datepicker or a dialog to assemble the color picker, PRs are very welcome.

[2016-01-16 11:49] EladBezalel commented on #6709
@omeid at this moment there's no memory of color picker in the material design spec.
ngMaterial project aims to provide components according the design spec and follow it completely.
The idea you posted are very nice, you can create a directive that uses datepicker or a dialog to assemble the color picker, PRs are very welcome.

[2016-01-16 13:10] chenzomi12 commented on #6336
+1

[2016-01-16 14:05] DevVersion commented on #6634
@super-coder If you look at your codepen, you also specify the attribute `md-row-height-gt-md="1:1"`, so that actual `md-row-height="200px"` attribute will be ignored on your codepen (screenshot screen size).

If you remove this attribute and remove the `gutter` (only for example), then you can see, the first tile has a height of `600px` (`200px` * 3rows)

[2016-01-16 14:18] super-coder commented on #6634
@DevVersion thanks closing issue

[2016-01-16 14:18] #6634 closed

[2016-01-16 15:21] Odahi commented on #6443
I've also noticed that using ngMessagesInclude can change the show/hide behavior in messages.

[2016-01-16 15:31] DevVersion commented on #2413
This should be closed.

[2016-01-16 15:50] #2413 closed

[2016-01-16 18:06] DevVersion commented on #6432
Yes I can reproduce that. If you drag it from `off` to `on` it will move back. And something strange is, if you drag from `off` to the other side `<-- left`, it will move to `on`

Little GIF, which should shows the problem
![](https://i.gyazo.com/37d7c373d9c88b27be2b47a73641ba52.gif)

[2016-01-16 18:08] EladBezalel commented on #6432
dup #4719

[2016-01-16 18:08] #6432 closed

[2016-01-16 20:03] tonyawad88 opened #6716 "md-autocomplete - when dropdown list is open, attempting to scroll while hovering over the input, shifts the dropdown"
Hello,

When hovering over the autocomplete input, attempting to scroll while the mouse is over the input shifts the dropdown list. This happens in Master branch and in version 1.0.2. This happens in Chrome, Firefox, Safari on MAC. It seems like it happens on all browsers.

Please let me know if you need more info.

Here's a snapshot of it:
![autocomplete_bug](https://cloud.githubusercontent.com/a

[2016-01-16 20:19] 0101adm commented on #6716
this is a dup.

[2016-01-16 20:29] DevVersion commented on #6339
Yes that seems to be an issue. The problem is caused [here](https://github.com/DevVersion/material/blob/0a7ded9ef157454f069c06d0aaf0cabbfc884cb3/src/components/dialog/dialog.js#L845).
And this line makes no sense, because this will always cause duplicate `id` (if specified)

[2016-01-16 20:31] DevVersion commented on #6716
Correct @0101adm - PS: it's already fixed in #6589

[2016-01-16 20:51] jaggedsoft commented on #2907
+1

[2016-01-16 21:34] lasernite commented on #6304
Was there a work around for this?

angular-material 1.0.1-master-d1b7f79

`Sass::SyntaxError: Invalid CSS after "...a screen\0 and ": expected "{", was "(max-width: 599..."`

[2016-01-16 22:25] Emeegeemee commented on #6602
I found a few more violations with using *.setAttribute('style', *) in [MenuBarController](https://github.com/angular/material/blob/0e334cd3569841c8fd9abb73f812dd968b4ccccf/src/components/menuBar/js/menuBarController.js#L111) and [util.js](https://github.com/angular/material/blob/0e334cd3569841c8fd9abb73f812dd968b4ccccf/src/core/util/util.js#L305-L306).

[2016-01-16 22:37] miton18 commented on #5600
I have the same problem, I solved it with @topherfangio recommandations.
is it plan to solved it ?

[2016-01-16 23:22] EladBezalel commented on #6376
@StretchKids first of all, our sidenav uses `md-whiteframe-z2`.
Second, if we are, somehow, not following the google material design spec, please mention where and we will fix it. We try out best to implement the material spec and follow its guidelines/
I do understand the problem here and for now, i suggest you to make your background in grey-50 (#FAFAFA) for more contrast.

[2016-01-16 23:54] tonyawad88 commented on #6716
@DevVersion @0101adm Thanks guys.

[2016-01-17 00:39] philippbussche opened #6719 "md-dialog still does not work with $q.all()"
Hi,
I am trying to show a dialog with a progress circle while data loads and automatically hide the dialog again after data has arrived. I found the solution of a gentleman who reported the usage of $q only to be working in angular material 0.10.x and below (https://github.com/angular/material/issues/3919). What he built would be exactly what I am after.
The issue is marked as fixed but when I tri

[2016-01-17 00:42] ThomasBurleson commented on #6704
@robertmesserle - can you fix this one?

[2016-01-17 01:04] Emeegeemee commented on #6602
I believe I've fixed all the unsafe-inline violations in this [commit](https://github.com/Emeegeemee/material/commit/42bd84f7782a932d70350dfcf6f160adfc03e0cc), but will do another check and update any tests before sending a pull request next week.

In case anyone wants to test out the doc site with CSP enabled, I created this [commit](https://github.com/Emeegeemee/material/commit/849e0db9bee2a175c

[2016-01-17 01:50] jcmccormick commented on #6304
I, too, would love a work around for this, especially if this particular issue isn't going to be fixed until 1.1.0, which looks like it may be the case, looking at the backlog and milestones.

Currently, I'm stuck using 0.9.8, which cuts out a hefty chunk of functionality.

Using Ruby on Rails with the sass-rails gem.

[2016-01-17 05:32] Emeegeemee commented on #6719
My guess is that it has something to do with the promises resolving in the same digest as opening the dialog. I modified [your codepen](http://codepen.io/anon/pen/YwrJqv?editors=101) by wrapping the promises in a timeout and it seems to work as you want it to.

[2016-01-17 06:50] shprink commented on #6336
+1

[2016-01-17 07:55] iamryandrake commented on #4594
In the example below, I have a countries.json file that I'm populating my md-select with, and several key/value pairs:

    {"name":"Australia","tld":".au","cca2":"AU","ccn3":36,"cca3":"AUS","currency":"AUD","calling-code":"61","alt-spellings":"AU","relevance":1.5,"region":"Oceania","subregion":"Australia,New Zealand"}

**HTML:**
    My HTML is simply using a Autocomplete component, but I've tried

[2016-01-17 09:54] DevVersion commented on #6716
@tonyawad88 It would be nice if you close your duplicated issue :)

[2016-01-17 10:51] gligoran commented on #4561
Any progress on this? I really need a stand-alone datepicker. I'd be happy with a codepen that shows how to do it, even if it's hacky. I think I'll prove less hacky than modifying other angular datepickers to material design.

[2016-01-17 11:04] Deadly0 commented on #4561
@gligoran you can use this code to display calendar
[code]
but no docs for it.
Available params:
md-min-date
md-max-date
md-date-filter
it works the same way as in datepicker.

[2016-01-17 11:12] janvandenberg commented on #5526
Another workaround that worked for me is to change ng-click with ng-mousedown

[2016-01-17 11:25] bh86 commented on #6336
+1

[2016-01-17 11:30] DevVersion commented on #2561
That issue no longer exists - should be closed.
Solved issue in Codepen as example: http://codepen.io/DevVersion/pen/qbPQgW

[2016-01-17 11:50] gligoran commented on #4561
@Deadly0 I tried that, but all it displays is the top row of day names.

It might need more work, I'm not aware of, so here's a pen: http://codepen.io/gligoran/pen/PZJxvm

[2016-01-17 12:01] philippbussche commented on #6719
Thanks @Emeegeemee. I took your changes over into my app and it is now working as I am expecting it. I am pasting my Controller source below if anybody else ever needs something similar. As you can see I am querying data via a factory and as soon as thats there I am closing my dialog again. I am still new to Angular so one of the things I currently dont yet understand is why I have to specify the

[2016-01-17 12:18] clavier-souris commented on #4561
@gligoran `ng-cloak` on your main `div` is causing scroller container to be resized to `width: 0px`
I had the same exact problem.

A question of mine : is it possible to change the first day of week in a week row ?

[2016-01-17 12:21] Deadly0 commented on #4561
@clavier-sourism yes, i use monday as the first day of a week

[code]

[2016-01-17 12:24] clavier-souris commented on #4561
@Deadly0 Many thanks. Did not realize it was simply linked to locale configuration.

[2016-01-17 12:40] DevVersion commented on #2705
@epelc - That's a really good idea IMO, I'm up to implement that feature :). But I want to have a few more information. You talking about a lifetime cache for every cached element or better (IMO) to clear the entire cache every `lifetime` milliseconds. Thoughts?

[2016-01-17 13:31] gligoran commented on #4561
@clavier-souris: Thanks.

Sadly, it looks like `mdMinDate`, `mdMaxDate`, and `mdDateFilter` don't update when the variables they're bound to, change. It makes sense, since when it's shown from the date picker, these won't change, but in standalone, they can.

[2016-01-17 13:38] epelc commented on #2705
@devversion I was thinking it should clear the cache for a specific search term after the lifetime. This way you don't just lose the whole cache every x seconds. As that would be bad if say I searched something 5 min ago and then I just search something 1 min ago. It shouldn't delete both if the lifetime is 6 min. It should delete the first search when it reaches 6 min then delete the other search

[2016-01-17 13:47] dani3l commented on #6669
+1, happens from 1.0.0-rc6

[2016-01-17 14:00] tonyawad88 commented on #6716
For sure :)

[2016-01-17 14:00] #6716 closed

[2016-01-17 15:21] ruant commented on #5608
+1 for this.

[2016-01-17 15:22] prijindal commented on #6304
+1 for me too

[2016-01-17 15:32] prijindal commented on #6304
I was having the same problem while using gulp

What i did was before feeding it into the sass compiler, I replaced all '\\0' with a space ' '

[code]

And now it works greatly
Note: I am using gulp-sass for compiling, i am not sure how gulp-ruby-sass handles it but i think this workaround should work for them

[2016-01-17 15:36] dawud-tan commented on #3597
+1

[2016-01-17 16:15] yccteam commented on #6137
It seems to work with this configuration: http://plnkr.co/edit/Ga027OYU5nrkua3JxNRy?p=preview
In the inner "confirm" dialog I've added:
[code]

[2016-01-17 17:54] sudharsanmit opened #6724 "Rel 1.0.2 - Demos not working on Code pen."
All demos are working on Codepen on latest release 1.0.2. Datepicker example attached.
http://codepen.io/anon/pen/qbPvmv

[2016-01-17 18:36] DevVersion commented on #6724
Duplicate of #6695

[2016-01-17 19:08] sudharsanmit opened #6725 "Datepicker Issues (Release 1.0.2)"
One of the best date pickers with no JS needed. Appreciations. However, I encountered too many issues while using it. Putting all together as one.

Standard Day Picker:

Issue 1:
Onhover disabled indicator existed on the disabled date picker in version 0.11.4 - https://material.angularjs.org/0.11.4/demo/datepicker
Missing in latest release (https://material.angularjs.org/latest/demo/datepicker). I

[2016-01-17 19:12] sudharsanmit commented on #6724
Issue Closed as referenced in #6695

[2016-01-17 19:12] #6724 closed

[2016-01-17 19:53] ih57452 commented on #6104
https://github.com/angular/angular.js/commit/a3a7afd3aa70d981b0210088df53fa2cf68d3a3d has fixed this.

[2016-01-17 19:53] #6104 closed

[2016-01-17 21:25] SpenceDiNicolantonio opened #6726 "FAB Speed dial is empty after being displayed due to breakpoint change"
When a FAB Speed Dial component is initially hidden when the page loads, and later displayed as a result of a breakpoint being reached, the Speed Dial is empty. For example, applying `hide-xs` to a FAB Speed Dial, loading the page with the browser at less than 600px, and then expanding the browser window to greater than 600px causes the Speed Dial to appear, but there are no buttons within it.

[2016-01-17 22:01] EladBezalel commented on #6309
@AhmadZuhdi [ngValue](https://docs.angularjs.org/api/ng/directive/ngValue) shouldn't be used on text input.

[2016-01-17 22:01] #6309 closed

[2016-01-17 22:21] michaelkrog commented on #6694
Cool.

According to https://github.com/angular/material/issues/6278#issuecomment-169156296 the md-datepicker is following a spec not available to external contributors.

But in your opinion that spec does not impose anything that would make a PR for #4233 a waste of time?

[2016-01-17 23:03] EladBezalel commented on #6457
dup of #5365

[2016-01-17 23:03] #6457 closed

[2016-01-17 23:03] EladBezalel commented on #6578
dup of #5365

[2016-01-17 23:03] #6578 closed

[2016-01-17 23:12] SpenceDiNicolantonio commented on #5022
I recently updated to version 1.0.1, and this issue seems to have since been resolved.

[2016-01-17 23:12] #5022 closed

[2016-01-18 02:13] dohomi commented on #2037
@michaelkrog your fix doesn't work in my case. Tooltips inside of ```md-content``` are not visible on the edge, even if I set the ```md-direction="bottom"```

[2016-01-18 02:38] rvarbanov commented on #6689
Well, I need a way to focus the first form element of my form. My first element is a select dropdown.

What do you suggest that I should do to have that select focus after page load?

[2016-01-18 03:51] ThomasBurleson opened #6731 "button does not infer aria-label properly"
mbButton does not use $mdAria correct to set the aria-label based on the label/content text.

[2016-01-18 03:53] ThomasBurleson commented on #6731
Should use:

[code]

[2016-01-18 04:31] himanshuapril1 commented on #5964
'Not Supported' ?? What does it mean?? Is it fixed now or not?

[2016-01-18 04:44] ThomasBurleson commented on #6726
@topherfangio - FYI.

[2016-01-18 05:23] ivan7237d commented on #5524
@EladBezalel Yes, I still see this. Sorry for slow response.

[2016-01-18 07:40] alapasset opened #6732 "Issue with input ?"
Hello,

I start with angular Material and I try to do an input search bar. My work is here: https://lancea-news-agone.c9users.io/

The input label go outside top when I enter a search text inside and I don't understand why.

 My code :

[code]

Thx in advance.

[2016-01-18 09:56] xavierva commented on #6696
Here is a Plunkr : http://plnkr.co/edit/5mNQOS3xbEqIlwTCaLQ3?p=preview

If you remove :
 max="20" of input field seats you will see that the form width change.

[2016-01-18 10:06] craigsnyders commented on #4653
This is quite an important issue for mobile apps when used on a page which is scrollable.  It's totally reproducible (visit the md-select demo page in Chrome/Safari on iOS), open a dropdown, attempt scrolling the page.

Currently it looks very undesirable because the absolute position means the page scrolls but leaves the md-select options in the same place.

I think the interaction should be revi

[2016-01-18 10:11] mackelito commented on #6676
@super-coder does your stateChange fire once or twice? We keep getting dual triggers on the ng-click function.

[2016-01-18 10:12] craigsnyders commented on #4653
Or even better, page scroll should be disabled when md-select is opened.
N.B. this is not Safari only

[2016-01-18 10:52] mackelito commented on #6657
See that the "needs: demo" label is still on this issue... Let me know if the demo needs anything else!

[2016-01-18 11:01] yccteam opened #6733 "md-select bug"
Hi,
I've noticed a bug in md-select (it might be intentional though).
In version 0.10 and below, when you had a small wrapper for the md-select, it would have cut the label inside the md-select and added 3 points:
http://plnkr.co/edit/T1UzWlWY8aaMWrM9xPWb?p=preview
Now, when I try to do the same with version 0.11 and above, the label from the md-select now overflows:
http://plnkr.co/edit/hTBqUnFQQ

[2016-01-18 11:27] jeson114 opened #6734 "virtual repeat infinite scroll codepen not available"
nothing loads on the codepen demo for virtual repeat for 1.0.2

[2016-01-18 11:56] mpfisterUniBE commented on #6635
flex="auto" won't help in this case because as soon as flex is being applied to a column element it fails to properly render in IE11:
=> http://codepen.io/cyberlnk/pen/NxwqoG

This bug (or maybe I'm just doing something wrong) has become a show stopper for our current project so hopefully there is a way to fix this issue.

Interestingly the Layout Directive demo on the following page works perfect

[2016-01-18 12:08] super-coder commented on #6635
i managed to make it work by removing flex='column' and controlling with flex='33' and max-width

[2016-01-18 12:11] super-coder commented on #6635
http://codepen.io/anon/pen/adVvzK

[2016-01-18 12:27] brunsgaard commented on #6219
div class="md-inline-form"

[2016-01-18 12:36] tranduytrung commented on #5663
I also met this issue. Generally, <input> elements does not lose their focus

[2016-01-18 12:44] nissoh commented on #1667
quickie @dohomi fork that seems to be working
http://codepen.io/anon/pen/adVvLQ?editors=100

and +1 (: ofc

[2016-01-18 13:08] mpfisterUniBE commented on #6635
nice catch, it's indeed happening as soon as layout="column" is being added.

For some reason IE11 seems to have an issue with a flex-basis of 0%, so I've added an auto flex-basis for columns:
[code]
This way I don't have to change the HTML code itself.
=> http://codepen.io/cyberlnk/pen/wMPKjJ

...need to further test it but you've put me into the right direction, thanks.

[2016-01-18 13:21] fincha commented on #2595
+1

[2016-01-18 13:22] marcomafessolli commented on #6219
@brunsgaard it worked, thanks.

[2016-01-18 13:24] fincha commented on #2907
+1

[2016-01-18 13:51] DevVersion commented on #6734
That's related to #6695

[2016-01-18 13:58] vguede opened #6735 "Error in $mdDateLocaleProvider documentation"
In $mdDateLocaleProvider documentation, the formatDate implementation doesn't support null or undefined values.
Suggestion of fix :
Instead of :
[code]
Write :
[code]

[2016-01-18 14:25] DevVersion commented on #6735
At the moment, the `$mdDateLocaleProvider` / `momentjs` will return `"Invalid date"` if using `null` as input date. And if you use `undefined` it will return the current date formatted in `L`

Wouldn't it be better to return just an `undefined` value instead of an empty string?

[2016-01-18 14:31] vguede commented on #6735
I think null ou undefined values means no data.
The default formatDate begins by :
[code]
This is why I suggest my fix.

[2016-01-18 14:33] skovalyov commented on #4105
Can it be optional to add these focus traps before and after? I've been using the old behavior by purpose for quite a while. To be more specific, I'm using `md-dialog` for data tabel small edit dialogs, described at https://www.google.com/design/spec/components/data-tables.html#data-tables-interaction. And if the user presses Tab key I want to navigate to the next row, i.e. open small edit dialog

[2016-01-18 14:36] bostondv commented on #6312
+1

[2016-01-18 14:46] brunsgaard commented on #4233
+1

[2016-01-18 15:10] ThomasBurleson commented on #6699
Odd issue still causing failures in Angular 1.3.2:

[code]

See [Stack Overflow Help](https://github.com/karma-runner/karma/issues/1101#issuecomment-146102921) for head hook for debugging.

Attn: @topherfangio

[2016-01-18 15:19] mckenzielong commented on #6732
This might be [a candidate for the forums.](https://groups.google.com/forum/#!forum/ngmaterial) To quickly address this: md-errors-spacer is a div that is below the input, and is pushing the rest of your input up.  You can try hiding that class, but any ngmessage div will not be placed properly.

Alternatively you could correct the positioning using something like this:
[code]
An aside:  I would a

[2016-01-18 15:29] karsunke commented on #4233
+1

[2016-01-18 15:43] pasqLisena commented on #6733
+1 I confirm this issue

[2016-01-18 16:35] eshansingh commented on #1943
What any of this still doesn't allow is the nice underline and title in the overlap area that's shown in the aforementioned example.

[2016-01-18 17:13] jojogeyer commented on #5241
+1

[2016-01-18 17:15] topherfangio commented on #6699
Digging in now.

[2016-01-18 17:31] vguede commented on #6735
The default formatDate method is in dateLocaleProvider.js, lines 157 to 175 :
[code]

[2016-01-18 17:42] DevVersion commented on #6735
Okay, thanks for pasting that snippet and for the clarity. Then as the `defaultFormatDate` function is also returning an empty string, the `formatDate` function should do the same. If you want you can create a Pull Request with your suggestion. If not, let me know ;)

[2016-01-18 17:48] vguede commented on #6735
I never submit a PR. If you can do this... ;o)

[2016-01-18 17:52] scriptsure commented on #6732
+1 on this... seems more like a bug then a forum discussion

[2016-01-18 17:57] jascination commented on #5204
@RolandHeath That's a good start! Getting the widths right is a bit of an issue becuase I'm using tabular data that is never particularly consistent (sometimes long strings) but I suppose I can truncate them and work it all out from there.

For anyone else coming across this, I've put a class of `.repeated-item` on whatever is being ng-repeated, and the CSS rules I'm using is:

[code]

Roland is c

[2016-01-18 18:05] scriptsure commented on #6636
+1 when adding the md-datepicker to the mix things get even worse... this is kind of a serious issue. Not to be pushy but so you have an estimate for 1.1.0 release?

[2016-01-18 18:17] mgalante commented on #4233
+1

[2016-01-18 18:42] mckenzielong commented on #6732
At first glance I read it to be a forum question, this is probably due to the wording of the initial issue / the way my brain interpreted it :+1:

With my excuses aside, it could also be considered a component integration bug.  There are two integration bugs here: error padding and theme problems.

First, I have some questions related to the spec: are inputs with floating labels allowed in regular

[2016-01-18 19:09] daviian commented on #3493
In a current project I wrote a workaround for this problem.
My solution was to add two directives. The first directive just binds a contextmenu event to the attached element. The second directive wraps just wraps the mdMenuCtrl and overwrites the offsets function.

[code]

Example for usage of this directive:

[code]

Hope it will help someone ;-)

[2016-01-18 19:54] mcosand commented on #5439
I ran into this without using flex.
Digging into it a little, it seems that tabs with subpixel widths are not handled correctly. `md-pagination-wrapper` sizes itself to the integer part of the tab width, which can be too short. Starting with width=2 may also be insufficient if there are enough tabs.

See the linked pull request for a fix.

[2016-01-18 19:59] calebegg commented on #6544
For our use case, we want the search text. Though, I know other people want the selected item so they can mark it as invalid if there's no selected item.

[2016-01-18 20:17] mitchellwills opened #6738 "Animations are frozen by javascript"
Consider the following code:

[code]
You will see that both the toast enter animation and button ripple animation freeze when an infinite loop starts 50ms later.

It seems like it is possible to allow some browsers to run animations off the UI thread (see link below). A workaround to this issue might be something nice for Angular Material to support. @see [Css Animations off the UI Thread](http://

[2016-01-18 20:28] EladBezalel commented on #4632
@jvmccarthy @mi5ha i couldn't reproduce can you please check if it's still happens on master?

[2016-01-18 20:35] EladBezalel commented on #4506
@askanhan is it still happening on master?

[2016-01-18 20:48] EladBezalel commented on #5355
@Dotneteer can you address the specific version it worked?

[2016-01-18 21:18] j86 commented on #6309
Thanks for getting round to this issue @EladBezalel . Do you have a suggestion how to pre-populate a text input if not using ngValue?

[2016-01-18 21:25] EladBezalel commented on #6309
controller is the best solution, ng-init might work as well

[2016-01-18 21:45] ajones-miovision commented on #5500
Looks like the disconnect options is not working out too well for us. We lose information when scope is 'reconnected'. Would be nice if the entire widget (controller and everything) was reinitialized and destroyed when switching tabs.

[2016-01-18 21:54] Davidx7 opened #6739 "md-tabs don't work with md-dynamic-height"
`<md-tabs md-dynamic-height md-border-bottom md-selected="currentTab">
       <md-tab label="one">`

Just a standard copy/past of tabs using `angular 1.4.8` and latest `angular-material`.
The bug is while using `md-dynamic-height` and the height changes (does NOT apply to to tabs of same size, even if the directive is there), after it changes, you can no longer switch to other tabs because the it

[2016-01-18 22:52] topherfangio commented on #6699
@matsko Could use your feedback on this Jenkins issue. Have two potential solutions:

1. We are thinking of adding `concurrency: 1` to the `karma.conf` so it only runs a single browser instance at a time. I was seeing issues far more often when running Safari and Chrome together and setting this alleviated those. You have any feedback on this, good or bad?

2. It looks like the Jenkins task isn't

[2016-01-18 22:55] jvmccarthy commented on #4632
@EladBezalel I'm still seeing this on master (1.0.2-master-74fe691) with [this codepen](http://codepen.io/jvmccarthy/pen/eJevrq) generated from the "Edit on CodePen" button on the HEAD (MASTER) demo on both IE11 and Edge.

After clicking "toggle right", a scrollbar is visible at the bottom and the user can scroll to the right, revealing the empty space from the transform.

Please let me know if I

[2016-01-18 23:00] topherfangio commented on #6734
Fix is in progress. Closing in favor of #6695.

[2016-01-18 23:00] #6734 closed

[2016-01-18 23:09] topherfangio commented on #5321
@EladBezalel This is partially fixed, we have removed the `md-maxlength` attribute from the demo so as not to cause confusion, but we still need to talk about whether or not it makes any sense for number inputs.

Was hoping to get some more feedback from @aaronPMorabito on how it might be used to see if we want to support it.

I say we close it for now and we can reopen if we get more feedback unl

[2016-01-18 23:10] EladBezalel commented on #4632
@jvmccarthy this is weird, when i build locally i can't re produce it. but i clearly see it on our deployed docs.
After some inspecting, it seems to be a problem on codepen.. mind assemble this demo on plunkr or jsbin?

[2016-01-18 23:26] RolandHeath commented on #5204
@jascination You might be able to do set the css width using javascript, based on the text length and font size. You can get actual element widths as well, but with a virtual-repeat not everything exists in the DOM so I don't think that'd be guaranteed to work.

I'm not familiar with how the breakpoints work, but I'm sure if we take a look inside the some of the other examples that use them we'll

[2016-01-19 01:12] terminator155 commented on #2907
+1

[2016-01-19 03:07] iamryandrake commented on #4594
@Panizzo Any update on when this fix will be rolled out?

[2016-01-19 04:01] #4544 closed

[2016-01-19 04:19] #6695 closed

[2016-01-19 04:38] #6257 closed

[2016-01-19 04:45] #6345 closed

[2016-01-19 04:54] Nosthertus commented on #5029
:+1:

[2016-01-19 05:01] RolandHeath commented on #6739
@Davidx7 You'll get a better response from the community and/or team if you can provide a demo - it might be worth making a minimal codepen/plunkr to reproduce this, and post it here.

[2016-01-19 05:10] ThomasBurleson commented on #6731
Fixed with SHA 571634065a6a8af570ce308ceb6ba829553eeaa9

[2016-01-19 05:10] #6731 closed

[2016-01-19 05:56] RolandHeath commented on #6733
This is a duplicate of #6312 - but it might help the team to know where it was introduced.

[2016-01-19 06:27] zbjornson opened #6742 "flex-* options missing from docs"
Here it seems that `flex-xs` and friends were removed from the docs:
https://github.com/angular/material/commit/f6e97a02a9c88b1695094a8a85a11958924e4c61#diff-f43b73a8f49340f536407d62cc0e1ad9L127

I don't see that they were moved, nor do I see a reason in the commit message. They still work. Mistake?

[2016-01-19 08:32] Sayene commented on #5805
+1, on android 5.01 and 5.02 native browsers

[2016-01-19 08:35] pasqLisena commented on #6733
Yes, it is the same behavior... We can close this one.

[2016-01-19 10:29] sebakerckhof opened #6743 "bug(toast): causes scrollbars to hide while animating in"
I have a page where the body has scrollbars, when adding an toast to it, the scrollbars are hidden for a moment and then reappear.

Btw, this seems opposite to:
https://github.com/angular/material/issues/4019

[2016-01-19 10:29] jpolo commented on #1901
Are you suggesting my issue should go in a new issue or what should I do concerning this issue?

[2016-01-19 11:09] wembernard opened #6745 "All demos on Codepen are broken - wrong JS CDN link to angular-material"
All Codepen demos on https://material.angularjs.org/latest/ are broken because you use a bad CDN setting: `http://localhost:8080/angular-material.js` in `Pen Settings/Javascript` tab.

[2016-01-19 11:16] dbtek commented on #1435
@Flertz, @Darwesh27 sure it's a little late however; there might be ones still encountering this case.

[ngMouseUp](https://docs.angularjs.org/api/ng/directive/ngMouseup) directive perfectly solves the problem here. Bind some model to slider and do stuff with that model on `mouseup` event.

Hope it'll help. Thanks.

[2016-01-19 12:07] yccteam commented on #6733
Yeap, the same indeed :)

[2016-01-19 12:07] #6733 closed

[2016-01-19 12:21] yccteam commented on #6312
I've noticed this bug as well. It seems to be working fine on version 0.10.x but not on versions 0.11.x and on
Version 10:
http://plnkr.co/edit/T1UzWlWY8aaMWrM9xPWb?p=preview
There's also a version 0.11 there that was added locally so you can switch to see the bug on version 0.11.
Here's a live example with 1.0.2:
http://plnkr.co/edit/hTBqUnFQQekNEy5YUVc5?p=preview

[2016-01-19 12:24] DevVersion commented on #6745
That's a known issue and a dupe of  #6695.

[2016-01-19 12:34] DevVersion commented on #6343
That's fixed in #6727 by @ThomasBurleson and is already merged.

[2016-01-19 12:51] wembernard commented on #6745
Indeed :+1:

Didn't find that issue, my bad.

[2016-01-19 12:58] DevVersion commented on #6745
No problem ;) anyway thanks for opening an issue. Can you please close your duplicated issue?

[2016-01-19 13:01] oldirony commented on #1106
+1

[2016-01-19 14:36] pellenberger opened #6747 "Mobile : Focus stays on input when clicking elsewhere"
To reproduce using a mobile device :
Go to material.angularjs.org -> Demos -> Input -> Errors Advanced.
Click on the email input. The keyboard is opened. Close it or not then click on a text or on the input switch placed in the same form (without enter any text in the email input).
Expected behavior is : the keyboard is closed and the email input loses focus.
Effective behavior is : the keyboard i

[2016-01-19 14:37] usarskyy opened #6748 "md-select inside md-input-container has wrong margin/padding"
As you can see on the image below, "Titel" label overlap "md-select" element because "md-select" does not have any following "md-errors-spacer" DIV element (like text input does).

![image](https://cloud.githubusercontent.com/assets/1206777/12420936/c1ad20c4-bebf-11e5-8f59-d68021a8d05e.png)

"md-input-container>md-select" CSS style explicitly defines "margin: 0" but the right solution would be to

[2016-01-19 14:47] usarskyy opened #6749 ""md-no-float" does not work"
I have two text inputs. First one does not have "md-no-float" attribute on "md-input-container" specified. Second contains this attribute.
At the end the behavior for both elements is exactly same:

![image](https://cloud.githubusercontent.com/assets/1206777/12421679/aa06559a-bec3-11e5-9bf6-cc45965b2815.png)

I am using Google Chrome 47, Angular Material v1.0.2

[2016-01-19 14:47] usarskyy commented on #6748
BTW, I am using Google Chrome 47, Angular Material v1.0.2

[2016-01-19 15:06] gpopovic commented on #6738
Maybe related to pull #6631

[2016-01-19 15:13] DevVersion commented on #6749
As you can see [here](https://material.angularjs.org/latest/api/directive/mdInputContainer), if the attribute `md-no-float` is provided, we not convert placeholders to floating labels, but you are using a `<label>` which will be converted to a `floated label`, so you should use the `placeholder` attribute on the `<input>` and remove the `<label>`

[2016-01-19 15:18] usarskyy commented on #6749
Sorry, I thought that "placeholders" in the description was just a mistake because in the example above "label" was used :) My bad!

[2016-01-19 15:20] DevVersion commented on #6749
That's a good point (can confuse the demo above). But I think if you read the attribute definition you will get the right usage ;)

[2016-01-19 15:38] DevVersion commented on #6461
@ganeshkumarj I tried to reproduce your issue (http://codepen.io/DevVersion/pen/xZPzpL), but I'm not sure what you mean about retrieving the `ngModel`, everything works fine there.

[2016-01-19 15:45] pasqLisena commented on #6312
+1

[2016-01-19 16:05] colbroth opened #6750 "md-autocomplete forced to double click selected item 1.0.2"
After clearing autocomplete options, one is forced to select the item twice before it will actually be selected.

Reproduce:
1. Load Angular Material Demo App for md-autocomplete
2. Select any state
3. Click the X button
4. Select any state
** at this point when you click on a state nothing happens, expected the state to be selected just as it had been selected in step 2
5. Click on the selected s

[2016-01-19 16:06] dcarrask commented on #3163
+1

[2016-01-19 16:13] 0101adm commented on #6747
dup of #5365.

[2016-01-19 16:31] aaronPMorabito commented on #5321
@topherfangio I was only using it since it was in the demo and I thought it was fancy. I noticed that it was always causing validation errors when used in combination with <code>type="number"</code> so I reported it. I was using it to display the length of the string input and the max possible length of that string.

[2016-01-19 16:42] bluebirdtech commented on #5115
+1 I'm seeing ng-show and ng-class both (occasionally) not update correctly.

I also saw a problem when adding just class with an expression.  Eg. class="my-class-{type}".  The class for two types were present on the div where it was used.

It may be when scrollTop is updated directly on the scroller rather than scrolling manually, or at least that's when I observe the problem.

Swapping ng-show f

[2016-01-19 16:44] jozsi commented on #6495
If you have a list of tabs that do not fit on init, the arrows are disabled: http://codepen.io/anon/pen/BjmPYz

[2016-01-19 16:50] ganeshkumarj commented on #6461
@DevVersion Perfect this was my need. for me it was not working may be i done in work way. thank you

[2016-01-19 16:50] #6461 closed

[2016-01-19 16:56] ThomasBurleson commented on #6738
@mitchellwills - Thx for the excellent issue report and the suggested fix to support unblocked animations.

[2016-01-19 16:59] #6745 closed

[2016-01-19 16:59] ThomasBurleson commented on #6750
@robertmesserle - can you investigate plz.

[2016-01-19 17:05] topherfangio commented on #6343
@DevVersion Thanks for the update!

[2016-01-19 17:05] #6343 closed

[2016-01-19 17:10] topherfangio commented on #5600
@miton18 Since most of our framework relies on and uses animations, I think it will take a lot of work for all of the components to support this. It is definitely something we will keep in mind, but it is a bit lower on the priority list right now.

[2016-01-19 17:11] gmoothart commented on #6676
@charlietfl in the codepen, `init` is not firing on tab change. If you are only reloading a view "under" the tabs, so the tab component is never re-initialized, it will work (maybe that is why @super-coder has it working).

For uninteresting reasons I need to do a reload of the top-level view that contains the tab bar. This causes the tabs to re-load, which causes that synthetic click, which cause

[2016-01-19 17:15] ThomasBurleson commented on #6749
Documentation needs to be improved/clarified.

[2016-01-19 17:15] chughk1 commented on #6344
I tried the css workaround it fixes the issue of showing small icons but if I hover over I can still see the tooltip on the icons. Also the cursor changes to a pointer as if you can click on a button. If needed I can provide a plunkr for reproducing the issue.

[2016-01-19 17:16] #6747 closed

[2016-01-19 17:32] ThomasBurleson commented on #6739
Please provide a CodePen or Plunkr that demonstrates this issue. I will reopen at that point.
Here are some starter demo templates that you can use/fork:

*  CodePen template: http://codepen.io/pen?template=bEGJdd
*  Plunkr template: http://plnkr.co/edit/yP0gB9iTacIQb48thud8?p=preview.

[2016-01-19 17:32] #6739 closed

[2016-01-19 17:41] topherfangio commented on #6344
@chughk1 Try the following temporary fix:

[code]

I'm hoping to add this soon to the standard CSS, but I need to test it a bit more first.

[2016-01-19 17:46] chughk1 commented on #6344
@topherfangio That didn't fix the issue.

[2016-01-19 17:47] jelbourn commented on #6725
@sudharsanmit Please try to only file one problem per issue. Grouping a bunch of things into a single issue makes it impossible to track and de-dupe.

[2016-01-19 17:47] #6725 closed

[2016-01-19 17:50] gmoothart commented on #6676
Here is a pen:
http://codepen.io/gmoothart/pen/VerGWj

It is actually not displaying the infinite-redirect problem, that may comes from a slightly different usage. But notice that in order to fully transition from tab 1 to tab 2 you have to click twice. the first click loads the tab content, but it takes a second click to move the selection bar.

[2016-01-19 18:25] charlietfl commented on #6676
@gmoothart switch to ui-router with nested view. So much more you can do with ui-router than ngRoute

[2016-01-19 18:27] sudharsanmit opened #6751 "Datepicker Issues (Release 1.0.2) #6725"
Pinned to #6725 . On request of asignee, splitting the issues into multiple tickets.
Standard Day Picker:

Issue 1:
Onhover disabled indicator existed on the disabled date picker in version 0.11.4 - https://material.angularjs.org/0.11.4/demo/datepicker
Missing in latest release (https://material.angularjs.org/latest/demo/datepicker). Intentional?

[2016-01-19 18:27] sudharsanmit opened #6752 "Datepicker Issues (Release 1.0.2) #6725"
Pinned to #6725 . On request of asignee, splitting the issues into multiple tickets.
Standard Day Picker:

Issue 2:
No way to navigate the months/years without using keyboard arrows.

[2016-01-19 18:29] sudharsanmit opened #6753 "Datepicker Issues (Release 1.0.2) #6725"
Pinned to #6725 . On request of asignee, splitting the issues into multiple tickets.
Standard Day Picker:

Issue 2:
No way to navigate the months/years without using keyboard arrows.

[2016-01-19 18:29] sudharsanmit opened #6754 "Datepicker Issues (Release 1.0.2) #6725"
Pinned to #6725 . On request of asignee, splitting the issues into multiple tickets.
Standard Day Picker:

Issue 3:
Calendar icon and Dropdown arrow next to date input are redundant. Onclick of the dropdown, the Calendar icon gets highlighted and calendar form fans out thus making it redundant.

[2016-01-19 18:29] sudharsanmit opened #6755 "Datepicker Issues (Release 1.0.2) #6725"
Pinned to #6725 . On request of asignee, splitting the issues into multiple tickets.
Standard Day Picker:

Issue 4:
Date can be selected through click of mouse only till Jul-13-2097. But keyboard can be used to select further dates.

[2016-01-19 18:30] sudharsanmit opened #6757 "Datepicker Issues (Release 1.0.2) #6725"
Pinned to #6725 . On request of asignee, splitting the issues into multiple tickets.
Standard Day Picker:

Issue 5:
Input date 13/20/2097 through keyboard. On clicking calendar icon, the date Jan 20 2098 gets highlighted and able to select first week of Jan 2098 (1,2,3 & 4) selectable thru mouse. Unable to choose any before or after. Also note, no restriction on the month (13 entered).

[2016-01-19 18:30] sudharsanmit opened #6758 "Datepicker Issues (Release 1.0.2) #6725"
Pinned to #6725 . On request of asignee, splitting the issues into multiple tickets.
Standard Day Picker:
Issue 6:
I selected Jan 1 2098, and reopened the calendar dialog by clicking on the icon, onhover - Dec 2097, 22nd to 28th becomes selectable. I did not select any but pressed up arrow once to go to Dec 2097 month. But the same Dec 2097, 22nd to 28th becomes un-selectable.

[2016-01-19 18:31] sudharsanmit opened #6759 "Datepicker Issues (Release 1.0.2) #6725"
Pinned to #6725 . On request of asignee, splitting the issues into multiple tickets.
Standard Day Picker:
Issue 7:
When the calendar dialog is closed by clicking outside, the focus is still retained on the icon/dropdown with shadow.

[2016-01-19 18:31] sudharsanmit opened #6760 "Datepicker Issues (Release 1.0.2) #6725"
Pinned to #6725 . On request of asignee, splitting the issues into multiple tickets.
Standard Day Picker:
Issue 8:
33333/1/2016 and 33333/1//2016 seems to be a valid input on a standard date picker but highlighted with red underline on all others. Infact, none of the basic validations on a date are done implicitly.

[2016-01-19 18:31] sudharsanmit opened #6761 "Datepicker Issues (Release 1.0.2) #6725"
Pinned to #6725 . On request of asignee, splitting the issues into multiple tickets.
Standard Day Picker:
Issue 9:
Can see no dates later than Mar 2099 on calendar either thru keyboard scroll or a date input and a calendar open. So, the calendar supports only max 83 years!!

[2016-01-19 18:31] sudharsanmit opened #6762 "Datepicker Issues (Release 1.0.2) #6725"
Pinned to #6725 . On request of asignee, splitting the issues into multiple tickets.
Standard Day Picker:
Issue 10:
No implicit input type validations present on date input.
https://docs.angularjs.org/api/ng/input/input%5Bdate%5D

[2016-01-19 18:33] sudharsanmit opened #6763 "Datepicker Issues (Release 1.0.2) #6725"
Pinned to #6725 . On request of asignee, splitting the issues into multiple tickets.
Only weekends are selectable:
Issue 1:
Max date selectable by click of mouse is 1/3/2099. Able to scroll through arrow keys and select further weekends. If I select thru' keyboard, unable to use mouse to select even the 1/3/2099 which was possible earlier.

[2016-01-19 18:33] sudharsanmit opened #6764 "Datepicker Issues (Release 1.0.2) #6725"
Pinned to #6725 . On request of asignee, splitting the issues into multiple tickets.
With ngMessages:
Issue 1:
Input = 13/32/874852
Output = The entered value is not a date!

Input = 13/32/2016
Output = This date is required!

Input validation is not consistent.

[2016-01-19 18:35] sudharsanmit commented on #6725
@jelbourn @ThomasBurleson Opened issues separately as requested and pinned to parent #6725. Let me know if anything more is required.

[2016-01-19 18:43] mattfysh commented on #6604
great, thanks @ThomasBurleson. Any thoughts on how to approach this enhancement?

[2016-01-19 18:43] scriptsure commented on #4037
+1

[2016-01-19 19:23] DevVersion commented on #6743
Here a demo to reproduce the issue. http://codepen.io/DevVersion/pen/jWaedW

[2016-01-19 19:25] zbjornson commented on #5204
Forked from the examples above (with borders shown to illustrate the technique): http://codepen.io/anon/pen/yePoqr

This handles different sizes of contents using `flex`, and compensates for the different width of the header and body due to scrollbars with a single CSS rule. The flex property also makes it easy to make it responsive (with `flex-sm`, `flex-xs`, etc.)

[2016-01-19 19:26] stevenmwade commented on #1648
Still happening to me in 1.0.2.

[2016-01-19 19:32] DevVersion commented on #6725
Thanks for filing all that issues, but to be honest the titles of all that issues are confusing me a bit. It would be awesome if you change them to a actual title.

[2016-01-19 19:35] DevVersion commented on #6573
Should be fixed in #6765

[2016-01-19 19:41] jelbourn commented on #6751
This was an intentional changes for all disabled buttons.

[2016-01-19 19:41] #6751 closed

[2016-01-19 19:42] jelbourn commented on #6752
The calendar scrolls.

See #4856 and #4251

[2016-01-19 19:42] #6752 closed

[2016-01-19 19:43] jelbourn commented on #6753
Dupe of #6752

[2016-01-19 19:43] #6753 closed

[2016-01-19 19:44] jelbourn commented on #6754
The calendar icon cues that it is a date input and the arrow cues that something will pop-up when you click it.

[2016-01-19 19:44] #6754 closed

[2016-01-19 19:45] jelbourn commented on #6755
Dupe of #6397

[2016-01-19 19:45] #6755 closed

[2016-01-19 19:45] jelbourn commented on #6757
Dupe of #6397

[2016-01-19 19:45] #6757 closed

[2016-01-19 19:47] jelbourn commented on #6759
This is working as intended.

[2016-01-19 19:47] #6759 closed

[2016-01-19 19:48] jelbourn commented on #6760
Cannot reproduce. When I enter "33333/1/2016" into the demo, it goes into invalid state.

[2016-01-19 19:48] #6760 closed

[2016-01-19 19:49] jelbourn commented on #6761
Dupe of #6397

[2016-01-19 19:49] #6761 closed

[2016-01-19 19:49] jelbourn commented on #6762
@sudharsanmit I don't understand what you mean.

[2016-01-19 19:51] jelbourn commented on #6764
Cannot reproduce.

[2016-01-19 19:51] #6764 closed

[2016-01-19 19:52] jelbourn commented on #6725
@sudharsanmit thanks for breaking them up. In the future, please note that the issue title should describe what the issue is about. Just saying "Datepicker issues" is not very helpful.

[2016-01-19 20:12] morwin10 opened #6766 "defaultViewBoxSize, doesn't set a size for md-icons directives. it doesn't work"
I'm new with angular and programming in general
So maybe I'm wrong

But I tried to solve it alone with a few variations and it does not work for me
I made an example here:
http://codepen.io/anon/pen/XXzybz?editors=101

PS
I also tried with defaultIconSet() with a URL.
like this:
$mdIconProvider.defaultIconSet ( url )
But it doesn't work to

And Just make sure that I understand correctly :

$mdIcon

[2016-01-19 20:12] sudharsanmit commented on #6752
@jelbourn There is no scroll bar.. Practically you can't use it without a mouse!!
"The calendar scrolls" - Is it the proposed functionality too? Or is will you be adding year and month selectables in the coming release? The other post specifically wants the year and month to be selectable. It is confusing. Pls clarify.

[2016-01-19 20:16] sudharsanmit commented on #6754
@jelbourn Obviously redundant. Check Google flights datepicker. The calendar opens on click of the calendar icon there. No need for a dropdown arrow.. It has left and right arrows to move the dates forward and reverse. https://www.google.com/flights/#search
I am not in agreement with your comment and I want to reopen the issue. @ThomasBurleson

[2016-01-19 20:19] ntvsx193 commented on #2907
+1

[2016-01-19 20:20] jelbourn commented on #6752
The first linked issue is "Scrolling is not obvious". It is a known issue.

[2016-01-19 20:21] sudharsanmit commented on #6755
Not a duplicate of #6397 which talks about minimum date. Read the issue fully.
It has two parts -
1. It is not allowing date selection beyond Jul-13-2097 using mouse click - means, I scroll to Jul 2097 using Pagedown keys. When I hover on the dates of the month, only dates till Jul 13 are selectable. The further dates are readonly. Why?
2. But if I use arrow keys, I am able to select them.

See th

[2016-01-19 20:23] sudharsanmit commented on #6757
Not a duplicate of #6397 which talks about minimum date. Read the issue fully.
Issues here -
1. Why does an arbitrary date of Jan 20 2098 get highlighted on the calendar when I entered an invalid date?
2. Why is the first week of Jan 2098 alone selectable by mouse while others are readonly?
3. Why does it not validate an invalid input and mark it with a red underline?

[2016-01-19 20:23] sudharsanmit commented on #6757
I dont agree to this arbitrary closure. Kindly re-open. @ThomasBurleson

[2016-01-19 20:32] sudharsanmit commented on #6760
![invalidinput](https://cloud.githubusercontent.com/assets/16746593/12431132/e8fdbb16-beb0-11e5-8355-90a4ebab02b8.png)

I have attached the image where the date picker doesn't go to invalid state.
https://material.angularjs.org/latest/demo/datepicker used.

Kindly re-open. @ThomasBurleson

[2016-01-19 20:32] jelbourn commented on #6757
The issue is that the date selection is capped on both ends (past and future). It's the same underlying fix for both.

[2016-01-19 20:34] sudharsanmit commented on #6761
@jelbourn Not a duplicate of #6397 which refers to min date and there is no mention of the 83 year limitation of the calendar.

Kindly re-oepn. @ThomasBurleson

[2016-01-19 20:37] sudharsanmit commented on #6764
![invaliddate](https://cloud.githubusercontent.com/assets/16746593/12431253/afa3de3a-beb1-11e5-95f1-0287a3cb332b.png)

@jelbourn I have reproduced the issue for you here.
https://material.angularjs.org/latest/demo/datepicker used.

Kindly re-open the issue. @ThomasBurleson

[2016-01-19 20:43] sudharsanmit commented on #6757
@jelbourn Pls note - I entered an invalid date and a random date popped up. Even if the cap on both ends addressed, the invalid input will still be an issue which is not addressed as per #6397.

[2016-01-19 21:13] sudharsanmit commented on #6762
@jelbourn The standard date picker has no validations on Day/Month/Year.
Even the ngMessages example (intended for validations) fails to validate the invalid day/month combination.
There is also a bug in the angularjs date model which implicitly does a conversion like this - 01/32/2016 = 02/01/2016!!

Attached examples for reference.

![invaliddate1](https://cloud.githubusercontent.com/assets/1674

[2016-01-19 21:18] vlio20 opened #6767 "md-input-container not showing error ng-messages"
Hi,
There are cases when the error message (ng-message) not showing, try to play with the codepen below.
the input field is required and minlength set to 2:
http://codepen.io/vlio20/pen/KVybvx?editors=110

Steps to reproduce:
1. focus on input.
2. enter 1 char & focus out (blur) -> minlength error message is displayed.
3. delete the char from step 2 -> no message is displayed, when the required me

[2016-01-19 21:41] topherfangio commented on #6699
Fixed by ef71080499313b4703508bf7ba08eae1ba089304.

[2016-01-19 21:46] jelbourn commented on #6762
Looks like you're using Firefox, which does parsing like that (Chrome is more sane). The default behavior of the datepicker is to use the browser's parsing/formatting. This is expected if you use the default internationalization settings.

To change this, you must use [`$mdDateLocaleProvider`](https://material.angularjs.org/latest/api/service/$mdDateLocaleProvider) to specify custom parsing and fo

[2016-01-19 21:46] #6762 closed

[2016-01-19 22:06] sudharsanmit opened #6768 "Datepicker Issues (Release 1.0.2) #6725 #6764"
Datepicker Issues (Release 1.0.2) #6725 #6764

Reopening the issue #6764 and attached screenshot. @jelbourn

[2016-01-19 22:16] jelbourn commented on #6768
@sudharsanmit Please read and follow our [guide for submitting issues](https://github.com/angular/material/blob/master/CONTRIBUTING.md#submit). Please be aware that we get _hundreds_ of issue reports per week and that we are not able to investigate issues that don't follow these guidelines to provide enough information.

Most important missing things here are the *issue title* and *browsers / OS*.

[2016-01-19 22:18] gmoothart commented on #6676
@charlietfl that's not an option in my case, for historical/practical rather than technical reasons.

[2016-01-19 22:36] sudharsanmit commented on #6762
Yes I do us firefox, @jelbourn So, you mean to say, all the demo models are browser dependent? Defeats the purpose isn't it? Google's statement - "unified" experience goes for a toss!