[2016-03-07 04:39] garaboncias commented on #6851
'menu' spec does't say anything about empty value. Before material v1.0 its works as expected, it has the same behaviour  as an input fields because it's looks like the same.
It's a bug (or at least very inconsistent behaviour) that you can't reach the initial state: the label is down when you don't give a value at the beginning, and once you select anything the label float up and stick there.
#65

[2016-03-07 06:07] DevVersion commented on #4670
Please check if your issue is fixed with HEAD / master

[2016-03-07 06:54] dhiman252 opened #7438 "Angular Material Autocomplete"
Do we have any option to disable an item listed in the autocomplete ?
Like wise we have a listing of the items and i want to disable some items to be selected but want them to display.

[2016-03-07 07:04] char0n commented on #7382
Cool, so I guess in 1.0,7. will you introduce the min-height fix which was reverted in 1.0.6 ?

[2016-03-07 07:40] mohammad6006 commented on #7419
xperia z2
google chrome
![browser](http://i.imgur.com/PVQJjPU.gif)

[2016-03-07 07:51] princemaple commented on #5029
Working on one myself

[2016-03-07 07:52] AlexCid commented on #7357
Actually, I might help (and this problem has been driving me crazy for a while) : http://codepen.io/anon/pen/dMGOPy . Why is this happening ?

[2016-03-07 08:42] noilly commented on #5361
@DevVersion cool, thank you! :)

[2016-03-07 09:09] iRoachie commented on #7436
What are you asking exactly?

[2016-03-07 09:12] AhmadZuhdi commented on #7436
sorry, it is bug or intended?
because it blocks reload and save function from the browser

[2016-03-07 09:16] iRoachie commented on #7436
I think it's intended behaviour. The same happens for a normal html select. Pen here http://codepen.io/iRoachie/pen/yOeVdW

[2016-03-07 09:22] AhmadZuhdi commented on #7436
well, I think that clarify the behaviour then,
thanks

[2016-03-07 09:22] #7436 closed

[2016-03-07 09:26] iRoachie commented on #7435
Can't you just check for duplicates on the array provided for the model?

[2016-03-07 09:27] kieranmcdev commented on #7377
We are also seeing huge performance issues in IE11 with AM 1.0.6 which make our site unusable. 1.0.5 is much more usable in comparison, please look into these issues

[2016-03-07 10:02] patrickjahns commented on #6525
I also came across this issue yesterday - any news?

[2016-03-07 11:09] Ram-Kale commented on #6563
+1

[2016-03-07 11:10] bluestella opened #7441 "md-icon-button: Icon not centered"
Needs to override below css style to line-height 0px for the icon to be centered.
[code]

[2016-03-07 11:40] HW-Siew commented on #6487
Hi, @EladBezalel. Thank you. I missed out the spec.

[2016-03-07 12:29] mbeckenbach commented on #7377
I did some refactoring of my ng-repeats. now 1.0.5 runs is quite fast. But as soon as i update to 1.0.6 everything becomes slow

[2016-03-07 12:30] galharth commented on #6767
+1

[2016-03-07 12:33] DevVersion commented on #7435
@bathos In general it's easy to prevent the `de-duplication`, you just need to specify a unique object for every chip. See for example in my demo. http://codepen.io/DevVersion/pen/wGMdmy?editors=1010

[2016-03-07 12:47] Tabishtabby commented on #7419
I ran into the same issue. I'm using v1.0.5 material angular at the moment. The autocomplete behaves perfectly on a desktop but on a mobile device (touch screen), the close button on the md-autocomplete doesn't work. I cannot click any other button on the screen I have to erase the text entered to dismiss the autocomplete dropdown only then can i click the other buttons visible on the screen.

[2016-03-07 13:00] DevVersion commented on #7438
I don't think this is desired by the specs. In my opinion an autocomplete component should be used to complete the entered text, instead of just displaying options (with even disabled item)

[2016-03-07 13:36] DevVersion commented on #2359
@lothargrieb Sorry for the late response, I'm trying to take a look at your issue.

![image](https://cloud.githubusercontent.com/assets/4987015/13570935/c46005a2-e471-11e5-9abc-994796680521.png)

But for now I'm not getting the actual problem, so it would be great if you provide a bit more information, and maybe a demo / screenshot.

[2016-03-07 14:15] alois-wever commented on #5182
+1

[2016-03-07 14:16] jojogeyer commented on #5182
+1

[2016-03-07 14:23] furyscript opened #7443 "md-datepicker disable views."
Hi,

I need to be able choose only week like `17 to 23` without disable day that I don't use. At this moment I set only Sunday available and I go Sunday by Sunday...

If there is this feature let me know otherwise can you link me some plugins? Thanks...

[2016-03-07 14:28] kievsash commented on #6844
Met same issue today on angular-material 1.0.6

[2016-03-07 14:46] artemgrygor opened #7444 "feat: calendar events enhancement"
Hey,
Are we going to implement the calendar directive? I mean not a date-picker but a whole one, with month and week views, a new event addition.
Thanks

[2016-03-07 14:55] parshotam commented on #1771
md-tabs is very slow working.Following code i used
<md-tabs md-no-pagination>

                <md-tab label="tab1" align="l" md-on-select>
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Tab One</h1>
                        <div class="row">
                            <md-select class="col-lg-8 increasewd" name="tr_type" ng-model="tr_type" pla

[2016-03-07 15:19] ivoviz commented on #7441
Related #7257

[2016-03-07 15:20] abouillon commented on #4124
I am experiencing this and looking at the demo, it is exactly what I get. When opening a dialog after scrolling the view a white bar shows up at the bottom of the view. The size of the bar is equivalent to how much the view was scrolled. This is especially troublesome because, just like the demo, I do not have disableParentScroll set to false. However, setting the overflow for the app body did ind

[2016-03-07 15:48] DevVersion commented on #7441
@ivoviz Can you update your issue to be more generic, then we can go with yours, instead of having two.

[2016-03-07 15:52] merlosy opened #7445 "minimal requirement : difference between bower and npm"
In v1.0.6 (current), the minimal version required for Angular modules is different between :

- Bower (^1.4.8), and
- Npm (^1.5.0).

Is Angular 1.5.x really supported yet?
Thx

[2016-03-07 15:58] ivoviz commented on #7441
@DevVersion Sure thing, will do it in a bit.

[2016-03-07 16:05] ivoviz commented on #7257
Summary:

- The icon is md-icon-button is vertically misaligned on Ubuntu. `line-height: 0px;`fixes the problem.
- Icon with text:
    - Icon vertically misaligned on Ubuntu.
    - Text vertically misaligned, adding the above mentioned css properties to the `span` element fixes the problem.

[2016-03-07 16:58] mzaarour commented on #6204
Please patch this bug !!

[2016-03-07 17:03] DevVersion commented on #7441
@bluestella I'll close this issue, because it's caused by the same origin as in #7257.
In addition to that - @ivoviz updated his description to track your issue too.

So thanks for the issue and *fix suggestion*- Please keep track of #7257

[2016-03-07 17:03] #7441 closed

[2016-03-07 17:05] marc-antoinepelletier commented on #6685
Thank you for the fix, it will be deploy for the 1.1.0 ? why not before ?

[2016-03-07 17:14] unnieTron commented on #3310
@leocaseiro Did you try implementing something to show the selected file in the page

[2016-03-07 17:15] DevVersion commented on #6685
@marc-antoinepelletier This fix is a `patch` and should be available in the next patch release. `1.0.7`

[2016-03-07 17:18] DevVersion commented on #7444
Maybe a duplicate of #4251, since the `md-datepicker` is using the `md-calendar`, which will hold the year / month selection.

[2016-03-07 17:23] artemgrygor commented on #7444
Oh, didn't know that md-calendar is a part of material toolkit. Thanks

[2016-03-07 17:34] topherfangio commented on #6685
@marc-antoinepelletier @DevVersion is correct; I am not sure why this was marked for milestone 1.1.0, but it indeed was pushed into our minor branch (in 4bdda21c03484443e5ec91df47a3d98cef95a9c7) which will be available in 1.0.7.

[2016-03-07 17:38] marc-antoinepelletier commented on #6685
Perfect, thank you !

[2016-03-07 17:45] mpiasta-ca commented on #7381
@DevVersion, issue might be specifically when using the circle as a clip-path (in the firefox demo case, the clip-path fails and everything beyond its edge is rendered).

I tried to clean-up the svg code directly (as xml instead of in illustrator) to see if that would help, but I couldn't get it to a point where it would work.

[2016-03-07 17:52] topherfangio commented on #6443
Hi all, we are indeed working on these issues; just trying to make sure we get some proper tests, and since this is related to animations, we're working with the core Angular team to make sure we have the proper approach. This is definitely a priority on our list!

[2016-03-07 17:58] topherfangio commented on #7136
The [Chips spec](http://www.google.com/design/spec/components/chips.html#chips-specs) is unfortunately a bit thin and doesn't currently have anything regarding read-only mode. I believe we made the assumption that for chips, you shouldn't see the nested input since you could see the remaining chips.

Mostly, I believe this was because many people use the read-only mode for static chips to display

[2016-03-07 18:13] Splaktar commented on #1771
@parshotam this issue is closed. Please post questions like this in the Angular Material forum on Google Groups. There is a link to the forums on the bottom of the getting started page.

[2016-03-07 18:44] jelbourn opened #7447 "Images in md-card are being blown up to 100% width"
Report from Googler on this line: https://github.com/angular/material/blob/master/src/components/card/card.scss#L63

Reproduction: http://codepen.io/anon/pen/graaLZ

[2016-03-07 18:56] sky10p opened #7448 "bootstrap compatibility"
Angular material should be compatible with bootstrap, input elements and font-size should be rendered correctly.

Thanks!!!

[2016-03-07 19:06] mhamel06 commented on #6859
Not sure if this is related or should be a new issue but I have noticed the following behavior with both the workaround version and non workaround version:

1. Enter Text
![screen shot 2016-03-07 at 1 37 43 pm](https://cloud.githubusercontent.com/assets/473551/13579708/e1a732d4-e46c-11e5-90b5-8e2f627a55c3.png)

2. Select then clear text
![screen shot 2016-03-07 at 1 38 13 pm](https://cloud.githubu

[2016-03-07 19:07] DevVersion commented on #7448
This won't be supported. Angular Material is a UI framework based on AngularJS. Bootstrap is a plain jQuery UI framework.

[2016-03-07 19:07] #7448 closed

[2016-03-07 19:17] bathos commented on #7435
Thanks, @DevVersion -- "transform" is a great solution, and I overlooked it because I had the wrong idea about where it fit into the pipeline. I'll need to wrap it in a custom ng-model directive if I want to actually model an array of primitives (numbers, in my case), but that's quite sensible anyway (validation, etc). Closing because `transform` is a suitable generic tool for dealing with this an

[2016-03-07 19:17] #7435 closed

[2016-03-07 19:43] cleever commented on #7373
I agree.

BTW, I think we need a second input style avaliable, without css racks. Like ionic framework have.
At first sight, material inputs are beautiful. But in big forms they are confusing for daily and old users.

[2016-03-07 19:43] mpiasta-ca opened #7450 "md-dialog: async animation behavior allows more than one instance (unexpected)"
Plnkr demo (try "Expected" and "Actual" examples):
https://plnkr.co/edit/IYzkQvEDINbuecK13L4F?p=preview

You can also try to uncomment script.js@29 (remove script.js@27) to see some even worse behavior. In that case, you can't close the md-dialog in the "Actual" example at all.

Seems that md-dialog is not supposed to allow two instances to open at once. So if one instance is already open, and ano

[2016-03-07 19:54] jelbourn commented on #7407
@EladBezalel it was easier to implement and I didn't see that it made a difference. Did you find that being a child was causing a problem?

[2016-03-07 20:02] EladBezalel commented on #7407
yep, #7408 solves it

[2016-03-07 20:09] whittssg opened #7451 "md-divider md-accent not working"
When i ad the class md-accent to a md-divider the color remains the same (light grey) and doesnt change to the themes accent color..

Is this normal?

thanks

[2016-03-07 20:25] DevVersion commented on #7451
That's currently not supported by the `divider` component, but it would be a nice enhancement.

[2016-03-07 20:33] leocaseiro commented on #3310
Hi @unnieTron, yes, I did!

It worked great. You can see also on #2151 some more examples or alternatives...

[2016-03-07 20:45] DevVersion commented on #7451
Update: The specs say that dividers should not have any color.

https://www.google.com/design/spec/components/dividers.html

[2016-03-07 20:45] #7451 closed

[2016-03-07 20:50] whittssg commented on #7451
Ok thanks.. i was trying to figure out a nice way of splitting input blocks... the divider would have worked if it wasnt the same color as the text input line - it makes it look like their is another field to fill in..

![image](https://cloud.githubusercontent.com/assets/6453857/13582775/2aa9e062-e47c-11e5-829d-b04dd5272fc4.png)

Not related but.. why do the fonts look different between the 3 inpu

[2016-03-07 21:20] soohoowoohoo commented on #6820
@hthetiot I would like to know as well.

[2016-03-07 21:27] haenig commented on #3630
+1

[2016-03-07 21:49] nmousa commented on #1667
+1

[2016-03-07 21:51] #7407 closed

[2016-03-07 21:59] #6796 closed

[2016-03-07 22:01] #7429 closed

[2016-03-07 22:04] #7104 closed

[2016-03-07 22:16] trainerbill opened #7452 "Side nav functions not working on returned instance"
I am trying to expose the instance returned by sidenav to my view:

[code]

Then calling toggle in the view:

[code]

but nothing happens.  The only way I can get it to work is to have a vm.toggle function that directly calls $mdSidenav('coreLeftNav').toggle().  When I output the instance returned in then it looks to have the correct functions but executing them does not work.  I have tried them a

[2016-03-07 22:20] mpiasta-ca commented on #7381
@DevVersion [I asked the question on stackoverflow](http://stackoverflow.com/questions/35853218/svg-clip-path-circle-fails-when-using-svg-sprite-and-multiple-instances?noredirect=1#comment59373905_35853218), and a user pointed-out that if you look inside the `<md-icon>` element when it renders, there is a child `<svg id="...">` element.

So if you have two instances of `<md-icon>` on the page that

[2016-03-07 22:26] KalpanaAr commented on #4233
+1

[2016-03-07 22:41] Frank3K commented on #7445
Angular 1.5.0 works fine for me.

[2016-03-07 22:44] smurugavel commented on #1978
+1

[2016-03-07 23:08] EladBezalel commented on #7280
@stinaq Can you please check this again against HEAD, Slider went through some changes :)

[2016-03-07 23:21] #6487 closed

[2016-03-07 23:24] EladBezalel commented on #6824
@topherfangio do you have access to iOS device?

[2016-03-07 23:37] johnrivelt commented on #799
When min value changed, there is still some issue.
[https://embed.plnkr.co/tdyYHl/](url)
In above case, when click ssd 1 to 5, top-to-bottom direction works as I expect.
But, bottom-to-top is not updating correctly.

[2016-03-07 23:38] mpiasta-ca commented on #7381
@DevVersion, the problem is even worse than that, because the `<clipPath>` uses an id too. So now if the `<md-icon>` renders the same svg twice, there will be two instance of `<clipPath id="...">`, and two elements which reference that id.

Not sure what the solution is to this, without prefixing every id attribute in each child element each time the svg is rendered using `<md-icon>`.

[2016-03-07 23:49] EladBezalel opened #7453 "selection and cursor: should be accent color by the spec"
As mentioned in [here](https://www.google.com/design/spec/components/text-fields.html#text-fields-style)
and as clearly seen in

![](https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bzhp5Z4wHba3YUpKa211TW5leWc/patterns_selection_text_color2.png)

![](https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bzhp5Z4wHba3bGtkM3

[2016-03-07 23:51] EladBezalel commented on #6815
![](https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0B6Okdz75tqQsUklUeG9sRTdTOEk/style_color_uiapplication_accent3.png)

[2016-03-08 00:08] cadilhac commented on #6815
@EladBezalel Yes, a web link. This is what I'm requesting.

[2016-03-08 01:15] jelbourn opened #7454 "ng-show is not working on md-progress-circular"
See the first progress-circular on the page:
http://codepen.io/jelbourn/pen/RareKa

cc @calebegg

[2016-03-08 01:23] ThomasBurleson commented on #7454
Another demo with issue http://codepen.io/anon/pen/grpNNO?editors=1000

cc @EladBezalel

[2016-03-08 01:45] zainul-realtime commented on #6204
solution is don't use $scope.mode change to another name

[2016-03-08 02:54] vajnorcan commented on #7377
I can confirm that it runs very slow, just open the material demo page in IE11 and see it yourself

[2016-03-08 03:13] dohomi commented on #1964
+1

[2016-03-08 04:59] aryalprakash commented on #7357
@DevVersion Here's my preview and the code. It works with svg icons but not with class.
![preview](https://cloud.githubusercontent.com/assets/3658290/13592480/802c9928-e51a-11e5-9269-03e811508f9a.PNG)
![code](https://cloud.githubusercontent.com/assets/3658290/13592484/8a7faf82-e51a-11e5-85a9-402227a61373.PNG)

[2016-03-08 05:32] EladBezalel commented on #6815
I know, just posted it to refer the spec :smile:

[2016-03-08 05:57] parshotam commented on #2805
Hi, I am also using md-tabs with lot of selects and inputs inside  and it is very slow. When i remove the selects and inputs  inside the md-tabs then it works fine.But issue(s) that i have used lot of inputs and selects in md-tabs so how to fix it.

[2016-03-08 06:01] DevVersion commented on #7381
The duplicate ids, have been fixed in 810c4f3309b76b3337a155b177398ac2dd8ad0b0

[2016-03-08 07:09] nikitakuz commented on #5182
+1

[2016-03-08 07:52] reppners commented on #3990
+1

[2016-03-08 07:52] runethh commented on #7404
@DevVersion, I have reported this issue before, and also heard that you cant reproduce it.

I am wondering if you guys are sitting on a computer, localized to an area where the "other" dateformat is the default setting. In that case, it might be that this does not pop up as a problem for you.

We see the problem on all our devices - and we are sitting in Denmark, where DD/MM/YYYY is the default se

[2016-03-08 08:16] dhruvdutt commented on #3895
+1

[2016-03-08 08:56] prasad47 commented on #1992
md-center-tabs="true"  did the trick just like that FYI

[2016-03-08 10:07] brunofin commented on #7320
@SalmanZafar214 did you find any workaround for this issue? I'm having the same using @daniel-nagy's `md-data-table` with virtual-repeater.

[2016-03-08 10:18] ruant commented on #7431
@DevVersion
One question, I haven't tested this and I don't know what changes that was made to make the ui-sref work, but would it still be necessary to do the process of move the ng-click out into it's own container? Or could that code be removed entirely?

[2016-03-08 11:40] david-gang commented on #7377
I found out something interesting:

When we disable the css theming by setting the constant

[code]

the performance of ie gets better.

I am not sure what the reason is. Maybe it is the number of selectors. We don't know what the big O of ie is :-)

It would be interesting to hear if you also see this in your web apps.

[2016-03-08 12:10] YoungtreeDev commented on #7377
IE11 with AM 1.0.6 is pretty unusable. AM 1.0.5 was quicker by far. It seems that IE refresh isn't hitting -> does it have trouble loading the AM JavaScript or maybe just processing it? How does IE handle the cache of JS code in memory?
We've downgraded to 1.0.5 in any event. A fix for this would be great, thanks!

[2016-03-08 12:18] wtk300 commented on #3895
+100

[2016-03-08 12:39] vajnorcan commented on #7377
@david-gang well, that helps but I've lost all the css and styling ;)
@YoungtreeDev even with 1.0.5 I wouldn't call AM a quick UI on IE Edge (!) on WM10

[2016-03-08 13:06] wcjr commented on #7373
Thanks for the support @cleever glad to hear it isn't just our users having these issues.

[2016-03-08 13:07] wcjr commented on #6443
Thanks for letting us know @topherfangio

[2016-03-08 13:21] shinoymm commented on #3445
Isn't vertically stacked tabs pretty required one ?.
Is this going to be implemented any time soon ?

[2016-03-08 13:36] AshwanKumar opened #7456 "Angular material date picker not able to update ng-model value on keyboard change in IE"
Hi Team,

We are using angular material components in our project and for having customized dates we used angular material date picker and found that in IE when user manually changes the date using keyboard the ng-model value doesn't get updated, I have even checked with angular site and same problem exists in site as well.

Here is the screenshot of above mentioned problem.
![untitled](https://cl

[2016-03-08 13:39] Misiu commented on #7275
@ThomasBurleson I've created a bounty on SO, but I didn't get any answer related to my issue.
On ngMaterial group I also didn't get any answer.
Could You please take a look on this issue?

[2016-03-08 13:58] siulung4073 opened #7457 "md-autocomplete: When clicking on the clear button, the md-not-found template appears instead of the searched results"
This is going on in **1.0.6** and it can be reproduce in the material demos. In fact in my app, it doesn't show the search result. I have to click on the `md-not-found` template and it then appears.
But since in the material demos it also happens you can see it there

1. Select Simulated Query
2. click in the input
3. select any item
4. click the clear button
5. you should see the `md-not-found` t

[2016-03-08 14:13] AshwanKumar opened #7458 "md-datepicker changes format while manually entering date"
Hi Team,

We are using angular material components in our project and for having customized dates we used angular material date picker in localized date format

For Example if we change the local language in chrome to German then the date format will be d.m.yyyy,so when user manually change the date value through keyboard then the format of date picker changes to m.d.yyyy i.e if the date is 8.3.20

[2016-03-08 14:29] raza2022 commented on #3696
@opadillaintegrify am facing the same problem. have you any workaround please?

[2016-03-08 14:30] vu-mai commented on #1376
Hello folks,
Was struggeling with this issue a while ago, and tried to solve it with webkit css like mentioned [here](https://github.com/FezVrasta/bootstrap-material-design/issues/559#issuecomment-107247562).

But then I accidently tried switching label and input:

[code]

Instead of

[code]

Don't know if this works for you guys, but it worked out for me!

[2016-03-08 14:56] MarkTroutfetter commented on #2440
+1

[2016-03-08 15:09] cleever commented on #6820
Same issue here.

Only happens in the second time that I open the dialog.

[2016-03-08 15:30] mavillar commented on #247
@marcysutton running your script, the result is md-card is 100% width, not 33%

[2016-03-08 15:59] ruisebastiao commented on #3722
+1

[2016-03-08 16:38] jchull opened #7459 "CodePen demos using HTTP resources fail to load with HTTPSEverywhere"
This script: http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js is not available via HTTPS, so the entire pen fails to load. Disabling HTTPSEverywhere for codepen.io, or removing this script resolve the loading issue. Suggest that resource be allowed to be served over HTTPS, pretty sure S3 allows you to do that with just a setting

CodePen has an issue on the topic: https://github.com/C

[2016-03-08 16:44] sryzycki commented on #7205
Getting similar behaviour (https://www.dropbox.com/s/q77m1wjpjuzjz98/Screenshot%202016-03-08%2016.41.07.png?dl=0). I noticed that this only happens, in my case, when I scroll the window more than ~30px and the datepicker popup window is not that close enough to the bottom of the window to kind of "stick" to it at the very bottom with some 10px bottom offset.

Happy to help debugging this.

[2016-03-08 16:48] bonatoc commented on #2805
@parshotam — I myself found puzzled with some behaviours, but look at this : you can fill the page up, it's stil reactive.

http://codepen.io/bonatoc/pen/QNNwrK

http://vlio20.github.io/angular-material-form-builder/

Most of the times, we're asking too much of our controllers / directives, and you should optimize something at a controller/directive level : less data at once, deferring, etc. ...

[2016-03-08 17:22] jchull opened #7462 "demo: github link for master uses git tag that has not been created yet"
Current master (1.0.6) URL for github is https://github.com/angular/material/tree/v1.0.6 which the tag has not been created, so only older versions that are tagged navigate to the version on github successfully. Master demo github link should just go to master and be changed to tag as part of the tagging process

[2016-03-08 17:25] stuartm opened #7463 "data-ng-click doesn't work on md-list-item"
data-ng-click doesn't work, changing it to ng-click however does.

The data- prefixes are required if you run your project through HTML validation tools - https://docs.angularjs.org/guide/directive#normalization

[2016-03-08 17:25] DevVersion commented on #6820
I can't reproduce the issue with @mohsinmuzawar's demo. Is there a demo, which shows the issue? Or am I missing something?

[2016-03-08 17:38] mohsinmuzawar commented on #6820
@DevVersion I Cant reproduce it on plunker or codepen and it only occurs when u open the dialog second time

[2016-03-08 17:42] mpiasta-ca commented on #7381
So I see in iconService.js@433 the code is removing id from all child elements of the svg. I think this might break svg `<clipPath id="...">`, since now the other elements in the svg will not be able to reference the clipPath. And there doesn't seem to be any other way to use clipPath without an id (without altogether rebuilding the svg without a clipPath).

[2016-03-08 17:45] DevVersion commented on #6820
@mohsinmuzawar I can't investigate if I don't have stuff to work on. So a screenshot / GIF or anything else would be good.

[2016-03-08 17:45] DevVersion commented on #7381
Oh, that seems to be a new issue, introduced by 810c4f3 - if so, please create another issue for that.

[2016-03-08 17:49] KarenParker opened #7464 "mdPanel: Add TrapFocus config option."
Whether focus should be trapped within the panel. If `trapFocus` is true, the user will not be able to interact with the rest of the page until the panel is dismissed. Defaults to false.

See mdDialog implementation [here](https://github.com/angular/material/blob/a2eca807832ad31797fd5ad7801ea594ed01ff52/src/components/dialog/dialog.js#L924).

Note: Make sure to remove the focus traps when the pane

[2016-03-08 17:50] jpschill commented on #7377
@david-gang
With AM1.0.5 I can confirm that disable css theming has a big impact on IE11 performance. The UI feels faster/smoother. So optimizing AM´s styles for IE would be very helpful to improve IE performance in general, I think.
But with AM1.0.6 even disable css theming does not help. It feels extreme slow, with or without styles enabled.

[2016-03-08 17:50] KarenParker opened #7465 "mdPanel: Add FocusOnOpen (autofocus) config option"
An option to override focus behavior on open. Only disable if focusing some other way, as focus management is required for panels to be accessible. Defaults to true.

Focus should be chained to the open and show promises.

Consider following the mdDialog implementation [here](https://github.com/angular/material/blob/a2eca807832ad31797fd5ad7801ea594ed01ff52/src/components/dialog/dialog.js#L641).

-

[2016-03-08 17:53] KarenParker opened #7466 "mdPanel: Implement PanelXPosition and PanelYPosition."
See panel documentation for a description of each of these values:

xPosition = center | align-left | align-right | align-start | align-end | offset-left | offset-right | offset-start | offset-end

yPosition = center | align-tops | align-bottoms | above | below

-------------------------------------------------------------------------------------------------------------------------
This task invol

[2016-03-08 17:54] DevVersion commented on #7023
Adding presets to the `$mdToast` service is currently possible. You just need to access the `$mdToastProvider` in the `config` function, and then you can start adding your presets.

[code]

So now you can use your preset in a controller for example.
[code]

So @ThomasBurleson, seems like there's already a way for defining presets, so for now I suggest documenting the how-to for adding own presets.

[2016-03-08 17:54] mpiasta-ca commented on #7381
Yeah, just tested with the change from 810c4f3, and it breaks all `<clipPaths>`. In my case, the svg that should appear as circle appear as squares all the time now (instead of in the case of multiple icons), since the clipPath is failing.

OK, will create a new issue for it.

[2016-03-08 17:54] #7381 closed

[2016-03-08 18:02] DevVersion commented on #7463
Yes, this is a known issue and there's already a previous issue. So I'll close this as a duplicate of #4392

[2016-03-08 18:02] #7463 closed

[2016-03-08 18:03] mpiasta-ca opened #7467 "md-icon: svg <clipPath> no longer works"
After the commit 810c4f3, any svg with `<clipPath id="...">` fails to render the clipPath, because line 433 @ "src/components/icon/js/iconService.js" removes all svg child id, but this id is required for clipPath to work.

Created after issue report: https://github.com/angular/material/issues/7381

I tested with the change from 810c4f3, and here is screenshot to show the breaking change. In this e

[2016-03-08 18:04] stuartm commented on #7463
Apologies, I didn't find the earlier issue when searching

[2016-03-08 18:21] antoinebrault commented on #1376
You're right. It works when switching label and password with sibling css (there is no previous sibling css selector).

HTML:
[code]

CSS (Less) hardcoded:
[code]

[2016-03-08 18:39] DevVersion commented on #7467
@mpiasta-ca I like the solution. This seems to be a elegant way.

[2016-03-08 19:23] steveg3003 commented on #1269
+1

[2016-03-08 19:38] luukdv commented on #2636
Steps to recreate:

[code]

When tapping a div, ripples work as expected. Whenever you scroll the page, the ripples start too far below the button (as mentioned before: _offset by an amount approximately equal to the amount you scrolled_). I've provided a few debugged screenshots that might help to clarify (button 3 and 4 are tapped).

![before-scroll](https://cloud.githubusercontent.com/assets/55

[2016-03-08 19:51] DevVersion opened #7469 "dialog: dialog content id is assigned to `dialogContent_undefined`"
There's currently a wrong snippet for the `dialogContent` ids.
See https://github.com/angular/material/blob/master/src/components/dialog/dialog.js#L897

![image](https://cloud.githubusercontent.com/assets/4987015/13614170/7b5a1ef2-e56f-11e5-8e18-657eb34e8664.png)

[2016-03-08 19:53] soohoowoohoo commented on #6820
I've found my fix! (hopefully this can help more of you out there).

**Note: Using Angular-UI-Router for routing**

The way I fixed my issue was by including the templateUrl property in my view object. In the screenshot I've provided below, I was getting the issue in my 'role_assign' view but I wasn't getting an issue for my 'chat_board_view'. In my parent template I was declaring the role_assign

[2016-03-08 20:02] topherfangio commented on #6699
@ThomasBurleson I'm going to go ahead and close this as it appears that all of the recent failures (viewable at https://ci.angularjs.org/job/angular-material1-minor-versions-testing/) seem to be valid failures, not related to the issues.

[2016-03-08 20:11] #6699 closed

[2016-03-08 20:29] Frank3K commented on #7454
Facing the same issue. Observed behavior: when the value for `ng-show` is constant (either `true` or `false`) it does not work. When the value is set later on (e.g. from an onLoaded callback) it does work (at least in my case).

[2016-03-08 20:34] Frank3K commented on #7459
Good find, was already wondering why the codepens weren't working for me.

[2016-03-08 20:54] opadillaintegrify commented on #3696
I have no workaround.  Sorry.  It just worked for me after 1.0.0-rc7.  Still working for me in 1.0.6

[2016-03-08 21:12] #7454 closed

[2016-03-08 21:19] marcysutton commented on #247
The API may have changed. If there is still a problem with it, please open a new issue. (Also note: I no longer work full-time on Angular Material)

[2016-03-08 21:44] SelmanAY commented on #3401
+1

[2016-03-08 21:58] EladBezalel commented on #1839
closed with e0abeb4dc46a1753616a911fe54f14d8f1148a25

[2016-03-08 21:58] #1839 closed

[2016-03-08 21:59] autumnfjeld commented on #6767
+1

[2016-03-08 22:25] friedolinfoerder commented on #7419
I've tested all versions on the website and this issue is there since version 1.0.0
In version 0.11.4 it's working as expected.

On desktop it's fine but on touch devices the suggestion box doesn't close when clicking on the _md-scroll-mask_ element

[2016-03-08 22:32] bchen888 opened #7473 "md-fab-speed-dial should support disabled state"
The md-fab-speed-dial tag doesn't support "ng-disabled" attribute. Adding it to the trigger button just makes the button looks disabled, but it still opens the speed dial.

http://codepen.io/anon/pen/wGGWVb

[2016-03-08 22:34] EladBezalel commented on #7447
@jelbourn i don't understand what are the expectations?
The card itself is getting full width of the page, therefore the image inside should get the full size of the card, scaling down the card will also force the image to scale proportionally.

The image should get `width: 100%` without that, nothing promises that the image will save it's ratio.

[2016-03-08 22:42] johnrivelt opened #7474 "md-slider does not update correctly when change min value"
#479

It still seems not working correctly in my case.
Here is my case from plunker.

[https://embed.plnkr.co/FCizUTQnOTzsklhxSIry/](https://embed.plnkr.co/FCizUTQnOTzsklhxSIry/)

click SSD 1 -> SSD 10 direction set min and value correctly.
But SSD 10 -> SSD 1 backward case, md-slider does not update correctly.
Even min-value is same with valuenow but slider cursor indicate middle of somewhere.

[2016-03-08 23:35] amritk commented on #3493
+1

[2016-03-09 00:23] jalajc commented on #2007
GustavSt +1,
Bug is even in 1.06
1. scroll-bar is not appearing
2. when in md-no-autogrow just one line of text appears (even if rows= 5, and one has 3 lines of text)
3. md-select-on-focus: just flashes the select and then select disappears.

[2016-03-09 00:42] paulredmond commented on #3003
Can someone verify I am doing debouncing correctly with auto-complete chips?

For any Angular noobs like myself, if you are trying to debounce async `<md-chips>` with autocomplete you need to clear out the search text when using debouce, otherwise the search text will persist after selection. This is how I solved it, is this the best way?

Example of what you see if you add debounce model options:

[2016-03-09 01:12] viktarkorshun commented on #4233
+1

[2016-03-09 01:24] migmigmig opened #7475 "Expose the <menu-toggle> directive used in your demo app."
You guys have an awesome demo app:  https://material.angularjs.org/latest

It has an awesome left-nav menu using a `<menu-toggle>` directive.

Your awesome menu-toggle isn't available as a standard part of your set of directives.

I'd like to awesomely use it without cargo-culting it.  :) ?

Thanks!

mig

[2016-03-09 05:43] leocaseiro commented on #5010
:+1: improve docs for `$mdSticky`

[2016-03-09 06:27] tom94zoe opened #7476 "md-tooltip + md-datepicker"
Is it possible to use md-tooltip on a md-datepicker.?
I change the plunkr(datepicker) code but nothing happend.
Currently I used a span-tag around the datepicker, it works, but that couldn't be best practice.

[2016-03-09 07:33] gpopovic opened #7477 "Autocomplete ng-messages wrong font-size"
In master, ng-messages font size for autocomplete is wrong.

In codepen, you can compare input ng-message  with autocomplete ng-message
http://codepen.io/anon/pen/ONNgMQ

[2016-03-09 07:44] tucq88 commented on #2886
perfect for manually enter date, phone or custom format data +1

[2016-03-09 07:47] bathos opened #7478 "md-dialog & restoring focus"
In the demos, when a modal closes, focus is restored to the element which had focus previously. This behavior wasn't occurring for me with a custom modal that looks like this and gets launched from an ng-click on an md-button:

[code]

The activeElement was `body` after the dialog closed regardless of the closing mechanism. I was able to achieve the correct behavior easily enough anyway (`dialog.t

[2016-03-09 07:52] johannds commented on #1837
+1

[2016-03-09 08:30] baihuibo commented on #7259
@DevVersion
Thank you , has been resolved in the new version

[2016-03-09 08:43] furyscript commented on #7203
what is not supported? @ThomasBurleson ........

[2016-03-09 08:44] Kratos-SA commented on #4717
is there anyway to override this when you are not using an $HTTP?

[2016-03-09 09:12] robguy21 commented on #3906
+1

[2016-03-09 09:22] thanuzz commented on #1742
I've created a workaround by extending the Angular Material Placeholder directive. I've created an overrule js file in my project with the following code:

[code]

The placeholder attribute's value should be the translation key:
[code]

The decorator injects the $translate service. In the extended link function the translate service is called with the placeholder value and with the result i overwr

[2016-03-09 09:25] thanuzz commented on #1427
See #1742 for a workaround I've created by extending the Angular Material Placeholder directive. #

[2016-03-09 09:52] redcomethk commented on #3163
+1

[2016-03-09 10:31] shershen08 commented on #6304
+1

[2016-03-09 10:32] richardsengers opened #7479 "Toolbar: mutliple toolbars z-index problem with whiteframe"
Toolbars always have the same z-index. The z-index of the first toolbar should be higher then the second toolbar to make the whiteframe work. According to this example it must be possible to use more then 1 toolbar
![patterns_errors_app1](https://cloud.githubusercontent.com/assets/810038/13632188/bbcc9ee6-e5e8-11e5-8faa-fbf0658385f9.png)

source: https://www.google.com/design/spec/patterns/errors.

[2016-03-09 11:09] DevVersion commented on #7259
@baihuibo Thank's for letting me know.

[2016-03-09 11:09] #7259 closed

[2016-03-09 11:25] DevVersion commented on #7203
@furyscript In the `Getting Started` section is briefly mentioned, that Ionic isn't supported with `ngMaterial`. Therefore it was mentioned that:

[2016-03-09 11:35] Bassel-m commented on #1084
Wow man this really fixed the issue for me but broken another feature, I'm trying to implement one sidebar on the right with two buttons that trigger it, one button to open it covering the content and the other to lock it open in the flow of content, this fix however fixed the one covering the content but the other no longer works

[2016-03-09 11:36] DevVersion commented on #1084
@Bassel-m I didn't investigate at your issue yet, so if you think this is a issue, which relates to `ngMaterial`, then please file a new one.

[2016-03-09 11:48] christianpanea opened #7481 "it is possible to have< md-menu-bar> horizontal scrolling option like for md-tabs ?"
Here is the issue !
![5ebmm 1](https://cloud.githubusercontent.com/assets/13203612/13634326/8be855ac-e5fd-11e5-9f74-2f26cbacce25.png)

http://i.stack.imgur.com/5EbmM.png

[2016-03-09 12:13] Bassel-m commented on #1084
@DevVersion Can you please have a look at this site basselahmed.com/myAdmin .. forgive me for the language it's in Arabic, Please scroll down and press the switch in the top right see the problem

[2016-03-09 12:27] anmarcek commented on #6214
+1

[2016-03-09 13:10] furyscript commented on #7203
I don't think @DevVersion
This works correctly: http://codecanyon.net/item/ionic-material-design/12833673 but with only problem that some input's styles are incompatible

[2016-03-09 13:19] DevVersion commented on #7203
@furyscript I'm sorry I copied the wrong quote... and about `Ionic Material Design`, this is a modificated version of `ngMaterial`, which is specialized on compatibility with Ionic.

![image](https://cloud.githubusercontent.com/assets/4987015/13636377/f1b5db58-e601-11e5-9824-df657dce2e44.png)

[2016-03-09 13:20] DevVersion commented on #7400
It seems like the `resolve` method isn't available yet.
[See the interimElement snippet](https://github.com/angular/material/blob/master/src/core/services/interimElement/interimElement.js#L56)

[2016-03-09 13:32] netoramalho commented on #1837
+1

[2016-03-09 13:35] DevVersion commented on #7100
Fixed with 19551e4

[2016-03-09 13:35] #7100 closed

[2016-03-09 13:49] arthurspa commented on #6872
+1

[2016-03-09 14:12] Nuajan commented on #7332
+1 Same here.

[2016-03-09 14:20] DevVersion commented on #7332
This is by intention, we decided to show the toast at the bottom if the current device is `small` (breakpoint)

Code line: [here](https://github.com/angular/material/blob/master/src/components/toast/toast.js#L386)

[2016-03-09 14:23] Nuajan commented on #7332
Well, found that it can be solved by overriden style
@media (max-width: 959px) {
  md-toast { ...
and changing bottom: 0; to top: 0,
So you can apply it to specific requirements of your proyect by not modifiying framework.
Don´t now if it's the best practice but works.
Thanks, @DevVersion

[2016-03-09 14:23] levgaas opened #7483 "mdSideNav: Animation is broken when specifing "style="width: ...px" attribute"
I have a scenario when a sidenav has ability for resizing dynamicly.

For that purpose I add **"style="width: ...px"** attribute for **<'md-sidenav'>** element.
Resizing works perfectly.

But after attribute is added animation of the toggle is broken. Without it animation works.

Here is [Codepen](http://codepen.io/anon/pen/qZZxQB)

Thanks!

[2016-03-09 14:46] DevVersion commented on #7483
Note: Also caused when applying `[flex]` on the sidenav. (Applying flex on the sidenav is really common)

[2016-03-09 15:05] Knoxvillekm opened #7485 "md-item-value in autocomplete"
How to set value expression (like md-item-text for display). For now model contains full object, need use only him 'id' field.

[2016-03-09 15:26] debslord opened #7486 "autocomplete Lexer error with "in" keyword"
When using autocomplete the search functionality fails if the source (md-items) includes an item where the display property (md-item-text) contains the keyword "in"

For example display property could be "Not in here"

`Error: [$parse:lexerr] Lexer Error: Unterminated quote at columns 47-51 ["Not] in expression [lookupSearch(searchText, [{"_id":"51e06ddf3121a51700fdbf29","description":"Not].`

Thi

[2016-03-09 15:27] topherfangio commented on #6824
@EladBezalel Indeed; I can take a look at this one later today.

[2016-03-09 15:36] DevVersion commented on #7486
@debslord Can you please provide a demo of your issue?

[2016-03-09 15:37] DevVersion commented on #7477
Great demo, I'll take a look at this soon.

[2016-03-09 15:38] EladBezalel commented on #6824
@topherfangio thanks!

[2016-03-09 15:39] topherfangio commented on #7136
Sorry; just realized the real problem that this causes: it's not just the nested input that is hidden, but the full chips container. We'll definitely get this fixed.

[2016-03-09 15:42] topherfangio commented on #7447
As a side note: if you add the `layout` property to the parent `<div>`, the image maintains it's original size and the card is sized based on it, so it doesn't take up the full page width.

Also, @jelbourn is working with the original submitter to get some more specifics and should respond soon so we can make sure we understand the problem.

[2016-03-09 15:43] jalajc opened #7487 "md-input textarea is broken as earlier"
md-input textarea is broken as earlier in #2007
Bug is even in 1.06
1. scroll-bar is not appearing
2. when in md-no-autogrow just one line of text appears (even if rows= 5, and one has 3 lines of text)
3. md-select-on-focus: just flashes the select and then select disappears.

[2016-03-09 15:43] topherfangio commented on #6653
@ThomasBurleson Do you think we can close this issue now?

[2016-03-09 15:45] br8kpoint commented on #2492
+1

[2016-03-09 16:22] LeoLozes commented on #7153
I have the same issue, and it seems that what cause it is a mix between
`md-autocomplete[md-floating-label] md-input-container` having a `padding-bottom: 26px;`
and `md-input-container .md-errors-spacer` having a `min-height: 24px;`

It seems related to [this issue](https://github.com/angular/material/issues/5764). Which I don't understand why is labelled as an "edge case" and in the backlog.  Any

[2016-03-09 16:32] tomiplaz commented on #6767
+1

[2016-03-09 16:57] topherfangio commented on #6560
Related to #4537.

[2016-03-09 17:00] rvarbanov commented on #7398
I started a new PR #7488

[2016-03-09 17:46] joaopedronardari commented on #4251
+1

[2016-03-09 18:12] kasajian commented on #2777
:+1:

[2016-03-09 18:13] kasajian commented on #2777
What if I just want to use the DatePicker.   Do I have to load a 430KB css and 287KB js file?  (minified not gzipped)

[2016-03-09 18:27] cgx opened #7490 "ng-click on md-list-item not triggered in Firefox"
When defining an `ng-click` on a `md-list-item`, the action is never triggered in Firefox (tested with version 45).

Explicitly using a `md-button` inside a `md-list-item` is a workaround, but requires to use the now *private* underscore classes.

Test available on [codepen](http://codepen.io/flachapelle/pen/ZWWRVV).

[2016-03-09 18:33] bsandrow opened #7491 ".flex-100 overrides .flex-gt-sm-none instead of acting as the default/fallback"
[code]

should behave the same as:

[code]

but instead behaves as:

[code]

This is because the `.flex-100` rule:

[code]

is more specific than the `.flex-gt-sm-none` rule (despite the fact that they are ordered correctly within the file):

[code]

I've created a [CodePen that demonstrates the issue](http://codepen.io/anon/pen/mPPjaL?editors=1000).

I would submit a PR for this, but I'm not enti

[2016-03-09 18:42] johnSowingo commented on #7491
+1

[2016-03-09 19:08] ilovett opened #7493 "allow md-select-on-focus on md-autocomplete"
`md-select-on-focus` directive can only be used on input and textarea, it would be great if it could be used on `md-autocomplete` and be applied to the input created by autocomplete

[2016-03-09 19:21] mzbyszynski commented on #7493
Hi @ilovett,

I think this was implemented. See #7125

[2016-03-09 19:48] ilovett commented on #7493
Nice. Thanks.

[2016-03-09 19:48] #7493 closed

[2016-03-09 19:54] k3ilbasa opened #7495 "MD-Tabs with MD-Icons off-centered"
Adding an md-icon inside an md-tab-label produces an icon that is off-centered inside its container if the size is over 24px.

[code]

[codepen](http://codepen.io/wdshannon/pen/BKKqNK)

[2016-03-09 20:21] #7469 closed

[2016-03-09 20:25] manish2535 commented on #3318
+1

[2016-03-09 20:26] DevVersion commented on #3318
@kuhnroyal Can you recheck your issue in `HEAD` again? I've changed a few things in the list, and now the button is separated from the content.

[2016-03-09 20:48] j-hogue commented on #1269
+1

[2016-03-09 20:59] mckenzielong commented on #3623
:+1: just bumped into this today.

[2016-03-09 23:20] smurugavel commented on #4236
+1

[2016-03-10 00:13] mckenzielong commented on #7495
@k3ilbasa Might want to check that codepen again... currently not demonstrating the issue.

[2016-03-10 00:21] leocaseiro commented on #3163
+1

[2016-03-10 00:45] #7486 closed

[2016-03-10 00:46] ThomasBurleson commented on #7486
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-03-10 01:11] BelfordZ commented on #2704
:+1:

[2016-03-10 01:26] itsjimbo commented on #4236
+1

[2016-03-10 01:53] BelfordZ commented on #6090
@ashaffer You could always just disable angular animations inside your protractor tests.

[2016-03-10 02:25] amritk opened #7496 "a:not(.md-button) style overriding anchor colors"
I just updated to the latest, 1.1.0-RC1 and I got this overriding all of my anchor styles with the accent colour. Is there any way to disable this?

![screen shot 2016-03-09 at 6 22 19 pm](https://cloud.githubusercontent.com/assets/2039539/13657459/3d6a4d28-e624-11e5-98eb-75b9326945de.png)

[2016-03-10 02:50] Miguelme commented on #6802
Same issue here!

[2016-03-10 04:20] tucq88 commented on #5428
+1

[2016-03-10 05:05] RolandHeath commented on #7457
I can confirm this (chrome 48.0.2564.116, fedora 22).
I also found that after the results appear, if I waited a little while (about 3 seconds), California showed up (right where it belongs, just a bit late). That probably either deserves a separate issue though, if it doesn't already have one.

[2016-03-10 05:13] tucq88 commented on #2113
Is this fixed ? I still got this problem with 1.0.1, both `md-autocomplete` and the input inside have same tabindex attribute

[2016-03-10 05:52] patrickmichalina commented on #7079
:+1:

[2016-03-10 06:56] kevinlbatchelor commented on #3441
+1

[2016-03-10 07:47] gpopovic commented on #7490
+1

[2016-03-10 07:53] gpopovic opened #7497 "Autocomplete progress bar height is wrong"
Progress bar height is too large on autocomplete

Just try to write something in the autocomplete
http://codepen.io/anon/pen/mPPZYK

[2016-03-10 07:59] gpopovic opened #7498 "Autocomplete returns error when query result is null or undefined"
When query result is null or undefined, autocomplete will throw an error
"Cannot read property 'length' of null"

I think autocomplete should be smart enough to check if query result are null or undefined and parse it as an empty array.

Try to write anything to autocomplete, and check logs
http://codepen.io/anon/pen/NNNQKV

[2016-03-10 08:03] gpopovic opened #7499 "Text overflow doesn't work on list-item with ng-click"
Text overflow on h3, h4 on list-item works fine, but stops working when ng-click or ui-sref is used with list item.

http://codepen.io/anon/pen/PNNMox

I'm using this css to temporary fix this bug

[code]

[2016-03-10 08:08] gpopovic opened #7500 "Text overflow doesn't work on list-item with secondary buttons"
Secondary buttons are ignored and text goes over them

http://codepen.io/anon/pen/YqqmXL

[2016-03-10 08:53] alexzaporozhets commented on #2446
+1

[2016-03-10 09:24] pushkarmoi opened #7501 "Typo in docs!"
Demos> Input> Errors
When the user enters a hourly USD rate.
When the value esceeds a limit, the error shown is:
" $50,022 an hour? That's a little ridiculous. I doubt event Bill Clinton could afford that."
"event".
Seriously? You dont make a typo while giving a quirky error message

[2016-03-10 10:18] leozhekov commented on #7391
Unfortunately, I could not recreate the bug, but I did a comparison of the HTML and the type of value that is set in the model when I create `new Date(*milliseconds*)` and when I choose a date from the picker. The HTML difference is that when the date is set with `new Date(*milliseconds*)`, there's a class `md-datepicker-invalid`. There is no difference in the date object from `new Date(*milliseco

[2016-03-10 10:27] alexkolt commented on #7371
Finally figured out what the problem was - ES6 transpilation. The controllers are declared in the following way:

var self;
class Controller {
  constructor() {
    self = this;
  }
}

the problem with this was that the variable self is overriden if another control is created, thus any instance variables are lost and only last one remains. I'm freaked out as to how I didn't see this sooner. Obviou

[2016-03-10 10:30] akashjarad commented on #4124
@rgthree  where you able to solve the issue.

[2016-03-10 10:40] sbondor commented on #5425
@ThomasBurleson
What about the case where you only want the parent layout container to have margin or padding?
If used to work like this if you didn't add flex to any child, like it's stated in the docs.

[2016-03-10 10:49] roy46 commented on #2886
+1

[2016-03-10 10:55] poznyakovskiy commented on #6336
+1. Some directives, e.g. `md-card`, work without upgrading, though.

[2016-03-10 11:37] DevVersion commented on #7501
Closing this, because the issue is already known and a PR is in progress. #7364

[2016-03-10 11:37] #7501 closed

[2016-03-10 11:56] mrKremt commented on #4408
+1

[2016-03-10 12:21] DevVersion commented on #7355
@jelbourn created the missing tag, and the release script seems to work now.

[2016-03-10 12:21] #7355 closed

[2016-03-10 12:23] DevVersion commented on #7497
In my case it works? The `5px` height progress bar is showing up.

[2016-03-10 12:28] gpopovic commented on #7497
I know it works, but 5px is too large.. It wasn't that big before..

[2016-03-10 12:31] DevVersion commented on #7497
You just saw it that small, because the item panel overlaid the progress bar. In general the progress was always that big.

[2016-03-10 12:44] gpopovic commented on #7497
What about autocomplete with floating label? Is it suppose to be that large here also?

http://codepen.io/anon/pen/mPPZYK

[2016-03-10 12:52] DevVersion commented on #7497
Oh I'm overwhelmed about that, I'll ask the team about that.

[2016-03-10 12:58] gpopovic commented on #7497
Not sure if related, but loading on select is also a lot bigger in master than in v1.0.6.

[2016-03-10 13:15] Norsten commented on #7377
Is anyone else seeing improvements with 1.1.0 rc1 ?

[2016-03-10 13:38] whittssg opened #7502 "md-date-picker no longer transparent"
My datapicker used to be transparent (i have it in a card that has a white background):

![image](https://cloud.githubusercontent.com/assets/6453857/13671025/69f1effa-e69b-11e5-8480-2d16f94e27fe.png)

No it has a slight grey color to it..

[2016-03-10 14:12] arthurspa commented on #1217
+1

[2016-03-10 14:47] DevVersion commented on #7500
Can reproduce - I already have a solution for that, but I'm thinking about the general structure of secondary items now.

Currently a secondary item is always set to an absolute position, and that also causes overflow issues. So now I'm trying to find the best solution for the secondary items behavior.

[2016-03-10 14:55] DevVersion commented on #7497
@gpopovic Just investigated a bit, and the height of `5px` isn't by intention, it should be `3px`. Issue introduced in 78ccef6354cbe8898bfe3c489e3b7ea1d43bbffc

[2016-03-10 14:59] DevVersion commented on #7495
@mckenzielong Is right, please provide a demo which represents your issue.

[2016-03-10 15:04] gpopovic opened #7505 "Loading on select is almost two times larger than before"
v1.0.6.
http://codepen.io/anon/pen/Wwxrbq

master
http://codepen.io/anon/pen/oxLbgo

[2016-03-10 15:04] gpopovic commented on #7497
Done, #7505

[2016-03-10 15:11] crisbeto commented on #7505
This is because the old `progressCircular` implementation's diameter wasn't exactly the same as the one specified in the `mdDiameter` attribute. This is fixed with the SVG rewrite.

[2016-03-10 15:41] lpillonel commented on #7377
Yes it is working now like before 1.0.5
Le 10 mars 2016 14:15, Norsten <notifications@github.com> a écrit :Is anyone else seeing improvements with 1.1.0 rc1 ?

—Reply to this email directly or view it on GitHub.

[2016-03-10 15:43] ozayolkan commented on #1964
+1

[2016-03-10 15:46] stunaz commented on #5241
+1

[2016-03-10 15:53] cmacdonnacha commented on #5231
I know that this isn't aligned with Material spec but is it still possible?

Can something like this be achieved?

![image](https://cloud.githubusercontent.com/assets/9777763/13675153/36c42098-e6d8-11e5-9116-9d7f80598dca.png)

[2016-03-10 16:01] #7505 closed

[2016-03-10 16:02] #7497 closed

[2016-03-10 16:13] #5351 closed

[2016-03-10 16:19] mzaarour commented on #6204
Thank you.
It works when avoid using $scope.mode principaly in a whole app controller.
However a patch will be welcome

[2016-03-10 16:26] #7490 closed

[2016-03-10 16:26] #7499 closed

[2016-03-10 16:30] gpopovic commented on #7477
Any updates on this one?

[2016-03-10 16:33] maelfrize opened #7507 "mdMenu: Cascaded Menus (Feature Request)"
Hi,

I was wondering if cascaded menus are still on your roadmap.

It was mentioned here as 'phase 2' of the md-menu component and was targeted for v0.11: https://github.com/angular/material/issues/78#issuecomment-106292335

Here are the Material Design specs:
https://www.google.com/design/spec/components/menus.html#menus-usage

![components_menus_usage7](https://cloud.githubusercontent.com/assets

[2016-03-10 16:34] rvarbanov commented on #5812
What is the main issue? I am also interested it.

[2016-03-10 16:41] #5815 closed

[2016-03-10 16:42] rvarbanov commented on #4856
What is the status of this issue? Is there any progress made on that? What are those Google UX specs?

[2016-03-10 16:44] #7136 closed

[2016-03-10 16:46] #7131 closed

[2016-03-10 16:47] #7332 closed

[2016-03-10 16:49] EladBezalel commented on #7496
@amritk this is aligned with the spec, you can simply override this with
[code]

[2016-03-10 16:51] #5662 closed

[2016-03-10 16:51] #5897 closed

[2016-03-10 16:52] EladBezalel commented on #5231
You can direct this question to our [Forums](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-03-10 16:52] geimkisi opened #7510 "1.1.0-rc1 seems to break .dark themes"
You can see it in the first "Basic Usage" input demo
https://material.angularjs.org/latest/demo/input
The top is supposed to be grey and the 2 first inputs cant be seen because they are white.

[2016-03-10 16:54] DevVersion commented on #7510
Indeed, thanks for tracking the issue.

@EladBezalel Since when is `md-content` white, when using a dark theme?
![image](https://cloud.githubusercontent.com/assets/4987015/13677153/1c5decf0-e6e9-11e5-91bd-b5fa894377ed.png)

[2016-03-10 17:01] jornncc commented on #5812
The main issue is that people do not understand that you need to use a mouse scroll wheel to navigate to other months/years... I've seen people say "how do I select an earlier month..." and truly mean it... initially I thought they were joking... but they were not... so this is a real issue.

[2016-03-10 17:51] mseemann-imatics commented on #3990
+1

[2016-03-10 17:53] kumar99m opened #7511 "ng-view animation not working in IE11"
Hi,

I am trying to use CSS3 animations in ng-view, it seems working fine in Chrome and FF and in IE 11 it is not working as expected(In IE11 animation is really slow) , I am using Angular Material Framework, please suggest.

[2016-03-10 18:03] cadilhac opened #7512 "1.1.0-rc1 md-content is transparent. Shouldn't it inherit from the body?"
Changelog says:

I checked that the body actually now defines a background color and it does. But when I display an md-content (in an absolutely positioned popup), it is transparent. Is it normal?

**Update**:
I just read about [inheritance of background-color](https://developer.mozilla.org/en-US/docs/Web/CSS/background-color). Can it really be inherited as your changelog says?

[2016-03-10 18:42] swoofer commented on #3895
+1

[2016-03-10 18:46] cadilhac opened #7513 "1.1.0-rc1 list broken"
With 1.0.6 I had a working list in a sidebar, built like this:

[code]

Alignment was perfect, click to trigger a route was perfect and I had a hover effect (background color on hover).
I switched to 1.1.0-rc1 and display is broken (left alignment different for each line of the list), click does not do anything and there is no hover effect anymore.

I noticed that the generated html code is not th

[2016-03-10 18:48] EladBezalel commented on #7510
@geimkisi @DevVersion This issue is caused by #7422, this PRwe was suggested because we didn't wanted to have background color on `md-content`.

There are two possible solutions here:
1. Set a background color not from the there on this container
2. Create a theming directive that will parse the color the same way as we do on our themes:
[code]

[2016-03-10 18:49] #7178 closed

[2016-03-10 18:49] #7191 closed

[2016-03-10 18:57] DevVersion commented on #7513
Please provide a demo (with 1.0.6 working and the broken one) - and please check within `master` / `HEAD`.

[2016-03-10 18:59] cadilhac commented on #7513
Hummm, very strange. I can't reproduce that in a codepen. Here it is: http://codepen.io/anon/pen/jqrVEy

Only the alignment is not expected. It is right align instead of left aligned.

I'm wondering what causes the 2 other issues. I checked with Firebug and I can see that a button tag is injected in the list-item... in my app only.

[2016-03-10 19:12] cadilhac commented on #7513
Updated my previous msg. Sorry for that.

[2016-03-10 19:18] diegolmello commented on #4672
+1

[2016-03-10 19:19] DevVersion commented on #7513
@cadilhac This should be already fixed in `master`, but I can't test it yet, because travis has issues.

[2016-03-10 19:19] DevVersion opened #7514 "release: chips theme unexpected bracket"
![](https://i.gyazo.com/b065fb6290854023fd923070d5aef395.png)

![image](https://cloud.githubusercontent.com/assets/4987015/13681491/b4048816-e6fd-11e5-8eb1-7d4d1b071b66.png)

[2016-03-10 19:24] cadilhac commented on #7513
ok, will wait for your signal.
Can you tell me why the alignment in codepen is right-aligned, even with 1.0.6? In my app and 1.0.6 it's correctly left-aligned.

[2016-03-10 19:38] diegolmello commented on #6598
+1

[2016-03-10 19:45] lionelB opened #7516 "weird behaviour on chrome 48 - mac"
Hello,
Thanks for this amazing lib !
I have a strange behaviour using chrome (Version 48.0.2564.116 (64-bit)) on mac
Visiting https://material.angularjs.org/1.1.0-rc1/demo/dialog
click on **alert dialog**
click  **Got it!**
there is noticeable delay before the dialog close and after that, I can't  click anymore on buttons to open another dialog.

Using chrome canary, all seems to be ok.

[2016-03-10 20:23] ThomasBurleson commented on #7514
@DevVersion - my dev environment does not have any issues with SASS `unquote()`

[2016-03-10 20:37] Frank3K commented on #5930
Since #6482 has been pulled today this issue should be fixed.

I have tried a similar setup as @MarijnMensinga, but I can not get it working properly. What I end up with is a working situation, but there is a *very* slow fadeOut / fadeIn animation upon navigating between the tabs. Any tips?

**settings.html**

[code]

**routing.js**

[code]

The `settings/account.html` contains the HTML for the ta

[2016-03-10 20:47] cadilhac commented on #7513
I know why there is a difference in alignment. In my app I use P tags for the text of my list. In this case this is left-aligned. If I use SPAN tags, like in your docs, it is right-aligned. No idea why...

[2016-03-10 21:06] DevVersion commented on #7514
@ThomasBurleson Try building the closure modules and also have a look at the Travis Build & Deploy Output

[2016-03-10 21:33] dlombardi opened #7517 "md-fab-speed-dial keyboard accessibility"
when landing on the md-fab-speed-dial element while tabbing through the web page it will start to cycle off and on it and not move on to the next elements.

[2016-03-10 21:36] Frank3K commented on #5930
@epelc: I think the difference comes from inline vs 'external' tabs.

At first I did not understand the concept of 'external' tabs, but I think I get it now. You only use the `md-tabs` for displaying the tabs itself. Below that (i.e. outside of `<md-tabs></md-tabs>` you display the tab content, right? Isn't that a little contrary to how the tabs are designed to work?

[2016-03-10 21:36] gusnips commented on #7273
+1

[2016-03-10 21:45] topherfangio commented on #7517
Yup. It looks like it isn't properly skipping the actions when it's closed.

They should have the `tabindex` set to `0`. We will investigate/fix.

[2016-03-10 21:49] topherfangio opened #7518 "select: Options have no hover effect on 1.1.0-rc1"
When hovering a select option, there is no longer a hover effect. Likely due to recent privatization changes.

Can be viewed on the select demo page for latest/HEAD.

[2016-03-10 21:50] dryvenn commented on #4338
Hi everybody !

I don't know if this is related to what OP was saying, but I might have encountered the same issue:

I wanted to open a dialog with:
[code]
So that foo methods are accessible in the dialog html template, as in:
[code]

But even though the dialog was open, `$scope.foo` wouldn't appear when printing the scope (`console.log($scope)`) and wasn't accessible from the template, unless `pr

[2016-03-10 22:00] topherfangio commented on #7512
We're trying to make fewer assumptions about how people use our components. In the case of `<md-content>`, this could very easily be used in the left sidenav, the main body, or even a popup (like you suggest).

Based on recent updates to the [Material Color Themes Spec](http://www.google.com/design/spec/style/color.html#color-themes), the popup/dialog is what should have the background color set t

[2016-03-10 22:00] topherfangio commented on #7511
Please provide a Codepen demonstrating your code/issue.

[2016-03-10 22:05] morwin10 opened #7519 "data-binding in svg icon, using md-svg-icon, doesn't work"
Here is an example:
http://plnkr.co/edit/ImzTiPEKHqGhxsb9xygK?p=preview

I want to insert variable content in icon
But it doesn't work
It is possible ?

[2016-03-10 22:08] epelc commented on #5930
Yes I display them outside of <md-tabs> each <md-tab>(note no s) is used
only for the label/clicker.

No it's not outside how they were designed. However iirc the docs only
briefly mention the external tab method. However they do mention it so they
were designed with it in mind. I'd say the primary benefit of using
external tabs especially with ui-router is that you can make each tabs
content a ch

[2016-03-10 22:22] topherfangio commented on #7510
@EladBezalel In general, I think the background should be set by our components. For instance, `md-whiteframe`, `<md-card>` and `<md-dialog>` should all have the same colors of either `#FFFFFF` for light themes or `#424242` for dark themes.

The case of the background is tricky since it *should* be done at the body/app-level, and you shouldn't be mixing themes within the app itself. So, I think in

[2016-03-10 22:27] topherfangio commented on #7500
I'm not sure if we want to do this in the 1.x series, but something to think about for 2.x would be to rewrite this to use flex positioning instead of absolute.

Ideally, the left/right icons would take up however much space they take up, and the text in the middle would flex to the right size.

Again, I think this is probably too big of a change for a 1.x release, but maybe not.

[2016-03-10 22:30] topherfangio commented on #7496
@EladBezalel Not that I disagree, but can you provide a link where that is specified? I'm not immediately finding it.

[2016-03-10 22:34] topherfangio commented on #7495
Also, please tell us what browser(s) is having issues unless it manifests in all browsers.

[2016-03-10 22:35] rvarbanov opened #7520 "How to extend the mdCalendar directive?"
I need to add to the mdCalendar two buttons that will allow the user to scroll to the next/prev month.

All of the howto's that I found online are very old.

Would you please point me the right direction?

[2016-03-10 23:01] topherfangio commented on #7502
Good catch; you can't see the issue in our demos because the grey color matches the new body background. Changing the demo background to white makes this easily visible.

[2016-03-11 00:49] leocaseiro commented on #7034
I have the same one. It happens also at the Angular Material WebSite!

MAC OSX El Capitain 10.11.13
Google Chrome Version 49.0.2623.75 (64-bit)

Angular Material  v1.1.0-rc1 from the website!

I believe it happens in large screen.
I have a GIF to illustrate it: http://recordit.co/51nJeJBZ6Q

[2016-03-11 01:15] sarahb13 opened #7521 "Scrollbars missing from md-select for MacOS users with scrollbars hidden"
For users of MacOS, there is an option to turn off scrollbars. (System Preferences > General > Show scroll bars). At time some point, this setting was defaulted to "Automatically based on mouse or trackpad".

This means, that for md-selects that have more options than fit vertically into the element, the scrollbar is hidden. An example of this can be found in the Angular Material documentation for

[2016-03-11 02:25] jelbourn commented on #7521
@ThomasBurleson would anyone have the cycles to look into this? It sounds like OSX default behavior makes life difficult for everyone.

[2016-03-11 05:13] EladBezalel commented on #7510
@topherfangio I agree with you,
There's no such mixing of theme's in the spec.

Also a menu that changes the docs color can be cool but how would you change all the constant colors from the css that was chosen for light theme

[2016-03-11 05:22] siteshackinc opened #7522 "v1.1.0-rc1 md-list to md-list-item margin-right issue"
v1.1.0-rc1 broke margin-right on md-list-item. Text, or icon is about 32px off canvas.

`<md-list>
        <md-list-item ui-sref="{{item.state}}" ng-click="vm.close('left')" ng-repeat="item in menu.items | orderBy: order">
          <md-icon md-font-set="material-icons">{{item.icon}}</md-icon>
          <span flex></span>
          {{item.title}}
        </md-list-item>
      </md-list>`

Right no

[2016-03-11 05:45] siteshackinc commented on #7513
Just wanted to comment on this one, as I didnt see this earlier when I posted my issue. But the margin-right is offcanvas. seems to be off by 32px. Adding a span tag with style margin-right temporarily fixes the alignment issue.

[2016-03-11 05:52] EladBezalel commented on #7496
![](https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0B6Okdz75tqQsUklUeG9sRTdTOEk/style_color_uiapplication_accent3.png)

[color schemes](https://www.google.com/design/spec/style/color.html#color-color-schemes)

[2016-03-11 05:52] gpopovic opened #7523 "Bower material not updated"
Last commit on https://github.com/angular/bower-material  is v.1.1.0.rc1

[2016-03-11 06:37] DevVersion commented on #7523
Fixed with #7515

[2016-03-11 06:37] #7523 closed

[2016-03-11 06:43] Frank3K commented on #5930
Good point @epelc, I'll try using external tabs.

[2016-03-11 07:21] gpopovic opened #7525 "Md-list-item with ng-click still broken in master"
It appears that text overflow is still not working on md-list-item with ng-click
http://codepen.io/anon/pen/KzMyGY

Solution this time is
`._md-list-item-inner {
    overflow: hidden;
}
`

[2016-03-11 08:07] ronyrun commented on #3349
Hello,

I'm having the same issue currently. ("version": "1.0.6")
 the `md-fab-speed-dial` component does not animate the first time it is hovered or touched.

[2016-03-11 08:37] sahilanguralla commented on #7130
I am also facing the same issue. Please fix it fast. Thanks.

[2016-03-11 09:45] corentin-gautier commented on #1983
+1

[2016-03-11 10:10] stevezau opened #7526 "md-menu-item with md-icon not side by side (FF issue)"
Using firefox 45.0 the menu items are not displaying correctly. The md-icon is below the menu button.

To reproduce just go to https://material.angularjs.org/latest/demo/menu and click the menu..

[2016-03-11 10:18] andre-morassut commented on #7510
@EladBezalel @topherfangio
My 2 cents : If you choose to forbid (or not support) this kind of mixing, it would be great to **keep** an example in the demos that would show how to have different background colors in a form, like this (taken from the [specs](https://www.google.com/design/spec/style/color.html#color-color-schemes)) : ![image from the spec](https://material-design.storage.googleapis.c

[2016-03-11 10:31] EladBezalel commented on #7510
As you can see in the picture you posted, the color of the header is the primary color (indigo),
to achieve this kind of look you can use `md-toolbar` with `md-tall` class

[2016-03-11 11:07] andre-morassut commented on #7510
Sorry if I was not clear enough in my precedent comment.

My question was not about reproducing the exact look of the screenshot (I'm aware that it includes a toolbar) but about the possibility of keeping the first "basic usage" input demo as it is (i.e. with two parts having different backgrounds).

If mixing themes is forbidden, reworking the example to demonstrate how to have different backgrou

[2016-03-11 11:10] dapids commented on #1837
+1

[2016-03-11 11:20] EladBezalel commented on #7510
@andre-morassut couldn't agree more, thanks!

[2016-03-11 11:41] Acarus commented on #5068
+1

[2016-03-11 11:41] fjrd84 commented on #2177
I was experiencing the same problem. This workaround does the trick for me:

`md-tabs-canvas{
  overflow: inherit;
}`

[2016-03-11 11:57] kievsash commented on #3895
+1

[2016-03-11 12:01] cmacdonnacha commented on #5231
@EladBezalel Yea I [tried](https://groups.google.com/forum/#!topic/ngmaterial/Irun5vQ3Yx8) but as usual there is no response.

[2016-03-11 12:21] forcewill commented on #4537
+1

[2016-03-11 12:38] jakubweber opened #7527 "md-ink-ripple within md-theme get wrong colors"
Hello, I found this (probably) issue.

When I have defined second theme. eg."dark", md-ink-ripple doesn't gets colors of "dark" theme, but it gets colors of "default" theme.
If it's feature, it's inconsistent, because ripple of md-tab label gets correct color of ripple from "dark" theme.

[code]
Anchor in this example with md-ink-ripple gets background color from "default" theme.
The md-tab label

[2016-03-11 12:54] char0n commented on #7377
I can also confirm that the performance and flex issues (https://github.com/angular/material/issues/7382) in IE11 are gone. The performance is on acceptable level now, even though there are other problems regarding some components (card),

Note:
in 1.1.0-rc1, IE11 performance issue is fixed. But this release created huge issues in Firefox, which I will try to document in other issue.

[2016-03-11 13:10] char0n commented on #7526
Yes I can confirm: affected version is 1.1.0-rc1. Affected is Firefox only.

[2016-03-11 13:25] khrisnet commented on #1439
Olá @valmirphp estou tendo problemas ao estender $mdToast retornando a mesma mensagem de erro relatada nessa issue.

Quanto digo estender me refiro que tenho uma factory por exemplo "ToasterService" que implemento alguma particularidades ao $mdToast até mesmo para não ficar dependente dessa biblioteca em todo o meu projeto.

Por acaso já passou por algo semelhante?

[2016-03-11 13:28] char0n commented on #7525
I can confirm, but this requires some more information.

Only affected browser is Firefox. I can reproduce the issue on Firefox 44.x and Firefox 45.0
Latest Chrome and IE11 seems to be working fine.

Basically this bug manifests it self as user not being able to click on item with primary action, which is really a big issue.

You can reproduce the issue directly on documentation page:

Url: https:

[2016-03-11 13:28] char0n commented on #7525
@gpopovic I don't get your workout. Can you collaborate more how to apply it ?

[2016-03-11 13:31] gpopovic commented on #7525
@char0n chrome is also affected!

use that css line and bug will be fixed..

example:

http://codepen.io/anon/pen/WwxyZp

[2016-03-11 13:31] valmirphp commented on #1439
Eu sempre usei direto o $mdToast, mais caso vc queira abstrai para dentro de um serviço seu, basta injetar ele (passar como dependência na construção do seu service.

Pode postar o código do seu service?
De preferencia o erro junto.

[2016-03-11 13:40] char0n commented on #7525
@gpopovic yep, so I guess I am seeing a completely different issue then. I will issue a separate ticket. Any click on <md-list-item ng-click="action()"></md-listi-item> if the text is not overflowing in Firefox will no trigger action(). In Chrome  49.0.2623.87 m and IE 11 it will.

[2016-03-11 13:42] char0n opened #7528 "mg-list-item not executing primary action"
Only affected browser is Firefox. I can reproduce the issue on Firefox 44.x and Firefox 45.0
Latest Chrome and IE11 seems to be working fine.

Basically this bug manifests it self as user not being able to click on item with primary action, which is really a big issue.

You can reproduce the issue directly on documentation page:

Affected version: 1.1.0-rc1
Url: https://material.angularjs.org/late

[2016-03-11 13:45] ThomasBurleson commented on #7525
Please make sure you are testing with the latest in `master` @ [HEADH](https://material.angularjs.org/HEAD/demo/list)

[2016-03-11 13:47] char0n commented on #7525
@ThomasBurleson will do, I was testing from 1.1.0-rc1 tag.

[2016-03-11 13:48] khrisnet commented on #1439
Primeiramente obrigado ai pelo apoio.

Realmente estou fazendo isso, como pode perceber no meu código abaixo:

https://gist.github.com/khrisnet/82654ff2627afe236558

Obs: no meu "app.services" estou carregando o modulo "ngMaterial" normalmente.

[2016-03-11 13:56] gpopovic commented on #7525
@ThomasBurleson this issue is tested on the latest master

[2016-03-11 13:58] valmirphp commented on #1439
Vou te responder pelo gist, pois essa issues é de outro assunto.

[2016-03-11 14:00] khrisnet commented on #1439
Perfeito!

[2016-03-11 14:58] a2ron commented on #3895
+1

[2016-03-11 15:31] ThomasBurleson commented on #3895
Pull Request welcome. Currently this is a low priority for our team.

[2016-03-11 15:54] kumar99m commented on #7511
Hi topherfangio,

Thanks for the response, yesterday I have played with different versions of angular material CSS
(https://cdn.gitcdn.link/cdn/angular/bower-material/v1.0.0/angular-material.css) and I have identified the issue occurs only with version 1.0.6, I will provide the demo code soon.

[2016-03-11 15:58] iainmcgin opened #7529 "Checkboxes and switches not rendering when using minified modules"
Switches and checkboxes do not render correctly when using the minified variants of the [separate modules](https://github.com/angular/bower-material/tree/v1.0.6/modules/js) in the bower repository. I'm using v1.0.6 imported using Bower.

If I use [core.min.js](https://github.com/angular/bower-material/blob/v1.0.6/modules/js/core/core.min.js) instead of [core.js](https://github.com/angular/bower-ma

[2016-03-11 16:17] OliverTr54 opened #7530 "How to make md-autocomplete and JSONP request work..."
Hey folks,

I have a problem and hopefully someone is able to give me solution.

I'm currently using the md-autocomplete directive in one of my partials - and it should be filled with a JSONP repsonse from Google.

Within my partial I inserted the following:
[code]

My controller has a scope that is just linked to a service.
`$scope.Suggestion = SuggestionService;`

And the service looks like this

[2016-03-11 16:17] ivanzvakoms commented on #4251
+ hope it will be something like jquery datepicker - which has really usable interface and with material style will look awesome

[2016-03-11 16:27] gpopovic commented on #7530
This is just too complicated, try this one

`app.service('SuggestionService', function($q, $http) {
    var self = this;

    this.getSuggestions = function(query) {
        console.log("Trying to find suggestions for: "+query);

        var deferred = $q.defer();
        $http
            .jsonp('http://suggestqueries.google.com/complete/search?q='+query+'&ds=yt&client=youtube&callback=JSON_CALLB

[2016-03-11 16:28] stunaz commented on #4251
Now github as the +1 functionality !

[2016-03-11 16:35] gpopovic commented on #7530
There is no need to use $q here..

`
app.service('SuggestionService', function($http) {
    var self = this;

    this.getSuggestions = function(query) {
        console.log("Trying to find suggestions for: "+query);

        return $http
            .jsonp('http://suggestqueries.google.com/complete/search?q='+query+'&ds=yt&client=youtube&callback=JSON_CALLBACK')
            .then(function(data){

[2016-03-11 16:37] stunaz commented on #3652
This can be closed, you can use `md-autofocus`

[2016-03-11 16:43] OliverTr54 commented on #7530
Thanks you - I haven't seen this mistake :( Anyway, it's working!

[2016-03-11 16:43] #7530 closed

[2016-03-11 17:23] stefan-leye commented on #5103
I have the same problem.

[2016-03-11 17:32] DevVersion commented on #7528
Fixed in `HEAD` / `master` by 497190b72a552b67a39222d087c87958ab359ced

[2016-03-11 17:32] #7528 closed

[2016-03-11 17:52] patorjk commented on #1217
+1

[2016-03-11 18:12] DevVersion commented on #7525
@gpopovic I'm sorry for the issues. The list-item-inner was wider than the actual container.. this was caused by Flex and the container.

![image](https://cloud.githubusercontent.com/assets/4987015/13711120/2fb9e720-e7bd-11e5-96db-848c371950b7.png)

[2016-03-11 18:16] DevVersion commented on #7513
Fixed in `master` / `HEAD`. If any other issues appear with the overflow, then they're fixed within #7531

[2016-03-11 18:16] #7513 closed

[2016-03-11 18:19] DevVersion commented on #7522
This should be already fixed in `HEAD` / `master`. Can you provide a demo or check your issue with `master`?

[2016-03-11 18:23] DevVersion commented on #7518
@topherfangio I've never seen a hover effect on the select.

See for example `v1.0.0`
https://material.angularjs.org/1.0.0/demo/select

[2016-03-11 18:23] cadilhac commented on #7513
I now target MASTER in this [codepen](http://codepen.io/anon/pen/WwxLem) and I don't see it fixed.

[2016-03-11 18:27] DevVersion commented on #7513
Oh the list is definitely fixed. The actual issue was, that the inner-content box was wider the parent container. That's why your text went of the list item.

So the alignment of your text is not caused by list, it's either caused by the icon you used.

http://codepen.io/DevVersion/pen/oxLJgw

[2016-03-11 18:30] cadilhac commented on #7513
There are several issues in my OP. In the last codepen I sent you, there is no hover effect, no ink ripple. Where is the fix?

About the icon, what is the right way to have my fontawesome icon and being left-aligned then? Seems strange to me that it works with a P tag and fails with a SPAN tag (your doc suggests a span).

[2016-03-11 18:35] DevVersion commented on #7513
@cadilhac In this [codepen](http://codepen.io/DevVersion/pen/oxLJgw). Everything works as expected:
- Ripple
- Hover
- Click / Href
- Layout / Alignment

About the icon, this maybe another issue, can you please track this in a new issue or on the Google Group. I'm really overwhelmed by so many side-questions. After v1.1.0rc1 many issues had been tracked.

[2016-03-11 18:36] cadilhac commented on #7513
Check with latest firefox then. Nothing works.

[2016-03-11 18:41] alois-wever commented on #4936
+1

[2016-03-11 18:41] DevVersion commented on #7513
@cadilhac I can't reproduce this on my Firefox and Chrome. Would you please so kind and share your browser information? And maybe clear the cache?

[2016-03-11 18:42] jojogeyer commented on #4936
+1

[2016-03-11 18:49] cadilhac commented on #7513
Cache cleared. Issue still here.
What to say about version more than 45.0 english x64?

Also, FYI, under IE11 in your codepen, I rarely see the ripple. Sometimes yes, usually not. And when I click the listitem, the text shifts diagonally as if it was a basic button. In 1.0.6 everything is correct inside all browsers for me.

[2016-03-11 18:53] DevVersion commented on #7513
Still can't reproduce on Firefox 45.0 Mac OS X Yosemite.

![image](https://cloud.githubusercontent.com/assets/4987015/13712256/ea96fcf4-e7c2-11e5-844f-1643b8e33f80.png)

What Operating System are you using?

[2016-03-11 18:55] antoinebrault opened #7532 "md-list-item not working in Firefox, IE11 with ui-sref"
Directive html output is wrong for Firefox, IE11.

[code]

See (look for errors in console on click):
http://output.jsbin.com/dizuxewiba/1/

I've included a working output.

[2016-03-11 18:56] cadilhac commented on #7513
Sorry, Windows 7 Ultimate x64

[2016-03-11 18:58] cadilhac opened #7533 "md-icon in span is centered and text follows"
Check [this codepen](http://codepen.io/anon/pen/BKzvdb).

See the issue when there is an md-icon and a text inside a SPAN tag.
[Your doc suggests](https://material.angularjs.org/latest/api/directive/mdListItem) to use a SPAN tag in this case. When I use a P tag, this is correct.

Note: in firebug, when I remove the "margin:auto" in md-icon css, it fixes the alignment.

Checked in various browsers

[2016-03-11 19:04] cadilhac commented on #7532
Seems like #7513

[2016-03-11 19:04] whittssg opened #7534 "md-button shifts down in latest chrome (with md-progress-linear visible)"
Hello,

When you click an md-button (actions section of md-card) and the card has a md-progress-linear control the buttons (or the actions bar) will shift down.. It only seems to happen in Chrome - IE and Firefox are not effected.

Please see my fiddle: Click on and off the button a few times.

http://jsfiddle.net/whittssg/5n7pewgf/17/

Thanks

[2016-03-11 19:05] DevVersion commented on #7532
@antoinebrault That's fixed in `master` - http://jsbin.com/vijotizoya/1/edit?html,css,js,output

[2016-03-11 19:08] brenolf opened #7535 "$mdDialog.prompt is not a function"
I've just tried out the example shown in the docs page but I always get this error when trying to use prompt.

I've also inspected `$mdDialog` and it returns:

[code]

Nevertheless I've checked that `prompt` is listed as a preset in the source code, but I didn't go any further to figure out why it's not being added.

[2016-03-11 19:10] JDGoldman opened #7536 "Allow duplicate md-option values in a select."
Presently, duplicate md-option values are not allowed in an md-select (line 688 of src/components/select/select.js).  I have a scenario where I am populating a select list with duplicate values deliberately, and I would like to have an option to allow duplicate values if we specifically want them without an error being thrown.  Perhaps a new attribute on the md-select directive?

[2016-03-11 19:10] #7532 closed

[2016-03-11 19:15] ThomasBurleson opened #7537 "sideNav: auto-disable backdrop when is-locked-open == true."

[2016-03-11 19:25] cadilhac commented on #7513
Just to be sure, I checked on another computer (windows 8.1). Firefox is 44.0 there.
All mentioned issues were reproduceable. Also in IE11 I also get the same strange button effect that I couldn't see under chrome and firefox.

[2016-03-11 19:27] soohoowoohoo commented on #7535
+1 Running into the same issue

[2016-03-11 19:34] DevVersion commented on #7513
That's really weird. I can't reproduce this on -  Win 10 IE11 - Firefox 45.0 Mac OS X.
We need someone else to confirm that..

[2016-03-11 19:38] DevVersion commented on #7535
@soohoowoohoo The prompt is only available in `v1.1.0rc1`.

Everything works well in my demo.
http://codepen.io/DevVersion/pen/aNZXoY

[2016-03-11 19:44] cadilhac commented on #7513
Triggered a Win10 VM. Works well under Edge. Fails under Firefox too.
I understand that you need a confirmation, but I tried under 3 different machines with 3 different Windows OS versions and they all fail in firefox.
Just to be clear, I'm testing [the codepen you mentioned](http://codepen.io/DevVersion/pen/oxLJgw).

[2016-03-11 20:05] brenolf commented on #7535
@DevVersion it worked here, but since its on the master doc, shouldn't there be a note somewhere telling that we should use `v1.1.0rc1` instead?

[2016-03-11 20:08] DevVersion commented on #7535
The docs (https://material.angularjs.org/latest/) clear say, which feature is included in which version.

![image](https://cloud.githubusercontent.com/assets/4987015/13714163/41ec1930-e7cd-11e5-9830-2aefdefdcc7f.png)

Also the changelog is saying, that the prompt, is only available in `v1.1.0rc1`
https://github.com/angular/material/blob/master/CHANGELOG.md

I'll close that issue, because everythin

[2016-03-11 20:08] #7535 closed

[2016-03-11 20:10] david-meza commented on #7536
This would go against the design specs of the component as can be seen here: https://www.google.com/design/spec/components/menus.html#menus-behavior

[2016-03-11 20:12] DevVersion commented on #7537
@ThomasBurleson The backdrop isn't enabled / added to DOM, when `is-locked-open` is set to true. You can confirm that in the latest docs.

So I'll treat this as a performance update.

[2016-03-11 20:18] timbrown81 commented on #1217
+1 silly to have such great functionally sitting on the bench yelling "put me in coach!"

[2016-03-11 20:57] antoinebrault opened #7538 "md-checkbox missing ripples on click"
md-checkbox seems to be missing ripples on click.

See:
https://material.angularjs.org/HEAD/demo/checkbox
vs
https://material.angularjs.org/HEAD/demo/radioButton

https://www.google.com/design/spec/components/selection-controls.html#selection-controls-radio-button

[2016-03-11 21:18] ThomasBurleson commented on #7538
@antoinebrault - yes something VERY odd has happened. Investigating...

[2016-03-11 21:24] ThomasBurleson commented on #7513
@cadilhac - please provide some snapshots of your issues.

[2016-03-11 21:26] cadilhac commented on #7513
How can I provide a smapshot? The issue is in the interaction. Mouse move -> no hover effect. Mouse click -> no ripple and click handler.

[2016-03-11 21:26] DevVersion commented on #7513
@cadilhac You can provide a screenshot of the DOM using Inspection, then I can take a look at the element structure.

[2016-03-11 21:30] cadilhac commented on #7513
Good point. Here it is.

![snapshot](https://cloud.githubusercontent.com/assets/50608/13716027/82dcd582-e7a6-11e5-83cb-0fb05bc6ebc9.jpg)

[2016-03-11 21:31] darlanmendonca commented on #5241
+1

[2016-03-11 21:43] DevVersion commented on #7513
Issue spotted. You're definitely not using the latest version.
- Content inside of a `button` causes click issues with Firefox / IE.

So in your DOM structure, the `_md-list-item-inner` etc. are wrapped inside of the button.

But I've recently fixed that in 497190b72a552b67a39222d087c87958ab359ced, so that shows that you're not using the latest `HEAD` / `master` version.

![image](https://cloud.gi

[2016-03-11 21:47] cadilhac commented on #7513
Well, I showed you the codepen, and you sent one to me too. They use:

//cdn.gitcdn.xyz/cdn/angular/bower-material/master/angular-material.min.css
//cdn.gitcdn.xyz/cdn/angular/bower-material/master/angular-material.min.js

I see "master" in here...

[2016-03-11 21:49] david-meza commented on #7534
I was not able to recreate your issue. However, after running it a few times, I noticed that the card content seemed to be shifted down by the height of the progress bar. But that should be easily fixable from your markup by replacing

    <md-card-content style="height:100%;">
      My Content
    </md-card-content>

with

    <md-card-content flex>
      My Content
    </md-card-content>

so the

[2016-03-11 21:50] DevVersion commented on #7513
True, that's strange, but in my case the file is correctly loaded as it should.
Maybe it's still related to your cache. Let's try using the new `gitcdn.link` site, because `xyz` is not desired anymore.

http://codepen.io/DevVersion/pen/oxLJgw

[2016-03-11 21:54] cadilhac commented on #7513
Fixed! :)

Now it can't be a cache problem. The 2 other computers I checked had never seen the involved web sites and files. Seems like xyz is not serving the files we thought it would serve...

[2016-03-11 21:57] DevVersion commented on #7513
@cadilhac Glad to hear that `.link` works now :+1:

[2016-03-11 22:18] whittssg commented on #7534
Super strange.. thanks for checking - i hadnt noticed the card content moving down but now i do.. I had tested the fiddle on two different machines at work (different computers with the same monitors) and i could reproduce it - now that i am at home on my much smaller screen i cant seem to reproduce it.. Please close this out for now and when i get back to work on monday i will check again. Thanks

[2016-03-11 22:35] ginader commented on #698
any update on this @ThomasBurleson?

[2016-03-11 22:38] jaxoncreed opened #7540 "Slow Performance on IE with Leaflet"
When running an Angular app with Angular-Material and [Leaflet](http://leafletjs.com/) performance significantly decreases in Internet Explorer.

I've traced the issue to the mdThemingProvider:

/material/src/core/core.js
[code]

Removing these 5 lines will increase the performance in IE9 from 15fps to 30fps.

I'm hoping for some guidance on what's happening and what I should be looking into in or

[2016-03-11 22:44] JDGoldman commented on #7536
Obviously, don't want to go against the design spec (by the way, your link seems to point to something else), but all I am talking about is a way to suppress the error message so my console (and the user's console) isn't littered with unnecessary messages.

[2016-03-11 23:50] j2m6lz5n opened #7542 "md-datepicker-- md-scroll-mask remains open on navigation back"
If you open the md-datepicker that is on a secondary route in the app and then hit the back button while the datepicker is still open, the scroll mask remains open and preventing scroll until the user clicks.

[2016-03-12 00:38] p-mcgowan commented on #5428
+1

[2016-03-12 02:23] 0101adm commented on #7540
+1

 im also seeing perf decrease with google-maps in Chrome.

i'll have to test what youve done.

[2016-03-12 08:31] #6606 closed

[2016-03-12 11:23] DevVersion commented on #7514
Fixed with SHA 467129ccac2cfbc1f1e4eeffea02cc06d8fa0a03

[2016-03-12 11:23] #7514 closed

[2016-03-12 11:26] DevVersion commented on #7500
@topherfangio Yes, an absolute position is not good, because then we can't set the overflow correctly. I think, we're able to fix this by using a static position, but this requires the button wrap to be absolute.

But my solution, is to move the secondary container into the container wrap, this will fix the overflow issue, but requires a lot of work in aligning the padding / margin correctly.

[2016-03-12 11:37] DevVersion commented on #7533
Not related to the `md-list` component. It's caused by `md-icon`'s margin property.

http://codepen.io/DevVersion/pen/ZWpEpV?editors=1010

[2016-03-12 11:44] DevVersion commented on #7542
@j2m6lz5n Can you provide a demo of your issue?

[2016-03-12 11:50] DevVersion commented on #7459
@ThomasBurleson
Demos for the issue
- Serving with <kbd>https</kbd>: https://codepen.io/DevVersion/pen/pyEoRO
- Serving with <kbd>http</kbd>: http://codepen.io/DevVersion/pen/pyEoRO

As we can see <kdb>https</kbd> isn't working, because you can't inject insecure scripts into a TLS secured page.

Mixed Content: The page at [URL] was loaded over HTTPS, but requested an insecure script 'http://ngmate

[2016-03-12 12:05] DevVersion commented on #7529
@iainmcgin I've tried to recreate your demo with the latest build (`HEAD` / `master`) and everything works as expected.

http://codepen.io/DevVersion/pen/JXRjrd?editors=1000

[2016-03-12 13:17] DevVersion commented on #3623
This would be a nice addition and would require a forward of the allowed classes to the floating label input container. Another solution would be to overwrite the styles from the autocomplete style. (but that's not a good solution)
To be honest, every time we forward any attribute / class it feels for me really hard coded.

cc. @robertmesserle

[2016-03-12 14:12] prakashjp123 commented on #7050
@Nosthertus try using md-no-float in md-input-container. It doesn't display like duplicated. But this might not be the correct solution.

[2016-03-12 14:18] Bassel-m opened #7543 "md-menu closing on any outside click"
I am trying to make a menu but letting the user open another menu if clicked on it without having to close the first, first.
So if the user clicked another menu, that click closes the first and opens the second
How to change the default behaviour?!

[2016-03-12 14:18] sebastianhenneberg commented on #5894
+1

[2016-03-12 14:38] j2m6lz5n commented on #7542
Hi DevVersion,
Thanks for looking into this...Its not the worst issue in the world, but I thought Id mention it. I assume that there is something that could be added onRouteChange. Please let me know.
Here is a quick example codepen of what I am talking about. When you open the page, you can scroll...if you go to the next page, open the datepicker, then hit the back button without selecting the da

[2016-03-12 15:59] mckenzielong commented on #3623
@DevVersion I also noticed something similar happening with md-input-container and md-select.  If I can make some time I will open an issue with a demo.

[2016-03-12 16:00] abodacs commented on #7102
@EladBezalel sadly that can happen in a bit complex forms jasonmc86  can you reopen it ??

[2016-03-12 17:20] vshanbha opened #7545 "md-on-select on md-chips gets called twice due to keyboard selection"
I have a md-chips with an internal md-autocomplete used to search for chips asynchronously from server. I also have a method calls associated with md-on-select.
In the sample given below inside the
[code]
content of selectChip
[code]

Everytime I use keyboard (arrow or backspace) to perform selection the selectChip() gets called twice.
Whereas if I click on a chip using mouse the same method only

[2016-03-12 18:31] EladBezalel commented on #7102
@abodacs can you give us an example?

[2016-03-12 19:06] siteshackinc commented on #7522
Fixed in HEAD / master

[2016-03-12 19:06] #7522 closed

[2016-03-12 20:07] EladBezalel commented on #7496
@amritk @topherfangio are we ok closing this?

[2016-03-12 20:10] EladBezalel commented on #7022
This is a dup of #4699
@DevVersion i don't understand why #6434 is related?
Sidenav should simply support clickOutsideToClose

[2016-03-12 20:11] riedeljan opened #7546 "md-dialog -content and -actions in wrong order (1.0.6)"
Today I played around with the md-dialog. I noticed that the md-dialog-actions is always shown above the md-dialog-content. No matter where in my project I insert it, no matter if I use my self made dialogs or the ones from the Angular Material Demo pages, copied 1:1 into my project, removed every CSS and so on. Also sadly I haven't seen anyone who could reproduce this issue.

My versions for Angu

[2016-03-12 20:16] riedeljan commented on #7546
Unlikely I noticed after a few hours of debugging that I still had an old angular.min.css file included that was left from an old build fetched with bower..

[2016-03-12 20:16] #7546 closed

[2016-03-12 20:24] Nextt1 commented on #7536
I think value works like a id here. so It needs to be unique and as long its unique you can select that item.

[2016-03-12 20:29] DevVersion commented on #7022
@EladBezalel With #6434 can be the same achieved as with `clickOutsideToClose`. Combined with #7482, is the user able to disable <kbd>ESC</kdb> too.

[2016-03-12 20:29] j2m6lz5n commented on #7542
Thank you @DevVersion

[2016-03-12 20:37] EladBezalel commented on #7022
I think the elegant why is just supporting `clickOutsideToClose` ..

[2016-03-12 20:44] DevVersion commented on #7022
Ah, I got your thoughts.. It is also aimed to keep the backdrop, but just disable the click outside functionality ;)

[2016-03-12 21:11] david-meza commented on #7536
The link was right. This part, in particular, is what I was referring to:

![2016-03-12_16-02-37](https://cloud.githubusercontent.com/assets/11840636/13725343/a48521b4-e86c-11e5-8de9-69acd5db34a3.png)

Have you considered using a `md-optgroup` label for broader categories?

[2016-03-12 21:18] Nextt1 commented on #7545
You are right. If we click the chip the method only get called once. but using key-board keys including delete the method gets call twice. +1

[2016-03-12 23:18] JDGoldman commented on #7536
Thank you for the link, and the photo.  I did find it finally.  It is not really applicable because what shows up for the user is, for example, Vests on the one hand, and Tops --> Vests on the other hand.  I don't want to use an option group because the idea is we have about 100 categories and sub-categories and somebody may be looking for Vests and not realize that the Vests are actually a sub-ca

[2016-03-13 00:08] jon64digital commented on #4856
Just came here to say that I tried to use the datepicker for the first time today and actually couldn't use it on my laptop and I don't have a mousewheel, just a trackpad which doesn't have gestures. I thought it was totally broken until I tried it on an iPad.

[2016-03-13 00:46] raphaelnew commented on #6774
+1

[2016-03-13 02:09] sombriks commented on #2454
i stumbled on this very same issue and what worked for me was to use an md-list inside md-content.

i am unable to provide a sample, but it`s working well even on ios devices, which are the most problematic ones with angular material.

[2016-03-13 04:11] flick36 commented on #1217
+1

[2016-03-13 04:54] usamakhalil86 opened #7548 "md-autocomplete setting search-text as selected-item"
I have this

[code]

`$scope.SearchTerm` is simply a string value that I use.
However, whenever I click on one of the records of the autocomplete, which would be something like this:

[code]
(Obviously, depending on the selected-item, the value would change for this variable). That value for example is set to $scope.SearchTerm, which of course makes my app crash since most functions on my app use

[2016-03-13 05:57] Nextt1 commented on #7543
[md-menu behaviour in Angular Material](http://stackoverflow.com/questions/35959169/md-menu-behaviour-in-angular-material/35960200). Its working now.

[2016-03-13 06:05] Nextt1 commented on #7500
@gpopovic You can use `flex` attribute with `p` element to get somewhat of a desired result. http://codepen.io/next1/pen/WwGoBE

[2016-03-13 06:46] Bassel-m commented on #7543
Yeah but I noticed something in that codepen, when I click on an empty area on the toolbar the menu doesn't close, it only close when clicking on white areas

[2016-03-13 07:09] Nextt1 commented on #7543
It is a bug I guess. It should close.

[2016-03-13 07:10] jbadeau commented on #4657
+1 for multipe selections with a md-chips.selected property

[2016-03-13 08:20] gpopovic opened #7549 "Md-max-chips doesn't work with autocomplete"
Md-max-chips works with only input, but doesn't work when autocomplete is used with chips.

On codepen, ,d-max-chips is set to 1 on both autocomplete and input.
Chips with input will not allow adding another chip, while autocomplete will just ignore that tag.
http://codepen.io/anon/pen/GZjrQE

[2016-03-13 09:41] DevVersion commented on #7549
@gpopovic Thanks for catching this :+1:

[2016-03-13 10:12] Bassel-m commented on #7543
@DevVersion Can you see this?

[2016-03-13 10:32] DevVersion commented on #7543
@Bassel-m Yes. Investigated a bit and found the problem. The backdrop has a lower z-index as the toolbar. That's why the menu isn't closing.

[2016-03-13 10:49] Bassel-m commented on #7543
Yes but if you increase the z-index of the backdrop the menu behaviour changes hovering doesn't open the  other menus :/

[2016-03-13 10:52] DevVersion commented on #7543
Since we need to be careful about changing the z-index, I marked this to require a team discussion.

[2016-03-13 11:03] zilions commented on #4124
Also having this problem within my entire project

[2016-03-13 11:23] bobwah commented on #525
+1

[2016-03-13 11:35] abodacs commented on #7102
i use angular-formly and use this example http://angular-formly.com/#/example/advanced/repeating-section its forms in side forms

[2016-03-13 13:12] Millen31 opened #7551 "Text disappears in md-list-item if background-color is set"
Hi,
if you want to set a background-color in a md-list-item (with ng-click), the text inside the list-item disappears.

http://codepen.io/anon/pen/dMpWpQ

Best Regards
Frank

[2016-03-13 13:14] EladBezalel commented on #7102
Forms inside forms doesn't say that you need to do input container inside input container..

[2016-03-13 13:33] DevVersion commented on #7102
I agree with Elad, an input container should only hold an input and its related ngMessages / icons. But it should not contain another input container.

[2016-03-13 13:42] DevVersion commented on #7551
Thanks, that's already fixed in #7531.

[2016-03-13 14:21] #7538 closed

[2016-03-13 16:05] Slavery commented on #2878
+1

[2016-03-13 16:08] crisbeto commented on #7487
@jalajc I've fixed 1 and 2, however I can't reproduce 3. Do you have any more info?

[2016-03-13 17:28] ivoviz opened #7552 "md-list: .md-dense - wrong font-size"
`md-list.md-dense` has wrong font-size set. According to the spec it should be 13px, but it actually goes up to ~21px.

Demo [here](http://codepen.io/anon/pen/JXRyNW).

Note that the official demo has some additional css added (`html: font-size: 62.5%;`) which makes it look good there.

[2016-03-13 17:59] jalajc commented on #7487
for 3: Check the first demo (Basic Usage) at https://material.angularjs.org/latest/demo/input
Notice behavior for textarea: '_Biography_'.
When you click on text, text flashes and disappears (you make have to click on text and outside at multiple times-it was little unpredictable today!)

[2016-03-13 18:03] amanuel2 commented on #2573
Is this added still? Because i still cant use md-minlength..

[2016-03-13 18:04] amanuel2 commented on #2573
Is this still added? Because i still cant use md-minlength @ThomasBurleson  @robertmesserle  @suryaiiit  @georgebarbarosie

[2016-03-13 18:12] crisbeto commented on #7487
Ah I see what you mean. It doesn't happen on Chrome, but it definitely does on Firefox. For future reference:

![select](https://cloud.githubusercontent.com/assets/4450522/13730435/8d59f954-e94f-11e5-9629-90027b0e5372.gif)

[2016-03-13 19:10] jalajc commented on #7487
Thanks for the gif grab, that's what I was referring to.
apparently, this is happening for me on chrome too, Version 43.0.2357.132 m.

[2016-03-13 19:25] DevVersion commented on #7487
This is only happening if you hit the cursor between the chars.

[2016-03-13 19:37] crisbeto commented on #7487
Not quite sure that's the case, here me trying to hit right in the middle of the "m". The gif recording app seems to move the cursor slightly though:

![select](https://cloud.githubusercontent.com/assets/4450522/13730845/4fc3034a-e95b-11e5-86c0-82ebb5962d4e.gif)

[2016-03-13 20:12] crisbeto commented on #7487
Seems like a `mouseup` event is being fired right after the focus. Preventing the default solves it but makes for a crappy user experience.

[2016-03-13 21:25] epelc opened #7554 "md-select: Document md-optgroup"
Currently `md-optgroup` for `md-select` only has an example [here](https://material.angularjs.org/latest/demo/select). It should have a page listing the attributes and what they do(currently only `label`) like the other directives.

It's also not mentioned on the `md-select` api page while `md-option` is.

https://material.angularjs.org/latest/api/directive/mdSelect

[2016-03-14 03:11] zilions commented on #932
Was also having this issue. Added a `layout` to the `body` like @epelc suggested and everything is working perfectly fine now. To whoever comes across this problem, just make sure that all parents of your `md-content` have a `layout="column"` or `layout="row"`.

[2016-03-14 03:14] epelc commented on #932
@zilions be careful. `layout="rowOrColumn"` attributes on the `body` tag are dangerous in some situations and no longer recommended.

Try to get it working without the `layout` directly on the body if you can. My advice about the parents going up to `body` still stands though.

[2016-03-14 03:24] jayeshanandani commented on #7444
Can we close this, since this has already been answered?

[2016-03-14 03:44] zilions commented on #932
@epelc can you suggest a way to achieve this without `layout` on the `body`? Tried quite a few things, and `layout` was the only thing that fixed this issue for me.

[2016-03-14 03:46] epelc commented on #932
@zilions `height: 100%; min-height:100%;` should work

On Sun, Mar 13, 2016 at 11:44 PM, zilions <notifications@github.com> wrote:

--
Thank you,
Ed Pelc

[2016-03-14 03:54] zilions commented on #932
@epelc No luck. Although it does work if I add `display:flex` along with your styles. Is that a dodgy workaround?

[2016-03-14 03:58] epelc commented on #932
Maybe? If it works it works though.

I'd just test it in the different browsers to make sure it's not collapsing
or anything weird. You may also run into issues with toasts and dialogs so
test them.

On Sun, Mar 13, 2016 at 11:54 PM, zilions <notifications@github.com> wrote:

--
Thank you,
Ed Pelc

[2016-03-14 04:22] jayeshanandani opened #7555 "md-dialog stays on top even if state changes"
Hi,
  I am using UI router with Angular Material v1.0.5. When we open custom dialog, we have configured it to get attached to the parent body. Now if anyone hits browser back button the state changes but dialog stays floating on top as it falls outside ui-view tag. Is there a way to mitigate this? I saw on the demo site, don't know what has been done since there also dialog is outside ng-view but

[2016-03-14 05:51] zilions commented on #932
@epelc After a ton of testing, this method seems like the wrong path to go down. By having `md-content` as the scrolling element within the application instead of the `body` tag, most mobile devices (especially iOS) won't scroll to the top of the page when the status bar is tapped on. This removes some native functionality for the user on iOS devices since most assume they can scroll to the top wi

[2016-03-14 06:24] gpopovic opened #7556 "Hyperlink style changed"
Hyperlink style is changed in master

master
http://codepen.io/anon/pen/dMpeOz

v1.0.6. (and before ...)
http://codepen.io/anon/pen/vGXjyp

[2016-03-14 08:43] corentin-gautier commented on #7555
You should try calling the $mdDialog hide method on a $stateChangeSuccess listener :)

[2016-03-14 08:47] chronixlo commented on #7404
Do you have the parseDate function set?

    $mdDateLocaleProvider.parseDate = function(dateString) {
        var m = moment(dateString, 'D.M.YYYY', true);
        return m.isValid() ? m.toDate() : new Date(NaN);
    };

[2016-03-14 09:10] forfuns commented on #7380
+1

[2016-03-14 09:29] ishankhare07 commented on #5124
@SanderElias the issue with the fab-speed-dial is solved
but not with fab-toolbar -> http://codepen.io/ishankhare07/pen/dMpjXP?editors=1010
the position issue has still not fixed
also i'd like to mention that using `ng-if` only affects the visibility, but **DOES NOT** fix the position

[2016-03-14 10:33] super-coder commented on #4251
hey so what can i use for birthday picker?

[2016-03-14 11:02] Phr33d0m commented on #7510
Hi, I'm facing this *issue* as well. Reading through your comments I went through the [official specs](https://www.google.com/design/spec/style/color.html#color-text-background-colors) and the only thing I found was: **To promote greater consistency between apps, light and dark themes are available to choose from.**

It does not state that we should avoid mixing both themes as per my understanding

[2016-03-14 11:47] varshag91 commented on #4489
Facing same issue. if md-autocomplete is inside md-dialogue and user press backspace on already added value inside md-autocomplete and then scroll down by accident on wheel  event of md-dialog will make variable List invisible and user has to blur and focus the md-autocomplete input again to see the variable list dropdown.

[2016-03-14 11:51] varshag91 commented on #3965
I am facing a performance issue with $mdDialog.show. Although my template is being cached and used on UI i have 10 md-automplete templates and other fields as well with 4 level ng-repeat. the object iterated in ng-repeat is not that heavy. $mdDialog.show takes more than a minute to open. Not acceptable Is any way to make it visible within 20 sec ????

[2016-03-14 12:05] gpopovic opened #7557 "Padding on item-list with ng-click wrong on ie 11"
On ie11, padding is wrong ...
![ebb2b408-af11-4f9f-a786-99b293c3e12f](https://cloud.githubusercontent.com/assets/2094147/13743979/5601ff10-e9e5-11e5-82a9-27eee55c1232.png)

[2016-03-14 13:04] darkmavis1980 commented on #6204
+1 same issue here

[2016-03-14 13:38] DevVersion commented on #7557
Provide a demo, and check within `master`. In addition to that try confirming with #7531

[2016-03-14 13:50] DevVersion commented on #7556
Introduced in #7472

![image](https://cloud.githubusercontent.com/assets/4987015/13746512/11213dde-e9f4-11e5-8bbd-171a46dd8649.png)

[2016-03-14 13:53] DevVersion commented on #7444
I decided to keep this open, because @artemgrygor requested a feature to add events into the calendar.

[2016-03-14 13:57] supastif commented on #4233
This is definitely a problem...

[2016-03-14 14:18] DevVersion opened #7558 "demo: toolbar demos aren't responsive"
The toolbar demos look really weird on a mobile device.

![image](https://cloud.githubusercontent.com/assets/4987015/13747308/e87e8bf8-e9f7-11e5-9fb5-a3f6639db511.png)

[2016-03-14 14:20] dlochynski commented on #7079
+1

[2016-03-14 14:21] zacol commented on #7079
+1

[2016-03-14 14:27] Datcam commented on #3287
Hello!
I have one question about md-autocomplete. Anybody can say me how to click on this button(cross) by my own script ?? I do not have success. I mean that:
var button = document.querySelector('md-autocomplete button');
      buttons.onclick();

[2016-03-14 14:40] gpopovic commented on #7557
@DevVersion check in IE11

http://codepen.io/anon/pen/ZWpwRa

[2016-03-14 14:45] mckenzielong opened #7559 "mdSelect: md-accent from mdInputContainer not applied"
Took a quick look for an issue open already, but didn't spot one.  An md-accent class given to a parent md-input-container is not passed down to the child md-select.  This can produce some pretty inconsistent / gross visuals.

I expected the md-accent to be applied to the internal md-select.  To get the correct output, md-accent has to be set on both input-container and element.  This seems slight

[2016-03-14 15:20] ThomasBurleson commented on #7556
Changed is based on Material Design specifications.

[2016-03-14 15:20] #7556 closed

[2016-03-14 15:22] #7555 closed

[2016-03-14 15:28] topherfangio commented on #7342
@beazergood The `md-on-add` callback was added fairly recently, it looks like your Codepen is using v0.11.4 which only had the `md-on-append` callback available, and it worked a bit differently.

Please upgrade to the latest version of Material or you can view the [0.11.4 docs](https://material.angularjs.org/0.11.4/api/directive/mdChips) and see the usage of the `md-on-append`.

Last note: it look

[2016-03-14 15:28] #7342 closed

[2016-03-14 15:36] ThomasBurleson commented on #7512
`md-whiteframe` is only a *box-shadow*... and does not assign/define a background color.

[2016-03-14 15:37] #7512 closed

[2016-03-14 15:39] danpaulsmith commented on #5182
+1

[2016-03-14 15:40] ThomasBurleson commented on #7511
If you demo shows this issue still exists with 1.1.0-rc1 then we will reopen.

[2016-03-14 15:40] #7511 closed

[2016-03-14 15:44] ThomasBurleson commented on #7516
Unable to reproduce on Chrome Version 48.0.2564.116 (64-bit)  (Mac OSX El Capitan).

[2016-03-14 15:44] #7516 closed

[2016-03-14 15:49] brad-sobie commented on #6877
? Anyone home

[2016-03-14 15:55] brad-sobie commented on #6877
I can't be the only one experiencing this. I imagine most people use an ng-repeat for their md-select. This bug prevents me from using this component for most use cases. For example a state dropdown which is populated from a constant, will not get autofilled.

[2016-03-14 15:56] macdasi commented on #3912
+1

[2016-03-14 15:57] ThomasBurleson commented on #2878
@EladBezalel

In `src/components/toast/demoBasicUsage/script.js`, if I add this:

[code]

And then use this:

[code]

Then `splashRed` theme is not used... nor is it contained in the THEMES internal registry. Seems like a major bug.

[2016-03-14 15:59] DevVersion commented on #6877
Hey Brad,
Just want to let you know, that we're home :)

I'm sorry for the late response, but it seems like this issue has been overlooked.
I will take a look a look at your issue as soon as possible.

So rest assured, we'll take a look at it.

[2016-03-14 16:04] beazergood commented on #7342
Bingo. Sorry for wasting your time. Thanks though!

[2016-03-14 16:06] #7542 closed

[2016-03-14 16:11] topherfangio commented on #7342
@beazergood Not a problem! ;-)

[2016-03-14 16:27] darkmavis1980 commented on #7528
It's still broken today, I'm using version `1.1.0-rc1` and the primary click is not working in Firefox

[2016-03-14 16:30] DevVersion commented on #7528
As I said, it's fixed in `master` / `HEAD` - that's not v1.1.0rc1

[2016-03-14 16:32] darkmavis1980 commented on #7528
Ah sorry

[2016-03-14 16:35] DevVersion commented on #7528
No worries :+1: Thank's for keeping track.

[2016-03-14 17:00] #6200 closed

[2016-03-14 17:00] #7525 closed

[2016-03-14 17:00] #7551 closed

[2016-03-14 17:03] #7079 closed

[2016-03-14 17:05] DevVersion commented on #7557
Seems like the vertical alignment for the `md-list-item-inner` div isn't working probably on IE11

IE11:
![image](https://cloud.githubusercontent.com/assets/4987015/13752513/5acdd58a-ea0f-11e5-942a-46996bd8077e.png)

Chrome:
![image](https://cloud.githubusercontent.com/assets/4987015/13752520/623b8196-ea0f-11e5-8291-0317db82c364.png)

[2016-03-14 17:12] #7549 closed

[2016-03-14 17:18] IsNull opened #7561 "1.1.0-RC1 - Clickable md-list-item broken on FireFox 44/45"
I just tried the latest version 1.1.0-RC1 and the md-list-items primary action is completely broken (there is no hover effect, and the items are not clickable)

You can test it with the current FireFox on https://material.angularjs.org/latest/demo/list

Tested with FF 44 on OSX and FF 45 Windows 10.
The problem does not occur with other tested Browsers (Chrome, Edge, Safari)

[2016-03-14 17:26] gpopovic commented on #7561
This is fixed in master

[2016-03-14 17:35] jayeshanandani commented on #7555
@corentin-gautier : Yeah that is what I did. Thanks. :+1:

[2016-03-14 17:35] IsNull commented on #7561
Ah thanks for the hint, its working on `#master`. Closing now.

[2016-03-14 17:35] #7561 closed

[2016-03-14 17:52] beny78 commented on #5068
+1. md-virtual-repeat is a great directive but too limited for responsive design.

[2016-03-14 17:57] #7487 closed

[2016-03-14 18:10] iainmcgin commented on #7529
Thanks for investigating!

[2016-03-14 18:15] DevVersion commented on #7529
No problem, it seems like your minified `core` modules is not valid. Can you point me to the current state of your issue?

[2016-03-14 18:28] topherfangio commented on #7518
@DevVersion You are indeed correct! Not sure how I didn't see this before. It's very odd as the [official spec](http://www.google.com/design/spec/components/menus.html) says nothing about hover effects. Yet, every single Google application I use (Inbox, Drive, Photos, G+, etc) all have a hover effect for the menus.

Perhaps we should touch base with UX on this?

[2016-03-14 18:34] topherfangio commented on #7518
Just spoke with Thomas real fast. He suggested that we create a PR of how it would look so that we have something we can show UX to get their feedback on exact colors and whatnot. This would be a breaking change, but we feel like it's probably worth it.

[2016-03-14 18:44] EladBezalel commented on #7510
@Phr33d0m i think **choose from** is referred to the option of choosing dark or white.

[2016-03-14 18:58] DevVersion commented on #7518
@topherfangio Yes, that sounds like a good idea. I think hover effect won't be even too much effort.

[2016-03-14 19:02] ThomasBurleson commented on #7377
FYI - The Angular Material team is currently investigating this!

[2016-03-14 19:20] kumar99m opened #7563 "Angular Material Animations Inconsistent behavior between IE and non IE browsers"
Hi,

I am trying to use angular material Dialog in my project and found that animations are not smooth in IE also inconsistent in IE and non IE browsers(Chrome and FF), below is the example, when you click on dialog's you can observer the different animations in IE and non IE browsers.

https://material.angularjs.org/latest/demo/dialog

You can find lot of scenarios in the Angular Material demos i

[2016-03-14 19:39] k3ilbasa commented on #7495
Sorry about that, not quite sure how I linked the wrong one.  The correct one is [here](http://codepen.io/wdshannon/pen/ZWWqxM)

[2016-03-14 19:52] timc13 commented on #1217
+1

[2016-03-14 20:00] topherfangio commented on #7495
@k3ilbasa You have changed the `font-size` property to make it larger, but you didn't update the width/height to compensate.

Here is an example where the first two icons are fixed: http://codepen.io/topherfangio/pen/EKNjav

_P.S. I would recommend doing this in your stylesheet instead of a `style="..."` tag._

[2016-03-14 20:00] #7495 closed

[2016-03-14 20:04] dallincoons commented on #3077
+1

[2016-03-14 20:22] #5899 closed

[2016-03-14 20:28] mckenzielong commented on #7495
@topherfangio huh, interesting... haven't really used font-icons all too often myself... is it common to set width/height and font-size?  It isn't terribly obvious that you would have to do that (see docs: https://material.angularjs.org/latest/demo/icon, only changes the font-sizes)

[2016-03-14 20:34] DevVersion commented on #6221
Fixed with  SHA a653122cadf5feba15ca6da8fb876098997892dc

[2016-03-14 20:34] #6221 closed

[2016-03-14 20:34] DevVersion commented on #5169
Fixed with SHA a653122cadf5feba15ca6da8fb876098997892dc

[2016-03-14 20:34] #5169 closed

[2016-03-14 21:30] evanjmg commented on #3368
Does virtual repeat support same height inline-block-items or flex items ? I want three items of the same height across.

[2016-03-14 22:02] evanjmg commented on #1217
+1

[2016-03-14 22:39] Millen31 opened #7565 "Button ripple effect doesn't work smoothly"
Hi,
it seems like that the ripple effect on a button is affected by the content that is loaded. You can check it on the Angular-Material Page. If you press a button to open some submenus, everything is working fine, If you press a Button to change the content it's pretty laggy. Especially there is a lot of stuff to load.

First I thought the problems caused by my routing framework UI-Router but it

[2016-03-14 22:49] jaGarcia commented on #6850
It looks like the problem still exists with 1.0.6 and the latest RC-1 missing from Google Hosted Libraries:

https://developers.google.com/speed/libraries/#angular-material

[2016-03-15 00:53] vajnorcan opened #7566 "mdDialog: is there any way to provide already existing content (domNode)?"
versions 1.0.6, 1.1.0-rc1

I've been playing around the mdDialog that I'd like to use as a UI for the settings of the application. The content of the settings uses other Angular Material components (buttons, switches, selects), let's say up to 12 components.

It works reasonably well on the non IE browsers, but on IE it takes a really long time to render the template and inject it with all the sco

[2016-03-15 01:49] divyekhanna commented on #6525
+1

[2016-03-15 01:55] heoseok commented on #1089
+1

[2016-03-15 03:40] map7 opened #7567 "md-autocomplete sets selected-item to null on second load"
I'm using Angular-Material 1.0.6 (also found this bug on 1.1.0rc1) with AngularJS 1.5.0

When I navigate through AngularJS routes to my edit form I have a debtor autocomplete box with the following

[code]

On the very first load this works perfectly, and redirects me to the invoice listing. If I select that invoice again then this md-autocomplete will clear my invoice object when loaded, so I can

[2016-03-15 03:59] matheusdavidson commented on #6676
I have the same issue, in my case i have one tab for a group of pages, for example: ```products```.
I have a ```ng-click``` on that tab pointing to ```product.list```, if i am in ```product.edit``` and reload the page, i get redirected back to ```product.list``` because ```md-active``` will select ```products``` and trigger ng-click.

[2016-03-15 04:03] matheusdavidson commented on #6676
Also, it gets really messy when i use the sidenav navigation(i have a main navigation in toolbar using md-tabs and sidenav menu with normal ```a``` tags and ```ui-sref```), this will change the state, making the tab trigger ng-click, in this case i get infinite loop redirect.

[2016-03-15 05:30] gabguy commented on #3912
+1

[2016-03-15 06:06] lillylykho commented on #3912
I have the same problem
+1

[2016-03-15 07:19] soooooot opened #7569 "mdSlider: can not drag slider while scrolling bar is visible (positionToPercent)"
You can check on [CodePen](http://codepen.io/anon/pen/WwoRzd).

I'm using the vertical slider. (And I think horizontal slider has the issue too)
When the scrolling bar is visible, the thumb icon always go to bottom and the value is the min number.
I have to drag higher to leave a offset of scrollTop so that the thumb icon can move.

my environment:
OS X  10.11.1 (15B42)
Google Chrome Version 48.0.

[2016-03-15 07:28] soooooot commented on #7569
BTW, FYI, in the [angular material docs](https://material.angularjs.org/latest/demo/slider).
I inserted a `<section style="height: 100px;"></section>` block by inspect tool to the position before `md-content` that the `md-slider`  inside. But the issue doesn't occur in the situation.
I can't figure out why.

[2016-03-15 08:32] andre-morassut commented on #7510
I also think this sentence means that you should be able to choose between dark or light theme on a global basis for a given application.  A "theme" is implictly a global notion.

Having a way to mix several background/foreground colors from the same theme is, IMHO, the solution to let developers fine tune the look of their applications.

[2016-03-15 09:30] EmmanuelPREVOST commented on #3219
+1

[2016-03-15 09:56] HBO2 opened #7570 "progress-circular: theming not working probably."
Hi,

I have checked the master and I noticed all the theming issues are solved. Only the  md-progress-circular is stilling a little out of order by using the default blue rgb color indicating the theme is not set for the  md-progress-circular. Also the adapted size in my theme size seems to be ignored.

Thanks

[2016-03-15 10:12] darkmavis1980 commented on #3420
+1

[2016-03-15 10:21] lionelB commented on #7516
Since I encounter the problem today with the latest chrome,  I decided to investigate more, it seems to be a chrome memory problem (I don't restart my computer / browser so often).
Once the browser is restarted, all's go fine !

Hope it helps.

[2016-03-15 10:32] crisbeto commented on #7570
I'll take a look at the theming, but what do you mean about the size? The size on the `progressCircular` will definitely be different from before since the old implementation wasn't completely accurate (e.g. if you specified 50px, it would render around 30px).

[2016-03-15 10:37] yanndupuy commented on #7529
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dupuyyann@gmail.com
    Domain zyapps.com has exceeded the max emails per hour (407/400 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2016-03-15 10:38] yanndupuy commented on #7525
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dupuyyann@gmail.com
    Domain zyapps.com has exceeded the max emails per hour (413/400 (103%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2016-03-15 10:38] yanndupuy commented on #6877
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dupuyyann@gmail.com
    Domain zyapps.com has exceeded the max emails per hour (416/400 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2016-03-15 10:38] yanndupuy commented on #7495
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dupuyyann@gmail.com
    Domain zyapps.com has exceeded the max emails per hour (423/400 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2016-03-15 10:38] yanndupuy commented on #6850
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dupuyyann@gmail.com
    Domain zyapps.com has exceeded the max emails per hour (427/400 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2016-03-15 10:39] yanndupuy commented on #7551
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dupuyyann@gmail.com
    Domain zyapps.com has exceeded the max emails per hour (433/400 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2016-03-15 13:13] KelvinOm commented on #1667
+1

[2016-03-15 13:16] virtser opened #7571 "md-autocomplete marks the search term first appearence"
Although filter actually found the second appearance of the search query, the first one was marked.

![oyarjxgmook](https://cloud.githubusercontent.com/assets/468590/13778868/da83cb98-eac0-11e5-95f6-9e4100a07708.png)

See the following example:
http://plnkr.co/edit/7Ch6VnasM3y9GIYZXsem?p=preview

[2016-03-15 13:40] KelvinOm commented on #1667
Add for this http://codepen.io/anon/pen/adVvLQ?editors=100
css like this:
.md-button:disabled {
    z-index: -1;
}

work better!

[2016-03-15 14:07] jaGarcia commented on #1667
Very nice!

Sent from my iPhone

[2016-03-15 14:09] cadilhac opened #7572 "Error when trying to open a bottom sheet in this specific situation"
Here is the codepen to reproduce the issue: http://codepen.io/anon/pen/dMOXdo
I'm targetting MASTER but it is the same problem with 1.0.6

I am using ui-router with states defined so that it's easy to display dialogs and bottom sheets. I started with dialogs and it works well. A parent state defines how to open the modal. A derived state defines what is the template to load in the dialog (inside a

[2016-03-15 14:39] ghahramani commented on #2907
+1

[2016-03-15 14:43] DevVersion commented on #7552
I guess you're using IE11?

[2016-03-15 15:13] cmacdonnacha commented on #3258
+1

[2016-03-15 15:47] iainmcgin commented on #7529
I have a workaround for v1.6.0, and it looks like this will be fixed in the 1.1.0 release, so I'm happy to close this issue.

[2016-03-15 15:47] #7529 closed

[2016-03-15 15:47] benbeadle commented on #5241
+1

[2016-03-15 16:07] cmacdonnacha commented on #6320
+1

[2016-03-15 16:20] cmacdonnacha opened #7574 "<md-menu-item> doesn't open cascading menu on hover of second menu item"
See [codepen](http://codepen.io/cmacdonnacha/pen/XdNEGw?editors=1000)

1. Click on File
2. Hover over "Child 1"
3. Hover over "Child 2"

**Result:** The nested menu opens when hovering over "Child 1" but not "Child 2".

I did notice that if you hover over another menu item like "Open" and then hover over "Child 2" it works fine and the nested menu opens.

[2016-03-15 16:36] WDShannon commented on #4940
+1.  This is a big issue.  Tabs are a pretty common component and for the performance in even the latest IE browsers to be so bad makes it hard to use the control.

[2016-03-15 16:49] whittssg commented on #7534
All good with the flex instead of height=100%. Thanks

[2016-03-15 16:49] #7534 closed

[2016-03-15 16:53] timruffles commented on #3119
This isn't an ideal error tho!

[2016-03-15 16:54] ad0ran opened #7575 "md-card-actions button alignment with layout-xs="column""
There seems to be an alignment issue if you apply layout-xs and layout-align-xs.
codepen: http://codepen.io/anon/pen/yOVjXW

[2016-03-15 17:34] jimdubbs commented on #5492
Any ETA or workaround for this? Its causing me alot of problems.

[2016-03-15 18:22] martineckardt commented on #2440
+1

[2016-03-15 18:44] pablozandona commented on #6440
+1

[2016-03-15 18:47] pablozandona commented on #6767
+1

[2016-03-15 19:08] GustavoCostaW opened #7577 "md-progress-circular with svg animation slow in Android"
After launch 1.1.0-rc1 the md-progress-circular was totally rewrite with svg, but the animation is so low in good Android devices :( Works fine in before version of animation 1.0.6, someone have answer about this?

[2016-03-15 19:17] DevVersion commented on #7574
Already fixed in `v1.1.0-rc1` by @topherfangio :+1:

See your demo with the the working release.
- http://codepen.io/DevVersion/pen/LNbJPG?editors=1100

[2016-03-15 19:17] #7574 closed

[2016-03-15 19:25] crisbeto commented on #7577
What version of Android are you running (it might be falling back to a timeout-based animation if your device doesn't support requestAnimationFrame)? The framerate was pretty good on the devices that I've been testing (an iPhone 5 on iOS 9.3 and an iPad mini).
Otherwise the progressbar is being animated with js for compatibility reasons (the CSS animation doesn't work on IE) and that might not be

[2016-03-15 19:29] GustavoCostaW commented on #7577
I test in Moto X (second gen) with Android 6.0... It's a good device man.

[2016-03-15 19:36] gomerdoom opened #7578 "List Item text clips with secondary content"
I ran into an issue with [md-list](https://material.angularjs.org/latest/demo/list), when the list item text wraps behind the secondary content. Not exactly a huge issue, can just be kinda unattractive.

![image](https://cloud.githubusercontent.com/assets/3951600/13791319/7e40d08e-eaba-11e5-9b3e-ac65caab2e78.png)

![image](https://cloud.githubusercontent.com/assets/3951600/13791383/d979818a-eaba-1

[2016-03-15 20:00] gpopovic commented on #7578
duplicate #7500

[2016-03-15 20:07] gpopovic opened #7580 "Chips with autocomplete not editable"
It is not possible to edit chips with autocomplete.

Not only that, when md-edit-chips is true, and chips are using autocomplete, when you double click on a chip, chip content gets messed.

http://codepen.io/anon/pen/EKNezZ

[2016-03-15 20:14] crisbeto commented on #7577
Alright, well that isn't a lot to go on. Are you running it inside an app or just running the demo?

[2016-03-15 20:27] DevVersion commented on #7578
Thanks @gpopovic.

[2016-03-15 20:27] #7578 closed

[2016-03-15 20:27] bhandaribhumin opened #7581 "md-tab how to active and focus tab from my controller function call"
From my nav menu I want to active and focus perticular tab how can i do it ?
Anyone pleas give me example for active tab from my nav view
Also tab is dynamic and menu item list same as tab list

[2016-03-15 20:28] DevVersion commented on #7580
Ping @mertdeg2

[2016-03-15 21:08] scottrodoty opened #7584 "List Item text doesn't wrap correctly with list-item ng-click"
See the attached codepen. When list items have an ng-click on the md-list-item, there is a div styled with a class _md-list-item-inner.  This div extends beyond the right edge of its container, and so the text that is contained does not wrap correctly.

http://codepen.io/scottrodoty/pen/grLbVq

[2016-03-15 21:10] DevVersion commented on #7584
Already fixed in 91585893db8a84312b9fb2a904008ffb169e0946.

Don't wonder, the text will underlay the secondary items, that's a bug, which is already tracked.

[2016-03-15 21:10] #7584 closed

[2016-03-15 21:41] crisbeto commented on #7577
Managed to get my hands on an Android emulator which has somewhat decent performance. I wouldn't say there's too much of a difference between the framerates of the old and the new, considering the improvement in quality. Below's a side-by-side between the two:

**New implementation:**
![new](https://cloud.githubusercontent.com/assets/4450522/13794706/9649cc7e-eafd-11e5-8ad2-15aea2e5388d.gif)
---

[2016-03-15 21:58] Frank3K commented on #1376
Please note that the decorator as posted earlier throws errors in Firefox since `:` can not be used in `querySelector(All)`.

Resources: [MDN](https://developer.mozilla.org/nl/docs/Web/API/Document/querySelector), [Mozilla issue #883044](https://bugzilla.mozilla.org/show_bug.cgi?id=883044).

[2016-03-15 22:36] GustavoCostaW commented on #7577
Angular Material version with SVG: 1.1.0-rc1 (I left on display md-progress-circular for testing, check that it takes a while to start the animation when the screen begins, delay to appear and start animation)

https://www.dropbox.com/s/b2a90fycnlv0cob/final-problem-1.1.0rc1.mp4?dl=0

1.0.6 ( Check when I change the routes not have lag in animation and the md-progress-circular show fast)

https://

[2016-03-15 22:42] GustavoCostaW commented on #6435
@EladBezalel news?

[2016-03-15 23:24] amritk commented on #7496
@EladBezalel sorry, that actually didn't work as I already had it in my reset. This is what my developer tools shows, the colour of the link is still blue.

![screen shot 2016-03-15 at 4 18 28 pm](https://cloud.githubusercontent.com/assets/2039539/13797294/b372bfce-eac9-11e5-864f-09beab4fe8bc.png)

![screen shot 2016-03-15 at 4 18 48 pm](https://cloud.githubusercontent.com/assets/2039539/13797295/

[2016-03-15 23:27] amritk commented on #7496
I tried both initial and inherit, neither worked.

[2016-03-15 23:51] ilovett commented on #3723
I agree the md-chip styles should not be contained underneath `.md-chips` only ...

My use case is showing md-chip as filters.  Right now I have a table with a filter object and works very well with the out of box `filter` directive

The problem is that `md-chips` expects an array for `ng-model`, but my filter object is an object with properties and doesn't translate.

I also may want my chips be

[2016-03-15 23:52] mertdeg2 commented on #7580
Sorry I couldn't try this out before. Editing functionality works only if
default chip template is being used.

I have created a PR to make sure this is the case before we enable chip
edit: https://github.com/angular/material/pull/7585

On Tue, Mar 15, 2016 at 1:28 PM, Paul Gschwendtner <notifications@github.com

[2016-03-16 00:00] mpiasta-ca commented on #7570
I'm trying to setup *md-progress-circular* right now (using 1.0.6). When I set `md-diameter="100px"`, the width and height box on the element is 100px. But the actual spinning circle is only 50px in diameter, resulting in huge empty space around the spinning circle inside of its container.

I think 1.1.0-RC might fix it, but looks like that's still not available on bower.

[2016-03-16 00:43] ThomasBurleson commented on #7570
@mpiasta-ca -
[1.1.0-rc1](https://github.com/angular/bower-material/tree/v1.1.0-rc1) is available on Bower
I recommend you use the latest on `bower-material/master`  with the

[code]

[2016-03-16 03:11] rosco1502 opened #7587 "Dynamic MD Tab won't change Chrome Extension Popup Size"
The Dynamic MD Tab won't change the Popup window size in a chrome extension. Is there an event that fires when the tab is changed with the tab height so I can manually do this? To change a chrome extension popup size, just set the height using CSS on the HTML and BODY element.

P.S. This might be a feature request as this functionality may not be intended.

[2016-03-16 03:40] rosco1502 opened #7588 "MD Toast positioning issue when using layout-align="center center""
When you use layout-align="center center" a toast will always appear on the bottom, fully stretched.
[Screenshot](https://gyazo.com/64afc64475e9889d5386a925e4705cff)

[2016-03-16 05:55] crisbeto commented on #7577
It definitely takes a bit for the whole thing to get set up and we don't really have too much control over how and when it starts to execute since the whole point of `requestAnimationFrame` is to let the browser determine the best time for something to happen.

How are you showing/hiding the progressbar? If you're removing and adding it to the DOM (e.g. with `ng-if/ng-switch/` or having the loader

[2016-03-16 06:23] DevVersion commented on #7577
@GustavoCostaW At first, your app looks very nice, like a native app :+1:

And yes, I can see the difference between your versions. That's why we need more information about your device, maybe your browser has some SVG constraints.

So can you please provide more browser specific information:
- Are you running this in an Android `WebView` (which BrowserAdapter? - Chrome, Default)
- Is this an App,

[2016-03-16 06:24] DevVersion commented on #7588
This is by intention, we always show the toast at the bottom, when your screen is matching the `sm`-breakpoint.

We documented that recently: https://material.angularjs.org/HEAD/api/service/$mdToast

[2016-03-16 06:24] #7588 closed

[2016-03-16 06:26] EladBezalel commented on #7496
I see, i will look into it, thank you

[2016-03-16 08:35] kevintc commented on #5071
barryvdh provided a workaround in a comment (issue #1978) :
`    if(angular.element(document).find('md-dialog').length > 0) {
     ...
    }`

But a $mdDialog.isOpen() would be really nice

[2016-03-16 09:35] elekzalan commented on #7552
I had the same problem. By default the `<h3>` font-size of `md-list.md-dense` is set to 1.3rem, which is relative to the root element `<html>`. Thus you have to specify the font size of the root element.

If you set it as `html: font-size: 62.5%;`, the 1.3rem is going to be like ~13px.

[2016-03-16 10:10] a8775 commented on #4251
+1

[2016-03-16 10:57] LeoLozes commented on #4856
@johnrix the year / month selector you're talking about is discussed in a separate issue ([#4251](https://github.com/angular/material/issues/4251))

[2016-03-16 11:11] jpolo opened #7589 "$mdDialog, $mdBottomSheet inheritance"
Hi,

I could not find a nice way (= fluent api using interimElement) to create new dialog factory.

Here is the result that I want : (just like alert, prompt, etc)
[code]

[2016-03-16 11:50] JonnyHeavey commented on #6774
+1

[2016-03-16 12:08] Misiu commented on #1217
+1

[2016-03-16 12:38] richi2666 commented on #3420
+1

[2016-03-16 12:46] ThomasBurleson commented on #1217
@here - FYI - we are actively working on a **md-panel ** feature that can be used to easily create popups (modal or non-modal). The component features will include better support for:

- modal or non-modal use,
- optional backdrop,
- positioning (exact, relative, relative with offset),
- animations, and
- more....

[2016-03-16 12:47] arjundas commented on #6802
Same Issue

[2016-03-16 12:48] ThomasBurleson commented on #5071
Agreed that a consistent API is important: `$mdDialog(componentId).isOpen()` will be added.

[2016-03-16 12:51] ThomasBurleson commented on #7589
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-03-16 12:51] #7589 closed

[2016-03-16 12:52] EladBezalel commented on #6435
@GustavoCostaW not yet sadly, PRs are welcome!

[2016-03-16 12:59] Phr33d0m opened #7590 "[DOCS] mdCheckbox example with ngModel = true, doesn't show as checked"
Hi,

As you can see in the [official demo](https://material.angularjs.org/latest/demo/checkbox) the first example ```$scope.data.cb1 = true;``` should set the checkbox to checked but it doesn't. This seems to affect only the docs version of it as locally it works as expected.

Regards.

[2016-03-16 13:04] animesh1987 commented on #4124
Also having this issue, able to solve it by overriding css positioning which seems like a hack . Will be good to get a permanent fix. Thanks.

[2016-03-16 13:12] uriva opened #7591 "md-chips with autocomplete input too small"
md-chips with autocomplete input doesn't expand, users can't see what they typed
Screenshot: http://s14.postimg.org/jagdrlnht/image.png

[2016-03-16 13:25] kevintc commented on #5071
Is there a way to have a $mdDialog().isOpen() ? (without having to provide any componentId)
I would use it to know if any mdDialog is open...

How do I know the componentId of a $mdDialog ?
I use $mdDialog.show() but never had to provide any ID... (maybe it's just me misunderstanding something).

[2016-03-16 13:37] vrghost242 opened #7592 "md-dialog controller can't see dialogs DOM"
Have a similar issue. In my case I am trying to open a dialog to display a reveal.js presentation. Problem is that reveal.js wants to find two ids in the dom (.reveal and .slides). Tried to load the slides into a dialog (works) then initiate reveal.js from the controller. However, it failse because it can't access the modals DOM, it runs on the top project. So is there a way to "connect" the modal

[2016-03-16 14:15] cmacdonnacha commented on #7574
@DevVersion Good stuff thanks for that :thumbsup:

[2016-03-16 14:18] patorjk opened #7593 "Bootstrap-style Alerts"
Bootstrap has a set of alert classes for giving contextual feedback. You can see them here:

http://getbootstrap.com/components/#alerts

These can be useful when providing information to users, highlighting important points, or writing documentation. The Angular Docs even use them:

https://docs.angularjs.org/guide/concepts#directive

The closest thing I could find in Material is md-whiteframe. Yo

[2016-03-16 14:38] GustavoCostaW commented on #7577
@crisbeto I'm using ng-show to show and hide loadings....

@DevVersion Thx for feedback :)

- I'm using Cordova for build application, yes, the WebView is Chrome.
- Debugging application in inspect and console.log(navigator.userAgent) is

"Mozilla/5.0 (Linux; Android 6.0; XT1097 Build/MPE24.49-18; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/48.0.2564.106 Mobile Safari/537.36"

Mo

[2016-03-16 14:43] crisbeto commented on #7577
Hmm are you sure? The animation wouldn't restart like that unless it either has a specified `value` or it gets added/removed from the DOM. That being said, I've been playing around with a way that will allow the animation to start earlier than the first digest. I'll push something for it a bit later.

[2016-03-16 14:47] DevVersion commented on #7577
I agree with @crisbeto, it seems like the animation will start, when the digest is performed. The circular should run independently of the digest IMO.

[2016-03-16 15:08] jaxoncreed commented on #7540
For more information on this issue, I've found three things that effect the FPS in this specific app, two of which are in angular material:

[code]

I'll continue to strip out pieces of the styling and theming to continue to diagnose the issue and keep updates posted here.

[2016-03-16 15:11] GustavoCostaW commented on #7577
@crisbeto @DevVersion It's inside the my custom directive, but like video, I only update Angular and this problem runs...

@crisbeto I not have value in progress, I'm using exactly this:

`<md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>`

[2016-03-16 15:17] crisbeto commented on #7577
And where's the ng-show? Is it somewhere on the parent?

[2016-03-16 15:19] GustavoCostaW commented on #7577
@crisbeto yep, ` <div class='loading' ng-show="!summary.data.data">
            <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
        </div>`

[2016-03-16 15:27] ThomasBurleson commented on #7592
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-03-16 15:27] #7592 closed

[2016-03-16 15:29] #7570 closed

[2016-03-16 15:43] appie18 commented on #7445
For some reason I just can't get angular material to work with angular 1.5

[2016-03-16 15:53] GustavoCostaW commented on #7577
@crisbeto @DevVersion for my curiosity, what the angular and angular animate version you use in your tests?

[2016-03-16 16:05] robert-maftei opened #7594 "mobile devices: Can't close md-autocomplete on without selecting an item and input remains focused on outside touch."
The autocomplete won't close on touch outside the autocomplete menu. The only way to close the autocomplete is to select an item.

This issue also appears on inputs, the focus remains on the input even if you touch an outside area.

To reproduce (tested in chrome emulator and on android 5.0):
Open angular material website in chrome emulator:
https://material.angularjs.org/latest/demo/autocomplete

[2016-03-16 16:15] whittssg commented on #2093
I am still having this issue on the latest version (1.1.0 RC1). I am using dynamic themes like this
[code]
The sub header has the correct color until it becomes sticky then it takes the color of what i think is materials default color scheme (a purple color).

My sub headers are setup like this :

[code]

Sample:
![image](https://cloud.githubusercontent.com/assets/6453857/13819714/d49b3080-eb70-11

[2016-03-16 16:16] kvetis commented on #7386
You can add `ng-model-options={debounce: 300}` as a workaround.

[2016-03-16 16:19] alois-wever commented on #4233
+1

[2016-03-16 16:24] AaronBuxbaum commented on #5071
@kevintc Well, it wouldn't make sense to have `$mdDialog().isOpen()`, sine that could be any mdDialog instance. Personally, I'd like to have the option to both use the dialog object (`myDialog.isOpen()`) or access by compnentId (`$mdDialog(componentId).isOpen()`)

[2016-03-16 16:44] f-mon commented on #3895
+1

[2016-03-16 16:58] DevVersion commented on #7580
@mertdeg2 Great thank you!

Fixed with SHA 31787c055b60fa0acf043417753003d7ec464db4

Demo with the new fix:  http://codepen.io/DevVersion/pen/yOgNRg

[2016-03-16 16:58] #7580 closed

[2016-03-16 17:07] crisbeto commented on #7577
I'm testing with 1.4.8.

[2016-03-16 17:10] GustavoCostaW commented on #5071
For me  it wouldn't make sense to have $mdDialog(componentId).isOpen() because not exist open more than one $mdDialog at a time.

$mdSidenav(componentId).isOpen(); it's possible exist two or more open at moment.

[2016-03-16 17:59] LeoLozes opened #7596 "Different ng-message size with ng-show and ng-if"
As you can see in this [codepen](http://codepen.io/anon/pen/xVgwdm), the ng-message font size varies depending on whether the input is defined with a `ng-show` or `ng-if` attribute.

It seems that the ng-message div is only generated with the `md-input-message-animation` class when `ng-show` is used.

[2016-03-16 18:07] vsych commented on #6304
+1

[2016-03-16 18:08] jaxoncreed commented on #7540
I've created a simple repo for anyone hoping to do some testing on this here (https://github.com/jaxoncreed/Leaflet-AngularMaterial-IE-Test).

[2016-03-16 18:22] topherfangio commented on #7594
Duplicate of #7419.

[2016-03-16 18:22] #7594 closed

[2016-03-16 18:23] cadilhac commented on #7172
Please, what's the status of this?

[2016-03-16 18:26] topherfangio commented on #7591
Related to #4450. Right now the best workaround is to simply increase the inner input's width via CSS if your chips have longer text.

[2016-03-16 18:28] gpopovic commented on #7596
Might be related to my issue, #7477

[2016-03-16 18:29] topherfangio commented on #7590
Very interesting. Note that it also works fine if you click the link to open in a Codepen. My first guess would be that the name of the module is somehow breaking it.

[2016-03-16 18:38] topherfangio commented on #7587
Can you explain a bit more what you're needing or perhaps provide a Codepen? I realize that may be difficult if it's only for a Chrome extension, but it would be helpful if we better understood the problem.

Some pictures of the issue would also be helpful.

[2016-03-16 18:38] houmark commented on #7596
I've also noticed this issue. Hoping for a quick fix as all our validations are now looking very chunky and large.

[2016-03-16 18:39] gpopovic commented on #7596
I'm using this nasty hack..to force it to look as similar to other ng-messages as possible

md-input-container.md-default-theme .md-input-messages-animation, md-input-container .md-input-messages-animation, md-input-container.md-default-theme .md-input-message-animation, md-input-container .md-input-message-animation {
    font-size: 12px;
}

[2016-03-16 18:45] houmark commented on #7596
@gpopovic yes, but you'll also need the line-height and the animation CSS to make it the same as intended. Hopefully this can be added so it's the same for both ng-if and ng-show.

[2016-03-16 18:53] topherfangio commented on #7581
Please post this on the [forums](https://groups.google.com/forum/#!forum/ngmaterial).

[2016-03-16 18:53] #7581 closed

[2016-03-16 19:06] manish2535 opened #7599 "md-icon inconsistant"
Using `<md-icon>cancel</md-icon>` and `<md-icon md-svg-src="/images/icons/ic_stop_24px.svg"/>`

gives a slightly different behavior when the width of the parent is changed.

![demo2](https://cloud.githubusercontent.com/assets/4663798/13825272/34dcaf02-eb88-11e5-8c0a-f482596d2b21.gif)

The circle icon is using the `md-svg-src` which shrinks as the viewport shrinks whereas the icons using `<md-icon>

[2016-03-16 19:10] topherfangio commented on #7575
This appears to be caused by the first and last elements having left and right margin set (respectively), but them not being equal. Ideally, we'd find a better solution (perhaps having the card container have the proper padding).

That said, I do not see a single instance in the [spec](http://www.google.com/design/spec/components/cards.html) where a card's action stretch all the way across. The ca

[2016-03-16 19:16] ilovett opened #7600 "theming dark default background md-hue-3 is an not a valid hue"
https://github.com/angular/material/blob/a653122cadf5feba15ca6da8fb876098997892dc/src/core/services/theming/theming.js#L112

Value is `'1000'` but is not listed in
[code]

[2016-03-16 19:21] topherfangio commented on #7572
Just tested your Codepen and I can't get the error to occur. Have you changed the Codepen recently?

That said, if you simply put the `ui-view="sheet"` attribute on a `<div>` inside of your `<md-bottom-sheet>`, it seems to work: http://codepen.io/topherfangio/pen/EKZPbj?editors=0010

[2016-03-16 19:23] topherfangio commented on #7571
@DevVersion I think this is actually an issue with the `md-highlight-directive`, not the autocomplete itself.

[2016-03-16 19:24] #7557 closed

[2016-03-16 19:25] cadilhac commented on #7572
Thanks for the workaround.
That said I don't understand why you can't reproduce the issue. If I take your new codepen and set the ui-view back on the md-bottom-sheet, it won't work.

[2016-03-16 19:26] topherfangio commented on #7569
Confirmed bug. @EladBezalel If you are viewing the Codepen, make sure to open the inspector to make the view small enough to force a scrollbar to appear and then try to change one of the sliders.

[2016-03-16 19:26] lukesodre commented on #6563
+1

[2016-03-16 19:28] topherfangio commented on #7567
Can you please provide a Codepen that demonstrates the issue? It is very hard to track down issues based on small snippets of code because we will have a hard time reproducing the exact situation :smile:

[2016-03-16 19:29] topherfangio commented on #7566
@DevVersion Can you please take a look at this and see if there is a way to do it right now? If not, can you mark this as Priority 4 and make it a feature request?

[2016-03-16 19:31] topherfangio commented on #7565
Duplicate of #6738.

[2016-03-16 19:31] #7565 closed

[2016-03-16 19:33] topherfangio commented on #7563
We do not currently support IE10, only IE11.

If you notice any issues (like the dialog one above), could you please open specific issues for each one detailing the problem for that component? In the case of the dialog, I actually think it's a positioning issue unrelated to the animations.

It may also be related to some performance issues which we are also working to address.

[2016-03-16 19:33] #7563 closed

[2016-03-16 19:41] topherfangio commented on #7548
The search text is a two-way binding. So, if the user types some text, it will obviously change, but if the component changes it, it makes sure to update the binding. The binding is used to fill the input element (since it is text-only) so users know which item was selected.

I guess I'm having a bit of trouble understanding what your exact issue is. Can you please provide a Codepen which demonstr

[2016-03-16 19:43] jfcere commented on #1269
+1

[2016-03-16 19:44] topherfangio commented on #7545
@vshanbha Can you please convert your code above into an actual Codepen so that we can debug it a bit and find the root cause? Thanks!

[2016-03-16 19:53] ilovett opened #7601 "add chips readonly display as tags"
I think the readonly styles could hide the box shadow and not modify the cursor... something like:

[code]

Additionally it would be nice to have some optional class to display chips inline in readonly format.

I'd be happy to contribute if a PR is solicited.

[2016-03-16 19:57] bhandaribhumin commented on #7581
please let me know if you know i want to share issued https://drive.google.com/file/d/0B0qdA1kUoM_hUTdUT3NCd2ltRTg/view?usp=sharing

[2016-03-16 20:00] achiduku commented on #5001
+1

[2016-03-16 20:10] vyrak opened #7602 "Issue with weird media selector in built CSS"
Hi. I'm having issues loading the distributed css file in a rails app. It's having trouble parsing [this line](https://github.com/angular/bower-material/blob/052cd52/angular-material.css#L24169) when precompiling the assets.

I'm using `sass (3.4.21)`, `sass-rails (5.0.4)`, & `rails (4.2.3)`

I'll understand if this is outside the scope of angular-material, but I'm just curious why the media query

[2016-03-16 20:14] EladBezalel commented on #7569
@soooooot please create a PR, your solution seems legit

[2016-03-16 20:27] topherfangio commented on #7536
In general, I agree that each id should be unique. We will leave this open, but with a low priority. If it gets enough votes, we will consider adding it.

[2016-03-16 20:30] topherfangio commented on #7520
You will probably have a bit more luck asking on the [forums](https://groups.google.com/forum/#!forum/ngmaterial).

We try to keep GitHub specifically related to bugs/feature requests. If you find a particular way that you would like to extend the calendar (like adding support for translcuded content somewhere), please feel free to open a separate issue with a bit more info about what you would li

[2016-03-16 20:30] #7520 closed

[2016-03-16 20:34] topherfangio commented on #7519
Honestly not sure if this is possible at the moment. @DevVersion can you take a look and see if it's easy to do already or if it's something we might want to add?

[2016-03-16 20:35] topherfangio commented on #7507
@maelfrize Are you asking about the Menu Bar? https://material.angularjs.org/latest/demo/menuBar

[2016-03-16 20:40] crisbeto commented on #7602
I believe that's a [CSS hack](http://www.paulirish.com/2009/browser-specific-css-hacks/) to target specific versions of IE.

[2016-03-16 20:44] topherfangio commented on #7601
There is no box-shadow on chips at the moment, and the cursor is currently always the default cursor, so I'm not following you 100%.

In regards to your second statement:

Have you looked at the Static Chips demo available at https://material.angularjs.org/latest/demo/chips? It sounds like what you want.

[2016-03-16 20:47] topherfangio commented on #7599
Can you please provide a simple Codepen so we can debug the issue further?

[2016-03-16 20:51] topherfangio commented on #7491
@ThomasBurleson Can you take a quick look at this layout issue and provide feedback/assign to someone if needed?

[2016-03-16 20:58] topherfangio commented on #7498
The issue is in the `hasMatches()` function which doesn't check if `ctrl.matches` exists. This is an NPE which we should definitely fix.

[2016-03-16 21:01] topherfangio commented on #7602
I remember this coming up recently in a discussion. Trying to track down the people involved to see what the conclusion was and if this is something we were already planning to fix.

Please ping me if I haven't responded in a day or two.

[2016-03-16 21:05] topherfangio commented on #7485
We don't currently offer an attribute for this, but you should be able to do what you need using the `md-selected-item-change` callback method to set what you need.

https://material.angularjs.org/HEAD/api/directive/mdAutocomplete

If that doesn't work; can you please provide a Codepen showing what you're trying to do?

[2016-03-16 21:06] #7485 closed

[2016-03-16 21:09] topherfangio commented on #7481
This sounds like a decent request, but it is fairly low in priority. PRs would certainly be welcome :-)

[2016-03-16 21:13] ad0ran commented on #7575
@topherfangio it's odd though, because if you just set the layout to "column" and the layout-align to "start" (like in the vertical buttons example) the buttons align just fine.

i just added the md-raised classes to the buttons off the codepen example: http://codepen.io/anon/pen/qZRZJK

[2016-03-16 21:24] topherfangio commented on #7479
I don't think that is supposed to represent a second toolbar, but rather the "background" layer that you can find here: http://www.google.com/design/spec/style/color.html#color-themes

So, I *think* what you want is for the "On and switch" to be on the background layer, the "Google WiFi, Public WiFi" to be in a list, and the "Wifi password incorrect" to be in a dialog.

I don't really see anywhere

[2016-03-16 21:24] #7479 closed

[2016-03-16 21:27] EladBezalel commented on #7600
I think i wanted absolute black which defined [here](https://github.com/angular/material/blob/a653122cadf5feba15ca6da8fb876098997892dc/src/core/services/theming/theme.palette.js#L333)

[2016-03-16 21:28] pcapanna opened #7604 "When opening containers from md-autocomplete/md-select the window scrollbar appears (Chrome)"
I'm having issues with the master version. angular-material#052cd52de2 and 1.0.6
When select container from md-select or sugestion container from md-autocomplete appears the window scrollbar also appears, even though there is not scroll posible on the page.
I'm having this problem with Google Chrome version 49.0.2623.87.

[2016-03-16 21:45] topherfangio commented on #7478
@DevVersion Seems related to your comments on commit https://github.com/angular/material/commit/e592012d03fb9208136f0f18f70566d4537ffcd1?

[2016-03-16 21:55] ilovett commented on #7601
Thanks, I checked out HEAD docs and see that the cursor seems to be fixed for readonly.

Regarding the box shadow, it is on the `md-chips-wrapper`

The problem with static chips is that it doesn't work with `ng-repeat`.

Check out this [codepen](http://codepen.io/ilovett/pen/EKZyVR)

[2016-03-16 22:00] topherfangio commented on #7602
Okay, so after discussion, this WAS in our SCSS which was causing problems, so we moved it to be place in just the CSS so that SASS wouldn't try to compile it.

@vyrak Is it actually SASS that is failing? And if so, why is it running plain .CSS through SASS?

[2016-03-16 22:05] zilions commented on #4124
@animesh1987 - Are you able to provide some code that solves this issue?

[2016-03-16 22:18] alexwohlbruck commented on #3158
Any progress on this?

[2016-03-16 22:42] DanPii commented on #6440
+1

[2016-03-16 22:52] #7604 closed

[2016-03-16 23:07] vyrak commented on #7602
When I initially filed this, I was looking at the errors when using the minified CSS file. I'm not sure why it would run it through the sass parser, I'm still investigating that.

[code]

I also tried the unminified CSS & SCSS files. Oddly enough, they both produced the same error.

[code]

[2016-03-17 00:05] #7116 closed

[2016-03-17 00:09] #3244 closed

[2016-03-17 00:28] ilovett commented on #7600
Also, when defining `backgroundPalette('myCustomPalette').dark()` `ngMaterial` will fail to bootstrap, and I believe it is because `myCustomPalette` does not have `'1000'` defined.

[code]

[2016-03-17 01:55] STOpandthink commented on #5211
+1

[2016-03-17 03:58] khanhdd123 commented on #5779
I need a source code?? Any one have source co to select year in md-datepicker??

[2016-03-17 04:14] kevinlbatchelor commented on #4233
+1

[2016-03-17 06:02] sunil-ideas2it opened #7607 "md-date-picker: disable all dates before today's date"
Right now we dont have any option to disable the dates which are before today's date. I want to disable all those dates which are occuring before current date . So that user is not allowed to select date less than today's date

[2016-03-17 06:10] rosco1502 commented on #7587
@topherfangio I seemed to have fixed the issue, but only by forcing some custom css to override Angular's.
`body, html {`
`  height: 0 !important;`
`  min-height: 0 !important;`
`}`
A chrome extension popup will adapt its size based on its content. In the given popup one tab has less content than the other. The chrome popup will adjust to the tallest content and go back down to the shorter height

[2016-03-17 06:34] ady236 commented on #2781
I had similar issue. I just added ngMessages dependency in module in app.js. Solved my problem.

[2016-03-17 06:54] mhansen opened #7610 "Many injected functions don't have @ngInject"
A lot of functions that have injected services are annotated with @ngInject, but a lot aren't.

Closure compiler renames function arguments, so you need to add @ngInject to these for them to work after compilation.

[2016-03-17 07:32] magic-77 opened #7612 "build-all-modules throws error"
Hi,
i´m trying to build all components with
`gulp build-all-modules` but it throws an error:

   Building` material.components.select ...
       events.js:85
        throw er; // Unhandled 'error' event
                ^
    Error: src\components\select\select-default-theme.scss
    Error: no mixin named checkbox-primary

           Backtrace:
            stdin:362
            on line 362 of stdin

[2016-03-17 08:00] gpopovic commented on #7557
Ok, so this actually isn't fixed.

It works well on IE 11 Version 11.162.10586.0 (on Windows 10)
but it doesn't work on IE 11.0.9600 Version (on Windows 7)

@DevVersion sorry man :D I know this must be frustrating

[2016-03-17 08:05] manuelagard commented on #4281
I have the same "scrolling to the top" problem on v1.0.6 for Safari when md-dynamic-height is enabled. On Chrome, it is working perfectly.
Not very user friendly and quiet problematic for Safari users.
Is there any turn around or fix ?
I tried the fix proposed by @robertmesserle but it doesn't worked for me...
Any idea guys ?

[2016-03-17 08:23] richardsengers commented on #7479
Thanks for clearing this one up

[2016-03-17 08:25] 2nise commented on #6440
same here

[2016-03-17 08:27] danielebuso commented on #6440
+1

[2016-03-17 09:00] vshanbha commented on #7545
@topherfangio Here is a minimal code that recreates that issue.
http://codepen.io/vshanbha/pen/zqNZbq

[2016-03-17 09:19] sunil-ideas2it commented on #7607
I got this thing i am using older version of angular material 0.11.4 in that date picker dont have this functionality fully developed . I have updated my angular-material version and things started working.

[2016-03-17 09:19] #7607 closed

[2016-03-17 09:19] corentin-gautier commented on #7607
How about md-min-date ? ( [here]( https://material.angularjs.org/latest/api/directive/mdDatepicker ) )

[2016-03-17 09:37] mys commented on #4233
+1

[2016-03-17 09:48] daB0bby opened #7614 "Height of md-card to small on Safari"
The height of `md-card` is not big enough so the `md-card-actions` aren't completely within the `md-card`.

This occurs on `Safari` for OS X and iOS.

![screen shot 2016-03-17 at 10 37 00](https://cloud.githubusercontent.com/assets/9976654/13842078/a028aadc-ec2c-11e5-9998-566cc37d9ac0.png)
![untitled](https://cloud.githubusercontent.com/assets/9976654/13842116/c6df716a-ec2c-11e5-95a4-62b58373ca5c.

[2016-03-17 10:07] jakubweber commented on #7599
I found this issue when md-icon is a child of flexbox parent (display: flex) and hasn't enough space and md-icon doesn't hold min-width, icon and ripple is displayed wrong.

Ad-hoc fix is add to the md-button-icon min-width value.

[2016-03-17 11:01] omer123456 commented on #6204
replace `scope.$watch(selectMenuCtrl.selectedLabels, syncLabelText);`
with:

[code]

[2016-03-17 11:11] stinaq commented on #7280
I have now checket against master HEAD locally, but unfortunately have the same issues as before, though it seems to have lessend somewhat.
![2016-03-17_12-11-09](https://cloud.githubusercontent.com/assets/1426788/13844317/5ee61778-ec39-11e5-89b9-0caf89071d5b.gif)

[2016-03-17 11:45] kschwidder opened #7615 "Roadmap and milestones"
Dear all,
Angular Material has progressed so well so far !
Over the last couple of Weeks i am struggeling with the defined milestones.
Could you please provide some dates when the defined milestone should be
available. Why do you create fine grained milestones and suddenly Release a candidate with a next
Release stamp?

Thx for clarification !

[2016-03-17 12:06] manish2535 commented on #7599
Here is the demo  -

http://codepen.io/manish2535/pen/VaPWBw

The last icon is using <md-icon>warning</md-icon> whereas the others are not. I think its coming because when you use `md-svg-src` it inserts

`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fit="" height="100%" width="100%" ....`

here instead of 100% in the height and width it needs 24.

If you look at the SVG files thems

[2016-03-17 12:14] Yofriadi commented on #4236
+1

[2016-03-17 12:16] robert-maftei commented on #5365
This worked for me without modifying the framework (v1.0.5): disable clickHijack in app config
Example:
https://github.com/angular/code.material.angularjs.org/blob/master/HEAD/partials/api/material.core.gestures/service/$mdGestureProvider.html

[2016-03-17 12:28] DevVersion commented on #7519
@topherfangio I don't think we should compile the SVG into a scope. That's how an icon is defined, an icon should have persistent paths etc.

If you really want to use the SVG in a scope (for templating), then you should compile the icon yourself into a scope.

[code]
- http://plnkr.co/edit/Tx0GLaHJMdVzpclaQ817?p=preview

So in my opinion, a SVG should be not compiled within a scope.

[2016-03-17 12:48] DevVersion commented on #7612
Indeed, introduced in 3524aa9573fe29e53341c60ce6127fc7ad323446, I'm currently trying to find a way to make the select dependent to the checkbox. But by building all the modules, the dependencies have no role... A solution would be:
- Move the mixin to the mixins.scss

But that would destroy the component project structure, because the styles of a specific component should be in the same directory

[2016-03-17 13:41] DevVersion commented on #7590
@topherfangio Found the bug, after completely investigating at the docs demo source :smile: and the problem is, that we registered the same module twice.

[2016-03-17 13:54] cvile commented on #2907
+1

[2016-03-17 14:13] #4126 closed

[2016-03-17 14:15] graphefruit opened #7618 "WP8 - List-Item-Button clicks not working"
Hello Team,

with the latest version the button click isn't working anymore in WP8 on in list items

The problem seems like that the two-button rendering causing wired issues in WP.
[code]
The render output looks like:
[code]

Update: I think the problem is that the outer button triggers but not the inner button, and the event is lost cause of this.

Greetings & Thanks
Graphefruit

[2016-03-17 14:24] gigablox commented on #4251
How do people feel about dropdowns for both the month and the year? Isn't this the simplest solution?

[2016-03-17 14:33] matthiasg commented on #4126
Wow , when i posted this issue and didnt get any feedback i thought it would just remain open .. but there was just no need for any discussion, it was simply done.

Thanks. Great job.

[2016-03-17 14:43] norrisrb commented on #4236
+1

[2016-03-17 14:45] ThomasBurleson commented on #4126
@matthiasg - for every single issue, we consider the validity and priority of that issue. Then the team determines the best time/milestone to deliver a solution. We love the community contributions (issue and Pull Requests). Thanks for this issue and the chance to make `md-icon` better.

[2016-03-17 14:51] thanuzz commented on #3441
+1

[2016-03-17 14:53] DevVersion commented on #7566
@topherfangio This can be easily done, by the interim element API.

[code]

But this will cause an error within the dialog service, because the dialog service tries to find a `<md-dialog>` element, but this isn't present, because there is no template processing and compilation anymore.

I've created a PR, which makes the dialog service compatible with the interim _skipCompile_ API and also added a

[2016-03-17 15:03] pablozandona commented on #6440
I resolved this adding 'ngMessages' in my modules ¬¬

[2016-03-17 15:17] epelc opened #7620 "docs: API Reference select dropdown assumes all directives are elements"
The `API Reference` select dropdown assumes that all directives work as elements when some are only available as attributes. See how all directives are within `<` and `>`.

![image](https://cloud.githubusercontent.com/assets/5204642/13850678/5d98d07a-ec31-11e5-8486-aeebd833de8e.png)
Page above https://material.angularjs.org/latest/demo/input

The `md-select-on-focus` directive is restricted to an

[2016-03-17 15:22] ThomasBurleson commented on #7566
@topherfangio, @DevVersion - The idea is great... but I do not like this API.

[2016-03-17 15:42] topherfangio commented on #7566
@ThomasBurleson Are you worried about the `skipCompile` API? That already exists and is used by the select and menu components.

[2016-03-17 15:44] topherfangio commented on #7590
Yup, I figured it would be something along those lines :smile:

[2016-03-17 15:50] ThomasBurleson commented on #7566
[code]

* if the element is not found, log a warning
* anchor could be a element *reference* or a *query-selector*

[2016-03-17 16:02] topherfangio commented on #7519
I think I agree. Typically, any dynamic text/content would be handled outside of the SVG.

@morwin10 What is your use-case for dynamic content within the icon?

[2016-03-17 16:04] DevVersion commented on #7566
@topherfangio Just talked to Thomas about the API.

We found a good way to support element references. We wan't to add a property, which supports an element reference or a query selector.
[code]

If the `contentElement` value is an element, which is added to the DOM, then we'll extract it and restore it upon close. (Same for the Query Selector)

If it's just an element, which is virtual present, t

[2016-03-17 16:05] topherfangio commented on #7566
@DevVersion Great! I was worried about naming it `anchor` because people might think that it has something to do with positioning. I like `contentElement` a lot better.

:+1:

[2016-03-17 16:09] topherfangio commented on #7545
@vshanbha Perfect; thanks!

[2016-03-17 16:14] morwin10 commented on #7519
`<svg id="cart" width="100%" height="100%" viewBox="2 0 100 85" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet">
	  <path id="svg_1" fill="#ffffff" d="m14.999,91c0,5.523 4.477,10 10.001,10s9.999,-4.477 9.999,-10s-4.475,-10 -9.999,-10s-10.001,4.477 -10.001,10zm50,0c0,5.523 4.477,10 10.001,10s9.999,-4.477 9.999,-10s-4.475,-10 -9.999,-10s-10.001,4.477 -10.001,10zm-32.264

[2016-03-17 16:16] topherfangio commented on #7587
I'm glad you got it fixed. Honestly, I'm not sure there is much we can do in the 1.x series since that has been defined that way for so long and changing it would affect pretty much every app out there.

[2016-03-17 16:16] #7587 closed

[2016-03-17 16:17] DevVersion commented on #7618
Hey Graphefruit (+1 name),

Can you confirm your bug with the latest version? I've recently removed the outer button, because it was accidentally added by me. (should be a `DIV`)

[2016-03-17 16:19] morwin10 commented on #7519
@topherfangio
Actually I need it for cart icon with a number that changes every time there is an update quantity of the products in the cart

[2016-03-17 16:20] DevVersion commented on #7620
Indeed, I can see the problem. Maybe we should consider the `@restrict` annotation.

https://github.com/angular/material/blob/master/src/components/input/input.js#L593

@topherfangio Please take a look as well.

[2016-03-17 16:26] xsegrity commented on #6676
I am also having this issue. In my case I am using ui-router and have 2 abstract states with with a tab bar and multiple tabs each using ui-sref attributes to navigate. Each tab is a state (e.g. page). If I load a state that represents any of the tabs other then the first tab in the tab bar, and then navigate to any of the states in the other tab bar then the app will automatically bounce between

[2016-03-17 16:26] topherfangio commented on #7519
@morwin10 Is there some feature of `<md-icon>` which you need? It sounds like you might just want to create a custom `<cart-icon>` component that uses SVG instead of HTML?

[2016-03-17 16:29] bondz commented on #4251
This was implemented nicely in react [here](http://www.material-ui.com/v0.15.0-alpha.1/#/components/date-picker)

[2016-03-17 16:30] programmist commented on #6531
Quick update: Now that data URLs are possible with md-icon, that feature can be leveraged for our internal icons, rather $templateCache.

[2016-03-17 16:33] WDShannon opened #7621 "md-tab-body does not layout-fill or flex to the bottom"
I am testing this in IE 11:

[Codepen](http://codepen.io/wdshannon/pen/grgXRa)

I am attempting to have the md-tab-body of my md-tabs control flex to the bottom of the page. I have had to include this css rule to get that somewhat working:

[code]
If you look at the codepen above, you will see that I get a scroll bar when I do so. What am I doing wrong? I want the tab content to flex to the bottom

[2016-03-17 16:50] lexyfeito commented on #4124
Has anyone been able to solve this. I am having the same issue

[2016-03-17 16:52] morwin10 commented on #7519
I'm not sure I understand you
I'm talking about `md-svg-icon` Directive.

I wanted to use it to display svg cart icon
And inside the svg icon I have my tag text

My html looks like this If it helps :
[code]

[2016-03-17 17:05] xsegrity commented on #6676
Here is a workaround...

This seems to be an adverse reaction between the material tab code and the ui-router code when using ui-sref attribute. The infinite bounce occurs if I use the ui-sref attribute in md-tab. If I replace ui-sref with an ng-click that calls $state.go in the controller then it works as expected.

[2016-03-17 17:13] graphefruit commented on #7618
Hey @DevVersion thanks for helping me out. I'll get in touch with you tomorrow.
Greetings

[2016-03-17 17:15] topherfangio commented on #7620
Working on a fix, but it looks like Dgeni might not pass us the data we need. Will work with them to find a solution.

[2016-03-17 17:18] ThomasBurleson commented on #7618
Latest version [https://material.angularjs.org/HEAD/demo/list](https://material.angularjs.org/HEAD/demo/list) has this working properly:

![screen shot 2016-03-17 at 12 17 19 pm](https://cloud.githubusercontent.com/assets/210413/13854601/478ffa2a-ec3a-11e5-9482-a58918d98d89.png)

[2016-03-17 17:35] edbentinck commented on #4251
From a UX standpoint the year selection is better in mdPickers's implementation than React's. At first glance it's not at all obvious that you can click on the year to select another one, but at least in mdPickers they included a hover state. Even then it's not blatantly obvious.

mdPickers is, imo, the best implementation so far.

@gigablox: In terms of the datepicker modal, I don't think dropdow

[2016-03-17 17:39] topherfangio commented on #7519
I think that compiling elements within an icon is not very common and might add a lot of overhead. Also, the `$mdIcon` service currently does a lot of caching for performance reasons, I am afraid that adding a dynamic capability might cause issues.

Have you tried @DevVersion's solution above? If that doesn't work for your needs, then I really think the best approach is a custom component used lik

[2016-03-17 17:39] #7519 closed

[2016-03-17 17:41] topherfangio commented on #7602
Can you see if there is perhaps a difference between running it through ruby-sass verses node-sass?

[2016-03-17 17:42] ThomasBurleson commented on #7602
We will not be supporting this further. Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-03-17 17:42] #7602 closed

[2016-03-17 17:47] DevVersion commented on #7557
Damn... :smile: I thought now everything is great with the list component. Can you post a screenshot of the Dom Inspection / Preview Output etc. So I can confirm, that the bug is still present?

[2016-03-17 17:48] DevVersion commented on #7612
Also prevents the update of `bower-material` and the docs.

cc @ThomasBurleson

[2016-03-17 17:54] daniel-nagy commented on #2414
@anatolyz [plunker](http://plnkr.co/edit/TXVI6GhhPW5pqQjS6cwc) clearly demonstrates this issue. I put a log statement every time we get passed this `if` statement in the `$ViewDirective`.

[code]

As you can see we often step through this logic twice (creating a new scope, possibly transcluding content twice) on `$stateChangeSuccess`, which I would imagine is not the intended behavior?

The source

[2016-03-17 17:58] topherfangio commented on #7601
@ilovett Gotcha; I didn't realize that the bottom line was a box shadow; on most of our other components, it is a `bottom-border` so I was confused.

That said, I don't think we can/should automatically remove the box shadow in readonly-mode. If a developer is actually using it as an input (like it was intended), then users should still see the bottom line even in readonly mode.

Perhaps we should

[2016-03-17 18:04] ilovett commented on #7601
Great, thanks.  Sure, I've forked material and have successfully built and opened up demos with `gulp watch-demo`.  Should I just go ahead with the idea of adding a specific overriding class?  If so let me know the preferred nomenclature.

[2016-03-17 18:06] EricWVGG commented on #4233
+1 /drumming fingers for six months…

[2016-03-17 18:13] topherfangio commented on #7601
Yeah, that would be great! I'd say go ahead and make it `md-static`. I think that will work the best and goes along with our current nomenclature.

[2016-03-17 18:28] jojogeyer commented on #4233
+1

[2016-03-17 18:29] sherrim commented on #6529
+1

[2016-03-17 20:20] epelc commented on #5857
Could this have something to do with `md-radio-button` not using a hidden `<input type="radio">`? Tabbing through `md-radio-buttons` also only ever puts you on the selected one(it skips all unselected radio buttons no matter what).

[2016-03-17 20:46] topherfangio commented on #7581
@bhandaribhumin Here is a quick example that shows you how to change tabs programmatically using the `md-selected` attribute:

http://codepen.io/topherfangio/pen/wGgmLq?editors=1010

If you still have trouble; please ask on the forums as GitHub is really only for submitting bugs :smile:

[2016-03-17 20:47] topherfangio commented on #7572
@cadilhac Sorry for the confusion; it definitely doesn't **work**, but it doesn't throw an **error**. I was hoping to reproduce the actual error so we could fix it.

I tried to dig into the ui-router source a bit to find out what's going on, but I don't have time to track it down at the moment. It seems to be something within the following directive:

https://github.com/angular-ui/ui-router/blob/1

[2016-03-17 20:47] #7572 closed

[2016-03-17 20:51] topherfangio commented on #7596
We're reworking a few things with the input/message animations and I have a note to fix this exact issue (it's causing some other problems as well). We'll try to get this fixed soon.

[2016-03-17 20:54] magic-77 commented on #7612
Hi DevVersion,
i moved the Mixins "checkbox-primary" and "checkbox-container" to mixins.scss. Now compiling Process runs fine.
When i take a look inside core.css i see some unprocessed vars.
Just a snippet of these:

`html.md-THEME_NAME-theme, body.md-THEME_NAME-theme {
  color: '{{foreground-1}}';
  background-color: '{{background-50}}'; }`

[2016-03-17 21:03] topherfangio commented on #7621
Looks like you found the answer: http://stackoverflow.com/questions/36066358/tab-content-not-flexing-correctly

[2016-03-17 21:03] #7621 closed

[2016-03-17 21:03] SmoshySmosh commented on #4408
+1

[2016-03-17 21:04] jpike88 commented on #4251
@edbentinck

http://logbon72.github.io/angular-material-datetimepicker/

^ I don't see how that implementation (aside from being presented in a md-dialog) would be made too complicated by turning the year into a dropdown while still keeping the aesthetics of MD

[2016-03-17 21:07] topherfangio commented on #7614
Not seeing this issue when put inside a Codepen: http://codepen.io/topherfangio/pen/eZgrJx

What version of Material are you using?

[2016-03-17 21:08] topherfangio commented on #7612
@DevVersion I'm assigning this one to you since you've taken lead. Please ping me if you need help ;-)

[2016-03-17 21:12] topherfangio commented on #7476
Please provide a Codepen of the issue using the latest version of Material and we will reopen.

[2016-03-17 21:14] topherfangio commented on #7475
@migmigmig I would enjoy seeing this as well, but with everything else we have happening, I think this is a fairly low priority. PRs would most certainly be welcome!

[2016-03-17 21:16] DevVersion commented on #7475
@topherfangio Do we really want to add this as a new component? I think it's not a component which has  a material design policy?

[2016-03-17 21:17] skutylev commented on #35
this can be used for bottom sheet like mobile web google maps (part of div with drag up)?

[2016-03-17 21:19] lexyfeito commented on #4124
@zilions  were u able to find a fix for this issue?

[2016-03-17 21:21] topherfangio commented on #7474
Can you please create a more simple example using Codepen? There is a lot of custom code in the existing Plunkr that makes it difficult to understand.

[2016-03-17 21:22] topherfangio commented on #7473
Agreed. We'll try to add that functionality soon. In the meantime, PRs would be welcomed :smile:

[2016-03-17 21:26] daB0bby commented on #7614
I am using `1.0.6`.

If I open your Codepan, everything looks fine...

So maybe there's a problem with my layout.

[2016-03-17 21:28] DevVersion commented on #7462
The tag has been created manually, because we had problems with the release script.

By default the release script will automatically create the tag and publish it to the upstream.

I will close that issue, because the release script failed accidentally.

[See the Tag Release Function](https://github.com/angular/material/blob/master/release.js#L179)

cc @topherfangio - Let me know if you had other

[2016-03-17 21:28] #7462 closed

[2016-03-17 21:30] topherfangio commented on #7457
@RolandHeath The 3 second delay may be related to #7159. I am working on a fix for that as well.

[2016-03-17 21:33] topherfangio commented on #7452
Can you please provide a Codepen that shows the issue so we can debug it more easily?

[2016-03-17 21:41] topherfangio commented on #7444
I think if someone needs events, they will need a more robust calendar like FullCalendar (http://angular-ui.github.io/ui-calendar/ if you want an Angular wrapper).

At the point, I don't think I would anticipate this in the 1.x series; so I'm going to mark it as a 2.0 consideration.

[2016-03-17 21:44] topherfangio commented on #7443
Checkout the [Datepicker Demo](https://material.angularjs.org/latest/demo/datepicker), specifically the "Only weekends are selectable" one. I think it will do what you need.

Please post a comment if it's not what you're looking for and I will reopen.

[2016-03-17 21:44] #7443 closed

[2016-03-17 21:47] topherfangio commented on #7438
@dhiman252 No, I don't think we have this functionality currently.

@DevVersion I think this may be something that we consider adding in the future though; particularly for people who use the Autocomplete like a Select. The default HTML Select allows you to disable certain options which can provide feedback to the user.

I think this topic could definitely use some more discussion and perhaps some

[2016-03-17 21:49] topherfangio commented on #7437
Can you please provide a Codepen which demonstrates the issue? It will be much easier for us to debug.

[2016-03-17 21:52] topherfangio commented on #7418
@ganySA Care to submit a PR with tests? If you don't have time, could you at least add a Codepen to this issue so that we can look into it when we get a chance?

[2016-03-17 21:56] topherfangio commented on #7417
I assume you're asking about the grouping/multiple datasets functionality. No, the autocomplete does not currently support this. I'll mark this as a feature request.

[2016-03-17 21:56] #7195 closed

[2016-03-17 21:56] #7194 closed

[2016-03-17 22:01] kevintc commented on #5071
I use it in a situation where I don't actually know if a modal is open, thus checking $mdDialog().isOpen() would work pretty well for me...
.isAnyOpen() returning a boolean would be nice :)

[2016-03-17 22:01] nkeeslin opened #7626 "mdMenuBar: Switching from one menubar item to another and back again causes the menu to hide"
This bug can be seen on the demo page https://material.angularjs.org/latest/demo/menuBar
If you click on a top level menu item then hover over a neighboring item and then return to the original item, the menu closes and then won't re-open if you click on that first menu item.  To get it to open, you have to click on a different menu item.

Angular-material v1.0.6

[2016-03-17 22:06] topherfangio commented on #7406
The select currently follows the design specification at http://www.google.com/design/spec/components/menus.html#menus-behavior.

[2016-03-17 22:06] #7406 closed

[2016-03-17 22:07] koutat opened #7627 "show-xs would be display elements only on "width< 600px" screens."
when i add "show-xs" attribute, this is displayed in any screen size.

[2016-03-17 22:11] topherfangio commented on #7404
@runethh Is your issue the same as #7458.

[2016-03-17 22:18] topherfangio commented on #7403
@crisbeto The `calc()` does it's calculations based on the viewport width. Do you think you can find another way to achieve whatever this is doing?

[2016-03-17 22:25] topherfangio commented on #7398
This was fixed recently and is available in master: http://codepen.io/topherfangio/pen/KzaRJY

[2016-03-17 22:25] #7398 closed

[2016-03-17 22:33] topherfangio commented on #7394
@crisbeto This is almost certainly related to my earlier commit here : e6176fb5d2daef749c29fccd44d9ed02a4dbb316

[2016-03-17 22:36] topherfangio commented on #7394
Actually; sorry; I just realized that my change came after 1.0.6. This should be fixed in master, here is an updated Codepen: http://codepen.io/topherfangio/pen/yOgjmB?editors=1000

Please let us know if you still experience the issue after upgrading and we will reopen.

[2016-03-17 22:36] #7394 closed

[2016-03-17 22:43] edbentinck commented on #4251
@jpike88 It's not that it's complicated, it's just pointless and doesn't use the space well in comparison with other MD specs. The implementation in mdPickers makes for a much nicer experience imo. But obviously that's your prerogative if you prefer to use dropdowns.

[2016-03-17 22:52] robertmesserle commented on #7393
I'm not opposed to this approach, but it's not entirely accurate.  What we have isn't a private repository, it just isn't the repository that we publish to NPM.  Giving it the same package name that we use on NPM seems misleading.

That being said, I really don't have a strong preference one way or the other.

[2016-03-18 00:07] hnirvana commented on #3072
+1

[2016-03-18 00:37] johnrivelt commented on #7474
Here is simpler one.

http://codepen.io/johncho/pen/rejKJj

On Fri, Mar 18, 2016 at 8:22 AM, Topher Fangio <notifications@github.com>
wrote:

--
Regards
John, Cho
王言, 趙
Wang Eon, Cho

[2016-03-18 05:31] vajnorcan commented on #7566
good stuff guys. thanks for implementing this that quickly. I'll be watchi this space for a new rc!

[2016-03-18 05:36] thilakWD opened #7628 "how to fetch the data from json to custom dialog box of angular material."
I am able to fetch the data to normal view. but i am not able to fetch into custom dialog of angular material.
ex: if i have the data like this
`  $scope.users = [{
    _id:1,
    firstName: 'Obi-Wan',
    lastName: 'Kenobi'
  }, {
    _id:2,
    firstName: 'Boba',
    lastName: 'Fett'
  }, {
    _id:3,
    firstName: 'Han',
    lastName: 'Solo'
  }];`
i am trying to fetch _id into custom dialog.

[2016-03-18 06:34] Nextt1 commented on #7628
http://plnkr.co/edit/ftMGUOseru5dXcFqUYsG.

[2016-03-18 06:56] thilakWD commented on #7628
Thank you so much for your time and help

[2016-03-18 07:12] goelinsights commented on #2907
I believe this has now been implemented in CSS per the button docs.  Should
we close this out?

On Thu, Mar 17, 2016 at 6:55 AM, Cvile <notifications@github.com> wrote:

--

-------------------------

Vijay Goel, M.D.
Principal, Goel Insights
310-492-5601
www.goelinsights.com

[2016-03-18 07:32] Fishz commented on #4903
You can bind a function that opens the page in a new tab, pass it the $event object and stopPropagation as an interim.

[2016-03-18 08:21] HtmlMak commented on #5241
+1

[2016-03-18 08:25] gpopovic commented on #7557
![work](https://cloud.githubusercontent.com/assets/2094147/13872481/3ed9bafe-eceb-11e5-88ba-a59d085c74cd.png)

Please note, it works on IE11 on Win 10.

This is the picture on IE11 Windows 7.
I'm having some problems with IE on home computer, so i can't check dom..i'll send you one in few days(I checked on multiple win7 computes on IE 11, always the same error)

[2016-03-18 08:26] aminahmedkhan commented on #2799
i need this thing ! +1

[2016-03-18 08:28] gpopovic opened #7629 "Vertical Alignment on IE 11 with ng-click still not fixed"
Padding on IE 11 on Win 7, still not fixed.

Everything works fine on IE11 on Win 10.

More data #7557

@DevVersion lets continue here

[2016-03-18 09:23] GoulwenBZH opened #7631 "Angular Material 1.1.0-rc1 md-card conflicts with Google Maps"
Hi!
Angular Material 1.1.0-rc1 md-card conflicts with Google Maps because of the height 100% important tag.

md-card > :not(md-card-content) img {
    height: 100% !important;
}

A codepen exemple here: http://codepen.io/GoulwenBZH/pen/MyJPqb

[2016-03-18 09:25] runethh commented on #7404
@topherfangio
Yes, that appear to be the same issue

[2016-03-18 09:37] mgol commented on #7393
`"private": true` doesn't mean the repository/project itself is private but that its code shouldn't be accidentally published via `npm publish`. Since you treat those packages as source-only, even if you keep different names for them than for the published ones, adding `"private": true` still seems like a good idea.

[2016-03-18 09:42] AnirudhaGohokar commented on #4650
@daniel-nagy That's very useful..Thanks a lot

[2016-03-18 10:22] guillenz100 commented on #1531
thanks @gkalpak, option 2 works for me !

[2016-03-18 10:46] RizwanAslam commented on #3966
Yes i am working with autocomplete label but i am unable to translate it as it don't accept any expression and will show the expression as a static string.......please fix it soon .......... Thanks

[2016-03-18 11:28] graphefruit commented on #7618
@ThomasBurleson this works in WP aswell as in IE-Emulation. PS: The animations and events are very delayed and laggy in WP. In iOS and Android they work fine.
@DevVersion is this already your changed version there?

[2016-03-18 11:29] Nextt1 commented on #7628
No Problem at all.. :)

[2016-03-18 11:56] DevVersion commented on #7618
@graphefruit Yes, that's the latest version.

[2016-03-18 11:59] kwypchlo opened #7632 "content: on ipad doesn't scroll below the virtual keyboard"
Hello,

There is an issue that prevents ipad/iphone users to scroll down to the bottom of the page when virtaul keyboard is open. This code snippet below in md-content directive makes browser never touch top and bottom of the page to prevent the bouncing effect on ipad/iphone.

[code]

Steps to reproduce:
1. As a reference use this site: https://material.angularjs.org/latest/demo/input
2. focus on

[2016-03-18 12:36] graphefruit commented on #7618
I did a "small" video: https://vid.me/tUyZ this is how it looks and feels like.
In my project I came up to the solution to disable nearly all transitions and all ripple effects I could find.
PS: If this is overloading this topic just tell me and I gonna create a new one so.

[2016-03-18 12:52] himanshuapril1 commented on #7631
Just wrap up your `map-canvas` div into `md-card-content` element, it'll work fine.
Or I've already done it below for you. :)

[code]

[2016-03-18 12:56] char0n opened #7633 "md-card + flexbox + IE11 rendering problems"
**What is the current behavior?**

In IE11 md-cards are rendered incorrectly and the flex layout is messed up.

**What is the expected behavior?**

md-cards should be rendered the same way there are rendered in Chrome or Firefox

**What is the motivation / use case for changing the behavior?**

My motivation was to display users in company in responsive flex card grid.

**Which versions of Angular

[2016-03-18 12:59] skoszuta commented on #6454
I've been investigating this a little due to a bug report on this in our project and have found an iOS bug regarding a similar case: https://bugs.webkit.org/show_bug.cgi?id=138201

Could this be it? Just a hint.

[2016-03-18 13:25] himanshuapril1 commented on #7627
Offcourse it'll, it's clearly mentioned in their docs. Please check the below URL-

[https://material.angularjs.org/latest/layout/options](url)

[2016-03-18 13:32] bhandaribhumin commented on #7581
no not working when by default i set my md-selected="3" whichis also not working don't know what's the problem?  i am stuck please help me

[2016-03-18 13:39] crisbeto commented on #7540
I've also been trying to reproduce this. It really is slow on IE, but I didn't manage to make it better by disabling those styles.

[2016-03-18 13:40] himanshuapril1 commented on #7631
Closes angular/material#7631

[2016-03-18 14:57] colmben opened #7634 "md-autocomplete blocks user interacton on next screen if md-selected-item-change does a route change"
If the md-selected-item-change function for an md-autocomplete does a route change (either an ngRoute $location.path= or a ui-router change of state) then there is a full screen md-scroll-mask left over the new route which blocks all user interaction on the new screen.
See example code pen, cobbled together from the autocomplete demo codepen and an ngRoute codepen. When you change to the book rout

[2016-03-18 15:12] jaxoncreed commented on #7540
Pretty sure this is most of the issue is caused by attribute selectors. Apparently IE will check every single element that has an attribute for every element selector in the stylesheet.

There are a large number of element selectors between lines 5170, 14085 in angular-material.css. The more of these you remove, the better performance gets.

[2016-03-18 15:20] colmben commented on #7634
Sorry, Its look like this is a dupe of https://github.com/angular/material/issues/3287

[2016-03-18 15:20] #7634 closed

[2016-03-18 15:36] bgoerdt commented on #6906
+1

[2016-03-18 15:56] bhandaribhumin commented on #7581
$scope.selectedIndex = 1; is not working while controller load
and also not working wile i call function and change  $scope.selectedIndex = 2;
from my nav bar

nav-menu .html

 <md-list-item menu-close ng-if="catTabTitle" class="menu-list-item"
                ng-repeat="(cat_id, categorie) in catTabTitle"
                 ng-click="getItems(cat_id,$index)">

category.html

<md-tabs md-selected="s