[2018-06-17 17:29] #10889 closed

[2018-06-17 17:31] Splaktar commented on #10709
Thank you for taking the time to submit this issue. However it does not follow our **required** issue template. A CodePen demo is **required**.

Please file a new issue that follows the template. This gives the team the information needed to investigate the bug or prioritize the feature.

[2018-06-17 17:31] #10709 closed

[2018-06-17 17:44] Splaktar commented on #10328
Thank you for taking the time to submit this issue. However it does not follow our **required** issue template. The CodePen demo of the issue is **required**.

Please file a new issue that follows the template. This gives the team the information needed to investigate the bug or prioritize the feature.

[2018-06-17 17:44] #10328 closed

[2018-06-18 13:00] brianrodecap opened #11329 "input: md-maxlength validation doesn't happen on initialization for interpolated size"
## Bug, enhancement request, or proposal:
Using md-maxlength="MAX" on an input field that initializes to some value of length > "MAX", the md-maxlength validation does not happen, and the input field is considered valid.

See original issue #10320

## CodePen and steps to reproduce the issue:
https://codepen.io/Splaktar/pen/vdmNPJ?editors=1010#0

#### Detailed Reproduction Steps:
1. You should be

[2018-06-18 18:59] augustoclaro commented on #10999
I'm seeing this issue on IE11 with version 1.1.8
is it going to be fixed?

[2018-06-18 19:15] Splaktar commented on #9362
This is also related to https://github.com/angular/material/issues/2328.

[2018-06-19 08:01] Splaktar commented on #3365
This is only open to track the support in contact-chips which has an open PR https://github.com/angular/material/pull/8142.

Support for this feature already exists in regular chips.

[2018-06-19 08:12] Splaktar commented on #11270
Still blocked by node-sass's v5 release which has pushed from 2-3 weeks to 4-5+ with no real sign that it is going to happen soon.

[2018-06-19 19:47] #11000 closed

[2018-06-19 22:41] simeyla commented on #6477
Does anybody actually find these default 'spec-based' breakpoints to be of any use?

Yes my tone is a little facetious, but it's a serious question. The excuse of "It's in the spec" is a poor one when you're trying to develop for different mobile devices for which this API is utterly useless in it's initial form.

A single breakpoint of 600px encompasses all phone viewport sizes, and another one o

[2018-06-19 22:43] simeyla commented on #10109
@bitencode Can hardly call it mobile-first when there is only a single breakpoint (600px) to include all phone sized devices. Useless :-( It's really 'spec-first' where they try to follow a spec that isn't even up to date.

https://material.io/design/layout/responsive-layout-grid.html#breakpoints

[2018-06-19 23:01] Splaktar commented on #10313
We recently posted a Performance Guide for developers who need to support IE11: https://material.angularjs.org/latest/performance/internet-explorer

[2018-06-19 23:01] #10313 closed

[2018-06-19 23:05] Splaktar commented on #11175
I just wanted to mention that enhancements like this cause AngularJS Material's CSS size to expand significantly. It's already at a point now where it's unacceptably large.

So we are not willing to take PRs that add features to the layout system at the expense of increasing the unminified CSS size by more than a few KBs. In some cases, we've seen features like this increase the CSS size by 20-80

[2018-06-19 23:17] Splaktar commented on #10325
The problem that you are raising here is only that the button isn't aligned with the top/bottom of the input and select in your demo?

They don't put buttons inline, but the input examples on the docs site (https://material.angularjs.org/latest/demo/input) show some examples of inline style forms.

In your example, you put the button inside of an `md-input-container` which is not meant for holding

[2018-06-19 23:17] #10325 closed

[2018-06-19 23:23] Splaktar commented on #10302
I don't currently see any difference between how Chrome, Firefox, or Safari render the CodePen example provided. What is the expected outcome? What is the problem? It's not clear to me.

[2018-06-19 23:31] Splaktar commented on #6477
@simeyla yes the default breakpoints are useful. They have been used in tens of thousands of production applications around the world.

It's quite easy to extend/copy/modify AngularJS Material's layout SCSS or CSS to meet your needs.

If you wanted to go farther, the [AngularJS Material Tools](https://github.com/angular/material-tools) repo has some tools that can be used to build bundles of Angul

[2018-06-20 07:40] graphefruit commented on #10313
Hi @Splaktar thanks for the update and for the documentation of this issue.

I think this documentation clears out some big issues.
But there are some other performance issues.
E.g. animations (and I don't mean the ripples) rather like floating animations, e.g. radio-buttons, the circle is "appearing".

Are there plans to make them optional aswell?
Like:
`$mdAnimations.disableAnimations()`

Also i

[2018-06-20 09:10] Splaktar commented on #10313
@graphefruit That is just the first version of the IE11 Performance Guide.  I'd welcome suggested changes via an issue to discuss them and later a PR to add the new guidance.

I know that some of the CSS tweaks discussed in https://github.com/angular/material/issues/8329 did not get into the guide since [David said](https://github.com/angular/material/pull/8658#issue-72624995) that he didn't have

[2018-06-20 09:17] Splaktar commented on #10999
@augustoclaro it's not being worked on atm since there hasn't been enough information provided for it to be actionable and @tiffmaelite indicated that it was fixed in 1.1.8.

Can you please provide a CodePen demo of your issue and a set of detailed reproduction steps along with explanations of how the behavior deviates from what you expect?

[2018-06-20 09:18] graphefruit commented on #10313
I gonna give it a look in a next ticket.
Actually my App is locked on RC-5, I nearly digged into every material file and changed it the way I need it ;) (Knowing that this doesn't work for everyone)
Cant give you a timeframe yet, but thank you for your honest feedback and your fast response :)

[2018-06-20 09:35] oliversalzburg opened #11333 "chips: model changes are not reflected in view"
## Bug, enhancement request, or proposal:
Bug.

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](https://codepen.io/oliversalzburg/pen/yEvRKw) which demonstrates the issue:

#### Detailed Reproduction Steps:
1. Click any of the contacts listed below the chips control.
1. Remove one of the chips from the chips control.
1. Try to add any other chip by clicking one of the contacts in t

[2018-06-20 09:48] oliversalzburg commented on #11333
Possible duplicate of #11218

[2018-06-20 09:58] #11218 closed

[2018-06-20 09:59] Splaktar commented on #11333
Please test against `master` as it should be fixed there as part of 1.1.10.

[2018-06-20 10:20] oliversalzburg commented on #11333
I can't easily integrate unpublished dependency code. Are there any pre-build versions available somewhere?

[2018-06-20 11:09] oliversalzburg commented on #11333
@Splaktar I adjusted the CodePen to use https://material.angularjs.org/HEAD/angular-material.min.js and that resolved the issue.

[2018-06-20 15:47] aprat84 opened #11334 "progress-circular: wrong circle arc when changing from indeterminate to determinate mode"
## Bug, enhancement request, or proposal:
Bug

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](https://codepen.io/anon/pen/zaWYXE?editors=1010) which demonstrates the issue:
Progress arc does not match actual value.

#### Detailed Reproduction Steps:
1. Show a circular progress in `indeterminate` mode (ie: waiting for first progress value from ajax upload)
2. Change mode to `determ

[2018-06-20 19:22] wilker7ribeiro opened #11335 "bug md-datepicker - min-date after max-date causes calendar to have strange behavior"
## Bug, enhancement request, or proposal:
BUG

# CodePen and steps to reproduce the issue:
https://codepen.io/anon/pen/dKmXem

#### Detailed Reproduction Steps:
1. Create a md-datepicker with md-min-date after md-max-date
2. Open calendar

### What is the expected behavior?
All dates should be disabled

### What is the current behavior?
Everything is white

### Which versions of AngularJS, Materia

[2018-06-20 19:33] wilker7ribeiro commented on #11335
Same behavior as: https://github.com/angular/material/issues/11138

[2018-06-20 19:49] Splaktar commented on #11333
Each commit (merge) to master gets a release via [bower-material](https://github.com/angular/bower-material/commits/master). You should be able to install the latest via npm using `1.1.9-master-5e37b63`.

But yeah, using `HEAD` with CodePen is easier.

Thank you for verifying. I'll close this.

[2018-06-20 19:49] #11333 closed

[2018-06-20 20:03] Splaktar commented on #11334
Thank you for reporting this.

I assume that using an `ng-if` and having a second progress circular used for determinate values would be a valid workaround for the time being?

[2018-06-20 20:43] aprat84 commented on #11334
Yes, that's exactly what we are doing.
Thank you.

[2018-06-21 06:27] amar-socgen commented on #6554
@rcevs  Thanks for the solution, works like charm. Saved my day !

[2018-06-21 07:30] rantiev opened #11336 "md-autocomplete jumps in iOs (keyboard quickly opened and hid)"
See problem demo here.
http://output.jsbin.com/zaroqo/1

Sometime when you try to tap on or example 5th md-autocomplete it doesn't work. You will be able to reproduce it playing couple of minutes on iphone 10.1.1 or ipad 11.2.2

[2018-06-21 08:18] lironbar commented on #3966
Another solution is to add a dynamic class with ng-class to md-autocomplete that will hide the label using css

`<md-autocomplete ng-class="{{'noLabel': disableFloating}}"`

and CSS:

`  .noLabel {
    md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
      display: none;
    }
  }`

[2018-06-21 22:38] Splaktar commented on #6554
The advice from https://github.com/angular/material/issues/6554#issuecomment-267738012 seems to be in the Basic Usage example of the [autocomplete docs](https://material.angularjs.org/latest/demo/autocomplete) now.

There is no CodePen demo in the OP, so I can't really verify that any specific bug was fixed here. But it appears that the OP solved his issue and that many others have solved similar

[2018-06-21 22:38] #6554 closed

[2018-06-21 22:39] Splaktar commented on #11336
Thank you for taking the time to submit this issue. However it does not follow our **required** issue template.

Please file a new issue that follows the template. This gives the team the information needed to investigate the bug or prioritize the feature.

[2018-06-21 22:39] #11336 closed

[2018-06-22 05:21] pawantiwari1 opened #11337 "Pgaination not working if change one tab to another tab"
I have using angular material ,i have created 3 tabs and same data will show in all tabs,
I have using  angular material table and show that data
In first tabs by defaults i have set that 5 record its working this page pagination working but same code i have written in another tabs but second tab one shows 5 record and if i will search that then then data is shows but total no of records shown is

[2018-06-22 05:57] Splaktar commented on #11337
Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-06-22 05:57] #11337 closed

[2018-06-22 06:22] Splaktar commented on #10636
In [AngularJS 1.1.9](https://groups.google.com/forum/?pli=1#!topic/ngmaterial/zVRtS7WlSMA) we added a new feature that allows disabling all gestures via:
[code]
That said, I tried the above Plunker, which seems to use the latest released versions of most of the libraries including Angular and AngularJS Material, and I don't see the console log messages about the digests on mouse move.

I'm going t

[2018-06-22 06:22] #10636 closed

[2018-06-22 06:28] Splaktar commented on #10847
@Hintalo Yes, ngUpgradeLite (or `downgradeModule()`) in Angular v5 is the recommended way to do upgrades when AngularJS Material is involved. We're planning to add an ngUpgrade guide that will help point people in the right direction.

We don't plan to support the full ngUpgrade (and thus Angular v2 or v4 hybrid mode) for AngularJS Material due to a number of issues.

Can you confirm that this iss

[2018-06-22 07:17] #10140 closed

[2018-06-22 07:53] Hintalo commented on #10847
@Splaktar Yes, in our hybrid NG1/NG6 application (where we are using both Angular and AngularJS Material), the infinite digest issue has disappeared since we're using the downgradeModule() feature at bootstrap.
In our app, one separate workaround was needed to solve the missing-dependency-issue due to lazy-bootstrapping of the Angular-part, see [here](https://stackoverflow.com/questions/47189917/u

[2018-06-22 08:06] Splaktar commented on #10847
I had problems with [updating the Plunker](https://plnkr.co/edit/Ip8Ilx?p=preview), so I migrated it to StackBlitz:
[AngularJS Material ngUpgradeLite Demo](https://stackblitz.com/edit/ngupgrade-tabs-digest-10847?file=ng1/tabs.component.html)

It uses AngularJS Material 1.1.9, AngularJS 1.7.2, and Angular 6.0.6.

Everything seems to be working as far as showing Angular and AngularJS Material compon

[2018-06-22 08:06] #10847 closed

[2018-06-22 08:43] Splaktar commented on #10368
I believe that this is fixed with ngUpgradeLite in Angular v5+. I have a StackBlitz demo and some additional details in [a forum post](https://groups.google.com/forum/?pli=1#!topic/ngmaterial/9dgqZG2e13o).

[2018-06-22 08:43] #10368 closed

[2018-06-22 08:52] Splaktar commented on #10386
It looks like this issue was resolved, thank you for letting us know that. I'm going to close the issue.

[2018-06-22 08:52] #10386 closed

[2018-06-22 13:08] alanent commented on #4679
Someone can help me ? https://stackoverflow.com/questions/50947642/angular-material-6-datepicker-reactive-form

[2018-06-22 14:58] Jenhaohsiao commented on #6613
in your css file, add this :
md-bottom-sheet {
    position: fixed;
    bottom: 0;
}

[2018-06-22 14:59] #3068 closed

[2018-06-22 15:29] #11319 closed

[2018-06-22 15:30] #11294 closed

[2018-06-22 15:30] #10758 closed

[2018-06-22 15:31] #11069 closed

[2018-06-22 15:31] #11292 closed

[2018-06-22 15:32] #11265 closed

[2018-06-22 16:22] andrei-ivanovici commented on #10636
@Splaktar, thanks for the update.  The plunker was referencing  the latest version of all libraries.  At the time when the issue was opened, with the versions mentioned, the behavior was exactly as described. I'm happy to see that this was resolved and now we are no longer required to use any workarounds.
I'll inform my teammates about the good news

[2018-06-22 21:03] #10392 closed

[2018-06-22 22:13] Splaktar commented on #4679
@alanent Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-06-22 22:23] Splaktar commented on #10636
@andrei-ivanovici you may also want to look at ngUpgradeLite which has much better performance with AngularJS Material and Angular v5+. I created a StackBlitz demo for it and started a thread on it here: https://groups.google.com/forum/?pli=1#!topic/ngmaterial/9dgqZG2e13o. You probably don't need to disable gestures if using ngUpgradeLite.

[2018-06-22 22:34] #10344 closed

[2018-06-23 12:17] #10302 closed

[2018-06-25 07:16] rajathms commented on #9810
@klabelle33 @DevVersion issue is back again with the latest version of the angular material. The issue is only with safari browser (mobile only).
Angular Version: 1.5.8
Angular Material Version: 1.1.9

[2018-06-25 09:55] Splaktar commented on #9396
TODOs
[ ] - Come up with a new 'official' list of supported browsers
[ ] - Update docs site to include a list of supported browser versions using a simple table like https://angular.io/guide/browser-support
[ ] - Update the README with the new list of supported browsers (probably in a markdown table)
[ ] - Remove the caniuse screenshot from the README

[2018-06-25 10:04] Splaktar commented on #10345
Well, the last 2 years worth of Safari can be grouped up as 11.0-11.2 (released 9/18/17) and 11.3 (released 3/28/18).

But is iOS 10 support something that is critical to users? There hasn't been a lot of activity on this issue in the last year and a half.

If this issue is still affecting you or your users, please respond with details about the iOS versions that your users are actively using.

[2018-06-25 13:05] matthesrieke opened #11339 "autocomplete on mobile/android: virtual keyboard not appearing"
## Bug:

#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:

https://codepen.io/anon/pen/mKjXMN (default CodePen created from the "Floating Label" example in https://material.angularjs.org/1.1.9/demo/autocomplete)

#### Detailed Reproduction Steps:
1. Open up https://material.angularjs.org/1.1.9/demo/autocomplete on Chrome in Android (tested with t

[2018-06-25 15:23] stu-co commented on #980
I'm wondering if there has been any update to this?

I do not wish to use inject style tags due to security concerns as detailed on [this stack overflow post.](https://stackoverflow.com/a/18428346)

[2018-06-25 15:29] stu-co commented on #7959
After reading through #980, this looks to be the solution that I need to my problem.

[2018-06-25 15:43] stu-co commented on #7959
After testing, `disableTheming();` worked as expected for me and has not been removed from the code base.

[2018-06-25 15:50] stu-co commented on #4155
@oliversalzburg `setNonce();` did not work for me - did you find a solution to this?

[2018-06-25 16:45] oliversalzburg commented on #4155
@stu-co Sadly, no. It was put on our backlog and priority to solve it is very low.

[2018-06-25 18:35] Splaktar commented on #9396
Here's our current autoprefixer config:
[code]

[2018-06-25 18:50] mgol commented on #9396
I think it'd be useful to make sure the Autoprefixer config and the docs around what browsers are supported stayed in sync somehow - either enforced or via convention, e.g. by putting comments in all places reminding people modifying one place to make sure relevant changes are reflected in others. Perhaps that could be made a 5th item on the TODO list.

[2018-06-25 18:55] Splaktar commented on #10345
Sorry, I was just trying to indicate calendar years, not an actual period of time. I realize that September to March isn't 2 years.

We'll need to decide which versions of iOS Safari to support in https://github.com/angular/material/issues/9396. Previously we have claimed support for n-1, which currently I guess would be iOS 10 and 11, but in September it would be 11 and 12. We currently claim tha

[2018-06-25 18:57] Splaktar commented on #9396
I think that it makes sense to link to / embed this config in the README.

I am not sure that it would be appropriate in the docs site.

We should probably look at moving it out of https://github.com/angular/material/blob/v1.1.9/scripts/gulp-utils.js#L308-L317 and putting it in a `browserslist` file in the root of the project.

[2018-06-25 19:08] Splaktar commented on #9396
Angular Material [moved off](https://github.com/angular/material2/commit/7cfece25401f5dff4f83c270840cb717018f545f) of `gulp-autoprefix` to a Stylelint plugin for applying some custom prefixes due to conflicts with internal Google tooling. Here is their [autoprefix config](https://github.com/angular/material2/blob/master/stylelint-config.json#L11):
[code]

[2018-06-25 19:09] mgol commented on #10345
Ah, sorry, I didn't understand.

This is tricky in a way as while in most browsers only major versions get non-trivial engine updates Safari is different - it bumps a major once a year but engine is getting a meaningful update twice a year. That's why Browserslist (and, hence, Autoprefixer) reports only:
[code]
for the query "last 2 Safari versions". To get all Safari 10.0+ versions you'd need to

[2018-06-25 19:18] Splaktar commented on #10345
Oh good. I am glad that autoprefixer works that way! That was my thinking as well, that their dot releases contained significant fixes and features.

Thank you for confirming the fix exists in recent versions of iOS 10! I'm satisfied with that enough to close this issue.

Let's take the browser support discussion to https://github.com/angular/material/issues/9396.

[2018-06-25 19:18] #10345 closed

[2018-06-25 20:20] Splaktar commented on #9396
`last 2 versions, not dead, > 0.5%` seems to be a reasonable configuration. It would increase our global coverage from 86.6% to 90.48%. You can see the supported browsers [here](http://browserl.ist/?q=last+2+versions%2C+not+dead%2C+%3E+0.5%25).

But then looking at the autoprefixer default, this seems like an even better configuration: `> 0.5%, last 2 versions, Firefox ESR, not dead`. This has 90.

[2018-06-25 20:37] Splaktar commented on #9396
In order to compare this new proposed AngularJS Material browser support with Angular Material's browser support, these two links can be used:
The new config would support these browsers:
http://browserl.ist/?q=%3E+0.5%25%2C+last+2+versions%2C+Firefox+ESR%2C+not+ie+%3C%3D+10%2C+not+ie_mob+%3C%3D+10%2C+not+bb+%3C%3D+10%2C+not+op_mob+%3C%3D+12.1

Angular Material supports these browsers:
http://brow

[2018-06-25 20:44] mgol commented on #9396
I agree with your findings. Specifying "last 2 versions" with no percentage (or "not dead") restriction adds unneded dead browsers to the query. OTH, Firefox ESR seems a worthy addition as it may be used in some corporate environments.

[2018-06-26 08:13] Splaktar commented on #7959
Indeed `$mdThemingProvider.disableTheming()` still exists. You can find the docs [here](https://material.angularjs.org/latest/api/service/$mdThemingProvider#mdthemingprovider-disabletheming-isdisabled).

[2018-06-26 08:16] Splaktar commented on #980
@stu-co as you found and as mentioned in https://github.com/angular/material/issues/7959#issuecomment-400220734, you can use `$mdThemingProvider.disableTheming()` which is documented [here](https://material.angularjs.org/latest/api/service/$mdThemingProvider#mdthemingprovider-disabletheming-isdisabled).

[2018-06-26 08:22] Splaktar commented on #4155
You can use https://github.com/angular/material-tools to do custom builds of the CSS. There are some docs on creating static themes [here](https://github.com/angular/material-tools#theming). I haven't tried it with the latest version of AngularJS Material, please open issues in that repo if you run into problems.

I'm not sure that this will solve the CSP issues with unsafe inline styles, but it's

[2018-06-26 09:47] marosoft commented on #11016
I found the main reason why this is happening. It is caused by the way the RTL mode is being detected.

`tabsController` is checking if RTL applies by calling a `bidi` method from the `mdUtil`.

This is the check in the bidi method:
`var ltr = !($document[0].dir == 'rtl' || $document[0].body.dir == 'rtl');`

As you can see it expects the whole document to be RTL not only the element you want to te

[2018-06-26 14:24] #11325 closed

[2018-06-26 15:03] marosoft commented on #9754
I found the main reason why this is happening. It is caused by the way the RTL mode is being detected.

This is a piece of code:
`var ltr = document.dir != 'rtl' && document.body.dir != 'rtl';`

(from https://github.com/angular/material/blob/master/src/components/virtualRepeat/virtual-repeater.js#L381)

As you can see it expects the whole document to be RTL not only the element you want to test.

[2018-06-27 08:04] Splaktar commented on #11281
### Update on this

- [bower-material](https://github.com/angular/bower-material/) which hooks into NPM, Bower, JSPM has been [updated to support AngularJS 1.7.x](https://github.com/angular/bower-material/commit/af93207efd58280fead949d2eff0175871b8ab69)
- AngularJS Material does not support AngularJS 1.7.1
- We're planning to release 1.1.10 this week which will have the above updates to [bower-mat

[2018-06-27 08:52] Splaktar opened #11343 "build(npm): improve state of npm audit and vulnerabilities"
## Bug, enhancement request, or proposal:
Security audit compliance

# Steps to reproduce the issue:

#### Detailed Reproduction Steps:
1. `npm audit`

### What is the expected behavior?
There should be a minimal, near zero, amount of known vulnerabilities in the libraries used by AngularJS Material, even for builds.

### What is the current behavior?
found 140 vulnerabilities (63 low, 44 moderate

[2018-06-27 08:53] Splaktar commented on #11343
`gulp-sass` is one of the big issues atm. It's tracked separately in https://github.com/angular/material/issues/11270.

[2018-06-27 09:39] tomislavplecko opened #11344 "Datepicker not working"
## Bug, enhancement request, or proposal:
Bug

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:

app.module.ts

#### Detailed Reproduction Steps:
1. Standard code from https://material.angular.io/components/datepicker/overview is not working
2. app.module.ts

[code]
html

[code]

### What is the expecte

[2018-06-27 10:12] Splaktar commented on #11343
Opened https://github.com/AveVlad/gulp-connect/issues/256.

[2018-06-27 10:17] Splaktar commented on #11343
Looked into upgrading to Gulp 4.0.0, but there are major breaking changes that will require some significant effort to resolve. They want you to use named functions now instead of named tasks from the task registry. This means that our process for registering all tasks from files at the start will need some changes. Also the way dependencies is handled is totally different, moving from a list of t

[2018-06-27 10:45] Splaktar commented on #11343
I got down to around `found 37 vulnerabilities (17 low, 10 moderate, 10 high)` but while I could run the docs site in dev mode, I was still seeing 150-180 test failures. Will investigate more later...

[2018-06-27 11:37] rantiev opened #11345 "select: label style/position is wrong on iOS after other md-select selection occurs"
## Type:
Bug

# CodePen and steps to reproduce the issue:
#### CodePen Demo which demonstrates the issue:
http://output.jsbin.com/sabobu

#### Detailed Reproduction Steps:

1) Tap to first input, don't select any options
2) Tap to next

### What is the expected behavior?
Color and position of label reverted to initial state

### What is the current behavior?
The first is still focused: lable posit

[2018-06-27 11:42] rantiev opened #11346 "md-select options dropdown is sometimes hidden in iPad/iPhone safari"
## Bug:

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://output.jsbin.com/sabobu) which demonstrates the issue:

#### Detailed Reproduction Steps:

1) Tap to first md-select input, don't select any options
2) Tap to next md-select input

Try to select options in the second and go back to first if you can't reproduce the issue. It exists.

### What is the expected behavior?
O

[2018-06-28 04:30] postmeback commented on #5336
+1

[2018-06-28 08:49] blemaire commented on #10999
@Splaktar I have just encountered the same issue and the description of the issue is very clear in this ticket:

**The expected behaviour is as follow:**
- click in the input
   -> the calendar menu opens
- select a date or click outside the menu
   -> the menu closes
DONE.

**The observed behaviour is as follow:**
- click in the input
   -> the calendar menu opens
- select a date or click outside

[2018-06-28 09:47] Thaina commented on #4789
What? This bug is not fixed with any effort and just close like this???

[2018-06-28 15:48] sethkoch commented on #884
Still getting this when used in mat-toolbar and on a mat-button.  If you hover over the button the tool tip appears, but then on clicking the button and then clicking out of the drop down menu, the tooltip remains.

[2018-06-29 06:43] amankhanna24 opened #11347 "First option highlighted"
Using angular select material in angularJS. First option always highlighted.
1. How to remove first highlight option.
2. When used this https://codepen.io/anon/pen/dKwGEp#anon-login on keyUp dropdown flickers.

[2018-06-29 08:38] marshfire opened #11348 "1.1.10 requires minimum angular 1.7.2 but should work with 1.4 and higher"
## Bug, enhancement request, or proposal:
Bug

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:
no reproducer (build issue in existing projects that use bower with a dependency of angular-material ~1.1.*)

#### Detailed Reproduction Steps:
1. readme states that angular >1.4 is required
1. package.json r

[2018-06-29 11:17] TemitaTom opened #11349 "textarea: md-maxlength value char count not updated inside html"
## Bug

CodePen
https://codepen.io/anon/pen/MXZEXY?editors=1010

#### Detailed Reproduction Steps:
create textarea with:

md-maxlength="model.myValue.isDisabled ? '' : 500" --> WORKS
md-maxlength="model.myValue.isDisabled || model.global.isDisabled ? '' : 500" --> NOT works

EDIT: the problem is related with multiple levels of ng-include.

### What is the expected behavior?

Update value in char-c

[2018-06-29 12:21] clemator commented on #11348
I have the exact same issue

[2018-06-29 12:41] kylekatarnls commented on #10999
This bug is the one mentioned in this comment:
https://github.com/angular/material/blob/0356bed24789e2e9a1c7d7842303031f03e68760/src/components/datepicker/js/datepickerDirective.js#L694

This work-around (nextTick) works only if the machine and browser are fast enough. Because when it happens in the same digest loop, you get:
[code]
With a slow machine you get the following order:
[code]

If you w

[2018-06-29 13:21] atulpareek093 commented on #3158
how to add a side nav like google analytics using angular material

[2018-06-29 14:04] mathieub93 commented on #10404
Just to clear this issue up for everyone getting it.

`md-datepicker` is a class containing multiple elements, a button and 2 divs in my case.
The button can be interacted with to set a date and the first div has a input field which can be interacted with. The test itself can interact with the `md-datepicker` itself.

Still fixing this issue for myself as well (by getting the correct xpath from th

[2018-06-29 14:06] IMM0rtalis commented on #11348
@marshfire @clemator   are you loading angularJS just over dependencies automatically or have you specified this? - I just look again via https://docs.npmjs.com/files/package.json#dependencies and this syntax just says that it supports up until angularJS 1.7.2 ... maybe it would make even sense to limit it to a min-version as well, but after research I think the repository here is correct but your

[2018-06-29 14:17] marshfire commented on #11348
@IMM0rtalis we usually allow 3rd party dependencies to patch their versions (thus we say "angular-material": "~1.1.5") 1.1.5 has the minimum feature set we needs and we want to be able to get patches but not minor version updates (e.g. no automatic 1.2)

for angular we say "angular": "~1.6.x" (allows everything >= 1.6.0 and < 1.7.0)

in material 1.1.10 angular is required as "^1.7.2" which meens i

[2018-06-29 14:22] IMM0rtalis commented on #11348
Oh ok, you are right, sorry. I just read again about the carret: https://docs.npmjs.com/misc/semver#caret-ranges-123-025-004

@Splaktar

[2018-06-29 14:35] IMM0rtalis commented on #11348
@marshfire  Can you check if my PR would be the correct dependency description?

[2018-06-29 15:50] omieliekh commented on #864
Since there is no way (yet) to override animations officially, there is always dirty hack that will allow you to do that:
[code]

This code for example, replaces one of two angular-animations of MatMenu element, dropdown show/hide animation.
It has some limitations - animation name should be the same as original one (`transformMenu`) as well as states...

But coupled with property checks it can be

[2018-06-29 18:31] Splaktar commented on #11348
Responding to the OP, you mention that your project uses Bower and then you refer to the `package.json` that Bower doesn't use (it's for NPM). Can you please provide the exact error message?

[2018-06-29 18:43] Splaktar commented on #11348
For 1.1.10, we did bump the minimum Bower dependencies to AngularJS `^1.7.2` from `^1.6.0`: https://github.com/angular/bower-material/blob/master/bower.json.

Please note as indicated [here](https://github.com/angular/bower-material#installing-angularjs-material) support for Bower is deprecated.

For NPM, we support a [wider range of versions](https://github.com/angular/bower-material/blob/master/

[2018-06-29 18:53] Splaktar commented on #11348
It looks like version ranges are in fact supported by Bower (from their [install docs](https://bower.io/docs/api/#install)). It's not clear if they support the `||` operator though.

[2018-06-29 18:56] Splaktar commented on #11348
FYI: You can always choose to stay with a specific version (or range) with Bower as it has the interactive conflict resolution in the CLI.

After some manual testing, it looks like Bower can support the `1.4 - 1.7.0 || ^1.7.2` syntax. I'll update `bower.json` to use that.

[2018-06-29 19:12] Splaktar commented on #11348
OK, this has been pushed up to `bower-material`. You can install from `master` to get this updated set of dependencies using these [steps](https://github.com/angular/bower-material#bower).

If you want a more stable dependency, you can use the version after the next PR gets merged which will look something like `1.1.10-master-3ef9a02`. You can find the hash to use in the [list of commits](https://

[2018-06-29 19:12] #11348 closed

[2018-06-29 19:18] Splaktar commented on #11348
Oh one more note, if you are actually on AngularJS `1.4.x`, please upgrade to at least `1.6.x` ASAP. Currently we only provide a minimum level of support for AngularJS `1.4.x` while fully supporting `1.5`, `1.6`, and recommending `^1.7.2`.

For the upcoming AngularJS Material `1.2.0` release, we plan to drop support for AngularJS `1.4` and `1.5`. We'll continue to support `1.6` while focusing our

[2018-06-29 20:13] #9396 closed

[2018-06-29 20:55] marosoft commented on #10461
This was implemented in ce5f7c2

This was to fix a problem with displaying the messages.
However I am not sure why this introduced showing warnings when ng-messages are not provided.

There are situations like the one provided in the demo where you just would like to highlight the problematic filed but without showing any extra error messages.

I believe the fix required was in 4 lines (the rest w

[2018-06-29 21:25] Splaktar commented on #11348
`1.1.10-master-3660a32` is now available with the fix to `bower.json`.

[2018-06-29 23:01] marosoft commented on #10461
Adding [CodePen](https://codepen.io/marosoft/pen/LrMMwp) with my fix applied.

[2018-06-29 23:11] marosoft commented on #10461
Adding [CodePen](https://codepen.io/marosoft/pen/qKLgZZ) for the other issue #9468. Fix for the autocomplete introduced the warnings in the console. This is to show that the fix itself is still working fine.

[2018-06-30 20:13] free-easy commented on #11175
Huh, I wasn't aware of this.
This feature is not so important for me, it was just something to have for convenience.
Since it might introduce such a bloat, then feel free to close it.

[2018-07-02 07:07] marshfire commented on #11348
@Splaktar Thanks for the fix. We're using angular 1.6, not 1.4 (1.4 was mentioned in the readme of bower-material). The switch to 1.7 is already planned, but still takes a while.

[2018-07-02 08:35] graphefruit commented on #864
@omieliekh This is the JavaScript repo for the old material framework.
Did you realy wanted to post this workaround here, or did you rather meant to post it on the Material-Typescript repo?

[2018-07-02 12:51] omieliekh commented on #864
@graphefruit right, I missed that somehow 😅

[2018-07-02 16:39] bushuyev opened #11354 "md-autocompl"
## Bug, enhancement request, or proposal:
bug

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](https://codepen.io/anon/pen/YvgprG?editors=1111) which demonstrates the issue:

https://codepen.io/anon/pen/YvgprG?editors=1111

#### Detailed Reproduction Steps:
1. click inot autocomplete's input field
2. type aaa

### What is the expected behavior?
there is single 'x' button

### What

[2018-07-02 18:31] Splaktar commented on #9810
@rajathms can you please open a new issue with a CodePen reproduction or point out an example in the docs where this happens? Please reference this issue.

[2018-07-02 18:39] Splaktar commented on #11339
I am not able to reproduce this using a Pixel XL running Android 8.1.0 with Chrome or Firefox. I tried quick pauses and long pauses, but the virtual keyboard appeared almost instantly each time.

Please provide more details on the reproduction and some indication of how this is a bug in AngularJS Material.

[2018-07-02 19:15] bersLucas commented on #11354
The black X on the left is inserted by the browser, not material.

Use this to globally remove them from your site:

[code]

[2018-07-02 19:19] codymikol commented on #11344
Hey, the project you're looking for is over here: https://github.com/angular/material2

This angular material is for angularjs 1.x

[2018-07-02 22:29] philip-firstorder commented on #1747
How about adding some print classes like these? https://getbootstrap.com/docs/4.1/utilities/display/#display-in-print
[code]

[2018-07-03 05:21] bushuyev commented on #11354
thank you!

[2018-07-03 05:21] #11354 closed

[2018-07-03 12:16] matthesrieke commented on #11339
Thanks for testing the issue. I can only give you the information I had in my original posting. The one difference I see is the Android version. I can only report it for 7.0 (I do not have other devices at my disposal). I have created a quick GIF showcasing the issue. I can also tell that normal input fields (both common HTML as well as Material inputs) work perfectly fine and always open up the v

[2018-07-04 06:31] jayapal-92 opened #11356 "Remove the chip form $pristine is not working."
## Bug, enhancement request, or proposal:

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](https://codepen.io/jayapal92/pen/BVExma) which demonstrates the issue:

#### Detailed Reproduction Steps:
1. Create a form with md-chips having a value.
1. Now try to remove that chip. Look for its pristine. It should actually get false but now its not getting affected on removing it.

### Wh

[2018-07-04 14:18] jalchr commented on #10623
Confirmed the fix is working

[2018-07-04 20:01] Splaktar commented on #11016
@marosoft are you only seeing this in CodePen then? Or is this affecting your actual production application?

Based on the [HTMLElement.dir docs](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/dir) it looks like the `dir` attribute can be applied to any DOM element.

But then there is also the [Document.dir](https://developer.mozilla.org/en-US/docs/Web/API/Document/dir) which applies

[2018-07-04 20:07] Splaktar commented on #9754
[Updated CodePen](https://codepen.io/Splaktar/pen/ZRNOYw) that shows the right way to do this atm since we only support applying `dir="rtl"` to the `html` or `body` elements.

Please see [my comments](https://github.com/angular/material/issues/11016#issuecomment-402551370) to discuss how you would like to move forward on this issue.

[2018-07-04 20:35] Splaktar commented on #11345
I am able to reproduce this on iOS 11.4. It seems like the `blur` events aren't being triggered or handled properly.

It looks like the newer versions of iOS introduce some non-standard way of interacting with select elements:
![simulator screen shot - iphone x - 2018-07-04 at 16 26 52](https://user-images.githubusercontent.com/3506071/42293329-6686f322-7fa7-11e8-8d3d-4c5805e48b2e.png)
This can be

[2018-07-04 20:45] Splaktar commented on #11345
It looks like that new select UI is on the iPhone X, but not the iPhone 5s:
![simulator screen shot - iphone 5s - 2018-07-04 at 16 43 48](https://user-images.githubusercontent.com/3506071/42293607-8a01ab38-7fa9-11e8-8fe3-370e30c8ba73.png)

This issue does not occur on macOS Safari (11.1.1 (13605.2.8)).

[2018-07-04 20:59] Splaktar commented on #11345
It looks like the `class="md-input-focused"` isn't being removed from the `md-input-container` when the `blur` event is fired.

The logic related to this can be found here:
https://github.com/angular/material/blob/master/src/components/select/select.js#L400-L422

It's unclear to me what these comments about `$touched` mean or why these extra checks are here for select as compared to input:
https:/

[2018-07-04 21:04] Splaktar commented on #11346
Can you please clarify the following?

It looks like you are trying to describe a situation where an additional click is required, but the reproduction steps are not clear.

[2018-07-04 22:49] marosoft commented on #11016
@Splaktar I found this issue and I thought it would be good to investigate where the problem is.

I do not have any production apps with RTL support. So I am not the best person to know how this should be used.
Intuition tells me that it should be handled on the element level. I agree that bidi function should be changed.

I remember seeing other component implementing its own checks rather then u

[2018-07-05 11:55] muskaanb3 commented on #7662
Worked for me..

Thanks

[2018-07-05 19:38] Splaktar commented on #4789
@Thaina This was closed a couple years ago when the team did a mass closing of issues that they didn't have resources to address. If this is a concern to you now, please open a new issue with a reproduction and reference this issue.

[2018-07-05 19:43] Splaktar commented on #884
@sethkoch which versions are you using? I updated the [CodePen](https://codepen.io/Splaktar/pen/PParMp?editors=1010#0) to 1.1.10 and AngularJS 1.7.2 and the issue appears to have been resolved.

[2018-07-05 19:56] Splaktar commented on #10850
Thank you for reporting this. I can reproduce this on the latest docs site (1.1.10).

[2018-07-05 20:00] Splaktar commented on #9534
@epelc sorry for the delay on this. I would be happy to presubmit a PR from you that made this change. I agree that it sounds like a better approach. We just need to verify that it doesn't cause any breaking changes.

[2018-07-05 20:07] Splaktar commented on #10257
It looks like this was solved in Angular Material via this PR https://github.com/angular/material2/pull/1792. We should be able to implement a similar solution.

Would anyone from the community be willing to investigate and open a PR for AngularJS Material based on the Angular Material PR?

[2018-07-05 20:16] Splaktar commented on #11347
Thank you for taking the time to submit this issue. However it does not follow our **required** issue template.

Please file a new issue that follows the template. This gives the team the information needed to investigate the bug or prioritize the feature.

[2018-07-05 20:16] #11347 closed

[2018-07-05 20:31] Splaktar opened #11357 "select(async): arrow keys cause search to be run again rather than allowing navigation within dropdown"
## Bug, enhancement request, or proposal:
Bug

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:
https://codepen.io/Splaktar/pen/qKzOZB?editors=1010
https://material.angularjs.org/latest/demo/select

#### Detailed Reproduction Steps:
1. Click the select to open the async search dropdown
1. Press the arro

[2018-07-05 20:32] Splaktar commented on #11347
Since this issue seems pretty serious, I opened https://github.com/angular/material/issues/11357 to track this.

[2018-07-05 20:46] Splaktar commented on #11349
I'm not sure what you mean by "NOT works". It is important to use our full issue template to avoid this kind of confusion.

I've updated the [CodePen](https://codepen.io/Splaktar/pen/BVgoVr?editors=1010) to be a little more clear, but in both the updated CodePen and in your CodePen, I don't see a problem.

What is the behavior that you expected?

How does the observed behavior differ from this?

I

[2018-07-05 20:48] Splaktar commented on #3158
@atulpareek093 Thank you for taking the time to post a comment in this issue. However there are better avenues for asking for help with your app. These include [Stack Overflow](https://stackoverflow.com/), [Gitter](https://gitter.im/angular/material), the [AngularJS Material forums](https://groups.google.com/forum/?pli=1#!forum/ngmaterial), etc.

Please limit GitHub issues to bug reports and enhan

[2018-07-05 20:56] epelc commented on #9534
@splaktar no worries.  I’m not using this project anymore(using all angular 2+ now). I think i ended up upgrading the component that needed this to ng2 because at the time I was half angularjs and half angular.

[2018-07-05 21:05] Splaktar commented on #11175
OK, thank you for the feedback. You are of course free to add the classes and mixins to support this to your own app's styles. Looking at our `layouts.scss` should give you a good idea on how to do this.

[2018-07-05 21:05] #11175 closed

[2018-07-05 21:10] Splaktar commented on #864
Just FYI, we added the ability to disable ink ripples across your app. Details can be found in our new performance guide for IE 11: https://material.angularjs.org/latest/performance/internet-explorer

[2018-07-05 21:13] Splaktar commented on #865
This is also related to https://github.com/angular/material/issues/864.

[2018-07-05 21:45] Splaktar commented on #1747
This was first looked into and discussed in the following PR: https://github.com/angular/material/pull/6784.

That PR was merged into another PR, https://github.com/angular/material/pull/6923, which extended the print improvements even further.

The most useful documentation for working with the new print styles can be found in this commit:
https://github.com/angular/material/pull/6923/commits/eb1

[2018-07-05 21:46] Splaktar commented on #1747
If anyone has any additional improvements or suggestions (like the ones above), please open a new issue or PR so that we can review them separately.

[2018-07-05 21:46] #1747 closed

[2018-07-05 21:53] Splaktar opened #11358 "docs(layout): document print classes and their usage"
## Bug, enhancement request, or proposal:
Proposal

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:
https://material.angularjs.org/latest/layout/introduction

#### Detailed Reproduction Steps:
1. Search the docs for guidance on styling for printing

### What is the expected behavior?
Docs would be foun

[2018-07-05 21:54] Splaktar commented on #1747
I opened https://github.com/angular/material/issues/11358 to document these features.

[2018-07-05 22:01] Splaktar commented on #11270
node-sass released v4.9.1 to fix this issue earlier today: https://github.com/sass/node-sass/issues/2355#issuecomment-402674792

[2018-07-05 22:13] Splaktar commented on #11270
It looks like we're still pulling in vulnerable versions of `hoek` via `karma@1.7.1` and `karma-sauce-launcher@1.2.0`.

[2018-07-05 22:23] Deezlar opened #11359 "Material FormField with Outline border styling issue on hover"
## enhancement request

# CodePen and steps to reproduce the issue:
#### Viewable on the Material Demo at
https://material.angular.io/components/form-field/overview

issue:
When using appearance="outline" on FormFields, the default mouseover thick border color is black, with no documented way to change this. On selection, the color is correctly reflected as the theme primary/accent/warn color

###

[2018-07-05 22:28] #11359 closed

[2018-07-05 22:29] Deezlar commented on #11359
Wrong version to raise this issue against

[2018-07-05 22:37] Splaktar commented on #11343
OK, I've got the tests passing and the warnings down to `found 32 vulnerabilities (17 low, 5 moderate, 10 high)`. Note that this means that all critical warnings are resolved.

[2018-07-05 23:46] marosoft commented on #10850
Actually what should be a default behaviour here? Should you be able to navigate through the chips if those are in readonly mode or not?

There are three lines of code in the chipsDirective.js file trying to block the navigation. However it is not blocked in the chipsController.js (left & right arrow key).

Removing the checks `!$mdChipsCtrl.readonly && ` in those lines fixes the problem with the

[2018-07-06 11:23] paresh-zibtek opened #11361 "MD Tabs Pagination Not Working?"
## Bug, enhancement request, or proposal:

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:

#### Detailed Reproduction Steps:
1.
1. MD-Tabs-Pagination not working at all?

### What is the expected behavior?

Can someone please advise me how to fix it? My current version of the angular material is 1.1.7

[2018-07-06 22:13] marosoft commented on #11322
What I can see is that an extra invisible character is added at the end of the text. That is why the cursor is not visible anymore after pressing the right arrow key.
When you press backspace afterwards it is going to remove it and from now on that chip should behave normally.

The problem seems to be related to this appended element (which is removed when pressing the backspace key):
https://gith

[2018-07-08 03:39] Splaktar commented on #11270
I haven't yet tracked down the `karma` related issues, but https://github.com/nodejs/node-gyp/pull/1471 is another `Moderate` level issue with `hoek` that should get resolved "soon". It looks like the PR is ready to be merged in `node-gyp`.

[2018-07-09 00:58] Splaktar commented on #11356
I can reproduce this. It's affecting `$dirty` as well. I simplified the [CodePen(https://codepen.io/Splaktar/pen/bKXXLm?editors=1010) a little and do also see that it worked in 1.1.9. I'm working on adding a unit test for this now.

[2018-07-09 01:29] Splaktar commented on #11356
PR https://github.com/angular/material/pull/11363 will fix this.

[2018-07-09 02:09] Splaktar commented on #10850
For a11y, I thought that we might need to allow focusing and selecting of readonly chips as that might be the only way that a screen reader would be able to see what chips exist.

However, after doing some testing in Voiceover tonight, that isn't the case. The screen reader has a way to go through each chip using screen reader specific shortcuts (not arrows or tab).

So it looks like the actual fi

[2018-07-09 02:12] Splaktar commented on #10850
@marosoft thank you for asking before creating the PR. I've clarified things a bit above. It still looks like the fix is somewhat straightforward if you would like to investigate a little more and submit a PR. Thank you very much for helping to dig into this!

[2018-07-09 02:16] #11361 closed, assigned to nobody

[2018-07-09 02:36] Splaktar commented on #11322
The appended element is supposed to say

But it looks like it isn't resolving the `$mdChipsCtrl` when it is compiled in `MdChip`'s `postLink`.

[2018-07-09 05:08] Splaktar commented on #11322
Just wanted to note that this is a regression that was introduced in 1.1.2.

[2018-07-09 05:15] Splaktar commented on #11322
PR https://github.com/angular/material/pull/11364 solves this. Thanks to @marosoft for the lead which led to the fix!

[2018-07-09 20:13] #11329 closed

[2018-07-09 20:14] #11270 closed

[2018-07-09 20:14] #11343 closed

[2018-07-09 20:15] #11312 closed

[2018-07-10 07:10] dinebennett commented on #3762
Bugsnag is also reporting this error for me in the following versions of Android browser:
4.0.4, 4.1.1, 4.1.2, 4.2.0, 4.2.1, 4.2.2, 4.4.2, 4.4.4, 5.1.0, 6.1.0

We are using angular material 1.1.1

[2018-07-10 08:43] Splaktar commented on #3762
@dinebennett that issue was fixed in AngularJS Material 1.1.2 via PR https://github.com/angular/material/pull/9664.

[2018-07-10 16:12] Oneril opened #11366 "md-tabs: text turns to dots on small screen on IE11"
__Actual Behavior:__
When number of tabs exceeds the horizontal space tabs label are cut and dots appear.

__CodePen (or steps to reproduce the issue):__
* https://codepen.io/anon/pen/LBYrWL
* Resize your browser and see when the the dots appear

__AngularJS Versions:__
* AngularJS Version: 1.6.7
* AngularJS Material Version: 1.1.10

__Additional Information:__
* Browser Type: IE
* Browser Version

[2018-07-10 20:45] Splaktar commented on #11366
Dupe of https://github.com/angular/material/issues/10406.

[2018-07-10 20:45] #11366 closed

[2018-07-11 08:16] Oneril commented on #11366
Weird I couldn't find it yesterday... Sorry for that ;)

[2018-07-11 10:36] TemitaTom commented on #11349
Hi
Sorry, for reproduce this issue you needed multiple ng-include -multiples scopes-. Sorry for my bad english.

[2018-07-11 13:46] kefimo commented on #9499
Any news? i have the same problem . There is a solution or a bypassing solution??

[2018-07-11 18:47] Splaktar commented on #8861
FYI, we have added a new [IE11 Performance Guide](https://material.angularjs.org/latest/performance/internet-explorer) that should help mitigate this.

[2018-07-11 18:48] Splaktar commented on #9499
FYI, we have added a new [IE11 Performance Guide](https://material.angularjs.org/latest/performance/internet-explorer) that should help mitigate this.

I'm going to close this as no demo was provided as requested. We are still tracking some select performance issues in https://github.com/angular/material/issues/8861.

[2018-07-11 18:48] #9499 closed

[2018-07-11 22:51] #11322 closed

[2018-07-12 00:33] marosoft commented on #11357
@Splaktar I believe I found the source of the problem. `autoFocus` is invoked after `showDropDown` promise is resolved at: https://github.com/angular/material/blob/master/src/components/select/select.js#L1184.

The issue is that it should be invoked again for the async when all the options are loaded.
For me the best place to add it is just after `info.dropDown.element.css(animator.toCss({transfor

[2018-07-12 01:08] Splaktar commented on #11357
@marosoft that sounds good, thank you! Please open the PR.

[2018-07-12 01:31] Splaktar commented on #8614
This appears to have been resolved.

[2018-07-12 01:31] #8614 closed

[2018-07-12 01:53] Splaktar commented on #8686
I'm not sure how this solves your use case, but this [CodePen](https://codepen.io/Splaktar/pen/xJbNBq?editors=1010#0) demonstrates how to do what you are asking for.

[2018-07-12 01:53] #8686 closed

[2018-07-12 02:02] Splaktar commented on #8821
I updated the [CodePen](https://codepen.io/Splaktar/pen/VBYJvx) to 1.1.10 and I also tested with 1.0.8. I wasn't able to reproduce this issue on an Android device in Chrome or on macOS in Chrome's device mode with an iPhone 5, Pixel 2, or Pixel 2 XL.

[2018-07-12 02:02] #8821 closed

[2018-07-12 02:05] Splaktar commented on #8828
The linked website no longer exists and there is no CodePen demo, so I'm going to close this.

[2018-07-12 02:05] #8828 closed

[2018-07-12 02:12] Splaktar commented on #8929
I am not able to reproduce this on macOS in Chrome. Perhaps this is an issue that is specific to Windows since they have significantly different scroll bars.

Can anyone confirm that this is still a problem on Windows?

I will try to look at this the next time I'm on Windows.

[2018-07-12 02:18] Splaktar commented on #8985
This appears to be resolved as seen by the latest [select docs page](https://material.angularjs.org/latest/demo/select).

[2018-07-12 02:18] #8985 closed

[2018-07-12 02:28] Splaktar commented on #9443
The author didn't respond to the suggested fix, so I am assuming that it worked. Closing this.

[2018-07-12 02:28] #9443 closed

[2018-07-12 02:40] Splaktar commented on #9103
I can reproduce this with AngularJS 1.7.2 and AngularJS Material 1.1.10 in this [updated CodePen](https://codepen.io/Splaktar/pen/pZvXQe?editors=1010). It's very odd that the checkboxes don't show up at all just because `ng-bind` is used.

[2018-07-12 02:44] Splaktar commented on #9326
I can still reproduce this in 1.1.10 via this [updated CodePen](https://codepen.io/Splaktar/pen/gjbNJO?editors=1010#0). The options panel should match the size of the input just like when `multiple` is not used.

[2018-07-12 02:53] Splaktar commented on #9061
This is because `ng-if` causes a new scope to be created. The solution is to use `ng-controller="MyController as ctrl"` syntax as demonstrated in this [CodePen](https://codepen.io/Splaktar/pen/ZjYgEv?editors=1010#0).

[2018-07-12 02:53] #9061 closed

[2018-07-12 02:57] Splaktar commented on #9341
Closing this since there was no demo supplied, plus I believe that this was fixed.

[2018-07-12 02:57] #9341 closed

[2018-07-12 03:00] Splaktar commented on #9402
It seems like I can still reproduce this on the latest docs site.

[2018-07-12 03:02] Splaktar commented on #9405
If this is still an issue, please provide a CodePen demo.

[2018-07-12 03:02] #9405 closed

[2018-07-12 03:06] Splaktar commented on #9408
This would be a nice enhancement to have as this still isn't in 1.1.10 as demonstrated by this updated [CodePen](https://codepen.io/Splaktar/pen/xJbvRM?editors=1010#0). The priority is low though as the workaround is very straightforward.

[2018-07-12 03:12] Splaktar commented on #9409
I cannot reproduce this on macOS and Chrome 67.

Is this still an issue for you?
Is it only on Ubuntu?

[2018-07-12 03:19] Splaktar commented on #9460
It looks like this might have been a bug with Flexbox in Chrome. I can't reproduce this in Chrome 67, even using the same AngularJS Material version.

[2018-07-12 03:19] #9460 closed

[2018-07-12 03:20] Splaktar commented on #9728
Closing since a demo CodePen was not provided.

[2018-07-12 03:20] #9728 closed

[2018-07-12 03:49] Splaktar commented on #9789
I don't see a problem with following the steps in the CodePen. The `md-on-close` is not supposed to be triggered if the options panel never opens.

If this is still a problem, please provide more of a description of the reproduction steps and the expected result.

[2018-07-12 03:49] #9789 closed

[2018-07-12 03:54] Splaktar commented on #9816
- You can find more about [@angular/flex-layout here](https://github.com/angular/flex-layout).
- It does not support AngularJS.
- There are breaking changes when migrating from AngularJS Material to Angular Material and Angular Flex Layout.

Currently in the linked example page there is clear wording about which values are allowed.

[2018-07-12 03:54] #9816 closed

[2018-07-12 19:09] shrisowdhaman commented on #4781
We can Fix this issue by using MomentDateAdapter
1.  "@angular/material-moment-adapter": "6.3.2", in package.json
2.

export const dateFormat = 'YYYY-MM-DD';

export const MOMENT_DATE_FORMATS: MatDateFormats = {
  parse: {
    dateInput: dateFormat
  },
  display: {
    dateInput: dateFormat,
    monthYearLabel: 'MMMM Y',
    dateA11yLabel: 'LL',
    monthYearA11yLabel: 'MMMM Y'
  }
};

3.
@Compon

[2018-07-12 19:22] Splaktar commented on #4781
@shrisowdhaman Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-07-12 19:43] Splaktar commented on #9959
Looks like this was broken by 12ceef39d80b9b8e49374c121511554132eec847. Thank you for pointing this out!

[2018-07-12 19:48] Splaktar commented on #9922
Closing as no valid demo was provided.

[2018-07-12 19:48] #9922 closed

[2018-07-12 19:57] #9959 closed

[2018-07-12 20:08] Splaktar commented on #9918
This is done using `extendPalette` and `contrastLightColors` as demonstrated in this [CodePen](https://codepen.io/Splaktar/pen/pZJxOB?editors=1010).
[code]

[2018-07-12 20:08] #9918 closed

[2018-07-12 20:23] Splaktar commented on #9592
I updated the [CodePen](https://codepen.io/Splaktar/pen/PBqxzx?editors=1010) to 1.1.10 and still see this issue. I also [reproduced this issue](https://codepen.io/Splaktar/pen/xJGQrL?editors=1010#0) in the Validations demo for select.

@rudzikdawid do you think that you can look at this one please?

[2018-07-12 20:32] Splaktar commented on #9104
@eladh please open a new issue with a CodePen reproduction if that is still a problem for you in 1.1.10 or `master`.

[2018-07-12 20:34] Splaktar commented on #9167
Closing since this should have been fixed and the CodePen demo link is invalid.

[2018-07-12 20:34] #9167 closed

[2018-07-12 20:41] Splaktar commented on #9985
This [demo](https://codepen.io/Splaktar/pen/MBwzxp?editors=1010#0) shows that this is fixed in 1.1.10 via PR https://github.com/angular/material/pull/11313.

[2018-07-12 20:41] #9985 closed

[2018-07-12 20:44] Splaktar commented on #9957
No, we don't have a pagination component that integrates different AngularJS Material components together. You can certainly build your own.

Angular Material does have one: https://material.angular.io/components/paginator/overview

[2018-07-12 20:44] #9957 closed

[2018-07-12 20:50] #9986 closed

[2018-07-12 21:13] #9992 closed

[2018-07-12 21:41] Splaktar commented on #9601
It's using the color from the palette that you defined as mentioned above. For primary, raised buttons that are hovered the theme uses the `600` color which you didn't override.

Adding something like `'600': '#43a047',` solves this as [demonstrated here](https://codepen.io/Splaktar/pen/LBVMrK?editors=1010).

[2018-07-12 21:41] #9601 closed

[2018-07-12 21:49] Splaktar commented on #10002
Hey @nuragic, sorry for the delay in responding.

I think that only @matsko could really explain why all 3 calls of each are needed. In https://github.com/angular/material/commit/fb04d077afb571e40fbc7fc41edc4b1cd474e43f he mentions the following:

My best guess is that some of the AngularJS Material animations trigger one or two more rounds of animations and that this accounts for that.

Thank you

[2018-07-12 21:49] #10002 closed

[2018-07-12 22:00] Splaktar commented on #10418
Closing as no demo was provided.

[2018-07-12 22:00] #10418 closed

[2018-07-12 22:42] Splaktar commented on #10044
Please take a look at the following docs:
https://material.angularjs.org/latest/api/service/$mdTheming
https://material.angularjs.org/latest/Theming/04_multiple_themes
https://material.angularjs.org/latest/Theming/05_under_the_hood

Here's a working [demo](https://codepen.io/Splaktar/pen/QBbYqV).

[2018-07-12 22:42] #10044 closed

[2018-07-12 22:44] #10059 closed

[2018-07-13 06:47] rudzikdawid commented on #9592
@Splaktar in your CodePen example there is no `md-theme` directive inside view or any  `$mdThemingProvider` inside controller, i think that is why theme classes not applied to mdSelect.

Look at https://codepen.io/anon/pen/XBmJjZ?editors=1010 here with `md-theme` theme classes are applied to mdSelect

[2018-07-13 12:31] jeevasusej commented on #5707
I have used this solution for the whole content of the ipad. but the we are getting issue in the datepicker after applying this.
`transform: translate3d(0px, 0px, 0px); `

[2018-07-14 00:05] Splaktar commented on #9592
Right, but the default theme (indigo primary and pink accent) should still work properly. I added that in another [CodePen](https://codepen.io/Splaktar/pen/jpbemx?editors=1010#0) but it didn't make a difference.

![screen shot 2018-07-13 at 8 02 27 pm](https://user-images.githubusercontent.com/3506071/42718537-d5bac958-86d7-11e8-85f0-6747371f42fc.png)
The ink isn't taking the accent color here but

[2018-07-14 01:10] Splaktar commented on #9991
Please provide a demo if this is still an issue and I would be happy to look into this.

As is, I can't tell if you imported `angular-sanitize.js` or injected `ngSanitize` in your module, etc. More information on this can be found in https://docs.angularjs.org/api/ng/directive/ngBindHtml.

[2018-07-14 01:10] #9991 closed

[2018-07-14 01:17] Splaktar commented on #10014
In Safari 11.1 with AngularJS Material 1.1.10, I do so some minor shifts in location as the menu appears to be re-rendered at each zoom. The functionality seems to still work and the menu is still generally in the right position, but in some cases it can be offset by up to 20px or so.

[2018-07-14 01:19] Splaktar commented on #10019
I would suggest using [md-nav-bar](https://material.angularjs.org/latest/demo/navBar) instead. Closing as there is no demo.

[2018-07-14 01:19] #10019 closed

[2018-07-14 01:44] Splaktar commented on #10020
There are differences between how `ng-messages` are triggered between AngularJS (input invalid) and AngularJS Material (touched and invalid).

You can change `md-input-container` to work like AngularJS by using `md-is-error` (i.e. ` md-is-error="projectForm.description.$invalid"`). [This demo](https://codepen.io/Splaktar/pen/pZjQvm?editors=1010#0) demonstrates this.

The docs for this are found [h

[2018-07-14 01:44] #10020 closed

[2018-07-14 01:59] Splaktar commented on #10041
I simplified [the demo](https://codepen.io/Splaktar/pen/MBazjW?editors=1010) a bit. But it shows that this is still an issue in 1.1.10 and it shows that tooltips on `ng-repeat`ed elements work fine outside of `md-menu-content`.

There is a second issue that that menu button has the tooltip from one of the buttons contained in the `md-menu-content`.

[2018-07-14 02:10] Splaktar commented on #10043
I fixed up some issues with the image paths in your demo. But after [doing that](https://codepen.io/Splaktar/pen/MBazmY?editors=1010), I can't see any overflow issues. Your comments above seem to indicate that the demo actually works as expected. But then you only provide a screenshot of the problem, but no demo for us to debug or reproduce the issue.

I've seen this kind of thing before and it is

[2018-07-14 02:11] #10043 closed

[2018-07-14 02:34] Splaktar commented on #10134
It looks like this was a Safari Flexbox bug. It seems to be working in Safari 11.1 and may well work in 10.3 as well.

[2018-07-14 02:34] #10134 closed

[2018-07-14 02:37] Splaktar commented on #10138
This seems related to https://github.com/angular/material/issues/9994 which has an open PR (https://github.com/angular/material/pull/11110).

Thank you for taking the time to submit this issue. However it does not follow our **required** issue template.

Please file a new issue that follows the template. This gives the team the information needed to investigate the bug or prioritize the feature.

[2018-07-14 02:37] #10138 closed

[2018-07-14 02:38] Splaktar commented on #10102
There isn't enough information here to be actionable. It's not clear what you are trying to do and no demo was provided.

[2018-07-14 02:38] #10102 closed

[2018-07-14 02:41] Splaktar commented on #10104
This is documented [here](https://material.angularjs.org/latest/api/directive/mdTabs#attributes) via the `md-enable-disconnect` attribute. However, it is highly recommended to use the [md-nar-bar](https://material.angularjs.org/latest/demo/navBar) instead.

[2018-07-14 02:41] #10104 closed

[2018-07-14 02:50] Splaktar commented on #10154
It looks like this was added in the [original commit](https://github.com/angular/material/commit/47f0d09e9ebd87891703fa2b7e81355ce3952a86#diff-2a98812fedf7173f142f890cb0c29b850), but even there it doesn't appear to be used.

[2018-07-14 02:55] Splaktar commented on #10154
This was fixed in 1.1.6 via https://github.com/angular/material/commit/f1e4fcb151a62a4930e983247ddccd5e877a386e#diff-2a98812fedf7173f142f890cb0c29b85.

[2018-07-14 02:55] #10154 closed

[2018-07-14 02:56] Splaktar commented on #10165
Thank you for taking the time to submit this issue. However there are better avenues for troubleshooting or asking for help with your app. These include [Stack Overflow](https://stackoverflow.com/), [Gitter](https://gitter.im/angular/material), the [AngularJS Material forums](https://groups.google.com/forum/?pli=1#!forum/ngmaterial), etc.

Please limit GitHub issues to bug reports and enhancement

[2018-07-14 02:56] #10165 closed

[2018-07-14 02:59] Splaktar commented on #10213
It's not clear what is being requested here. There is no demo and the OP doesn't use the issue template.

If you have found an issue with using `ng-blur` on an `input` within `md-input-container`, please open a new issue with a CodePen reproduction.

[2018-07-14 02:59] #10213 closed

[2018-07-14 03:00] Splaktar commented on #10232
Thank you for taking the time to submit this issue. However there are better avenues for troubleshooting or asking for help with your app. These include [Stack Overflow](https://stackoverflow.com/), [Gitter](https://gitter.im/angular/material), the [AngularJS Material forums](https://groups.google.com/forum/?pli=1#!forum/ngmaterial), etc.

Please limit GitHub issues to bug reports and enhancement

[2018-07-14 03:00] #10232 closed

[2018-07-14 06:51] Ardeshir81 commented on #10546
Thanks @HansWouters !
strangely a `track by $index` solved my problem (or maybe did not solve, it just helped burying the console error logs), but by the way my md-radio-button and md-radio-group are working and correct value is being passed! strange!

By the way, I tried some to find the issue, I didn't, but I found out this line was causing exception in my case:
[code]

in `      if (element[0].

[2018-07-14 13:57] rudzikdawid commented on #9592
![](https://i.imgur.com/3K6505o.png)

`input` element behavior: changing `label` color after click (focus), so firstable we need investigate label from `md-select` element

inside rendered DOM `md-input-container` element with class `md-accent` we have `label` element witch have accent color `rgb(255,64,129)` so theme engine affect on `label` element
[code]
but... what we see as label of `md-selec

[2018-07-14 16:41] marosoft commented on #11357
@Splaktar I am sorry for spamming... I was not aware all the commits I am pushing to my branch with reference to this issue will be listed here. Now I know.

[2018-07-16 06:51] atorma commented on #8929
I tested again using the [CodePen demo](http://codepen.io/atorma/pen/kXyjZA) on Windows 10 in

* Chrome 67.0.3396.99
* Firefox 61.0.1
* Edge 42.17134.1.0

First I tested using the original Angular Material version 1.1.0-rc.5, then updated the CodePen to AM 1.1.10. Both versions behaved similarly.

Now the menus themselves are entirely visible. However, a problem still remains in each of the browse

[2018-07-16 09:31] SSPai123 commented on #10975
Any updates/ solution for this issue??

[2018-07-17 05:33] SSPai123 commented on #2492
@daniel-nagy - The "forceSelect" directive to mark the input field as invalid if the user does not select a md-autocomplete option was very useful. Thanks!

But I am facing a new issue which is upon selecting the item from the list, the field momentarily turns to its invalid state and displays the error message. This type of behavior is not desired.

I found this issue https://github.com/angular/m

[2018-07-18 19:22] Splaktar commented on #10546
It looks like we could add a check that `element[0].parentNode` exists here, but we really need a CodePen reproduction of this issue to debug it and provide a fix.

[2018-07-19 01:43] Splaktar commented on #10609
I verified that changing https://github.com/angular/material/blob/v1.1.10/src/components/virtualRepeat/virtual-repeater.js#L836-L841 to use a `$timeout` of `100` (instead of `$mdUtil.nextTick`) seemed to fix this, but it seemed a little hacky. Using a value of `0` does the same general thing as the existing code and a low value like `1` didn't seem to help.

I looked around for some way to trigger

[2018-07-19 01:50] Splaktar commented on #11357
@marosoft it's no problem. They don't trigger notifications.

[2018-07-19 02:00] Splaktar commented on #10975
@SSPai123 nope, no updates at this time. It would be great if someone from the community could investigate and determine the cause of this issue.

[2018-07-19 02:10] Splaktar commented on #2492
@SSPai123 please try [Stack Overflow](https://stackoverflow.com/) or the [AngularJS Material forums](https://groups.google.com/forum/?pli=1#!forum/ngmaterial).

[2018-07-19 02:12] Splaktar commented on #8929
@atorma great, thank you for confirming that and providing the updated details!

[2018-07-19 02:31] Splaktar commented on #10999
This seems like a similar issue with `$mdUtil.nextTick` as seen in https://github.com/angular/material/issues/10609#issuecomment-406127512.

[2018-07-19 06:35] imPRAGMA commented on #3258
Just feed it `ng-click="null"` aswell as your custom way to open the menu (ng-right-click e.t.c). It will not do any errors, and will work. 👍

[2018-07-19 13:33] farantesrodrigues commented on #3336
@quocphu thank you for the tip.
You can also use `$document[0].activeElement.blur();` in the onComplete callback.

[2018-07-19 16:03] mikg2003 commented on #8820
I'm sure I'll get a response of essentially 'move to angular material 2', but was a fix ever implemented for this?  Does anyone have a basic workaround?

[2018-07-19 18:07] Splaktar commented on #4737
We now have [mdAutofocus docs](https://material.angularjs.org/latest/api/directive/mdAutofocus).

[2018-07-19 18:23] Splaktar commented on #7101
Going to track ability to specify a custom z-index for components in https://github.com/angular/material/issues/8475.

[2018-07-19 18:23] #7101 closed

[2018-07-19 18:29] Splaktar commented on #8820
@mikg2003 no, a fix for this has never been merged or released.

[2018-07-19 23:17] Splaktar commented on #6375
@r0b- can you please confirm the version of AngularJS Material that you are still seeing this issue with? The fix in #8289 went into 1.1.0.

I'll close this if you aren't seeing it anymore or if I don't get a response.

I'm also looking for a CodePen demo of this issue so that I can debug it. For now, I will look at https://github.com/angular/material/issues/9690 since it seems to be related (poss

[2018-07-20 00:42] Splaktar commented on #9690
PR https://github.com/angular/material/pull/11375 has been submitted with the fix for this issue. My apologies for the lengthy delay in resolving this.

[2018-07-20 00:43] Splaktar commented on #6375
It does indeed look like https://github.com/angular/material/issues/9690 is the same issue as this one.

PR https://github.com/angular/material/pull/11375 has been submitted with the fix for these issues. My apologies for the lengthy delay in resolving this serious issue.

[2018-07-20 07:57] Ruudi-V commented on #11339
I currently have an analogous problem. The bug was introduced, when i added md-min-length="0" to the autocomplete.
![autocomplete-bug](https://user-images.githubusercontent.com/41464140/42990474-695ae73c-8c0b-11e8-8db7-d0732289e860.gif)

Related code:
            <md-autocomplete
                md-selected-item="vm.interfaces.selected"
                md-search-text="vm.searchText"

[2018-07-20 15:32] pavelsl commented on #11346
Guys... just take a device and spent time with the product you are working with. I have spent enough of my time finding issues, trying to reproduce, and describe this.

I have tried many version that thing just presents.

Now i visited this repo to try to find another issue solution. And again it exist in several material lib versions and reproducible in many iPads safari browsers of different iOs

[2018-07-20 15:36] pavelsl commented on #11345
Wow, i'm very impressed seeing one had reproduced issue i'm talking about. God bless you. I thought you are not exist. Hope in the new version we see less issues not more and this one.

Looking to https://material.angularjs.org/latest/demo/select on my iPad mini iOs 11 i can say that dropdown position never updated after scrolling. Not sure whether you want it like this.

[2018-07-20 17:55] NgMomentum opened #11377 "tabs: elements variable in MdTabsController is no longer referenced"
## Bug, enhancement request, or proposal:

Small correction or update to MdTabsController controller.

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:
Not applicable.

#### Detailed Reproduction Steps:
1.
1.

### What is the expected behavior?
Variable not needed.

### What is the current behavior?

Va

[2018-07-21 07:32] mohitangiras commented on #3401
<div layout="row" layout-align="space-between"
                     	class="myContainer" ng-init="$watch('innerIndex=$index')">

then use innerIndex inside the container. This works for me

[2018-07-21 19:20] Splaktar commented on #10574
@rayfoss that issue does have a Milestone. Any of the issues with `Deprecated` as the Milestone can be considered to have the label `won't fix`.

[2018-07-21 20:04] Splaktar commented on #11346
@pavelsl I can appreciate your frustration, but please try to stay constructive and avoid making accusations.

My response above was made so that I would be sure what the desired behavior was and what the described issue is. I was asking this so that I could try to ensure that any possible fix would fully address the concerns raised.

As I am still not fully clear on what issue is being reported h

[2018-07-21 20:11] Splaktar commented on #11377
A GitHub link to the source where that variable is defined would be very helpful.

[2018-07-21 20:17] Splaktar commented on #11377
It looks like the variable in question is https://github.com/angular/material/blob/v1.1.10/src/components/tabs/js/tabsController.js#L14.

It does look like all of the references are now using [getElements()](https://github.com/angular/material/blob/v1.1.10/src/components/tabs/js/tabsController.js#L470-L491) instead of using the controller scoped `elements` variable.

[2018-07-21 20:42] Splaktar commented on #11377
PR https://github.com/angular/material/pull/11379 submitted to address this.

[2018-07-21 23:11] marosoft commented on #10850
@Splaktar I checked this again. I was playing with Voiceover (never used it before) and I could not make it work properly until I implemented further changes.

I will create a PR soon. For now, please check this CodePen: https://codepen.io/marosoft/pen/RBKvoQ?editors=1010#0

[2018-07-22 06:54] Splaktar commented on #10850
@marosoft For some reason it's telling me "5 of 7" for Apple, but then "1 of 3" and "2 of 3" for Banana and Orange.

In some cases, it's not letting me get into the list with the ctrl-option-shift-down shortcut (odd).

I tried the ctrl-option-down shortcut and that takes me into the chip and starts reading the "Press delete to remove this chip" message. We should probably not set that `aria-label`

[2018-07-23 06:54] Ruudi-V commented on #11339
What more info could I provide to help you track down the bug?

[2018-07-23 07:52] pavelsl commented on #11346
Hi, @Splaktar Tx for the good answer. I would go with option `2)` to disable that backdrop when it needs.

What is the reason for having the backdrop? Handling blur event on elements which have no blur event?
As usual i check click target & target parents chain to understand whether we clicked the same element or outside of it.

The behavior it adds could confuse users indeed. Imaging that you wan

[2018-07-23 08:02] pavelsl commented on #11346
@Splaktar Talking about options it would be great to live only input styling for mobile devices (having option for that) and let user see device native dropdown styling. That could avoid many problems, as positioning dropdowns is tricky.

[2018-07-23 09:44] pavelsl opened #11382 "select: dropdown position is wrong in iOS Safari"
## Bug:

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://output.jsbin.com/nenuquy): usage with flexbox grid
#### [CodePen Demo](http://output.jsbin.com/roxifow): usage with floating grid (tried to see if issue reproducible if we are not using flexbox)
#### [CodePen Demo](http://output.jsbin.com/wupakap): almost no custom css (no grid at all)

#### Detailed Reproduction Steps

[2018-07-23 10:08] pavelsl commented on #11382
@Splaktar Might this will be interesting for you.

[2018-07-23 18:38] mcdonagj commented on #1837
**Doesn't work:**
`<md-select ng-model="thing">
        <md-option ng-repeat="rate in available_rates">{{rate}}</md-option>
</md-select>`

**Works:**
`<select ng-model="thing" ng-options="rate for rate in available_rates"></select>`

Any input on this issue would be greatly appreciated.
As it stands, I can't use `md-select` in my project, which is bothersome.

[2018-07-24 13:13] pavelsl commented on #11382
It would be great to have any method to trigger recalculation of md-select dropdown position.

[2018-07-24 17:33] m3rolam opened #11383 "Dynamically selecting tabs"
Bug:
Tab group does not select tab dynamically.

# CodePen and steps to reproduce the issue:
https://stackblitz.com/angular/eardvdpkrkgy?file=app%2Ftab-group-dynamic-example.html

issue:

#### Detailed Reproduction Steps:
1. Go to tab example.
2. Check 'Select tab after adding'
2. Click 'Add New Tab'

### What is the expected behavior?
The added tab is selected.

### What is the current behavior?

[2018-07-25 08:33] simonered commented on #7662
@ericel 's solution is for angular material 1 or 2? What is `this.dialog`?

[2018-07-25 08:35] ericel commented on #7662
@simonered that’s material 2!

[2018-07-25 10:48] DarkSiderOC commented on #1837
The main reason this should be fixed is that rendering a lot of options using ng-repeat causes performance issues, while ng-options woule be optimal. e.g I have to render a list of 20 items each with 2 md sleect both containing 15 options. Needless to say it is very slow.

[2018-07-26 12:59] avakatushka opened #11384 "tabs: visual indicator of focus is missing"
## Bug

#### CodePen and steps to reproduce the issue:
When you go through the page using tab key (for example, tabs demo) you can see no indicator of that the md-tabs element have recieved focus. But if you use arrow key to navigate through md-tabs, visual indicator appears, and keeps working properly.

#### Detailed Reproduction Steps:
1. Go to Tabs Demo Page https://material.angularjs.org/1.1.5

[2018-07-26 13:34] codymikol commented on #11383
This github is actually for the angularJS (Angular 1.x) version of angular material, you should check over [here](https://github.com/angular/material2 ) for the Angular version of material.

[2018-07-26 13:45] codymikol commented on #11382
This seems to work fine for me on iOS 11.x

![image](https://user-images.githubusercontent.com/13606342/43266096-794006f8-90b8-11e8-9bd7-d9a225235316.png)

[2018-07-26 13:53] codymikol commented on #11384
Can confirm this is an issue on 1.1.10 as well

[2018-07-26 15:36] tinyweasel commented on #9019
I would also like this feature.

[2018-07-26 17:37] #10461 closed

[2018-07-26 18:59] #11377 closed

[2018-07-27 08:23] simonered commented on #7662
That's what I was afraid of...! The problem is that THIS is the repository of **angular material 1**....

[2018-07-28 21:12] marosoft commented on #10156
Please find more info and a workaround in #11016

[2018-07-29 03:14] #9592 closed

[2018-07-29 03:15] #11357 closed

[2018-07-29 04:30] #6375 closed

[2018-07-29 04:30] #9690 closed

[2018-07-30 07:08] Splaktar commented on #11382
@pavelsl Can you please provide the device model? iPhone 5, 8, X, etc.

[2018-07-30 07:09] Splaktar commented on #11383
Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-07-30 07:09] #11383 closed

[2018-07-30 07:16] Splaktar commented on #11384
It looks like this is working properly in [1.1.4](https://material.angularjs.org/1.1.4/demo/tabs#dynamic-height) and that this is a regression introduced in 1.1.5.

This is probably related to one of the following:

- tabs: accessibility and keyboard interaction fixes (#10706) (072f832), closes #10075
- tabs: add proper RTL support. (#9301) (338ca27), closes #9292
- tabs: allow right and left arro

[2018-07-30 07:34] Splaktar commented on #9543
This is fixed in 1.1.10 as seen in this [updated CodePen](https://codepen.io/Splaktar/pen/qypOKd?editors=1011).

[2018-07-30 07:34] #9543 closed

[2018-07-30 07:48] Splaktar commented on #4595
PR https://github.com/angular/material/pull/6486 addresses this but was actually thoroughly reviewed but then closed due to the mass issue purge. We should investigate whether [those changes](https://github.com/angular/material/pull/6486/files) are still a valid starting point for solving this today.

I'm going to lower the priority to P2 since there haven't been any 👍 on this issue.

[2018-07-30 07:53] Splaktar commented on #7632
Closing this as it is assumed to be working since feedback to the above investigation was not provided.

[2018-07-30 07:53] #7632 closed

[2018-07-30 08:31] Splaktar commented on #6048
This seems to be working as expected. Here's an [example CodePen](https://codepen.io/Splaktar/pen/aVjMdo?editors=1010) of how to do this using `locals` and the value returned from the dialog's promise.

This is similar to https://github.com/angular/material/issues/6048#issuecomment-276868310, but it's actual working code that you can play with.

[2018-07-30 09:23] pavelsl commented on #11382
@Splaktar
I believe any not the newest device (which is slower than iPad Pro @codymikol's ) as the issue.

I have two iPad's mini.
Exact iOs version of iPad mini #1 is v10.1.1 & iPad mini #2 is v11.3. And the issue is reproducible on both of them. Screenshots are taken on v10.1.1

Can check on old iPad 2 as well which has iOs v9.x
----
I was able to fix this by additional position check which happ

[2018-07-30 12:18] TemitaTom opened #11387 "datepicker: not update value when is entered manually and is invalid"
#### Detailed Reproduction Steps:
1. Add a datepick with "valid" error message, enter valid data -model is update-, change to invalid date manually -model not is updated-.

### What is the expected behavior?
On enter manually invalid date, update model value correctly

### What is the current behavior?
On tip manually the date, for example 01/01/2018 and enter and error 01/01/2018sdfsdfsdf this sh

[2018-07-30 23:53] Splaktar commented on #11339
@Ruudi-V your CodePen doesn't run for me. I tried to [fix it a bit](https://codepen.io/Splaktar/pen/KBZEdX?editors=1010#0), but it seems to have some external dependencies.

[2018-07-31 00:32] Splaktar commented on #11339
I tested this again on a Motorola Nexus 6 with Android 7.0.0. I used SwiftKey keyboard and saw no problems or delays at all. Then I tested with GBoard (the Google Keyboard) and there were a few cases where I could get it to take 2-6 seconds before the keyboard would appear. However, this is an issue with Android and GBoard and not AngularJS Material.

I also tested with the autocomplete panel over

[2018-07-31 00:40] Splaktar commented on #11346
OK, I've updated the title and labels for adding a new `md-no-backdrop` option for select.

For now I'm going to leave this for external, community contributors to address as we have a significant backlog of higher priority issues to address.

[2018-07-31 00:45] Splaktar commented on #11283
@rreitmann glad to hear that they can reproduce it. I added my ⭐️ 😁

[2018-07-31 00:59] Splaktar commented on #11382
I tested on an iPad Air simulator with iOS 11.4 and I was not able to reproduce these issues. Unfortunately I don't have any iOS devices to test against.

I don't think that testing on an iOS 9 device is worthwhile since we don't suppport iOS 9 at this time. You can find some details about browser support [here](https://material.angularjs.org/HEAD/#browser-support).

If you can test a fix locally

[2018-07-31 01:08] Splaktar commented on #1837
I am going to reopen this issue to indicate that we're open to considering PRs from the community that implement this. We will certainly need to be careful that we don't introduce any breaking changes if it needs to go into 1.1.x. But it's possible to do some minor breaking changes for 1.2.0.

Hopefully with the large number of 👍 and comments, someone in this issue will be able to submit a quality

[2018-07-31 01:11] Splaktar commented on #9019
Please use [$mdPanel](https://material.angularjs.org/HEAD/api/service/$mdPanel) to implement this custom behavior in your app. This isn't part of the Material Design specifications, so we won't be adding this to AngularJS Material core.

[2018-07-31 01:44] Splaktar commented on #7662
I removed the confusing comments about Angular Material's dialog and it's `closeAll` support. This is not supported in AngularJS Material.

It does look like the groundwork for this is supported in https://github.com/angular/material/blob/v1.1.10/src/core/services/interimElement/interimElement.js#L338-L377 via passing `{closeAll: true}` into the `hide()` function. However, dialog does not support

[2018-07-31 03:29] Splaktar commented on #10156
I've updated @anilk533's [CodePen](https://codepen.io/Splaktar/pen/MBrMeQ?editors=1010#0) to show the supported way to do this with AngularJS Material. We only support applying `dir` to the body element, i.e. `<body dir="rtl">`.

https://github.com/angular/material/issues/11016#issuecomment-402551370 has some details about valid ways to configure `dir`, but that issue is currently waiting for more

[2018-07-31 03:29] #10156 closed

[2018-07-31 04:22] RFTaurus opened #11388 "Why When I passing data from model to modal using $mdDialog its always null?"
## Bug, enhancement request, or proposal:

Hey, I'm new when using AngularJS, i want to ask about how to use $mdDialog to pass the data from the model, but i got stuck or you can say that when i clicked the button to open the modal, i can't pass the data from the model, I already tried some solustion from the forum but it still return null instead of the list that i want

#### Detailed Reproductio

[2018-07-31 05:23] #11388 closed, assigned to Splaktar

[2018-07-31 05:27] roopakv commented on #10560
any update on when this might get fixed?

[2018-07-31 06:56] pavelsl commented on #11382
@Splaktar (comment could be ignored, nothing important here)
I meant i have my own workaround which doesn't fix positioning logic issue (md-select issue or iOS issue) that's not something to be merged. I have wrote standalone directive that checks whether dropdown was placed too far in iOS and fixes it's position if it is.

Have you ever seen bugs which doesn't exist in simulator but exist in real

[2018-07-31 09:08] Ruudi-V commented on #11339
Tried your updated [CodePen](https://codepen.io/Splaktar/pen/PBELKb?editors=1010#0) and was able to recreate the issue.

When logging with [System Info for Android](https://play.google.com/store/apps/details?id=com.electricsheep.asi&hl=en) and spamming the autocomplete I saw the following error:
![logs](https://user-images.githubusercontent.com/41464140/43449869-2cd0dd46-94ba-11e8-8991-da1c13246e6

[2018-07-31 14:28] felikf opened #11391 "Table: ERROR TypeError: Cannot set property 'left' of undefined"
## Bug, enhancement request, or proposal:

* regression

After upgrading from 5.2.4 to 6.4.1 i see the following error in console:

    preview-fe7237b13d780dbf847da.js:1 ERROR TypeError: Cannot set property 'left' of undefined
        at StickyStyler._removeStickyStyle (sticky-styler.ts:159)
        at StickyStyler.clearStickyPositioning (sticky-styler.ts:48)
        at MatTable.CdkTable.updateSt

[2018-07-31 14:42] felikf commented on #11391
Please close this, it is related to angular material 2:
https://github.com/angular/material2/issues/12460

[2018-07-31 21:57] codymikol commented on #11384
After a git bisect, it looks like

tabs: accessibility and keyboard interaction fixes (#10706) (072f832), closes #10075

is causing the issue. I'm going to take a closer look.

[2018-07-31 22:30] codymikol commented on #11384
I currently have the tab focus working in master, but I just checked out a diff of the files from the parent of the bad commit. It looks like the issues reside in a combination of tabsController.js and tabsDirective.js. I'm going to see if I can figure out what exactly is causing the focus to disappear by removing diffs one by one 🤷‍♂️

[2018-07-31 22:59] codymikol commented on #11384
Fixed, going to make a PR soon.

[2018-07-31 23:03] marosoft commented on #4595
@Splaktar I took a bit different approach. I copied the behavior of the is-locked-open and allowed the `$mdMedia` used to specify when the sidenav should be closed.

Here is [CodePen](https://codepen.io/marosoft/pen/oMEJNX).

I can create a PR to show what I did.

[2018-08-01 01:32] codymikol commented on #11250
Looks like this occurs only if the $mdDateLocaleProvider.formatDate is set. If the config block is removed, everything works fine.

[2018-08-01 01:45] codymikol commented on #11250
Can confirm this is actually not a bug.

What happened here is you overwrote $mdDateLocaleProvider.formatDate which tells angular material how to convert a date object into a string. You also need to overwrite the $mdDateLocaleProvider.parseDate functionality in order to tell angular material how to parse your date string back into a date object.

Here is a fixed pen: https://codepen.io/codymikol/

[2018-08-01 01:47] Splaktar commented on #10560
@roopakv no ETA at this point, but thank you commenting here. I've triaged it. I'll try to take a look once we get the P1 and P2 issues under control.

I'm happy to discuss your investigation progress if you want to investigate a fix and consider submitting a PR.

[2018-08-01 01:52] Splaktar commented on #11308
@TemitaTom please open a separate issue for that unless you can verify that is what is causing this issue.

As for investigating this issue, the code that handles hiding dialogs (and other interimElements) can be found here:
https://github.com/angular/material/blob/v1.1.10/src/core/services/interimElement/interimElement.js#L338-L377

It does this to remove the last dialog added:
[code]

[2018-08-01 01:54] codymikol commented on #3799
We use md-content a lot in our application and test frequently in IE 11 and have never had this issue.

Here is a screenshot of the md-content demo working in the current version in IE 11.

![image](https://user-images.githubusercontent.com/13606342/43496608-3c0b0e92-950c-11e8-878b-4f0d7f23aec4.png)

[2018-08-01 01:58] Splaktar commented on #11382
Yes, I have seen issues that appear in simulators but not real devices and vice versa. That's why I was asking for someone with a real device to come up with a fix for this and verify it on their device.

If someone in the US wanted to send me a device with this issue, I would be happy to work on the fix and then send the device back. However, I won't be able to acquire all of the devices that thi

[2018-08-01 02:08] Splaktar commented on #11339
@Ruudi-V those logs are very helpful, thank you. Please submit a bug against Chrome for Android [here](https://bugs.chromium.org/p/chromium/issues/list). It looks like Chrome for Android is not handling this error properly when the device is low on memory. It's possibly also related to having hardware acceleration disabled.

[2018-08-01 02:12] Splaktar commented on #11391
Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-08-01 02:12] #11391 closed

[2018-08-01 02:38] codymikol commented on #11272
Can't seem to reproduce this on my end using your codepen.
I'm on Chrome 67 - macOS 10.13.6

![datepicker1970](https://user-images.githubusercontent.com/13606342/43497790-fe875cb4-9511-11e8-9c54-6211fbc2d8a4.gif)

[2018-08-01 03:49] Splaktar commented on #4595
@marosoft in your CodePen, the sidenav isn't closing when I resize the page to make it larger than `xs`. If I change it to `md-is-locked-closed="$mdMedia('gt-xs')"`, then this works when resizing larger than `xs`.

If I open it when larger than `xs`, then resize it larger, the sidenav remains. Perhaps this is working as expected.

I enhanced the [CodePen](https://codepen.io/Splaktar/pen/PBQveg?edi

[2018-08-01 03:51] Splaktar commented on #11250
@codymikol thank you for looking into this! Your suggestion looks good.

[2018-08-01 03:51] #11250 closed

[2018-08-01 03:56] Splaktar commented on #3799
Thanks @codymikol. I'm going to close this old issue. If anyone is still having problems with `md-content` in IE 11, please submit a new issue with a CodePen reproduction.

[2018-08-01 03:56] #3799 closed

[2018-08-01 04:02] Splaktar commented on #11272
I can't reproduce this with the provided CodePen using AngularJS Material 1.1.9 or 1.1.5 on macos with Chrome 68 or Firefox 61.0.1 (64-bit).

Does this only happen on Windows?

[2018-08-01 08:08] Ruudi-V commented on #11339
Created a chrome bug issue here:
https://bugs.chromium.org/p/chromium/issues/detail?id=869764

[2018-08-01 08:56] Splaktar commented on #11339
@Ruudi-V can you please copy paste the text from those logs (not just a screenshot) into the Chromium bug please? That is the key indicator that this is a Chrome for Android bug. Without that, they may just dismiss the issue.

[2018-08-01 15:00] codymikol commented on #11272
Just tested on windows 7 in chrome, everything seems to work fine.

[2018-08-01 23:51] Splaktar commented on #11272
Going to close this as not reproducible. If you can provide more details and an updated demo with reproduction, I can re-open this.

[2018-08-01 23:51] #11272 closed

[2018-08-02 06:45] shankargurutarikere opened #11394 "Contact list with search filter"
How can i make contact list with search filter in angular 6 using material,I have not found any resources in material website.
This is the thing i want to achieve
![capture](https://user-images.githubusercontent.com/31584520/43566945-ca3aa5aa-964d-11e8-81a6-de08d2c78283.PNG)

[2018-08-02 13:05] codymikol commented on #11394
This is actually for the angular 1.x version of material, any non feature / bug related discussion of material2 can be discussed over at the [google group](https://groups.google.com/forum/#!forum/angular-material2)

[2018-08-02 14:20] coennijhuis opened #11395 "icon: multiple SVGs on a page should have unique IDs"
### BUG:
When adding multiple identical SVGs to a page, they should all have unique IDs.

### CodePen and steps to reproduce the issue:

CodePen link: https://codepen.io/anon/pen/jpxBZx

### Issue: All IDs for the icons are the same

### Detailed Reproduction Steps:
1. Click the CodePen link
2. Check the icons in the preview pane. There are 5 identical icons.
3. Open developer toolbar (in your bro

[2018-08-02 18:15] Splaktar commented on #11394
Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-08-02 18:15] #11394 closed

[2018-08-02 19:14] Splaktar commented on #10382
Here's an [updated CodePen](https://codepen.io/Splaktar/pen/xJjjKm?editors=1100#0) with the proper layout and alignment.

### Please note the following
- As described in [the md-list-item docs](https://material.angularjs.org/latest/api/directive/mdListItem) single line list items should contain `p` and `span` elements. `div` is only used for the 2 and 3 line list items. If you use a `div` in a sin

[2018-08-02 19:26] Splaktar commented on #10794
Duplicate of https://github.com/angular/material/issues/8689 which has open PR https://github.com/angular/material/pull/11342.

[2018-08-02 19:26] #10794 closed

[2018-08-02 20:52] Splaktar commented on #11395
Duplicate of https://github.com/angular/material/issues/8689, but that one did not include a CodePen demo, so thank you very much for that. I'll copy the link to the CodePen over to that issue.

It looks like the proposed PR fix in https://github.com/angular/material/pull/11342 does not solve the problem in this CodePen. I'll investigate some more.

[2018-08-03 15:16] filipe-carvalho opened #11397 "calendar: rendering problem on Ubuntu local machine"
Hello Dear Comunity,
I am facing a problem using the datepicker functionality from angular js material

My problem is difficult to reproduce, because the same code in my local machine and in in codepen give diferente results (in my local machine the problem exists and in codepen not)

### PROBLEM

It seams the datepicker is rendering with wrong font sizes and consequently line-height

In codepen t

[2018-08-03 16:04] codymikol commented on #11397
Working fine from my regular machine, I can check my ubuntu box later and see if that makes a difference.

[2018-08-03 17:30] Splaktar commented on #11397
Thank you for taking the time to submit this issue. However it does not follow our **required** issue template. This gives the team the information needed to investigate the bug or prioritize the feature.

It looks like you are using AngularJS Material 1.1.10.

#### What versions of AngularJS, Firefox, and Ubuntu are you using?

#### Is your Firefox at 100% zoom level?

There may be better avenues

[2018-08-03 17:38] Splaktar commented on #11397
I converted the code snippet above to a [CodePen demo](https://codepen.io/Splaktar/pen/gjKxdL).

Note that you are using AngularJS Material CSS 1.1.9 with JS 1.1.10. Mismatched versions like this should be avoided.

[2018-08-03 17:39] Splaktar commented on #11397
You mention that in CodePen text is `13px`, but what size are you seeing on your local machine? It still looks like `13px` in your screenshot.

[2018-08-03 21:31] #10382 closed

[2018-08-06 07:58] araselahi commented on #10211
angular/material2#2519
Support for Hijri or Jalali or other international calendar in datepicker #2519

[2018-08-06 07:58] #10211 closed

[2018-08-06 08:11] filipe-carvalho commented on #11397
the versions of Javascript and CSS are correct, was only a misprint in my copy+paste code.

My zoom in regular in both screenshots and browsers. It is not 13px, in my screenshot i have a real 13px text above the calendar and the font inside the calendar is bigger, can't you notice the difference ? Can you please take another look ?

Thanlks in advance :)

[2018-08-06 18:43] tkegan commented on #4456
Just ran into a related bug where controls on an md-tab with the ng-if directive and no default value are not bound properly. Tested Angular 1.5.7 (don't ask...) and 1.7.2. My solution was to use the ng-disabled directive and a bit of css:

`.md-tab.md-disabled { display:none; }`

Not helpful if you use ng-disabled as intended of course.

[2018-08-07 05:31] Thaina opened #11399 "feat(tabs): add support for an md-tabs-header to fill empty space in tab bar"
Many times I use `md-tabs` there was just 2-5 tabs in a page and so there was empty area in tab header that could be utilize as information or some control. Putting a new `md-tab` make it an unnecessary selectable tab, put `ng-diabled` there and it cannot contain input

![image](https://user-images.githubusercontent.com/1042507/43756177-9f503046-9a3d-11e8-995f-1c10494bd672.png)

So I would like to

[2018-08-07 06:26] Yogeshwar1992 commented on #1763
any update on this?

[2018-08-07 14:33] bersLucas commented on #11399
You can use `md-stretch-tabs` to make the tabs stretch and remove white space. You can use this if you have less than 4 tabs [reference](https://material.angularjs.org/latest/api/directive/mdTabs)

[2018-08-07 14:37] Thaina commented on #11399
@bersLucas The point is I want to have those white space still there and just contain some other things, not to remove it

[2018-08-07 22:29] joergenv commented on #3310
@leocaseiro Thanks for a great example - but I inherited some code with a md-button tag-directive, with some attributes like 'on-upload', 'on-complete', 'url' and so on. How to use these data?

[2018-08-07 23:01] codymikol commented on #11399
That seems like a bit of an edge case, but you could write a directive that can do what you're looking for.

This isn't a perfect example of what you're trying to accomplish but it should start you in the right direction.

https://codepen.io/codymikol/pen/bjmrBX

[2018-08-08 02:46] codymikol commented on #11120
It seems like this is something that has been fixed in the latest version of ChromeVox, I just tested this and the screen reader only reads the content of the button once on both focus and click.

[2018-08-08 14:49] filipe-carvalho opened #11401 "layout: rendering problems with items in a column layout overlapping"
Hello Dear Comunity,
I am facing a problem using angularjs material with google chrome

Appears that google chrome doesnt render very well some functionality of angularjs material
For example:
  I am tryng to emulate the column layout of material based on documentation example

[code]
This code should make 2 rows (one after the another) like this example:

![screenshot_2018-08-08 angularjs materia

[2018-08-08 16:38] codymikol commented on #11401
You have three divs with no height / width. So what you're seeing is expected, it's a 0x0 container that holds two 0x0 container so the text just overlaps. If you give them height and with you get the results you'd expect.

 Check out this [plunker](https://next.plnkr.co/edit/4hqNBT7QN3xPySt2)

[2018-08-08 16:42] codymikol commented on #11401
I understand why you'd be confused by the docs though, it isn't at all obvious where that styling is coming from. I think it would make sense that the layout docs include the css styling as well in their examples so people don't assume that the styling is a side effect of the layout directives.

[2018-08-08 19:41] Splaktar commented on #11397
OK, yeah I see the different in visual font size. I was trying to ask if you could inspect the element in devtools and provide the font-size that is reported in the bad case? It seems odd that you have devtools open in the screenshot, but only the body selected.

[2018-08-09 01:03] Splaktar commented on #4456
I have re-opened this issue to indicate that we would welcome a community contribution to add this functionality to the tabs component.

[2018-08-09 01:12] Splaktar commented on #10211
It looks like there is some support for this in Angular Material. We don't have the resources to investigate or support this in AngularJS Material.

[2018-08-09 01:14] Splaktar commented on #1763
@Yogeshwar1992 yes, it is working as expected. If you have questions about how to use the API, please post in the [AngularJS Material forums](https://groups.google.com/forum/?pli=1#!forum/ngmaterial).

[2018-08-09 01:27] Splaktar commented on #11401
Right, column layouts need the items to have some kind of known width.

You can accomplish something similar with `layout="row" layout-wrap` on the container and `flex="100"` when you want the items to flow and aren't sure of their height. Here's an [example of that](https://next.plnkr.co/edit/IuoNRqwn7VGczt7G).

[2018-08-09 01:31] Splaktar commented on #11401
Thank you for taking the time to submit this issue. However it does not follow our **required** issue template. This gives the team the information needed to investigate the bug or prioritize the feature.

What OS are you running? If it's Ubuntu, then the calendar concern is being tracked in https://github.com/angular/material/issues/11397. If you aren't on Ubuntu, please add some of your OS detai

[2018-08-09 01:31] #11401 closed

[2018-08-09 02:29] Splaktar commented on #11399
As pointed out above, `md-stretch-tabs` can be used for "Fixed Tabs". For "Clustered Tabs", we support `md-center-tabs` for center clustering and the default supports left side clustering. We don't currently support clustering tabs to the right side.

"Fixed Tabs" usually take up the full width of the component. "Clustered Tabs" do leave some white space in the tab bar. However, there is nothing i

[2018-08-09 02:29] #11399 closed

[2018-08-09 02:40] Splaktar commented on #10570
Just as a note, I am not able to reproduce this in VoiceOver on macOS.

[2018-08-09 02:46] Splaktar commented on #11120
@codymikol thank you very much for testing that and letting me know!

@michaelcupino I'm going to close this, but please let me know if latest version of ChromeVox doesn't fix this for you.

[2018-08-09 02:46] #11120 closed

[2018-08-09 10:13] filipe-carvalho commented on #11401
Splaktar  can you give a solution without using layout-row ? Only using layout-column ? how can accomplish the same result with layout-colum feature
As you can see in mine plunker i dont have width and height defines, but as my div as text inside the height is determined by the text (but is giving 0px) hoevwer the width is 100%

Can you explain me why in Firefox i obtain good results and in chrome

[2018-08-09 14:41] #11177 closed

[2018-08-09 19:47] BaldemarJanrain commented on #4456
@Splaktar there's already a contribution to this, @smithscripts did it https://github.com/angular/material/issues/4456#issuecomment-296236790

[2018-08-10 20:48] Splaktar commented on #10570
I am not able to reproduce this using Chromevox on ChromeOS Version 68.0.3440.87 (Official Build) beta (64-bit).

[2018-08-10 20:53] Splaktar commented on #10853
I am only seeing the Toast announced once with Version 68.0.3440.87 (Official Build) beta (64-bit). However, I am hearing "Remove" as the first thing when a toast is displayed.

[2018-08-10 21:29] Splaktar commented on #10853
This looks like a Chromevox bug so I've opened https://bugs.chromium.org/p/chromium/issues/detail?id=873324 to track this issue.

[2018-08-10 21:55] Splaktar commented on #10895
On VoiceOver for macOS, when you land on the first tab, after the basic tab name, tab position, and number of tabs, it explains to you "You are currently on a tab, 1 of 3. To select this option, press Control-Option-Space." However, it does not tell the user how to navigate the tabs. On Chromevox, it doesn't even tell the user how to activate the selected tab.

[2018-08-10 21:55] Splaktar commented on #10895
Looking into this a bit, I found that we do most things covered in [this article](http://simplyaccessible.com/article/danger-aria-tabs/), but we don't set `aria-hidden` on the `md-tab-content` elements which are the `tabpanel`s.

This article goes on later to describe the exact issue faced here. How are users supposed to know to use the arrow keys for navigation of the tabs?

However, the article

[2018-08-10 22:00] Splaktar commented on #10895
Our implementation best matches the [Tabs with Manual Activation Example](https://www.w3.org/TR/wai-aria-practices/examples/tabs/tabs-2/tabs.html) which does document the left and right arrow behavior. However, this still does not mean that it is obvious to users.

[2018-08-10 22:07] Splaktar commented on #10895
Another missing piece that we don't have, but is found in the [WAI-ARIA Authoring Practices for Tab Panel](https://www.w3.org/TR/wai-aria-practices-1.1/#tabpanel):
- Each element with role `tab` has the property `aria-controls` referring to its associated `tabpanel` element.

This document also covers the expected interaction via the right/left arrow keys.

[2018-08-10 22:58] Splaktar commented on #10895
Submitted PR https://github.com/angular/material/pull/11402 to improve this situation.

[2018-08-10 23:34] marosoft commented on #11016
@Splaktar I refactor the code a bit to use a standard approach to checking the text direction.
I created one function that checks if the text is RTL or not. This allows to use `dir` attribute on the component tag too.
It is not perfect. In some cases you need to add a `dir` attribute on the parent tag too as you can see in a virtual repeat issue #9754.

Please see the [CodePen](https://codepen.io/

[2018-08-10 23:37] marosoft commented on #9754
@Splaktar As mentioned in issue #11016, I did some work on RTL issues.
It is not perfect. In some cases you need to add a `dir` attribute on the parent tag too.

Please see the [CodePen](https://codepen.io/marosoft/pen/LBqbVO) and you can see my commit above too.
I can create a PR if this is fine with you.

[2018-08-10 23:42] Splaktar commented on #10888
VoiceOver on macOS reports "Favorite state, required invalid data, combo box" which seems to be working as intended.

On Chromevox for ChromeOS 68, it reports "Favorite state, Collapsed Required, Combo Box is editing, Press up or down arrow for auto completions."

It appears that this was fixed on the Chromevox side since I see the same behavior with AngularJS Material 1.1.4 and 1.1.10.

[2018-08-10 23:42] #10888 closed

[2018-08-10 23:44] marosoft commented on #10963
@Splaktar Maybe it is worth to back port the focus trap from Angular Material.
This is how it is used in the dialog: https://github.com/angular/material2/blob/master/src/lib/dialog/dialog-container.ts#L132

The Focus Trap itself: https://github.com/angular/material2/blob/master/src/cdk/a11y/focus-trap/focus-trap.md

[2018-08-11 01:39] Splaktar commented on #10837
This is also reproducible on VoiceOver for macOS.

I've opened PR https://github.com/angular/material/pull/11403 to address this issue.

[2018-08-11 01:47] Splaktar commented on #10896
This is not reproducible with VoiceOver for macOS.

[2018-08-11 02:03] Splaktar commented on #10896
I can reproduce this on ChromeOS Version 68.0.3440.87 (Official Build) beta (64-bit) with the latest AngularJS Material.

It appears that Chromevox does not support the following:
[code]
It should read "Florida" but instead reads "Status".

[2018-08-11 03:07] Splaktar commented on #10896
It's not clear that Chromevox supports the `status` role.
[MDN's docs on status compatibility](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_status_role#Compatibility) are TODO.

The MDN site also has a link to [ARIA Best Practices – Implementing Live Regions](http://www.w3.org/TR/wai-aria-practices/#LiveRegions) which has been removed from the latest WA

[2018-08-11 10:38] ibnYusrat commented on #4260
My solution for this problem is to wrap md-icon and md-chips in a div, set layout of the div to row and add flex to md-chips tag. You will probably want to add some magin to the md-icon to make it look like the rest of the input fields.

<div **layout="row"**>
<md-icon style="color:black;margin:14px 3px 3px 3px;">category</md-icon>
<md-chips flex ng-model="selectedCategories" ng-attr-id="test" md-

[2018-08-11 19:36] Splaktar commented on #10896
I submitted a request for documentation of what Live Region roles/attributes are supported in Chromevox here:
https://groups.google.com/forum/#!topic/chromevox-discuss/M2gb3CFsois

I also opened up a Chromium bug here:
https://bugs.chromium.org/p/chromium/issues/detail?id=873466

[2018-08-11 19:44] Splaktar commented on #10570
Based on our testing and [discussion](https://github.com/angular/material/pull/11400), it appears that this was fixed in Chromevox and is no longer reproducible.

If you are still seeing this issue, please let us know and provide updated reproduction steps and OS/browser/version info.

[2018-08-11 19:44] #10570 closed

[2018-08-11 20:06] Splaktar commented on #11293
Thank you very much for such a great issue write up! `aria-hidden="true"` does indeed solve this issue and I haven't seen it cause any issues with non-screen reader interactions.

[2018-08-11 20:16] Splaktar commented on #11003
Closing as duplicate of https://github.com/angular/material/issues/10896.

[2018-08-11 20:16] #11003 closed

[2018-08-11 20:41] Splaktar commented on #10970
I get the following on VoiceOver for macOS:
![screen shot 2018-08-11 at 4 22 43 pm](https://user-images.githubusercontent.com/3506071/43995775-01f32e7c-9d83-11e8-80c7-ed1c7ade8368.png)
This indeed doesn't seem to give the proper instructions for navigating the options (up/down arrows) and it doesn't say to press enter to select an option.

On Chromevox, I get the following:
"What is your favorite

[2018-08-11 21:32] Splaktar commented on #10815
This is specifically related to using `md-autocomplete` when `md-floating-label` is not defined.

This configuration appears to no longer be aligned with the latest version of the [Material Design spec](https://material.io/design/components/text-fields.html#anatomy) as all inputs within the updated spec have floating labels. Of course support for this won't be removed from AngularJS Material.

Usi

[2018-08-11 21:55] Splaktar commented on #11004
@cai-feng perfect, thank you. We should be able to get support for `aria-describedby` into 1.1.11.

If you are also interested in support for `aria-labelledby`, please make a comment on https://github.com/angular/material/issues/10815. I have that code ready to go, I just need to make sure that it is still a desired enhancement.

[2018-08-11 22:25] Splaktar commented on #11004
I opened PR https://github.com/angular/material/pull/11405 to address this.

[2018-08-13 00:42] marcelolav opened #11406 "mat-table does not display the dataSource data"
## Bug, enhancement request, or proposal:

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:
Github:  https://github.com/marcelolav/proyecto0

#### Detailed Reproduction Steps:
1.
98/5000
the mat-table is constructed according to the example, with the data of a firestore base
1.

### What is the expected

[2018-08-13 01:01] Splaktar commented on #11406
Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-08-13 01:01] #11406 closed

[2018-08-13 09:57] GavinSong123 commented on #7079
+1

[2018-08-13 12:01] marcelolav commented on #11406
Apologies but I estimate that this is a failure behavior, it is not a query but rather a warning of what is happening in this case. Anyway, I will enter the problem where it indicates. I also comment that I think it's a failure because with the same code in three components it has different behaviors (in one component it works correctly) and I already check these codes several times. Thank you ver

[2018-08-13 17:16] JolissonVieira commented on #8925
Same wrong behavior is back at first rendering.
Using angular-material v1.1.10, and angular v1.6.10 .

https://codepen.io/anon/pen/LBavjV

[2018-08-13 20:29] #11384 closed

[2018-08-14 17:14] #10837 closed

[2018-08-14 17:15] #10895 closed

[2018-08-14 17:54] wluijk opened #11408 "Is https://material.angular.io down?"
## Bug, enhancement request, or proposal:

#### Detailed Reproduction Steps:
1. Go with your mouse to your browser and click the icon
2. Wait till the app is up and running
3. Go to the address bar
4. Type the address: https://material.angular.io/

### What is the expected behavior?
To get a full blown website

### What is the current behavior?
You get a blanco page with a centered message ERR_FAI

[2018-08-14 18:46] codymikol commented on #11408
This is for the angular 1.x version of material, check out https://github.com/angular/material2

[2018-08-14 18:47] bersLucas commented on #11408
It is not down. [reference](https://downforeveryoneorjustme.com/material.angular.io).

Also, material.angular.io is for Material2, found here: https://github.com/angular/material2

This repository is for angular material for Angular.js

[2018-08-14 18:54] #11293 closed

[2018-08-14 21:08] Splaktar commented on #11408
Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-08-14 21:08] #11408 closed

[2018-08-14 21:15] katiehockman commented on #10815
I'm also not able to reproduce this anymore, it's very possible that Voiceover or Chrome has fixed this issue, where it detects identical placeholder and label text to only read one of them.
I do still think that having aria-labelledby as an option for users would be helpful, though I don't have all of the context with what has changed with the MD spec or Angular lately. Ideally there isn't too mu

[2018-08-14 21:15] Splaktar commented on #7079
@rainabba that is a separate issue. It looks a little like https://github.com/angular/material/issues/10546, but that one is for `md-radio-button` and does not have a CodePen demo. Can you please open a new issue with a CodePen reproduction?

@GavinSong123 Please 👍 the OP if you want to vote for an issue. Please avoid posting `+1` comments. Also since this issue is closed, please open a new issue

[2018-08-14 21:16] Splaktar commented on #10546
Closing as no CodePen demo has been provided and the OP did not use the issue template. If you are still seeing this issue, please open a new issue that uses the issue template and provides a CodePen reproduction.

[2018-08-14 21:33] Splaktar commented on #9702
[Updated CodePen](https://codepen.io/Splaktar/pen/djEbmz) for AngularJS Material 1.1.10 and angular-material-data-table 0.10.10 and this issue still remains.

I also [forked the CodePen](https://codepen.io/Splaktar/pen/PBvYaB?editors=1010#0) to demonstrate that this does not happen with a regular `select` element. So this does seem to be specific to AngularJS Material where angular-material-data-t

[2018-08-14 21:38] Splaktar commented on #10013
No demo supplied. This does not appear to still be an issue.

[2018-08-14 21:38] #10013 closed

[2018-08-14 21:39] Splaktar commented on #10151
No demo provided.

[2018-08-14 21:39] #10151 closed

[2018-08-14 21:40] #10171 closed

[2018-08-14 21:42] Splaktar commented on #10373
No demo provided. If you are still seeing this, please submit a new issue using the issue template and providing a CodePen reproduction.

[2018-08-14 21:42] #10373 closed

[2018-08-14 21:44] Splaktar commented on #10436
@jgall the provided CodePen demo is now a 404. If this is still an issue for you, please submit a new issue using the issue template and providing a CodePen reproduction.

[2018-08-14 21:44] #10436 closed

[2018-08-14 21:46] Splaktar commented on #10451
Thank you for taking the time to submit this issue. However it does not follow our **required** issue template.

Please file a new issue that follows the template. This gives the team the information needed to investigate the bug or prioritize the feature.

[2018-08-14 21:46] #10451 closed

[2018-08-14 21:48] Splaktar commented on #10668
No demo provided. If you are still seeing this, please submit a new issue using the issue template and providing a CodePen reproduction.

[2018-08-14 21:48] #10668 closed

[2018-08-14 21:51] Splaktar commented on #11002
No demo provided. Assuming that the fix/workaround above worked. If you are still seeing this, please provide a CodePen reproduction.

[2018-08-14 21:51] #11002 closed

[2018-08-14 21:57] Splaktar commented on #11075
Demo and feedback not provided.

[2018-08-14 21:57] #11075 closed

[2018-08-15 11:31] t-zander opened #11409 "Animation doesn't work when importing it via shared module"
## Bug, enhancement request, or proposal:
Animation doesn'' work if I include "@angular/material/prebuilt-themes/indigo-pink.css" not in angular.json

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:

#### Detailed Reproduction Steps:

1. Move MatProgressBarModule to shared module
2. import "@angular/ma

[2018-08-15 17:40] #11409 closed

[2018-08-15 18:14] #11004 closed

[2018-08-15 19:05] DevVersion opened #11410 "Consider using Chrome headless inside of Travis"
Currently this repository uses the Saucelabs license that is also being used by `angular/angular`, `angular/material2` and `angular/flex-layout`.

Since we seem to have a rate limit for Saucelabs, we should spend the resources thoroughly. AngularJS Material currently runs _three_ times on Saucelabs with just Chrome on Windows and it would be good if just Chrome Headless is being used.

That way, t

[2018-08-15 23:47] Splaktar commented on #10604
@praveenk-telsiz and @henrymana can you provide any further information about why it would be helpful to show a placeholder on a `readonly` `md-chips`? If you look at the [our demos](https://material.angularjs.org/latest/demo/chips), those placeholders don't make sense to show when `readonly` either.

It seems like, if anything, it should be a different placeholder that would be used if `readonly`

[2018-08-15 23:51] Splaktar commented on #10850
@marosoft I'm starting to look into this along with other chips a11y issues. Do you have any input on what you changed to make things a bit better?

[2018-08-16 01:17] wassim-ss commented on #7662
This is one way to do it:

[code]

[2018-08-16 13:23] HZooly opened #11413 "feat(button): add new stroked (outlined) button type"
Is it planned to add stroked/outlined button styles in Material v1 ? It has been done in Material v2.

I'd glad to help the team to implement it in the library 😃

[2018-08-16 14:53] avakatushka commented on #11384
Thank you so much! Cool that you fixed it!

[2018-08-16 20:57] tlaytongoogle commented on #10715
Over a year later, I'm running into the same problem again, and there's been absolutely no movement on this issue, not even an acknowledgment that it's been received. Did I submit it incorrectly somehow? Anyone? Help?

FWIW, I re-tested the problem on AngularJS version 1.7.2 and AngularJS Material version 1.1.10 (https://codepen.io/anon/pen/ZjdVRr), and it's still there.

[2018-08-16 21:33] Isaac-telebroad commented on #10611
how will it work with controller As syntax?

[2018-08-17 00:48] codymikol commented on #3895
I have a PR in the works for this.

[2018-08-17 07:34] Splaktar commented on #8518
@rudzikdawid I haven't had time to look into this one yet, but it seemed like one that you may be interested in investigating. If this is still an issue, I'd like to try to get it into 1.1.11.

[2018-08-17 07:43] Splaktar commented on #8992
The spec updates for 2017 can still be found here:
https://material.io/archive/guidelines/style/color.html#color-usability

This archive holds the details prior to the MD 2018 changes.

[2018-08-17 07:58] Splaktar opened #11415 "docs: update all links to the MD spec to use the archive"
## Bug, enhancement request, or proposal:
Bug

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:
https://material.angularjs.org/1.1.10/

#### Detailed Reproduction Steps:
1. Read the docs
1. Notice that many links to the MD spec are no longer valid after the 2018 upgrade

### What is the expected behavio

[2018-08-17 08:12] Splaktar commented on #8994
1. We currently have something like this [here](https://material.angularjs.org/latest/demo/colors#theme-picker), though it is a little less flashy and impressive.

1. The Material Design team's [Color Tool](https://material.io/tools/color/#!/) provides a great theme explorer along with some tools to help with accessibility recommendations. This tool just happens to be built with AngularJS 1.6.2 an

[2018-08-17 08:12] #8994 closed

[2018-08-17 08:15] Splaktar commented on #10164
The spec updates for 2017 can still be found here:
https://material.io/archive/guidelines/style/color.html#color-usability

This archive holds the details prior to the MD 2018 changes.

[2018-08-17 08:15] Splaktar commented on #8992
I'm going to close this as I think that it is fully covered by #10164.

[2018-08-17 08:15] #8992 closed

[2018-08-17 08:16] Splaktar commented on #10164
Just a note here to make sure that we check both light and dark contrasts as mentioned in https://github.com/angular/material/issues/8992.

[2018-08-17 08:27] Splaktar commented on #8860
Adjusting autoprefix settings in PR https://github.com/angular/material/pull/11340 saved us 38 KB on the minified css bundle ([details](https://github.com/angular/material/pull/11340#issuecomment-401144327)).

But it is still too large and we should investigate further approaching to shrinking it. There is still considerable nesting and duplication.

We should look more into applying the changes f

[2018-08-17 08:33] Splaktar commented on #10782
I posted a CodePen demo and a code snippet to show how to do this in https://github.com/angular/material/issues/9918#issuecomment-404634847. If you have more questions, please try the  [AngularJS Material forums](https://groups.google.com/forum/?pli=1#!forum/ngmaterial).

[2018-08-17 08:33] #10782 closed

[2018-08-17 08:42] Splaktar commented on #10341
Closing as duplicate of https://github.com/angular/material/issues/10335.

[2018-08-17 08:42] #10341 closed

[2018-08-17 08:48] Splaktar commented on #10858
Please take a look at the [Getting Started Docs](https://material.angularjs.org/latest/getting-started).

[2018-08-17 08:48] #10858 closed

[2018-08-17 09:10] Splaktar commented on #10335
This actually looks pretty straight forward. We already have internal support for doing this. We just don't allow for these options to be specified in the API and then passed in.

You can see the options coming in [here](https://github.com/angular/material/blob/v1.1.10/src/core/services/theming/theming.js#L705-L729).

Then you can see [here](https://github.com/angular/material/blob/v1.1.10/src/cor

[2018-08-17 09:14] javahaxxor opened #11416 "mat-slide-toggle all toggles flash on changing one"
## Bug, enhancement request, or proposal:
Bug

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:
https://stackblitz.com/edit/angular-1jhujs?file=app%2Fslide-toggle-overview-example.ts

#### Detailed Reproduction Steps:
1. create slide toggles in a loop
2. the elements that feed the loop come from firebas

[2018-08-17 09:25] Splaktar commented on #10096
We have a helper library, [material-tools](https://github.com/angular/material-tools), for helping fine tune your bundle size.

If there are some specific CSS rules that you would expect to be removed via `$mdThemingProvider.disableTheming();`, but they are still there, I would be happy to investigate, given more details.

Additionally, I doubt that this issue is still relevant 1.5 years later, bu

[2018-08-17 09:25] #10096 closed

[2018-08-17 09:27] Splaktar commented on #11416
Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-08-17 09:27] #11416 closed

[2018-08-17 09:40] Splaktar commented on #11415
We also need to update the `README.md` and docs site to clarify that AngularJS Material won't be supporting the Material Design 2018 updates.

[2018-08-17 09:44] Splaktar commented on #11413
At this point, we don't plan to add any of the Material Design 2018 updates to AngularJS Material. The team is hard at work adding these to Angular Material (as you noted).

As I mention in https://github.com/angular/material/issues/11415, we're going to be clarifying this in the 1.1.11 release via pointing all of our links to the [Material Design 2017 spec](https://material.io/archive/guidelines/

[2018-08-17 09:54] Nickproger commented on #10406
![image](https://user-images.githubusercontent.com/1409078/44260273-948f3f80-a21c-11e8-8c01-d68502693c6d.png)

We've got the same issue :(

[2018-08-17 15:17] javahaxxor commented on #11416
Oh, sorry about that

[2018-08-17 18:52] fmax32 opened #11418 "input(required): remove space before asterisks (required text indicator)"
## Bug, enhancement request, or proposal:
Based on Material Design guidelines, there should be no space after plceholder. Guidelines here: https://material.io/design/components/text-fields.html#anatomy

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:
https://stackblitz.com/edit/angular-v6uj63

#### Det

[2018-08-17 21:29] codymikol commented on #11418
Just put in a PR for you 🐔

[2018-08-18 00:56] Splaktar commented on #10715
No, your submission looks really good. Thank you very much for the detailed bug report!

We've been catching up with the backlog of untriaged issues. It's down under 250 now, from over 450 when I took over the project in November. But I can certainly understand your frustration!

Thank you so much for verifying again with 1.1.10!

I'm currently deep into a11y fixes for chips, but I should be able

[2018-08-18 10:39] marosoft commented on #10850
@Splaktar it was more about the logic itself rather than a11y. I will try to push my branch today so you will be able to see what I did so far.

[2018-08-18 19:06] marosoft commented on #10850
@Splaktar I pushed my branch. This is still WIP as I did not work on it after I posted the CodePen. Please check it [here].(https://github.com/marosoft/material/commit/a9db859abda9a6588e2467f753b6a4cd31649392)

[2018-08-20 12:59] ravidannani commented on #5975
I have the same requirement but with angular 6. I could not get any solution to style the label similar to same look and feel as the input component.

Also I looked into below link,
https://codepen.io/jakobadam/pen/xqZoBR
but it was angular 1, and I tried to replace md-input-container with mat-form-field but it throws below error.
 "mat-form-field must contain a MatFormFieldControl."

I am not sur

[2018-08-20 22:50] Splaktar commented on #2618
I've posted PR https://github.com/angular/material/pull/11422 to address these issues and more. I'd appreciate some assistance with the review 😄

[2018-08-21 19:33] IAMtheIAM commented on #10855
I was using this in angular 2+ - I didn't know this was for old angularJS.

[2018-08-21 20:13] marosoft commented on #11334
Please check this [CodePen](https://codepen.io/marosoft/pen/aazwvX?editors=1010).
I will create PR soon.

[2018-08-22 07:11] Satej7 commented on #7025
Set height and width properly. Scroll bar will come
openDialog() {
    const dialogRef = this.dialog.open(YourComponent, {
      width: '450px',
      height: '550px',
      data: {}
    });

[2018-08-22 16:42] marosoft commented on #10715
Please take a look at this [CodePen](https://codepen.io/marosoft/pen/OoVMoB).

I made a fix in the code but I noticed I need to set `hideDelay` to a value grater than 0 (or to remove it completely, which means a default 3s delay would be used). Otherwise the second toast would not disappear.

[2018-08-23 12:34] GlauberF opened #11423 "autocomplete and $pristine"
I'm having trouble returning $ pristine to false, when I clicked clear input ($ mdAutocompleteCtrl.clear ()), my form that has the $ pristine validation still remains true, as if nothing has changed at all.

I need some way, when I click on clear input, make my form that has the $ pristine validation, understand that it has changed the value.

I thought about getting the $ mdAutocompleteCtrl.clear

[2018-08-23 12:42] bogdan-panteleev-mifort commented on #10899
Yes, I also faced the issue

[2018-08-24 02:06] Splaktar commented on #10853
Latest update from the Chrome team was to remove the use of `aria-relevant` or to change it from `aria-relevant="all"` to `aria-relevant="additions text"`. However, doing this on macOS causes VoiceOver to not announce the toast after the first time it is opened. On Chromevox, it's worse, this causes toasts to not be announced at all.

I've provided feedback to them and requested that they reopen t

[2018-08-24 02:13] Splaktar commented on #349
I posted PR https://github.com/angular/material/pull/11424 to address these issues.

[2018-08-24 09:56] fbricenho commented on #1786
@ThomasBurleson  I still having faith for this to be implemented...

[2018-08-24 12:46] donpironet opened #11425 "Mat tab group content doesn't fill the whole screen"
#### Detailed Reproduction Steps:
I'm having a mat-tab-group with components as content like this:

[code]

Both components have on their container height: 100%.

### What is the expected behavior?
That the components are filling the whole screen under the tabs.

### What is the current behavior?
It only takes 40% of the screen not showing the whole component.

### Which versions of AngularJS, Mat

[2018-08-24 23:46] Splaktar commented on #9447
Well we do have an `md-input-class` API for autocomplete now, but that doesn't help here since it applies the classes to the `input` and not the `md-input-container`.

To solve this with the dropdown, we have a `md-menu-container-class` API in addition to the `md-menu-class` API.

That said, I agree that the fix in https://github.com/angular/material/pull/9698 is a lot more convenient and matches

[2018-08-25 00:42] Splaktar commented on #10715
@marosoft the `hideDelay(0)` settings used in the OP CodePen are there specifically to cause the toasts to not disappear automatically. They should disappear if another toast needs to be shown or they get swiped away.

Your fix seems to be working for me. Can you please submit a PR?

[2018-08-25 20:47] papb opened #11426 "autocomplete: dropdown height is completely wrong"
## Bug, enhancement request, or proposal: Bug

# CodePen and steps to reproduce the issue:
#### CodePen Demo which demonstrates the issue: [pOJMKB](https://codepen.io/anon/pen/pOJMKB?editors=1010)

#### Detailed Reproduction Steps:

![GIF showing issue](https://i.imgur.com/0IlUn55.gif)

1. Open [this codepen](https://codepen.io/anon/pen/pOJMKB?editors=1010)
2. Click on the autocomplete
3. Type "F"

[2018-08-27 19:54] Splaktar commented on #11418
AngularJS Material currently follows the [2017 Material Design spec](https://material.io/archive/guidelines/components/text-fields.html#text-fields-layout) and not the spec that came out in 2018.

The 2018 spec has major changes and does not specify guidelines for the full set of components that AngularJS Material supports (datepickers, etc).

The team needs to discuss and come up with a more comp

[2018-08-27 19:59] Splaktar commented on #11423
Thank you for taking the time to submit this issue. However it does not follow our **required** issue template.

Please file a new issue that follows the template. This gives the team the information needed to investigate the bug or prioritize the feature.

[2018-08-27 19:59] #11423 closed

[2018-08-27 22:27] Makatun commented on #10248
workaround: instead of required put ng-required="!model"
Ex:
... ng-model="data.nomineeState"  ng-required="!data.nomineeState" ...

[2018-08-28 00:38] #10657 closed

[2018-08-28 01:37] papb commented on #11426
Thanks for the quick reply. I'm afraid I can't help with fixing it, my CSS knowledge is not so deep. Good luck to you or whoever takes this :) Thanks for taking the time.

[2018-08-29 00:16] JackForbes commented on #4268
Anyone have a solution to this?

[2018-08-29 00:59] Splaktar commented on #10899
If you check the [$mdDialog docs](https://material.angularjs.org/latest/api/service/$mdDialog) for `parent`, it specifies that the parent must be of type `element`, this means `angular.element`.

Note this code from the example:
[code]
I updated the [CodePen](https://codepen.io/Splaktar/pen/qMaOPj) to do this instead of passing the string `".target"` and it seems to work a lot better.

[2018-08-29 00:59] #10899 closed

[2018-08-29 19:40] Splaktar commented on #9492
Indeed, it appears that IE11 is actually changing the DOM and moving the `h5` out of the `md-slider-container`. Wild!
![slider-labelsoutsidecontainer-ie11](https://user-images.githubusercontent.com/3506071/44811095-b7690e80-aba1-11e8-9a48-e7475536e65f.PNG)
Here's Chrome where the DOM and the actual code look the same structurally:
![slider-labelincontainer-chrome](https://user-images.githubusercon

[2018-08-29 23:15] Splaktar commented on #10973
Right, the default `parseDate` is very basic and you will likely want to override it for your app. As @eknowles mentions above, you don't need to use a decorator, you just need to use `$mdDateLocaleProvider` in the config function as the [$mdDateLocaleProvider Usage Docs](https://material.angularjs.org/latest/api/service/$mdDateLocaleProvider#usage) demonstrate.

Here's your [CodePen updated](http

[2018-08-29 23:15] #10973 closed

[2018-08-30 00:00] Splaktar commented on #10872
This is a bug in AngularJS: https://github.com/angular/angular.js/issues/11193

There is a PR for it (https://github.com/angular/angular.js/pull/14772) but it has been abandoned and no one has continued with the work yet.

This [StackOverflow question](https://stackoverflow.com/questions/28638389/handling-ies-clear-button-with-angularjs-binding) has a lot of possible workarounds.

If you are follo

[2018-08-30 00:00] #10872 closed

[2018-08-30 01:33] Splaktar commented on #9700
I tested this on the last IE11 version against AngularJS Material 1.1.0-rc4, 1.1.0-rc.5, 1.1.4, and 1.1.10 and I was unable to reproduce this in any of those situations when using the demos in the docs. If this is still an issue we'll need a CodePen reproduction.

[2018-08-30 01:33] #9700 closed

[2018-08-30 01:37] Splaktar commented on #9751
This is not reproducible in IE11. We no longer support IE10.

[2018-08-30 01:37] #9751 closed

[2018-08-30 02:02] Splaktar commented on #10406
As mentioned by @zakaoai, just setting the `md-pagination-wrapper`'s width is not enough. If you only change that, then the inkbars and paging buttons can get very out of sync and broken.

I tried just adding `flex: auto` but that didn't help at all. I'm going to explore some other flexbox compatible options. I really don't want to revert back to manual width calculations since that caused issues

[2018-08-30 03:29] Splaktar commented on #10406
I have opened PR https://github.com/angular/material/pull/11432 to address this via CSS changes to `md-tab` and `md-tab-item`.

[2018-08-30 03:42] Splaktar commented on #10425
Is this what you are seeing? This is a screenshot from Edge and I'm seeing the same on IE11 (using [this CodePen](https://codepen.io/Splaktar/pen/bxBeZZ), in [debug view](https://s.codepen.io/Splaktar/debug/bxBeZZ), since JSFiddle does not support IE11).
![checkbox-mark-notshowing-edge](https://user-images.githubusercontent.com/3506071/44828043-0c2d7900-abe4-11e8-83da-e2ebc84cf8b3.PNG)

It seems t

[2018-08-30 10:49] svenank3r commented on #11226
I cannot provide consistent reproduction steps. I tried to create a JsFiddle/CodePen/etc... but they all don't work in IE11 or don't support IE11 anymore.

All I can say is that i can still reproduce the problem in my application. The only case where the menu does work (and gives similair results to yours), is if the md-menu is used within a md-list.

I am using Angular 1.7.2 and Angular Material

[2018-08-30 17:15] Splaktar commented on #11226
Thank you for the feedback.

FYI: You can create a CodePen with Chrome and then view the Debug mode in IE11 for testing.

[2018-08-30 19:02] Splaktar commented on #4268
You just need to have the "Powered by Google" logo on the same tab. It doesn't have to be in the same component (i.e. `md-autocomplete`).

As far as I read it, you don't need to create an `option` that says "Powered by Google" and has the logo but does nothing. This would be bad UX.

I believe that the requirement is just asking that you add a label and logo nearby (on the same view) for attributi

[2018-08-30 21:08] svenank3r commented on #11226
Created a CodePen with Debug mode, but couldn't reproduce the issue.

I could however (sort of) reproduce the issue on the material website (in IE11). I switched to the 1.1.6 version, opened the demo of the menu and pressed the menu of the first example. Resulting in the following:

![image](https://user-images.githubusercontent.com/16895047/44879073-e9b16380-aca8-11e8-82d2-7838d170c864.png)

I ca

[2018-09-02 16:32] NgMomentum commented on #11291
This might be related (or not), but I add this code:

`		// Make sure it is an array
		if (angular.isString(self.config.groupName)) {
            self.config.groupName = [self.config.groupName];
        }`
...to the "MdPanelRef.prototype.open" function in "material.component.panel" to catch input for config.groupName which is a string, and not an array. It appears that using the MdPanelRef.prototy

[2018-09-02 23:40] valepu commented on #8925
It's worth mentioning that the ng-class workaround doesn't work anymore

[2018-09-04 09:45] elincognito opened #11433 "nav-bar: md-nav-sref renders as an href but does not update"
## Bug, enhancement request, or proposal: Bug

# CodePen and steps to reproduce the issue:
#### CodePen demonstrating issue
https://codepen.io/forcewill/pen/NLgKzP

#### Detailed Reproduction Steps:
1.
1.

### What is the expected behavior?

### What is the current behavior?
This:

[code]

renders as
[code]

But as we can see as `$ctrl.selectedCurricularUnit.academicYearsCurricularUnitId` changes

[2018-09-04 14:37] Splaktar commented on #3895
Note that the [`ng-readonly` docs[(https://docs.angularjs.org/api/ng/directive/ngReadonly) specifically state that it is only supported for certain types of inputs. It also links to the [MDN docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-readonly) which state that the `readonly` attribute isn't valid for inputs of type `checkbox`. So this behavior is not supported in pu

[2018-09-04 17:37] Splaktar commented on #5975
@ravidannani Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2). This repo is for AngularJS Material.

[2018-09-04 22:05] #10335 closed

[2018-09-04 22:18] #9447 closed

[2018-09-05 07:51] elir-copyleaks commented on #3909
One possible solution is to display the select inside a directive setting the directive label from it's scope. Then ng-if'ing the directive with a different input for the label.

[2018-09-05 15:30] Splaktar commented on #10762
@jayanthm this should be resolved as all recent releases have been published to NPM. If there is a specific release (not RC) that isn't on NPM, please let me know and I will see what I can do to fix that.

[2018-09-05 15:33] miguelcobain commented on #10762
@Splaktar as you can see on the npm page, the last version published is 1.0.10: https://www.npmjs.com/package/angular-material-source

[2018-09-05 15:35] Splaktar commented on #10762
@miguelcobain that should not be needed at all. You can see all of the recent releases listed on the Versions tab [here](https://www.npmjs.com/package/angular-material) or via `npm view angular-material versions`.

We also have instructions for installing on our [README](https://github.com/angular/material/tree/v1.1.10#npm) and more in depth instructions [here](https://github.com/angular/bower-mat

[2018-09-05 15:35] #10762 closed

[2018-09-05 15:43] miguelcobain commented on #10762
@Splaktar the problem is that package does not include angular material source files, just the built project.
angular-material-source package includes all the source files.

Some projects might want to use angular material sass stylesheets, for example.
Would it be to much of a problem to publish angular-material-source package as well?

[2018-09-05 15:46] miguelcobain commented on #10762
@Splaktar publishing the package myself was something I did not think about. Thanks for the heads up. 👍

[2018-09-05 15:50] Splaktar commented on #10762
@miguelcobain the source is included via `npm i angular-material` already:
![screen shot 2018-09-05 at 11 47 46 am](https://user-images.githubusercontent.com/3506071/45105153-a4a28c80-b101-11e8-9097-488bc1435814.png)

Under `modules/js` you can find all of the individual `.js` files. Under `modules/scss` you can find all of the SASS files.

We also have https://github.com/angular/material-tools if

[2018-09-05 15:53] Splaktar commented on #10762
If you have any further questions, please let us know via the [AngularJS Material forums](https://groups.google.com/forum/?pli=1#!forum/ngmaterial).

[2018-09-05 15:56] miguelcobain commented on #10762
Thank you for bringing that up. Unfortunately it doesn't include the individual scss files, which is the only thing I really need.

There are individual css files, though, but that won't help sass users a lot.

[2018-09-05 15:56] Splaktar commented on #3028
Fixed in https://github.com/angular/material/commit/aa30ada04bbd04c2e5fec99dd0b9357098d291db.

[2018-09-05 15:56] #3028 closed

[2018-09-06 08:43] hintzed commented on #10896
I did reproduce the issue with Chrome 69 and was able to verify that it seems fixed in Chrome 70 build. It will now read the message, followed by `Status` on Chrome 70 with ChromeVox on a Chromebook.

[2018-09-06 16:43] Splaktar commented on #10896
@hintzed thank you very much for testing this out! That's good news. We'll have some additional autocomplete fixes in 1.1.11 as well.

[2018-09-06 16:43] #10896 closed

[2018-09-06 20:35] Splaktar commented on #10264
From our [md-select docs](https://material.angularjs.org/latest/#option-params):

I can see how this could be less than 100% clear, so I am going to rewrite this. Additionally, we don't even have proper docs for `md-option` or `md-optgroup`, so I am going to add those as well.

[2018-09-06 20:38] Splaktar commented on #10248
I'm going to close this as there is no clear set of reproduction steps and demo. It appears that the issues are captured within https://github.com/angular/material/issues/10264. So I'm going to focus on that issue rather than this one.

@meshrajk that's an interesting observation. If that is still an issue, can you please submit a new issue with a CodePen demo and reproduction steps?

Sorry for th

[2018-09-06 20:38] #10248 closed

[2018-09-06 20:48] Splaktar commented on #10264
PR https://github.com/angular/material/pull/11435 adds the missing docs and significantly clarifies the limitations of using the `value` attribute (i.e. string values only).

[2018-09-06 20:59] Splaktar commented on #11433
I reformatted some of the code above to make it a little more readable. I also added the versions from the CodePen demo.

However, a number of the required questions from the issue template were left blank. Can you please fill out at least the reproduction steps and expected behavior sections?

[2018-09-06 21:20] Splaktar commented on #8925
@JolissonVieira thank you for pointing that out. Please track/report any updates/issues related to this in https://github.com/angular/material/issues/9529.

[2018-09-06 21:40] omar10594 commented on #9529
Since I created this issue, we use this decorator as a workaround.

[code]

Reverts the changes made to input.js on #9155

[2018-09-07 11:15] arun-yadav87 opened #11436 "md-datepicker allows to enter alpha numeric characters"
Angular material 5 date picker control is accepting special character . To resolve this I tried regex form validation but it didn't work.

I observe that  form control value doesn't accept special character and that is the reason regex validation is not working.

please suggest any workaround .

**Component Code**
[code]
**Html code**
[code]
UI

![image](https://user-images.githubusercontent.com/2

[2018-09-07 12:52] ShaikASK commented on #11226
Thanks  @svenank3r & @Splaktar .
The temporary fix (disabling the transition) works great.

[2018-09-07 18:27] bersLucas commented on #11436
md-datepicker has validation on inputs and will not update ng-model with invalid dates.

Did you mean to post this in the repo for Angular's Material?

https://github.com/angular/material2/releases

[2018-09-07 19:53] Splaktar commented on #9529
I believe that [this CodePen](https://codepen.io/Splaktar/pen/qMVxZB?editors=1010#0) demonstrates the fix.

For `ng-show`, the space for `.md-icon-left` will be preserved.
For `ng-if`, the space for `.md-icon-left` will not be preserved if the `md-icon` isn't initially visible. If the developer wants to toggle the value of this `ng-if`, then they will need to add `ng-class="{'md-icon-left': showIc

[2018-09-07 20:34] Splaktar commented on #9529
It looks like that fix breaks the fix to textareas from https://github.com/angular/material/pull/9155.

[2018-09-07 21:29] Splaktar commented on #11436
Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-09-07 21:29] #11436 closed

[2018-09-07 21:33] #10264 closed

[2018-09-10 18:38] Splaktar commented on #3365
Contact-chips support PR merged in https://github.com/angular/material/commit/eb10b56cbc29e59c669076142cf0a91e1d84d175.

[2018-09-10 18:38] #3365 closed

[2018-09-10 23:16] Splaktar commented on #10526
This appears to have been fixed in PR https://github.com/angular/material/pull/10455.

[2018-09-10 23:16] #10526 closed

[2018-09-10 23:59] Splaktar commented on #10999
I was finally able to reproduce this. Changing the `$mdUtil.nextTick` to a `$timeout` was sufficient to fix it. I didn't need to wrap the `$mdUtil.nextTick` in a `$timeout` or use a `100` ms delay with the `$timeout`. The cause is likely related to how `$mdUtil.nextTick` batches up operations, which is not desirable in this case.

[2018-09-11 19:39] Splaktar commented on #10838
I was able to reproduce this on ChromeOS 69. I will read through https://www.w3.org/TR/wai-aria-1.1/#combobox to determine if there is a specific aria field that needs to be set or some other way to indicate that an item is selected versus just having text in the input read to the user.

Have you observed Chromevox working properly in any other combobox? I would love to take a look at an example/d

[2018-09-11 20:39] Splaktar commented on #10838
It looks like our current `md-autocomplete` a11y is implemented using the WAI-ARIA 1.0 combobox guidance which changed significantly in WAI-ARIA 1.1.

[2018-09-11 20:44] Splaktar commented on #10838
With the 1.1 implementation it will announce the following:
"{md-autocomplete aria-label} {Value} selected, Search"

If required:
"{md-autocomplete aria-label} {Value} selected, Required, Search"

[2018-09-11 21:17] Splaktar commented on #10912
The breaking change for `md-selected-text` was a XSS security fix (https://github.com/angular/material/pull/10023) in 1.1.2. I'm working on a changelog update atm.

For `$mdDialog` and `multiple`, the docs were added in 1.1.2 via PR https://github.com/angular/material/pull/9950. The functionality was added in PR https://github.com/angular/material/pull/9053. Also as mentioned above, it has a chang

[2018-09-11 21:46] Splaktar commented on #10970
This may be fixed by https://github.com/angular/material/pull/11441. I need someone to test on JAWS and iOS VoiceOver to verify this as I don't have access to JAWS or an iOS device.

For the time being, this can be tested via https://angularjs-material.firebaseapp.com/ or at https://material.angularjs.org/HEAD/ once PR https://github.com/angular/material/pull/11441 is merged.

[2018-09-11 22:08] Splaktar commented on #11410
I'm not at all familiar with how AngularJS Material is using Saucelabs. I've looked at the various config files, scripts, etc.

It looks like our TravisCI is setup to run on Linux machines, but then it delegates to Saucelabs for all test runs to execute on Windows 10 with Chrome. This doesn't make much sense to me at all.

That said, I'm not 100% clear on what you are suggesting here.

Are you sug

[2018-09-12 05:51] Splaktar commented on #10970
@benjiallen thank you very much for the information! I am a little more familiar with those gestures now after using Talkback for Android.

However, I don't have an iOS device and I don't have a license for JAWS, so I would really appreciate your help with testing these latest changes to go from WAI-ARIA 1.0 to WAI-ARIA 1.1 with autocomplete. You can find examples using 1.1 here: https://angularjs

[2018-09-12 20:28] Splaktar commented on #7275
I've asked an AngularJS compiler expert to look into this.

[2018-09-12 21:27] Splaktar commented on #7275
@marosoft thanks! That looks promising, I'll dig into that a bit more.

[2018-09-13 03:29] totomaze opened #11443 "menu: overlay is blocking click and contextmenu events"
**Bug, feature request, or proposal:**
Bug

**What is the expected behavior?**
When menu is open, any click event (including context menu events) outside of the menu and targeting clickable items, is expected to work from the first time. Menu should be closed along with the action handled by the clicked item.
Maybe the close menu shouldn't be handled when clicking on the backdrop but when its outs

[2018-09-13 15:11] benjiallen commented on #10970
I tested the solution on:

* iOS 11.2.1 + Safari + VoiceOver
* Windows 7 + IE 11 + JAWS 17

## Results for iOS

* Could access the element and begin typing
* Got good feedback on number of results
* Did not get good feedback on field label - would have expected to hear the field labeled as "What is your favorite US state?"
* Could not select a result from the matches found
    * When I close the k

[2018-09-13 17:32] Splaktar commented on #7275
Answered here: https://stackoverflow.com/questions/35504567/contidional-template-controller-mdradiogroup-required-by-directive-mdradio#answer-52311046

[2018-09-14 16:01] asatalkar-ttm commented on #9646
Is there a way to restrict the input to certain number of characters in $mdDialog.prompt() ?

[2018-09-15 20:38] Quesstor opened #11444 "gesture: click events stop working on firefox mobile after calling a time intensive function"
## Bug

# CodePen and steps to reproduce the issue:
Its hard to test on codepen because codepen will stop the loop execution.
#### [CodePen Demo](https://codepen.io/anon/pen/xaawQm) which demonstrates the issue:

Here is some minimal code, please adjust the load variable, such that the loop takes at least 5 seconds to finish:

    <html lang="en">

    <head>
        <meta name="viewport" content=

[2018-09-16 05:36] Ardeshir81 opened #11445 "mdNavBar appearance problems when items too much"
## Bug, enhancement request, or proposal:
when items of mdNavBar are too much, and it gets longer than page width, appearace problems appear.

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:
https://codepen.io/Ardeshir81/pen/PddbVL

#### Detailed Reproduction Steps:
1.
1.

### What is the expected beha

[2018-09-17 14:07] dokmic opened #11447 "select: wrong drop-down position after the resize"
## Bug, enhancement request, or proposal:

Bug

# CodePen and steps to reproduce the issue:
#### [The official demo](https://material.angularjs.org/HEAD/demo/select#validations) demonstrates the issue:

After the opening and closing a drop-down in `Validations` section, the drop-down will appear in a wrong place after a resize or orientation change.

#### Detailed Reproduction Steps:

1. Go to [va

[2018-09-17 17:42] Splaktar commented on #10970
@benjiallen It looks like JAWS 17 was released in 2015. The WAI-ARIA 1.1 Recommendation came out in December 2017. So that certainly wouldn't be expected to work.

It looks like JAWS has moved to a yearly release with the latest being named "JAWS 2018". It also appears that it is getting approximately monthly releases with improvements to features and bug fixes: https://www.freedomscientific.com/d

[2018-09-17 17:47] Splaktar commented on #10970
@benjiallen do you know if your VoiceOver iOS results are worse than or an improvement upon 1.1.10 (https://material.angularjs.org/1.1.10/demo/autocomplete)?

[2018-09-17 18:04] #7275 closed

[2018-09-17 18:08] Splaktar commented on #9275
This seems similar to https://github.com/angular/material/issues/7275 which has a good answer on StackOverflow (linked in this comment: https://github.com/angular/material/issues/7275#issuecomment-421088825).

I'm going to close this issue as we don't plan to make any risky changes like this in AngularJS Material and the project that reported this (https://github.com/iamisti/mdDataTable) hasn't se

[2018-09-17 18:09] #9275 closed

[2018-09-17 19:09] Splaktar opened #11449 "docs: specify the screen reader versions that are supported"
## Bug, enhancement request, or proposal:
Proposal

### What is the expected behavior?
In addition to specifying the supported browsers, the docs should specify the screen readers that we support.

### What is the current behavior?
We build "accessible UI components" but we don't specify any further details.

### What is the use-case or motivation for changing an existing behavior?
There needs to

[2018-09-17 20:48] Splaktar commented on #11443
For `md-select`, issue https://github.com/angular/material/issues/11346 already tracks this issue. We're waiting on a PR from the community to add that functionality.

For `md-autocomplete`, I cannot reproduce this issue in https://material.angularjs.org/1.1.10/demo/autocomplete. After I open the dropdown, the first click on the left nav menu causes navigation.

[2018-09-17 21:13] Splaktar commented on #11291
@NgMomentum I gave that a shot, but it did not help with fixing this issue unfortunately.

[2018-09-17 22:57] Splaktar commented on #11291
OK, I've investigated this a bit further. The issue appears to be that `MdPanelAnimation.prototype.animateOpen` and `MdPanelAnimation.prototype.animateClose` do not properly support reopening of panels.

On open, `_md-panel-animate-enter` gets applied along with `style="z-index: 151; top: 0px; right: 0px;"`.
On close, `_md-panel-animate-scale-out _md-panel-animate-leave` gets applied, but the `_md

[2018-09-18 00:27] Splaktar commented on #11291
I fixed the issue with classes getting left around after the animations are rerun in https://github.com/angular/material/commit/9c63a0576ba34aae68e30cd76ffc48e77bb3b870.

However, I was not able to solve the issue with the CSS transforms. It requires digging deeply into https://github.com/angular/material/blob/fixPanelReopenAnimation/src/core/util/animation/animate.js, which I have never looked at

[2018-09-18 00:32] Splaktar commented on #11226
@MustafaASK and @svenank3r can you please provide your version of Windows and IE11?

[2018-09-18 00:36] Splaktar commented on #9646
@asatalkar-ttm no, you will need to create a custom dialog via `$mdDialog.show()` as documented [here](https://material.angularjs.org/1.1.10/api/service/$mdDialog#mddialog-show-optionsorpreset).

[2018-09-18 00:49] Splaktar commented on #11444
Your CodePen didn't include the AngularJS Material CSS and it mixed versions of AngularJS. So I created a new [CodePen](https://codepen.io/Splaktar/pen/vzVzJE?editors=1010#0) without those issues.

[This link](https://codepen.io/Splaktar/debug/vzVzJE) can be used for mobile testing.

[2018-09-18 01:07] Splaktar commented on #11444
I see the same thing on Chrome for Android.

You will want to disable click hijacking if you run into problems like this.
[code]
Here's a fixed [CodePen](https://codepen.io/Splaktar/pen/Pdydxp?editors=1010#0). It can be tested on mobile [here](https://codepen.io/Splaktar/debug/Pdydxp).

The documentation for this can be found [here](https://material.angularjs.org/1.1.10/api/service/$mdGestureProvi

[2018-09-18 01:07] #11444 closed

[2018-09-18 04:56] Ardeshir81 commented on #11445
Oops!
Thanks! No, that's clear!
Right now I saw your post, and I'm thinking why the hell I didn't think of tabs!
Instead I mimicked mdNavBar using a div.layout-row containing mdButtons, with the selected one having a <hr /> under it with theme's accent color : )) (and also I record current div's scrollLeft to localStorage, because my state reloads on each button, and I need to show the active butt

[2018-09-18 07:31] svenank3r commented on #11226
- IE11 version 11.0.9600.19078
- Windows version: 8.1 Enterprise / Version 6.3 (Build 9600)

[2018-09-18 20:34] enri90 commented on #10416
+1

[2018-09-18 21:16] Splaktar commented on #10416
Thank you for taking the time to submit this issue. However it does not follow our **required** issue template. A CodePen demo of the issue is **required**.

Please file a new issue that follows the template. This gives the team the information needed to investigate the bug or prioritize the feature.

This could be a number of different things, but there isn't enough detail here to determine which

[2018-09-18 21:16] #10416 closed

[2018-09-18 21:30] Splaktar commented on #11226
Here's the latest IE11 patched version that is on Windows 10 now:
IE Version: 11.285.17134.0
Update Version: 11.0.85 ([KB4457426](https://support.microsoft.com/en-us/help/4457426/cumulative-security-update-for-internet-explorer)) from 9/11/2018

I'm not exactly sure at what point this was fixed in IE11, but it appears that it might have been fixed sometime in the last few years.

Is anyone seeing

[2018-09-18 22:10] #349 closed

[2018-09-19 00:43] enri90 commented on #10113
+1

[2018-09-19 09:51] EymerJones commented on #7419
Hi everyone,

This solution has worked in my case (cf: closing the dropdown sugggestion of md-autocomplete without selecting (or clicking in the webpage) :

            document.dispatchEvent(new Event('click'));

I haven't test on mobile nevertheless you are probably using Ionic or loading a webpage and so this should work either.

[2018-09-19 15:31] adit-k commented on #2546
In case anyone wanted to use @NateVonSmith custom autocomplete directive above and populate the options list using a async call to the server there are some tweaks needed. Nate's directive works pretty well however setting the default value to the ng-Model has issues if you are loading options asynchronously. This was solved by moving that code to the link function and adding a watch on the option

[2018-09-19 21:15] #10912 closed

[2018-09-19 23:44] Splaktar commented on #10838
I had to back off some of the changes in PR #11441 since WAI-ARIA 1.1 is not well supported yet and the GoogleChrome/accessibility-developer-tools only support WAI-ARIA 1.0. Those tools, even though currently unmaintained, are used in the presubmit process.

After making these changes, the fix to Chromevox works, but the text read is slightly different:
"{md-autocomplete aria-label} {Value} select

[2018-09-19 23:54] Splaktar commented on #10970
@benjiallen I made some updates to be more compatible with WAI-ARIA 1.0. Hopefully using `role="textbox"` will work better since `role="searchbox"` doesn't exist in WAI-ARIA 1.0.

Can you please re-test against https://angularjs-material.firebaseapp.com/demo/autocomplete?

[2018-09-19 23:59] Splaktar commented on #11449
It's probably needed that we define which version of the WAI-ARIA spec we will follow. The [1.0 Spec](https://www.w3.org/TR/wai-aria-1.0/) from March 2014 seems to be fairly well supported across screen readers where as the newer [1.1 Spec](https://www.w3.org/TR/wai-aria-1.1/) from Dec 2017 is only moderately supported on the latest screen readers (and not working at all on older versions of those

[2018-09-20 00:11] Splaktar commented on #7419
The workaround for this issue is posted [here](https://github.com/angular/material/issues/9581#issuecomment-246305494). I'm going to lock this so that all of the conversation can happen in one place (an open issue): https://github.com/angular/material/issues/9581.

[2018-09-20 00:17] Splaktar commented on #9581
As an update to this issue, HammerJS is mentioned as a solution a few times above. We're tracking that work in https://github.com/angular/material/issues/9362, but it may not be something that we can ever get merged in.

Disabling click hijacking as described in https://github.com/angular/material/issues/9581#issuecomment-246305494 and our [$mdGestureProvider docs](https://material.angularjs.org/1

[2018-09-20 09:11] izerozlu commented on #3028
@Splaktar Documentation needs update about this feature.

[2018-09-20 16:32] frame commented on #3287
I found the culprit: After the destruction of the autocomplete instance, its queued promises might still be running in the background. Once the promise gets finally resolved, `onResultsRetrieved()` gets triggered and inserts partially broken markup: `div.md-scroll-mask` `div.md-visually-hidden` and `md-virtual-repeat-container` all end up under <body>, regardless if the user already blurred the el

[2018-09-20 18:11] Splaktar opened #11451 "docs: HEAD version not updated since 8/13"
## Bug, enhancement request, or proposal:
Bug

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:
https://material.angularjs.org/HEAD/

### What is the expected behavior?
The HEAD docs should be updated with each merge to master.

### What is the current behavior?
As mentioned in https://github.com/angula

[2018-09-20 18:12] Splaktar commented on #3028
I opened https://github.com/angular/material/issues/11451 to track this docs deployment issue.

[2018-09-20 18:28] Splaktar commented on #10518
This was fixed in https://github.com/angular/material/commit/baa869a.

[2018-09-20 18:30] Splaktar commented on #10301
@gelordi please open a new issue with a CodePen reproduction.

[2018-09-20 18:32] Splaktar commented on #3287
1.1.5 includes some additional fixes for related issues. https://github.com/angular/material/commit/baa869a contains some of these fixes. It comes from PR https://github.com/angular/material/pull/10821.

If you are seeing issues after 1.1.5, please open a new issue with a CodePen reproduction.

[2018-09-20 18:36] Makatun commented on #7954
@nebulr  dude you fucked up. Original thread was ok but you hijacked it, confused contributers, made them make a wrong decision that is not fixable at this point since project is closed and made my life much harder,
Solution to your problem is easily fixable by adding required-if="!model.field" solution to original problem is not as easy. Now I have a form that has an invalid/missing option select

[2018-09-20 18:58] Splaktar commented on #11401
Firefox and Webkit (Chrome and Safari) don't handle flex columns the same.

These should help you find a column based solution:
https://stackoverflow.com/a/35869387/633107
https://stackoverflow.com/a/20959601/633107

https://github.com/philipwalton/flexbugs describes a lot of different bugs and behaviors with flexbox, but I don't see this specific issue there.

[2018-09-20 19:03] Splaktar commented on #4456
@BaldemarJanrain right, I see that, but we need a PR for it, not just a comment. Also instead of using a watch in all cases, we would use a `MutationObserver` for improved performance ([example here](https://github.com/angular/material/blob/v1.1.10/src/components/navBar/navBar.js#L482-L507)).

If you would like to submit a PR, I would be happy to help you with it.

[2018-09-20 19:08] Splaktar commented on #11016
@marosoft sorry for the delay. That looks very interesting! I have a few minor syntax and styling review comments, but otherwise it looks good. Please open the PR!

[2018-09-20 19:10] Splaktar commented on #9754
That would be great! Please open the PR 😄

[2018-09-20 19:15] Splaktar commented on #10963
@marosoft that is an interesting and proven approach. However, I wonder if we can solve it in a way that doesn't involve bringing a lot of new code into the repo. Have you looked at any alternatives that are more simple? Did they present problems that only something like the CDK focus trap can solve?

I'm currently focused on P1 issues, but this P2 issue should get some of my time later this fall.

[2018-09-20 19:27] Splaktar commented on #7954
@Makatun FYI, this project is not closed. However, this issue is closed. If you have questions, please try the [AngularJS Material forums](https://groups.google.com/forum/?pli=1#!forum/ngmaterial). If you have found a bug in AngularJS Material, please open a new issue that follows the issue template and includes a CodePen reproduction.

[2018-09-20 19:36] Splaktar opened #11452 "docs: site contains aria and a11y issues"
## Bug, enhancement request, or proposal:
Bug

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:
https://material.angularjs.org/latest/

#### Detailed Reproduction Steps:
1. Run a Lighthouse A11y Audit
1. Review results

### What is the expected behavior?
The Lighthouse a11y audit should be very close to

[2018-09-20 19:41] Splaktar commented on #7025
@Satej7 Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-09-20 19:46] Splaktar commented on #11334
@marosoft I'd love to see a PR for this 😄

[2018-09-20 21:53] Splaktar commented on #11451
I verified that even after a PR was merged today, the docs site HEAD wasn't deployed and updated properly. The repos look fine, but it looks like some of the tooling on the Google side isn't working properly. Everything in [TravisCI](https://travis-ci.org/angular/material/jobs/431201378) looks fine.

@mmalerba can you please investigate?

[2018-09-20 22:03] mmalerba commented on #11451
@josephperrott were you looking into something similar to this for angular/angular?

[2018-09-21 02:01] hayzey commented on #11308
Can confirm this is an issue in Chrome 69.0.3497.92 on macOS, using Angular Material 1.1.10 and Angular 1.7.4

[2018-09-21 02:02] totomaze commented on #11443
For md-autocomplete, try to click on view source when the autocomplete is open
I think the z-index of the navigation is higher than the scroll-mask , that's why it s working the button are behind the scroll-mask
https://material.angularjs.org/1.1.10/demo/autocomplete.

[2018-09-21 02:18] totomaze commented on #11346
Same kind of problem with md-autocomplete, (md-scroll-mask)

https://material.angularjs.org/1.1.10/demo/autocomplete.
reproduce by opening the autocomplete and try to click on a clickable icon like view source.
ps: the sidenav links are working because the sidenav z-index is higher than the md-scroll-mask

[2018-09-21 06:03] DevVersion commented on #11410
I'm suggesting that you remove Saucelabs completely and just run against Chrome headless and Firefox headless for now.

In Angular Material, we've already had to remove browsers like IE11 from Saucelabs because those no longer run stable at all. If you want to continue testing against "flaky" IE11, then that's reasonable, but I think it would be good to request a new Sauclabs license specifically

[2018-09-21 16:59] #10999 closed

[2018-09-21 19:27] Splaktar commented on #11227
This appears to be caused by `-ms-overflow-y: scroll;` being applied to the `html` element when `md-select` is open.

This is set in [disableBodyScroll()](https://github.com/angular/material/blob/v1.1.10/src/core/util/util.js#L277-L322).

[2018-09-21 19:53] Splaktar commented on #11227
There is an incredibly long history behind this, but https://github.com/angular/material/commit/ddfe5230bbc9d06a2439da9dbfef8feee2a6f572 is the commit back in 0.10.1 that changed this from `overflow-y: hidden` to `overflow-y: scroll`.

[2018-09-23 02:40] #9529 closed

[2018-09-24 21:08] silentsnooc commented on #5674
Kind of solved: https://github.com/angular/material2/issues/4801

[2018-09-25 12:37] hassan-haghi opened #11456 "Rendering multiple mat-select with any EVENT on the page when using the function in option (text section)."
## Bug, enhancement request, or proposal:
Bug

### What is the current behavior?
When defined function  in option text, with each EVENT on the page, Select is rendered again..

### Which versions of AngularJS, Material, OS, and browsers are affected?

- AngularJS: 6.1.6
- AngularJS Material:  6.4.6
- OS: Windows
- Browsers: Chrome 69.0.3497.100 (Official Build) (64-bit)

### Is there anything else

[2018-09-25 12:55] EdvinasOak opened #11457 "Editable Md- Chips AngularJS"
#### Detailed Reproduction Steps:
1. Click on the chip to edit text
2. Modify existing text or type in new value
2. Save existing text by pressing enter or performing left mouse click outside the chips box

### What is the expected behavior?
The changes to the text should be present

### What is the current behavior?
The text disappears completely

### What is the use-case or motivation for changi

[2018-09-25 18:07] Splaktar commented on #11456
Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-09-25 18:07] #11456 closed

[2018-09-25 18:32] hassan-haghi commented on #11456
OK, I submitted in Angular Material.
thank you

[2018-09-25 23:06] Splaktar opened #11458 "colors: add support for contrast parameter"
## Bug, enhancement request, or proposal:
Enhancement

### What is the expected behavior?
PR https://github.com/angular/material/pull/11376 adds contrast opacity to colors and hues. It should be possible to specify these opacity keywords and values when using `md-colors`.

### What is the current behavior?
`md-colors` does not support the new opacity keywords and values.

### What is the use-case

[2018-09-26 02:43] codymikol commented on #11181
I'm closing this as I know better understand this is just a quirk of errorOnUnhandledRejections and is more related to angularJS itself. All thrown errors inside promises are ignored when this is set to false.

[2018-09-26 02:43] #11181 closed

[2018-09-26 03:02] codymikol opened #11460 "dialog: "Ghost Dialogs" created when $mdDialog resolver fails"
## Bug, enhancement request, or proposal:

Bug

# CodePen and steps to reproduce the issue:
#### [Ghost Bug Demo](https://codepen.io/codymikol/pen/EeqjmN) which demonstrates the issue:

#### Detailed Reproduction Steps:
1. In my CodePen open the first Dialog via the "Open This Button"
1. Notice If you press close in the upper right hand corner it will close as expected.
1. Open it again and click

[2018-09-26 04:10] codymikol commented on #11460
Some more information, I've been doing a little digging. It looks like every failed resolve pushed a new dialog into the "showingInterims" Array. So if I can figure out how to ensure InterimElements that fail compilation are not added to this list, that should solve the problem.

[2018-09-26 08:39] JSitjaNCR opened #11461 "feat(virtual-repeat-container): support horizontal scrollbar in vertical orientation"
## Bug, enhancement request, or proposal:

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](https://codepen.io/JSitjaNCR/pen/MqNJJo) which demonstrates the issue:

#### Detailed Reproduction Steps:
1. Open Code Pen
1. Click button 'Go to End'

### What is the expected behavior?
Last lines rendered

### What is the current behavior?
Blank lines

### What is the use-case or motivation

[2018-09-26 12:37] MusicCog commented on #10609
I think that we need a way of reacting to 'actually-has-rendered-this-list' rather than assuming $timeout values - that would then either call scrollToIndex or allow us to.

My data-ng-class (active) gets set multiple times when switching between different lists, which I suspect is exactly the same issue that marius reported.

[2018-09-26 12:44] codymikol commented on #11461
This is happening because you overwrote the angular-material classes.

[code]

When that css is removed everything works fine.

[Here is a working demo](https://codepen.io/codymikol/pen/rZXJPW?editors=1111)

[2018-09-26 12:50] JSitjaNCR commented on #11461
I notice that but i need to add the horizontal scrollbar in md-virtual-repeat-scroller. With the fix in VirtualRepeat.js this work fine with and without scrollbar.

[2018-09-26 16:28] develuxe commented on #1106
Great workaround, thank you! I also had to override the style for smaller screens (smartphone):
`md-toast {
    position: fixed !important;
}`

[2018-09-26 17:42] jelbourn commented on #11451
https://travis-ci.org/angular/code.material.angularjs.org/builds/432029663

At first glance it looks like it needs an update to `firebase-tools` and a new authentication token

[2018-09-27 00:41] Splaktar commented on #3028
@izerozlu thanks for the heads up. The [mdTab docs](https://material.angularjs.org/HEAD/api/directive/mdTab) have been updated.

[2018-09-27 20:48] Splaktar commented on #11443
OK, @totomaze I see what you mean now after doing some additional testing using the buttons or checkboxes on the page.

I've updated this issue's title to cover `md-menu` as it uses `md-backdrop`. Please open a separate issue for `md-autocomplete` and in it reference this issue and the `md-select` issue. Note that a solution for `md-autocomplete` will be different as it uses the `md-scroll-mask` i

[2018-09-28 02:18] totomaze opened #11464 "md-swipe block scrolling in mobile devices (touch)"
## Bug:
When using md-swipe on an element that can scroll the scrolling is impossible in a mobile device (touch)

# CodePen and steps to reproduce the issue:
#### https://codepen.io/anon/pen/XxWjEx which demonstrates the issue:
Impossible to scroll the swipeleft element when you are on a mobile device mode.

#### Detailed Reproduction Steps:
1.  to scroll the swipeleft element when you are on a mo

[2018-09-28 16:02] WebTechnolog opened #11466 "flex-val inside layout-row and layout-column"
## Bug:

Too specific "flex-val" selectors prevent applying media-dependent rules.

# CodePen and steps to reproduce the issue:
### [CodePen Demo which demonstrates the issue](https://codepen.io/webtechnolog/pen/ZqEVvr)

#### Detailed Reproduction Steps:
1. Put a **flex="100"** div inside **layout="row"**
2. Add **flex-gt-sm="auto"** to it

### What is the expected behavior?
The described div's wi

[2018-09-28 16:33] bersLucas commented on #11466
We can fix this by adding the `.layout-row >` to the not-valued layout rules (grow, auto, ect)

[code]

Does anybody else have some input on a better way or a reason to not do this before I submit a PR?

In the meantime, you can add this to your project to get it working for now
[code]

[2018-09-29 18:06] Splaktar commented on #4561
Fixed in 1.1.10: https://material.angularjs.org/1.1.10/demo/datepicker

[2018-09-29 18:29] Splaktar commented on #11461
I get the same behavior on both CodePens (from OP and from @codymikol) above.
<img width="331" alt="screen shot 2018-09-29 at 2 26 58 pm" src="https://user-images.githubusercontent.com/3506071/46249238-c38bfa00-c3f3-11e8-9d91-c8f8824000b0.png">

I don't see any blank lines as stated in the OP.
Is the problem that 1998 and 1999 aren't shown in the viewport?

Can you explain more about what you are

[2018-09-29 18:49] Splaktar commented on #1106
I really appreciate people helping others in this thread and posting constructive ideas and feedback!

However, while there are a lot of rough descriptions and ideas in this thread, I don't see any CodePen demos that clearly demonstrate the issue. If I missed one (I tried to read all of the comments), please just re-post the CodePen link for me.

Can anyone submit a CodePen demo that clearly demon

[2018-09-29 18:55] Splaktar commented on #11460
Thank you for looking into this. There are certainly some issues with interimElements, but as you noted, they are a very core element for a number of components. I'll try to look at this some more soon.

[2018-09-29 18:59] codymikol commented on #11461
It does fail to render the virtual-scroll with that extra CSS

Ubuntu - Chrome 69

![before](https://user-images.githubusercontent.com/13606342/46249490-efa97a00-c3f7-11e8-8fc1-9dd5806db1a8.png)

If you scroll a little bit everything pops into view

![after](https://user-images.githubusercontent.com/13606342/46249500-2aabad80-c3f8-11e8-8098-f4fcf3655326.png)

[2018-09-29 22:08] Splaktar commented on #11464
In the demo that I can see, you are wanting to support horizontal scrolling and swipe left on the same element?
We don't support that as we apply `touch-action: pan-y` for swipe left and swipe right. This enables swipe detection for pan-x events and scrolling for pan-y.
The opposite is true for swipe up and swipe down.

Here's an example of swipe left and vertical scrolling working together: https

[2018-09-29 23:03] Splaktar commented on #11395
Re-opening this as the id mangling in #11342 is not the same as the lack of id caching in this issue.

[2018-09-30 00:15] totomaze opened #11467 "Md-autocomplete block any click event outside the autocomplete component"
**Bug, feature request, or proposal:**
Bug

**What is the expected behavior?**
When the autocomplete is open, any click event (including context menu events) outside of the menu and targeting clickable items, is expected to work from the first time. Autocomplete should be closed along with the action handled by the clicked item.
Maybe the close autocomplete shouldn't be handled when clicking on th

[2018-09-30 00:31] totomaze commented on #11464
Hi , i tried hammerjs too but without success.
Yes I want to be able to scroll horizontally and also detect a swipe.
To make it work I used the following library :
//http://labs.rampinteractive.co.uk/touchSwipe/docs
It only works if I set the **preventDefaultEvent to false** , so maybe md-swipe is preventing the default event (didn´t have time to look at angular code yet)
	    	 $(".swipe").swipe(

[2018-09-30 07:12] MusicCog commented on #10609
Splaktar, can you give us your patch please ?

I know it's a hack, but might get me started.

[2018-09-30 19:01] Splaktar commented on #10609
@MusicCog here's a [CodePen](https://codepen.io/Splaktar/pen/JmdoXp) with the `$timeout` patch. Please try this [angular-material-10609.js](https://drive.google.com/uc?export=download&id=19GBfiVyUq0SmUoA_hnjCoA79r8Zx4ZCW) file and let me know if it resolves the issue for you. If it does, I can open a PR.

[2018-10-01 14:49] MiB3Avenger opened #11468 "build: support NodeJS v10.x"
I'm trying to replicate the docs application, but when I followed the steps in [here](https://github.com/angular/material/tree/master/docs), after `npm install` step, I received a message (Highlighted):

![image](https://user-images.githubusercontent.com/30885075/46296294-ab64d800-c5b7-11e8-9b3e-d86a0a99b2d5.png)

Then, I ran the `npm run docs:watch` command and get the following messages.

![imag

[2018-10-01 16:57] #11410 closed

[2018-10-01 16:57] #11468 closed

[2018-10-01 22:05] jagmeetb commented on #11259
Hello, I'm interested in submitting a PR for this issue. Is anyone working on this currently?

 I'm still new to to contributing in open-source, and just to make sure I'm understanding this issue correctly: I need to update [this line](https://github.com/angular/material/blob/master/src/core/services/theming/theming.js#L283) to prepend a `#` if none is there?

[2018-10-01 22:39] Splaktar commented on #11259
@jagmeetb I don't believe that anyone is working on this atm. There is no PR open.

The [Contributing Guide](https://github.com/angular/material/blob/master/.github/CONTRIBUTING.md) has a lot of information on how to format your commit message and other important details to get you started.

Then the [Pull Request Guide](https://github.com/angular/material/blob/master/docs/guides/PULL_REQUESTS.md)

[2018-10-02 05:29] KZRepository opened #11470 "dialog(multiple): backdrop problem with multiple dialogs"
## Bug, enhancement request, or proposal: BUG

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue: <p data-height="265" data-theme-id="0" data-slug-hash="858d4284dd32a420f45d2a4cc0f4ff62" data-default-tab="js,result" data-user="StretchKids" data-pen-title="858d4284dd32a420f45d2a4cc0f4ff62" class="codepen">

[2018-10-02 12:49] codymikol commented on #11470
Hello, You can get the behavior you'd like by specifying the parent on your dialog. Working example [here](https://codepen.io/codymikol/pen/WaQyGGl)

I like to use

` parent: document.getElementsByClassName('md-dialog-container')[0]`

Works well on double nested dialogs, not sure about triple nested.

[2018-10-02 13:39] StretchKids commented on #11470
Thanks...that w

Thanks! That works.

The result is a bit bizarre internally. The md-backdrop and md-dialog-container of the second dialog are under the md-dialog-container of the first dialog. The z-indexes are still changed erroneously. both backdrops are at 79, both containers at 80.

Another workaround I was considering was at the onCompleted event cycling through the md-backdrops and md-dialo

[2018-10-02 13:50] papb commented on #11426
I noticed now that this is directly related to #6668

[2018-10-02 14:15] tatsujb commented on #9802
I have this in angular 6.0.4, angular material/cdk 6.2.1

so long as you put DOM call to execute on the element in the list such as `(click)` or `(mousedown)` the dropdown won't close.

I've tried calling a `hide()` or a `close()` method on the mat-dropdown by declaring a DOM selector the calling a `hide()` on that selector inside the same code as the rest :

[code]

but this just said the method

[2018-10-02 15:46] Splaktar commented on #9802
@tatsujb Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-10-02 15:52] Splaktar commented on #9802
I can still reproduce this in 1.1.10. Here's an updated [CodePen](https://codepen.io/Splaktar/pen/xywMQB).

My guess is that both the menu and select have `md-backdrops` that individually need to be clicked. Adding `md-no-backdrop` as part of https://github.com/angular/material/issues/11346 and https://github.com/angular/material/issues/11443 should allow developers to customize/fix this behavior.

[2018-10-02 15:56] Splaktar commented on #11470
I believe that this is related to https://github.com/angular/material/issues/11308 as well.

[2018-10-02 16:40] Splaktar commented on #9000
This appears to be fixed in 1.1.10 (possibly earlier). Updated [CodePen](https://codepen.io/Splaktar/pen/aRvxwJ) and [Debug View](https://s.codepen.io/Splaktar/debug/aRvxwJ).

[2018-10-02 16:40] #9000 closed

[2018-10-03 00:33] codymikol commented on #11308
I did some manual tests and @jakobadam is 100% correct, we should be using stopImmediatePropagation. I have done manual testing and made a PR. 🐔

[2018-10-03 00:34] codymikol commented on #11308
@Splaktar if you can add him to my PR somehow so he gets credit that would be great, not sure if that's possible though.

[2018-10-03 18:16] codymikol commented on #10548
I'm going to take a crack at fixing this :chicken:

[2018-10-03 21:10] Splaktar opened #11473 "docs(pull-requests): add link to GitHub's Amending older or multiple commit messages Guide"
## Bug, enhancement request, or proposal:
Proposal

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](http://codepen.io/team/AngularMaterial/pen/bEGJdd) which demonstrates the issue:
https://github.com/angular/material/blob/master/docs/guides/PULL_REQUESTS.md#submitting-a-pull-request

### What is the expected behavior?
We should let contributors know about the [Git amend](https://he

[2018-10-03 21:13] Splaktar commented on #11308
@codymikol just mentioning him and linking to his comment with the suggested fix in your PR is the way to do that.

[2018-10-03 21:30] Splaktar commented on #11466
There are some layout changes already in master for 1.1.11, so it's important to test this against those. I've updated the [CodePen](https://codepen.io/Splaktar/pen/YJqwBa?editors=1100) to use the latest `master` and this is indeed still an issue.

From the bug report, I thought that maybe the media-dependent styles were being overwritten. However in the debugger, it appears that they aren't even

[2018-10-03 21:32] anabellaspinelli commented on #11473
Hi @Splaktar! I think I could do this one.

Do you mean changing the section in `PULL_REQUESTS.md` about adding suggested changes to something like
[code]
?

Thanks!

[2018-10-03 21:42] Splaktar commented on #11473
Yes, that would be helpful. I guess we may want to keep the existing `-a` flag as well. So perhaps `git commit -a --amend`?

I also wanted to link to that guide from GitHub. That may also be a GitHub guide on squashing commits or interactive rebase that we could link to as well.

[2018-10-03 22:29] jessika opened #11474 "toast: default action hotkey can be accidentally activated due to conflicts w/ common keyboard shortcuts"
## Bug, enhancement request, or proposal:

# CodePen and steps to reproduce the issue:
#### Code in master branch

Caused by this commit https://github.com/angular/material/commit/fedb9a33355688f5a72f5c873766a82608342d1c ("fix(toast): improve a11y support for $mdToast.simple(). improve docs")

In this commit, the toast action is now activated by default with the shortcut "ctrl+\<first letter of th

[2018-10-04 04:48] Splaktar commented on #11474
That's certainly an interesting side effect. Thank you for reporting this, especially prior to the 1.1.11 release.

Requiring the shortcut to explicitly defined won't work as that will leave many apps in an inaccessible state for screen reader and keyboard users.

Perhaps we should re-consider the Control key as the default. It seems the easiest and makes the most sense, but it will also cause the

[2018-10-04 10:18] Suvarnni commented on #10859
in which release we can expect this issue fix, because I'm facing a similar issue like this in IE11 browser.

[2018-10-04 17:52] Splaktar commented on #11207
https://github.com/angular/material/issues/10851 also mentions that `$mdDialog` is leaking memory.

[2018-10-04 17:54] Splaktar commented on #10851
`$mdDialog` leaks are being tracked in https://github.com/angular/material/issues/11207. I've updated the title of this issue to focus it on leaks in `md-input-container`.

[2018-10-04 18:14] Splaktar commented on #11024
We do have some memory leaks in input and dialog:
- https://github.com/angular/material/issues/10851
- https://github.com/angular/material/issues/11207

But your demo seems to only be using `md-button`. It injects `$mdDialog` but doesn't use it.

I've converted the JSFiddle to a [CodePen](https://codepen.io/Splaktar/pen/dgXobZ?editors=1010) for [easier debugging](https://s.codepen.io/Splaktar/debu

[2018-10-04 18:30] Splaktar commented on #11024
Here's the heaptimeline from my testng in incognito mode:
[AngularJS-1.7.4-AngularJS-Material-1.1.10-HEAD.heaptimeline.zip](https://github.com/angular/material/files/2447600/AngularJS-1.7.4-AngularJS-Material-1.1.10-HEAD.heaptimeline.zip)

[2018-10-04 22:16] #11452 closed

[2018-10-08 05:06] learner972 opened #11476 "When opening two dialog one after another cdk-global-scrollblock is not getting applied"
In the application we have three dialog to open one after another.
The issue is If we add dialogRef.close() cdk-global-scrollblock class is removed from html  for second dialog whereas if don't add dialogRef.close()  cdk-global-scrollblock  is getting applied but it causing other problems for back button handling of Dialog.

Need some help for this issue.
- Angular:  6
- AngularJS Material: 6.2.1

[2018-10-08 07:06] Splaktar commented on #11476
Please submit Angular Material questions [here](https://groups.google.com/forum/#!forum/angular-material2) and issues [here](https://github.com/angular/material2/issues). This repo is for AngularJS Material.

[2018-10-08 07:06] #11476 closed

[2018-10-08 12:21] hisabimbola commented on #11108
Hello guys, any update when this issue will be released? or any help needed?

[2018-10-08 12:34] Bartaf83 opened #11477 "Is it possible to detect Datepicker open event"
Is it possible to detect Datepicker open event ?
Cheers.

[2018-10-08 18:10] jagmeetb commented on #11259
I've been trying to work on this solution, but the initial change I tried:
[code]
seems to break some other tests. Those tests have palettes that also exclude the the `#` sign, and expect the `enableBrowserColor` method to return hex codes without it.

I don't think editing other tests is the solution, but I'm also not sure how I should proceed without breaking other tests.

[2018-10-09 17:28] papb opened #11478 "autocomplete: dropdown detaches on scroll when inside $mdDialog"
## Bug, enhancement request, or proposal: Bug

# CodePen and steps to reproduce the issue:
#### CodePen which demonstrates the issue: [YJZyyE](https://codepen.io/anon/pen/YJZyyE?editors=1010)

#### Detailed Reproduction Steps:

https://i.imgur.com/gt68ptf.gif

1. Open the md-dialog
2. Click on the autocomplete, so that the dropdown appears
3. Scroll the page

### What is the expected behavior?

Ei

[2018-10-09 19:34] bersLucas commented on #11477
the attribute `ngFocus` is triggered when the calendarPane is opened. Add the attribute `ng-focus="[expression]"` to your `md-datepicker` element, and that expression will be evaluated whenever the datepicker opens.

[2018-10-10 14:24] ethan-gforces opened #11479 "Tool tip and datepicker material default behavior on mobile device"
## Bug:
After recently upgrading to Angular 6 we have noticed that the default behavior Angular material is no longer functioning as expected.

Works as expected on desktop. However, on mobile when doing a long key press the tool tip does not show, The only way we have managed to hack it is adding a click to toggle the tooltip (which is not really ideal as its not the default behaviour).

### Code

[2018-10-10 15:05] frostsumonner opened #11480 "Md-menu is closed when another md-menu is destroyed"
## Bug, enhancement request, or proposal: Bug

# CodePen and steps to reproduce the issue:
#### [CodePen Demo](https://codepen.io/anon/pen/NOpZgo) which demonstrates the issue: https://codepen.io/anon/pen/NOpZgo

#### Detailed Reproduction Steps:
1. This is modified example - you will find two same icon menu buttons.
2. Press first button before 3 seconds.
3. Wait until seond button disappears.

#

[2018-10-10 15:16] frostsumonner opened #11481 "If Md-menu is destroyed while opening, backdrop is not destroyed."
## Bug, enhancement request, or proposal: Bug

# CodePen and steps to reproduce the issue:
https://codepen.io/anon/pen/OBmMjL

#### Detailed Reproduction Steps:
1. This is modified example - you will find two same icon menu buttons.
2. Press first button.
3. Now second button does not work, you are not able to click anywhere as backdrop was not destroyed.

### What is the expected behavior?
Backdr

[2018-10-10 15:34] #11479 closed

[2018-10-11 04:31] jpike88 opened #11482 "gestures: GestureStart gets stuck on android when loading complex pages, app becomes unresponsive"
My problem is that on more complex pages where loading times can differ, gesturestart gets permanently stuck because of whatever reason.

The ```if``` check for a pointer keeps evaluating to true, and screw it all up.

There should be a debounce or timeout which clears the pointer, and allows normal usage to continue.

https://github.com/angular/material/blob/9be3821c57765e9a7bbcd5ace5504bc0ac1a5e

[2018-10-11 04:40] jpike88 commented on #11482
Proposed solution is to bake in a timer that counts down from 2000ms, and set the pointer to null if nothing happens.

This means if you hold on one spot without moving for more than 2000ms, the touched event won't fire. Works for me, but if you can think of a more elegant solution let me know