[2016-03-18 16:01] phxrefugee commented on #6767
+1

[2016-03-18 16:14] kfirufk opened #7635 "strange behavior using ng-messages inside md-auto-complete"
Hello.

I'm trying to create an md-auto-complete with ng-messages that will show a required message if the user did not enter a text in the md-auto-complete input field.

I created a jsfiddle at https://jsfiddle.net/kfirufk/zoyxq9g6/3/

first problem, the required error message is shown at all times, even when i enter text in the md-auto-complete text field. in the jsfiddle i also print autocomple

[2016-03-18 16:21] ThomasBurleson commented on #7633
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-03-18 16:26] montgomery1944 opened #7636 "mdSelect: flickering with ngMessages - regression"
mdSelect error message provided by ngMessages flickers when opening the select pop up on Firefox and Chrome on Linux, other browsers weren't tested.

Demo can be found at http://codepen.io/anon/pen/grmWOe.

Steps to reproduce:
1. Open select.
Expected result: "required" message should be not visible before select closes without the selection.
Current result: "required" message is visible in backgr

[2016-03-18 16:34] qorsmond opened #7637 "md-autocomplete md-not-found container displayes above $mdDialog"
When clicking on the link on the md-not-found container to display a dialog, the md-not-found container is displayed above the dialog:

![image](https://cloud.githubusercontent.com/assets/4716711/13884515/01719b22-ed37-11e5-89ac-8a374d6f2627.png)

Here is the [code pen](http://codepen.io/qorsmond/pen/PNWLQZ)

I tried setting the ` z-index:101 ` on the dialog because the `.md-virtual-repeat-contain

[2016-03-18 17:43] chrisguerrero commented on #5166
It appears as though the issue is an incorrect attribute selector in layout-attributes.scss:

https://github.com/angular/material/blob/master/src/core/services/layout/layout-attributes.scss#L434

Compared to the same class definition in layout.scss:

https://github.com/chrisguerrero/material/blob/master/src/core/services/layout/layout.scss#L67

[2016-03-18 18:26] claire921 commented on #1870
+1

[2016-03-18 19:05] antoinebrault commented on #895
input-theme.scss is missing "[disabled] &"

https://github.com/angular/material/blob/7789d6a4d07b6c80bbfa34bc5d35b035b7757d4b/src/components/input/input-theme.scss#L78

[2016-03-18 19:19] DevVersion commented on #7618
@graphefruit Thanks for the video, but I would like to retrieve more information, because I can't reproduce this.

- What's your browser?
- Is this running in an Android WebView (ChromeWebAdapter, or Default)?
- Are you using Cordova?

In addition to that, I would like to have a demo with source, like a codepen.

[2016-03-18 19:19] bhandaribhumin commented on #2346
anyone know how i update tab becouse i am selected tab but not active tab
 $scope.$watch('selectedIndex', function(current, old){
           console.log('current',current);
           console.log('old',old);
  });

[2016-03-18 19:24] bhandaribhumin commented on #7581
when i click on  $rootScope.getItems(), check  selectedIndex value it's seems like

$scope.$watch('selectedIndex', function(current, old){
           console.log('current',current);
           console.log('old',old);
  });

Console output
current 2
old 3

[2016-03-18 19:33] antoinebrault opened #7639 "Disabled fieldset won't apply disabled styles to child elements"
Fields/buttons in a disabled fieldset should have the same style as disabled fields/buttons.
http://jsbin.com/gajohacimo/1/edit?html,js,output

See https://github.com/angular/material/issues/895
https://github.com/angular/material/commit/66fa1e3e276ddf33d669da0ef4d13c73c668e654#diff-f95bd6261dc8555a2e9557219ff9851d
was modified in
https://github.com/angular/material/commit/5da3c4561e690c2ba0c7f6f0

[2016-03-18 19:35] antoinebrault commented on #7639
Should probably be:

[code]

[2016-03-18 19:42] graphefruit commented on #7618
Hello @DevVersion this video shows a normal Nokia Lumia with Windows 8.1 and its default browser.
The problem is that just an emulator or a real lumia device will show you this problems.

So to your questions in a summary:
- Windows Phone standard browser
- No Android Webview
- No Cordova

If you need more details just let me know.

[2016-03-18 19:49] antoinebrault opened #7640 "Disabled fieldset modifies md-input-container height"
May be related to https://github.com/angular/material/issues/7639

Click on enable/disable button. There is a small height glitch.
http://jsbin.com/lafoqureru/1/edit?html,js,output

[2016-03-18 20:01] DevVersion commented on #7618
@graphefruit Just tested it on a Nokia Lumia 930 with Win 8.1 on Browserstack. I can't reproduce your issue.

In addition, the button inside of the dialog isn't related in any way to the list component.

So as conclusion, I can say that this isn't caused by the list component, it must be a performance issue and seems to be user specific.

[2016-03-18 20:11] donwitti commented on #3906
+1

[2016-03-18 20:49] char0n commented on #7633
@ThomasBurleson is there a particular reason why this sort of issue should be dealt with on forum instead of github issues ?

Thanks for the answer

[2016-03-18 20:49] topherfangio commented on #7540
Is anyone seeing this in HEAD? I noticed some CSS that got added to 1.0.6 that may not have been necessary, but I am still trying to confirm. If removed, the performance is back where it should be. And I'm not seeing this CSS in master.

[2016-03-18 20:51] DevVersion commented on #7477
Just investigated a bit and it seems to relate to the scope transclusion.

I tried to create a scope transclusion myself to take a look at its most elegant solution.

http://codepen.io/DevVersion/pen/WwRqaO?editors=1010

So just want to notify you, that this issue is in progress.

[2016-03-18 20:55] crisbeto commented on #7540
Can confirm that the performance is fine when running master.

[2016-03-18 21:05] graphefruit commented on #7618
@DevVersion I'm using a Lumia 620 at work. This just has a 1 dual core GHz processor. The 930 instead has a 2.2 quad core processor. So I think there is a huge difference.

Like I said this topic isn't related to the created one. So maybe I should make another one with Windows Phone performance issue?

The button seems to work after your fix like I proved.

This conversation is about laggy animati

[2016-03-18 22:02] topherfangio commented on #7614
@daB0bby Can you fork and update the above Codepen with some more of your code and reproduce it?

[2016-03-18 22:43] haswellr commented on #3364
Warning about the hack suggested by several in the thread: It does not work correctly with md-autocomplete. The blur event occurs before md-autocomplete's click event so clicking items in the autocomplete list will not do anything.

I have spent some time looking over the code and cannot find a way to extend the hack to support this without intrusive changes to the angular code. Any ideas? Md-chip

[2016-03-19 00:04] ThomasBurleson commented on #7540
@topherfangio - what CSS sections are you referring to (in 1.0.6)?

[2016-03-19 00:14] #5166 closed

[2016-03-19 00:19] #7590 closed

[2016-03-19 00:45] #7612 closed

[2016-03-19 00:52] ThomasBurleson commented on #7633
@char0n - I completely misread your issue. Your issue initially appeared to be a list of questions; instead your issue was providing a well-structured details.

[2016-03-19 01:01] char0n commented on #7633
@ThomasBurleson no problem.  I was just trying to follow-up angular.js issue reporting (https://github.com/angular/angular.js/issues/new).

[2016-03-19 03:24] stevenmoberg commented on #1771
I just saw this today with very large content and removed all css/js and added them back 1 by 1 to determine what was causing the issue.   jquery-ui.css slowed it down so I removed all its css and slowly add it back and found that the single ".ui-button:active" style was causing the issue even through I did not have any elements with this classname on the page.   I removed the ":active" selectors

[2016-03-19 07:24] neoighodaro commented on #1106
This is a non-issue i wonder why we are still debating. It should clearly be fixed, what gives?

[2016-03-19 07:47] yugalbagul opened #7644 "Md-input-container validation for email using ng-messages is not working properly"
Hi,
I am trying to show multiple ng-messages for form validation having an email input field.

The validation works once for only one case , either required or invalid email. After selecting any other filed or changing the input field , the validations does not work.

Here is a codepen depicting the issue -

http://codepen.io/Yugal/pen/qZrBwz?editors=1000

It works good without md-input-container

[2016-03-19 09:51] usamakhalil86 commented on #7548
For example searchtext is a variable in scope of string type..but when user
selects something from dropdown suggestion which are not string but some
other objects ..it will change searchtext to selected object..

perhaps u dont need to manually assign the search text to selected item.
Right now on change event its assigning.
On Mar 17, 2016 3:42 AM, "Topher Fangio" <notifications@github.com> wrote

[2016-03-19 10:44] berndvdveen commented on #5241
+1

[2016-03-19 10:58] aminahmedkhan commented on #5313
+1

[2016-03-19 13:02] DevVersion commented on #7618
@graphefruit Yes, let's close this issue, and you create a new one, which explains more about your performance issues.

Thanks in advance :+1:

[2016-03-19 13:02] #7618 closed

[2016-03-19 13:07] DevVersion commented on #7478
@topherfangio Can be the problem, but to be honest I can't reproduce this bug.

@bathos So it would be very great if you provide a demo (codepen etc), so I can investigate better at your issue.

[2016-03-19 13:30] DevVersion commented on #7599
@manish2535 @topherfangio I'm a bit unsure how the actual behavior should be.

If we apply a min-width/height property, then we'll break the flexbox support for `md-icon` directives.
In general, I can see the inconsistency but I'm thinking about the right behavior.

Maybe you have some thoughts, let me know..

[2016-03-19 14:13] ThomasBurleson commented on #5313
Great feature. Is this is defined in the Material Design specifications?
Pull Request welcome.

[2016-03-19 15:24] marcincichocki commented on #2886
+1

[2016-03-19 16:20] kdomagal commented on #4477
In my case md-content and any divs inside the tab have 0px height for some reason. The problem appears only on the first tab.

[2016-03-19 16:38] fmavdb opened #7645 "Error when defining a custom theme"
When I define the following theme:
`        $mdThemingProvider.theme("dark", "default")
          .primaryPalette("blue")
          .accentPalette("blue-grey")
          .backgroundPalette("blue-grey").dark();`

I get an error:
![capture](https://cloud.githubusercontent.com/assets/5363672/13899881/0734ea7e-edf9-11e5-89ae-b20a5256a1af.JPG)

The opacity attribute seems to be undefined. I know how to

[2016-03-19 17:13] montgomery1944 commented on #7636
@topherfangio , I've created a pull request to fix this issue.

[2016-03-19 18:37] lucasbento commented on #7231
+1
Getting the same error here, still working though.

[2016-03-19 19:49] DevVersion commented on #7644
Not an issue, which is related to Angular Material.

See simple email validation using plain ngMessages.
- http://codepen.io/DevVersion/pen/LNWNpy

In this case, I suggest using a pattern, like in the demos.
[code]

I will close this issue, because it's not related to ngMaterial.

[2016-03-19 19:49] #7644 closed

[2016-03-19 20:07] DevVersion commented on #7575
@topherfangio When want to apply the correct padding, then we need to use some conditional checks in CSS, but that's not possible.

So at the moment I figured out two ways:
- Condition Classes through JavaScript
- Remove *Last Type of* Margin when Breakpoint Small is matched

[2016-03-19 20:15] DevVersion commented on #7537
@ThomasBurleson - If evaled `md-is-locked-open` is `false` and the sidenav is open.

[code]

If evaled `md-is-locked-open` is `true` and the sidenav is open (through the locked open).
[code]

Already talked with @ErinCoughlan about that and we figured out, that the disabled animations are responsible for this bug.

So as conclusion, we can say that the backdrop is probably disabled when `md-is-loc

[2016-03-19 20:31] DevVersion commented on #7558
In case of having toolbars with really long texts, we should disable text-wrapping generally in toolbars.
Additionally for the demos: we need to shrink the text content there.

`favorite` icon related to #7599 (with button)

What do you think? @EladBezalel

[2016-03-19 20:44] DevVersion commented on #7627
`show-xs` is added correctly to the stylesheet.
[code]

But it makes not really a sense to use this property, because it only negates `hide-xs`.

For things like this, it would make sense
[code]

(http://codepen.io/DevVersion/pen/mPWPBj)

[2016-03-19 20:47] #7627 closed

[2016-03-19 21:02] DevVersion commented on #7242
Hey @hash-X,

You should ask your general question in the Google Group, instead of here.

http://groups.google.com/forum/#!forum/ngmaterial

[2016-03-19 21:02] #7242 closed

[2016-03-19 21:22] ThomasBurleson commented on #7459
* when using HTTPS, loading HTTP content will result in a `blocked` content message
* when using HTTP,  loading HTTPS content will **not** result in the message.

#### Solution
Change the **Launch to CodePen** settings to access the svg asset cache using a secure URL: https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js

[2016-03-19 21:26] DevVersion commented on #7459
@ThomasBurleson Awesome, thanks for the SSL served asset URL.

[2016-03-19 21:26] #7459 closed

[2016-03-19 21:29] amergin commented on #4236
+1

[2016-03-19 21:56] gregbenner commented on #3696
Switch to react?

[2016-03-19 23:13] EladBezalel commented on #7645
Can you please provide a codepen?

[2016-03-19 23:14] EladBezalel commented on #7558
https://css-tricks.com/rem-global-em-local
http://zellwk.com/blog/viewport-based-typography/

Might be the best solution

[2016-03-19 23:18] EladBezalel commented on #7477
This is related to the styles applied,
Take a look at [input messages style](https://github.com/angular/material/blob/dbb75a64e76f5ac1c22b75e48318c6ce4d4095cb/src/components/input/input.scss#L233)

[2016-03-19 23:46] EladBezalel commented on #5697
dup #4247

[2016-03-19 23:46] #5697 closed

[2016-03-20 00:51] fmavdb commented on #7645
http://codepen.io/fmavdb/pen/xVqOJm

[2016-03-20 01:30] jpike88 commented on #4251
Just an update:

https://github.com/logbon72/angular-material-datetimepicker

^ this library now has an easy year toggle (that's obvious to the user), and in addition to its time picker, is IMO the best solution out there.

[2016-03-20 04:58] morwin10 opened #7647 "md-tab/md-active - Active also the first `md-tab` - when switching from it"
I have 2 `md-active` with conditioning that checks if `$location.hase()` is equal to 'signin' or 'signup'
And according to it, is active the right tab

But it does not work well :
When I switch from `md-tab` **which is written first in the template**    -->   To the second `md-tab` :
It shows the two tabs

I made an example here:
http://run.plnkr.co/plunks/qCuOUOIC3sSOBFVcOIxN/#signin

http://plnk

[2016-03-20 05:34] pavankumarkatakam commented on #4251
Hi @jpike88 , My application related all forms are in dialog box so the date fields are also in the dialog box in this case your lugin will not work because it is made of another dialog box.

[2016-03-20 05:37] jpike88 commented on #4251
How hard would it be to have an md-dialog-like component that can sit 'above' any open me-dialogs and if so, does anyone know of a good candidate? I'll happily try to swap it out so it becomes compatible with md-dialog based forms.

[2016-03-20 05:48] yeluoqiuzhi opened #7648 "exact css and directive about Layout"
I only need the layout portion of angular material,can I exact code about layout,I don't need others.

[2016-03-20 05:58] pavankumarkatakam commented on #4251
Another thing to mention is not able to select seconds, so please make sure user can edit the date time input directly not only by the picker.

[2016-03-20 07:03] omeid commented on #4236
The priority of this is not going to change with +1s. Please just Subscribe to the event to avoid spamming everyone, or if you really fancy +1, just +1 the initial comment.

[2016-03-20 08:30] crisbeto opened #7649 "Textarea improvements and additions"
TL;DR from the [Google Doc](https://docs.google.com/document/d/1NDtBURsRIkswgrjdDEcB1wzt-asBLnezXiZ0M_ryYPs/edit?usp=sharing):

We should look into some improvements to the `textarea` directive:

* We should support growing and shrinking according to the content. The current implementation doesn't shrink down if the `rows` are specified.
* We should support a minimum amount of rows. The current so

[2016-03-20 09:17] DevVersion commented on #7477
@EladBezalel Yes actually it is related to the styes. But updating the style selectors won't be the right solution, because the ngMessage isn't retrieving the animation class correctly.

This is caused by the parent transclusion from the autocomplete.

(https://github.com/angular/material/blob/master/src/components/input/input.js#L711)

[2016-03-20 09:21] DevVersion commented on #7558
I don't think that's the best behavior for the toolbar, since the toolbar is not shrinking vertically on viewport changes. This will cause the text to be completely unreadable.

[2016-03-20 10:45] ThomasBurleson commented on #7648
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-03-20 10:45] #7648 closed

[2016-03-20 12:07] super-coder commented on #1269
but palettes including custom are actually available at .config
`$mdThemingProvider._PALETTES;`
have a look http://codepen.io/anon/pen/qZrRNy, i am just using a global variable, may be someone can improve the codepen?

[2016-03-20 13:15] sakuyayc commented on #6214
+1

[2016-03-20 15:46] DavidCheas commented on #6304
+1

[2016-03-20 15:56] DevVersion commented on #7631
Not an issue. Thank you @himanshuapril1 for the fix!

Here in the docs is a section, which shows the correct element structure of a `md-card``
- https://material.angularjs.org/HEAD/api/directive/mdCard

Demo with Himanshu's fix: http://codepen.io/DevVersion/pen/wGJJpp

[2016-03-20 15:56] #7631 closed

[2016-03-20 16:08] reduardo7 commented on #3072
+1

[2016-03-20 16:10] DevVersion commented on #7353
The speed-dial works perfectly. (http://codepen.io/DevVersion/pen/Wwppzy)

Whenever you use the `[ctrl] as [name]` syntax
[code]
then the `$scope` valid anymore.

That's why you need to change the `md-is-open` attribute to:
[code]

And caution: in the controller, you should also use
[code]

[2016-03-20 16:10] #7353 closed

[2016-03-20 16:13] amergin commented on #5383
Are there any restrictions on where to use `md-fab-speed-dial`? I'm trying to add it inside `md-card-header` and I am experiencing the same issue: the `md-fab-actions`, although hidden, has a large height assigned to it, which screws up my header layout.

[2016-03-20 16:13] DevVersion commented on #7305
Hey @miguelcobain,

Is this anywhere specified in the [Material Specs](https://www.google.com/design/spec/material-design/introduction.html)?

Would be great if you take a look :)

[2016-03-20 16:19] DevVersion commented on #7615
@kschwidder Yes I agree with you. Also related to #6787

[2016-03-20 16:20] DevVersion commented on #6576
Already xied with SHA 82625cf4edeba84ef38fb816f1b32ded902c8064

[2016-03-20 16:20] #6576 closed

[2016-03-20 16:23] DevVersion commented on #6527
Yes, everything works as expected with the latest version.

- http://codepen.io/DevVersion/pen/zqZZJO

[2016-03-20 16:23] #6527 closed

[2016-03-20 16:27] miguelcobain commented on #7305
Well, not explicitly, but there is this paragraph:

Source:
https://www.google.com/design/spec/animation/delightful-details.html

[2016-03-20 16:29] DevVersion commented on #6296
@crisbeto already fixed that issue in #7649 and we're currently working on some textarea improvements here: #7649

[2016-03-20 16:29] #6296 closed

[2016-03-20 16:29] YvesLeBorg opened #7652 "Materials example page : hangs Safari on input field"
When entering text in an input field, then pressing the 'delete' key (on a mac, extended kbd, main kbd delete key), Safari beach balls, the only way out is to nuke the Safari process and return to the page.

- navigate to the [Demos, Input page](https://material.angularjs.org/HEAD/demo/input)
- on the `Long Last Name ... ` input field, type 'asd' then press the 'delete' key
- witness the oh-so-ann

[2016-03-20 16:32] DevVersion commented on #7305
@miguelcobain Awesome, thanks!

![animation_delightfuldetails_wellcrafted](https://cloud.githubusercontent.com/assets/4987015/13905503/a4cb11f0-eec1-11e5-8920-b7e5283ddb6f.gif)

[2016-03-20 17:12] montgomery1944 opened #7653 "mdInput: error message is not shown with md-auto-hide option"
When mdInput has more than one error message in ngMessages and the input remains invalid during the change of message, the message is not shown. This is caused by an issue in ngMessageAnimation which does not fire showMessage, when md-auto-hide option in turned on. I think that ngMessageAnimation should show the message when the mdInput has md-input-invalid class.

Demo can be found at http://code

[2016-03-20 17:28] matthiasg commented on #4126
@ThomasBurleson thats what i would expect from a well run project .. sadly it isn't the norm :) You are all doing a pretty good job managing/triaging the issues

[2016-03-20 18:15] gambolputty commented on #5472
I don't have a solution to this. But thanks so much for pointing this out, @Todd-Werelius. I spent hours investigating why my toolbar wouldn't shrink before I finally found your post here :)

[2016-03-20 18:24] montgomery1944 commented on #7653
I've created a pull request to fix this issue.

[2016-03-20 18:36] DevVersion commented on #7653
@montgomery1944 As said in your PR, we are working on that issue.

In addition to that, your issue is a duplicate of some previous tracked issues. That's why I close your issue.

-#6767, #6399, #6443

[2016-03-20 18:36] #7653 closed

[2016-03-20 21:13] EladBezalel commented on #7477
:+1:

[2016-03-20 21:43] zuspan commented on #4124
not sure if this is a true fix, but this seemed to do the trick for me:
`body {
  overflow-x: visible;
}`

[2016-03-20 21:44] zuspan commented on #932
I'm not sure this is a true fix, but I was having this same issue. I added this to my css and it seems to solve the problem:
`body {
  overflow-x: visible;
}`

[2016-03-20 22:01] simonepri commented on #3906
I've improved a bit the workaround provided by @KarmaCop213:

    (function() {
      'use strict';

      angular
      .module('app')
      .directive('autocompleteBlur', function($timeout) {
        var directive = {
          restrict: 'A',
          link: function($scope, $element, $attributes){
            $timeout(function(){
            console.log($element[0].querySelector("input.md-input

[2016-03-20 22:01] EladBezalel commented on #7645
dup #7600

[2016-03-20 22:01] #7645 closed

[2016-03-20 22:17] adam-s commented on #1300
I'm using Angular Leaflet Directive with Angular Material Design. The controls on the map on mobile devices don't work. If I use `$mdGestureProvider.skipClickHijack();`, what features of Material Design do I lose? Am I making a sacrifice?

[2016-03-21 00:44] avel commented on #7602
I believe this is duplicate of #6304

[2016-03-21 02:35] simondevries opened #7655 "Space at the end of item causes incorrect dropdown result"
This issue occurs when the auto complete is bound to a list of items and one of the records contains a space character at the end. If the user selects the item with the space and presses the 'X' button to clear the autocomplete, the dropdown will only show that one item rather than loading the whole list of items.

I used the Angular material code from their demo illustrate my point, with the only

[2016-03-21 06:34] Shirohana opened #7656 "clickable md-list-item contents not filled"
excuse me (´・ω・｀)
Should it has 'box-sizing: border-box' attribute?
or just I used it in the wrong way?

http://codepen.io/shirohana/pen/jqBLzv?editors=1100

[2016-03-21 06:43] Nextt1 commented on #3310
@leocaseiro  +1

[2016-03-21 08:56] zilions commented on #4124
@lexyfeito - No fix from me yet. Tried everything in this thread and nothing seems to work well.

[2016-03-21 09:00] jean-moldovan opened #7658 "md-list-item copy ui-sref-opts attr"
`ui-sref-opts` doesn't work on `md-list-item`:

https://github.com/angular/material/blob/master/src/components/list/list.js#L211

[2016-03-21 09:14] graphefruit opened #7659 "WP8 - Performance issues"
Hello Team,

like discussed in #7618 I'm creating a new topic to this case.
The main problem is, that animations and events are very delayed and laggy in Windows Phone.
In iOS and Android they work fine.

I've uploaded a small video: https://vid.me/tUyZ.

This video shows a WP with its standard browser. The website is: https://material.angularjs.org/HEAD/demo/list

The WP-Specs:
- Nokia Lumia 820

[2016-03-21 09:27] gpopovic commented on #7629
![goran](https://cloud.githubusercontent.com/assets/2094147/13914568/6ae3dcae-ef4f-11e5-9c39-1e546c898cdf.png)

@DevVersion dom

[2016-03-21 09:30] david-gang commented on #6336
Hi @ThomasBurleson ,

I guess that this issue can be closed . Is this correct?

Thanks,
David

[2016-03-21 09:33] DevVersion commented on #7629
@gpopovic Thanks for the screenshot, but can you please use `HEAD` for the DOM screenshot?

Like so:
![image](https://cloud.githubusercontent.com/assets/4987015/13914684/47a35d22-ef50-11e5-9bd2-c66f26fffd93.png)

Thanks in advance :)

[2016-03-21 09:35] DevVersion commented on #7656
The list item should have a padding of 16px at left and right.

![image](https://cloud.githubusercontent.com/assets/4987015/13914729/91227fd2-ef50-11e5-8ee8-f81d29662b9f.png)

[2016-03-21 09:42] gpopovic commented on #7629
@DevVersion sorry, forgot clicking head

![goran 2](https://cloud.githubusercontent.com/assets/2094147/13914864/829df63e-ef51-11e5-9704-c36bc9282b8c.png)

[2016-03-21 09:52] Shirohana commented on #7656
I know but if it without 'box-sizing: border-box',
it'll get out of boundary (´・д・｀)
<img width="567" alt="2016-03-21 5 47 51" src="https://cloud.githubusercontent.com/assets/11359892/13915131/b0a41ed2-ef8d-11e5-825d-5f7cc8c22288.png">

[2016-03-21 10:04] DevVersion commented on #7656
@Shirohana You are right, this is an issue on your demo.

And we recently fixed that in `master` / `HEAD`, you still have this issue, because you're using `v1.1.0-rc1`.

But I also noticed that `bower-material#master` is not containing the newest changes. That's why you can't use `gitcdn.link/...../master`.

Here is a demo, which includes the fix
http://codepen.io/DevVersion/pen/zqZRZB?editors=110

[2016-03-21 10:04] #7656 closed

[2016-03-21 10:15] Shirohana commented on #7656
I'm using version `v1.1.0-rc1` because I just fork your mdSidenav demo directly (๑•́ з •̀๑)

Thanks a lot for your reply and solved my problem (๑• ω •๑)

[2016-03-21 10:18] MartinMuzatko opened #7660 "Please provide standalone layout grid again"
Please restore the very handy flexbox standalone grid,
see https://github.com/angular/material/pull/5180

[2016-03-21 10:52] sunil-ideas2it commented on #1870
Anyone got this thing fixed. I am facing the same issue

[2016-03-21 11:03] R3NL3N commented on #2949
+1

[2016-03-21 11:09] Shirohana opened #7661 "Conditions in md-component-id of mdSidenav"
I want to generate md-sidenav with dynamic md-component-id.
Does anyway to solve this problem (´・ω・｀)？

This is how I do now:
http://codepen.io/shirohana/pen/xVqYWd?editors=1010

![2016-03-21 7 01 17](https://cloud.githubusercontent.com/assets/11359892/13916745/5d08e8b6-ef97-11e5-9cd3-7a67becd8877.png)
<img width="494" alt="2016-03-21 7 04 55" src="https://cloud.githubusercontent.com/assets/113598

[2016-03-21 11:17] DevVersion commented on #7661
@Shirohana This should be possible, when #5972 is merged.

cc. @EladBezalel

[2016-03-21 11:23] raDiesle opened #7662 "How to close all opened mdDialog on switching state of ui router"
When any dialog is opened and you switch state,
e.g. with back button of browser, the dialog is still opened.

What would be a smart solution to overcome this?

[2016-03-21 11:26] Shirohana commented on #7661
E..excuse me,
how should I change my code and keep it intuitively (´；ω；｀)

[2016-03-21 11:39] ksabariraj opened #7663 "Angular materials md-slider aria-valuenow picking up value from previous value"
Hi,

I have few slider options in my application, when clicking on the button I am changing the min and max value dynamically.

In second attachments,  aria-valuenow take the the min value of the previous one. I Set the min to -6.3 and max to 6.3 but the aria-valuenow show 281which the previous value.

<img width="557" alt="first" src="https://cloud.githubusercontent.com/assets/3765085/13917346/2a

[2016-03-21 11:41] olegweb commented on #5862
#5483

[2016-03-21 11:43] sahilanguralla opened #7664 "md-tab-label get truncated on mobile"
In mobile view the md-tab-label get truncated on mobile making it impossible to read on mobile which is bad in terms of user experience. Their must be some option like **md-label-view** than can be set to **scroll**, **truncate** or **full**. And make **truncate** by default.
Thanks in advance!

[2016-03-21 12:32] YvesLeBorg commented on #7652
Closing this one ... I since discovered that my box was running 'very near' maximum file opens, and this action sent it over the hill. It is repeatable for me because (very unfortunately) php-fpm sends my box to that point very often during a test run.  Add safari (an 'apple' gem) to the mix, and there you have it. Did not happen with Firefox and Chrome yet, but if i run a longer test, it may.

[2016-03-21 12:32] #7652 closed

[2016-03-21 12:45] lexyfeito commented on #4124
@zilions same here this is getting really annoying

[2016-03-21 12:54] lexyfeito commented on #4124
@zilions hey so after reading @abouillon comment i set the body `overflow: initial;` and it seems to fixed the problem.

[2016-03-21 12:59] abouillon commented on #4124
@lexyfeito That's what I was going to suggest, but I was also trying to see if there was a workaround if someone was using the parent option and setting the parent container of the dialog to something other than the document body. So far I haven't found a quick workaround if a user sets the parent to something other than body. Luckily, in my use case, we just let material set the parent container

[2016-03-21 13:18] zilions commented on #4124
I managed to solve my issue today, after hours of digging into code and work arounds.

`.md-dialog-container {
	height: 100vh !important;
	top: 0 !important;
	position: fixed !important;
}`

[2016-03-21 13:22] lexyfeito commented on #4124
@zilions did setting body overflow to initial didnt do the work for you? This seems like a lot of more work

[2016-03-21 13:24] zilions commented on #4124
@lexyfeito - It did not work in my case unfortunately. Most of my content is absolute positions, so it's probably a different layout to most other sites. The code I posted above is the only way I could get it to work for me.

[2016-03-21 13:27] lexyfeito commented on #4124
@zilions oh well i am glad you found a fix at least :)

[2016-03-21 15:00] rgthree commented on #4124
@akashjarad, @abouillon, @zilions: FWIW, you can isolate the workaround by using `.md-dialog-is-showing` which is appended to the body when a dialog is showing. This seems to fix it for me while still allowing me to use `overflow-y: scroll` when a dialog is not shown.

[code]

You should keep in mind that this and the other fixes mentioned, while fixes our problems right now, could introduce issue

[2016-03-21 15:05] lexyfeito commented on #4124
@rgthree you are right and it does work it my case thank you so much for your suggestion.

[2016-03-21 15:13] soooooot opened #7666 "mdSlider: md-reverse feature request"
[code]
it makes min value to top/right, and max value to bottom/left
(regularly  min value at bottom/left, max value at top/right)

I have implemented it in [CodePen](http://codepen.io/anon/pen/bpqNYv).
I don't know is anybody else need the feature or not, anyway, I will make a PR soon.

[2016-03-21 15:21] ThomasBurleson commented on #7660
@MartinMuzatko - Can you provide more details? What specifically do you want?

[2016-03-21 15:29] midhunadarvin commented on #6214
+1

[2016-03-21 15:29] fals opened #7668 "Flex and layout wrap content issue on Mobile Devices"
angular: 1.4.8
angular-animate: 1.4.8
angular-material: 1.0.0-rc5

I'm having a issue with flex and layout content, only for mobile devices, more precisely Google Chrome browser. When the content is in the scrolled area, it appear correctly, show up everything, redering as intended.

![screenshot_1](https://cloud.githubusercontent.com/assets/3750960/13923564/f8a62fb4-ef5f-11e5-8bd3-eefcacaea292.pn

[2016-03-21 15:57] MartinMuzatko commented on #7660
A standalone sass version of the angular material grid layout would be nice to have available.
Thanks for the information about the additional repo!

Any further information is very much appreciated.

[2016-03-21 16:30] jdgeier opened #7669 "md-tabs content not swipeable with or without md-swipe-content"
I downgraded from 1.10.0-rc1 to 1.0.6 and it resolved the issue. I did a cursory search and did not see this issue open for 1.10.0-rc1. I hope this is not a duplicate.

[2016-03-21 16:35] geoffbrennan commented on #5241
+1

[2016-03-21 16:50] clrech commented on #3163
+1

[2016-03-21 17:06] topherfangio commented on #7571
@virtser Quick question: are you wanting it to highlight both matches? If so, you can use `md-highlight-flags="^ig"`.

If not, can you explain a bit more by your statement:

Based on the code in the Plunkr, the regexp looks to use the `global` flag, so I would assume it finds both.

Thanks!

[2016-03-21 17:36] ilovett commented on #7601
Great, I've opened my first pull request... please let me know if theres anything you would like changed!

[2016-03-21 17:52] topherfangio commented on #7475
Actually, this is VERY similar to #985; although I think that one assumes the use of the existing List component.

[2016-03-21 17:54] gpopovic commented on #7629
@DevVersion is last screenshot ok?

[2016-03-21 17:55] DevVersion commented on #7629
Yes, perfect - thanks!

[2016-03-21 18:05] topherfangio commented on #3163
Rather than posting `+1`s, can you please use the new [GitHub reactions feature](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) :-)

[2016-03-21 18:32] DevVersion commented on #7669
Oh it works like a charm for me.

See http://codepen.io/DevVersion/pen/bpqmdx

[2016-03-21 18:45] maenthoven opened #7673 "md-sidenav, md-list, md-list-item don't inherit default theme"
http://codepen.io/anon/pen/QNpZEo

Shouldn't the sidenav be dark here as well?

[2016-03-21 18:46] d3lm commented on #5422
@ThomasBurleson What is the reason for the `md-backdrop` not being animated? I have the same issue when I add the `ng-app` attribute to the html element. It's not animating at all. However, when I add the attribute to the body tag, its working. Do you know why? Haven't had time to dive into the code and would be interested to know why the backdrop is behaving like this.

[2016-03-21 19:09] jdgeier commented on #7669
That's because you are using https://cdn.gitcdn.link/cdn/angular/bower-material/v1.0.6-master-991cd7a/angular-material.js 1.0.6

[2016-03-21 19:13] DevVersion commented on #7669
@jdgeier Yes that's true, but the tag `v1.0.6-master-991cd7a` is one of the latest deployed versions into `bower-material`. We are still tagging the `v1.1.0-rc1` version with `v1.0.6`, since it's a release candidate.

To convince you:
`v1.0.6-master-`**`991cd7a`** contains these SHA shortcut, which referes to SHA 991cd7a, which is the latest commit.

That means, my demo is using the most recent ve

[2016-03-21 19:29] #7660 closed

[2016-03-21 19:30] ThomasBurleson commented on #7660
@MartinMuzatko - The build in master will now deploy (to bower-material) the following css and SCSS; notice the `/layouts/` directory:

<img width="423" alt="screen shot 2016-03-21 at 10 22 48 am" src="https://cloud.githubusercontent.com/assets/210413/13931447/9d0a6818-ef60-11e5-9917-db803da0bdeb.png">

[2016-03-21 19:37] DevVersion commented on #2796
@topherfangio said:

In addition to Tophers thoughts, we should for #7643.

[2016-03-21 19:41] DevVersion commented on #6265
As we discussed in the previous PR, we found a few ways to solve that issue.
- Debouncing of the Model / Animation
- Logical Conditions for the Animation Expression

I suggest, to combine both ways.
In addition to that, @topherfangio is working on some improvements / fixes for ngMessages.

[2016-03-21 19:48] migmigmig commented on #7475
Actually, when it came down to it, I wound up using the angular-recursion
compiler and implementing a proper tree.

But something along these lines would be nice to have out of the box.

Uber bonus points for a nested tree implementation that doesn't require the
user to install extra modules.

mig

On Mon, Mar 21, 2016 at 10:53 AM, Topher Fangio <notifications@github.com>
wrote:

[2016-03-21 19:53] topherfangio commented on #5472
@Todd-Werelius This is the third or fourth issue we've seen recently with ui-router and Material not interacting well. We'll see if we can add some notes to the docs about this so people have a heads-up.

[2016-03-21 19:55] topherfangio commented on #5383
@amergin There aren't any specific restrictions, but because the component uses Flexbox internally, putting it inside a smaller item would definitely cause some issues (like you've noticed).

If you can make the elements siblings and use absolute or relative positioning for the FAB, that tends to make it easier.

[2016-03-21 20:10] topherfangio commented on #4236
We understand that many people would like this directive, but it's not something that is currently in our pipeline. To prevent more `+1`s, I am going to lock this thread until someone begins working on it.

[2016-03-21 20:50] KarenParker opened #7678 "mdPanel: Support string value and DOMElement for attachTo config."
Currently only allows a JQLite element.

Similar version to [this](https://github.com/angular/material/blob/master/src/components/dialog/dialog.js#L751)

[2016-03-21 20:50] jadjoubran opened #7679 "Multi-line prompt dialog"
Thanks for this great project.

I'd like to ask if multi-line prompt dialog would be considered in the pipeline.

And if so, would you accept a PR?

:smile:

[2016-03-21 20:56] KarenParker opened #7680 "mdPanel: Add a11y to panel's dialog demo"
Make it closer to the existing dialog when using a screenreader.

Add:
role="dialog"
aria-label

[2016-03-21 21:00] KarenParker opened #7681 "mdPanel: Add a panel menu demo for relative positioning"
Setup the menu panel demo.

Only do this after relative positioning is done.

[2016-03-21 21:05] KarenParker opened #7682 "mdPanel: Add hasBackdrop config option to the panel."
Whether there should be an opaque backdrop behind the panel. Defaults to false.

Consider following the mdDialog implementation [here](https://github.com/angular/material/blob/master/src/components/dialog/dialog.js#L867).

-----------
This task involves:

- Updating public documentation
- Adding hasBackdrop to the panel config.

[2016-03-21 21:07] KarenParker opened #7683 "mdPanel: Add disableParentScroll config option to the panel."
Whether the user can scroll the page behind the panel. Defaults to false.

When the option is set to true, handle the panel scrolling with the page. This means the panel may be partially hidden off the screen.

Consider following the mdDialog implementation [here](https://github.com/angular/material/blob/master/src/components/dialog/dialog.js#L861).

-----------
This task involves:

- Updating pub

[2016-03-21 21:10] topherfangio commented on #7575
@DevVersion What are the conditional checks we want to use? Shouldn't the `md-card-actions` always have a certain amount of padding?

[2016-03-21 21:10] KarenParker opened #7684 "mdPanel: Add fullscreen config option to the panel."
Whether the panel should be full screen. Applies the class `_md-panel-fullscreen` to the panel on open. Defaults to false.

Consider following the mdDialog implementation [here](https://github.com/angular/material/blob/master/src/components/dialog/dialog.js#L1016).

------------
This task involves:
 - Updating public documentation
 - Add fullscreen config option.

[2016-03-21 21:16] DevVersion commented on #7575
@topherfangio I played a bit with the action button padding.

And tried to move the padding upward to the `md-card-actions` container, but then I noticed that there will be always a different padding for different action types.
- `md-button`
- `md-icon-button`

So for that, we need to have some conditional checks and apply a proper class (which applies the padding etc.) on the `md-card-actions` co

[2016-03-21 21:23] topherfangio commented on #7575
Hmm, I am not sure we can pick one or the other. For instance, there are many cases where the actions can contain both:

![card actions](http://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bzhp5Z4wHba3MHh2ZlhHVUMyQlk/components_cards17.png)

_pulled from http://www.google.com/design/spec/components/cards.html#cards-actions_

[2016-03-21 21:28] topherfangio commented on #7599
@DevVersion I think the issue is that the `<md-icon md-svg-src="...">` icon doesn't behave like the plain `<md-icon>` which is unexpected.

How will it break flexbox support if we set the min-width/height like the other ones?

[2016-03-21 21:49] #7658 closed

[2016-03-21 22:11] crisbeto commented on #7639
@topherfangio I've fixed the issue for inputs and buttons, however there are quite a few components that have `[disabled]` styles, but don't account for the parent being disabled. Here's the full list:

* autocomplete
* button
* checkbox
* datepicker
* input
* radio
* select
* slider
* switch
* tabs

This might turn into a pretty large amount of changes since some components (like the checkbox) wo

[2016-03-21 22:13] topherfangio commented on #7639
@crisbeto I think this would be a great addition, but I honestly think we have some higher-priority issues to address first, so I would hold off on any work on this for now.

[2016-03-21 22:19] topherfangio commented on #7548
Ah, I think I understand now. Perhaps you want to use the `md-item-text` attribute to convert it to a string properly?

[2016-03-21 22:22] topherfangio commented on #7540
Just to update the thread since Thomas and I talked offline, we accidentally added some attribute selector code into the 1.0.6 release which was intended to be in a separate/optional file. It has been fixed in master so it should not cause an issue in 1.1.0.

So, that should resolve half of this issue. It looks like we still need to dig in and find out why the themes are causing an issue.

[2016-03-21 22:28] topherfangio commented on #6906
@bgoerdt Is this still occurring in master? I am pretty sure it was fixed recently.

[2016-03-21 22:39] topherfangio commented on #6454
I am removing the "duplicate" label since I cannot find the duplicate.

@skoszuta I am not 100% sure (and I unfortunately don't have the time to test right now), but I think on iOS we create our own caret which means we should be able to watch for scroll events and hide it.

@EladBezalel Do you have an iOS device to test with? If not, we can reassign.

[2016-03-21 22:40] ilovett opened #7685 "tabs: tab label text and inkbar colors not aligned with spec"
Based on the spec, they show tabs on a white background having the indicator the same color as the text and primary color:

![image](https://cloud.githubusercontent.com/assets/1776100/13936417/cedd3342-ef7a-11e5-9cd1-e73567b2530c.png)

The current `md-tabs` shows the indicator as the accent color on a white background:

![image](https://cloud.githubusercontent.com/assets/1776100/13936436/f99ac072-

[2016-03-21 22:41] topherfangio commented on #7458
Closing as duplicate of #7404, but huge thanks for describing the issue and providing screenshots! I have reprioritized the older issue.

[2016-03-21 22:41] #7458 closed

[2016-03-21 22:57] topherfangio commented on #7474
@johnrivelt Thanks!

@EladBezalel Looks like it has a problem when the min value goes from larger to smaller.

[2016-03-21 23:13] ilovett opened #7687 "`md-card.md-THEME_NAME-theme` does not set `color` property"
[code]

Should define:
[code]

[2016-03-22 02:07] RolandHeath commented on #7640
This looks related to #5286.
It looks like the negative margins which are applied to line up the cause issue again now that a fixed height is applied

[2016-03-22 04:08] jmcmullen commented on #6525
The solution that I used for this issue is to send back data with a flag inside the `$mdDialog.hide()` then creating a second dialog from there. Here's an example:

https://gist.github.com/jmcmullen/b027adf46eccf9e1a299

[2016-03-22 04:25] #6336 closed

[2016-03-22 05:00] qoshi commented on #4450
+1

[2016-03-22 06:25] adam-s opened #7690 "Angular Material Autocomplete in v1.0.6 safe encodes HTML, i.e & to &amp;, and then highlights the encoded characters"
Using the most basic setup example, the search queries in the Autocomplete have `&` in them. They are being converted to `&amp;` and then on typing 'a' or 'am' the am in `&amp;` is being shown and highlighted. I'm not sure what is going on. I don't think that the input should be santized and then used in the search.

[code]
So if I type an 'm', if there is a 'm' before the & which is santitized in

[2016-03-22 08:58] Kratos-SA commented on #3371
+1

[2016-03-22 09:30] tipodisimmia commented on #2073
+1

[2016-03-22 09:31] Tommatheussen opened #7692 "Cards do not show images in Safari"
The cards images are not being shown on safari. If I change some properties through the in browser editor I can sometimes see the images. I know they are some specific rules for flex attributes in safari.

The major problems is that the issue also exists on the demo site: https://material.angularjs.org/latest/demo/card
If might be good if it gets fixed there, are is mentioned somewhere so ppl are

[2016-03-22 09:45] Senthe commented on #5669
+1

[2016-03-22 10:18] DevVersion commented on #7673
@maenthoven The sidenav wasn't applying the theme correctly. We recently fixed that with SHA cb864d558ad780dc573c02adc2ba9a0b336c28c9

I will close that issue, because it's actually fixed when using the latest version.

By the way: You are using `0.9.4`, that's why the fix isn't present here.

[2016-03-22 10:18] #7673 closed

[2016-03-22 10:22] DevVersion commented on #7649
@crisbeto @EladBezalel - Someone mentioned that we should support an asterisk on the textarea as well.

I can see the point and see no restrictions in the specs.

[2016-03-22 10:25] DevVersion commented on #7692
I can reproduce that.

![image](https://cloud.githubusercontent.com/assets/4987015/13948498/b808840e-f020-11e5-9489-a6fcd5bc3e15.png)

[2016-03-22 10:25] crisbeto commented on #7649
Sound good to me.

[2016-03-22 10:44] ByJC opened #7694 "md-progress-circular seems to be pixellised"
Hi everyone,

The progress circular seems to be pixellised. it's more and more pixellised when the diameter is small.

is there a way to improve the look and feel of it ?

to try : https://material.angularjs.org/latest/demo/progressCircular

I use Chrome Version 49.0.2623.75 (64-bit) but I have the same effect with safari

[2016-03-22 10:51] super-coder opened #7695 "Tabs not showing up in IE11 with md-center-tabs"
used standard demo, added md-center-tabs

http://codepen.io/beyondev/pen/Wwpqjr

![image](https://cloud.githubusercontent.com/assets/2155554/13949273/fa8a134c-f01b-11e5-916c-0c1d5de1e600.png)

if i resize
![image](https://cloud.githubusercontent.com/assets/2155554/13949278/04ac162c-f01c-11e5-9a6d-60aa3b0d1421.png)

[2016-03-22 10:55] crisbeto commented on #7694
It's using SVG so this is pretty much as sharp as it's going to get. This also depends on your screen resolution and pixel density.

[2016-03-22 10:58] DevVersion commented on #7694
I can't see any pixelized circulars in the demos.

Notice: this is a 50x50 px circular.
![image](https://cloud.githubusercontent.com/assets/4987015/13949409/27ec1868-f025-11e5-8b12-194b559b24e9.png)

@crisbeto Please take a look.

[2016-03-22 11:02] crisbeto commented on #7694
Me neither, I tried both on Chrome and the latest Safari (which is kinda old tbh) on Windows.

![new](https://cloud.githubusercontent.com/assets/4450522/13949536/e4d672d4-f025-11e5-978e-335e989e99a1.png)

[2016-03-22 11:03] ByJC commented on #7694
Well, I have the following resolution : 2560 x 1440.
And when i try the `md-diameter="20px"`
I have this results :
![screen shot 2016-03-22 at 11 58 43](https://cloud.githubusercontent.com/assets/11909355/13949546/f56b593e-f025-11e5-8978-6f161b2fd59a.png)

[2016-03-22 11:05] super-coder commented on #1992
i submitted an issue https://github.com/angular/material/issues/7695, tabs are hidden after reload on IE on XS screen

[2016-03-22 11:12] crisbeto commented on #7694
I took the screenshot on a 1920x1080 screen, but as I mentioned, this is as sharp as it gets and we don't really have much control over how the browser decides to render it at that small of a size.

[2016-03-22 11:12] ByJC commented on #7694
Ok guys ! I was looking an old version (1.0.5) where you transform like that :     `transform: translate(-50%, -50%) scale(0.2);` directly on the md-scale-wrapper.

With the 1.10, I don't have the issue ... Sorry for bothering you

[2016-03-22 11:13] DevVersion commented on #7694
@ByJC No worries, thanks for keeping track.

[2016-03-22 11:13] #7694 closed

[2016-03-22 12:13] sryzycki commented on #6253
+1 for ISO 8601 formatted string

[2016-03-22 13:16] mikila85 commented on #2440
+1

[2016-03-22 14:15] cmacdonnacha commented on #2802
So is the "clear" icon displayed on an input of type search now? Trying to achieve something like this:

![image](https://cloud.githubusercontent.com/assets/9777763/13954386/75ab1c12-f038-11e5-91e8-54a60cdcbd60.png)

[2016-03-22 14:24] cadilhac opened #7696 "Wobbles when swiping/scrolling some content on iOS, starting from a button with md-raised"
I have a long page with a md-button inside. I tested this on iOS (9.1) on an ipod, with AM 1.0.6 and Master.
When I scroll the page, it is very smooth. But if I start swiping by first putting the finger on the button and giving an acceleration, the content scrolls but it does so with a lot of wobbles. If I remove the md-raised class, it fixes the issue.

I can not reproduce this in a codepen where

[2016-03-22 14:37] olee commented on #678
Hi, I somehow got the exact same issue, however using latest version.
If I exchange the md-button for a simple button, it directly disappears like it's supposed to do.

[2016-03-22 14:47] DanielBertocci commented on #5669
+1

[2016-03-22 14:53] ssrslm opened #7697 "md-menu is not closing on moblie device"
Hi, I took latest version v1.0.6, md-menu is not closing on moblie device it is keep visible after click md-menu-item.  It is working if I don't give ng-click

Given below the code which I tried, the first menu item is not working (Do somthing), and the 2nd one is working because it does not have ng-click

[code]

[2016-03-22 15:16] BriceN commented on #5641
@burner-account same problem here, can't find a solution and the flicker is really annoying.

[2016-03-22 15:37] sdesmond commented on #7255
It looks like this did not make it into the 1.0.6 release, correct?

[2016-03-22 15:44] migingreen opened #7698 "mdDialog: flex elements should adjust to dialog width instead of the viewport"
See altered custom dialog example: [here](http://codepen.io/anon/pen/jqmNLo)

Maybe this suggestion is wrong or I still don't grasp the concept of flexbox in combination with dialog completely, but shouldn't flex elements inside a dialog adjust to the width of the mdDialog element instead of the viewport width?

For example, If we also want to utilize reusable components inside of a dialog, we wou

[2016-03-22 16:20] tex0l commented on #3420
+1

[2016-03-22 17:02] KarenParker opened #7699 "mdNavBar: Add the nav-bar component to Material"
Also fixes #6676

[2016-03-22 17:13] ErinCoughlan opened #7700 "mdPanel: Create an MdPanelAnimation object and pass it with the general panel config."
This task involves:

* Creating the mdPanelAnimation object.
* Adding public documentation for mdPanelAnimation (copy from design doc).
* Adding a method to MdPanel to create a new MdPanelAnimation object.
* Implementing the following API methods:
    * `openFrom(string|!Element|!jQuery.Event| {top: string, left: string, height: string, width: string}) : MdPanelAnimation`
    * `closeTo(string|!El

[2016-03-22 17:25] ErinCoughlan opened #7701 "mdPanel: Add default translate animation and withAnimation API method."
This task involves:

* Implementing the following API method: `withAnimation(string): MdPanelAnimation`
* Add default CSS class for translate animation (`md-panel-animate-translate`).
* Setting the CSS class for transitions.
* Use the animator from `$mdUtil.dom.animator`.

Note: translation is the animation for mdDialog, so we can reference code [here](https://github.com/angular/material/blob/3295

[2016-03-22 17:26] ErinCoughlan opened #7702 "mdPanel: Add default scale animation."
This task involves:

* Adding default CSS class for scale animation (md-panel-animate-scale).
* Setting the CSS class for transitions.
* Using the animator from $mdUtil.dom.animator.

[2016-03-22 17:26] ErinCoughlan opened #7703 "mdPanel: Add default fade animation."
This task involves:

* Adding default CSS class for fade animation (md-panel-animate-fade).
* Setting the CSS class for transitions.
* Using the animator from $mdUtil.dom.animator.

[2016-03-22 17:40] mpiasta-ca commented on #7255
@sdesmond nope, still broken.

[2016-03-22 18:21] EladBezalel commented on #6454
@topherfangio sorry but i don't have any iOS device

[2016-03-22 18:22] EladBezalel commented on #7649
@DevVersion please add to docs

[2016-03-22 18:32] httpete commented on #4688
chrisryer, your css works fine in later versions, I had an old version. Thanks!

[2016-03-22 18:32] #4688 closed

[2016-03-22 18:37] topherfangio commented on #6454
No worries; reassigned to myself ;-)

[2016-03-22 18:40] Zacharias3690 opened #7704 "mdMenu: menu shrinks when opening while keyboard closes on mobile"
When opening md-menu on mobile, if the menu opens at the same time the keyboard is closing the menu will shrink.

Using:
angular-material v1.0.6
All browsers

Here's a codepen with an example: http://codepen.io/Zacharias3690/full/VabLzM/
and a video of it occuring (changing browser size to simulate keyboard closing)
![image](http://i.giphy.com/hjCL6kooNegFO.gif)

In the codepen on mobile it occurs

[2016-03-22 18:43] Zacharias3690 commented on #7704
Appears to be related to https://github.com/angular/material/pull/6852

[2016-03-22 19:03] DevVersion commented on #7599
@topherfangio With breaking flexbox support I mean, that these icons aren't responsive anymore. So if you have multiple icons in a row, and the viewport becomes too small, then an overflow will appear.

And in my opinion, that's taking the advantages of flexbox.
But also if we keep them responsive, then we will have really weird looking icons.

Really hard decision I think :smile:

[2016-03-22 19:34] bhandaribhumin opened #7706 "dynamic md-tab not set md-select"
In controller
$scope.selectedIndex = 3;
in html
\<md-tabs md-selected="selectedIndex"  md-dynamic-height md-border-bottom="" class="material-background"\>
   \<md-tab ng-repeat="(cat_id, categorie) in catTabTitle"   ng-click="getItems(cat_id)" label="{{categorie}}"\>
        \<md-content class="" ng-repeat="subcat in catItems"\>
 \</md-content\>
\</md-tab\>
\</md-tabs\>
by default tab not select 3

[2016-03-22 19:48] royreiss opened #7707 "Textarea required behavior seems inconsistent"
In vanilla Angular a required textarea errors when it is only whitespace.  This is consistent with the behavior of required input fields in vanilla Angular. [plnkr](http://plnkr.co/edit/gqvgz7UGl0N0QL1tCYsp?p=info)

With Angular Material a textarea only has a required error if it is completely empty.  Whitespace will be counted as content.  This is inconsistent with the behavior of the Angular Mat

[2016-03-22 19:50] joaopedronardari commented on #4408
+1

[2016-03-22 19:57] WDShannon commented on #4691
Same issue for me.  this will not work on IE11 on Windows 7. The codepen linked by @topherfangio does not work for me in IE but it will in chrome.

[2016-03-22 20:02] ilovett opened #7708 "allow registering custom style sheet (mdss ?) into `$MD_THEME_CSS`"
Would be very handy to be able to register your own component and hook into dynamic theming... This may require changing setting `$MD_THEME_CSS` as a constant to a provider or decorator.

Since these style sheets have angular material specific variables, perhaps store the data in `mdss` files.

[code]

my-component-theme.mdss
[code]

I'm not sure what the logic is for the `md-theme` directive to a

[2016-03-22 20:28] johnyricalde commented on #4233
+1

[2016-03-22 20:34] #7680 closed

[2016-03-22 20:38] bradrich commented on #4209
I have another interesting issue that I feel matches this.

If using $state.go('state-name', null, { reload: true }), concentrating on the reload part of that ui-router call for this issue, the subsequent reload will cause a second mdSidenav to appear if the first is using md-is-locked-open. You can disable the potential $animate for the mdSidenav element and it fixes the secondary mdSidenav from

[2016-03-22 20:39] kthakre9 opened #7709 "md-virtual-repeat-container doesn't render correctly on safari"
While using md-virtual-repeat-container for infinite search, items returned from the search do not show up on the page in safari. I can see them on the Safari Dev Tools though.
Works perfectly on firefox and chrome.

<img width="739" alt="screen shot 2016-03-22 at 4 22 03 pm" src="https://cloud.githubusercontent.com/assets/12789665/13966751/51473074-f04a-11e5-8f56-03f9ad2722a0.png">

If I remove t

[2016-03-22 20:53] claudiozanin commented on #6820
I tried the example suggested by @soohoowoohoo but it didn't work for me.

I discovered an other solution described below.

First I placed the HTML of the fields that was throwing the exceptions of Angular inside a NG-REPEAT code, and in JavaScript code of Angular I did a push inside the list when the interface was ready to be built.

Below my HTML before the changes:

`<div class="form-group" lay

[2016-03-22 21:04] claudiozanin commented on #6048
I discovered an other solution described below.

First I placed the HTML of the fields that was throwing the exceptions of Angular inside a NG-REPEAT code, and in JavaScript code of Angular I did a push inside the list when the interface was ready to be built.

Below my HTML before the changes:
`<div class="form-group" layout="row" flex>
<md-input-container layout="column" flex>
    <label>Field N

[2016-03-22 21:25] Antariano commented on #3287
Also seeing this on 1.0.5. I have an `md-autocmplete` inside an `ng-if`. Toggling the ng-if does not remove the `.md-scroll-mask`

[2016-03-22 22:10] adelima83 opened #7710 "All is good."
Never mind all is good.

-Cheers

[2016-03-22 22:56] manchurocas commented on #3077
Is there an alternative available yet?  The method by @Charlie-Ng works if there is just one set of tabs on the page, but there are several different sets of tabs on my particular page, and I can't distinguish between one set of tabs or another by using tag name.

[2016-03-23 00:01] royreiss commented on #7707
Sorry, on further research this appears to be a duplicate of [#1794](https://github.com/angular/material/issues/1794)

[2016-03-23 00:01] #7707 closed

[2016-03-23 00:02] #7464 closed

[2016-03-23 02:55] jonpopp opened #7711 "Select values are missing with md-input-container after selecting a new value"
The initial select box looks great, however, as soon as I select a different option, one of the values is missing and the one I selected remains in the list, see attached photos.

"angular-material" : "~1.0.6"

Before Selection:

<img width="372" alt="screen shot 2016-03-22 at 7 52 02 pm" src="https://cloud.githubusercontent.com/assets/7926646/13974319/f74b70d0-f067-11e5-8924-310ffbf3d913.png">

A

[2016-03-23 03:00] morwin10 commented on #3722
+1

[2016-03-23 09:17] treaz commented on #3597
+1

[2016-03-23 09:46] AtahAhmed commented on #7633
I am working on fully fledge Angular Project but running into Browser compatibility issue, My Website work fine in Chrome but breaks completely in IE11.

Angular-js version : 1.4.7
IE : 11
OS 8.1
Angular Material - v1.0.0-rc1,

It's look's like IE has problem with 'height:auto' which caused the styles to messed up. I have gone through following link, but didn't achieve what i was looking for.

htt

[2016-03-23 09:52] mustela commented on #4456
Having the same issue, `ng-show/hide` won't be supported?

[2016-03-23 09:55] mikila85 commented on #1376
Common guys, implement a working fix for this in the framework already.
+1

[2016-03-23 10:13] graphefruit opened #7713 "md-icon - Creating own scopes?"
Hello Team,

I'm on my "performance" session in my app, and have installed the Chrome-AngularJS-Plugin to see the created scopes.

After I've debugged a little I saw that the MD-ICON creating his own scopes?
![image](https://cloud.githubusercontent.com/assets/6260244/13982049/10a55f8e-f0e8-11e5-87bf-3784a8d55099.png)

The code looks like:
[code]

Is there a possibility to bind-once this, or am I r

[2016-03-23 10:25] crisbeto commented on #7713
I wouldn't say it's a bug, but it's probably excessive to have an isolate scope on each icon, considering that we can get that info with the `attrs` that are passed into the link. This should be pretty easy to do.

[2016-03-23 10:27] mikila85 commented on #1376
@Frank3K
i fixed the firefox problem by only activating this to the problematic browser ("chrome"):
(used is_chrome)

<pre>

$provide.decorator('mdInputContainerDirective', function ($mdTheming, $delegate, $interval) {
                    <b>var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;</b>
                    var directive = $delegate[0];

                    directive

[2016-03-23 10:27] eniniz commented on #3401
+1

[2016-03-23 10:32] percenuage opened #7714 "Layout and flex doesn't work well on Safari mobile (IOS)"
I'm using angular-chart.js. I would like to show 3 charts on IOS with Safari. The charts are superimposed.

[code]

[2016-03-23 10:35] stidiovip commented on #1217
+1, this component will make me happy ;)

[2016-03-23 10:36] idamai commented on #4342
Hi, I am on 1.0.5 and I am still having this issue.

Basically I am doing
[code]
and it messes up the as well.

[2016-03-23 10:36] eniniz commented on #2808
+1

[2016-03-23 10:53] LionC commented on #4928
This was fixed for some time, but it is broken again since 1.0.6

working in 1.0.5: http://codepen.io/anon/pen/mPmWyJ
broken in 1.0.6: http://codepen.io/anon/pen/VabpYo

[2016-03-23 11:44] S8nsick66 commented on #1837
+1

[2016-03-23 11:57] crisbeto commented on #7714
This isn't a whole lot of info to go on.

[2016-03-23 12:15] graphefruit commented on #864
@nicolae-olariu I'm facing the problem on my app actually aswell. I disable them myself by css:
[code]

Also I've disabled the ripple effect in the body-tag which affects all child elements (gladly):
[code]

Don't change the transform events cause they will destroy everything... Just disable the transition.

Greetings
Graphefruit

[2016-03-23 12:19] nicolae-olariu commented on #864
@graphefruit I shall give it a try! Thanks!

[2016-03-23 12:42] alois-wever commented on #3401
+1

[2016-03-23 12:42] jojogeyer commented on #3401
+1

[2016-03-23 12:52] S8nsick66 commented on #6364
+1

[2016-03-23 13:03] Kasahs commented on #3287
+1 seeing this in 1.0.6 when used inside md-chips and location changes when chips are added or removed but the mask remains on location change blocking all user interaction. Changing location after digest cycle completes (i.e is wrapping it in $timeout(fn , 0) solves this. IMO this should not be necessary as this is simply related to focusing the element.

[2016-03-23 13:26] elekzalan commented on #6338
+1

[2016-03-23 13:34] ssrslm commented on #7697
I have found solution, it is because of 'ngTouch' module, after removing this it is working good.

[2016-03-23 13:34] #7697 closed

[2016-03-23 14:11] bonatoc commented on #4209
By the way, for me the problem is fixed since I started to use the code provided in the demo.

@bradrich — You could try a CSS overwrite empeaching the sidenav to open based on a conditional coming from $scope, using ng-class and !important (eww).
Isn't it already triggered like so, with transform:translateX + transitions?

[2016-03-23 14:15] DevVersion commented on #7022
Closing this as a duplicate of #4699

[2016-03-23 14:15] #7022 closed

[2016-03-23 14:24] DevVersion commented on #5193
This may be related to #6633, since multiple toasts are shown within the same interim element. When this bug is fixed, then the toasts will probably hide.

[2016-03-23 14:56] bradrich commented on #4209
@bonatoc - I am guessing that I had been staring at my screen for too long yesterday because this morning I came up with a small solution that does not by any means fix the issue, it just puts a bandage over it:

Add this to your CSS to keep the duplicated mdSidenav issue from occurring (making sure to replace <md-sidenav-class> with whatever your side navigation class is):

[code]

To answer your

[2016-03-23 15:12] topherfangio commented on #7599
@DevVersion I'm a bit confused. How does setting the width/height of these icons affect the layout of their container?

[2016-03-23 15:21] #7465 closed

[2016-03-23 15:43] cadilhac commented on #35
Would be great in 1.1

[2016-03-23 16:06] jonpopp commented on #7711
I had an invalid ng-model, i needed to remove the ".name"

[2016-03-23 16:06] #7711 closed

[2016-03-23 16:24] spamguy commented on #6422
What's the status of this? I'm having the same problem, but with md-accent and icon buttons.

[code]

Expected: Toolbar renders in the primary colour, icon button renders as accent colour (red, in my case). Both the icon and button are md-accent to remove doubt the class is misplaced.
Actual: Button renders as white. The ripple colour is reddish, clearly influenced by md-accent.

If I swap out md-

[2016-03-23 16:28] robertbaker commented on #5193
This bug is more about unattaching the events, disposing them so the number
of watchers does not increase when you display multiple toasts at the same
time, even if only one is visible.

If you open 5 toasts at the same time, the number of watchers increase but
only the last toast you opened will have the watchers removed once it
dismisses.

On Wed, Mar 23, 2016, 7:25 AM Paul Gschwendtner <notific

[2016-03-23 16:30] DevVersion commented on #5193
@robertbaker Exactly, and thats the problem of the current interim element stack. Because we are just trashing previous element in the stack. That means, no close execution -> no event cleanup.

[2016-03-23 16:31] Frank3K commented on #1376
Please note that Microsoft Edge also has `Chrome` in its user agent string. I'm currently testing for `WebkitAppearance` instead.

[2016-03-23 16:37] nestabur commented on #1983
+1

[2016-03-23 16:55] michelem09 commented on #4233
+1

[2016-03-23 17:40] GuyPie opened #7717 "md-backdrop animation doesn't work"
Hi,
The animation on the backdrop when opening dialogs seems to be broken in angular 1.4 and up (it works on 1.3.16). I tried it on versions 1.0.5 and 1.0.6. Attached is a codepen:

http://codepen.io/anon/pen/remGoe

[2016-03-23 17:58] mikila85 commented on #1376
Isnt the autofill problem is a chrome only issue? Anyway I will check it tomorrow at work on edge too. Please let us know if you find anything.

[2016-03-23 19:33] patorjk commented on #1269
+1

[2016-03-23 19:54] Frank3K commented on #1376
It is Chrome (or maybe Webkit)-only. I was just pointing out that the method now also runs on Microsoft Edge, where it is not needed.

[2016-03-23 20:07] zakdances commented on #1918
Still seeing this error too. I'm using `angular-material@1.1.0-rc1`. I'm importing it into my `app.ts` like this:

    import ngMaterial from 'angular-material'

it loads and seems to run fine, but throws 2 errors: `Cannot find module 'angular-material'` and `WARNING: Tried to load angular more than once.` I've tried removing all other angular-related imports but the warnings remain. The `Cannot f

[2016-03-23 20:16] topherfangio commented on #7710
Can you paste the actual injection error? Also, what versions of Material/Angular are you using?

[2016-03-23 20:27] topherfangio commented on #7713
I'm going back and forth a bit. I can see how we might be able to optimize this not to have a scope, but I wonder if we would just wind up adding watchers instead.

I think that the isolate scope is a cleaner solution, but if there is a significant performance gain from switching and there aren't any breaking changes, I'd be open to it.

[2016-03-23 20:27] topherfangio commented on #7709
Can you please provide a Codepen which demonstrates this issue?

[2016-03-23 20:33] crisbeto commented on #7713
If you take a look at the icon directive's source, it doesn't really use the scope for anything, apart from reading the value.

[2016-03-23 20:36] topherfangio commented on #7710
@adelima83 Great to know; in the future though, you can just post a comment and close the issue. There is no need to change the title/description :smile:

[2016-03-23 20:36] #7710 closed

[2016-03-23 20:36] bakhlov commented on #3401
+1

[2016-03-23 20:38] topherfangio commented on #7706
@bhandaribhumin As we have stated before, we cannot help you without a demo, and this type of question is best asked on the [forums](https://groups.google.com/forum/#!forum/ngmaterial), not here on GitHub. Please post your question there with a demo and all relevant information.

[2016-03-23 20:38] #7706 closed

[2016-03-23 20:44] topherfangio commented on #7704
I believe this is indeed the same as the issue you mentioned. Closing as a duplicate.

[2016-03-23 20:44] #7704 closed

[2016-03-23 20:45] graphefruit commented on #7713
Maybe the scope is not used for anything, but it will blow up the scopes.
In my actual project I have more then 40 scopes because of icons, thats not that cool.

[2016-03-23 20:46] crisbeto commented on #7713
Yeah, that's my point. All those values can be read from the `attrs`.

[2016-03-23 20:49] bakhlov commented on #1780
not working with version 1.0.6

[2016-03-23 20:56] topherfangio commented on #7698
The flex/layout properties like `flex-xs` or `layout-sm` currently use CSS media queries (and some fancy JS) to determine the breakpoints.

Unfortunately, this means that the breakpoints are tied only to the viewport size, not the size of the containing elements. So, I'm not sure this is something we can easily support. Also, if we do, it will likely be a different set of directives as the layout/

[2016-03-23 20:59] topherfangio commented on #7696
@crisbeto Can you take a look at this and see if you can reproduce this?

One way might be to add a raised button to one of the really long layout guides in the docs, but I'm not sure if that will work.

[2016-03-23 21:07] AviEt commented on #932
Same problem happens to me. I tried all the solutions here and nothing worked for me. At the end I changed angular-material.min.css. I searched md-backdrop and changed the position to fixed and now it works correctly.

[2016-03-23 21:07] ddimitrop commented on #7685
In fact reading the spec, it also shows an example where it states:
"Text color is the same as the tab indicator"

while in details below

Indicator:
"Height: 2dp"
"Color: #fff or accent color"

Tabs with text only

Text
14sp Roboto Medium
Active color: #fff or accent color
Unfocused tab color: #fff 70%

Reading this, it looks to me that the typical option is to use accent color for both the text

[2016-03-23 21:09] topherfangio commented on #7695
What version of Windows are you using? I can't seem to reproduce this in IE11 on Win10.

[2016-03-23 21:11] topherfangio commented on #7692
@DevVersion Can you look into this and find the cause?

[2016-03-23 21:16] topherfangio commented on #7690
I just tried to reproduce using the Basic Usage autocomplete demo and I could not. Can you please provide a Codepen that shows the issue?

[2016-03-23 21:22] DevVersion commented on #7708
Wow, this is an awesome feature request! :+1:

[2016-03-23 21:24] topherfangio commented on #7685
Definitely need to take a look and see if it still lines up with the spec. Perhaps something changed and we haven't updated styles accordingly.

[2016-03-23 21:31] topherfangio commented on #7679
Can you point to something in the [Spec](http://www.google.com/design/spec) that shows what you want?

[2016-03-23 21:34] zzo commented on #3200
+1

[2016-03-23 21:44] adam-s commented on #7690
I tried to recreate this in codepen but couldn't.

The project is at [Trolley Tracker Client](https://github.com/adam-s/trolley-tracker-client). The offending code in question is in the [busStops module](https://github.com/adam-s/trolley-tracker-client/blob/master/client/scripts/modules/busStops/busStops.tpl.html). There is an instance running on Heroku at http://trolley-tracker-client.herokuapp.c

[2016-03-23 21:44] topherfangio commented on #7668
If you haven't already, you might try upgrading to 1.1.0-RC1, this may fix it, but it may not.

In 1.1.0, we are also adding a new class to the `<md-content>` component called `md-no-momentum` which may fix the issue, but it unfortunately causes the momentum scrolling to be disabled.

Here are some similar issues for reference: #5707, #2887, #4477, and #2640. I am almost positive this is the same

[2016-03-23 21:44] #7668 closed

[2016-03-23 21:45] topherfangio commented on #7668
Sorry, meant to link the relevant `<md-content>` docs: https://material.angularjs.org/1.1.0-rc1/api/directive/mdContent

[2016-03-23 21:47] topherfangio commented on #7666
@soooooot What is the purpose of the reverse mode? Is it to support RTL languages? If so, I think it would be better if the component supported the `[dir="rtl"]` attribute.

@EladBezalel We had a similar discussion recently correct? Any updates/thoughts?

[2016-03-23 21:52] topherfangio commented on #7664
According to [spec](http://www.google.com/design/spec/components/tabs.html#tabs-content), we should be wrapping long text at least one line before truncating.

Also noticed some issues on small screens with very large tab labels that take up more than the screen width; should investigate/fix at the same time.

[2016-03-23 21:54] topherfangio commented on #7663
Can you please provide a demo? Seems related to #7474.

[2016-03-23 22:16] RichOren commented on #7209
@ThomasBurleson @cah-alexsukhodolsky - It seems if I delete a widget about the third time it hangs and does not remove the md-backdrop - and sometimes both the md-backdrop and md-scroll-mask

[2016-03-23 22:26] aaroncalderon commented on #1766
I experienced a similar issue, but on chrome. In my case the parent element was div, so the top portion of my content was off the  window view area with no way to scroll up to be able to see it.

This only happens when the window is re-sized and the content is actually taller than the parent element. What I did is override the [layout-fill] with `height: auto;` to fix the issue. This is inside a c

[2016-03-23 22:35] jadjoubran commented on #7679
@topherfangio I couldn't find any of the md-dialogs in [Dialogs spec](http://www.google.com/design/spec/components/dialogs.html) so I also couldn't find the multi-line prompt.

However what I meant is an option to the existing [Prompt Dialog](https://material.angularjs.org/latest/demo/dialog) that allows you to specify whether the prompt should be multi-line or not

[2016-03-23 23:09] aziz1117 opened #7720 "How i can change float label in md-input-container to right?"

[2016-03-23 23:17] VesperDev commented on #5241
+1

[2016-03-24 00:10] alexilyaev commented on #3929
+1

[2016-03-24 00:39] soooooot commented on #7666
@topherfangio my case is not a RTL case but a pagination slider, which should be reversed.

[2016-03-24 03:24] jpike88 commented on #4477
This is a iOS WebKit issue, WebKit/Apple need a MAJOR kick up the butt by multiple frontend libraries to give serious attention.

If Angular Material and Bootstrap both suffer from these flaws, then I think a larger group needs to be assembled to place more pressure on the team to expediate workarounds so we aren't bloating GPU RAM as a workaround

[2016-03-24 03:34] RolandHeath commented on #7635
Well, this is not a solution, but as a workaround, adding something like
`ng-if="autocompleteForm.autocomplete.$error.required"`
to your ng-message div seems to work.

This certainly isn't the expected behaviour though.

[2016-03-24 03:41] RolandHeath commented on #7626
Which browser are you using, and is the issue still present in 1.1.0-rc1?

[2016-03-24 05:44] xuaninbox opened #7722 "Md-Tabs Dynamic Height bug on Safari with trackpad"
When using Md-Tabs with Dynamic Height on **Safari** with **trackpad** (i.e. trackpad on a macbook) the tab may **temporally lose height**. This may cause a problem and causing the page to jump to top when switching.

This can only be reproduce via **tap the trackpad** and **not actually click the trackpad**.

It also cant be reproduced using Chrome or a Mouse.

![bug](https://cloud.githubusercont

[2016-03-24 07:32] stinaq commented on #7280
Ping @EladBezalel

[2016-03-24 08:30] Nextt1 opened #7723 "md-datepicker is not working as expected."
`md-datepicker` is not giving the propear date when date is selected.
check this pen http://codepen.io/next1/pen/LNyBgg

If I select 01/03/2016, it gives me output like 2016-02-29T18:30:00.000Z. Now I think because of my timezone is +5:30 it is giving me that result. But It is datepicker so why should it  concern about my time-zone?
 It should give me the date I select. So how can I get the approp

[2016-03-24 08:48] RizwanAslam commented on #2927
I am also facing the same problem to fix fab always on the screen in md-tab-content ..... but due to its viewport set to that container i am unable to fix its position on the screen.
I use fab to create some contents in the tab container but when number of elements increase in the container the fab button goes below the screen and user have to scroll to get it back on screen.
Please fix it soon.

[2016-03-24 09:02] cranesandcaff commented on #2533
Confirming issue. Has anyone found a solution?

[2016-03-24 09:05] son0nline opened #7724 "How can I remove md-tooltip?"
Hi everyone,
How can I remove md-tooltip?
I want remove md-tooltip or any way make it don't show again.

[2016-03-24 09:42] DevVersion commented on #7692
@topherfangio I've found the issue, it's caused by the width, which is set to `100%`, it seems like the computed height of 100% is zero. That means, when switching that to `auto`, everything works.

But I've noticed, that the `100%` were recently and intentionally  added, so I'm trying to understand those thoughts.

[2016-03-24 10:18] Tommatheussen commented on #7692
Btw, when testing my app cross browser, I noticed that the images are not quite correct in FF either. So I went to check if they are correct in the demo page, and it seems the issue exists there as well, probably is fixed by the auto height as well, just wanted to let you know.

![screen shot 2016-03-24 at 11 17 11](https://cloud.githubusercontent.com/assets/13683094/14014306/1200f2ec-f1b2-11e5-91

[2016-03-24 10:31] TitanNano opened #7725 "mdDialog: wrong padding"
At @ZmbGmbH we discovered that the md-dialog doesn't follow the exact specification.

![components_dialogs_updates1](https://cloud.githubusercontent.com/assets/4500858/14013912/77bf68c8-f1af-11e5-9931-ef6aa05f35e7.png)

The title should have a padding of `padding: 24px 24px 20px 24px;` and the content `padding: 0 24px 24px;`

Right now there is just a total padding of 24px with the `.md-dialog-con

[2016-03-24 11:06] ismarslomic commented on #3556
+1

[2016-03-24 11:47] camden-kid opened #7728 "md-slider-container in a directive produces errors in the console"
If you view [this CodePen example](http://codepen.io/camden-kid/pen/remqNg?editors=1010) with the console window open you will see that moving the slider in a md-slider-container produces the following error:

[2016-03-24 12:43] ranbuch opened #7729 "toast disabeling <body> scrolling"
After toast disappears the body still has a "md-toast-animating" class witch looks like this:

[code]

and scrolling is disabled.

version:
angular-material@^1.0.6

Thank you.

[2016-03-24 12:53] DevVersion commented on #7720
You mean, interpolating? You should provide more information, currently there are many possibilities of what you mean.

[2016-03-24 13:00] DevVersion commented on #7728
@EladBezalel Seems like the `md-slider-container` is depending on the `md-input-container`, maybe we should document the slider container as well. And explain what it does and what the requirements are.

Currently the directive description is really unnecessary / empty.
https://material.angularjs.org/HEAD/api/directive/mdSliderContainer

[2016-03-24 13:01] DevVersion commented on #7723
Duplicate of #4636

[2016-03-24 13:01] #7723 closed

[2016-03-24 13:07] DevVersion commented on #7717
Updated your demo, to use v1.3.16, and it seems like it's working there.

That's really strange, because we are using ngAnimate probably here:
- https://github.com/angular/material/blob/master/src/components/dialog/dialog.js#L869

Maybe it's a bug, related to ngAnimate, I will dive into it as soon as possible.

http://codepen.io/DevVersion/pen/grWQYQ

[2016-03-24 13:49] tleluc commented on #5182
+1

[2016-03-24 13:52] fdev commented on #4928
It's not just setting an accent color on a button within a toolbar, but also setting an accent color on the toolbar itself. The buttons (without `md-accent`) inside will retain the default color.

This variation on the issue was also fixed but broken again since 1.0.6.

working in 1.0.5: http://codepen.io/anon/pen/zqwMwd
broken in 1.0.6: http://codepen.io/anon/pen/xVdQdp

[2016-03-24 14:07] aziz1117 commented on #7720
I try to write this code:
<md-input-container>
<label>اسم العضو</label>    <---------- in browser it will be in left side but i want to be in right side
<input name="name"/>
</md-input-container>

[2016-03-24 14:10] aziz1117 commented on #7720
![label](https://cloud.githubusercontent.com/assets/7342455/14019290/156135ec-f1e3-11e5-8a92-791b245347e6.png)

I want label "اسم العضو" to be in the right side.

[2016-03-24 14:10] mihrich opened #7730 "md-select: search does not work when you type the first letter of any other language"
Hello Boys!

The specialist said that the problem could be [here](https://github.com/angular/material/blob/3524aa9573fe29e53341c60ce6127fc7ad323446/src/components/select/select.js):

`var searchStr = '';
var clearSearchTimeout, optNodes, optText;
var CLEAR_SEARCH_AFTER = 300;
self.optNodeForKeyboardSearch = function(e) {
  clearSearchTimeout && clearTimeout(clearSearchTimeout);
  clearSearchTimeou

[2016-03-24 14:19] crisbeto commented on #7696
I didn't manage to reproduce in on my iPhone, but I think I did on my iPad (which is strange considering that both devices are on iOS 9.3). It behaves as if it scrolls up for a split second before it continues scrolling down normally. I had something similar happen at work because of a sticky navbar that received `transform: translateZ(0)' only when it was sticky. Here's my testing setup:

[code]

[2016-03-24 15:00] dlee-nvisia opened #7731 "mdDialog: No way to distinguish how a dialog was closed when closed automatically"
Dialogs configured with the `clickOutsideToClose` or `escapeToClose` parameters set equal to `true` can close themselves if the user clicks outside or presses escape. Unfortunately, in both of these cases, the promise returned by $mdDialog is resolved (in the case of alert dialogs) or rejected (in the case of other dialogs) without providing a value. This prevents the calling application from iden

[2016-03-24 15:09] crisbeto commented on #7456
The cause for this one is that the browser can parse dates in the format MM/DD/YYYY, but not DD/MM/YYYY. If your locale happens to use the second one, it gets considered invalid. This is because the initial value on the `input` gets set via `toLocaleDateString`.

[2016-03-24 15:29] alex-alexandrescu commented on #6304
Fix i used:
`@media #{"screen\\0"}
  {}`

[2016-03-24 15:39] ErinCoughlan commented on #7683
[This resize code](https://github.com/angular/material/blob/3524aa9573fe29e53341c60ce6127fc7ad323446/src/components/select/select.js#L1089) from select may be helpful. The relativePositioning code will likely be based off of select as well.

[2016-03-24 15:39] kwypchlo commented on #7632
@ThomasBurleson any love for my issue? pretty please :cake:

[2016-03-24 15:42] skoszuta commented on #7632
+1

[2016-03-24 15:55] DevVersion commented on #7720
That isn't possible yet. You may use some custom CSS, but at the moment, we just support RTL, LTR automatic detection, what means that the label will be in RTL, at the right aligned.

[2016-03-24 16:06] yugalbagul commented on #7644
Hi @DevVersion

Unfortunately after using ng-pattern as well the issue persists.

Update Codepen -
http://codepen.io/Yugal/pen/qZrBwz/?editors=1000

I have added file "Email3" which is without <md-input-contained>. Which works fine.

Filed "Email2" is having ng-pattern validation. For this the form validation only works once.

I think the issue is with <md-input-container>..

[2016-03-24 16:34] aziz1117 commented on #7720
Because i am using Arabic Language (RTL), so i need to custom label to the right side.
How i can use custom CSS to align label?

[2016-03-24 16:52] soooooot opened #7732 "mdSlider: step slider thumb can not drag to max value"
if the max value can not be divided by step value, we can never drag the thumb to max value or press to max value, what we can do is to press the arrow key to reach the max value.

you can check on [CodePen](http://codepen.io/soooooot/pen/zqwepv).
step is 20, and the max value is 188, but I can only reach to 180 by drag or press.

[code]
the exactVal 188 can not pass the `stepValidator` so it's ch

[2016-03-24 16:55] KarenParker opened #7733 "mdPanel: Switch from addClass/removeClass/toggleClass to show/hide."
addClass/removeClass/toggleClass forces certain settings, like hasBackdrop, to be controlled by the user. We don't want to force the user to remember each setting they have to control when they want to hide a panel.

[2016-03-24 16:58] topherfangio commented on #7692
@DevVersion Can you point me to the commit where it was added so I can take a look?

[2016-03-24 17:18] topherfangio commented on #7679
@jadjoubran I think this would be a useful addition and we would definitely welcome a PR :smile:

[2016-03-24 17:30] DerekLouie commented on #4924
I do not believe this is an issue anymore, I will close the issue.

[2016-03-24 17:30] #4924 closed

[2016-03-24 17:41] alois-wever commented on #3906
+1

[2016-03-24 17:42] jojogeyer commented on #3906
+1

[2016-03-24 17:54] topherfangio commented on #7690
I looked into this a bit and dug into your code, but I'm not seeing the issue. If you can create a demo in the Codepen, we'll definitely take a look, but without having access to something we can debug and modify, it's really hard to track down issues.

[2016-03-24 18:39] topherfangio commented on #7662
We do not currently have a way to close all open dialogs. I think the most elegant solution is to open your dialog via a route so that when you switch states, you can close the dialog in the `exitState` function.

Alternatively, when you open a dialog, you can keep add the reference returned from `$mdDialog.show()` to an array/list and iterate over the list and call `$mdDialog.hide(reference)` to

[2016-03-24 18:39] #7662 closed

[2016-03-24 18:42] topherfangio commented on #7732
@EladBezalel Can you provide your thoughts on the solutions above and recommend for/against a PR?

[2016-03-24 18:50] topherfangio commented on #7729
This is currently by design but we are looking at ways to change this and make it better.

[2016-03-24 18:53] topherfangio commented on #7724
I would probably recommend using `ng-if` or `ng-show/hide`. If you need more assistance, please post a question on the [forums](https://groups.google.com/forum/#!forum/ngmaterial). GitHub is specifically for posting bugs/issues.

[2016-03-24 18:53] #7724 closed

[2016-03-24 18:56] topherfangio commented on #7722
Confirmed; can reproduce on the 1.1.0-RC1 demo site using Safari and a trackpad.

[2016-03-24 18:57] topherfangio commented on #7679
@EladBezalel I'm assigning you to this so you can provide feedback, but also so that it's not unassigned :smile:

[2016-03-24 18:59] EladBezalel commented on #7666
@topherfangio this is just to make the slider reversed, legit request

[2016-03-24 19:00] topherfangio commented on #7659
We have a similar issue for IE performance which is related to the themes: #7540.

Is there any way you can remove the lines suggested and try it out to see if it's the same issue?

[2016-03-24 19:02] topherfangio commented on #7655
Confirmed, and nice catch :smile:

[2016-03-24 19:06] EladBezalel commented on #7280
@stinaq can confirm, couldn't find the solution yet..

[2016-03-24 19:12] topherfangio commented on #7647
@morwin10 I can definitely see the issue with the Plunkr you provided.

Is there any way that you can reproduce this in a more simple Codepen that doesn't use routes, but uses something like numbers/strings in the `md-active` expression? Or do you think it's a problem with using routes?

[2016-03-24 19:17] #7628 closed

[2016-03-24 19:19] topherfangio commented on #7626
I know we fixed something similar to this recently, so please do test again on HEAD or 1.1.0-rc1 and provide us browser info.

[2016-03-24 19:21] yulin-dong commented on #6662
+1

[2016-03-24 19:22] topherfangio commented on #7610
@crisbeto Can you take a look at this one and see how much work is required to do this?

[2016-03-24 19:24] topherfangio commented on #7393
@ThomasBurleson Can you weigh in here and prioritize?

[2016-03-24 19:29] crisbeto commented on #7610
Sure. Also would be a good chance to make them all consistent (we have some that are in the doc strings and apparently that shows a warning).

[2016-03-24 19:29] topherfangio commented on #7386
Duplicate of #6265.

[2016-03-24 19:29] #7386 closed

[2016-03-24 19:35] topherfangio commented on #7376
To clarify: the button's aria-label is currently

[code]

when it should just be `Options`.

[2016-03-24 19:39] topherfangio commented on #7373
I'm a bit confused as the inputs currently do both of these things (focus when clicked and provide a text cursor on hover).

What version of Material are you using and what browser?

[2016-03-24 19:40] mhamann commented on #7709
The issue was related to a missing `)` in a CSS `calc()` operation. I think this can be closed.

[2016-03-24 19:42] topherfangio commented on #7371
@alexkolt Thanks for the update. Also for future note, if you solve the issue before we get around to it, you are able to close it yourself :smile:

[2016-03-24 19:42] #7371 closed

[2016-03-24 19:45] topherfangio commented on #7363
I am pretty sure that this is related to the functionality which moves the menu up so that it always appears on screen if it would otherwise have gone below.

Might be difficult to fix, but it might just require a small bit of CSS to transition it better.

[2016-03-24 19:48] topherfangio commented on #7356
I know that you're working on a PR already, but can you please provide a demo of the issue so that we can understand what you are trying to do?

[2016-03-24 19:50] topherfangio commented on #7352
The `<md-dialog>` component does not currently support resizing with the mouse. You might see if anyone on the [forums](https://groups.google.com/forum/#!forum/ngmaterial) has accomplished this or made a similar component.

[2016-03-24 19:50] #7352 closed

[2016-03-24 19:55] topherfangio commented on #7709
Awesome, thanks!

[2016-03-24 19:55] #7709 closed

[2016-03-24 20:03] topherfangio commented on #7610
Awesome, thanks!

[2016-03-24 20:10] standup75 commented on #3352
+1

[2016-03-24 20:13] topherfangio commented on #7351
Currently, the tabs watch the selected index for changes and call the `md-on-select` callback whenever it changes, so it's currently designed to do it whether it's a click or programmatic, and in general, I think that is the best approach.

What does your `vm.onTabSelected()` function do that is causing issues?

[2016-03-24 20:15] topherfangio commented on #7349
Can you please provide a Codepen showing the issue? Particularly, I'd like to know what your layout/container looks like.

[2016-03-24 20:18] topherfangio commented on #7347
I believe this was fixed in a recent commit. I just tested against master and it seems to be working: http://codepen.io/topherfangio/pen/aNWrOb

If you can still reproduce after upgrading, please comment and we will reopen.

[2016-03-24 20:18] #7347 closed

[2016-03-24 20:18] jjlangley commented on #4233
+1

[2016-03-24 20:21] topherfangio commented on #7344
Can you please provide a Codepen which demonstrates the issue so we can test it on IE?

[2016-03-24 20:22] adam-s commented on #7690
I can't recreate the problem in Codepen. I had copied the demo Codepen and ended up with the same problem.

![material-buggy](https://cloud.githubusercontent.com/assets/232388/14029512/ee4bf668-f1d8-11e5-9d55-57718d8da4df.png)

The problem is in [highlightController.js](https://github.com/angular/material/blob/master/src/components/autocomplete/js/highlightController.js) the text is being converte

[2016-03-24 20:25] topherfangio commented on #7341
I'm having a difficult time understanding what exactly you want/need. Could you provide a Codepen demo which shows the issue?

[2016-03-24 20:30] topherfangio commented on #7340
@DevVersion Pretty sure that this has something to do with the wrapper around the menus using the `layout-fill` attribute which sets the height to `100%`. Not sure why it's using that, we might be able to just remove it and fix the issue.

[2016-03-24 20:32] topherfangio commented on #7339
Seems to be fixed in 1.1.0-RC1. Please comment if you're still having trouble after upgrading and we will reopen.

[2016-03-24 20:32] #7339 closed

[2016-03-24 20:33] kanethal commented on #7349
Thank you for replying.
Problem is reproduced here: http://codepen.io/kanethal/pen/remgeE

Probably something obvious, thanks for your interest

On Thu, Mar 24, 2016 at 1:16 PM, Topher Fangio <notifications@github.com>
wrote:

[2016-03-24 20:48] topherfangio commented on #7336
Can you not just specify `layout="row"` on the toolbar? http://plnkr.co/edit/iyq3DVaUSquaQLAgqPE5?p=preview

[2016-03-24 20:52] topherfangio commented on #7335
Your subject says "FAB Speed Dial", while your code uses the "FAB Toolbar", so this may be part of the problem. If you are using the toolbar, then it only supports the left/right directions at the moment.

Here is a Codepen which shows it working in the left version: http://codepen.io/topherfangio/pen/ONmYgv?editors=1000

Let me know if you're still having trouble and I will reopen.

[2016-03-24 20:52] #7335 closed

[2016-03-24 20:54] topherfangio commented on #7334
I see a few issues with your demo, but can you tell us what problems you are trying to fix?

[2016-03-24 20:56] KaPaHgaIII commented on #5336
+1

[2016-03-24 20:56] topherfangio commented on #7333
The CSS for the Horizontal Usage demo has the width of the scroller set to `830px` which is wider than the demo container on mobile. Should be able to add `max-width: 100%` or something to fix it.

[2016-03-24 20:57] topherfangio commented on #7331
Closed in 2712003.

[2016-03-24 20:57] #7331 closed

[2016-03-24 20:57] bakhlov commented on #4077
I have 2 fields on the UI.
The second field visibility depends on what I type on the first one.
When I submit the form I expected the following behavior:
- do not see validation errors on the second field if it in the hidden state.
- to see validation errors on the second field if it in the visible state.

[2016-03-24 20:59] topherfangio commented on #7330
Possibly related to #4388.

[2016-03-24 21:02] topherfangio commented on #7328
Very inconsistent. It should always disappear when scrolling (because it has `md-scroll-shrink`), but it only works sometimes. Need to investigate.

[2016-03-24 21:03] topherfangio commented on #7325
@0101adm How exactly do you see this working? I mean, what would you do with the last selected tab?

[2016-03-24 21:06] topherfangio commented on #7323
It's not currently supported out of the box, but I accomplished something similar here: http://codepen.io/topherfangio/pen/KVOZqO/?editors=0110

Also, there is an open request for this in #6411, so I am going to close as a duplicate.

[2016-03-24 21:06] #7323 closed

[2016-03-24 21:06] 0101adm commented on #7325
hey @topherfangio.  ive seen this feature in other frameworks. when the page is revisted, its automatically selected. it seems like a better UX for the user.

[2016-03-24 21:09] topherfangio commented on #7320
I don't believe the Virtual Repeat component currently supports table elements. This seems like it would be a good addition though.

[2016-03-24 21:13] topherfangio commented on #7317
Indeed, the FAB Toolbar should support the `md-hover-full` class like the FAB Speed Dial, or come up with an alternate method of display which doesn't cause this issue.

[2016-03-24 21:16] topherfangio commented on #7314
We do not currently support IE10. There was a recent thread on the forums with more information: https://groups.google.com/forum/#!searchin/ngmaterial/IE10/ngmaterial/U-gmDd5_jq8/0N6jovrYDAAJ

[2016-03-24 21:16] #7314 closed

[2016-03-24 21:33] topherfangio commented on #7305
@miguelcobain I think this could be a useful feature. If you're still interested, feel free to create a PR :+1:

[2016-03-24 21:34] topherfangio commented on #7303
I don't think there is any way to support this currently, but we will look into it.

[2016-03-24 21:36] topherfangio commented on #7292
I know that the circular progress has had a lot of work recently. Can you test this against 1.1.0-RC1 or master and see if it's still an issue?

[2016-03-24 21:39] topherfangio commented on #7273
I believe this will be fixed by #7646. Can anyone confirm?

[2016-03-24 22:43] miguelcobain commented on #7305
@DevVersion @topherfangio What I'm proposing isn't a functionality like the one present in @DevVersion's comment.
It is a simple icon rotation class using css. The icon rotates while that class is present.

[2016-03-24 22:55] #7684 closed

[2016-03-24 22:57] morwin10 commented on #7647
@topherfangio
Yes you right.
the problem is with `$location` service

I did it without using `$location` service
and it work :
http://plnkr.co/edit/O5DnWq?p=preview
http://run.plnkr.co/XoMeiN9v9pKJlmE4/#signup

and here is it with `$location` service :
http://plnkr.co/edit/T7M2QkPdtrljs4WLsy6k?p=preview
http://run.plnkr.co/BdsCT23F0K3ZjFXb/

I don't know what the problem exactly with `location` se

[2016-03-24 23:45] morwin10 commented on #7647
I don't think that's a problem with routes

I tested it now without route, and without `$location `service

And I used with `window.location` of JavaScript
And there's a strange problem:

Every time I swich from `#signup` to `#signin` it is not active the signin
But only if I do that again, it active the signin.

Here is another example
Clearer

http://plnkr.co/edit/T7M2QkPdtrljs4WLsy6k?p=preview

[2016-03-24 23:49] #7040 closed

[2016-03-24 23:49] 0101adm commented on #7020
also appearing in 1.1.0-rc1.

[2016-03-24 23:50] #6835 closed

[2016-03-24 23:53] 0101adm commented on #5365
@robert-maftei :+1: works.

[2016-03-24 23:53] #5296 closed

[2016-03-24 23:55] 0101adm commented on #6983
also appearing in 1.1.0-rc1.

[2016-03-25 01:05] sridharspeaks commented on #5037
@bastienJS your bug fix of unwanted form tag is wonderful. I was searching for this solution for almost 5 hrs now. I just checked yours and found that there is a form tag in the parent page of my md-dialog due to which my messages are not working. Thank you very much for your comment.

[2016-03-25 01:30] 4zuko opened #7739 "mdDatepicker: Validation issue - Required validator with md-min-date and md-max-date does not behave as expected"
If user deletes value from Date input field custom validation error message (e.g. 'This date is required') is being shown which is expected behavior. The same error message is still shown if user enters date that does not match min/max validation rule (e.g. 10/10/2000).

**Angular Material Version:** _1.1.0-rc1_
**Browsers:** _Tested on IE11/Edge/Chrome/Firefox_
**Operating System:**_Tested on Win

[2016-03-25 01:49] jayeshanandani commented on #7273
Yes this will be fixed by #7646

[2016-03-25 01:54] jayeshanandani opened #7740 "Replacing inherited value with 0 for radio button"
Hi,

Currently, radio button uses value inherit which is not the proper value I guess and should be replaced by 0. It was done for the checkbox in #6472 by @EladBezalel. I think same can be done for the radio button.

Just for the reference:

md-checkbox: https://github.com/angular/material/blob/master/src/components/checkbox/checkbox.scss#L30

md-radio-buttton:
https://github.com/angular/material

[2016-03-25 03:26] jeff-mccoy commented on #6548
Same for me Windows 10, Chome  49.0.2623.87---though if you run the JS profiler it seems to also go away, which is actually pretty ironic.  It takes several seconds when dev tools is running, instant otherwise (i7 machine w/32 GB ram).

[2016-03-25 03:53] jeff-mccoy commented on #5681
I just swapped it out with a MutationObserver to compare and it resolved the issue for me.  It ran only three times initially (vs several hundred).

[code]

[2016-03-25 06:38] aldeso opened #7742 "mdListItem: some styling issues"
- Avatar 3-line-item must be positioned on top, instead vertically centered
- Checkbox in secondary container is not vertically centered (Avatar with Secondary Action Icon)

The item directive sould not used to break styling issues. It´s only a list item! Less is more! Somtimes its better to start from scratch, Sorry.

[2016-03-25 06:49] RaghuramDuraisamy opened #7743 "Autocomplete doesn't work well within tabs"
Sample code - http://codepen.io/raghuram/pen/ONgLdB

1. Autocomplete inputs in columns 3 and 4 are not working, nothing happens on clicking them
2. When a value is selected in autocomplete input in column 1, autocomplete inputs on column 2, 3, and 4 disappear. Autocomplete inputs on column 2 reappear on hover, but 3 and 4 remain hidden.

Browser: Chrome 43.0.2357.130 (64-bit) on Ubuntu 15.10

Coul

[2016-03-25 07:10] voodoorider commented on #7632
Same here, +1

[2016-03-25 09:37] elekzalan commented on #2151
+1
This **File Picker** feature is really needed.

[2016-03-25 12:09] tsarapke opened #7745 "mdFab, mdRipple: FAB ripple effect doesn't work properly in Mozilla Firefox"
![am_ff_ripple](https://cloud.githubusercontent.com/assets/7983863/14043895/9b0bf4fe-f29a-11e5-9a38-69d65ae720cd.gif)

The ripple effect goes beyond of the area of the FAB when you focused in.
Checked on Mozilla Firefox 45.0.1

After checking of various cases, i found that the ripple effect don't goes beyond of the area of the FAB in FF, if you add **mask: url();** or **clip-path: url();** (while

[2016-03-25 12:14] bonatoc commented on #1992
@super-coder — Please provide IE version.

[2016-03-25 12:18] super-coder commented on #1992
@bonatoc what do you mean? you don't understand how code doesn't work in IE?? There is no IE version

[2016-03-25 12:23] DevVersion commented on #7742
@aldeso We are working internally on a new `list` component. We have noticed that the current list implementation contains a lot confusing containers and more.

We are currently minimizing the work on the list item and focusing on the new component.
Meanwhile #7651 will be one of the last PR's for the old list implementation.

[2016-03-25 12:43] vijj opened #7746 "i,m not getting md-icons in the chrome versions Version 40.0.2214.111 (64-bit) linux from 25th-mar-2016."
i,m not getting md-icons in the chrome  Version 40.0.2214.111 (64-bit) linux from 25th-mar-2016.
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
can you help me

[2016-03-25 12:43] aldeso commented on #7742
@DevVersion Great news!

A demo for the Checkbox issue? Please check your self made demo! (Avatar with Secondary Action Icon)!

I´ve already developed a new list-item. I make a PR next week. Perhaps you'll find it useful...

Greetings

[2016-03-25 12:57] lexyfeito commented on #4124
@rgthree hey man this fixed/workaround doesn't seem to work on IE. Does it happen to you to?

[2016-03-25 12:58] DevVersion commented on #7742
@aldeso Yes, I will take a look at it later and recheck with #7651

About your PR, I don't think a PR is currently desired for the list component. We are still planning and analyzing the current implementation.

But if you really would like a PR for that, then I will take a look, maybe we'll find some useful concepts.

[2016-03-25 13:09] DevVersion commented on #7746
Please provide more information.

[2016-03-25 13:14] DevVersion commented on #7725
Referencing PR #7726 here.

[2016-03-25 13:22] TitanNano commented on #7692
@topherfangio The image height was set from `auto` to `100% !important` in df902381664bc568ad4011f1747ccc44a856995f

[2016-03-25 13:50] DevVersion commented on #7717
@GuyPie Just tested it again and it works fine, when I use my own demo with the same assets.

http://codepen.io/DevVersion/pen/oxwXBz

Also fixed your problem in your demo, by changing codepens `rootElement` to `body`. (http://codepen.io/DevVersion/pen/EKXjoV)

Another possibility is, bootstrapping the app from the `body` element (http://codepen.io/DevVersion/pen/QNgbaz)

So as conclusion, the wro

[2016-03-25 13:50] #7717 closed

[2016-03-25 13:54] tnf3251 commented on #1964
+1!!!

[2016-03-25 15:10] Otgontugs commented on #1964
+1

[2016-03-25 16:16] mr-cpp commented on #2205
thank you, @VesperDev

[2016-03-25 16:32] aperl commented on #4450
I have a solution for this. PR #7750 would allow a parent element to be used to evaluate the the width of the autocomplete drop down. I have a working example here https://codepen.io/allenperl/pen/KzmQwr

[2016-03-25 17:23] DevVersion commented on #7661
@Shirohana Closing this, because the interpolation you use, is not valid.

You should create a function or variable in the scope, which concats these both strings.

E.g `md-component-id="{{ first }}"` works well.

[2016-03-25 17:23] #7661 closed

[2016-03-25 17:39] zoorsaaz commented on #4717
@Kratos-SA You can return a [Promise](https://docs.angularjs.org/api/ng/service/$q).

[2016-03-25 18:38] topherfangio commented on #7692
@DevVersion It might be helpful for you to pair with @EladBezalel on this one as he did a major upgrade to the cards for 1.0.

[2016-03-25 19:12] rochdev opened #7752 "mdAutocomplete: scrolls to top then back to correct position on focus in Safari (OS X)"
When focusing the autocomplete input field, the page scrolls to the top and back down quickly (you can see a flicker).

This doesn't seem to affect the docs, however the scroll lock doesn't work either on the docs so maybe it's related to that.

I could reproduce on angular-material 1.0.5 and 1.1.0-rc1

Demo of the issue: [maclev.io](http://maclev.io)

[2016-03-25 19:13] topherfangio commented on #5681
@jeff-mccoy Thanks for testing that out! Any chance you could make a PR with some tests for it?

[2016-03-25 19:29] ajtowf commented on #1865
Hope this helps, a first look at the ng2 material components integrated into a demo app https://youtu.be/ngkVXUCBozc

[2016-03-25 19:31] topherfangio commented on #7647
Okay, so I did a bit of debugging, and it looks like the `location` variable is not updated when the `DialogController` is instantiated: http://plnkr.co/edit/K9xhMM1AU4wpRD6VWzS1?p=preview

Notice in the Plunkr how I add a `$timeout(..., 0)` to make the code run in the next digest loop. If you click the "Sign Up" button, let it open, close it then click the "Sign In" button, you'll notice that the

[2016-03-25 19:32] topherfangio commented on #7305
@miguelcobain Indeed; it is just like the `fa-spin` class in FontAwesome right?

[2016-03-25 19:34] DevVersion commented on #7305
@topherfangio Take a look at this [diff](https://github.com/miguelcobain/ember-paper/pull/302/files#diff-09fbe7d518b06d14576d4a6e072f8ba2R59)

[2016-03-25 19:36] topherfangio commented on #7325
Ah, I see what you mean. I don't think this is a feature of the tabs, I think it is a feature of the application because the component may be destroyed/recreated depending on how the developer writes it. Pretty much anything but `ngShow/Hide` will actually remove it from the DOM and call Angular's `$scope.$destroy()` method, so the component itself can't really keep this state.

I generally handle

[2016-03-25 19:36] #7325 closed

[2016-03-25 19:38] topherfangio commented on #7305
@DevVersion Yeah, that just adds a CSS animation to spin the icon. I understand that it is not like the transform that you linked to above, but I still think it might be a useful PR. Particularly if you wanted a refresh icon or something similar and didn't want to use the default circular progress indicator for some reason.

[2016-03-25 19:39] 0101adm commented on #7325
:+1:

[2016-03-25 19:40] topherfangio commented on #4077
@bakhlov Please ask your question on our [Forums](https://groups.google.com/forum/#!forum/ngmaterial). GitHub is reserved for bugs/issues only.

[2016-03-25 19:45] jasonwatt commented on #1725
Just ran across this issue. you should really conciser updating the documentation to remove md-input-container from the example

https://material.angularjs.org/latest/api/directive/mdSelect

[2016-03-25 19:49] topherfangio commented on #7349
@kanethal You can probably use `min-width` to fix this temporarily, but it definitely seems like a bug.

@crisbeto Can you take a look at this please?

[2016-03-25 19:57] topherfangio commented on #7690
@adam-s Thanks for digging in! It looks like this functionality was added in https://github.com/angular/material/commit/1538ebe9c2d8b9aec84d1f556a9b4cfe5a38dc04.

We should see if we can make the sanitization ignore plain ampersands.

[2016-03-25 19:58] crisbeto commented on #7349
Sure and also wow that's some trippy behaviour.

[2016-03-25 20:04] topherfangio commented on #7745
Can you please provide a Codepen demo so that we can duplicate it more easily and debug?

[2016-03-25 20:08] paulsperanza opened #7753 "Flex issue in IE 11 layout"
This code renders correctly in Chrome and Firefox, where the second column is to the right of the first. When the window is resized to a smaller size in IE 11 the text on the right meshes with the text on the left, instead of the text on the right going below the text on the left. See attached screen shots. Using Angular 1.0.6 on Windows 10.

[code]
![ienormalstate](https://cloud.githubusercontent

[2016-03-25 20:11] kanethal commented on #7349
Great thanks, I'm still learning, and it can be tricky to differentiate
between my bad authoring and legit bugs ;).

These were setup to flex. I worked around the sizing issue by changing the
input type to just text. Not sure how to use min-width and maintain the
responsive sizing!

Thanks for your interest, Dan.
On Mar 25, 2016 12:49 PM, "Topher Fangio" <notifications@github.com> wrote:

[2016-03-25 20:13] d3lm commented on #6559
Same issue for me, using angular-material 1.0.6 and Chrome 49.0.2623.87. The md-tabs directive breaks the ripple effect of buttons but somehow only in Chrome. In Firefox everything works fine. If I remove the tabs the ripple works again.

[2016-03-25 20:14] topherfangio commented on #7743
As far as I can tell, everything works correctly in Chrome 47 on Arch Linux, and Chrome 49 on OS X and Windows.

Also, your code looks good to me. Can you try upgrading Chrome and seeing if that fixes the issue?

[2016-03-25 20:18] topherfangio commented on #7739
@EladBezalel I haven't looked at the code, but my first guess would be that the picker isn't setting the date somewhere since it's invalid, which is tricking it into thinking it's invalid.

[2016-03-25 20:23] topherfangio commented on #7220
Closed in 0627d9e98320c60158de13385ea26208aa8567ab.

[2016-03-25 20:23] #7220 closed

[2016-03-25 20:30] topherfangio commented on #7218
We don't currently support mixing menus inside of selects or vice versa as these are both "Menu" components according to the [spec](http://www.google.com/design/spec/components/menus.html#menus-menu-items). And although it doesn't outright specify this, I think the spec leans towards only having one menu open at a time, so I would highly recommend a different structure to your application.

It may

[2016-03-25 20:30] #7218 closed

[2016-03-25 20:31] topherfangio commented on #7213
Closing as duplicate.

[2016-03-25 20:31] #7213 closed

[2016-03-25 20:38] topherfangio commented on #7211
The `flex="50"` attribute allows the element to grow and shrink with a max-width of 50%. If you have only two on the line, then they will take up 50% of the available space, but when you add more elements on the same line, they start to shrink so that all of the elements fit.

You may want to review our [Layouts Introduction](https://material.angularjs.org/HEAD/layout/introduction) for more info.

[2016-03-25 20:38] #7211 closed

[2016-03-25 20:38] topherfangio commented on #7211
Also, you might ask this on the [Forums](https://groups.google.com/forum/#!forum/ngmaterial) and see if anyone can help you. GitHub is really for issues/bugs.

[2016-03-25 20:39] topherfangio commented on #7206
@cdayjr Can you please convert this to a Codepen so that we can play with it on an actual iOS device more easily?

[2016-03-25 20:40] topherfangio commented on #7205
Can one of you please provide a Codepen demo which shows this issue as well as telling us what browsers you are using/

[2016-03-25 20:42] Matt-Dionis commented on #2440
+1

[2016-03-25 21:24] Derekjohnson277 commented on #4408
`md-tabs-wrapper{
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgb(68, 114, 196) !important;
	z-index: 1000;
	width: 100%;
}`

`md-tabs.md-dynamic-height md-tabs-content-wrapper {
	top: 48px !important;
}`
Also you will need to add margin-bottom: 48px; to the md-content directive inside each md-tab you instantiate. This is also using the md-dynamic-height option. And if you have som

[2016-03-25 22:23] stevenxzhou commented on #4233
+1

[2016-03-25 22:51] 4zuko commented on #2886
Check [this](http://codepen.io/_4zuko/pen/dMRXmj) out. Thanks.

[2016-03-25 23:22] ysfjwd commented on #2088
as @luishmcmoreno says: md-dynamic-height scrolls tabs. There is a trick to scroll only md-tab-body?

[2016-03-26 00:31] topherfangio commented on #7190
@DevVersion Can you take a look please?

[2016-03-26 00:39] Shirohana commented on #7661
I see.
Thanks a lot anyway (๑• ω •๑)

[2016-03-26 06:50] noilly opened #7755 "Right-align icons in md-select"
I can't right-align an icon in an md-select.

Here is my code-pen that exposes the issue: http://codepen.io/noilly/pen/JXJEdJ

It appears this is because, by default, the icon has a margin of "auto". Setting the margin to "0" appears to correct the issue.

This incorrect behaviour only appears to occur when the menu is open for selection.

[2016-03-26 08:19] aldeso opened #7756 "md-button as flexbox container"
Hi @ all,

I would like to discuss about the md-button directive. The directive transclude the `<md-button>` in a `<button>` tag. In some Browsers, elements like `<button>` do not  work  with flex. i.e. Firefox
If the user needs flexbox, a wrapper element is necessary.
Maybe you should leave it (optionally) as a `<md-button>` like `<md-checkbox>`.

What's your opinion?

Greetings

[2016-03-26 09:31] yugalbagul commented on #7644
Can this issue be re-opened if its is legit ??

[2016-03-26 09:55] pmoelgaard commented on #5791
I need this, but can understand why it's been closed, so not disputing that, just wondering if anyone has come up with a solution ?

[2016-03-26 10:20] DevVersion commented on #7644
Hey @yugalbagul,

`ng-pattern` works fine for the validation, the message is just not showing up. We already have an issue, which tracks that. #6399

[2016-03-26 10:34] DevVersion commented on #7190
The problem is, that there is only space for one column.

[2016-03-26 10:38] tsarapke commented on #7745
Sure. [Here is demo](http://codepen.io/tsarapke/pen/xVrqxJ).

Also I want to say that it can be reproduced at full page mode and rarely at edit mode.

[2016-03-26 10:46] vijj commented on #7746
![11](https://cloud.githubusercontent.com/assets/14217225/14059655/fc6427f2-f36d-11e5-8212-d9de90803d3d.png)

i,m not getting md-icons in the chrome Version 40.0.2214.111 (64-bit) linux from 25th-mar-2016.
can you help me

[2016-03-26 11:00] saeedshahab opened #7757 "mdTab: tab select/deselect events not fired for dynamically added tab"
Hi,

I was using an mdDialog with tabs, which is populated from an array. When the currently selected tab is removed from the array, the tab list is in view is updated and deselect event is fired to the tab and the adjacent tab is selected with select event. At the same time, when a new element is added to the same index, the view is updated correctly but the deselect/select events are not fired.

[2016-03-26 12:18] super-coder commented on #4251
so both alenaksu and logbon72 projects are not usable, they don't support IE11. Damn what to do

[2016-03-26 12:47] DevVersion commented on #7190
@topherfangio Fixed it :)

[2016-03-26 12:50] super-coder commented on #6278
@jelbourn so after 3 months you will still say it is usable? Be honest - if it's a fail, accept it. See https://github.com/angular/material/issues/4251

[2016-03-26 13:19] bonatoc commented on #1992
"There is no IE version" - I beg your pardon?

[2016-03-26 13:39] super-coder commented on #1992
@bonatoc you can see the screen in https://github.com/angular/material/issues/7695

[2016-03-26 14:29] kfirufk opened #7759 "ng-bind-html doesn't always shown in md-autocomplete"
Hi.
I'm using md-autocomplete to read html results from server. when i use ng-bind-html for a span inside  md-item-template, the items sometimes appear sometimes don't. weird behaviour. created jsfiddle for that at https://jsfiddle.net/kfirufk/9mwL3142/

just start the jsfiddle and start trying stuff. it will return the same results no matter what's in the text field. and sometimes the results are

[2016-03-26 14:38] bonatoc commented on #1992
Like tagged: "need more info".

[2016-03-26 15:00] super-coder commented on #7695
Windows 8.1

[2016-03-26 15:07] super-coder commented on #1992
added more info there

[2016-03-26 15:16] super-coder commented on #4251
And i see Milestone:Backlog, Assignee:No one assigned.

Does it mean this won't be fixed anytime soon? TBH If I knew there is no datepicker in the framework I wouldn't have chosen it for our project

[2016-03-26 15:46] topherfangio commented on #7745
Awesome, thanks!

[2016-03-26 15:46] crisbeto commented on #7349
This seems to be some kind of strange behaviour in Webkit (IE, Edge and Firefox don't have it, but Chrome, Safari and Opera do) that happens if the input is `type="number"` and it has both a `min` and a `max` (if it's only one of them it doesn't happen). The browser seems to set the input width so it can fit the amount of digits in the `max` +/- a couple of characters and ignores all other widths.

[2016-03-26 15:54] topherfangio commented on #7349
@crisbeto Wow; that sounds like fun. Out of curiosity, did you test this with a plain number input? I'm wondering if there is something that Material is doing to cause it.

[2016-03-26 15:56] crisbeto commented on #7349
Just tried it, it's the same with a plain number input as well.

[2016-03-26 16:00] MohamedAbdelkarim opened #7760 "how to set md-item-text dynamically?"
Hello guys,
I using `md-autocomplete` along with `md-select`, so users should select search category by `md-select` and then `md-autocomplete` fetches data by calling `$http` service based on `md-select` option selected. for example `md-select` options : search by Number , search by name, search by phone. everything works fine except for `md-item-text` because it's weather item.number , item.name

[2016-03-26 16:32] RaghuramDuraisamy commented on #7743
Thanks @topherfangio . I upgraded Chrome to 49.0.2623.108 (64-bit) and that fixed the issue.

[2016-03-26 16:32] #7743 closed

[2016-03-26 16:45] #7760 closed

[2016-03-26 17:06] DevVersion commented on #7309
@topherfangio Since our sidenav is hidden, since the directive compilation, the virtual repeater has no time to validate the layout. That's why we need to trigger a revalidation of the virtualRepeater's layout, when the sidenav is visible to the DOM.

I suggest, calling the resize handler, when the sidenav is opening. That will fix issues with components, which are watching the layout.

[code]

Th

[2016-03-26 17:22] DevVersion commented on #7740
@jayeshanandani Do you want to submit a PR? If not, let me know :)

[2016-03-26 17:49] DevVersion commented on #7340
@topherfangio I can't reproduce this one on my end. Can you please take a look again? I'm a bit confused about @runethh steps.

[2016-03-26 20:35] austinsk8s opened #7762 "md-select causes white screen if clicked after IOS focuses on an input feild"
On IOS, if a user clicks inside a text input field (IOS focuses it), then selects done on the keyboard, then clicks on an md-select, the view white screens until the user clicks on the screen. It seems to be in part due to the IOS focus on the initial input field. If you zoom out of that focus before clicking the md-select, the white screen issue does not occur.

[code]

[2016-03-26 20:57] austinsk8s commented on #7762
This issue is fixed by adding this meta info to your main html file:

`<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;">`

[2016-03-26 20:57] #7762 closed

[2016-03-27 02:33] websirnik opened #7764 "mdTooltip overlaps mdSidenav while its transition"
When the sidenav trigger is located on the side and has a tooltip, the tooltip will overlap the sidenav while its transition to open state. The better UX is not to have the overlap.

See the demo:
http://codepen.io/websirnik/pen/eZRGoN

[2016-03-27 03:58] warent commented on #4314
Hi,

I actually came up with a fully functioning solution for virtual repeating dynamic height items without predefined values. I'm going to be upfront in saying that I'm not experienced in working on open-source projects or the processes therein (I do have some team dev experience in the company I work for), but if someone could get in touch with me I would love to work together in sharing and im

[2016-03-27 06:52] jpike88 commented on #4251
The logbon72 project is well made, I'd suggest tweaking it to handle IE11 which shouldn't take much effort

[2016-03-27 06:54] morwin10 commented on #7647
thank you very much !
It helped me

I do not know what the solution for the height
But it has been solved in my
I do not know what exactly caused it
But I updated it here if you want to see
http://plnkr.co/edit/zAMH4cMGKPxI1DUOhqMx?p=preview
( There is a problem with the width of the input, but for some reason this does not happen in my project )

[2016-03-27 06:58] morwin10 commented on #7647
@topherfangio
thank you very much !
It helped me

I do not know what the solution for the height
But it has been solved for me
I do not know what exactly caused it
But I updated it here if you want to see :
http://plnkr.co/edit/zAMH4cMGKPxI1DUOhqMx?p=preview
(There is a problem with the width of the input, but for some reason it doesn't happen in my project)

[2016-03-27 08:30] crisbeto commented on #7518
I've put in https://github.com/angular/material/pull/7765 to address this. I used the same hover styles as the autocomplete. Also fixed the disabled styles that weren't being applied.

[2016-03-27 08:55] DevVersion commented on #7742
@aldeso I've tested it with #7651 and it's fixed in there.

About the avatar in the 3-line-item, I can see that and it's only happening when using `ng-click` with it.

So please file another issue for the 3-line-item avatar and mention that this bug was even present before the big component refactor.

Meanwhile I'll close that issue, because it's already a known issue and it's fixed in #7651.

[2016-03-27 08:55] #7742 closed

[2016-03-27 10:07] DevVersion commented on #7172
@cadilhac Just took a look at your issue.

You have a few problems in your snippet.
- `#fontSet(alias, classname)`
- `Ligature Support`

For the method `#fontSet(alias, classname)`, you used it wrong in your snippet.
In fontawesome the classname is `fa` and the alias would be `fontawesome``
So the correct snippet would look like:

[code]

So in my opinion, you don't need to specify an alias, since

[2016-03-27 13:14] Thijs5 opened #7766 "Sticky subheader inside tabs issue"
When having a list in each tab with sticky subheaders, only the subheaders of the first tab are shown. Please look at the gif below.

![subheader-issue](https://cloud.githubusercontent.com/assets/1286325/14065536/62dc95bc-f42e-11e5-939f-6a5c0e35aec7.gif)

The subheader on the first tab says 'Deze week'. This works and after scrolling down, the header changes correctly. After switching tabs, the su

[2016-03-27 13:24] montgomery1944 opened #7767 "mdSelect: error handling of mdSelect is inconsistent with mdInput"
There is a couple of issues with current mdSelect error handling:
1. Default error getter implementation for mdSelect does not take into consideration the $submitted property from parent form like mdInput does. This leads to inconsistent and confusing behaviour when submitting form containing select and input with errors.
2. mdInput placeholder, border and message are red when the input has error.

[2016-03-27 13:33] jayeshanandani commented on #7740
@DevVersion : #7768  I have raised PR. Let me know if there are any issues with same. :)

[2016-03-27 13:40] DevVersion commented on #7740
@jayeshanandani Awesome, thanks, can you please reference this issue within the commit message and squash into one commit? :)

[2016-03-27 13:43] montgomery1944 opened #7769 "mdToolbar: usage of ngIf on mdToolbar makes hiding delayed"
When hiding mdToolbar using ngIf, the element is removed from DOM tree with a significant delay. The same issue does not occur, when the mdToolbar is wrapped in div and the ngIf is moved to it.

Demo can be found at http://codepen.io/anon/pen/NNgyvz.

Tested with jQuery 2.2.2, Angular 1.5.2 and Angular Material 1.1.0-rc1.

I can provide a pull request with fixes for this issue, including tests, if

[2016-03-27 14:23] jayeshanandani commented on #7740
Sorry @DevVersion had to create new PR. Something went wrong while rebasing. New Pull request is at #7770

[2016-03-27 14:50] montgomery1944 opened #7771 "mdFabSpeedDial: hidden buttons should not be focusable"
Currently in mdFabSpeedDial hidden buttons are focusable, which causes issues with accessibility, when user is using tab to navigate the page, because focus is set to elements not visible to user.

Demo can be found at https://material.angularjs.org/latest/demo/fabSpeedDial.

I can provide a pull request with fixes for this issue, including tests, if this is going to help.

[2016-03-27 15:07] montgomery1944 opened #7772 "mdInput, mdSelect: bottom border for disabled input or select is not in one line with not disabled input"
mdInput, mdSelect: bottom border for disabled input or select is not in one line with not disabled input or select bottom border.

Demo can be found at: http://codepen.io/anon/pen/RagQXQ.

You can see, that disabled input bottom border is 1px above the bottom border of not disabled input.

Tested with jQuery 2.2.2, Angular 1.5.2 and Angular Material 1.1.0-rc1.

I can provide a pull request with fi

[2016-03-27 15:13] montgomery1944 opened #7773 "mdSelect: disabled select is set to touched when clicking at it"
Disabled select is set to touched when clicking at it and clicking somewhere else on the page. This causes the error message to be shown. This is not consistent with behaviour of disabled mdInput, which is not set to touched when clicking at it.

Demo can be found at: http://codepen.io/anon/pen/MyoVwY.

Tested with jQuery 2.2.2, Angular 1.5.2 and Angular Material 1.1.0-rc1.

I can provide a pull r

[2016-03-27 16:47] sombriks opened #7774 "textarea problem on safari"
hello,

this snippet behaves oddly when running under osx/ios safari: http://codepen.io/anon/pen/oxwqEd

the very same snippet looks pretty nice on chrome and firefox.

[2016-03-27 20:30] Nikki1993 commented on #7746
@vijj why are you running outdated version? if there is no particular reason then update to latest one, it is 49 not 40.  See if that resolves the issue.

[2016-03-28 04:19] vijj commented on #7746
from starting onwords  i run this my application in  40 version.but from  last 2 days problem occurs like material icons not supported. i need reason behind this  problem please if you know

[2016-03-28 04:54] kfirufk commented on #7635
welp.. at least for now i have a work-around. thanks

[2016-03-28 06:55] angrylala opened #7776 "App bar title left padding does not comply with Material Design Specs"
According to Material Design Specifications:

For App bar height of 56dp, app bar title left padding should be 72dp
For App bar height of 64dp, app bar title left padding should be 80dp

Reference
https://www.google.com/design/spec/layout/structure.html#structure-app-bar

[2016-03-28 07:47] crisbeto commented on #7773
True, I could reproduce it on master. I'll take a look.

[2016-03-28 07:59] ganySA commented on #4450
+1

[2016-03-28 08:09] janvandenberg opened #7777 "md-select-on-focus directive doesn't work in safari browser"
You can test it in any Safari browser using Angular Material's own demo page: https://material.angularjs.org/latest/demo/input

Just focus in the text area in the first section (Basic Usage). Sometimes you see the text selected very briefly, but the end result is always the same, no selected text.

Kind regards,
Jan van den Berg

[2016-03-28 08:55] DevVersion commented on #7777
Hey, it's already fixed in `master`. [See here](https://material.angularjs.org/HEAD/demo/input)

[2016-03-28 08:55] #7777 closed

[2016-03-28 08:58] janvandenberg commented on #7777
Correct. I've tested several releases, but omitted master. Good to know that this is fixed!

[2016-03-28 08:59] DevVersion commented on #7777
@janvandenberg Haha, no worries :)

[2016-03-28 09:26] adam-s commented on #7766
I'm experiencing the same problem. What happens is that with three tabs and three subheader groups in each tab, all nine subheaders end up in the active state at some point when scrolled on any tab from top to bottom.

[2016-03-28 12:12] crisbeto commented on #7241
IMO we could either make an opt-in toggle that would allow you to insert HTML into the messages, or have another method on the `$mdToast` provider that lets you insert HTML (e.g. `$mdToast.htmlContent`).

As for @cadilhac's example, I got it to work work like this:

[code]

And in the template, we can replace the `{{ toast.content }}` with `<span ng-bind-html="toast.content"></span>`.

[2016-03-28 12:13] Halynsky commented on #2447
Hello!
I have same problem on version release v1.1.0-rc1 with Firefox Mozilla 44.0
It have deley before open the options.
Same is in official demos.
https://material.angularjs.org/latest/demo/select

so its realy sime bug i think
Is there some way to fix it? Or will it be fixed in next versions? thx.

[2016-03-28 12:41] vijj opened #7779 "Need validations for md-chips in the materialdesign"
if you know md-chips validations  can you suggest me please
![screenshot from 2016-03-28 18 08 12](https://cloud.githubusercontent.com/assets/14217225/14078097/5e794cf8-f510-11e5-9a65-f3c8e0a5c936.png)
![22](https://cloud.githubusercontent.com/assets/14217225/14078112/7d1b6f6a-f510-11e5-93ab-df28024ad5f8.png)

[2016-03-28 13:10] dongorous commented on #1269
+1

[2016-03-28 15:53] ChidoYo commented on #951
I cannot get the ng-change in the md-radio-group tag to respond. The nd-model is in the md-radio-group. If I move the ng-change to the md-radio-button then I get this error: Error: [$compile:ctreq] Controller 'ngModel', required by directive 'ngChange', can't be found!

[2016-03-28 16:13] pames opened #7780 "Theming docs do not cover adding a nonce for CSP"
Angular Material seems to rely on the use of inline styles even in an ng-csp application:

https://gist.github.com/pames/183a24cd419f8d640b46

which causes problems for sites which want to avoid use of directives such as 'unsafe-inline' etc. for styles.

I haven't investigated the root cause, but is this behavior something you'd be willing to change?

[2016-03-28 17:42] AskYous commented on #7767
I am using Angular Material `^1.0.6` and I have a similar issue. The `md-select` and regular text `input` both have the `required` attribute.

- When the user leaves both fields blank and submits the form, the `ng-message` shows up for the text `input` and **not** for the `md-select` input.
- When the user clicks on the `md-select`, the `ng-message` appears.
 - The `ng-message` appears even before

[2016-03-28 18:14] #7733 closed

[2016-03-28 19:24] #7700 closed

[2016-03-28 20:01] netoramalho commented on #4233
+1

[2016-03-28 20:57] Nikki1993 commented on #7746
I can't really fully understand what's up with use of Chrome 40 not 49 but 2 things. First, update it. Second, show the source code and how are you applying material icons. Without code, nothing we can help with.

[2016-03-28 21:38] gmoothart commented on #7699
See PR #7781

[2016-03-28 22:30] alphatwit commented on #6676
I think it would be good if md-on-select fired whenever the condition is satisfied (as it does now) but ng-click should only fire when someone actively presses the tab. The fake click on ng-click is counter-intuitive.

[2016-03-28 23:49] jaGarcia opened #7783 "Latest release 1.1.0-rc1 not hosted in Google Hosted Libraries"
Latest release isn't yet uploaded to the hosted libraries.  I wasn't sure if this was intentional or if the auto-deploy script to push the built library up there wasn't working..?

[2016-03-29 00:02] #7466 closed

[2016-03-29 00:49] ckpearson commented on #4940
:+1: I'm getting this in IE as well, Edge is fine for me. I'm not using dynamic height.

I've just got two tabs, and switching between them is really upsetting IE.

Big problem for me as majority of clients are likely to be using IE.

[2016-03-29 02:41] CodyMorris commented on #4233
+1

[2016-03-29 03:17] monmon29 commented on #3906
hey.. All of you commuting +1.. I cannot understand how you solve this issue. :(

[2016-03-29 07:38] graphefruit commented on #7659
@topherfangio First sorry for my delay. I don't know how I could test/change this properly. The issue I showed was on the https://material.angularjs.org website.

I could try to take the latest version [angular-material.js](https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc1/angular-material.js) and remove those lines there and test it in my actual **App**. But I can't promise it wil

[2016-03-29 08:34] Hammild commented on #7340
+1
I'm experiencing the same problem as @runethh . Works fine in a desktop browser (Chrome 49.0.2623.87) and in horizontal view on an iPad mini. The icon and text only overlaps when in vertical view.

Reproduce:
1. Go to "Demos" > "Menu" > Scroll to "Menu Width"
2. Observe that the icon and text is overlapping (see images for both the vertical- and hotizontal-view).
![menu - horizontal](https://cl

[2016-03-29 08:50] josepfdc commented on #3181
Hello,
I have started a project and I would like to use md-icon in a ng-repeat. please, could you give a light about it
<tr ng-repeat="estudio in estudios_es">
	<td>{{estudio.idestudio}}</td>
	<td><input type="text" ng-model="estudio.nomEstudio" /></td>
	<td>{{estudio.comentario}}</td>
	<td>
		**<md-button class="md-icon-button" ng-click="editar_estudio(estudio, $index)">
                 <md-icon

[2016-03-29 08:51] DarkMerge commented on #535
+1

[2016-03-29 08:53] AnirudhaGohokar commented on #7238
Temporarily resolved this issue by not allowing user to edit via text.

[code]

[2016-03-29 09:04] AndrewSamokhvalov commented on #2440
+1

[2016-03-29 09:10] graphefruit commented on #7659
Tried to change the lines in my app (app looked terrible). I enabled all animations and ripple effects (which I disabled manually).
The performance increased. In the dropdown I could see it best, the menu closed much faster as before.
The increasement wasn't drastically but noticeable.
Ripple effects are still laggy with this changes.

Maybe its possible to clone the actual website and make the ch

[2016-03-29 09:13] dongorous commented on #1735
+1

[2016-03-29 10:54] Undrium commented on #6048
This error occurs when you use a mddialog with a template (containing for instance mdSelect-elements) attached. If this template has a directive linked the mdselect elements will drop this error if dialog is closed down and opened again. I can reproduce this without asynchronous calls, so that's not the problem. Unfortunately plnkr is currently down so I cannot provide an example.

[2016-03-29 12:29] naorz commented on #2697
Its seems there is no option to change the style since you use the mdDialog service (without custom template).

Anyway, I found some work around, that can be helpful.
"onComplete" property ([see docs](https://material.angularjs.org/latest/api/service/$mdDialog) => search: "onComplete")

You can insert an option object into you dialog definition such as:

[code]

Then show your dialog:

[code]

[2016-03-29 12:55] MasterRam commented on #6393
i installed bower component "angular-material": "1.0.6"
but i feel the issue #6803 still exist.
![image](https://cloud.githubusercontent.com/assets/11454989/14108503/9f75213e-f572-11e5-9b17-0e25410a9bb4.png)

[2016-03-29 12:57] pablozandona commented on #1983
+1

[2016-03-29 13:08] DevVersion commented on #6393
@MasterRam The fix has been released in `1.1.0-rc1`, not in v1.0.6

[2016-03-29 13:27] DevVersion commented on #7376
@calebegg @topherfangio I know what you mean, but it is quite difficult to walk through all children and concat the right strings together.

Do you have any other thoughts / or suggestions, instead of iterating through all child elements?

[2016-03-29 13:39] Hammild opened #7786 "iOS: mechanical md-sidenav (menu) scrolling"
Scrolling in the md-sidenav menu in iOS is very mechanical compared to Android. On an Android device, a scroll will decelerate before it comes to a halt. On a iOS device, a scroll stops abruptly which is in conflict with the guidelines [(MD-Mass and weight)](https://www.google.com/design/spec/animation/authentic-motion.html#authentic-motion-mass-weight).

How to reproduce:
1. Open the md-sidenav m

[2016-03-29 13:50] Phr33d0m opened #7787 "mdCheckbox :last-of-type inconsistency?"
Hello,

Currently md-checkbox has the css property:
[code]

Which makes designs quite inconsistent:
![mdcheckboxinc](https://cloud.githubusercontent.com/assets/1591486/14110203/cb502d78-f5c5-11e5-9f0b-cfbbfbc38f89.png)

Is there any reason behind this rule?

Regards.

[2016-03-29 13:51] crisbeto commented on #7786
Wasn't aware that we had this on sidenav as well, I added https://github.com/angular/material/pull/7751 recently to address the same issue on the demos. I'll take care of this one.

[2016-03-29 14:01] bradrich opened #7788 "Setting all Sass variables to !default"
There are several Sass variables in the angular-material.scss file that are not set with the **!default** indicator. This means that if you try to define the variable before you import the angular-material.scss file in order to overwrite the variable, it will fail to do so. One reference to this are the tooltip variable declarations.

It would also be nice if the angular-material.scss file could b

[2016-03-29 14:13] DevVersion commented on #7024
@topherfangio Can you confirm that this relates to your PR #6209?

[2016-03-29 14:21] mortware opened #7789 "$mdBottomSheet still scrolling when parent set"
I see this issue has been fixed in the past, but it's still occurring for me.

`$mdBottomSheet.show({
    controller: BottomSheetController,
    controllerAs: 'vm',
    templateUrl: 'app/bottomSheet.html',
    parent: angular.element(document.getElementById('content'))
})`

After following the code, an 'md-scroll-mask' element is created and appended to the parent, but it the parent still wants to

[2016-03-29 14:24] DevVersion commented on #7789
@mortware Is this a duplicate of #7410? Can you check please?

[2016-03-29 14:26] mortware commented on #7789
Yes it is, please close this, and i'll follow that one :)

[2016-03-29 14:27] DevVersion commented on #7789
Awesome, thank you :+1:

[2016-03-29 14:27] #7789 closed

[2016-03-29 14:28] sam-g-roberts commented on #5043
+1

same issue with users attempting to use manual input and md-datepicker model not updating or validating

[2016-03-29 14:31] mortware commented on #7410
+1

[2016-03-29 15:08] cadilhac commented on #6815
With 1.1 RC1, it seems that the link color is forced to the accent color. This has never been discussed here. I thought that, as proposed, I would have to use the md-accent class, so that I can also be free to use other colors for links...

[2016-03-29 15:58] sandronm commented on #1269
+1

[2016-03-29 16:36] homerjam commented on #6802
+1

[2016-03-29 16:40] homerjam commented on #3258
+1

[2016-03-29 17:31] homerjam commented on #7205
+1 (will try and do a demo tomorrow)

[2016-03-29 17:39] trimox commented on #7769
Confirmed this issue as well. Works in 1.0.4, it's been broken since.

[2016-03-29 21:34] BobKlaas commented on #4940
I'm having the same issue. I'm using a md-dialog that has 7 md-tabs. Each tab has about 10-20 <a href> tags in the contents. It is brutally slow on IE. Chrome works perfect. This issue is delaying our release. I'll try and CodePen an example.

[2016-03-29 21:46] jualvarez commented on #4314
Hello @warent, have you forked these changes? Do you mind pointing us to the relevant part of the code that you modified in order to make it work? We would really appreciate some directions to get this working. Thanks!

[2016-03-29 22:18] ask007java commented on #4233
+1

[2016-03-29 22:28] EladBezalel commented on #6815
@cadilhac after reading further in the spec, and specially quoting:

I will remove the force a links color and make `md.accent` available.

[2016-03-29 23:50] joeyperson opened #7792 "Be able to trigger validation errors on sequentially skipped fields"
This behavior is already in the Material spec as the preferred method in error patterns:
"Display incomplete form errors to indicate a user has skipped a field after they have advanced through a form."
from https://spec.googleplex.com/quantum/patterns/errors.html#errors-user-input-errors

Angular Material partially does this now as long as each field is focused and exited, but doesn't work when cl

[2016-03-30 00:15] ErinCoughlan opened #7794 "mdPanel: Add centering for absolute positioning."
I have the perfect screensize, so this has always worked for me!

[2016-03-30 00:27] scanspeak opened #7795 "Feature request for mdTabs/mdTab: async tab switching"
Right now the tab switching is synchronous, with mdOnDeselect and mdOnSelect evaluation for deselected and selected tabs respectively.

I think it would be useful to have an option of asynchronous switching, when the mdOnDeselect or/and mdOnSelect return a promise, which can be resolved or rejected. In case of rejection the switching is canceled. It's also nice to show a loading indicator while th

[2016-03-30 01:21] jexneedls opened #7796 "Layout issue in md-datepicker footer"
I'm getting layout issue with md-datepicker whenever the container of the md-datepicker exceeds the viewport (check number 1 on screenshot). But when the container is in the viewport issue doesnt occur (check number 2 on screenshot). So I'm thinking this has to do with the md-scroll-mask.

![md-datepicker](https://cloud.githubusercontent.com/assets/14348836/14129028/22c32d5c-f5f4-11e5-8987-097718e

[2016-03-30 01:35] JamesWangSaiBong opened #7797 "Checkbox not working properly"
Somehow, I can't toggle the checkbox directly in the following code. But when I click the anchor tag beside it which shares the same function, it's able to update the model binded to the checkbox, and update the view properly. This may just be a little mistake that I have done, but I am not sure as it had me wondering for hours already.

`<div layout="row" class="choices-list-header">
			<md-check

[2016-03-30 02:44] dongorous commented on #4233
+1

[2016-03-30 02:56] tstephansen commented on #7797
I had a similar issue and couldn't figure out a way to do it through code. I ended up calling the click method from the code. The code may not work as is (I tried to strip it out from a much larger function) but hopefully it will give you a good place to start. If I have time in the morning I'll make a plunker. Depending on how your code is written you may just be able to use a $timeout and make i

[2016-03-30 03:20] jayeshanandani commented on #7797
A demo link for this will be appreciated!

[2016-03-30 04:47] #5321 closed

[2016-03-30 04:47] #6259 closed

[2016-03-30 04:47] #7600 closed

[2016-03-30 04:47] #7713 closed

[2016-03-30 05:00] no-more commented on #4233
Hello,

I don't understand why this is planned only for 1.2.0 ? this seems to be one of the most requested feature, and I might be wrong but I don't think this would be so hard to implement (for guys like you - I'm not an expert I don't think I could do it myself sorry).

Personally I've been waiting for this feature(date picker) for almost a full year, and since it released I still can't use it b

[2016-03-30 05:56] leocaseiro commented on #2907
As @goelinsights  mentioned, the fix is on https://material.angularjs.org/latest/CSS/button#grouping-with-css-overrides

[2016-03-30 07:24] workfel commented on #5492
Waiting the issue solved override the class. And its good
[code]

[2016-03-30 07:53] DevVersion commented on #7787
Are you placing the checkbox inside of a list component?

[2016-03-30 08:38] Undrium commented on #6048
Created a plnkr, also realised this only occurs if you choose to send the scope with the mdDialog and preserve the scope.

http://plnkr.co/edit/8fgPvsNA5YDgKC9DDYKs

Just open up the dialog twice to reproduce the error.

[2016-03-30 08:50] rocksfort commented on #5417
This issue is really-really distressing, because it can prevent from developing and using Protractor integration tests on a whole project. We heavily rely on material, but cannot maintain our integration tests since we introduced material in the project.

I gave it a try and was able to get Protractor tests run _on my local machine_ by using `$interval` instead of `$timeout` in [the function](http

[2016-03-30 09:14] Phr33d0m commented on #7787
@DevVersion no. This is inside a big ```<form>``` and the sections are divided by
[code]

[2016-03-30 09:18] crisbeto commented on #7797
Without having seen this in action, I assume that what's happening is that the `ng-click` is executing and flipping the value, but the `ng-change` kicks in afterwards and flips the value back.

[2016-03-30 09:21] Phr33d0m commented on #7797
If I had to guess without testing it out - when you click on the checkbox, the ngModel toggles ```selectAll``` to ```true``` then ngChange fires up the ```selectAll()``` function and changes ```selectAll``` back to ```false```. If you fire up the anchor it works because it only calls the ```selectAll()``` function.

[2016-03-30 09:24] Phr33d0m commented on #7783
I believe this is intentional, as -rc states this is a release candidate, not a release itself. It should serve testing purposes only, thus it's not at the Google Hosted Libraries.

[2016-03-30 09:46] dlinx opened #7799 "Add feature to scroll paged tabs by swipe."
In current implementation, we can scroll through paged tabs using navigation buttons. It will be good if user can swipe and scroll through tabs. After swipe it scrolls full page but doesn't allow to scroll like a page.

[2016-03-30 09:54] cmacdonnacha opened #7800 "<md-autocomplete> does not contain a "clear" icon when "md-floating-label" attribute is used"
See [codepen](http://codepen.io/cmacdonnacha/pen/dMzZVZ?editors=1010)

The **md-autocomplete** component contains a "clear" icon once text is present. However, if the **md-floating-label** attribute label is applied the "clear" icon is not displayed.

![image](https://cloud.githubusercontent.com/assets/9777763/14138514/889a510c-f665-11e5-862a-665fc3685578.png)

[2016-03-30 09:54] DevVersion commented on #7774
@crisbeto Can you take a look? I recently switched back to Windows, so I'm not able to test that.

[2016-03-30 09:58] crisbeto commented on #7774
I'm on Windows as well. I tried it out on a VM that I have with OSX, but the Safari is kinda old and we don't seem to be supporting it.

[2016-03-30 10:01] DevVersion commented on #7774
@crisbeto Yes, I know that, I will test that later on my MacBook. Just tested with iOS and I can confirm, it behaves really odd.

[2016-03-30 10:13] ahmadio commented on #1054
+1

[2016-03-30 10:20] cmacdonnacha commented on #2802
I tried using the **autocomplete** component and it does display the "clear" button. However, I want to have "md-input" styling rather than the autocomplete styling without the floating label. I think there should be an attribute added to determine if the clear icon should be displayed for **md-input** components.

[2016-03-30 10:32] dongorous commented on #5335
I want my input field to be focused when i change "md-tab" or md-tab-selected

I tried also md-autofocus and md-autofocus="autofocus" on both the input itself and the md-input-container. None of the combinations worked.

[2016-03-30 11:46] Kratos-SA commented on #4717
do you have a codepen or fiddler with the promise set up? I have use promises before with odata but not like this.

[2016-03-30 12:00] bobmcallan commented on #6802
+1

[2016-03-30 12:04] mortware commented on #1668
+1

[2016-03-30 12:10] gkohen commented on #2907
It is true that it CAN be implemented using CSS overrides. I'm in firm
belief that it's a feature that should be implemented as an attribute in
the component itself rather than have "internal" knowledge of how the
component is styled. If the Angular Material changes in the future how the
component is styled, it will break the CSS overrides.

On Wed, Mar 30, 2016 at 1:56 AM Leo Caseiro <notificatio

[2016-03-30 12:15] jaGarcia commented on #7783
Hmm, 1.0.6 is missing as well so I wasn't sure but yeah, that makes sense.

Sent from my iPhone

[2016-03-30 12:19] Phr33d0m commented on #7783
Hmm true that. For the time being you could use [cdnjs](https://cdnjs.com/libraries/angular-material/1.1.0-rc1) which I switched quite sime time ago to.

[2016-03-30 13:18] Xenik007 commented on #4251
+1

[2016-03-30 13:20] XxDeadLiiNexX commented on #4408
@Derekjohnson277 thanks! but if i open the sidenav, the tabs overlay the menu sidenav. is already a solution available? greetings!

[2016-03-30 13:26] Derekjohnson277 commented on #4408
@XxDeadLiiNexX I beleive if you set the z-index of the sidenav parent element to be higher than the z-index of the tabs it should work.

[2016-03-30 13:29] biancarosa opened #7801 "<md-autocomplete> should propagate disable-validation-message="""
I have a `disable-validation-message=""` attribute in `<md-autocomplete>` that is not appearing the generated input:

`<input flex="" type="search" id="input-0" name="" ng-if="!floatingLabel" autocomplete="off" ng-required="$mdAutocompleteCtrl.isRequired" ng-disabled="$mdAutocompleteCtrl.isDisabled" ng-model="$mdAutocompleteCtrl.scope.searchText" ng-keydown="$mdAutocompleteCtrl.keydown($event)" ng

[2016-03-30 13:31] Bazys opened #7802 "md-autocomplete and mdDialog"
md-autocomplete `<md-not-found>` don`t hide when using mdDialog

<img width="912" alt="screen shot 2016-03-30 at 16 26 46" src="https://cloud.githubusercontent.com/assets/5006008/14143506/4e113346-f694-11e5-87fe-9c6eb0466438.png">

See [codepen](http://codepen.io/anon/pen/EKvQvB)

[2016-03-30 13:41] IcanDivideBy0 commented on #7356
@topherfangio here is a plunker https://plnkr.co/edit/i5NQFnHxhBAbaOFl6ISk?p=preview
As you can see, the animations are broken, and that's even worst when you invert the `md-fling` and `md-scale` of the parent and children.

[2016-03-30 14:03] gkorland commented on #2697
+1

[2016-03-30 14:03] marcomafessolli commented on #7764
I have a similar issue but with tabs, when it changes the tab tooltip keeps showing

[2016-03-30 14:28] blaise-io commented on #1376
I simplified the workaround:

[code]

[2016-03-30 14:29] brunoflegler commented on #3670
You can not instantiate the variable used in the ng-model, however the variable md-highlight-text should be excluded from the $scope. Example delete $scope.searchText;

[2016-03-30 14:31] S8nsick66 commented on #3287
+1

[2016-03-30 14:33] huseyinalp commented on #6048
@Undrium  we have same problem. Did you find any solution ?

[2016-03-30 14:37] mikila85 commented on #1376
Thx for sharing :)
..a non TypeScript ver for those who need it:

.directive('mdInputContainer', function ($timeout) {
			return function ($scope, element) {
				var ua = navigator.userAgent;
				if (ua.match(/chrome/i) && !ua.match(/edge/i)) {
					$timeout(function () {
						if (element[0].querySelector('input[type=password]:-webkit-autofill')) {
							element.addClass('md-input-has-value');

[2016-03-30 14:38] alexilyaev commented on #6798
@ThomasBurleson Having the same issue, here's the CodePen:
http://codepen.io/alexilyaev/pen/ZWJxvQ?editors=1010

I'm working on a laptop with DevTools open, and I've set `.position('top right')` and couldn't understand why it's not working. Already an hour into it, until I found this.

[2016-03-30 14:57] sbehun commented on #7767
I can confirm these issues occur using angular material 1.1.0-rc1 and angular 1.5.2.  Has anybody figured out a temporary work around?

[2016-03-30 15:10] jltrem commented on #7344
Here is a codepen for what appears to be the same issue:  http://codepen.io/jltrem/pen/RaZMde
Working in Chrome & FF.  Problem exists in IE 11.

Changing the date by typing into the input (e.g., from 3/30/2016 to 3/31/2016) $error.valid is set.  Selecting the same date from the picker works fine.  If I first clear the date so that $error.required is set and then type in a date, it is successful.

[2016-03-30 15:25] zoorsaaz commented on #4717
@Kratos-SA check this out

https://plnkr.co/edit/XiDx5yY2dY4ZvmqhhPaZ?p=preview

[2016-03-30 15:43] mckenzielong commented on #7801
Could be slightly related to https://github.com/angular/material/issues/6544? I had to implement custom autocomplete validation messages recently, and it was not a fun experience.

[2016-03-30 16:47] #7502 closed

[2016-03-30 16:47] #2153 closed

[2016-03-30 16:47] #6907 closed

[2016-03-30 16:51] crisbeto commented on #7774
The textarea behaves fine, but for some reason that button "sinks" into it:

![img_0098](https://cloud.githubusercontent.com/assets/4450522/14150249/7293b540-f6a8-11e5-8da6-0a250a4e35a3.PNG)

[2016-03-30 17:04] #7537 closed

[2016-03-30 17:04] #5507 closed

[2016-03-30 17:04] #7180 closed

[2016-03-30 17:04] #7190 closed

[2016-03-30 17:10] jjsub opened #7805 "md-select( multiple ) add custom deselected all in md-select-menu-container"
Can we add the ability to deselect all selected options except for a specific option when that specific option is select? thanks

[2016-03-30 17:14] #2759 closed

[2016-03-30 17:14] #7243 closed

[2016-03-30 17:14] #7500 closed

[2016-03-30 17:14] #7552 closed

[2016-03-30 17:14] #7333 closed

[2016-03-30 17:14] #7740 closed

[2016-03-30 17:14] #7786 closed

[2016-03-30 17:18] Sarpedion opened #7806 "Text overlaps with md-select"
After clearing selection in md-select, by selecting null value, floating text remains and overlaps with label.

Quick codepen:
http://codepen.io/Sarpedion/pen/VazXQQ

[2016-03-30 17:20] jayeshanandani commented on #7806
I believe there is some issue for this already opened somewhere.

[2016-03-30 17:23] jayeshanandani commented on #7806
I think this is similar to #7398 and seems to be fixed in master.

[2016-03-30 17:26] Sarpedion commented on #7806
That is correct, thank you for sharing. Closing issue.

[2016-03-30 17:26] #7806 closed

[2016-03-30 17:36] #7074 closed

[2016-03-30 17:38] #1912 closed

[2016-03-30 17:38] XxDeadLiiNexX commented on #4408
hej @Derekjohnson277  thanks for answerin! i have do that, but if i maximaze the screen from mobile view to desktop, the sidenav is for the tabs. The sidenav ignores the tabs, and they are stretched at the background. is there no offical solution for this issue? i found no right answer at every post.

Thanks!

[2016-03-30 17:39] #7384 closed

[2016-03-30 17:39] #7773 closed

[2016-03-30 17:39] DevVersion commented on #1912
SHA 2776ad29a3323bc7f8da7309d2bf6e1014b462cb

[2016-03-30 17:42] maenthoven commented on #3990
+1

[2016-03-30 17:43] Derekjohnson277 commented on #4408
@XxDeadLiiNexX Yeah no problem! As far as I know there isn't any official solution for this.... This is just a workaround that I found that work for my needs, hopefully you can figure something out!

[2016-03-30 17:49] XxDeadLiiNexX commented on #4408
ok thanks @Derekjohnson277 theres a codepen (not from me): http://codepen.io/kyleledbetter/pen/gbQOaV
In this coepen project the tabs fixed, did you now why? its an older css version, maybe thats the reason! Greeds

[2016-03-30 18:05] iainreid820 commented on #6108
This is something that I'm pretty keen on as well, I have a potential solution in mind that I could contribute to make this possible. What's the traction behind this feature at the moment?

[2016-03-30 18:18] asureshhegde commented on #6909
I'm still facing the same issue nothing working for me
Can I know the fix for this? or do I need to make any changes?
Thank you

[2016-03-30 18:36] crisbeto commented on #7370
I've put in a PR for the ability to specify a custom class on the input. As for the note from @mathiasconradt, I'd say the current [autocomplete style matches the spec](https://www.google.com/design/spec/components/text-fields.html#text-fields-auto-complete-text-field).

[2016-03-30 19:25] #7518 closed

[2016-03-30 19:25] #7636 closed

[2016-03-30 19:29] JamesWangSaiBong commented on #7797
@Phr33d0m I'm not sure if that's the case. Since ng-model refers to allSelected, which is simply a boolean, I am unsure where the double-firing would come from.

@jayeshanandani I will create a fiddle/plunkr for this later when I have more time because I somehow got it working again after adding more stuff to my controller. I am not 100% sure why it didn't work before, and why it is working now, s

[2016-03-30 19:32] jayeshanandani commented on #7273
I believe #7646 has been merged and it should resolve this. Hence closing issue.

[2016-03-30 19:32] #7273 closed

[2016-03-30 19:46] #7172 closed

[2016-03-30 20:04] Kratos-SA commented on #4717
I ran that fiddle and the original code and neither works at all. I am running 1.0.5 or angular material.

[2016-03-30 20:50] zbroman commented on #6150
+1 for icons

[2016-03-30 22:38] nkeeslin commented on #7626
I just re-tested it using 1.1.0-rc1 with the same results.  I'm using Chrome version 49.0.2623.87 (64-bit)

[2016-03-30 22:52] leocaseiro commented on #2907
I agree with you.

I'm starting a component mg-button-group that would work easily with CSS only:

[code]

[code]

PS: It's not perfect yet, but can be used to someone as temporary solution.

[2016-03-30 23:38] tstephansen commented on #7797
This is what I was talking about. It probably (99% sure it isn't) the best way to do this but it works in my case. [example](https://github.com/tstephansen/md-checkbox-Example)

[2016-03-31 02:26] tomrainedotcom commented on #1754
@rishabhmhjn I am having the same problem using material 0.11.x have you worked this out yet?

[2016-03-31 04:06] code-tree commented on #6487
I display a toast when a bottom toolbar button is pressed, and on small screens the toast appears over the button that was just pressed, preventing further use of the toolbar until the toast disappears.

I understand we are to follow the spec here, but could you suggest an alternative? As it seems like a bit of an oversight (in the spec)...

[2016-03-31 04:23] noilly opened #7812 "Docs examples available locally"
I know this is obvious, however the CodePen examples are not available when viewing the docs offline, i.e., viewing a local build of the docs without a connection to the Internet.

I am having to write code offline and somehow being able to have access to these examples within the context of the docs would be very useful.

[2016-03-31 04:41] ThomasBurleson commented on #7812
You can easily do this with a local clone of this repository `angular/material`:

[code]

Then open a web page to `http://localhost:8080`

[2016-03-31 04:41] #7812 closed

[2016-03-31 05:00] rishabhmhjn commented on #1754
@tomrainedotcom I haven't fixed it yet!

[2016-03-31 05:03] #7610 closed

[2016-03-31 05:41] code-tree commented on #6260
This was very confusing... thanks for working on it. Please apply the fix, as I can confirm it works.

[2016-03-31 06:39] vshanbha commented on #3287
@S8nsick66 , @lakstap Have you checked the comment from @jinyangzhen . Quoting it here. _"in my case, the dropdown of md-autocomplete is gone after the state transition. I have to asyn the $state.go in timeout block in order to workaround this issue."_
Hope this helps.

[2016-03-31 06:47] vshanbha commented on #7634
@colmben I see you have referenced #3287 here. However #3287 seems to be closed and a lot of comments there are about the issue that you have detailed indicating that likely it is a separate issue. There are comments there citing this issue even in release 1.0.6. I see that the codepen uses the release candidate (1.1.0 RC1) meaning that the problem still exists and therefore I think it merits bein

[2016-03-31 07:06] david-gang commented on #7540
Hi all,

When i set app.constant('$MD_THEME_CSS', ''); the performance is much better but than i am without theming :-)

Even afterwards the performance in ie is not too great, so i think that there are additional css bottlenecks in the non theming css as well.

Thanks,
David

[2016-03-31 07:24] S8nsick66 commented on #3287
Thank you @vshanbha, that works.

[code]

This was my first attempt, it works too.

[code]

[2016-03-31 08:53] baj84 commented on #4233
+1

[2016-03-31 09:20] mhansen commented on #7610
Has that fix been tested by running it thru the closure compiler? I thought
the closure compiler only interpreted jsdoc annotations - starting with two
stars (/** */), though I may be wrong on this.

On Thu, 31 Mar 2016, 12:04 Kristiyan Kostadinov, <notifications@github.com>
wrote:

[2016-03-31 09:24] tklepzig commented on #4356
+1

[2016-03-31 09:24] kniaz commented on #2727
+1

[2016-03-31 09:28] crisbeto commented on #7610
I think your changes got merged. We determined that the changes I did in #7744 aren't necessary.

[2016-03-31 09:33] Undrium commented on #6048
@huseyinalp You can probably get around this not using scope, however it would look really ugly if you are dependant of content from scope.

[2016-03-31 09:36] korrix commented on #5663
+1

[2016-03-31 09:56] roy46 commented on #3027
In order to remove the flash of the backdrop. I used a variable for each attribute.

[code]

[code]

This also allows you to control if the sidenav is open once the screen size is changed. I personally expect the sidenav to disappear and not to become an overlay if the screen size hits the lower size.

[code]

Tested with v1.0.5.

[2016-03-31 10:30] jpolo commented on #3441
Similar problem for me
[code]

It raises a warning although the aria-label was set. MD might check too early the presence of aria-label and does not allow any other directive to set it...

[2016-03-31 11:05] srokatonie commented on #6952
Not fixed on Chrome 49 neither...

[2016-03-31 11:13] vijj commented on #7746
official materialDesign website seems like nothing there is no icons on that
![ss](https://cloud.githubusercontent.com/assets/14217225/14174072/b2dd43f2-f75f-11e5-86b5-13141c5f5e04.png)

[2016-03-31 11:17] Nikki1993 commented on #7746
Everything works just fine here on Google chrome 49. Update it to latest version.

[2016-03-31 11:29] kapil-kharade opened #7813 "Md-Autocomplete: How to update autocomplete textbox value based on the selection from dropdown?"
I am able to achieve that by manually updating the model value which is bind to md-search-text, but that will trigger the autocomplete request again. Any inputs?

[2016-03-31 11:30] ArtemEkzarho opened #7814 "When a control element is open, clicking on another element should open it immediately"
Currently there is an additional click needed to close the first element, and only then the second element is clickable. Example: open the menu on the current page and then click on the other menu.

[2016-03-31 12:41] michelem09 opened #7815 "mdSelect and ngRequired don't show error with submit button"
If you have a submit button and you try to submit a form with a `md-select` required it doesn't show the error.

http://plnkr.co/edit/iLYAHM55U1SRhxHNe7au?p=preview

[2016-03-31 13:09] zoorsaaz commented on #4717
Well key is to use md-on-open on md-select, and your method you are calling in md-on-open should return a promise i.e. return deferred.promise.

If it still doesn't work then you can post a plnkr/fiddler and we can look at the code.

Good luck

[2016-03-31 13:11] ali4ever4 commented on #2886
+1

[2016-03-31 13:50] HendrikWansing opened #7816 "md-autocomplete translateY issue in Firefox"
Hello,

we have an issue with the md-autocomplete / md-virtual-repeat in Firefox.
The issue is reproduceable in the demo:
https://material.angularjs.org/latest/demo/autocomplete (Basic Usage).

Steps to reproduce it:
1. Open a md-autocomplete
2. Scroll to the bottom of the md-virtual-repeat
3. Close and open md-autocomplete a few times till the md-virtual-repeat is blank.

It happens that the valu

[2016-03-31 13:52] julienmartin commented on #2492
+1

[2016-03-31 13:55] AnkitGupta88 commented on #6489
Same problem. For a while it shows last response.

[2016-03-31 14:38] ogaihtorecic commented on #1983
In your clearForm function:

`$timeout(function() {
   model.field = "";
}, 30);`

Worked for me.

[2016-03-31 14:56] DevVersion commented on #6633
@csvn Thanks for the great demo. I know I've fixed that a long time ago, but I've discarded those changes, because the fix can be more elegant.

So the fix will be deployed in the future / soon.

Additionally, I will close that issue, because we already have a previous filed issue for that. #4822

[2016-03-31 14:56] #6633 closed

[2016-03-31 15:01] DevVersion commented on #7571
@topherfangio Just wen't through this issue again. And the `highlight` directive works well, if you wan't to match all items, then you should use the `g` ( globlal ) flag as @topherfangio mentioned.

Here is the flag documentation for the directive:
- https://material.angularjs.org/HEAD/api/directive/mdHighlightText

If I missed something, please let me know, and I'll reopen.

[2016-03-31 15:01] #7571 closed

[2016-03-31 15:04] DevVersion commented on #7478
Not an issue, you need to specify the `options.targetEvent` or `options.origin`

Here is the code snippet: [Here](https://github.com/angular/material/blob/master/src/components/dialog/dialog.js#L709)

[2016-03-31 15:04] #7478 closed

[2016-03-31 15:36] ad0ran commented on #6399
+1

[2016-03-31 16:42] montgomery1944 commented on #7815
Duplicate of https://github.com/angular/material/issues/7767.

[2016-03-31 16:56] sinoohe commented on #932
Same problem here!! it took 4 hours working on it and still doesn't work.
The solution that I got is that I scroll manually to top of the page before calling $mdDialog
      $anchorScroll.yOffset=0;
      $anchorScroll();

I tried every solution that is here, not working. I think maybe somethings wrong with angular material design.

[2016-03-31 17:12] montgomery1944 commented on #7767
I will start working on PR for those issues.

[2016-03-31 17:13] crisbeto commented on #7816
I could reproduce it as well, seems pretty weird.

[2016-03-31 17:23] nkeeslin opened #7819 "mdMenu: Cannot read property 'open' of null"
On mdMenu, if you have a sub menu and another item that doesn't have a submenu in the same menu. If you open the subMenu and then hover over the non-subMenu item it throws the error "Cannot read property 'open' of null" and remains highlighted even after hovering over a different menu item

angular material version: 1.1.0-rc1
browser: chrome 49.0.2623.87

I also tested this on the demo page for th

[2016-03-31 17:50] crisbeto commented on #7819
I couldn't reproduce it, could you give a little bit more detail about what you're clicking and hovering etc.

[2016-03-31 17:50] manish2535 opened #7820 "Black Artifacts showing after Tabs animation on Firefox"
Have a look at this gif - (https://material.angularjs.org/latest/demo/tabs). Only happening on Firefox. I am using V43.

![1](https://cloud.githubusercontent.com/assets/4663798/14185229/00c746bc-f747-11e5-933e-75b7aa3f8391.gif)

I experienced this on my website and thought I would try on the demo site. I got the same result. Black blocks appear out of no where at random positions after the animati

[2016-03-31 17:51] manish2535 commented on #7820
NVM, I just updated Firefox to V44(latest) and the problem is gone. Still, this might help some people experiencing the same issue.

[2016-03-31 17:58] clshortfuse commented on #4033
@skosno I make a PR with these changes. If the browser supports MutationObserver, it'll create a watcher for md-visible while md-direction will be changed immediately. The reason is that md-direction is a raw value while md-visible can take a javascript object.

[2016-03-31 17:59] nkeeslin commented on #7819
Go to the demo at https://material.angularjs.org/1.1.0-rc2/demo/menuBar

Open the File Menu.  Hover over the "New" menu until it opens.  Then hover over the "Open..." menu item.  If you have your developer console open you should see TypeError: Cannot read property 'open' of null.  Then if you try to go back and hover over something else, the "Open..." menu item ill remain highlighted until you cl

[2016-03-31 18:01] #7820 closed

[2016-03-31 18:03] crisbeto commented on #7819
Thanks, now I got it. I'll take a look at it a little bit later.

[2016-03-31 18:03] stunaz opened #7823 "ngMessagesInclude not animated"
`ng-message` which are within `ng-messages-include` don't get the class 'md-input-messages-animation'.

ie this does not work well :
[code]

where errors-message.html contains:
[code]

[2016-03-31 18:41] manish2535 opened #7824 "Md-menu icons alignment problem in Firefox"
![1](https://cloud.githubusercontent.com/assets/4663798/14186865/749fa7ee-f74e-11e5-99a2-e346ca837466.JPG)

In Firefox the icons in md-menu is not aligned properly.

**fix:**
[code]

[2016-03-31 19:10] smurugavel commented on #2492
+1

[2016-03-31 19:11] jeshc commented on #5313
+1

[2016-03-31 22:29] vbanuelos commented on #3200
+1

[2016-03-31 23:10] nkoterba commented on #6952
Here's a codepen:
http://codepen.io/anon/pen/bpoVzy

View in safari and firefox.  The top and bottom divs should be the same HEIGHT.  They are.

In my latest Chrome (Version 49.0.2623.110 (64-bit) - Mac OSX) the divs are different heights.  I'm including screen shots here.

What's very odd is the CONTENT inside of the flex'd `div`s actually affects the layout/rendering of the parents.  I've never

[2016-03-31 23:36] ilovett opened #7827 "anchor uses incorrect accent color if using `setDefaultTheme('custom-theme')`"
Defining `accentPalette` directly on the default theme will work:
[code]
However attempting to set the default theme to a custom one will not carry the changes over:
[code]
In particular, anchor tags use the accent color which will be green only using the first method.
[code]
Additionally, setting `<a href="#" md-theme="custom-theme">derp</a>` does not add the corresponding theme class name to the

[2016-04-01 00:06] InvDeath commented on #945
Why we can't use common approach with max-width by breakpoints?
Or percents instead of fixed size (bay particular gap) is right (better) way and I don't understand yet?
I see grid here http://www.google.com/design/spec/layout/responsive-ui.html#responsive-ui-surface-behaviors .
Is related size better then fixed by screen?

[2016-04-01 00:08] RolandHeath commented on #7626
I think I've worked out the missing piece - you have to hover and return to the original item faster than the close animation, in order for this to occur. Which is why I was originally not seeing this.

So, to repro (1.1.0-rc2, chrome 48-ish):
1. Click a top level menu item.
2. Hover a neighbouring top level menu item, then quickly (before the open animation ends, I think) move back to the first o

[2016-04-01 00:24] ThomasBurleson commented on #945
@InvDeath - Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-04-01 01:47] bayucandra opened #7828 "mdautocomplete searchText model always trimed"
Hi, i wonder why when i get value from searchText model at mdAutoComplete always trimmed. Actually i need untrimmed value for programmatically check if user type space at the end of input field with ng-keyup directive
Can i get untrimmed value of searchText?

[2016-04-01 02:27] stunaz opened #7829 "Images not visible in card"
The images are not show in md-card
You can see that in the demo https://material.angularjs.org/1.1.0-rc2/demo/card
Works in 1.0.6 not in 1.1.0-rc2

[2016-04-01 02:38] noilly commented on #7812
@ThomasBurleson When I first tried viewing the CodePen examples through the installed docs, none of them were showing. Just tried again, and they're showing. Thanks!

[2016-04-01 04:04] kevinlbatchelor commented on #4810
This is still an issue. if required is added to a date picker input, then the form should not be valid for example you should be able to to a form check like this:

`<form name="register" ng-submit="register.$valid && registerCtrl.register(registerCtrl.user)">`

The date picker style should show a red line like the md input fields do when a form submit fails.

[2016-04-01 04:06] kevinlbatchelor commented on #4810
And this is possible I've done it many times with my own custom forms directives. the date styles for invalid and failed submit should match an input inside of md-input-container.

[2016-04-01 04:12] kevinlbatchelor commented on #1843
The problem here is that an invalid ie, un-select box doesn't prevent form submission.

[2016-04-01 05:30] hamsaya opened #7832 "Massive performance issue using with IE 11"
The issue is how the angular-material.css file renders the elements on the page. Here is a demo of what I am talking about:

Chrome and firefox work fine.. IE is the issue..

I have updated to the latest of angular material still no luck ...

http://codepen.io/hamsaya/pen/KzXzEG

This is has a massive impact on the usage of angular material.

[2016-04-01 05:42] clshortfuse commented on #7832
I can't reproduce it. Can you try removing the md-tooltip to see if the performance improves? There are two watchers per md-tooltip which could negatively affect performance.

[2016-04-01 06:58] hamsaya commented on #7832
I tried it in several I.E. Browsers without a luck. Di you try I.E.? I can provide a video demo if needed.

I will try to remove the tooltips later and see if any performance changes occure...

[2016-04-01 07:45] crisbeto commented on #7832
I tried it out with IE11, but didn't see anything out of order.

[2016-04-01 08:20] DevVersion commented on #7829
Duplicate of #7692

[2016-04-01 08:20] #7829 closed

[2016-04-01 08:20] #7815 closed

[2016-04-01 08:38] armangevorgyan opened #7833 "md-selected-item-change"
when i select item first time then nothing happens. second time item selected.
i want call function when click one on item in list

[2016-04-01 08:39] alvin97231 commented on #7205
I have already change my filter way. I haven't code of this issue. I think that this issue is result of put datepicker in a <th> cell of a table.

[2016-04-01 09:11] christianpanea opened #7834 "md-tooltip alignment issue"
here is my code:

[code]

![animation](https://cloud.githubusercontent.com/assets/13203612/14202817/d726db80-f802-11e5-97fa-3161c1e97254.gif)

[2016-04-01 09:13] DevVersion commented on #7828
Duplicate of #7140 and related to #4492

[2016-04-01 09:13] #7828 closed

[2016-04-01 10:11] #7834 closed

[2016-04-01 10:34] michelem09 commented on #7767
Probably there is the same issue in `md-checkbox` too: http://plnkr.co/edit/iLYAHM55U1SRhxHNe7au

[2016-04-01 10:40] aresn opened #7835 "remove attribute layout css from modules/js/core/core.css"
Please remove attribute layout css from "modules/js/core/core.css" or at least replace them with class layout css "angular-material.layout-attributes.css".

Also please update "modules/css/angular-material-layouts.css" to latest version. Build process does not update files under modules/css.

[2016-04-01 12:00] DevVersion commented on #7767
@montgomery1944 How do you plan to fix this? The input component prevents the from submit by the browser defaults. `Select` and `Checkbox` are custom elements.

Basically the form, can be submitted through:
[code]

[2016-04-01 12:15] luukdv commented on #2636
@robertmesserle Do you have enough information or should I open a new issue for this?

[2016-04-01 12:20] hamsaya commented on #7832
Try moving between tabs using IE then try it with Chrome or Firefox... you will see the difference.. Now  you could add more  list item (and my original code is more complex) and then IE will break but chrome will render it just fine.

[2016-04-01 12:31] artemjackson opened #7836 "md-autocomplete md-menu-class does not change width of menu list"
I'd like to have `md-autocomple` input of width 200px and dropdown menu of width 400px
Addition of `md-menu-class` does not solve the problem.
Codepan eample(first exmple from https://material.angularjs.org/latest/demo/autocomplete with just `md-menu-class` added):
http://codepen.io/anon/pen/dMVNvW

How should I do that in the right way?

[2016-04-01 12:32] hamsaya commented on #7832
Here is a youtube video with page reload and tab navigation: https://www.youtube.com/watch?v=C0128pKFrq8

[2016-04-01 12:36] crisbeto commented on #7832
Alright, now I get it. I was clicking around last time. Chrome should defiinitely be faster than IE, but this is waaay too slow.

[2016-04-01 13:10] jsr6720 opened #7837 "md-switch ripple turns on when window gets focus"
Browser Chrome Canary: Version 51.0.2696.0 canary (64-bit)
Manufacturer............Hewlett-Packard
Model...................HP EliteDesk 800 G1 SFF
OS Version..............Windows 7

Steps to reproduce:
1. Open two chrome windows side by side.
2. Go to https://material.angularjs.org/latest/demo/switch in one of them
3. Click on any enabled switch element (must be switch, not associated label)
4. Cl

[2016-04-01 13:28] reinos opened #7838 "md-tabs in combination with flex and md-dynamic-height"
Currently we have the following structure.

a row with 2 boxes.

![structure](https://cloud.githubusercontent.com/assets/633730/14207814/ae96e75e-f81c-11e5-85da-3dc57dcec7fc.png)

in the second box, there is a tab with different content so also with different heights. What we want is that the tab content is vertical stretching. So we add some flex on the tabs

[code]

This works great when the fir

[2016-04-01 13:32] hamsaya commented on #7832
Just did quick check on watch and digest
Watch Count: 196
Digest Cycle Length: 5.54

[2016-04-01 13:40] Kasahs opened #7839 "md-autocomplete validation > md-input-message-animation not being added to ng-message"
This leads to incorrect styling.

[2016-04-01 13:40] crisbeto commented on #7832
Seems like CSS issue, rather than one with Angular. I believe it could be related to https://github.com/angular/material/issues/7540

[2016-04-01 13:45] DevVersion commented on #7837
This is actually not an issue, the focus on the switch is just restored by the browsers behavior.

[2016-04-01 13:57] lordfuoco opened #7840 "md-select: docs error on multiple attribute"
In the docs it's reported that the attribute to add to achieve multiple item selection is multiple.

While adding multiple trigger the behaviour the correct attribute to add is ng-multiple, that support  a boolean to be configured. Also inspecting the code it result that the code is checking for ng-multiple. and adding the attribute multiple when needed.

Line 338 of select.js ( 1.0.6 )

`attr.$ob

[2016-04-01 14:12] gpopovic commented on #7839
Duplicate #7477

[2016-04-01 14:14] hamsaya commented on #7377
I just posted this #7832  could be related.

[2016-04-01 14:24] hamsaya commented on #7832
@crisbeto that is what I suspected ...

[2016-04-01 14:30] sdebionne commented on #7832
If you switch back to 1.0.5 in your code pen, IE gets back on track. I don't know if 1.1 is far from release but it may be worth to consider a 1.0.7 with just the fix for IE (that is already in 1.1rc1)...

[2016-04-01 14:55] #7205 closed

[2016-04-01 15:10] edgarchinchilla commented on #2704
+1

[2016-04-01 15:18] vikasgulati commented on #3990
`type="submit"` worked for me on Mac OSX (Chrome).

[2016-04-01 16:49] crisbeto commented on #7832
@hamsaya I'm not sure how it was in 1.0.5, but it's much better in 1.1.0-rc2. Here's a fork of your fiddle: http://codepen.io/crisbeto/pen/eZGWVQ. It still has a bit of stutter, but it's better than 1.0.6.

[2016-04-01 16:51] hamsaya commented on #7832
@crisbeto  since 1.1 is in RC I did not try it... 1.0.5 looks good too...

[2016-04-01 17:02] calebegg opened #7841 "Grey background for disabled md-autocomplete"
Disabled md-autocomplete instances with the default theme and with md-floating-label have a weird gray background:

http://codepen.io/calebegg/pen/yOzXYw

![image](https://cloud.githubusercontent.com/assets/782920/14214240/f703a0bc-f809-11e5-9aac-bb97517adea1.png)

[2016-04-01 17:29] crisbeto commented on #7841
Should be a quick fix, I'll take care of it.

[2016-04-01 17:35] dreamsfrag commented on #6559
Me too, even of 1.1.0 rc2, mb-tabs breaks the ripple effect on the buttons. Only Chrome not working. Anyone resolve this issue ?

[2016-04-01 17:40] hamsaya commented on #7832
@crisbeto are we going to expect this be completely fixed in 1.1.0?

[2016-04-01 17:51] crisbeto commented on #7832
I can't guarantee anything, but I'll be looking into the stutter that happens the first time you switch tabs. As for the major lag that was being seen in 1.0.6, as I understand it, it made it into the release by accident so it should be removed in 1.1.0.

[2016-04-01 18:32] #7703 closed

[2016-04-01 18:32] #7701 closed

[2016-04-01 18:33] #7702 closed

[2016-04-01 19:05] trainerbill commented on #2878
@ThomasBurleson I was trying the exact procedure to switch the the theme on mdToast and its not working for me either.  Using 1.0.6.  The theme I am using is "success" and its registered:

![image](https://cloud.githubusercontent.com/assets/3578259/14217170/14131bda-f812-11e5-9471-eb1ede104fd7.png)

The docs seem to say that it should work.  Will this be fixed in 1.0.6 or 1.1.0?

[2016-04-01 19:44] pierrybos commented on #5669
+1

[2016-04-01 19:55] trainerbill opened #7846 "mdComponentRegistry only allow one .when"
https://github.com/angular/material/blob/master/src/core/services/registry/componentRegistry.js#L105

Not sure if this is intended or not but I have multiple places where I need to wait for a component.  It would be nice if .when would push the promise onto an array and resolve them all when the instance is ready.  If this is intended what is your recommendation?  I would rather not create a servi

[2016-04-01 20:20] trainerbill commented on #7846
https://github.com/angular/material/pull/7847

[2016-04-01 21:05] datenwort commented on #4233
+1

[2016-04-01 21:36] rvarbanov opened #7850 "mdDatepicker not updating ngModel $error when input updated with invalid date"
Here is my CodePen demoing the issue:
[http://codepen.io/radi/pen/RaLLoW](http://codepen.io/radi/pen/RaLLoW)

When trying to use mdDatepicker with ngMessagess, you cannot really depend on it to show that the input date is invalid. `ng-message="valid"` will not always trigger if you input invalid date.

[2016-04-02 00:47] amritk commented on #4801
@ThomasBurleson can confirm that this is definitely still broken.

Angular 1.5.3
Angular Material 1.0.7

http://codepen.io/anon/pen/MyEOVW

[2016-04-02 09:08] code-tree commented on #907
This sounds related to the drag support that is happening with the sidenav (#6174). Perhaps the same sort of implementation could be carried over to md-tabs as well?

[2016-04-02 09:17] code-tree opened #7855 "Swipe not sensitive enough"
I've found the `minVelocity` setting (0.65) for swipe gesture to not be sensitive enough. I'm currently trying out a setting of 0.3, which feels much more natural. Could swipe sensitivity be increased, or at least made configurable?

e.g. `md-swipe-content="3"` taking into account both minVelocity & minDistance

[2016-04-02 09:22] code-tree commented on #907
@nvcken

This is probably due to the sensitivity, which I've just opened an issue for (#7855)

[2016-04-02 09:54] DevVersion opened #7856 "gesture: android browsers touchmove"
I wanted to start a discussion for the gestures touchmove event.

At first, Android browsers are only triggering the `touchmove` event once.
- This is weird, because for the drag gesture, we need as many `touchmove` events as possible.

This can be easily solved, by canceling the `touchmove` event (`e.preventDefault()`)

So everything works very well, except for iOS, because iOS Browsers are disab

[2016-04-02 10:25] Nextt1 commented on #4636
Is there any solution to this bug ?? @altsel 's solution in not working for me.

[2016-04-02 12:23] crisbeto commented on #7855
I'd say it makes sense to have it configurable.

[2016-04-02 12:46] dalu commented on #3420
what could be an alternative?
an always open menu?
is there an alternative currently?

[2016-04-02 13:26] DevVersion commented on #7856
Closing this for now, because there is no need for a discussion anymore.

Continuing with #7311

[2016-04-02 13:26] #7856 closed

[2016-04-02 13:28] DevVersion commented on #7311
@gustavohenke Just wanted to let you know, this issue issue is in progress.

[2016-04-02 14:03] DevVersion commented on #907
I already built a *drag* functionality for tabs, but this was some months ago. It is really hard to calculate the correct transformations for two tab contents.

Once you've finished the general drag behavior, many problems will appear, with static tabs and dynamic tabs etc.

[2016-04-02 21:05] Schlesiger commented on #1269
+1

[2016-04-03 01:23] kevinlbatchelor commented on #6393
+1

[2016-04-03 01:48] kevinlbatchelor opened #7858 "Required dose not work with md-datepicker"
You should be able add the required attribute to the md-datepicker and have it be  a required field for a form.  This means that:
1. If you click into the field, do not click a date, and click out you should get some styles indicting the fields is dirty, like a red line.

2. If the field has not been set, then the form should be $invalid and not be submit able

In the plunker example I should not

[2016-04-03 01:55] Kjuib commented on #7858
+1
md-datepicker should be completely interchangable with an input element.
Be able to be put into a md-input-container and have a label.

[2016-04-03 02:11] MasterRam commented on #6393
Thanks It is working fine....:)
On Apr 3, 2016 6:54 AM, "kevinlbatchelor" <notifications@github.com> wrote:

[2016-04-03 06:24] AashishkKrishna commented on #4251
+1

[2016-04-03 08:55] DevVersion commented on #6505
@EladBezalel @topherfangio The correct character of the event can be easily retrieved by a `keypress` event. Using the following snippet.
[code]

`keypress` should be fine to be replaced with `keydown`.
eg. If you press <kbd>Shift</kbd> + <kbd>A</kbd>, you'll get:

- `keydown`: <kbd>Shift</kbd>
- `keydown`: <kbd>A</kbd>
- `keypress`: Char: <kbd>A</kbd> (if no Shift, it would be <kbd>a</kbd>)
- `ke

[2016-04-03 09:22] DevVersion commented on #7241
@crisbeto I agree, that would be a elegant solution, but it would also interfere with the actual method name. `textContent` expects to have a plain text string.

I suggest, introducing another option. `htmlContent`, as same as in `$mdDialog`.

What do you think? @EladBezalel @ThomasBurleson

[2016-04-03 09:47] stephengardner opened #7859 "Margin problem with md-input-container inside a row, followed by md-input-container outside the row"
When putting `md-input-container` inside a `div layout="row"` followed by a `md-input-container` outside of that row, the margins are doubled due to the `div layout="row"`.  Is there a documented class based structure for having some `md-input-container`s inside a `div layout='row'` and some outside the row?

The spacing issue is even seen in the docs.

[2016-04-03 09:55] DevVersion commented on #7599
References #7558

[2016-04-03 10:22] homerjam commented on #5336
+1

[2016-04-03 11:50] DevVersion commented on #7800
This is currently by intention. (See [here](https://github.com/angular/material/blob/master/src/components/autocomplete/js/autocompleteDirective.js#L259-L290)).

I think was removed from floating label autocomplete's, because they should look like normal inputs.

[2016-04-03 11:51] DevVersion commented on #7799
@dlinx Sorry, I didn't get your actual issue. Are you requesting `swipe` or `drag` support?

- `swipe` is currently available.

[2016-04-03 12:08] DevVersion commented on #7788
I just filtered for all variables, which are not set with `!default`.

- `$font-size:   10px;`
- `$button-left-right-padding: rem(0.600);`
- `$app-bar-height: 64px;`
- `$shadow-key-umbra-opacity:      0.2;`
- `$shadow-key-penumbra-opacity:   0.14;`
- `$shadow-ambient-shadow-opacity: 0.12;`
- `$autocomplete-option-height: 48px;`
- `$button-icon-border-radius: $button-fab-border-radius;`
- `$md-cale

[2016-04-03 13:48] homerjam commented on #5336
I made a directive which can be added to the chip template to add drag/drop reordering, it could do with some refining but in case it's useful to anyone [here it is](https://gist.github.com/homerjam/aec5bb1c68a3bfb0ae95c1b83344a4cf).

[2016-04-03 19:01] kevin-barrientos commented on #1837
+1

[2016-04-03 19:17] mbeauchamp7 commented on #1106
+1

[2016-04-03 21:50] sweatherall opened #7863 "md-select does not display dropdown even though DOM elements are present; causes page to freeze"
I recently upgraded to Angular Material version 1.0.6 and my md-selects no longer work.

The md-option DOM elements are present, but when I click on the dropdown nothing appears and the page actually partially freezes up. There is no console error thrown. When I switch from md-select/md-option to a regular select/option the select dropdown works.

Here is some sample code I am using:

[code]

and

[2016-04-03 22:25] podoler commented on #2704
+1

[2016-04-03 22:45] #7599 closed

[2016-04-03 22:45] #7788 closed

[2016-04-03 22:45] #7819 closed

[2016-04-03 22:45] #7841 closed

[2016-04-03 22:45] #7133 closed

[2016-04-03 23:00] regisaih commented on #4251
+1

[2016-04-04 03:02] biancarosa commented on #7801
I am not sure if it's related. Seems like a different issue to me.

The field is being validated correctly (I am using `jcs-autovalidate`) and the proper message is showing up, but I wanna disable it and the property `disable-validation-message=""` should be carried along to the input in order to do so.

[2016-04-04 05:22] hsiri commented on #4239
hello. i have tried adding $event.stopPropagation(); but still it does not stops the keydown event in the md-select. you have idea on this?

[2016-04-04 05:38] tenshiAMD commented on #7827
+1

[2016-04-04 06:10] adam-s commented on #1716
+1

[2016-04-04 06:36] tenshiAMD opened #7865 "mdSelect: values overlap and have no ellipses"
md-select with multiple values cause overlaps and have no ellipses when selected items are too many for the md-input-container

The issue is the in the selection of items in the md-select does not have an ellipses and causes to overlap the next md-select on the left of the first md-select; md-select keeps growing and growing after adding another item.

The example of the issue can be viewed in thi

[2016-04-04 06:43] tenshiAMD commented on #7865
I'm using this css fix to patch this issue temporarily:

[code]

[2016-04-04 07:23] crisbeto commented on #7865
Seems legit, you just have a SASS error in your codepen.

[2016-04-04 07:29] tenshiAMD commented on #7865
Fixed the codepen sass error its just a extra ':' on the first div and does not affect the md-select css at all. I just recreated the scenario on my project where the md-select with multiple value causes this layout misrendered. Check the codepen again. http://codepen.io/tenshiAMD/pen/oxGKyP

[2016-04-04 07:39] crisbeto commented on #7865
It should be a quick fix, I can take a look at it later today.

[2016-04-04 07:43] tenshiAMD commented on #7865
Thanks man :+1:

[2016-04-04 08:03] simonered commented on #1716
Why is this closed? Please,  reopen it or open an issue for flex in md-virtual-repeat-container.

[2016-04-04 08:04] eqbalsajadi commented on #2385
+

[2016-04-04 08:17] adam-s commented on #1716
If configured correctly, [ng-infinite-scroll](https://github.com/sroze/ngInfiniteScroll) works with Angular Material design.

[code]

Notice how the scroll container is the `<md-content>` container?

[code]

It would be great if it was a core feature but this works for me.

[2016-04-04 08:38] stidiovip commented on #6802
I have the same issue. What I whant to do is to hide the menu when clicked.

[2016-04-04 09:20] cmacdonnacha commented on #7800
Thanks for your reply. Is there any way this can be added as an option to display the "clear" button? Hidden by default.

[2016-04-04 09:51] mavillar opened #7866 "md-menu behavior"
Hi,

I have implemented a md-menu within a md-list-item and all seems to works fine but a little problem when clicked second time.

![captura de pantalla 2016-04-04 a las 11 35 28](https://cloud.githubusercontent.com/assets/3111892/14244403/38333482-fa5b-11e5-8119-0ea83a21fa49.png)
![captura de pantalla 2016-04-04 a las 11 35 20](https://cloud.githubusercontent.com/assets/3111892/14244404/38358a48

[2016-04-04 12:33] craigsnyders commented on #6559
I have found two strange things happening when md-tabs is present on the page:

1. If button height is >=65px then the ripple works fine
2. If you remove the **inline transform: translate3d(0px, 0px, 0px)** style from `<md-pagination-wrapper>` then all button ripples on the page work fine again

Is it possible that there is a CSS engine but using inline translate3d transformations on custom HTML e

[2016-04-04 12:41] manish2535 commented on #6599
any updates on this one?

[2016-04-04 13:43] ViDaNgEr opened #7867 "Using return on md-chips with md-autocomplete on IE 11 causes two items to be added"
It's the same bug describes as #4996 but it's still there on IE 11.

it's very easy to reproduce:
- Use IE 11
- Go to Angular Material md-chips Demo: https://material.angularjs.org/latest/demo/chips
- In the "Custom Inputs" section, uncheck "Tell the autocomplete to require a match"
- In the "Search for a vegetable" field, type "spi", then the down arrow, then press return.

Et voila.

both "spi"

[2016-04-04 13:46] giacomocariello commented on #1837
+1

[2016-04-04 13:50] jayj commented on #6505
The demo for "custom separator keys" using semicolon is also broken on Danish keyboards. The '186' key code used as semicolon separator is also used for the letter 'æ', so every time you write 'æ' it adds a new chip.

[2016-04-04 14:37] trinet-jieli commented on #2446
+1

[2016-04-04 15:30] levgaas commented on #7341
@topherfangio seems like it's my bad. If you do so the selection of the tab is clicked won't work.

What I need is to run some validation code to check if user can change the tab before it actually changes(selects)

For example, There are 3 tabs:
Step 1, Step 2, Step 3;

And user cannot jump from first tab to third. Only prev / next.

Normally, I would do some validations and then change value of

[2016-04-04 15:33] isaaclyman opened #7868 "md-autofocus does not work on md-menu-item > md-button"
When using `md-autofocus` with an optional expression (e.g. `md-autofocus="ctrl.a === ctrl.b"`) on an `md-button` that is the direct child of an `md-menu-item`, the `_md-autofocus` class is applied to the compiled `<button>` element, but when the menu opens, focus is given to the first item in the list anyway. It appears that the `md-autofocus` attribute is completely disregarded in this case.

Ap

[2016-04-04 15:55] DevVersion commented on #7846
Fixed with SHA 7988cf60fa86d081ba0b3b4efbaeca86059ce91b

[2016-04-04 15:55] #7846 closed

[2016-04-04 16:04] WieldSoftwareDevelopement commented on #7714
It isn't just Safari on IOS.  It is any browser (Chrome and Firefox).  I'm specifically referencing IOS 9.3.

Digging more into this today and will update this post later.

[2016-04-04 16:28] miguelcobain commented on #4217
Is the current datepicker still spec compliant?

It surely doesn't look like the one in material design guidelines.

[2016-04-04 16:43] topherfangio commented on #7341
Perhaps you can use `<md-tab ng-disabled="true">` instead of trying to do it on click?

https://material.angularjs.org/HEAD/api/directive/mdTab

[2016-04-04 16:57] greyhwndz commented on #5029
+1

[2016-04-04 17:10] topherfangio commented on #3420
I am not sure that this is a core feature of the list item itself. Particularly, I'm not seeing how anything we do would be easier than developers using the existing `ng-class` directive to apply the active class when they need it.

I guess what I'm saying is: I don't think Angular Material can always *know* when *your* app wants something selected.

If you can come up with some common usages, we