[2016-04-04 17:37] Nextt1 commented on #7858
You can do that. It is already implemented. Just check the docs. here is an working example. http://plnkr.co/edit/uKb2aEz02MR8pNZmaA8B

[2016-04-04 17:37] topherfangio commented on #7626
@RolandHeath Thanks for the extra info; it looks like this is still happening on HEAD as well.

[2016-04-04 17:54] topherfangio commented on #6048
@Undrium Thanks for the demo; can definitely see the error.

@EladBezalel Can you please take a look?

[2016-04-04 18:03] VikramTiwari commented on #7476
Does not works. http://codepen.io/anon/pen/Kzyzxo

[2016-04-04 18:04] mckenzielong commented on #7858
@Nextt1 Your working example shows the issue in question. Compare the behaviour of datepicker to md-input. It is inconsistent (integration with md-input-container would go a long way to resolve this)

[2016-04-04 18:09] Nextt1 commented on #7858
I don't think `md-input-container` is needed. besides It's working for now. Develpers may add that in later version but it's not really that important since validation works.

[2016-04-04 18:23] sirbarrence opened #7869 "mdTooltip: incorrectly reappears when sidenav closes"
As noted in #3525, when closing, an mdSidenav intentionally refocuses whatever element triggered it to open for accessibility reasons.

However, if there is an mdTooltip on the triggering element, this programmatic refocus of that element causes the tooltip to reappear. This doesn't seem like expected behavior for mdTooltip. Here it is in action:

![output](https://cloud.githubusercontent.com/asse

[2016-04-04 18:47] mckenzielong commented on #7858
@Nextt1 Just to reiterate:

The element should not look out of place in a form with other md form elements (inputs, selects, textareas.)  Currently we have spacing inconsistencies, lack of ng-message styling , no floating label, and other misc styling issues (font size, background-color)

One of those inconsistencies is how an md-input reacts to touched and how the datepicker reacts to touched.

A

[2016-04-04 19:03] oscarfuentes opened #7871 "ion in express node"

[2016-04-04 19:03] #7871 closed

[2016-04-04 19:14] #3386 closed

[2016-04-04 19:20] kevinlbatchelor commented on #7858
You should not have to use ng-required as you did@Nextt1 either.

http://plnkr.co/edit/qd1for9TjvyQCdDY1kJM?p=preview

[2016-04-04 19:40] topherfangio commented on #7356
Although the spec doesn't say it, I'm pretty sure that speed dials are not meant to be nested.

@ThomasBurleson Is this something we want to support?

[2016-04-04 19:41] mbellezi commented on #6440
+1

[2016-04-04 19:48] Nextt1 commented on #7858
I am totally agree with you guys. I was just giving a possible solution to work unless we get something proper for developers
.

[2016-04-04 19:54] levgaas commented on #7341
@topherfangio Ok. Thanks I'll look at it.

[2016-04-04 19:54] #7341 closed

[2016-04-04 19:55] topherfangio commented on #7024
@DevVersion This is indeed related.

[2016-04-04 19:55] stormcrow85 commented on #5018
@SpenceDiNicolantonio
In your template you can use **$mdMenuIsOpen** which will be set to true if open / undefined if closed

[2016-04-04 20:07] topherfangio commented on #7376
@DevVersion Where is this happening? I'm having trouble tracking down the code.

My first thought would simply be: if the element has `aria-hidden`, don't concat it's text.

[2016-04-04 20:13] topherfangio commented on #7309
For sidenav, this may be acceptable since it shouldn't happen very often, and there is generally only 1-2 sidenav's per app. But I think we need a more generic solution for other components that may depend on the visibility/size of other components. I have a `$mdResize` service in the works that needs a bit more work here: https://github.com/profoundry-us/material/tree/fix-show-hide-protractor-per

[2016-04-04 20:17] topherfangio commented on #7659
@graphefruit If you have a chance to test it, you should be able to clone this project, run `npm install` and then `gulp watch site --dev`. Once it's running, you should be able to find your machine's IP address, and visit it from your phone to test out the performance issues.

You can then make changes to the code and it will refresh the page on your phone after it has compiled everything so you

[2016-04-04 20:22] tom94zoe commented on #7476
@VikramTiwari, you sir are awesome

[2016-04-04 20:29] topherfangio commented on #7340
@DevVersion Can you reproduce now? If not, just assign it to me and I'll take a look. **Should** be a quick fix :smile:

[2016-04-04 20:34] calebegg commented on #7376
Why do we need to do this generated aria-label thing at all? Do screenreaders not just read the children of the button by default? Chromevox seems to.

I feel like even if they don't, this is enough of an edge case that it's best to just require users of the library to put their own aria-label on there if they want something other than the default screenreader behavior. Trying to walk the children

[2016-04-04 20:37] topherfangio commented on #7376
@calebegg Indeed; it looks like you can just set `aria-label="Options"` on the button itself and it will work. I'm not 100% sure we are auto-adding the label as I couldn't find the code that does that.

Perhaps this just needs some docs in the icon/button pages to help guide users?

[2016-04-04 20:41] topherfangio commented on #7647
Awesome! Glad you got it working!

[2016-04-04 20:41] #7647 closed

[2016-04-04 20:49] #7678 closed

[2016-04-04 20:57] calebegg commented on #7376
I also can't find it, but it has to be somewhere -- how else would the aria-label on my example get added? I did find this test for it: https://github.com/angular/material/blob/571634065a6a8af570ce308ceb6ba829553eeaa9/src/components/button/button.spec.js#L38

But github's search is awful, so it's hard to find anything.

I could set the aria-label manually, but my point is that I shouldn't have to

[2016-04-04 21:14] HighAley commented on #3820
I have one md-autocomplete input and three md-chips and need to disable the ability to add a chip with md-autocomplete only.

[2016-04-04 21:25] rvarbanov commented on #4810
:+1:
If there is no date supplied to the datepicker it does not play well with ngMessages

Here is a CodePen demoing the issue:
http://codepen.io/radi/pen/RaLLoW

Notice how the required message is shown before the user has tried to enter a date.

The ngMessage required should show after the user leaves the field after focusing it before that. Not on load.

[2016-04-04 21:47] fmalk commented on #6351
+1
Trying to put two `<md-input-container>` together, first with `<input>` has the `<md-errors-spacer>`, second with `<select>` doesn't have it, so vertical alignment is off

[2016-04-04 22:00] fmalk commented on #6351
To be fair, https://github.com/angular/material/issues/6214 has a valid workaround

[2016-04-04 22:36] KarenParker opened #7874 "mdPanel: Pin animations using $animate.pin()."
Needed so animations can occur outside the angular app.

Test this in Galaxy by changing the BUILD file to point to your material client instead of the third-party library.

[2016-04-04 22:40] KarenParker opened #7875 "mdPanel: Add onDomAdded, onOpenComplete, and onRemoving animation hooks."
These will be similar to the parameters used in mdDialog.

onDomAdded should trigger after attach is done
onOpenComplete should trigger after show is done
onRemoving should trigger after hide is done

This task include updating documentation.

[2016-04-04 22:42] KarenParker opened #7876 "mdPanel: Cleanup the config object to remove export concerns."
We want to be able to use "config.attachTo" instead of "config['attachTo']" every time.

[2016-04-04 22:43] #7876 closed

[2016-04-04 22:51] KarenParker opened #7877 "mdPanel: Provide the MdPanelPosition options to the user as $mdPanel.xPosition and yPosition"

[2016-04-04 22:58] KarenParker opened #7878 "mdPanel: Add intelligent positioning to the panel"
This task involves:

- determining if it is offscreen and reposition if possible by flipping it
- accepting a priority list of positions
   - try each position and find the first one that is positioned onscreen
   - last is a default position

[2016-04-04 23:14] trainerbill commented on #2038
I am running into this issue as well.  I am guessing that you can't use ui-view on md-grid-tile?

![image](https://cloud.githubusercontent.com/assets/3578259/14266831/d73100de-fa90-11e5-875e-fdefde0d1769.png)

[code]

[2016-04-04 23:20] robertmesserle opened #7879 "bug(button): all hyperlinks are styled with default accent color"
CodePen: http://codepen.io/robertmesserle/pen/ccc326a07f80a92f7ae5f1b0f9761ac9

This is caused by the following CSS generated by themes:

[code]

This will select all hyperlinks (including ones not related to ng-material) that don't have the `md-button` class applied.  This should be scoped to ng-material.

[2016-04-04 23:45] MadJlzz commented on #1983
+1

[2016-04-05 05:24] hodeyp opened #7880 "md-content no longer sets background color in 1.1.0-rc*"
md-content used to define background color based upon theme, and also allowed usage of md-hue-1/2/3. This no longer works. There does not seem to be any way to use theme colours to set application background colours?

[2016-04-05 05:37] scanspeak opened #7881 "md-input-container/input on IE10: click on the label sometimes does not work"
In general, when the input is empty, click on the label (placeholder) makes the label float up and allows entering data into the input.

It does not work for some fields on my IE10/Win7. Chrome, Firefox, Safari/iPad seem ok.
Example: please see the official [input demo](https://material.angularjs.org/1.1.0-rc2/demo/input). The last section (Icons), the "Email (required)" field. Click on the placeh

[2016-04-05 07:35] dlinx commented on #7799
@DevVersion , Swipe is currently available, but if you swipe, it change page, which is bit confusing for user. But if tabs moves with touch move, then it will be better experience. just like scroll bar.
Just think, if scrollbar  scrolls one page instead of line, then user will loose his context, what he was looking for.
I am just requesting a feature, when user drag any tab, the effect need to be

[2016-04-05 07:55] IcanDivideBy0 commented on #7356
IMO the fix mostly add robustness (don't look for `.md-fab-trigger`, `.md-fab-actions` or `_md-css-variables` too deep in the DOM) and is pretty simple (at least for recent browsers).

Even without the spec saying a word about it, this is a good example of how much angular-material's components are customisable and side effects free.

[2016-04-05 08:09] Knoxvillekm opened #7882 "md-no-float in md-autocomplete"
Need to use md-autocomplete with floating style without label. Add md-no-float like in md-input-container.

Or allow empty label or `&nbsp;`

[2016-04-05 10:50] Phr33d0m opened #7883 "mdBottomSheet regression - grid button text not showing"
Hello, as you can see in the [latest demo](https://material.angularjs.org/latest/demo/bottomSheet) when you click on the Grid example there are 2 issues:

1. The icons are huge
2. The button text is not showing as in previous versions <sup>[1]</sup>

![angular material 20 20 demos 20 20 bottom sheet](https://cloud.githubusercontent.com/assets/1591486/14279266/a141d0f6-fb2c-11e5-99ce-eafa41be7c02.p

[2016-04-05 10:53] darkmavis1980 commented on #3420
The problem of using just the ng-class is it's rather hard to override the css behaviour of the md-list-item, I tried as a first option (I simply needed to set a background colour), but it was giving me odd behaviours, and behaving differently on Chrome and Firefox

[2016-04-05 10:59] andrew-mc commented on #7824
I also noticed this - after a quick look at the SCSS for md-menu it looks like it was broken in https://github.com/angular/material/commit/34f2704c8a004c98ecece39313249ed5e2caa72a

Similar issues were previously mentioned in https://github.com/angular/material/issues/3292 and  https://github.com/angular/material/issues/4070 and fixed.

[2016-04-05 10:59] Phr33d0m opened #7884 "mdSelect multiple - discussion about usability"
Hello, we've received "bug reports" about our app that "selects" don't close when an item is selected. The issue here is that select multiple is not immediately understandable that it's for making multiple choices and that you have to click outside the select to close it and proceed.

Can't we do something about making the default design better understandable?

Different options that come to head

[2016-04-05 11:07] Phr33d0m commented on #7880
This was introduced with 1.1.0-rc1 [with this pullreq](https://github.com/angular/material/pull/7422) but seems to have been restored in -rc2 as per [this CHANGELOG](https://github.com/angular/material/blob/release/1.1.0-rc2/CHANGELOG.md)

[2016-04-05 11:18] Phr33d0m commented on #7884
Okay I just saw 1.1.0-rc2 and the addition of ```add support for checkbox options in the dropdown (3524aa95)``` which works even better than my proposed solutions. Time to switch our project to this development version ;-).

Closing this issue.

[2016-04-05 11:18] #7884 closed

[2016-04-05 11:31] #7880 closed

[2016-04-05 11:40] kylemacfarlane opened #7885 "md-checkbox inside md-list-item have wrong colour text in 1.1.0-rc2"
You can see this bug in the list demos.

Under 1.1.0-rc2 labels for checkboxes in lists are a lighter shade of grey: http://codepen.io/anon/pen/reYGVp

Which doesn't happen in the demos for 1.0.7: http://codepen.io/anon/pen/GZOMpK

[2016-04-05 12:14] hodeyp commented on #7880
md-hue-1 md-hue-2 md-hue-3 have no effect on the md-content background color on 1.1.0-rc2

[2016-04-05 12:46] hodeyp opened #7886 "md-content no longer allows md-hue-1/2/3 in 1.1.0-rc2"
md-hue-1 / 2 / 3 all return the same background colour for md-content

looking at the specs https://www.google.com/design/spec/style/color.html#color-text-background-colors

it suggests that I should be able to use hues 50/100/300 on background elements.

[2016-04-05 12:59] joerideg commented on #3420
Ng material should only define some styling under a md-listitem-active class (or similar). We can them add this class to the list item when we see fit.

[2016-04-05 14:18] jsr6720 commented on #7837
@DevVersion Can you please re-open this issue. This ripple effect occurs even on the 'no ripple' boolean

See screen shot

![image](https://cloud.githubusercontent.com/assets/502432/14284963/c41995ba-fb17-11e5-83cd-03f24ffdd89c.png)

[2016-04-05 14:22] #7835 closed

[2016-04-05 14:22] alisabzevari opened #7887 "md-button margins in toolbar does not work properly in RTL"
`md-button` in toolbar `(dir="rtl")` does not work properly. Here is a sample:
[code]
the problem is in this ruleset:
`.md-toolbar-tools > .md-button:first-child`

I can create a PR for that.

[2016-04-05 14:26] DevVersion commented on #7837
@jsr6720 Please explain, how we can reproduce that *bug*? I'm not able to reproduce it by your steps above.

[2016-04-05 14:48] gilnoy commented on #7106
Added:

positionDropdown() {
.....
elements.$.scroller.scrollTop(0);
$mdUtil.nextTick(correctHorizontalAlignment, false);

...
}

[2016-04-05 14:50] jsr6720 commented on #7837
Same steps as above. I just confirmed in Google Canary
1. Go to  https://material.angularjs.org/latest/demo/switch
2. Click the TOGGLE next to "no Ink" label
3. Open new blank tab
4. Switch back to tab with demo in it.

![image](https://cloud.githubusercontent.com/assets/502432/14286157/1bdadada-fb1c-11e5-88a6-9b074b29bea4.png)

[2016-04-05 15:15] bernizt opened #7888 "mdAutocomplete: Glitch when using floating label and md-min-length="0""
When clicking on an option while the field is **empty**, the _md-autocomplete_ goes into the empty state before releasing the mouse button. Afterwards, the selected option is copied into the field.
If _md-autocomplete_ is tagged as **required**, the field is shown in the error state (red floating label and line) in between pressing the mouse button and releasing it.

![bug_preview3](https://cloud.

[2016-04-05 16:10] DevVersion commented on #7885
@DerekLouie I investigated at that issue and found the problem, which was introduced in SHA 3524aa9573fe29e53341c60ce6127fc7ad323446

The actual bug is, that you added a line in the select theming, which uses an attribute selector.
[code]

So the issue is, that the `theming` service, is only checking for `class selectors` and `element selectors`, which means, that the `[md-checkbox-enabled]` selec

[2016-04-05 16:20] johnyricalde opened #7889 "md-switch doesn't have an option to align text"
Right now the md-switch component only allows to have the text on the right side of the switch control
![switch-right-side-text](https://cloud.githubusercontent.com/assets/342287/14289375/e698df56-fb30-11e5-926d-265eeeab5223.png)

It will be nice to have the ability to set the text on the left size of the switch control
![switch-left-side-text](https://cloud.githubusercontent.com/assets/342287/142

[2016-04-05 16:40] domface commented on #4379
+1

[2016-04-05 16:58] jero07 opened #7892 "md-datepicker removing icon alignment issue"
if i set css .md-datepicker-button display:none to remove icon, the datepicker tends to push the adjacent divs below to the right.

http://codepen.io/jerome07/pen/pydaGV

![image](https://cloud.githubusercontent.com/assets/759404/14290468/0a92772c-fb14-11e5-8f58-4bef9476e1a3.png)

![image](https://cloud.githubusercontent.com/assets/759404/14290475/13508a70-fb14-11e5-827f-7a44f92c7e46.png)

[code]

[2016-04-05 17:00] DerekLouie commented on #7885
Ahh very good catch! I will change this with haste. Thank you for looking into this :)

[2016-04-05 17:40] CxRes opened #7894 "icons inside md- button or md-icon-button are not themed when inside a md-toolbar"
See Pen
http://codepen.io/anon/pen/RajMop

Both the vertical dots button and the heart in "Love More" button remain uncolored.

This is happening because a fill property is being defined for icons and icon-buttons on toolbars
[code]

This should be specific to icons on toolbar;
not icons inside buttons inside toolbar

[2016-04-05 19:05] KarenParker opened #7895 "mdPanel: Properly cancel existing promises when a new action is started."
Remove all the related TODOs.

[2016-04-05 19:06] leavelbw opened #7896 "datepicker: If the md-min-date value changes, the validation does not update"
I have created the following plunkr, by changing the date picker demo plunkr:

http://codepen.io/BobLeavell/pen/zqPKyp

To reproduce:
1.  Set the date for the "**Standard date-picker**" to 7/15/2015
2.  View that the validation for the "**Date-picker with min date and max date**" triggers to false
3.  Verify the Min/Max dates at the top of the form
4.  Click the **Update Min/Max** button
5.  See t

[2016-04-05 19:06] KarenParker opened #7897 "mdPanel: Reposition on scroll."

[2016-04-05 19:17] clshortfuse opened #7898 "md-input-container margins, alignment, and font-sizes do not match material design spec"
So many, many, input items don't match the spec.

The most notable of issues is large vertical margins.

I'm started work on trying to fix all these issues and have a made a codepen with the fixes I have made. All the fixes are in CSS, so they would have to been merge into the SCSS files.

http://codepen.io/shortfuse/pen/oxGowZ

The codepen allows you to compare with a couple of templates on the m

[2016-04-05 19:36] #7879 closed

[2016-04-05 19:44] sjaase opened #7899 "layout: no rendering of cards in IE11 when layout=column and child has flex"
Created a plunk containing an example where the cards don't get rendered (cards disappear) when breakpoint causes layout to be column. It seems to be the combination of layout=column and the child being set to flex.

Appears only in Internet Explorer 11, other browsers like Firefox and Chrome renders correctly.
Angular Material version: 1.1.0-rc2

https://plnkr.co/edit/6t8uA39tOVEDBjOKSS4E?p=previ

[2016-04-05 19:45] lukemiller commented on #1269
+1

[2016-04-05 19:46] CxRes commented on #7894
The same thing happens in md-list with md-avatar-icon...

[2016-04-05 19:49] ThomasBurleson commented on #7899
Trying using (loading) the Layout IE_fixes contained in [**`angular/bower-material/modules/layouts`**](https://github.com/angular/bower-material/tree/master/modules/layouts)

[2016-04-05 20:33] jsr6720 commented on #7837
@DevVersion do you still need more information? This is impacting our implementation of md-switch @Paychex

[2016-04-05 21:15] KarenParker opened #7902 "mdPanel: Add destroy."

[2016-04-05 21:16] KarenParker opened #7903 "mdPanel: Support LTR and RTL positioning."

[2016-04-05 22:31] qmphan commented on #4124
I'm having this bug too. Thank you @rgthree  for the fix.

[2016-04-05 22:49] davidtmnolan commented on #5435
Issue exists in 1.0.7 after loading items from async call.  .md-select-menu-container breaks outside of container and spans entire page.

[2016-04-05 23:56] joeyperson opened #7904 "Button shadows don't match Material shadow"
Raised buttons have a rogue shadow, but should match normal and elevation states.

Should be using 2 and 8dp:
https://github.com/angular/material/blob/master/src/core/style/variables.scss#L56

[2016-04-06 00:49] ngraef commented on #7179
FYI, this reflects the behavior of the `Date` constructor.
[code]

[2016-04-06 01:07] VikramTiwari opened #7905 "clickOutsideToClose for md-bottomsheet doesn't work"
example: http://codepen.io/anon/pen/bpYxjb

[2016-04-06 01:18] dorgan commented on #3597
I think the major defect is not that the button doesn't support  ui-sref-active  its that it doesnt have an "active" state

[2016-04-06 02:00] jayeshanandani commented on #6563
I think this is related to #5611

[2016-04-06 02:00] jayeshanandani commented on #6668
This seems to be related to #5611

[2016-04-06 02:53] tenshiAMD commented on #7905
It seems you have a warning in your codepen: "<md-backdrop> may not work properly in a scrolled, static-positioned parent container."

[2016-04-06 03:01] tenshiAMD commented on #7905
+1. It seems this is a issue on 'v1.0.7' md-backdrop for md-bottomsheet. I'd tried on 'v1.1.0rc2' its working properly.

[2016-04-06 03:15] ThomasBurleson commented on #7905
https://material.angularjs.org/latest/demo/bottomSheet works!

[2016-04-06 03:15] #7905 closed

[2016-04-06 04:58] DevVersion commented on #7837
@jsr6720 I will investigate today and look for the correct behavior. Thanks for explanation.

[2016-04-06 05:05] himanshushankhala commented on #3959
Hi @EladBezalel,
I was able to reproduce it. Please visit following link to download my code.
https://drive.google.com/open?id=0B-CqiIo597GmTVRtZ3NpcHEyVFE

Hope to get a quick resolution or alternative for the same.
Thank you

[2016-04-06 05:10] tenshiAMD opened #7907 "md-select: incorrect arrangement on multiple values selected to be vertically arranged."
[v1.1.0rc2] This occurs on md-select with multiple values that values arranged in vertical manner.
- http://codepen.io/tenshiAMD/pen/grXQam

[2016-04-06 05:31] EladBezalel commented on #3959
@himanshushankhala please create a codepen

[2016-04-06 05:45] nikitadmx commented on #5500
Thank you so much @matthewpull  ...this code is working for me

[2016-04-06 06:06] graphefruit commented on #7659
Hi @topherfangio finally figured it out.
Sorry I'm not used to gulp etc.

Tried to comment out the specific ThemingProvider (like in issue mentioned above)
[code]
This one I commented out in ``` MdCoreConfigure ``` but after this the demo-site crashes, because he can't find the name:
``` return rgba( (PALETTES[ theme.colors[colorType].name ][hue] || '')[contrast ? 'contrast' : 'value'], opacity );

[2016-04-06 06:47] tenshiAMD commented on #7907
or atleast there are options for horizontal and vertical arrangement of values. horizontal arrangement looks neat in tight forms rather than vertical. :+1:

[2016-04-06 06:55] graphefruit commented on #7659
Hello again,

I digged a bit more into:
![image](https://cloud.githubusercontent.com/assets/6260244/14308057/d1d21832-fbd3-11e5-85dd-b60a17c9dff5.png)

This image shows FPS drops when opening and closing the dropdown below the
-> demo/input -> state

I set my Internet Explorer to:
- Document mode: 10
- Browser profile: Windows Phone
- User agent string: IE10 - Windows Phone 8

After that I tried t

[2016-04-06 07:32] amielmendoza commented on #6965
How can I change the font color of the placeholder?

[2016-04-06 07:42] icenold opened #7908 "md-combobox"
I need a combobox for project but I need it to have same design on md-input+md-select combined

[2016-04-06 08:01] sebastienvermeille commented on #2492
:+1:

[2016-04-06 09:15] jpkinkel commented on #4634
Hi Alex,

I 'm running into the same problem now. Could you solve it? If so how?

Thanks

[2016-04-06 09:21] fkpwolf commented on #6204
+1 spend lots of time to find root cause.

[2016-04-06 09:45] sryzycki opened #7909 "angular-material vs angular-material-source package name"
Hello,

I've been using your awesome Angular Material project for a few months now on this project. So far I always had this line in our project's package.json:
[code]
but when I spotted your 1.1.0 RC I decided to utilise it and changed our code to:
[code]
In effect our build started failing because we are importing Sass partials for a bit more scss freedom instead of importing the default css fil

[2016-04-06 10:17] chrisdamba commented on #4251
+1 Really need this. In the meantime, I'm using the [Angular Material DateTimePicker](https://github.com/logbon72/angular-material-datetimepicker) which mimick's Android's date time picker https://logbon72.github.io/angular-material-datetimepicker

[2016-04-06 10:25] vapits commented on #5754
Have you managed guys to replicate the error yourselves?

[2016-04-06 10:41] timruffles opened #7910 "md-autocomplete does not play well the rest of Angular"
`<md-autocomplete>` doesn't use the `ng-model` system correctly, requiring hacks to get basic features (`md-input-name`) and making composing it with validators impossible (which is why `required` is manually added within the directive).

Desired
=======

[code]

1. `mdAutocomplete` uses ng-model as standard, and uses the created `ngModelController` instance
1. Everything else just works - built i

[2016-04-06 10:46] timruffles commented on #7910
Thought it'd be worth pinging @robertmesserle and @DevVersion as you've both looked at this before.

[2016-04-06 11:00] code-tree opened #7911 "A mostly vertical swipe should not trigger a horizontal one (and vice versa)"
Currently, while swiping to scroll down a tab's contents, a horizontal swipe can easily be triggered, changing the tab the user is viewing, when they were obviously just trying to scroll vertically.

I believe, therefore, a horizontal/vertical swipe action should only be triggered if that direction is larger than the opposite.

See pull request

[2016-04-06 11:05] kazemihabib commented on #1217
+1

[2016-04-06 11:50] amiral84 commented on #4251
Bootstrap datepicker have very simple solution. I think this kind of solution could be used here as well, but make it even better. You can check how the bootstrap datepicker works here:

[(http://eternicode.github.io/bootstrap-datepicker/?markup=component&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=2&todayBtn=false&clearBtn=false&language=en&orientation=auto&multid

[2016-04-06 12:09] ThomasBurleson commented on #7909
You should use npm to install angular-material and update your `package.json`. Here are `npm` commands you may find useful:  [Installing with NPM](https://github.com/angular/bower-material/blob/master/README.md#npm)

[2016-04-06 12:09] #7909 closed

[2016-04-06 12:25] dubweiser commented on #6554
Hi @alphazhe , I'm having the exact same issue, would you mind posting your working code ?
Here's my markup and js:

[code]
[code]
And my data service:
[code]

[2016-04-06 12:46] super-coder commented on #4251
@amiral84 no, the solution here is to follow [Material Design guidelines for pickers](https://www.google.com/design/spec/components/pickers.html#pickers-usage) but the issue is that the essential component is in a backlog and no one knows when it is released. Now I am complaining because I convinced my team to use Angular Material because it was in production release, but seems like it is more lik

[2016-04-06 13:04] KelvinOm commented on #4251
@super-coder, try use this https://github.com/alenaksu/mdPickers. It work fine in mdDialog in last version.

But of course I would like to see something similar in Angular Material.

[2016-04-06 13:12] leok85 opened #7913 "It is possible that the md-progress-circular randomly change color?"
Example: http://codepen.io/mrrocks/pen/EiplA

[2016-04-06 13:14] super-coder commented on #4251
@KelvinOm i already tried and they don't work in IE, there are tons of issues, [particularly this](https://github.com/alenaksu/mdPickers/issues/54) makes impossible to use

[2016-04-06 13:23] vikasraok commented on #2073
+1

[2016-04-06 13:31] dimitrisfasoulas commented on #4233
+1

[2016-04-06 13:33] KelvinOm commented on #4251
@super-coder sry, I'm was too lazy for test it in IE.:(
But i think author fix this faster than good picker will added to Angular Material.

[2016-04-06 13:39] super-coder commented on #4251
@KelvinOm IE is still the [third most used browser](http://www.w3schools.com/browsers/browsers_stats.asp)

[2016-04-06 13:41] bayucandra commented on #4492
+1, absolutely need ng-trim="false", as sometimes space is necessary to do some programmatic things on the input.

[2016-04-06 13:56] puranjayjain commented on #5029
You can try [https://puranjayjain.github.io/md-date-time-picker/](https://puranjayjain.github.io/md-date-time-picker/) or use it as a starting point, it is absolutely up to spec and written in vanilla js

[2016-04-06 14:03] ThomasBurleson commented on #5029
A PR would be welcome... but will be subject to team standards.

[2016-04-06 14:03] #5029 closed

[2016-04-06 14:24] joaovieira commented on #3046
:+1:

[2016-04-06 14:26] bayucandra commented on #7140
@ThomsCass Seem we have to make changes directly to the angular-material.js file. I have tried to put the ng-trim at angular-material.js v1.0.7 and it is works.
You can check at line number start from 19891 to 19958. I have add ng-trim="false"\ to both of two conditional case there which i am nut sure what it does, something about 'attr.mdFloatingLabel' which i am not yet check further what is it.

[2016-04-06 15:11] DevVersion commented on #7837
@jsr6720 Just investigated again at this issue. And it's still not an issue. It's also not a ripple, it's just a focus effect, which is added for Keyboard Interaction / a11y.

The focus effect is always showing, because the browser restores the focus back to the last element. (and that was obviously the switch).

[2016-04-06 15:13] DevVersion commented on #7376
@topherfangio I'm not sure, how the browser is building the `innerText` variable, but maybe it's also a simple iteration on the native layer.

When we filter for `aria-hidden`, then we need to implement a custom `innerText` function, which iterates through **all** childs (even subchilds). I don't know how the performance will decrease.

[2016-04-06 15:15] smurugavel commented on #4037
+1 for custom positioning.
@daniel-nagy implemented something similar on his data table. I am referring the "comment" table column from the demo. [codepen](http://codepen.io/anon/pen/BjvLVJ?editors=1010)..
And, here is his source code, if someone needs it.
https://github.com/daniel-nagy/md-data-table/blob/master/src/scripts/mdEditDialog.js

[2016-04-06 15:16] DevVersion commented on #7024
@topherfangio Thanks, would you mind if I assign this issue to you / or close it?

[2016-04-06 15:25] francittadini commented on #5335
@EladBezalel - I'm having this problem too. I'm trying to focus an input when loading a simple form, and as @Kizmar, I tried all the combinations without success. I updated @SnakeME's [codepen](http://codepen.io/francittadini/pen/wGPZNw) to show that neither autofocus or md-autofocus are working on text inputs or textareas (using Angular 1.4.8 and Angular Material 1.1.0-rc2).

So we are trying to

[2016-04-06 16:07] crisbeto commented on #7913
It's not built into Material, but you can make it change colors yourself. What version of Material are you using (the approach to 1.0.6 vs 1.1 is different)?

[2016-04-06 16:09] HipsterZipster commented on #1217
@ThomasBurleson
Is there a feature branch for this new md-panel feature branch at the moment so we can follow the progress more actively?
What's the current timeline on when this should be merged back into master? (or at least ready for some beta testing)

[2016-04-06 16:48] kschwidder opened #7914 "md-menu does not show properly on firefox"
When opening the demo-site 1.1.0-RC2 the menu in firefox is not shown properly.
It seems to be a css issue. Would be nice to fix this.

Menu-items are shown similar to layout=column mode
<img width="261" alt="firefox" src="https://cloud.githubusercontent.com/assets/3265624/14325065/db2076f0-fc27-11e5-988e-e507f9a7e3b5.png">

properly shown in chrome

<img width="258" alt="chrome" src="https://clou

[2016-04-06 16:48] marcomafessolli commented on #7910
#6544

[2016-04-06 17:02] timruffles commented on #6544
Ah great to see this is already being discussed, I'll close my issue.

@DevVersion what does mirroring the ngModel mean? Would it support the standard `<md-autocomplete name=someName ng-model=$ctrl.someProp` approach (see #7910)?

[2016-04-06 17:02] timruffles commented on #7910
Dupe of #6544

[2016-04-06 17:02] #7910 closed

[2016-04-06 17:08] aleccool213 commented on #1754
@tomrainedotcom @rishabhmhjn https://github.com/angular/material/commit/5d9874fbfe3f80616d8c0cd948738d2865908b3e

[2016-04-06 17:14] angryfatkid commented on #5335
+1

[2016-04-06 17:19] francittadini commented on #7889
+1

I think this is a very needed feature.

[2016-04-06 17:22] manish2535 opened #7916 "Accessibility Issue with Tabs"
I did a quick Screen reader test on the Tabs Directive and found that the screen reader reads twice as many tabs that actually exist. So, if you have 2 tab items, the screen reader is picking up 4 and will start reading "**3 of 4**" and "**4 of 4**". Its probably because of how the HTML is being rendered.

![capture](https://cloud.githubusercontent.com/assets/4663798/14323000/c9907b14-fbec-11e5-8d

[2016-04-06 17:22] leok85 commented on #7913
I`m using 1.0.7 version.

Looking at the material design documentation does not indicate this color change, but the Gmail application uses two colors (blue and red) in updating the inbox (pull to refresh)

[2016-04-06 17:24] jrgleason opened #7917 "md-menu with offset seems to break when browser resized"
I am noticing that something with the absolute positioning in the md-menu is not updating on window resize. This causes the menu to go all over the place when the browser shrinks. Is there a way to overcome this?

I also noticed that it has to do with scrolling. The menu goes further down the more I have scrolled....

removing the max-height from md-menu-content is my work around.

[2016-04-06 17:24] manish2535 commented on #7914
Duplicate of [https://github.com/angular/material/issues/7824](url)

[2016-04-06 17:30] clshortfuse commented on #7892
I'm going to add that the probably icon shouldn't even be there since it's not part of the material design spec.

[2016-04-06 17:32] angryfatkid commented on #7837
@DevVersion I can repro this with Chrome.  It happens in both states.  (Note: We also see this on button icons)

1. Set a switch
2. Create a new tab
3. Return to tab with switch

![switch issue](https://cloud.githubusercontent.com/assets/10525022/14326432/30f81ade-fbeb-11e5-8461-93ef28530828.PNG)

[2016-04-06 17:33] marcysutton opened #7918 "Accessibility testing of docs examples would improve demo quality"
Implementing an automated accessibility checker would improve the odds for accessibility of docs demos. Here is an example of a simple accessibility issue I found looking at the docs, which could be caught as an error with an API like axe-core:
[code]

In the above example, there are two images without alt attributes. We can easily fix this one API document. However, I suspect there are probably o

[2016-04-06 17:35] marcysutton commented on #7918
Capturing comments from Slack:

We’ll have to identify the appropriate places–the site has a lot going on with code in different contexts. Here are a few places I found that would benefit from testing:
- Raw DOM snippets in the API pages
- Compiled demos, which have added semantics and keyboard support for custom directives
- The docs site itself (are there tests for that yet?)

The benefit being

[2016-04-06 18:01] crisbeto commented on #7913
Seems like you can't do it in 1.0.7, because it's already using the `animation` property to animate the spinner itself. Here's a fiddle of how it can be done in 1.1, though: http://codepen.io/crisbeto/pen/PNOMaL

[2016-04-06 18:09] johnyricalde commented on #5335
Having the same issue!

+1

[2016-04-06 18:11] leok85 commented on #7913
I'll update then.

Thanks for the tip.

[2016-04-06 18:11] #7913 closed

[2016-04-06 18:25] ngraef commented on #5938
The second issue noted by @matyee simply requires a `$watch` on `mdMinDate` in `DatePickerCtrl` to run the validation logic when it's changed.

Here's the obvious quick workaround that resets the second date when the first changes, which forces the datepicker to validate:

[code]

Demo: http://codepen.io/anon/pen/xVPopG

[2016-04-06 18:41] topherfangio commented on #7376
Finally tracked it down; this is happening in the `getText(element)` function in our `$mdAria` service: https://github.com/angular/material/blob/master/src/core/services/aria/aria.js#L64

It simply uses the jQuery/jQlite version of `.text()` which in turn looks at the `node.textContent`.

@DevVersion I agree that iterating over all children may cause a significant performance penalty, so it may be

[2016-04-06 18:47] ganySA commented on #7377
I am also having incredibly bad performance with IE 11+ it seems to be with all the "styleCalculation" anything from click event adding ripple.

This is when you really appreciate Chrome :+1:

[2016-04-06 19:07] p-mcgowan commented on #4801
confirmed - does not work on Angular 1.0.7 and Material 1.1.0-rc2

[2016-04-06 19:41] topherfangio commented on #3420
@joerideg Since there aren't any styles provided by the spec, and the fact that you can add your own custom styles/active class, I don't see how this would really be beneficial since we'd basically be guessing at what you want the active class to look like.

@darkmavis1980 What issues were you having? This definitely seems like something we might be able to address to make it easier to add your ow

[2016-04-06 19:49] topherfangio commented on #7356
I just worry that this will break existing functionality as the following would no longer work since it is searching for direct descendents:

[code]

[2016-04-06 19:50] topherfangio commented on #7743
@RaghuramDuraisamy Awesome! Glad it's working! Strange Chrome issue though :smiley:

[2016-04-06 20:08] pierrecle commented on #5241
+1 here too :)

[2016-04-06 20:19] smurugavel commented on #2492
Another workaround: Add html hidden input and make the ng-model same as md-selected-item (ng-model) of md-autocomplete.

[2016-04-06 21:03] crisbeto commented on #7832
I'll close this one for now since the main performance issue will be resolved in 1.1. As for that slight frame drop I experienced in the codepen, I couldn't reproduce it locally so it might be caused by something within codepen.

[2016-04-06 21:03] #7832 closed

[2016-04-06 21:32] ngraef commented on #7896
See #5938

[2016-04-06 21:34] mjt60 commented on #525
I'm also still experiencing this issue. Are we required to use md-theme in out dialogs, and pass the theme variable through locals?

[2016-04-06 21:41] jero07 commented on #7892
+1. should be removed, since there's the drop down button already, looks redundant.

[2016-04-06 23:01] gmoothart commented on #7683
I think we should rename this just `disableScroll`. In md-dialog, there is a `parent` option which says where to append the dialog, so it makes sense to use that word. But we renamed that to `attachTo`. I think just dropping the 'parent' from this config option is cleanest and least confusing. Thoughts?

[2016-04-06 23:52] ngraef commented on #5029
@ThomasBurleson Was this closed on accident? Or does the team have no intention of implementing it?

[2016-04-06 23:57] ThomasBurleson commented on #5029
Material1 will not be implementing this... but a PR is welcome if the community wants it implemented before Material2 provides it.

[2016-04-07 00:01] leocaseiro commented on #5029
@ThomasBurleson thanks for replying that. I was wondering if you have a list of what features won't be implemented. Do you have a Kanban(trello-ish) or any other tool that we could follow up? Thanks

[2016-04-07 00:13] homerjam commented on #6260
+1

[2016-04-07 00:40] ksgupta commented on #7567
+1

[2016-04-07 02:55] renannprado commented on #403
Another victim to this here. I still do not find the below pretty clear, though after reading this thread, I clearly understood.

An object containing key/value pairs. The keys will be used as names of values to inject into the controller. For example, locals: {three: 3} would inject three into the controller with the value of 3.

https://material.angularjs.org/latest/api/service/$mdToast

[2016-04-07 03:05] tanahara opened #7921 "MD-LIST Spacing off"
![image](https://cloud.githubusercontent.com/assets/1711202/14339377/acb4a3ec-fc43-11e5-8f5f-fee5a31247a6.png)

No custom css being applied.

[2016-04-07 04:15] dubweiser opened #7922 "md-autocomplete response after ajax call does not update dropdown list"
Hi guys

This has already been mentioned [here ](https://github.com/angular/material/issues/6554) however the solution wasn't posted and that issue has been closed - sorry to post it again.

I have the same issue, each keypress initiates an ajax call, which updates the available items, however the dropdown display updates _before_ the ajax call completes.  What this means is the available items in

[2016-04-07 05:56] hscanlan commented on #5182
+1

[2016-04-07 06:04] 2nise commented on #4251
+1, this feature is clearly lacking

[2016-04-07 06:36] projectmanagementsystem15 opened #7923 "architecture solution issue"
Can you suggestion to me related angular architecture solution.

Technology
Web api in .net
Web ui in angularjs

So, How can implement of security and domain (publishing) if you have any best example please share with me

Thanks,
Yogesh P.

[2016-04-07 06:46] roytz commented on #7837
As long as we don't have an option (or attribute) to set this focus off this is a bug.. I don't think we should see the background animation after switching windows..

[2016-04-07 07:33] invincibledudess commented on #2344
I am facing the same Keyboard navigation issue. No workaround is working for me as well. Any updates as to when will this be fixed?

[2016-04-07 09:03] vipul-jain opened #7924 "md-dailog id issue"
#This is worst feature in newer material v1.0.7, that every dialog id is prefixed with
'dialogContent_'

Even I assigned  my own id like 'csv-dialog', it will turned to
'dialogContent_csv-dialog'

I have to do major changes in my current project.

[2016-04-07 09:40] vipul-jain opened #7925 "md-bottom-sheet out side to click issue."
Recently I have upgraded material v1.0.5 to v1.0.7

I'm not be able to close the bottom-sheet with out-side click.
Also I have set
clickOutsideToClose: true

though it's not working, not even close on escape is working.

[2016-04-07 10:04] corentin-gautier commented on #6647
@DevVersion is there a support for the required asterisk on md-select ?

[2016-04-07 10:15] prayagpavithran commented on #3200
You can find the solution for floating label here
http://www.increvcorp.com/floating-label-support-for-md-chips-in-angularjs/

[2016-04-07 10:34] kdomagal commented on #2492
+1

[2016-04-07 11:27] movibe commented on #1054
+1

[2016-04-07 11:45] SocVi100 commented on #2686
Are svg iconsets working as of the current version (1.0.7)?
I'm strugling to use some custom svg with md-icon but I haven't managed to see anything on the screen. Is there something broken or it's simply not implemented?
Any example of how to create and use an iconset file?

Thanks

[2016-04-07 11:59] ThomasBurleson commented on #7923
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-04-07 11:59] #7923 closed

[2016-04-07 12:07] vicky-gonsalves commented on #2492
+1

[2016-04-07 12:24] ghost opened #7926 "Strange behavior of md-menu-item's with radio type."
Hello!

I'm using Angular version 1.5.3 and Angular Material 1.0.7. Have a problem with placing md-menu-item's with radio type due to it's strange behavior.

Codepen is here: [http://codepen.io/anon/pen/VayaoY](http://codepen.io/anon/pen/VayaoY)

Can anybody help me with this issue?

Thank's!

[2016-04-07 13:00] TobiasKrahn opened #7927 "mdAutocomplete: Progress bar is visible after pressing ESC"
Since Angular Material v1.0.7 a progress bar is visbile after pressing **ESC** inside an **empty** autocomplete.

Example from the demo page:
![image](https://cloud.githubusercontent.com/assets/16705453/14351594/7a5172bc-fcd0-11e5-9fe3-d4c3e316ff28.png)

[2016-04-07 13:06] San4oPanso commented on #7927
I can confirm. Tested on last Chrome and Edge

[2016-04-07 13:35] vapits commented on #7838
+1

[2016-04-07 13:36] vapits commented on #2088
+1
#7838

[2016-04-07 13:42] david-gang commented on #7012
I also have this problem. @topherfangio just to complement the knowledge about the ie versions. Their  versions are different. https://en.wikipedia.org/wiki/Internet_Explorer_11

In windows 7 the latest version is 11.0.9600.17843[ and in windows 10 the latest version is 11.0.10240.16384 so technically they are different :-)

[2016-04-07 13:46] DevVersion commented on #6647
@corentin-gautier No not yet, please file another issue and ping me there.

[2016-04-07 13:46] #6647 closed

[2016-04-07 13:53] DevVersion commented on #7924
@vipul-jain We prefix the dialog content, because otherwise we will have duplicate ids, which is not valid HTML and not good for A11Y support.

[2016-04-07 13:53] corentin-gautier opened #7928 "Required asterisk on md-select"
@DevVersion As mentioned in #6647 it would be great to have the same required asterisks on md-select as for normal input.

[2016-04-07 13:54] DevVersion commented on #7921
@tanahara Please provide a demo, at first, it looks like a wrong use-case of flexbox.

[2016-04-07 13:56] DevVersion commented on #7928
Yes, this will be an easy fix, but at first we need to confirm with the Specs, did you find anything in the specs yet, which shows a required asterisk on the select label?

[2016-04-07 13:57] DevVersion commented on #7904
@EladBezalel Can you take a look at this? since you made the most whiteframe implementation.

[2016-04-07 14:26] corentin-gautier commented on #7928
@DevVersion I don't think I ever saw it in the specs but IMO that would not be very coherent to have a form with required inputs with asterisks and required select without.

[2016-04-07 14:28] DevVersion commented on #7928
@corentin-gautier I agree with you. @ThomasBurleson what do you think?

[2016-04-07 14:29] ssj3sunny commented on #3077
+1

[2016-04-07 15:29] TobiasKrahn opened #7929 "mdToolbar: Hide button via ng-show/ng-hide takes a while"
In Angular Material v1.1.0-rc2 hiding buttons inside `.md-toolbar-tools` via ng-show/ng-hide takes a while. Seems to be caused by this css transition:

[code]

Demo: http://codepen.io/anon/pen/YqYNzX
Browsers: Chrome 49, Firefox 45 and Edge

[2016-04-07 15:45] sjaase commented on #7899
The issue remained the same.

[2016-04-07 15:54] destegabry commented on #6767
+1

[2016-04-07 15:55] angryfatkid commented on #7837
Here is behavior we are seeing on the icon button.  Our users asked about it day one of release.  It is really annoying.
![highlight bug](https://cloud.githubusercontent.com/assets/10525022/14357667/db5eeb4a-fca6-11e5-8686-9b7b955ffa97.png)

[2016-04-07 16:06] DevVersion commented on #7837
@angryfatkid @roytz I can now reproduce your issue. I will provide a fix as soon as possible.

[2016-04-07 16:16] ThomasBurleson commented on #7899
Flexbox Column layouts have proven to be tricky. Try wrapping your child content in a wrapper `<div>`:

e.g.

[code]

[2016-04-07 16:25] peio72 opened #7930 "Label rendering on IE11 create horizontal scroll bar with 1.1.0-rc2"
The CSS rule in angular-material.css line 2307 create horizontal scroll bar to appear when a label is present.

Viewable on the input demo page too.

Please help.

[2016-04-07 16:28] peio72 opened #7931 "md-input-messages not displayed on IE11 with 1.1.0-rc2"
The md-input-messages (or error messages)are not displayed on IE11.

I see it's working if i remove: overflow:hidden

from the css rule: angular-material-css, line 2230:
md-input-container .md-input-messages-animation

Please help.

[2016-04-07 16:42] DevVersion commented on #7837
- The issue is, we're always applying the focus effect, when there was no click for `100ms`. That means, if you switch the browser tabs, then there will be no click triggered on the button.. only a focus event (which adds the focus effect)

So, we need a way to detect the last interaction type. A PR is already pending - #5589, which means, that this issue is currently blocked.

cc. @ThomasBurleson

[2016-04-07 16:50] snhariharan commented on #5195
Is this a issue still in 1.4.4 ?? A similar situation is happening for us!

[2016-04-07 16:55] DevVersion commented on #7376
@topherfangio I like the second approach. It may be much faster than a plain iteration and also gives us a very easy way to handle a11y texts.

[2016-04-07 16:56] ErinCoughlan commented on #7683
@gmoothart That sounds good to me. I think it still conveys the meaning, plus its shorter to type.

[2016-04-07 17:06] crisbeto commented on #7927
It's also in 1.1, I'll look into it.

[2016-04-07 17:17] sjaase commented on #7899
Different result but didnt solve it.

However, I tried another approach by just setting layout=row on parent and then setting a flex-xs=100 on each child content. This gave the wanted result.

[code]

[2016-04-07 17:35] nkeeslin opened #7932 "Menu-Bar: Switching quickly between menu Items causes overlapping menus"
When you switch between two menu items quickly it can cause both of them to remain open simultaneously.  Shown here on the demo page https://material.angularjs.org/latest/demo/menuBar
![screen shot 2016-04-07 at 11 29 13 am](https://cloud.githubusercontent.com/assets/5240940/14360631/90a7c3fc-fcb4-11e5-9eba-23c5adf3109e.png)

Using latest version of angular material 1.1.0-RC2
Browser: Chrome 49.0.

[2016-04-07 17:38] nkeeslin opened #7933 "Menu-bar: Using the menu bar with a complex DOM causes the menu bar to react very slowly"
We use the menu bar on a page that is rich with html and has a large number of DOM elements, which causes the menu bar to react very slowly when switching from one menu item to another.  When we simplify the DOM it improves.  Is there something that we need to do to account for this? Or is it a bug?  Thanks!

Angular Material Version 1.1.0-RC2
Chrome Version 49.0.2623.110

[2016-04-07 17:42] DevVersion commented on #7930
@peio72 Thank's for the information you provided, but line numbers from the distributed file are not really helping.

It would be better, to copy / paste the wrong CSS rule and share it here.

Additionally, I'm not seeing that issue on IE11? Can you provide more information?
- On which Input in the Demo?
- Is it using Floating Label

[2016-04-07 17:58] topherfangio commented on #7376
@DevVersion Cool; you want to give it a go and see if it works like we think? :smile:

[2016-04-07 17:59] DevVersion commented on #7376
@topherfangio Yes definitely, will do that and let you know :smile:

[2016-04-07 18:00] topherfangio commented on #5195
@snhariharan Can you please open a new issue that includes a Codepen and references this one for us please?

[2016-04-07 18:51] #7177 closed

[2016-04-07 18:54] #7877 closed

[2016-04-07 18:54] #7794 closed

[2016-04-07 18:57] EladBezalel commented on #7904
@joeyperson can you link the spec relevant ?

[2016-04-07 19:01] aaroncalderon commented on #5837
But, doing so will brake animations (https://github.com/angular/material/issues/6767#issuecomment-173347468)

[2016-04-07 19:20] jsiegmund opened #7937 "mdSwitch: within mdListItem, mdSwitch toggles on mdSlider"
I've got a md-list-item which contains both a md-slider as well as a md-switch. Whenever the user clicks/drags the md-slider, this event is also propagated to the md-switch which then toggles. Whenever other controls are present within the same list-item, md-switch should only toggle by clicks on the control itself.

Codepen: http://codepen.io/jsiegmund/pen/repwyR

Angular version: 1.5.3
Browser:

[2016-04-07 19:20] #7192 closed

[2016-04-07 19:22] peio72 commented on #7930
Here is the css rule:

md-input-container.md-icon-left.md-input-focused > label:not(.md-no-float):not(._md-container-ignore), md-input-container.md-icon-left.md-input-focused > label .md-placeholder, md-input-container.md-icon-left.md-input-has-placeholder > label:not(.md-no-float):not(._md-container-ignore), md-input-container.md-icon-left.md-input-has-placeholder > label .md-placeholder, md-inpu

[2016-04-07 19:34] dlombardi opened #7939 "delete button on md-tab-item"
when ng-repeating the md-tab-items i'd think it would make sense to also be able to delete them by clicking on a delete icon that would optionally accompany each tab.  I would think it would be better to not have to navigate to the tab in order to delete it.

Right now I'm attempting to add these buttons into the directive through pure javascript but it is going nowhere due to the lack of transclu

[2016-04-07 21:43] timediv commented on #5909
What's the status on this?

[2016-04-07 22:27] #7885 closed

[2016-04-07 23:10] joeyperson commented on #7904
https://material.angularjs.org/latest/demo/button

I see this as the shadow:
.md-button.md-raised:not([disabled]){box-shadow:0 2px 5px 0 rgba(0,0,0,.26);}

[2016-04-07 23:47] Liron-K commented on #2697
In case it helps someone, here's how I fixed it to work on onShowing instead of onComplete.

     var fixButtons = function() {
        console.log("fixButtons");
        var foundCancelButton = false;
        var $dialog = angular.element(document.querySelector('md-dialog'));
        var $actionsSection = $dialog.find('md-dialog-actions');
        var $cancelButton = $actionsSection.children()[0]

[2016-04-08 01:23] jpike88 opened #7943 "Allow setting of input type on md-chips"
I want an email keyboard to appear by default on iOS devices, this requires setting the input type to "email" but md-chips doesn't give me a way to do it

[2016-04-08 02:48] RolandHeath commented on #7943
You can pass an input element to md-chips, with whatever input type you like.
There is an example of how to do this on the [docs page](https://material.angularjs.org/latest/demo/chips), see the one titled "Custom Inputs"

[2016-04-08 02:50] jpike88 commented on #7943
Thanks

[2016-04-08 02:50] #7943 closed

[2016-04-08 02:54] RolandHeath commented on #7925
This isn't occurring on the docs page, is it possible for you to replicate it in a codepen or similar?

[2016-04-08 03:48] RolandHeath commented on #7932
I had trouble getting this to occur at first, but came up with a method that can also chain to open many menus. Steps below:
1. Click the first top-level menu item
2. Click the same item again
3. Press tab
4. Press enter
This will have two adjacent menus open (tested on the docs page)
To move on to having more, continue:
5. Click an open top level menu item
6. Tab to the next unopened one
7. Hit e

[2016-04-08 04:25] RolandHeath commented on #7883
If you look closely at that screenshot, it appears that the icons are actually cut off at the bottom as well.
Looking in the devtools, you can confirm this: The text is there, but each button element is cut off at the wrong height, so you can't see it.

But definitely a confirmed issue in 1.1.0-rc2, with a different incorrect behaviour on HEAD.

[2016-04-08 04:29] tucq88 commented on #5441
I dont think adding `display:block` to `.layout-column` is a proper fix :(

[2016-04-08 05:23] bennyp123 commented on #6775
This would be killer. I tried laying out a blog with <md-list-item><md-card> and it just didn't work as expected when cards and images were of variable height.

[2016-04-08 06:58] rguruprakash commented on #1269
+1

[2016-04-08 07:33] mdenburger opened #7944 "$mdDialog text content not shown when 'onShowing' option is used"
When the $mdDialog option `textContent` is used together with an `onShowing` callback, the text content is not shown anymore.

Code example:
[code]
This confirmation dialog will only show the title 'foo', and not the text content 'bar'.

It seems that Angular Material uses the default `onShowing` function to initialize essential parts of the dialog, including the text content. When a custom callba

[2016-04-08 08:23] RizwanAslam commented on #3906
+1

[2016-04-08 08:36] cmacdonnacha commented on #7800
@DevVersion  Or is there any other way to have the functionality of the **autocomplete** component and have the styling of the **md-input** component which includes the "clear" button?

[2016-04-08 08:50] orion538 commented on #2521
Excuse my asking a question on your question, but how did you do all this? Can I see how you implemented your drag and drop and how you get the values for the calc function?

[2016-04-08 09:09] atorma opened #7945 "mdInputContainer: Inputs do not work properly in Firefox for Android and touch screens"
Starting from Angular Material 1.0.0 input fields behave in a weird way in Firefox for Android (45.0.1 tested) and touch screens (Nexus 5 and Samsung Galaxy Tab S2 tested). In version 0.11.4 they are okay.

This can be reproduced in https://material.angularjs.org/0.11.4/demo/input vs https://material.angularjs.org/1.0.0/demo/input.

When tapping on a field, the cursor is at positioned at the begin

[2016-04-08 09:45] bobwah commented on #4251
+1

[2016-04-08 10:03] happy-ali commented on #1269
+1

[2016-04-08 10:09] antonsamper commented on #6214
+1

[2016-04-08 10:19] fabiusss commented on #5277
+1

[2016-04-08 10:20] misherone commented on #6204
Had $scope.mode in my controller. Thanks suur for your help. Waiting for better incapsulation...

[2016-04-08 10:35] Phr33d0m commented on #7883
On 1.1.0-rc2 even if I forcefully make the icon smaller (as I already had that in my design) the text still does not appear.

Check this out:

![text-not-showing-mdbutton](https://cloud.githubusercontent.com/assets/1591486/14381297/bbcfa19a-fd85-11e5-83b7-ef9f20f1f33c.png)

Thanks to your investigation @RolandHeath I was able to do a workaround for my application<sup>[1]</sup>. If I click on the `

[2016-04-08 11:46] ThomasBurleson commented on #7883
Known issue due to recent changes in icon sizing. Thx.

[2016-04-08 11:59] camden-kid opened #7946 "Pluralsight - Angular Material Fundamentals videos don't load"
The [Pluralsight - Angular Material Fundamentals](https://app.pluralsight.com/player?author=ajden-towfeek&name=angular-material-fundamentals-m0&mode=live&clip=0&course=angular-material-fundamentals) videos don't load (except the Introduction).

Going to the actual [Pluralsight player](http://app.pluralsight.com/training/player?author=ajden-towfeek&name=angular-material-fundamentals-m0&mode=live&cl

[2016-04-08 12:09] ChrisNightingale opened #7947 "MenuController.js - unregisters "handleMenuItemMouseLeave" handler incorrectly"
Hi all,

I hope I have specified this correctly as I'm pretty new to all this Angular stuff (and web dev in general) but I have been playing around with the MenuController in an attempt to create a context menu (which I know is a whole other issue!!  [https://github.com/angular/material/issues/3493](url)).

While messing around with the code I noticed that in the **disableHoverListener** function

[2016-04-08 12:10] Latrisha opened #7948 "md-menu opening on mouse hover"
I'm using md-menu-bar to show a menu and the sub-menu with some nested sub-menu. I've added ng-click event to open the submenu. But the menu is still opening on mouse hover. How can I fix it?

[2016-04-08 12:15] wembernard commented on #1903
Some `reset` function would definitely be appreciable. Don't have time to figure out why but suggested workarounds here by @andreabadesso & @gkalpak didn't work.

I tried in the console to play with either the form or the input and `$touched = false`, `$valid = true`, `$invalid = false` (wondering btw why those 2 exist), `$setPristline()`, `$setUntouched()`... but didn't get any positive results.

[2016-04-08 12:43] OhDavit commented on #3420
As I have just started to do some front end, not sure how achive this for md-list-item. But as a mobile developer can say it would be very weird that such kind of feature is missing.

[2016-04-08 13:40] kunokdev commented on #4216
+1

[2016-04-08 13:41] kunokdev commented on #4251
+1

[2016-04-08 13:51] DevVersion commented on #6204
This is a duplicate of #6260, which already has a PR fixing - #7830.

I will close that issue, because the other issue, is already referenced by the PR.

[2016-04-08 13:51] #6204 closed

[2016-04-08 14:47] LiyinZ commented on #5335
having the same issue that by calling .focus() the coloured bottom border doesn't appear. It does set the cursor inside the input and works for typing but no material bottom border.

[2016-04-08 15:02] jrgleason opened #7950 "MD-Menu-Content not closing when md-menu-item clicked"
I had to fix this by adding the following...

    this.close = function(){
                    $timeout(function(){
                        $mdMenu.hide()
                    })

    }
    ...
    md-menu-item(ng-click="ctrl.close()")

Is there an attribute or something we can add to allow for this to cause it to close?

[2016-04-08 15:16] jelbourn commented on #4216
Follow #4251

[2016-04-08 15:18] hamsaya commented on #7832
There is still some performance issue per #4940

[2016-04-08 15:42] crisbeto commented on #4940
@BobKlaas, @ckpearson what version of Material are you using?

[2016-04-08 15:52] sdebionne commented on #4940
Things are improving from 1.0.7 (about 5 seconds of delay when switching tabs, IE freeze) to 1.1.0-rc2 (slideshow at one fps), using IE11 Edge.

[2016-04-08 15:56] apat183 commented on #4940
I noticed back in Feb and was using 1.0.5

I haven't been able to try lately because I've just made my own solution similar to @TimKlein87 above and added animations myself. No performance issues at all. I noticed personally that it was really bad when using `md-dynamic-height`

I tried playing around with `md-enable-disconnect` but it didn't help much.

[2016-04-08 16:54] #7640 closed

[2016-04-08 16:54] #7927 closed

[2016-04-08 17:17] angryfatkid commented on #7837
@DevVersion Thanks!

[2016-04-08 17:37] angryfatkid commented on #7889
Since the switches are typically to the right of the text, the option to configure the text placement is required for this control.  We have implemented this in several places and really need this to be a standard config.

[2016-04-08 17:45] smfiorillo commented on #4233
+1

[2016-04-08 17:45] smfiorillo commented on #7889
+1

I'd be really useful to have that option

[2016-04-08 17:57] mpiasta-ca commented on #4251
+1

This could be useful for credit card start and expiry dates too, where the day isn't necessary, we just want the MM/YY.

[2016-04-08 18:24] bjporada commented on #7925
For me bottom sheet clickOutsideToClose also did not work in v1.0.7. I upgraded to 1.1.0-rc2 and it now works.

[2016-04-08 19:09] indrajithreddy opened #7954 "Required validation is not working for md-select dropdown if the ng-model value is not null"
In my case I am using integer type for ng-model value which by default contains value as zero.
The ng-options doesn't contain any item with the value zero. But still validation is not firing.

If I set model value as null then it is working.

please check the below link.

https://plnkr.co/edit/X8zJ56?p=preview

[2016-04-08 19:21] #7193 closed

[2016-04-08 19:39] robertmesserle opened #7955 "bug(autocomplete): dropdown menu is too tall when only one result is present"
Working on recreating the issue in a CodePen, will add more details.

HTML
[code]

[2016-04-08 19:43] topherfangio opened #7956 "build: NPM deprecations"
I just cloned the repo and reinstalled all NPM modules and was met with the following warnings about deprecated plugins.

We should investigate and see if we can upgrade these

[code]

[2016-04-08 19:55] crisbeto commented on #4940
Well I tried looking into it a bit, it's not the animation that's causing the performance issues, but there's a lot of layout thrashing going on inside of loops. Here are a couple of cases where it happens:

https://github.com/angular/material/blob/release/1.1.0-rc2/src/components/tabs/js/tabsController.js#L497

https://github.com/angular/material/blob/release/1.1.0-rc2/src/components/tabs/js/tabs

[2016-04-08 20:06] betorobson opened #7958 "Floating Input Label disappears on iOS + Cordova"
I'm developing an app based on Cordova and I got a strange behaviour on iOS.
After an input get focus the related floating label disappears.

Here a screen record demonstration:
![angularfloatinglabel-ios-bug](https://cloud.githubusercontent.com/assets/13212208/14395936/1a929a32-fdab-11e5-804d-715c8f2b504b.gif)

And here a codepen code similar to what I have here.
https://codepen.io/betorobson/pen

[2016-04-08 20:27] iamaaron opened #7959 "Disabling Theming?"
I do not have an interest in using the theming provided by Angular Material via **$mdThemingProvider**. I'd rather control the styles of the page through CSS, which is where it should be. I have tried creating a custom palette to define my color scheme, but I notice that onHover for certain elements, Angular Material decides that it wants to create it's own colors.

I saw this issue: https://githu

[2016-04-08 20:37] abodelot commented on #5150
You can also set the 2nd argument for position-mode to `bottom`, which is much cleaner as you don't need to specify the target height.

`<md-menu md-position-mode="target-right bottom">`

[2016-04-08 21:37] ThomasBurleson commented on #7959
Try this...

[code]

[2016-04-08 21:39] ThomasBurleson commented on #7956
👍

[2016-04-08 21:40] iamaaron commented on #7959
Thanks!

[2016-04-08 21:44] robertmesserle opened #7960 "bug(list): clickable list items do not have a focus state"
Seen on https://material.angularjs.org/latest/demo/list in List Controls demo section.

[2016-04-08 21:50] ThomasBurleson commented on #4940
Pagination features have caused significant problems with Tabs. I wonder if we should supported a `md-pagination-disabled` attribute.

Material1 Tabs (tab-body-content areas) are not intended to have complex areas. If you experience perf issues with lots of tabs and non-trivial tab content, you should try this:

* use a single external content to represent the current select tab content area
* use

[2016-04-08 21:59] BobKlaas commented on #4940
@crisbeto We resolved our IE issues by using Angular Material v1.0.5 with AngularJS v1.5.3. Before we were using AngularJS v1.0.6 and it seemed to give us performance issues.

[2016-04-08 23:23] robertmesserle commented on #7955
@ThomasBurleson This will have to go in before RC3 - will update when I am able to reproduce the issue.

[2016-04-08 23:23] robertmesserle commented on #7960
@ThomasBurleson I imagine this should be pretty low effort, but needed for RC3

[2016-04-08 23:24] richieforeman commented on #7959
Would absolutely love for this to be officially supported by Angular Material.  We're finding that the Angular Material stylings have bit us a few times as thing shift around.

[2016-04-08 23:34] ngraef commented on #6086
Here's a directive I threw together as a workaround until there's a proper fix. Note this also fixes #5938.

[code]

[2016-04-08 23:35] richieforeman commented on #7447
It seems Angular Material 1.2 makes this even worse by setting the height on images to 100%

It seems like md-card is written for the use cases in the demo, and not necessarily as a "generic card"

[2016-04-09 01:31] dalu commented on #3420
Ok. How do you get a menu or navigation with ripple effect as in ng-click="null" and full fill different background color when the link is active?
Don't overcomplicate it. How do you do it?
I've been wasting 3 days now on this, what should've been a quick prototype I'm still stuck at navigation. Something that's done in an hour at most.
Where are ngmaterial's means to build navigation out of the b

[2016-04-09 05:20] flick36 commented on #2112
Hi, sorry to revive this issue, but in that link it says that the toolbar should be 56px: wich is what i want, but the default in angular material is 64px, so... i think that's wrong?

[2016-04-09 06:04] cornerbodega commented on #6599
+1

[2016-04-09 06:06] samithaf commented on #7417
+1

[2016-04-09 08:32] solomongracio opened #7962 "mdToolTip with mdFabSpeedDial : mdVisible not working after hovering the action item"
Hi,

I am trying to implement a speed Dial implementation with tooltips. I want to make all the tooltips of the actions to visible when the speed dial opens. I achieved this with md-visible =true  in tooltip as mentioned in fabSpeedDial demo.

But the problem is once the action item is hovered , tooltip for that item is not visible even when  md-visible attribute is set to true. I found the same p

[2016-04-09 08:33] DevVersion opened #7963 "a11y: dialog is always restoring focus."
The dialog is currently always restoring the focus when it's closing.

[code]

This is a weird behavior, when clicking for example on a list-item which opens a dialog as an action.
So if the dialog is closing, then the focus will be restored back to the button inside the list-item, which triggered the `ngClick` action.

This causes the button, to have a focus effect, which shouldn't be. We're only

[2016-04-09 08:46] DevVersion commented on #7946
Yes, it seems like this video requires a paid subscription?

[2016-04-09 08:53] DevVersion commented on #7944
@mdenburger I can reproduce your issue.

This is because we're validating `textContent` and `htmlContent` in the `onShowing` function, which has been overridden by your custom options.

I suggest, moving the validation down to the `onShow` function, this will allow developers to use the `onShowing` function probably.

https://github.com/angular/material/blob/master/src/components/dialog/dialog.js#

[2016-04-09 08:57] DevVersion commented on #7937
@jsiegmund This is not how the list item should be used.

- The switch is always toggling, because it's tracked as a proxy element.<br/>
  This is a default Material Design behavior.

Proxied Elements are:
`md-switch` and `md-checkbox`.

[2016-04-09 09:50] DevVersion commented on #6559
@craigsnyders Indeed, this seems to be a Chrome Bug.

- https://bugs.chromium.org/p/chromium/issues/detail?id=157218
- http://jsfiddle.net/laukstein/bhmka/3/

[2016-04-09 12:06] richtier commented on #2777
@kasajian [see here](https://richardtier.com/2015/06/28/angular-material-design-custom-build-include-only-the-parts-you-need/)

[2016-04-09 12:57] ThomasBurleson commented on #7937
@DevVersion - if I understand the reported issue, it appears to be a valid bug. Clicking or dragging a switch should ONLY affect the enabled switch. The events should not propagate to parent containers; unless the `md-switch` is disabled.

[2016-04-09 13:00] ThomasBurleson commented on #7946
It appears that only the Pluralsight Introduction is free. I will modify the docs to indicate that only the Egghead.io videos are free.

[2016-04-09 13:04] icenold commented on #7908
BUMP

[2016-04-09 13:33] jayeshanandani commented on #7955
This could be related to #5611 and #6668

[2016-04-09 13:56] jsiegmund commented on #7937
@ThomasBurleson it's not clicking / dragging the switch, but dragging the slider. That toggles the switch in the same list item. When you replace the list item with a div, everything behaves as expected.

[2016-04-09 14:42] DevVersion commented on #7937
@ThomasBurleson Clicking or dragging is only affecting the switch, as expected.

- See the `Clickable Items with Secondary Controls` demo [here](https://material.angularjs.org/HEAD/demo/list).

[2016-04-09 15:14] DevVersion commented on #2949
Fixed with SHA 32ba92f

[2016-04-09 15:14] #2949 closed

[2016-04-09 16:36] #7946 closed

[2016-04-09 16:37] smbowler commented on #2440
+1 any update?

[2016-04-09 16:41] ThomasBurleson commented on #7937
@DevVersion - I strongly disagree. Switch and Slider should not trigger the other's listeners.
See PR #7966.

[2016-04-09 19:47] okev commented on #2727
+1

[2016-04-09 22:31] ashwinputhige commented on #5043
Please add a way to disable manual entry of dates.

[2016-04-10 03:23] adam-s commented on #6440
+1 Not sure what the solution is here.

[2016-04-10 03:24] adam-s commented on #6872
+1

[2016-04-10 03:29] sdesmond commented on #7731
Definitely need to know if they clicked a button or backed out with click outside or escape.

[2016-04-10 04:39] thanhtruong0315 opened #7968 "Setup multiple themes from json file"
Dear,
Multiple themes is good feature in material. In my project, I have to load Palette color from Json files. But I did not find any solution for that. This is my code:
[code]

I got error when I used $http in angular.config. May you help me to resolve my issue?
Thanks so much.

Thanh Truong

[2016-04-10 07:32] Nextt1 opened #7969 "Right Sidebar Scroll Bar Problem"
Left sidebar wokrs as desired but whenever I use sidebar on right side and I open that sidebar scroll bar appears on the bottom. It should work smoothly as it is working on left sidebar. Here is the same example which is provided in angular material design docs.

http://codepen.io/next1/pen/NNyqYN

[2016-04-10 09:24] icenold opened #7970 "Is there a way to enable keyboard-input on md-select? like a combobox"

[2016-04-10 10:25] mamluka commented on #6214
+1

[2016-04-10 10:39] joerideg commented on #3420
Hey @topherfangio,
See [here)](https://www.google.com/design/spec/layout/structure.html#structure-side-nav) and [here](https://www.google.com/design/spec/components/lists.html#lists-specs) for an example of what seems to be an active list item. It is true it is not mentioned specificly but the visuals show it.

[2016-04-10 12:32] Aniltilanthe commented on #3906
+100

[2016-04-10 13:31] rhumbus commented on #7012
The root of the problem here stems in the particular CSS propery that is added to the actions toolbar when open.

If you look in[ fabToolbar.js](https://github.com/angular/material/blob/master/src/components/fabToolbar/fabToolbar.js), line 138:
`toolbarElement.style.pointerEvents = 'initial';`
The md-toolbar element is targeted to receive the css property `pointer-events` with the value `initial`

[2016-04-10 15:41] shrutiaggarwal3012 commented on #3401
+1

[2016-04-10 17:27] djfd commented on #7404
hi,

recently got  faced with this too. After looking to the code I think that DateLocaleProvider's ```defaultFormatDate``` and ```defaultParseDate``` are inconsistent: if we do use ```toLocaleDateString()``` in formatter then we also need to use ```fromLocaleString()``` when parsing user input :D

I know, there is not such function [yet] and ```new Date()``` expects standard formatted date, so we

[2016-04-10 17:51] crisbeto commented on #7404
Yeah, I mentioned this in https://github.com/angular/material/issues/7456. If your default locale date format can't be parsed by `new Date`, then the value being set will be invalid. I've tried looking into this and it could be worked around relatively easily by having a test that checks which position the day, month and year are in, but I'm not sure how this would work with locales that don't use

[2016-04-10 18:05] djfd commented on #7404
@crisbeto
why to embed i18n support to the core? strip it off from there, everybody who needs localization can use some means to achieve that

eg. there can be default @mdDateLocaleProvider init part in the material library checking if angular's core i18n library present and taking the proper formats from there, defaulting to no ```no-locale```

[2016-04-10 18:15] crisbeto commented on #7404
Well the the method for formatting the date can be overwritten, however I'd say that it makes sense that we shouldn't try to assume the date formatting. I'll take care of it.

[2016-04-10 20:49] adityashedge opened #7971 "Autocomplete force text to uppercase"
How can I force the text entered in the autocomplete to be uppercase only?

I can do this for an input by writing a directive with a parser. I will set the value to uppercase with '$setViewValue' which will get set on the ng-model(model controller in directive).

how can I do it with material autocomplete since there is no ng-model? I want all the text to be uppercase only.

[2016-04-11 03:24] icenold commented on #7908
BUMP

[2016-04-11 05:14] ndkcha commented on #6025
Is it working ?

[2016-04-11 05:17] jeson114 commented on #6820
#6048
https://github.com/angular/material/issues/6048#issuecomment-174176247
the error is reproduced here by @Undrium

[2016-04-11 06:54] icenold commented on #7908
BUMP

[2016-04-11 07:53] joerideg commented on #3420
More examples at http://www.google.com/design/spec/patterns/navigation.html

[2016-04-11 08:43] mohsinmuzawar commented on #6820
@Undrium has already created this plunk which demonstrates this issue . @DevVersion @ThomasBurleson  Have a look

http://plnkr.co/edit/8fgPvsNA5YDgKC9DDYKs

#6048

[2016-04-11 09:01] R-Kurbatovvakoms commented on #6820
@claudiozanin thanks, your solution works for me despite it strange look.

[2016-04-11 09:42] icenold commented on #7908
BUMP

[2016-04-11 09:46] icenold commented on #7908
BUMP

[2016-04-11 10:28] EricBorlandAGS opened #7974 "Virtual Repeat & ng-init not working properly"
Hi all.
First of all thank you very much for all your work, angular material is an awesome and very useful product that helps us a lot.

I am trying to use the md-virtual-repeat right like I would with the ng-repeat. In the documentation it says is a "limited" component and that "Track by, as alias, and (key, value) syntax are not supported". However, it does not say anything about ng-init.
In my

[2016-04-11 12:04] AntonKL commented on #3318
+1. We face the same problem

[2016-04-11 12:32] Misiu commented on #5241
+1

[2016-04-11 13:16] aviyi opened #7975 "angular materiel 1.0.7 - md-bottom-sheet click on backdrop (md-backdrop) don't close the bottom sheet"
This It happens because md-bottom-sheet-backdrop class on md-backdrop become with _md-backdrop.(underscore)
its angular-material.js at line  6407

[2016-04-11 13:31] jordanchapian commented on #1106
+1

[2016-04-11 13:51] antoinebrault commented on #6992
Any plans on fixing this?

[2016-04-11 14:41] e-oz opened #7976 "md-list-item: flex filler for secondary container breaks layout"
and it breaks layout.

Codepen: http://codepen.io/evgeniyoz/pen/pyaWoj?editors=1010
Chrome 50.0.2661.66 beta (64-bit),
Safari 9.1
Firefox 45.0.1

Screenshot:
<img width="1280" alt="screenshot 2016-04-11 17 38 39" src="https://cloud.githubusercontent.com/assets/526352/14431048/91447dc2-000c-11e6-892e-e9733cb57426.png">

[2016-04-11 14:54] #7376 closed

[2016-04-11 14:54] #7960 closed

[2016-04-11 15:01] e-oz opened #7977 "md-list-item: buggy behavior in Firefox when layout=column"
Codepen:
http://codepen.io/evgeniyoz/pen/WwMZEQ?editors=1000
Firefox 45.0.1

Width 1280px:
Caption of the button is empty and button is not rendered at all (awesome, lol).
<img width="1072" alt="screenshot 2016-04-11 17 56 29" src="https://cloud.githubusercontent.com/assets/526352/14431688/76c19b6c-000f-11e6-8ef3-385baf5fbe0c.png">

Width 1250px (and lower):
now button is here but still without ca

[2016-04-11 15:15] Lordnoname commented on #7977
I think that using `layout="column"` isn't recommended to be used in md-list-item. You can fix ur issue by removing the flex boxes from the div element.

[2016-04-11 15:20] e-oz commented on #7977
Any links to documentation to prove it, @Lordnoname ?

[2016-04-11 15:23] DevVersion commented on #7977
@e-oz Your markup seems not really structured, you're placing a column layout inside a column layout.
Additionally, when trying to have multiple text lines inside the list-item, you should apply the recommended classes like `md-3-line`, where three lines is the maximum, which has been mentioned in the specifications. ([Here](https://www.google.com/design/spec/components/lists.html#lists-usage))

!

[2016-04-11 15:25] srinivasmangipudi commented on #5335
I am neither able to set or remove focus from mddialog input element on mobile browsers. When the dialog is shown it randomly focuses on any one element, during which time the keyboard tries to come up and the dialog repositions,but then the focus goes away and the keyboard disappears and the dialog stays without focus.

So the whole interaction is very jerky currently. is there a fix for either f

[2016-04-11 15:31] e-oz commented on #7977
@DevVersion my markup is structured, don't worry, it's "row" on mobile and "column" on wider screens, so all your assumptions are wrong. And md-line-3 has 0 effect to disappeared button, so please don't use words like "you should" when you just guess.

[2016-04-11 15:40] DevVersion commented on #7977
@e-oz I'm sorry if I this sounded to strong. Your demo is just showing two column layouts inside of each other - So I'm not able to look into your complete code, which shows the correct behavior of your issue..

The `md-3-line` class was not just guessed, it's was an ascertainment, since your demo shows, that you try to show three lines of texts in a column row.

[code]

About the disappearing but

[2016-04-11 15:46] e-oz commented on #7977
@DevVersion it is 1 line of text. 3 columns in row, but still 1 line of text.

Codepen is enough to reproduce bug. Bug is not related to text at all.

are you member of AngularMaterial team? It's not obvious from your github profile and you don't have "collaborator" label.

Funny enough. Thanks for trying to help, anyway.

[2016-04-11 15:53] verkestk commented on #5439
👍  seeing this too - specifically on Chrome 49.0.2623.110 (64-bit) on OSX.

[2016-04-11 15:54] DevVersion commented on #7977
@e-oz

This was not clearly described in your issue description.
Since all three text lines are overlaying itself, I associated it with the `layout="column"` issue.

The collaborator label has been removed since some months.

I'm pinging @topherfangio to hop in.

[2016-04-11 16:07] verkestk commented on #5439
We see it consistently on OSX chrome when zooming out one stop.

[2016-04-11 16:09] yoav-zibin opened #7978 "Just adding ngMaterial module changes the behavior of event bubbling somehow"
(From a googler ldap yzibin@ :))

This bug happens only on mobile when you have some element (e.g., a FAB) over an iframe, and clicking on the FAB hides it.
The click shouldn't pass to the iframe behind it (because the FAB received it), but somehow (only when ngMaterial is included!) the click passes to the iframe.

I create this example to show it:
http://yoav-zibin.github.io/emulator/examples/ng

[2016-04-11 16:11] Xorok commented on #1647
Hello, I'm experiencing a bug similar to this one on the newest version. I'm trying to create a website that uses ngRoute with a simple templateurl to load the different subpages into the main view. The sticky subheader works more or less like it should on all browsers when the subpage-code is pasted directly in the main site (so as one document), but as soon as you put it into a different file an

[2016-04-11 16:11] mpiasta-ca commented on #7931
[I can open the demo in IE 11](https://material.angularjs.org/latest/api/directive/mdInput) and error messages appear without any problems.

You will need to post a codepen/plnkr to demonstrate the specific error in your use case.

[2016-04-11 16:12] kumaro commented on #2446
+1

[2016-04-11 16:14] wembernard opened #7979 "md-datepicker: annoying usage and suggestions"
(TL;DR: skip to the suggestions below)

### Use case

I'm using `<md-datepicker ng-model="profileCtrl.birthday"></md-datepicker>`.

But since it's linked to an API, I'm using `ngResource` and have `<md-datepicker ng-model="profileCtrl.user.birthday"></md-datepicker>`

But since `md-datepicker` requires a Date object, I must do this kind of stuff in my `profileCtrl`:
[code]

And since I'm using `ng

[2016-04-11 16:14] e-oz commented on #7977
@DevVersion

Read text near screenshots.

Not always, see first screenshot.

I don't think so:
https://developer.github.com/v3/repos/collaborators/
Example: https://github.com/isaacs/github/issues/605

[2016-04-11 16:15] #7687 closed

[2016-04-11 16:25] hectorgr opened #7980 "mdChips without angular.copy, problem in other variables"
When I assign manually a value to md-chips and others variables, the rest of variables are modified when md-chips is modified.

For example:

**`chipsModel = foo`**
`var1 = foo`   <--This is modified when chipsModel is modified _(for my code is a problem)_
`var2 = foo`   <--This is modified when chipsModel is modified
`varX = foo`   <--This is modified when chipsModel is modified

This does not ha

[2016-04-11 16:32] peio72 commented on #7931
Could you mail me so I can show you on live app.

[2016-04-11 16:42] topherfangio commented on #7977
@e-oz Firstly, let me confirm that @DevVersion is indeed a member of our team and that he is attempting to help. Regardless, we would ask that you be respectful, and even gracious, to anyone (a team member or not) that responds to your issue in an attempt to help and realize that

1. Not everyone has the same development skills as you,
2. nobody knows your exact situation, so we all have to extrap

[2016-04-11 16:43] #7483 closed

[2016-04-11 16:43] #7959 closed

[2016-04-11 16:54] e-oz commented on #7977
@topherfangio so I guess that rule (about being respectful) is applied to you also - so please cite where I was not "gracious".

It's not mentioned in your docs:
https://material.angularjs.org/latest/demo/list
https://material.angularjs.org/latest/api/directive/mdList
https://material.angularjs.org/latest/api/directive/mdListItem

And it speaks a lot about quality of your product.

It's forked cod

[2016-04-11 17:03] e-oz commented on #7977
First of all, I don't need workaround, don't waste your time. It's 5000+ locs (in templates) app, and applying workarounds for each case will be just not effective usage of time. It's intranet app and we can force users to use Chrome, but for other (possible) users of AngularMaterial it would be useful to solve presented bugs, especially about button rendering.

What I'm trying to achieve in this

[2016-04-11 17:15] zanemcca opened #7981 "fabSpeedDial: Spacebar not working when fab is open"
For some reason the speedDial will prevent spaces from being pressed when it is open.

The offending [line](https://github.com/angular/material/blob/master/src/components/fabSpeedDial/fabController.js#L192) of code. Removing this line takes care of the issue.

There was a PR for this issue that was closed before. I am not sure why.

[2016-04-11 17:29] DevVersion commented on #7975
Hey @aviyi - I just took a look at your issue and I'm not able to reproduce this on the latest release. Can you provide us a demo or show us what bottomsheet options you're using?

[2016-04-11 17:31] ThomasBurleson commented on #7977
@e-oz - We have plans for a significant improvement to the the Layout implementations... but those will not be available until at least Q3. Nevertheless, we would welcome your improvements (via Pull Requests) to our Layout  (flexbox) engine.

[2016-04-11 17:33] topherfangio commented on #1647
@Xorok Since this issue is already closed, could you paste this info into a new issue and just reference this one?

Also, if you can provide a Codepen that demonstrates it, it would be super-helpful in us tracking it down. Feel free to ping me in the issue and I'll take a look at it.

[2016-04-11 17:34] z3ntu commented on #1647
@topherfangio I am working with @Xorok on this project and the complete code is available here: https://github.com/MadeInSpengergasse/Honeypot/tree/master/static

[2016-04-11 17:37] robertmesserle commented on #7955
@jayeshanandani It could be, but I think it's a separate issue from those.  This has come up before and I thought it was resolved at some point.

[2016-04-11 17:45] mohsinmuzawar commented on #1217
+1 hope this is added to the next release

[2016-04-11 17:53] #7977 closed

[2016-04-11 17:54] maximivanov opened #7982 "virtualRepeat: change to md-top-index binding not reflected in view"
I make a $http call for data for virtual repeat scroll, in success callback I set both virtual repeat items and scroll top index. Items are rendered but not scrolled to the value set (they stay on default index).

Angular Material version: 1.0.6
Browsers and Operating System: Chrome, Safari, FF on Mac (likely other platforms as well)

Relevant sample code ($http replaced with $timeout, same effect

[2016-04-11 17:57] Xorok opened #7983 "md-subheader sticky bug in Chrome when using ngRoute"
Hello, I'm experiencing a bug similar to the one listed at the bottom of this post, there is also a link to our GitHub repository which contains the code.

I'm trying to create a website that uses ngRoute with a simple templateurl to load the different subpages into the main view. The sticky subheader works more or less like it should on all browsers when the subpage-code is pasted directly in the

[2016-04-11 18:00] Xorok commented on #1647
@topherfangio Ok, you can find the new issue here: https://github.com/angular/material/issues/7983

[2016-04-11 18:01] e-oz commented on #7977
I impressed how you solved this issue and especially bug with button rendering. Thank you for awesome work!

[2016-04-11 18:21] yoav-zibin commented on #7978
BTW, I found a better workaround for the bug: to animate hiding/showing the FAB button (instead of using $timeout to hide it)
E.g., see animating ng-if: https://docs.angularjs.org/api/ng/directive/ngIf#animations

[2016-04-11 18:25] topherfangio commented on #7981
@zanemcca I am fairly certain that the PR was closed because the fix was merged. The line you point to above has to do with the ESCAPE key.

Are you using the latest version?

[2016-04-11 18:33] robertmesserle opened #7984 "bug(select): label showing up twice"
![image](https://cloud.githubusercontent.com/assets/571363/14438075/1880c3c4-ffd9-11e5-9d3a-195936fec1f4.png)

"The double text shows up when we change the tabs in the same card, but it disappears immediately if I click anywhere else on the page. Changing the tabs should not affect the value in the menu."

[2016-04-11 18:35] topherfangio commented on #7980
This is the intended behavior. In this case, when you set the `chipsModel` to `foo`, it gets passed by reference so that the chips component can keep it up-to-date. Anything that is also using that same reference (`foo`) will be updated accordingly.

When you use `angular.copy(foo)` this works because you are creating a new object and passing it (again by reference) to the chips model. It is still

[2016-04-11 18:35] #7980 closed

[2016-04-11 18:41] robertmesserle opened #7985 "bug(button): buttons are showing up with hover states when not hovered"
![image](https://cloud.githubusercontent.com/assets/571363/14438304/4280f4a4-ffda-11e5-9231-086f2d958f10.png)

[2016-04-11 18:43] robertmesserle opened #7986 "bug(theme): md-toolbar flashes with different theme color when page loads"

[2016-04-11 18:47] robertmesserle opened #7987 "bug(input): placeholder text inside toolbar is difficult to read"
![image](https://cloud.githubusercontent.com/assets/571363/14438514/58ecd2d4-ffdb-11e5-9175-e693af3829d2.png)

HTML:

[code]

[2016-04-11 18:48] topherfangio commented on #7974
Thanks for the kind words!

This is indeed due to the DOM recycling. I'm going to reach out to the original developer to see if this can be easily added. If so, we'll try to get it in one of the upcoming minor releases; otherwise, we'll make sure to update the docs to note that it doesn't work with `ng-init`.

[2016-04-11 19:04] topherfangio commented on #7971
Not sure if this will work for you, but you can use the `md-search-text-change` property to update the search text with the uppercase value:

http://codepen.io/topherfangio/pen/VaQQjB?editors=1010

Let us know if that doesn't work for you and we can reopen.

[2016-04-11 19:04] #7971 closed

[2016-04-11 19:07] topherfangio commented on #7970
Not sure what your use-case is, but you may be interested in the following PR which we plan to merge soon: https://github.com/angular/material/pull/7782

If you can provide a bit more info, we can provide a better answer :smile:

[2016-04-11 19:19] topherfangio commented on #7969
Appears to be a duplicate of #5861. Please comment if it is different and we will reopen.

[2016-04-11 19:19] #7969 closed

[2016-04-11 19:28] topherfangio commented on #7968
Unfortunately, the `config` phase of Angular happens before the services (like `$http`) are instantiated. That is why `$http` is not available and only Providers are available.

I had a similar issue a while back and wound up using jQuery's `$.get()` method to make the request because we were already using jQuery in the project as well. If you don't have jQuery available, you may need to make your

[2016-04-11 19:28] #7968 closed

[2016-04-11 19:29] topherfangio commented on #7962
I believe this is a duplicate of #7300. If not, please comment and I can reopen.

[2016-04-11 19:29] #7962 closed

[2016-04-11 19:34] topherfangio commented on #7958
This is likely related to #5707 for which we have not found a great fix yet.

What exactly does your CSS fix do? It looks like it disables the transforms?

[2016-04-11 19:43] zanemcca commented on #7981
@topherfangio You are absolutely correct. Sorry about that I should have checked my version first.

[2016-04-11 19:43] #7981 closed

[2016-04-11 20:06] lazychino commented on #7968
@thanhtruong0315 check this out https://github.com/angular/material/issues/5502#issuecomment-189627192

[2016-04-11 20:12] GuilhermeGoncalves commented on #1928
I'm getting same error with angular-material 1.0.7.
In the screenshot, I copied an pasted the code in documentation and got it..
![screenshot](https://cloud.githubusercontent.com/assets/5985312/14440850/470ec41e-0008-11e6-8318-1509c6a71764.png)

[2016-04-11 20:24] robertmesserle opened #7988 "bug(select): select menu should not be underlined"
In RC2, `md-select` menus are now underlined.  This is breaking a number of layouts and does not appear to be according to spec.

[2016-04-11 20:34] topherfangio commented on #7948
Can you please provide a Codepen which demonstrates the issue?

[2016-04-11 20:36] topherfangio commented on #7981
No worries! Glad it's working!

[2016-04-11 20:47] ryan-kimber commented on #7908
Take a look at md-autocomplete. You should be able to accomplish what you're looking for.

[2016-04-11 21:17] zanemcca commented on #6331
I have a similar issue except it is due to my trigger button having a clear background. So in the image below the plus icon is the trigger button and as you can see all of the action buttons are visible behind it.

![screen shot 2016-04-11 at 5 14 45 pm](https://cloud.githubusercontent.com/assets/3848969/14442660/fce3fbd8-0008-11e6-9ef9-2610241f8367.png)

This is a regression as it was working fin

[2016-04-11 21:27] achuinard opened #7990 "md-datepicker binds to an actual Date object, not simply a month / year / day of month"
In comparison to something like Android's DatePicker, why does the md-datepicker bind to a Date? This is causing a bit of extra overhead, especially when you consider timezones. I'm guessing the md-datepicker uses the system timezone? My app users can choose from a host of different timezones, so it's not always about the browser timezone.

Shouldn't the md-datepicker be concerned with just a day

[2016-04-11 21:34] topherfangio commented on #3420
@joerideg Thanks for the additional pointers.

@dalu Here is a quick Codepen that I put together to demonstrate how to do it: http://codepen.io/topherfangio/pen/EKQELJ?editors=0100

If you want to also change/remove the grey background on hover, you can uncomment the CSS at the top. I'll grant that this is definitely a bit ugly to have to add and we can perhaps make a fix for this, but otherwise,

[2016-04-11 22:04] topherfangio commented on #7012
@rhumbus Thanks for taking the time to track this down some more! Can you do a quick test and see if changing it to `auto` works on the other browsers as well? For some reason, I was thinking I had `auto` and switched it to `initial`, but that was so long ago that I don't remember.

If that works, would be be willing to submit a PR so that we can get it merged/fixed?

[2016-04-11 22:09] betorobson commented on #7958
Indeed, I disabled css transform and I created a transition top. Also, it changes font size.

After a fews tests on iPhone device its looks perfect as a workaround.

I forget to mention that only happens applying KeyboardShrinksView=true on Cordova config.xml.

[2016-04-11 22:15] kerbrat-quod opened #7992 "Inconsistent mdDialog behavior on Safari vs Chrome"
Hi!

I have a problem when using mdDialog and a custom directive.
On Safari (OS X and iOS) our directive is not shown, but on Chrome (Windows and Android) it is displayed.

Can someone help us figuring out what I do wrong with my code or with the mdDialog API?

Thanks,

Here is my code and some screenshots:

Controller file:
[code]

```addItemToWatchlist.html``` file:

[code]

```<listing-research

[2016-04-11 23:51] neko1235 opened #7993 "mdCheckbox: Memory leak"
The event handler [in checkbox.js](https://github.com/angular/material/blob/v1.1.0-rc2/src/components/checkbox/checkbox.js#L85) is leaking.
[code]

[2016-04-12 00:44] icenold commented on #7970
actually my goal is to make a combobox

[2016-04-12 01:00] icenold commented on #7908
it doesnt have a dropdown button

[2016-04-12 01:17] neko1235 opened #7994 "mdAutocomplete: Memory leak"
The event handler in [autocompleteController.js](https://github.com/angular/material/blob/v1.1.0-rc2/src/components/autocomplete/js/autocompleteController.js#L72) is leaking.
[code]

[2016-04-12 01:59] icenold commented on #7908
Nevermind..as a last resort I needed to add a custom CSS for the dropdown.
[code]

[2016-04-12 02:02] neko1235 commented on #7994
I don't know if this is related, but [this line](https://github.com/angular/material/blob/v1.1.0-rc2/src/components/autocomplete/js/autocompleteDirective.js#L182) seems to also cause a leak.
[code]

[2016-04-12 02:48] scotttompkins commented on #1054
+1

[2016-04-12 04:37] achuinard commented on #4636
Thanks to a great direction from @altsel I have expanded his directive to include 2 features:

1) Specify your app / datepicker's timezone through an ng-attr-timezone
2) Bind to a millisecond epoch instead of a JavaScript Date object (was very useful for my Firebase application)

`    .directive('timezonedDate', function () {
        return {
            require: 'ngModel',
            restrict: '

[2016-04-12 05:09] Nextt1 opened #7995 "md-select not align properly using layout-align"
`md-select` is used inside `md-inut-container`.

http://codepen.io/next1/pen/QNQBYr

![md-select-bug](https://cloud.githubusercontent.com/assets/7522749/14450288/b8a1d214-009a-11e6-8863-3d8803db8d65.png)

In default layout-align it works fine. But Since `input` and `md-select` both are used in `md-input-container` they should align in all the cases.

[2016-04-12 05:59] samithaf commented on #5182
+1

[2016-04-12 07:03] HosseinMoradiDavijani commented on #1078
This solved my issue:
[code]
and:
[code]

[2016-04-12 07:08] EladBezalel commented on #1078
@HosseinMoradiDavijani it seems like a PR material, we will really appreciate it if you would!

[2016-04-12 07:21] EricBorlandAGS commented on #7974
Thank you very much @topherfangio !

I could workaround but this could be a good feature to have a md-virtual-repeat less "limited".

If anyone is interested in the workaround (you may be warned, is a very ugly one) when, like in my case, a rollback to an ng-repeat is not possible, here we go: http://codepen.io/anon/pen/JXpaVJ

What I did is to make sure the init function to execute returns undefi

[2016-04-12 07:45] Senthe opened #7996 "md-list-item: should have option to disable wrapping in button when it has ng-click, ng-href or other similar attribute"
I need something like this:
`<md-list-item ng-click="something()"> ... </md-list-item>`

But it is compiled to:
[code]

Relevant part of code:
[code]

This wrap shouldn't be forced. I think it should be possible to turn off wrapping or at least make the wrapper a div, not a button. This right now causes layout issues (md-list-item can be quite a big element of the page containing a lot of stuff) a

[2016-04-12 08:27] SAM-BI opened #7997 "Splash screen hides an important Dialog"
Helllo all,
because of the "z-index: 99999" of the spash-screen, the user can not react of an important dialog in my app as it is shown here:
![splash screen hides an important dialog](https://cloud.githubusercontent.com/assets/7966340/14454028/96b12fee-0098-11e6-91a1-3c5a32bb00f6.png)

If the user does not click of one of the 2 buttons, he will not be redirected to the next state and stays blocke

[2016-04-12 08:45] SAM-BI commented on #7997
I have resolve it by calling $rootScope.$broadcast('msSplashScreen::remove')

[2016-04-12 08:45] #7997 closed

[2016-04-12 08:46] cmacdonnacha opened #7998 "<md-chip> Enchancement: Allow for some chips to be "read-only""
We can have non read-only chips:

![image](https://cloud.githubusercontent.com/assets/9777763/14454538/fa5bceec-0092-11e6-9034-58b2795af3b5.png)

and we can have read-only chips:
![image](https://cloud.githubusercontent.com/assets/9777763/14454543/0224febe-0093-11e6-9f68-9d4f0ac2b22a.png)

But we have some use cases for the ability to have both. Something like this:
![image](https://cloud.githubus

[2016-04-12 08:48] crisbeto commented on #7994
Could you provide some more info? I'm not seeing how this could be causing a leak.

[2016-04-12 08:49] crisbeto commented on #7993
I'm not sure how this would cause a leak. Could you provide more info or a way of reproducing the issue that you're having?

[2016-04-12 08:57] SAM-BI opened #7999 "How to give badge's content a not static value"
Hello all,
in Fuse-demo there are 2 examples (mail & todo) of using a notification icon in a navigation-item:
`msNavigationServiceProvider.saveItem('app.module', {
            title    : 'Module',
            icon     : 'icon-checkbox-marked',
            state    : 'app.module',
            **badge : {
                content: 2,
                color  : '#F44336'
            }**,
            tra

[2016-04-12 09:02] bernizt commented on #5380
+1

[2016-04-12 09:04] SAM-BI opened #8000 "Add an item to the Navigation with a condition"
Hello team,
is it possible in the current version of Fuse to show or hide a navigation-item depending on some conditions: like user is logged in or not, a checkbox is selected or not, ...

Thanks!

[2016-04-12 09:30] david-gang commented on #7540
Hi @topherfangio ,
Is the fix of the attribute selectors also included in the version 1.0.7?
If yes, then it is not the whole story, as it works much slower than 1.0.5.

Thanks,
David

[2016-04-12 10:20] Latrisha commented on #7948
[It's something like md-menu-bar demo.](http://codepen.io/Latrisha/pen/NNyOmr) And I understand, that it's regular behaviour when submenu is opened on hover, but it's a little bit unconvinient for my needs. And there is problem with it on smartphone. When I open one of submenus and then try to open another one, the second one dosen't close. It's seen on attached screenshot.

![screenshot_9](https:

[2016-04-12 10:24] tychay commented on #3744
I think this should be re-opened. In 1.0.7 (tested), the above code, clicking on "Three" will execute action three AND action one, while clicking on "Two" will execute action two only.

[2016-04-12 11:41] aviyi commented on #7975
Take a look in angular material site  version 1.0.6
https://material.angularjs.org/1.0.6/demo/bottomSheet
compared to 1.0.7
https://material.angularjs.org/1.0.7/demo/bottomSheet
when i clicking on backdrop in 1.0.6 is close the bottom sheet
in 1.0.7 its  does  not  .
in addition  when the bottom sheet are open the backdrop of the bottom sheet does not  cover the sideNav (this sidenav are clickable

[2016-04-12 11:55] mkyukov commented on #2791
So is this solved? I'm still getting that alignment problem and can't seem to find a workaround for it.

[2016-04-12 11:59] wender440 opened #8003 "Error CSS Angular Material CDN version"
I tried to download the Angle Material from version 1.0.6 using the CDN version, however, I found errors in the CSS file, is coming with javascript code with the css.

[2016-04-12 12:01] ThomasBurleson commented on #7977
@e-oz - We closed this issue because you explicitly stated: "First of all, I don't need workaround, don't waste your time...".

[2016-04-12 12:07] e-oz commented on #7977
@ThomasBurleson I created codepen and screenshots for you to demonstrate obvious and awful bugs - you ignored it and closed issue, zeroing my efforts and without any explanations (it's rude). Sarcasm is the most polite reaction in this case.

[2016-04-12 12:07] DevVersion commented on #7975
@aviyi Thanks for the report, I can reproduce your bug on the `1.0.7` release. It seems to be fixed in the latest release (`v1.1.0-rc2`).

- https://material.angularjs.org/1.1.0-rc2/demo/bottomSheet

If you have any further questions, please let me know.

[2016-04-12 12:07] #7975 closed

[2016-04-12 12:11] DevVersion commented on #7977
@e-oz I don't think anyone was zeroing your efforts.

Honestly I felt offended from you, since you **zeroed** my work / help.
I tried my best with helping you, but you were just rude and denied my help.

[2016-04-12 12:13] e-oz commented on #7977
@DevVersion next time try to run code with your suggestions in codepen before suggest "your structure is wrong, go rewrite everything with md-line-3 and maybe everything will be fine".

[2016-04-12 12:24] DevVersion commented on #7996
@Senthe This has been changed recently. It should be a div now.

[code]

The changes are available since `1.0.7`

[2016-04-12 12:46] DevVersion commented on #7955
@robertmesserle I've created a codepen for you.

- http://codepen.io/DevVersion/pen/YqeBPL

[2016-04-12 13:12] joerideg commented on #3420
Ill have a look!

[2016-04-12 13:22] tam3r opened #8004 "md-select possible scope conflict"
There is the following line in select.js:
 `scope.$watch(selectMenuCtrl.selectedLabels, syncLabelText)`

As a result `selectMenuCtrl.selectedLabels(scope)` is executed with every $digest .

Take a look at the selectedLabels definition:

[code]

The issue is that if you have a variable named "mode" on the scope (not an impossible scenario, obviously))), that leads to either mapFn being `undefined`

[2016-04-12 13:26] Senthe commented on #7996
Okay, thank you. I'll upgrade my bower config.

[2016-04-12 13:30] DevVersion commented on #7996
@Senthe Awesome, I will close that issue, since the button is not present anymore. If you have something else related to this issue, and you want me to reopen it, let me know :)

[2016-04-12 13:30] #7996 closed

[2016-04-12 13:43] #4033 closed

[2016-04-12 13:56] dalu commented on #3420
@topherfangio I'm using ui.router and ng-click doesn't work there like this.
It needs an `<a ui-sref="routename">Title</a>`
or
`<md-list-item ui-sref-active="nav-active"><a ui-sref="routename">Title</a>`
but so far only ng-click provides the full width ripple effect.

Then the topnav. I can have a brand or home link and menu items (flex=row or float:left) inside the top navbar and it looks great o

[2016-04-12 14:37] stanslaughter commented on #4251
It's been almost a year.  The Datepicker's current implementation I would place at a broken Beta, or even Gama level of  functionality.  If your users want to select a date that is not in the current month then it is not very usable.

I'd rather not go with a third party work-around.  Has there been any changes ?

Note:  Even the google material design spec page shows left and right month selector

[2016-04-12 14:40] crisbeto commented on #4251
I took over this one yesterday, but I haven't gotten around to looking into it. It's on my priority list.

[2016-04-12 14:46] kcampion commented on #1016
+1 @Berg-it

[2016-04-12 15:00] beny78 opened #8005 "md-select-on-match on md-autocomplete doesn't work properly in case of substring"
Why md-select-on-match select anything if the list contains several elements.

Here is an example of malfunction:
searchText: "Al"
matches: ["Al", "Alabama"]
No item is selected, but searchText matches one item

I have created a codepen. I duplicate the angular material exemple, but I added "Al" in the list of countries. Enter "Al" and click outiside to close the menu. The searchText will be "Al"

[2016-04-12 15:07] DonBranson opened #8006 "Menus don't close when another menu is selected"
This issue is visible at https://material.angularjs.org/latest/demo/menuBar, at least in Linux/Firefox and Android Chrome. To observe it, click in succession on File, Edit, then View. Note that the first two menus are still open along with the third. We could use a fix or a workaround for this.

[2016-04-12 15:08] DonBranson commented on #8006
It does appear to work in IE.

[2016-04-12 15:22] kasajian commented on #2777
That's very nice.   Thank you so much for doing that.

[2016-04-12 15:27] ThomasBurleson commented on #8003
Can you provide more details?

*  How did you download?
*  What was the URL ?

[2016-04-12 15:34] bokzor opened #8007 "Error with md-select and 'multi' option"
I don't have a lot of informations...

I think there is a bug with md-select with 'multi' option.

Some empty options are created and then I have a warning saying that 2 elements can't have the same value (blank)

The problem is with 1.0.0rc2.

No problem with 1.0.7

[2016-04-12 15:37] #8007 closed

[2016-04-12 15:37] jpolo commented on #4746
Same issue for me : it seems that chips are in readonly state only using markup ```readonly="true"```, not ```readonly``` and not ```ng-readonly="true"``` (which actually sets ```readonly="readonly"```)

Angular material version : 1.0.7

[2016-04-12 16:00] Anaphase opened #8008 "(IE11) Floating label does not float when ::first-letter is styled"
If you try to style an input label via it's `::first-letter` selector, the label does not float. This may just be an Internet Explorer quirk, and it's certainly a very niche use case, but maybe there's a workaround?

[See this code pen for an illustration of the bug.](http://codepen.io/Anaphase/pen/XdZQMW)

[2016-04-12 16:30] naomiblack commented on #7977
@e-oz I'm one of the leads on Angular. I wanted to explain why we have closed this issue and locked conversation.

Per the [Angular code of conduct](https://github.com/angular/code-of-conduct/blob/master/CODE_OF_CONDUCT.md), which I recommend you review:
_Communication through any of Angular's channels (GitHub, IRC, mailing lists, Google+, Twitter, etc.) must be constructive and never resort to pe

[2016-04-12 17:19] DerekLouie commented on #7970
I believe this PR will let you achieve that (as well as #7906 which will give you a close example implementation).

Our intent on building these things were for use cases that don't quite fit the autocomplete directive.

Just for the sake of getting an outside developer's POV @icenold (it's always nice to have some external validation when building new components aha), would this new select header

[2016-04-12 17:20] e-oz opened #8009 "bug(list-item): bugs in rendering and aligning child nodes with flexbox in Firefox"
Emotions it's fine, but bugs are still here.
OS X, Firefox 45.0.1:
http://codepen.io/evgeniyoz/pen/WwMZEQ

**Layout=row**: button is not rendered at all, text elements are rendered and aligned ok
<img width="1280" alt="screenshot 2016-04-12 20 15 14" src="https://cloud.githubusercontent.com/assets/526352/14469031/5b21e646-00eb-11e6-8600-26e4a9bb56ba.png">

**Layout=column**: button rendered withou

[2016-04-12 17:54] ram-you commented on #6820
Occurs from the second time I open the dialog.

[2016-04-12 18:02] alexilyaev commented on #5751
+1, very confusing, as you'd expect `rows="5"` to allocate 5 empty rows.
This is essential since you sometimes want to show a big empty textarea so the user gets that they can put in a long message.

[2016-04-12 18:10] opadillaintegrify commented on #6500
@bertomaniac, THANK YOU!   That fix worked for me too.   You saved me a lot of time.

[2016-04-12 18:38] ilovett commented on #7685
The spec does seem to contradict itself.  I've seen in many google apps using the same primary color for both the indicator and the text, so long as the background is white/grey.

Either way, perhaps `md-tabs` can take the class `md-primary` and we can leave it up to the developer.

[2016-04-12 18:54] naomiblack commented on #8009
Hi @e-oz. Thanks for the update and codepen. I'm closing the issue because we have investigated and are convinced that this is not an issue, but a use of the Angular Material Layout API in a way that is outside the scope of what we intend.

@topherfangio noted on the original issue:
_we don't typically recommend using flex inside of the <md-list> and <md-list-item> components as they provide very

[2016-04-12 18:54] #8009 closed

[2016-04-12 18:54] neko1235 commented on #7993
Please see http://jsfiddle.net/neko1235/kgr1ynt4/1/
I can see some elements leaking. Please correct me if I am wrong.
![screenshot from 2016-04-12 11 51 09](https://cloud.githubusercontent.com/assets/13606126/14471829/34a0ede6-00a5-11e6-9f64-6593f0b04b84.png)

[2016-04-12 19:11] crisbeto commented on #7993
Sorry, I don't see it, but I'm not too experienced in these types of situations.

[2016-04-12 19:27] naomiblack commented on #8009
Also, for other folks looking at this issue, we maintain a list of tips for working with flexbox, due to the cross-browser complexities caused by different browser implementations. This is admittedly a tough problem that trips a lot of folks up: https://material.angularjs.org/HEAD/layout/tips

[2016-04-12 19:33] neko1235 opened #8010 "mdGesture: Memory leak?"
Please see https://jsfiddle.net/neko1235/uouudntg/2/
I am using a 3rd party library that attaches itself to those leaking nodes, what results in the whole angular scope tree leaking.
![screenshot from 2016-04-12 12 28 15](https://cloud.githubusercontent.com/assets/13606126/14472984/b858898c-00aa-11e6-9353-ae89ba80bf6c.png)

[2016-04-12 19:54] marcomafessolli commented on #7979
@wembernard, issue #6253 might be related

For now, to resolve this, I've created a parser and formatter that do the job, [https://gist.github.com/marcomafessolli/4b5289fdab5a9790ec32](look)

[2016-04-12 20:06] Frank3K opened #8011 "mdTooltip: $digest already in progress when there are a number of disabled elements"
In Firefox 45.0.1 on Linux I encounter the following issue when loading a page with a number of disabled `md-button` elements, each with its own `md-tooltip`.

[code]

I have tracked down the issue to the following [line 157 in tooltip.js](https://github.com/angular/material/blob/e7f866d9e5f0239fe1b3b93f598bc1185966823d/src/components/tooltip/tooltip.js#L157):

[code]

When there are mutations for

[2016-04-12 20:44] ram-you commented on #6820
I solved my problem with adding the next option to $mdDialog:
  `autoWrap:false,`

[2016-04-12 20:47] clshortfuse commented on #8011
I believe we can change scope.$digest() to angular.noop(). Do you have a codepen we can test with?

[2016-04-12 20:59] robertmesserle commented on #7955
@DevVersion Have you been able to recreate the bug?  I haven't been able to make it happen yet.

[2016-04-12 21:02] DevVersion commented on #7955
@robertmesserle Yes I think so - please take a look with my codepen and confirm.

[2016-04-12 21:02] robertmesserle commented on #7955
@DevVersion I tried the CodePen, but never saw the error occur =\

[2016-04-12 21:04] clshortfuse commented on #7988
Well, sometimes it's underlined, sometimes it's not. I haven't figured out exactly when, but I believe it should be optional.

[material design spec example](https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bzhp5Z4wHba3dUVPRTdfUXlZWnM/components_textfields_single1.png)

The top select isn't underlined, but the bottom one is.

I worked around this by making

[2016-04-12 21:21] donmccurdy commented on #3674
@epelc could you show an example? That approach sounds like it would have unwanted side effects. For example, in the process of typing "Aardvark" I would unintentionally create autocomplete entries for: `A`, `Aa`, `Aar`, `Aard` ...

I think the ideal outcome would not necessarily be adding a new autocomplete entry, but simply treating the input as valid even when it doesn't match anything from the

[2016-04-12 21:29] epelc commented on #3674
@donmccurdy you do not add extra entries you update the search value the autocomplete is bonded to manually in the change handler.

[2016-04-12 21:33] donmccurdy commented on #3674
Oh! In that case I can just do:

[code]

Binding `foo` with `md-search-text` rather than `md-selected-item`. That is easier than I'd thought, thanks.

[2016-04-12 21:33] ilovett commented on #7907
Would be great to have a class to display inline with ellipsis for overflow

[2016-04-12 22:05] ilovett opened #8014 "add `background-contrast` for dark themes"
All other colors have a contrast value, IE: `{{ primary-contrast }}`, `{{ accent-contrast }}`, and `{{ warn-contrast }}`, but no love for background.  I see there is a notion of `{{ foreground-* }}` but these values appear to be hardcoded at glance depending on whether or not the theme is dark, instead of relative to what the background color actually is.

Or foreground colors could actually be ca

[2016-04-12 22:10] #1269 closed

[2016-04-12 22:18] #7445 closed

[2016-04-12 22:18] ThomasBurleson commented on #7445
Not an issue.

[2016-04-12 22:21] ThomasBurleson commented on #2487
Will not fix.

[2016-04-12 22:21] #2487 closed

[2016-04-12 22:23] #7393 closed

[2016-04-12 22:29] neko1235 commented on #7994
This is what I get in my app.
![download](https://cloud.githubusercontent.com/assets/13606126/14477433/b4781cd4-00c2-11e6-9d2c-a7ca0db7d553.png)

[2016-04-12 22:30] ThomasBurleson commented on #2777
Check out the [modules](https://github.com/angular/bower-material/tree/master/modules) which has
`layouts`, `scss`, `compiled css`, and individual components.

[2016-04-12 22:30] #2777 closed

[2016-04-12 23:06] seagomezar commented on #6500
+1  I found the same issue, and I tried the @bertomaniac solution, just putting {zindex: false} in the cssnano gulp process and thats it. Thank you.

[2016-04-12 23:51] NickBolles commented on #1591
This might be nice to include on the `md-swipe-*` directives. It might work a little differently and be another issue though.

[2016-04-13 00:52] ThomasBurleson commented on #7978
@topherfangio - FYI

[2016-04-13 01:00] RolandHeath commented on #7998
In the worst case, you might be able to work around this by providing a chip template in which it is decided based on some attribute whether the chip is read only.

[2016-04-13 04:14] clshortfuse commented on #7898
The previous codepen is based on 1.07

This is against master: http://codepen.io/shortfuse/pen/ZWxYpN

[2016-04-13 05:28] TravisTam commented on #4233
+1

[2016-04-13 05:42] Frank3K commented on #8011
I don't have a codepen at the moment since the scenario seems quite complex (i.e. using a number of disabled elements that are enabled at some point in time). I will test your PR on my current project tonight.

[2016-04-13 06:27] Undrium commented on #6820
@ram-you, I tried your solution but without any avail. Did you change anything else?

[2016-04-13 07:41] fabio-vitali commented on #2795
@zilberas: It not solves the requirement expressed by @haenig (and mine, I'm working with multiple themes)

[2016-04-13 08:31] icenold commented on #7970
thanks for the reply,
I think #7906 is close to getting my answer :+1:
Except my scenario does not need any filtering
The situation is like this:
-the input will have the dropdown items like the one in md-select
-the user however is not restricted to only choose items from the dropdown
-the user can either choose from the dropdown like in md-select OR he also has the freedom to type in his own val

[2016-04-13 08:46] Magador commented on #7728
If I understand correctly, when [jqLite is called to find `md-input-container`](https://github.com/angular/material/blob/master/src/components/slider/slider.js#L73), it is because `md-input-container` should be present in the `md-slider` template, but it is not present.

And since `var input = element.find('md-input-container')` returns an empty jqLite object, `getComputedStyle(input[0])` is calle

[2016-04-13 08:53] Senthe commented on #7996
@DevVersion So, I did upgrade to 1.0.7 and the
[code]
is actually still present there and works as previously, wrapping md-list-item content in button. Are you sure the fix went through to this version?

[2016-04-13 09:15] thanuzz commented on #2965
+1

[2016-04-13 10:01] apils opened #8017 "md-datepicker red line appears under date when date set in code"
If you have the 'required' attribute and an empty md-datepicker, and then set the date using code (rather than entering it directly into the form) the line under the date is red, indicating it is invalid when it is not. See codepen http://codepen.io/apilsworth/pen/VaXeJy

[2016-04-13 10:19] ram-you commented on #6820
@Undrium Can you copy and past your $mdDialog options to compare to the mine ?
And FYI the template in this case must starts with  the `<md-dialog>` tag.

[2016-04-13 10:50] ptesser commented on #3364
I also find this workaround for issue about **md-autocomplete**.
If  **md-require-match** attribute is set to **true** on md-chips within md-autocomplete. You can check if property is set and in case, block chip's add.

    (function() {
        'use strict';

        angular
            .module('hopstok-app')
            .directive('mdChips', mdChips);

        /** @see https://github.com/angular

[2016-04-13 11:03] peio72 commented on #5043
+1

[2016-04-13 11:15] Undrium commented on #6820
@ram-you I adressed this in the parallel thread (#6048). This works, however you do not need to change autoWrap. Problem is that you do not get to keep the scope which makes it really weird (and far away from Angular conventions) to propagate data.

[2016-04-13 11:21] jsmylnycky commented on #3445
+1 for md-align-tabs="left" and md-align-tabs="right".

[2016-04-13 11:43] DevVersion commented on #7996
@Senthe I'm sorry, These changes are available in the latest major release, which is `v1.1-rc2`.

[2016-04-13 11:45] wembernard commented on #7979
+1 @marcomafessolli

I thought about suggesting moment.js use with md-datepicker but it would make another dependency not everyone wants to rely on.

[2016-04-13 12:08] wembernard commented on #6253
Thanks for referencing #7979.

According to this thread and my feedback, how do you feel about moving priority up?

[2016-04-13 12:12] Senthe commented on #7996
@DevVersion It's still present in `v1.1.0-rc2-master-fb4670f` I just downloaded. Am I crazy or what : )

[2016-04-13 12:26] michalsokolowskitouk commented on #8003
https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css contains css, as expected.
But for 1.0.6 and 1.0.7 this is not the case - the following links both contain javascript rather than css:
https://ajax.googleapis.com/ajax/libs/angular_material/1.0.6/angular-material.min.css
https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.css

[2016-04-13 12:39] DevVersion commented on #7996
@Senthe In my case it's working as expected.

The content is no longer wrapped inside a button.

- http://codepen.io/DevVersion/pen/RaMRxW

[2016-04-13 12:43] DevVersion commented on #7921
Closing this as it works as expected - if you have any further questions or you can provide a demo which shows your issue I will reopen this issue.

[2016-04-13 12:43] #7921 closed

[2016-04-13 12:45] DevVersion commented on #7692
@EladBezalel I just assigned the issue to you, because you worked on those image rations.

[2016-04-13 12:49] DevVersion commented on #7566
@topherfangio @ThomasBurleson This issue is currently blocked, due some missing information.

I've noticed, that using an existing DOM element (`anchor`-element) wouldn't make any sense, because the `md-dialog` directive is using an absolute position and applies some colors, which would mean that the page breaks.

Hiding the element using `display: none` is likely the same as just providing the el

[2016-04-13 13:10] Senthe commented on #7996
@DevVersion Oh you're right, it doesn't wrap content in a button, just adds a button which handles click. Well I guess this solves my problem. Thanks.

[2016-04-13 13:14] MarcLoupias commented on #7231
There is no issue in `<md-menu>`, only in `<md-menu-bar>`.

[2016-04-13 13:20] ThomasBurleson commented on #8003
@michalsokolowskitouk - I see it now...  Thank you.

[2016-04-13 13:24] ThomasBurleson commented on #8003
@robertmesserle - Somehow the `angular-material.min.css` CDN deployment for 1.0.6 and 1.0.7 are incorrect. Yet the [v1.1.0-rc2](https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css) version is correct:

[2016-04-13 13:26] jakubweber opened #8018 "md-bottom-sheet is broken, also docs demo"
See https://material.angularjs.org/latest/demo/bottomSheet or screenshot

![bottomsheet](https://cloud.githubusercontent.com/assets/5078760/14494617/ff313ce6-018b-11e6-866e-e739be2e024b.png)

1.1.0-rc2, chrome browser

[2016-04-13 13:44] sdesmond commented on #8018
What are you expecting to see here, and how is it broken?

[2016-04-13 13:49] jakubweber commented on #8018
items of bottomsheet are cut and labels below icons due cut aren't visible

[2016-04-13 13:54] sdesmond commented on #7990
This could open up the ability to use something other than a javascript Date (e.g. Moment), which would be nice here.

[2016-04-13 13:54] #8018 closed

[2016-04-13 13:58] sdesmond commented on #8018
Good catch, it looked to me like just a row of icons.

[2016-04-13 14:10] avtorfox commented on #4233
+1

[2016-04-13 14:29] #7874 closed

[2016-04-13 14:48] pjwalmsley commented on #7995
+1

[2016-04-13 15:05] OneMuppet opened #8020 "SideNav with overlay force scroll content to top"
Here is a video displaying an issue where opening the side nav with an overlay will force the content to scroll to top. The side nav without the overlay works fine.

https://dl.dropboxusercontent.com/u/8318643/AngularMaterialDesignBug%20-%20sidenav%20with%20overlay.mov

[2016-04-13 15:12] alexilyaev commented on #6767
I have an `<md-checkbox>`  that I'm trying to show an error for when not selected, on form submit.

[code]

The error doesn't show when submitting, mainly because `md-input-invalid` is not added to the `md-input-container` like it does with regular inputs.

[2016-04-13 15:47] pjwalmsley commented on #6872
+1

[2016-04-13 15:54] sdesmond opened #8021 "Tooltip should not show if content is empty"
Pen at http://codepen.io/anon/pen/bpvBJV shows one normal tooltip and one empty one.

If the tooltip content is empty, consider not showing anything instead of showing an empty tooltip.  The Angular Bootstrap team does this (empty strings and undefined/null don't show) and it makes for very easy conditional tooltips.

[2016-04-13 16:07] DevVersion commented on #2704
When we're replacing `$timeout` with `$interval`, errors will appear in the Karma tests.

This is because, `$interval` is not able to not guarantee a given delay between executions.

![image](https://cloud.githubusercontent.com/assets/4987015/14500428/60424ffa-01a2-11e6-8cc4-d21f52ade14e.png)

There are several possibilities to fix that issue:
- Using async unit tests.
- Keeping `$timeout` and men

[2016-04-13 17:11] r0b- commented on #6375
Thanks @pmowrer - As I generally center all tabs in my app I ended up taking the styles that md-center-tabs adds and overwrite the default behaviour:

[code]

Works for me in Chrome, IE, Edge, FF

However, I'm wondering why there needs to be JS involved at all?

[2016-04-13 17:20] DerekLouie commented on #7970
Ohh very interesting, I definitely thing the `md-select-header` PR will allow you to do that (it bypasses the 'only *one* input' check).

When you can put an input in the `md-select` directive, I think your code can read whatever value is in the input on submit (assuming if you select an option, that will populate the input and overwrite anything the user has typed).

One thing to be noted though,

[2016-04-13 17:45] randallmeeker opened #8023 "angular.bootstrap Warnings"
When an empty angular app is initiated via `angular.boostrap()`

I get all these warnings.

![screen shot 2016-04-13 at 12 36 23 pm](https://cloud.githubusercontent.com/assets/2538537/14503205/a288be4a-0174-11e6-8b0c-6fe12912113d.png)

[2016-04-13 18:25] DerekLouie commented on #6656
Just for personal reference, an example: https://github.com/angular/material/pull/7674

[2016-04-13 18:33] ErinCoughlan commented on #6656
This is now possible using the md-select-header. Closing this issue.

[2016-04-13 18:33] #6656 closed

[2016-04-13 18:35] peffreycollins opened #8025 "[Feature Request] md-chips - using an array of objects without having to use a custom chips template"
It would be nice to be able to bind to an array of name-value objects without having to implement a custom chips template when using the md-chips directive.

Per the current spec, it appears that devs can only display an ordered set of objects as chips by using a custom template.

[2016-04-13 18:38] sdesmond commented on #8023
Please include the versions you are using (AngularJS and Angular Material).  A link to a working example would be nice as well.

[2016-04-13 18:39] adam-s commented on #2088
+1

[2016-04-13 18:49] adam-s commented on #2088
+1 With md-dynamic-height the overflow on the y axis is hidden and can't be scrolled. Without md-dynamic-height the tab size is 200px. Is there a known solution to this?

[2016-04-13 18:53] sdesmond opened #8026 "New Issue Template"
This project has **a lot** of issues (I'm sure those working on it don't need me to tell them that).  As I'm browsing the issues I see many where there isn't enough info given in the first place for the team to diagnose, reproduce, and fix the issue.  The conversation usually goes

`user: "I have an issue"`
`response: "can you explain that a little more?"`
`user: "you know, it's doing this thing w

[2016-04-13 18:57] manish2535 commented on #6440
+1

[2016-04-13 19:01] francittadini commented on #5335
@srinivasmangipudi - I'm using this workaround for setting the focus upon activation. I haven't tested on mobile browsers though.

[code]

[2016-04-13 19:02] randallmeeker commented on #8023
I should have known to include code samples. Luckily you guys built one! The es6 branch of material-start will generate this error.

https://github.com/angular/material-start/tree/es6

It is using angular 1.5.3 and Material/Master.

I'm also seeing this in Material 1.0.7

[2016-04-13 19:05] Nextt1 opened #8027 "Change Font Weight"
I want to use Roboto Light and Robot Thin as my primary font. Is there any way I can do that ?

[2016-04-13 19:15] DevVersion commented on #8021
Yes, I agree - this would be a useful enhancement.

[2016-04-13 19:17] DevVersion commented on #8020
@OneMuppet This is a duplicate of #5850 - A PR was already pending but it is now outdated and needs some work.

[2016-04-13 19:17] #8020 closed

[2016-04-13 19:18] DevVersion commented on #7999
@SAM-BI Sorry, it seems like your issue is not related to ngMaterial. Can you take a look again?

[2016-04-13 19:20] DevVersion commented on #7998
This is a duplicate of #3820 and a PR is in progress - #5799

[2016-04-13 19:20] #7998 closed

[2016-04-13 19:30] SAM-BI commented on #7999
that's right, thx DevVersion :)

[2016-04-13 19:30] #7999 closed

[2016-04-13 19:30] #8000 closed

[2016-04-13 19:36] topherfangio commented on #3744
@tychay Since these are both closed as either "duplicate" or "fixed"; can you please open a new ticket with a Codepen that shows the issue and reference this one?

[2016-04-13 19:39] DevVersion commented on #3744
@tychay Also please confirm your issue with the latest major release - `v.1.1.0-rc2`, there were a few changes to the secondary items.

[2016-04-13 19:41] #7510 closed

[2016-04-13 19:45] topherfangio commented on #3420
@dalu I'm not sure about your topnav issue (if you can post a Codepen in a new issue we can take a look), but I definitely see your issue/frustration with trying to use ui-sref. I'm going to talk to the team and see how we might be able to address this. Off the top of my head, it seems like might want to provide a custom `<nav-list>` component or something that can handle these situations better.

[2016-04-13 20:02] topherfangio commented on #7566
@DevVersion I believe that the point was to let the DOM element render off-screen (or some variety of non-visible) so that when the dialog opens it, it doesn't try to compile/render anything. I think this is for like static/known content, etc.

@vajnorcan Does that sound accurate?

[2016-04-13 20:05] Frank3K commented on #8011
Unfortunately the current fix from PR #8015 does not work. I'll try to construct a minimal example in a codepen.

[2016-04-13 20:12] topherfangio commented on #7948
What smartphone/browser are you using that is causing issues. We can take a look.

[2016-04-13 20:26] Latrisha commented on #7948
Samsung Galaxy S4, Android 5.0.1, Google Chrome 49.0.2623.105

[2016-04-13 20:39] topherfangio commented on #7948
Thanks for the additional info; definitely see the issue!

[2016-04-13 20:41] Latrisha commented on #7948
Thanks a lot!

[2016-04-13 20:46] Frank3K commented on #8011
I havent been able to reproduce the scenario in a codepen as of yet. Is it someway possible to get more information about the digest that is already in progress?

When looking at stack traces the conflicting digest is always the one I have pointed out in the first comment.

[2016-04-13 21:04] sdesmond commented on #8027
Please use the issues for actual problems or feature requests.  You can request help at the CodePen community (http://codepen.io/team/AngularMaterial/), StackOverflow or the Google Group (https://groups.google.com/forum/#!forum/ngmaterial)

In response to the question, please read the section on Typhgraphy https://material.angularjs.org/latest/CSS/typography.

[2016-04-13 21:42] djfd opened #8029 "md-tooltip design flaw"
Hi,

currently md-tooltip installs two watchers for self. why it is bad: eg. showing some table, with the only tooltip per row will add N x 2 watchers where N is rows count.

Could we rework it to be event driven only?

Thanks

[2016-04-13 22:50] EladBezalel commented on #8026
@sdesmond Thanks for the care! We once discussed auto comment bot and templates and the reason nothing came through is because we didn't want the users to feel they've been answered from a bot and they can forget about their issue.

I do agree that issue templates might be a good solution,
I'd bring it up with the team!

Thank you very much,
We are all greatly appreciate such initiatives and carin

[2016-04-13 22:56] EladBezalel commented on #7993
@neko1235 As i understand there's no unregister for that handler, am i right?

[2016-04-13 23:12] clarson0 commented on #4314
dynamic row height would be very helpful, especially when using rows as headers (ex: when doing something similar to the demo with scroll to / md-top-index)

[2016-04-13 23:20] EladBezalel commented on #377
@crisbeto is this solved after your PR?

[2016-04-14 00:11] zverevalexei commented on #6424
+1
More over, "ng-messages" doesn't work for md-chips

[2016-04-14 00:11] zverevalexei commented on #6424
+1
Moreover, "ng-messages" doesn't work for md-chips

[2016-04-14 00:27] vajnorcan commented on #7566
@topherfangio That is correct. If the dialog contains quite a lot of elements (with some data injecting from model), then the rendering suffers. I was thinking to generate the content once, then assign it to dialog as a content, and let dialog do the positioning. Once the dialog is closed, it should not be destroyed, rather it be display:none; Hope that makes more sense.

[2016-04-14 00:29] flick36 opened #8030 "md-calendar not showing inside md-sidenav"
The md-calendar only renders the top row of day names but not the calendar itself when inside a md-sidenav

http://codepen.io/flick36/pen/jqzGqN

[2016-04-14 00:53] neko1235 commented on #7993
@EladBezalel Correct.

[2016-04-14 01:08] minlite opened #8031 "Does a palette need to be registered with a theme to be used with md-colors?"
Hi,

I was testing out the new `md-colors` directive in my project and I came across an issue. Apparently the only way to get a palette to work with the md-colors directive is to register it as a `primary`, `accent`, `warn`, or `background` palette for a theme or else the `$mdColors` service will throw the following error:

`mdColors: couldn't find 'example' in the palettes.`

In other words, just

[2016-04-14 01:12] ThomasBurleson commented on #8031
Intended.

[2016-04-14 01:12] #8031 closed

[2016-04-14 01:17] ThomasBurleson commented on #377
Appears to be resolved/fixed.

[2016-04-14 01:17] #377 closed

[2016-04-14 01:18] Moffmo commented on #2492
+1

[2016-04-14 01:18] #8026 closed

[2016-04-14 01:41] djfd opened #8032 "yet another md-tooltip design flaw"
Hi,

why document.body is a tooltip parent?

for example, we have a some element and set tooltip for it. what will happen on that element detach or remove? tooltip will not be able to hide/destroy self, so we often can see alone hanging tooltips on a pages

Why we cannot use nearest wrapping element as a parent?

Thanks

[2016-04-14 01:57] icenold commented on #1976
Is there a way to put a dropdown arrow on autocomplete?

[2016-04-14 02:32] ikhsanputra07 commented on #1406
@ThomasBurleson thanks for your solution. it Works perfectly. Great

[2016-04-14 02:43] minlite commented on #8031
Thanks for the reply.

Any plans for adding a coloring method independent from themes? I think a lot of brands have a set of colors that they want to use on their buttons and other elements and it can be more than 4. It's a pain having to define a theme for every 4 colors and keep track of what color is in what theme.

[2016-04-14 03:01] neko1235 commented on #7994
Well, here is another use case.
I am switching to another view in `md-selected-item-change` by calling `$location.path()` and a scope containing the selected item is left in the jQuery cache (tried a few jQuery versions). Since all scopes are connected to each other, this is causing the entire view to stay in memory forever.

![tmtozpipna3](https://cloud.githubusercontent.com/assets/13606126/14515

[2016-04-14 03:02] ThomasBurleson commented on #8031
@minlite - can you provide more details, sample usage, etc. ?

[2016-04-14 03:02] ThomasBurleson commented on #8032
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-04-14 03:02] #8032 closed

[2016-04-14 03:06] djfd commented on #8032
out of curiosity, why?

[2016-04-14 03:18] minlite commented on #8031
Sure. For instance this is a sample design for which there is no simple way of implementing using the current coloring services:

<img width="575" alt="screen shot 2016-04-13 at 8 08 02 pm" src="https://cloud.githubusercontent.com/assets/878667/14516010/d6f071d4-01b3-11e6-9922-072b6c7c291a.png">

The reason is that this design has buttons with 5 different main colors (dark blue, blue, green, red,

[2016-04-14 03:46] macder commented on #2727
+1

[2016-04-14 04:33] ThomasBurleson commented on #8032
General questions should be asked on the Forum.

[2016-04-14 04:42] #8027 closed

[2016-04-14 04:48] djfd opened #8033 "tooltip: disconnected tooltips when parent element is detached/removed."
Hi,
it is #8032 continuation

there is issue with md-tooltip design causing floating around alone widow lost tooltips

because tooltipParent is assigned to be documentBody then tooltip cannot detect its nesting element (actually parent) changes like to detach/removal from DOM.

We need either to change tooltipParent or have some way to detect parent element disappear/hide/remove and behave accordi

[2016-04-14 05:40] gelo32k commented on #2492
+1

[2016-04-14 05:40] icenold commented on #7970
[code]

[2016-04-14 05:50] djfd commented on #8033
eg can try next markup to have a proper parent
[code]

thus can catch parent's removal (eg. parent.remove()) using element.on('$destroy'), ...) and destroy self properly, also will be hidden if parent just detached, without actual removal

[2016-04-14 05:52] Frank3K commented on #8011
Theoretically, can one just trigger a digest inside a mutation observer (i.e. without a $timeout/$mdTick)? The mutation observer is outside the angular event loop.

Suppose the following scenario:

- A page contains multiple buttons with tooltips.
- For each tooltip a mutation observer is registered.
- The disabled state changes for multiple elements at once.
- I think the events are processed in

[2016-04-14 08:33] jakubweber opened #8035 "md-select's error UI inconsistency with md-input's error messages style"
md-select 's error has different style (bigger font,..) compared to md-input 's error messages.

![md-select-error](https://cloud.githubusercontent.com/assets/5078760/14522035/f0def6a0-022c-11e6-9803-4e13cffc9038.png)
![md-input-error](https://cloud.githubusercontent.com/assets/5078760/14522056/0685a940-022d-11e6-8ef2-8b109800d32d.png)

1.1.0-rc3

[2016-04-14 08:35] themaniac commented on #6214
+1

[2016-04-14 08:51] EladBezalel commented on #7993
Would you be nice and submit a PR? :)

[2016-04-14 09:11] lwj5 commented on #5233
+1 for this.

Any news of this enhancement?

[2016-04-14 10:56] bonatoc commented on #4209
@bradrich

I personally prefer to manage all sidenav on a "root" app level, listening to $state and $state.params to trigger them. I keep them outside the routes views, and use shared services for whatever data the sidenavs need to be aware of when the app is in a particular state/route.

[2016-04-14 11:35] mkyukov commented on #590
"Don't use document scrolling. Create an md-content container and scroll through that, then md-tooltip will work."

@ajoslin  This doesn't work for me. The problem still persists and I believe this issue isn't resolved. :)

[2016-04-14 11:55] homerjam commented on #1269
+1

[2016-04-14 11:58] EladBezalel commented on #1269
@homerjam you can have this feature in 1.1.0-rc3

[2016-04-14 12:01] stefan-leye commented on #2705
+1

[2016-04-14 12:04] homerjam commented on #1269
Thanks - just had to refresh the docs! 😊

[2016-04-14 12:11] ThomasBurleson commented on #7993
@neko1235 - nice catch! 👍

[2016-04-14 13:41] lobo-tuerto commented on #1269
The `mdColors` directive is listed in the documentation, but the `$mdColors` service isn't.

[2016-04-14 13:42] dmeh89 commented on #3906
+1

[2016-04-14 14:03] EladBezalel opened #8036 "docs(colors): document $mdColors service"
As `mdColors` is documented, i can't seem to find any reason `$mdColors` service shouldn't be documented as well.

[2016-04-14 14:34] MathiasLM opened #8037 "ng-messages not showing inside $mdDialog"
In the following small example, validation works (red lines appear and disappear based on input), but the ng-message do not display.

[code]
The same code works when not inside an $mdDialog directive, so my best guess is, the directive is messing things up. This is the code initializing the dialogue:
[code]
Could it be related to my inheritance of the global $scope into the directive?

[2016-04-14 15:07] topherfangio commented on #8011
I don't have time to dig into this immediately, but we may be able to replace the `$scope.digest()` with the following:

    $mdUtil.nextTick(function() {
      setVisible(false);
    });

In theory, that should schedule the `setVisible()` call for the next digest loop instead of trying to fire it immediately.

@Frank3K Think you could give that a try?

[2016-04-14 15:28] clshortfuse commented on #8011
I think nextTick make more sense. I'm not sure about when digest gets processed, but it could be possible that the MutationObserver gets fired in the middle of a digest cycle.

Also, I just realized that even though changing the code would prevent multiple digests ever running in that loop because of the better use of Array.forEach vs Array.some, I think it's impossible that two attributes can hav

[2016-04-14 15:42] alisonmsmith commented on #5336
+1

[2016-04-14 16:01] topherfangio commented on #8029
https://github.com/angular/material/pull/7822/files Was just merged which should help with this. Does that satisfy your needs?

[2016-04-14 16:02] topherfangio commented on #8033
I believe I understand what you are saying, but can you please provide a Codepen which demonstrates the issue so that we have something to reference and debug when we look into this?

[2016-04-14 16:03] smurugavel commented on #2228
yes, for me `layout-gt-sm="row"` hides the divider. Please add support for `layout-gt-sm="row"`

[2016-04-14 16:06] topherfangio commented on #8030
Indeed, the `md-calendar-scroll-mask` appears to have `width: 0px` which makes it invisible.

[2016-04-14 16:08] topherfangio commented on #8025
@peffreycollins Can you give a quick example of the input you want to provide, and what the chips should display?

[2016-04-14 16:09] topherfangio commented on #8037
@MathiasLM It may be related. Can you wrap this up in a Codepen so that we can do some debugging please? :smile:

[2016-04-14 16:10] afreeland commented on #6992
I am experiencing this issue as well.  I feel that if a user selects the 'x' to remove the chip that the autocomplete should not be triggered.  Are they any workarounds for this?

[2016-04-14 16:11] djfd commented on #8029
thanks, checking

[2016-04-14 16:34] topherfangio commented on #8017
@apils This appears to be a duplicate of #6086. Can you please verify if it's the same or if it's different?

[2016-04-14 16:41] topherfangio commented on #8008
I'm not seeing the issue my IE11 (11.162.10586.0; on Windows 10). What OS are you using?

[2016-04-14 16:42] EladBezalel commented on #2228
@arron21 @smurugavel, can one of you please create a new issue so we can track it down?

[2016-04-14 16:45] topherfangio commented on #8006
@DonBranson Is this the same as #7948?

[2016-04-14 16:47] EladBezalel commented on #1269
#8036 :)

[2016-04-14 16:47] Sk1Zy opened #8038 "md-list-item should support target attribute since it supports href"
Following commit 12fe077 and issue #481

md-list-item should support the target attribute on anchors just like md-button does

[2016-04-14 16:49] topherfangio commented on #8005
The docs don't currently state this, but the code first checks to see if there is exactly 1 match, then, it checks to see if it matches exactly. So in your case, there are two matches, so the `md-select-on-match` breaks out before attempting the comparison.

@EladBezalel What do you think of this functionality? Should we modify it to select even if there are multiple matches, or should we update t

[2016-04-14 16:50] EladBezalel commented on #7994
Thank you @neko1235!
A PR would be very welcome!

[2016-04-14 16:51] EladBezalel commented on #8010
@neko1235 can you point where the leak is coming from?

[2016-04-14 16:51] djfd commented on #8033
Hi topherfangio,

please check http://s.codepen.io/djFD/debug/qZoMoN

Does it work for you? for me it shows after clicking the button: see attachment
![iamlost](https://cloud.githubusercontent.com/assets/126338/14536280/eefe672a-02b4-11e6-8e63-f4c519030360.png)

[2016-04-14 16:52] david-meza opened #8039 "Docs(chips): UI/CSS - Container does not expand to number input placeholder; text overflows cards"
See screenshot below for issue details:

![2016-04-14_12-46-03](https://cloud.githubusercontent.com/assets/11840636/14536266/83f2aae2-023f-11e6-88e1-c62acb5aa68d.png)

From: https://material.angularjs.org/latest/demo/chips
Browser: Chrome Version 49.0.2623.112 (64-bit)
OS: Mac OS X El Capitan

[2016-04-14 16:55] topherfangio commented on #7992
Can you please wrap this up in a Codepen that demonstrates the issue? It really helps us when attempting to debug it :smile:

[2016-04-14 17:00] djfd commented on #8029
hmm, instead of adding watcher in configureWatchers () you do the same in mutation observer
[code]

so what is the difference?

IMHO, nobody changes scope.visible variable but md-tooltip code internals only, so why just do not call show/hideTooltip directly?

as for second watcher, for a direction, did you actually see an application changing it during the tooltip show time? Do we need it at all?

[2016-04-14 17:02] flick36 commented on #7483
I don't think this is solved, code pen still doesn't work and in my project when i was in 1.1.0-rc2 i solved this by also setting the `min-width & max-width` to the custom `width` i set by default, for example:

    md-sidenav, md-sidenav._md-closed._md-locked-open-add-active {
        width: 240px;
        min-width: 240px;
        max-width: 240px;
    }

but now in 1.1.0-rc3 it doesn't work, an

[2016-04-14 17:05] david-meza opened #8040 "Docs(chips): Autocomplete in contact chips always shows the first four no matter what the input is"
As you can expect, this doesn't allow you to select any other contact on the list. It also doesn't really autocomplete your search since you always get the same results.

![2016-04-14_12-59-41](https://cloud.githubusercontent.com/assets/11840636/14536605/4a4862ee-0241-11e6-8440-f207e35ba61f.png)

[2016-04-14 17:17] Frank3K commented on #8011
Thanks for your suggestions. I have combined both approaches and the following code eliminates the issue for my use case:

[code]

@clshortfuse: can you update the existing PR?

[2016-04-14 17:31] #8003 closed

[2016-04-14 17:44] afreeland commented on #6243
Was curious of the progress on this feature...working on a piece that could benefit from this.

[2016-04-14 18:05] Anaphase commented on #8008
I'm seeing this issue in IE 11 (11.0.9600.17843):

<img width="1392" alt="screen shot 2016-04-14 at 1 01 12 pm" src="https://cloud.githubusercontent.com/assets/2358694/14538436/643007e8-0241-11e6-90e9-3cea196d0d17.png">

On Windows 7 SP1:

<img width="1392" alt="screen shot 2016-04-14 at 1 02 14 pm" src="https://cloud.githubusercontent.com/assets/2358694/14538447/6f949e46-0241-11e6-9017-a348873a16

[2016-04-14 18:43] amritk commented on #8031
+1 @minlite  I'm in the same boat, four colors is just not enough to cover what our designers give us.

[2016-04-14 18:46] topherfangio commented on #8033
@djfd - It appears that the button is still visible, and clickable, in that Codepen. After the first click, the tooltip is still shown because the button is still there. After the second click, the button disappears and so does the tooltip. Am I missing something? Also, would you mind providing the editable version of the Codepen so we can fork it and play with it? :smile:

[2016-04-14 18:48] flick36 commented on #7483
the min-width's have to be `important` cause if i remove them, the animation it's working:

http://codepen.io/flick36/pen/pyLQgP

[2016-04-14 18:59] djfd commented on #8033
well, possible I can. just do not know how to share it. any advise?

hmm, interesting, for me the button disappeared after first click, did you see any errors in console?

BTW, I am using Firefox (45.0.1), try it if possible

[2016-04-14 19:06] topherfangio commented on #8038
It should already: http://codepen.io/topherfangio/pen/YqaRNo

Can you provide a Codepen of what you're expecting to do?

[2016-04-14 19:11] MathiasLM commented on #8037
[Codepen](http://codepen.io/anon/pen/yOKREJ)

[2016-04-14 19:12] DevVersion commented on #8008
@Anaphase I can reproduce your bug on Win 7 IE11.

This seems to be a common bug in that old IE11 version, but we are unfortunately not able to fix this bug because it's caused by a browser bug.

But if you find any workaround, we'd love see a PR or at least the workaround :)

- http://stackoverflow.com/questions/19855499/css-animation-doesnt-work-in-ie-when-using-hover-and-hoverfirst-letter?rq=1

[2016-04-14 19:12] #8008 closed

[2016-04-14 19:23] Anaphase commented on #8008
I figured that was the case. Classic Internet Explorer!

[2016-04-14 19:28] neko1235 commented on #8010
@EladBezalel, The problem is when the view changes, `lastPointer` keeps a reference to an element from the previous view, which in turn has a reference to a scope.
The workaround here is to click anywhere, but this is very annoying and is not always possible (e.g. when event bubbling is prevented).

[2016-04-14 19:30] ThomasBurleson commented on #8010
This appears to be in the Gestures.js code...

[2016-04-14 19:35] ThomasBurleson commented on #8031
Themes are intended as consistent styling options for your entire application. You are welcome to override your components with custom, specific CSS styles (to color). You may also wish to use [$mdColors](https://material.angularjs.org/latest/demo/colors) to easily theme-color your components.

[2016-04-14 19:36] ThomasBurleson commented on #8011
@Frank3K, @clshortfuse - nice work gentlemen! Thank you for your help with this.

[2016-04-14 19:38] neko1235 commented on #7994
@EladBezalel, These appear to be 3 different issues and I'm not yet able to isolate and reproduce them. I will get back to you when I get more info.

[2016-04-14 19:38] georgegoncalo commented on #1089
+1

[2016-04-14 19:53] topherfangio commented on #8033
Thanks @djfd, I definitely see the issue and it's strange that on Firefox the button disappears immediately, but on Chrome the button disappears after the second click. We'll look into this, but I'm curious if you're actually doing `.detach()` in your code, or if you're using something else?

I'm curious because I don't think `.detach()` actually destroys the scope, and we should be checking for t

[2016-04-14 19:55] neko1235 commented on #7993
Sure, I will submit a PR.
Thank you.

[2016-04-14 20:00] topherfangio commented on #8037
Thanks for the demo; I'm not immediately seeing the problem, so we'll need to look a bit deeper.

[2016-04-14 20:08] djfd commented on #8033
well, I do actually do detach. there is undo button that disappears if there is not any edits anymore... it is why...

yeah, detach does not fire $destroy on scope, neither fires $destroy on element, so possible it would be better to make remove instead.

in meanwhile I made my own version of it, wl-tooltip (watcher-less, to address the issue #8029 as well), now finishing debugging

[2016-04-14 20:12] topherfangio commented on #7982
@maximivanov I can't seem to get it to work with `md-start-index` and I spoke briefly with the original developer, he said that `md-start-index` wasn't a 2-way binding and was only checked on initialization whereas `md-top-index` was added later is is watched/updated.

So, I think you should be using `md-top-index`, but it sounds like there is a bug with this.

[2016-04-14 20:20] topherfangio commented on #7950
Can you please provide a Codepen which demonstrates what you are trying to do? The [Basic Usage](https://material.angularjs.org/latest/demo/menu) demo doesn't do anything special and all of it's items close the menu on click.

[2016-04-14 20:22] 0101adm opened #8042 "IOS + md-list"
AM 1.1.0-rc3

http://codepen.io/0101adm/full/vGRvZg/

md-list does not render properly on any browser on IOS.

left side is chrome on IOS, right side is chromes simulator on OSX.

![screen shot 2016-04-14 at 2 22 43 pm](https://cloud.githubusercontent.com/assets/5133412/14542496/63c29aea-024c-11e6-8e61-b969dc1e0cdc.png)

[2016-04-14 20:24] sdesmond opened #8043 "md-colors not picking from default theme"
See Pen here: http://codepen.io/anon/pen/dMmQBP?editors=1010

I set a new theme with $mdThemingProvider.setDefaultTheme.  I would expect md-colors="{background: 'primary'}" to pick the primary color from the new default theme, but it doesn't.  It's actually using the default blue/pink theme.

Angular Material 1.1.0-rc3

[2016-04-14 20:28] sdesmond opened #8044 "md-colors not working"
Let me know if I'm just doing this wrong.  I'm not seeing my newly defined palettes in $mdColorPalette which is causing an error at line 6908.

Pen here: http://codepen.io/anon/pen/aNYPNe?editors=1010

Angular Material 1.1.0-rc3

[2016-04-14 20:34] SHkreddy commented on #3906
Can we get a dev to actually give us an update on this issue? The ticket has been open for 9 months, there hasn't been one comment by a dev other then to lower the priority or reschedule looking at this issue.  Every month there is at least one more +1, and who knows how many people just read this thread and give up because of the poor communication from the devs.

All I want to know is are you AC

[2016-04-14 20:35] topherfangio commented on #7939
I think this might make sense as an option on the tab `md-removable` (to follow what we're planning with chips) and perhaps a `<md-tab-remove>` element which lets you customize it.

I don't think we have time for this at the moment, but if you want to flesh out the idea some more, you can  always submit a PR :smile:

[2016-04-14 20:50] DonBranson commented on #8006
I don't think so. Our issue is that menus aren't closing. The other ticket looks like they're opening on the wrong events.

However - it does look like https://material.angularjs.org/latest/demo/menuBar is behaving correctly now, so perhaps the issue's been corrected.

[2016-04-14 20:55] patorjk opened #8046 "Putting release candidates in npm"
Any chance of putting release candidates like 1.1.0-rc3 in npm? (similar to how the angular project does it)

Not a huge deal or anything, but it would make it easier to try out new versions.

[2016-04-14 20:58] craigsh opened #8047 "Angular 1.5.4 breaks md-tabs"
md-tabs works fine with Angular 1.5.3 but breaks with 1.5.4 - tabs don't get rendered.

[2016-04-14 21:00] ThomasBurleson commented on #8047
@craigsh - We are aware of this... tracking it down. Thank you.

[2016-04-14 21:01] ThomasBurleson commented on #8047
@craigsh - which version of Angular Material are you using [that causes this issue ]?

[2016-04-14 21:03] #7947 closed

[2016-04-14 21:04] craigsh commented on #8047
I'm using 1.0.7 but can also reproduce this on 1.1.0-RC3 in the codepen for md-tabs by changing the angular js version first to 1.5.3 to check it works then 1.5.4 to see it break.

[2016-04-14 21:07] #8011 closed

[2016-04-14 21:08] topherfangio commented on #8006
Okay, we literally just pushed a small change that corrected the de-registration of some event handlers, so perhaps that was related. I'm going to go ahead and close this now; please let us know if you experience it again and we can reopen.

[2016-04-14 21:08] #8006 closed

[2016-04-14 21:14] ThomasBurleson commented on #8047
@robertmesserle, @matsko  - FYI

[2016-04-14 21:23] 0101adm opened #8049 "iOS + subheader: positioned incorrectly"
AM 1.1.0-rc3

http://codepen.io/0101adm/full/greZqe/

md-subheader is positioned incorrectly in any browser on iOS.

![untitled screencast](https://cloud.githubusercontent.com/assets/5133412/14544131/d8e44898-0254-11e6-9c4d-62e4c6312348.gif)

[2016-04-14 21:30] 0101adm opened #8050 "iOS + md-dialog + md-subheader: doesnt work properly"
AM 1.1.0-rc3

md-subheader doesnt work properly in any browser in iOS.

![untitled screencast 1](https://cloud.githubusercontent.com/assets/5133412/14544328/c2198b0e-0255-11e6-8389-3a016b055c23.gif)

[2016-04-14 21:36] topherfangio commented on #8042
@0101adm Can you please provide a Codepen demo so that we can do some testing on potential fixes?

[2016-04-14 21:38] 0101adm commented on #8042
the codepen is included in my post.  is there something i am missing?

[2016-04-14 23:34] rscottfree opened #8054 "mdWhiteframe: Show or hide based on value"
I would like the mdWhiteframe directive to accept a value of `-1` which would hide the box shadow entirely. This way I could bind it to a variable and conditionally show the whiteframe.

Proposed usage:

[code]
[code]

Current work-around:
[code]
[code]

[2016-04-14 23:45] rossi458 commented on #4251
whats the ETA @crisbeto ?

[2016-04-15 00:07] #7383 closed

[2016-04-15 00:40] neko1235 commented on #7994
The last issue is a memory leak in md-virtual-repeat. I am submitting a separate bug for it.

[2016-04-15 00:43] neko1235 opened #8055 "mdVirtualRepeat: Memory leak"
Blocks created in [VirtualRepeatController](https://github.com/angular/material/blob/v1.1.0-rc3/src/components/virtualRepeat/virtual-repeater.js#L762) are never deleted.

[2016-04-15 00:43] neko1235 commented on #8055
I can provide a PR with a fix.

[2016-04-15 01:22] ThomasBurleson commented on #8055
@neko1235 - Please do. THank you.

[2016-04-15 02:23] cadilhac opened #8057 "autogrow textarea and max number of rows"
I'm not sure how to set the max number of rows on an autogrow textarea. I simply set rows="3"...
The issue is that when I type a word and hit Enter, the word scrolls up and disappears. The only visible line waits that I type something else on the second line. As soon as I type a character, the textarea expands and shows 2 lines. So my first word becomes visible again. This happens again when I hit

[2016-04-15 02:47] topherfangio commented on #8042
@0101adm Perhaps I am blind, but I am not seeing a Codepen link, just the images...

[2016-04-15 04:27] ThomasBurleson commented on #8042
@topherfangio  - http://codepen.io/0101adm/full/vGRvZg/

[2016-04-15 05:14] #7663 closed

[2016-04-15 05:14] crisbeto commented on #8057
The "rows" are considered the maximum (although there is a PR to change that behavior). After they're reached, the textarea should get the "md-textarea-scrollable" which should make it scrllable. What OS are you testng on (OSX/iOS don't show scrollbars until you start scrolling)?

As for the animation, we don't support it out-of-the-box, but you can manually add a transition on the height.

[2016-04-15 05:25] crisbeto commented on #4251
I can't give you an accurate ETA, because:
1. I'm working on first getting the datepicker to work with the floating labels.
2. This will likely be a pretty big task and I can't anticipate the issues I could run into.

[2016-04-15 06:02] n0is commented on #6844
I got the same.  When scrolling to the end of a list of 150 elements (with pages of 50 elements), getItemAtIndex is called with index 150 or 151.

[2016-04-15 06:13] billsworld commented on #7925
bottomSheet clickOutsideToClose not longer closes it with just a click, it takes a swipe down.

@ThomasBurleson this seems awkward, the bottomsheet should be able to close with just a tap on desktop. Confusion here as well https://github.com/angular/material/issues/2895

[2016-04-15 06:58] apils commented on #8017
You're right. It is the same issue. Apologies, didn't spot that one.

[2016-04-15 07:28] reinos commented on #5754
Any update on this issue?

[2016-04-15 07:57] MathiasLM commented on #8037
I've located the culprit. Removing this line fixes the issue:

`parent: angular.element(document.body)`

I'm not certain, why this is, though..

[2016-04-15 08:06] EladBezalel commented on #8026
@sdesmond this issue has been closed just because it's not an issue,
We are going to introduce issue templates in the near future,

Thank you very much!

[2016-04-15 08:12] derdani opened #8059 "Flex height problems with safari and angular material"
I'm having a problem with flexing contents with angular material on safari browsers. The problem is that the browser doesn't flex the content-div over the entire contents and places the footer below, but instead the footer is sitting after the content to fill up 100% height.

Here is a working [codepen](http://codepen.io/derdani/pen/QNmRPy) . I'm using Safari 9.1 . The same problem occurs on mobil

[2016-04-15 08:20] Sk1Zy commented on #8038
I am attempting to do exactly what you did in that codepen. But I see you're using the v1.1 RC but I'm using v1.0.7. That might make a difference, either way I can see that it works with v1.1 at least so I'll close this.

[2016-04-15 08:20] #8038 closed

[2016-04-15 08:23] jonaszuberbuehler commented on #2073
+1

Until fixed I stick to a custom directive attached to `md-content`:

[code]

[2016-04-15 08:32] Narretz commented on #8047
https://github.com/angular/angular.js/commit/21d148aedc29c7efba4131ff2ef6383b4700868c is the culprit, it seems

[2016-04-15 09:01] Osmoss opened #8060 "directive md-tabs bug on last version ?"
Hi ! :)

I'm coding a responsive web app with angular material. Yesterday, I created a md-tabs and it worked well.
This morning, I did a "bower update" and since that, when I click on my md-tab's label, I have this error :

`TypeError: Cannot read property 'focus' of undefined
    at e.Z [as redirectFocus] (angular-material.min.js:14)
    at fn (eval at <anonymous> (angular.js:14422), <anonymous>:

[2016-04-15 09:17] Osmoss commented on #8060
My bad, didn't see the last issue : #8047

[2016-04-15 09:18] fookoo commented on #7753
I got the same issue on:

Angular 1.5.3
Material Design: ( "angular-material": "~1.0.7")

[2016-04-15 09:22] Osmoss commented on #8047
It works for me now. :+1:

[2016-04-15 09:26] Narretz commented on #8047
@Osmoss unlikely. Neither material nor angular have changed something yet.

[2016-04-15 09:29] daB0bby commented on #7614
it was my own fault. i was overriding some styles.

[2016-04-15 09:29] #7614 closed

[2016-04-15 09:36] Osmoss commented on #8047
But I just did "bower update"  and it works for me now

[2016-04-15 10:33] peio72 commented on #7403
Problem remaining on IE11 with 1.1.0-rc3. Visible on demo input.

[2016-04-15 10:41] crisbeto commented on #7403
@peio72 I couldn't reproduce this particular issue on IE11 with rc3. The overflow that you see in the demo is because of the `datepicker`.

[2016-04-15 11:01] peio72 commented on #7403
I still see the scrollbars on the demo input on my IE11 for the basic usage and the icons.

On my App the problem is only present on the inputs with icons.

[2016-04-15 11:03] crisbeto commented on #7403
The scrollbar on the demo is because of the datepicker, not the input. As for having the icons together with an input, can you post a code example or a codepen?

[2016-04-15 11:05] peio72 commented on #7403
Email me so i show you the app directly.

[2016-04-15 11:08] crisbeto commented on #7403
I don't know your email address.

[2016-04-15 11:10] messteno commented on #8047
+1 http://codepen.io/mesteno/pen/RaMXjV

[2016-04-15 11:26] ram-you opened #8062 "meta "theme-color" relative to toolbar theme"
Hi,
How to change  `<meta name="theme-color" content="#546E7A">`  content color relative to toolbar theme ?

Any idea is welcome.
Thank you.

[2016-04-15 11:34] rayita commented on #8049
Same problem here, Iphone 6, iOS 9.2.1, AM 1.1.0-rc3

[2016-04-15 11:36] rayita commented on #8042
This is related with #8049 (same problem)

[2016-04-15 11:48] cadilhac commented on #8057
1. I checked under various desktop browsers under Windows.
The issue is not about scrollbar. It is about typing Enter and autogrow. When I type Enter, it does not grow one line. Instead, it scrolls one line. It does grow only after I type a new char on the new line.

2. Any link to do that (height animation) please?

[2016-04-15 11:53] mmiszy commented on #1939
Method described by @mramanauskas works, thank you!
Additionally I had to add some CSS to circumvent side effects of this change:

[code]

[2016-04-15 11:53] crisbeto commented on #8057
1. Thanks, now it makes sense. That is fixed with #7991. It's because ngModel's listeners don't fire for enter and space characters at the end of input.
2. I don't have a link for that animation, but you can easily do it like this:

[code]

[2016-04-15 12:18] cadilhac commented on #8057
Thank you.
1. Is it in the head?
2. I don't know why, I thought transitions were not possible on size in general. But it works, thx.

[2016-04-15 12:30] crisbeto commented on #8057
1. It's still pending review.
2. They are possible, but you should keep in mind that the framerate might not be very good on slower devices/browsers, because animating the height causes layout for each frame.

I'll close this issue since it should be resolved when the PR gets merged, but we can continue discussing if you need any more help.

[2016-04-15 12:30] #8057 closed

[2016-04-15 12:53] CxRes commented on #6776
I have also had the exact same error when I upgraded angular to 1.5.4. It does not happen in angular 1.5.3. Unfortunately I cannot replicate it on the Codepen and do not understand why it occurs...

[2016-04-15 13:00] ThomasBurleson commented on #6776
This is a known issue with the Angular 1.5.4 release and the [**$compile change**](https://github.com/angular/angular.js/commit/21d148aedc29c7efba4131ff2ef6383b4700868c) in that release is being rolled back.

[2016-04-15 13:01] ThomasBurleson commented on #8047
This is a known issue with the Angular 1.5.4 release and the [**$compile change**](https://github.com/angular/angular.js/commit/21d148aedc29c7efba4131ff2ef6383b4700868c) in that release is being rolled back.

[2016-04-15 13:05] ThomasBurleson commented on #7753
Please provide a CodePen that demonstrates this issue: CodePen template: http://codepen.io/pen?template=bEGJdd

[2016-04-15 13:08] #8060 closed

[2016-04-15 13:44] forcewill opened #8063 "Custom md-subheader"
Is it possible to customize the **md-subheader** directive.
I tried for example
[code]

with no success, i believe it would be an useful feature to have

[2016-04-15 13:51] cadilhac commented on #7512
I now use RC3 and I see this style set by angular material:

md-content.md-default-theme, md-content {
    background-color: rgb(250, 250, 250);
    color: rgba(0, 0, 0, 0.87);
}

So now md-content has changed again and is not transparent anymore?
If md-content is in a parent (not an angular material component), how should I set the parent color so that it's the same than the md-content?

[2016-04-15 13:52] ThomasBurleson commented on #8063
@forcewill - You have identified an issue with SubHeader which transcludes your custom content into a `<span>` instead of a `<div>`. We should fix this.

[2016-04-15 13:57] ThomasBurleson commented on #7512
@cadilhac - we have been working to improve (a) how Theme works with foreground and background colors and (b) compliance with the MD specs. Content and Subheader now have the same background colors. `background-color: '{{background-default}}';` which === `#fafafafa` for the background grey palette (default).

If you want to color the parent similarly use the new directive `md-colors="{background-c

[2016-04-15 14:06] cadilhac opened #8064 "Sidenav appearing behind a bottomsheet overlay"
I have a classic setup: toolbar at the top with a menu button and content underneath. The menu button triggers the opening of a sidenav.

When I have a bottom sheet opened, the overlay lies on top of the content, but not on top of the toolbar. If I click the menu button, the sidenav opens, but behind the overlay of the bottom sheet.
Compare that to a dialog. In this case, the overlay lies also on

[2016-04-15 14:42] #8036 closed

[2016-04-15 14:52] ThomasBurleson commented on #8064
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2016-04-15 14:52] #8064 closed

[2016-04-15 15:50] manuelagard commented on #7722
+1
Same problem here

[2016-04-15 16:17] manuelagard opened #8065 "md-tabs with md-dynamic-height on Safari - scroll to the top"
When selecting any tab with md-dynamic-height attribute on Safari, we can notice that during a short period, the tabs disappear during tab switching.
![lquhhrujmf](https://cloud.githubusercontent.com/assets/16802569/14567666/839568fe-0335-11e6-86f8-b4e5459132b5.gif)

I think this is due to the very short amount of time when the height = 0 during tab changing. This is very annoying when the tabs ar

[2016-04-15 16:24] epelc opened #8066 "md-button-icon: Icon not centered"
Icons in `md-button`s are no longer centered vertically. There is more space on the top then to bottom.

See picture
![image](https://cloud.githubusercontent.com/assets/5204642/14567912/61fe4e94-0304-11e6-857c-cb54d4a99d07.png)
You can see it easily if you set a background color on the icon so the full square is shown. But it's still noticeable without. See the button demo for an example https://m

[2016-04-15 16:33] jelbourn commented on #4251
@mhchen do you still have any of the work you started on this feature?

[2016-04-15 16:40] pved commented on #1250
is there a way to show all the borders of the tabs, to make them look like traditional tabs. There is a requirement for this to make it easy for people using screen readers. Any thoughts?

[2016-04-15 16:58] ThomasBurleson commented on #8066
@epelc - Total overkill. Have any other suggestions ?

[2016-04-15 16:58] topherfangio commented on #8049
Subheader is also mispositioned in Desktop Chrome and bounces.

[2016-04-15 17:00] ThomasBurleson commented on #8049
@topherfangio - can you investigate. Nice to have this in the RC4 build for later today.

[2016-04-15 17:01] topherfangio commented on #8049
@ThomasBurleson Yes; working on it now.

[2016-04-15 17:01] epelc commented on #8066
@ThomasBurleson didn't have much time to look as I'm traveling today and
this weekend. But I think the best way might be using the minimal required
fez attributes directly if I can't figure out what Css is causing it.

I was looking at the margin and padding highlights in chrome and it looks
like the icon gets pushed down out of where it should be in the highlights.

On Friday, April 15, 2016, Tho

[2016-04-15 17:20] topherfangio commented on #8049
@0101adm The subheaders are actually cloned and appended as children to the `<md-content>`, so when you see the "sticky header", that is the clone.

They use absolute positioning and the `<md-content>` has `position: relative;` set so that they are absolutely positioned relative to the content.

Things got a bit confused because you applied your layout/flex/padding properties directly on the `<md-

[2016-04-15 17:22] 0101adm commented on #8049
👍 thanks

[2016-04-15 17:26] 0101adm commented on #8050
@topherfangio i think your fix on #8049 also applies to this.

[2016-04-15 17:26] #8050 closed

[2016-04-15 17:26] topherfangio commented on #8042
@0101adm This is a similar issue to the other one; moving the layout/flex/padding to a wrapping div fixes the issue: http://codepen.io/topherfangio/pen/revVex?editors=1000

[2016-04-15 17:27] topherfangio commented on #8042
I'm going to go ahead and close, please let me know if you're still having issues and we can investigate/reopen.

[2016-04-15 17:27] #8042 closed

[2016-04-15 17:31] topherfangio commented on #7614
@daB0bby Thanks for updating us and closing out the issue! :+1:

[2016-04-15 17:36] topherfangio commented on #8017
@apils No worries! Closing this one as a duplicate.

[2016-04-15 17:36] #8017 closed

[2016-04-15 17:40] rcheuk commented on #3990
+1

[2016-04-15 17:50] 0101adm commented on #6983
closing.

[2016-04-15 17:50] #6983 closed

[2016-04-15 17:56] topherfangio commented on #8049
I'd like to actually keep this open so that we remember to update the docs to make it easier for people to use :smile:

[2016-04-15 18:47] #7681 closed

[2016-04-15 19:24] beny78 commented on #8005
If you don't select it, it would be nice to clear the display value (searchText). In my case, when I submit my formular, I have an error because no item is selected but "Al" is displayed. This is a strange behaviour.

[2016-04-15 19:38] EladBezalel commented on #8005
I think we should select the first no matter what..

This is a really weird behavior

[2016-04-15 20:59] #7682 closed

[2016-04-15 21:00] #8063 closed

[2016-04-16 00:04] mhchen commented on #4251
Hi @jelbourn you can find my work on this feature here: https://github.com/mhchen/material/tree/feat-datepicker-month

The demo is basically working but there are some issues:

1. It would be good for someone on the ng-material core team to validate my overall approach. I am not sure about the performance and scope implications of using ng-if to swap out the month/year picker panes
2. Some CSS wor

[2016-04-16 05:26] crisbeto commented on #4251
Tried out the demo and it looks pretty good. We could pair up and finish the rest of it?

[2016-04-16 06:32] EladBezalel commented on #7886
This is not correct, background is only in one hue, other components have other backgrounds

[2016-04-16 06:54] rak13 opened #8071 "Fabricjs canvas inside Angular Material Tabs doesn't work"
I have been trying to use [Fabric.canvas](http://fabricjs.com/) inside [angular material tabs](https://material.angularjs.org/1.0.7/demo/tabs) but that doesn't seem to work. Finally I want there to be multiple tabs with multiple canvases. For now I'm trying it with only one tab.

[This code without tabs seems to wok just fine, it allows free hand drawing with mouse](http://js.do/rak13/no-tabs)
But

[2016-04-16 07:24] hodeyp commented on #7886
@EladBezalel - commit 0df4b16eca2c8af9805615da646d38db04a33d7f a year ago added this functionality and it was removed in last week in commit 4a2c362c3364260ebf04d81f298098412c370eca.

With the latest build it is impossible to use md-content in cards as it defaults the background color to the same as the parent background color.

[2016-04-16 07:44] uxitten commented on #3364
+1

[2016-04-16 08:18] cpBurn commented on #6150
+1 for icons

[2016-04-16 08:19] uxitten opened #8072 "md-chips $touched always not worked"
in this code i used $touched but always not worked

[code]

[2016-04-16 08:43] jainshravan123 opened #8074 "md-fab alignment"
<img width="112" alt="screen shot 2016-04-16 at 2 09 05 pm" src="https://cloud.githubusercontent.com/assets/6860473/14580002/e5455120-03dc-11e6-90ba-68c3c941bdfe.png">

Hi Guys,

M using following code for designing of a floating action button. Everything is fine except single one. The content inside the button is not appearing in center. The icon is displaying slightly in upper side. I want to sh

[2016-04-16 09:16] stefanahman commented on #6304
@ThomasBurleson Why is this still closed?

[2016-04-16 09:43] stefanahman commented on #6304
Could this be an issue? https://github.com/angular/material/commit/eaf0fe5193d862120eee673de0861632d076d4a7#diff-c85cbcb498085b434972d3ed6403735dR23

[2016-04-16 09:48] DevVersion commented on #8074
This may be a duplicate of #8066? - @epelc

[2016-04-16 09:53] jainshravan123 commented on #8074
Okay.Thank You. I didn't get that link before.

[2016-04-16 09:56] jainshravan123 commented on #8074
I have solved it by adding following attribute
 style="position: absolute;top: 12%;left: 29%;"
with md-icon

[2016-04-16 09:58] jainshravan123 opened #8076 "md-tool bar content alignment"
<img width="1117" alt="screen shot 2016-04-16 at 3 27 05 pm" src="https://cloud.githubusercontent.com/assets/6860473/14580326/bb646444-03e7-11e6-9ce1-eb278d40363d.png">

I want to align the content of the toolbar in middle of line but it is not coming. Please help me to get out of this issue.

[2016-04-16 10:01] DevVersion commented on #8074
@jainshravan123 Cool, I will close that issue as a duplicate of #8066. If you have anything related to that issue, please write it there.

[2016-04-16 10:01] #8074 closed

[2016-04-16 10:01] DevVersion commented on #8076
Please provide a demo (codepen, plunkr etc.).

[2016-04-16 10:02] DevVersion commented on #8072
`md-chips` is currently not support `$touched`.

[2016-04-16 10:03] jainshravan123 commented on #8074
No issue buddy. :)

[2016-04-16 10:04] jainshravan123 commented on #8076
I did not upload it anywhere. Please help me here.

[2016-04-16 10:05] DevVersion commented on #8062
@ram-you Very good question, at the moment we have no way to do that easily.

@topherfangio What do you think? I think this would be a useful enhancement?

[2016-04-16 10:06] jainshravan123 commented on #8076
Click on the image then u'll see that both of the tabs are in the center of the whole screen and closed to each other.But i want to make them in a way that they should be coming in the center of their corresponding tabs.

[2016-04-16 10:10] DevVersion commented on #8076
@jainshravan123 You can vertically center your content in the toolbar by using the `md-toolbar-tools` class.

[code]

- http://codepen.io/DevVersion/pen/GZdjPO

[2016-04-16 10:14] uxitten commented on #8072
ok, but sometime worked when click down input chip !!!

[2016-04-16 10:16] jainshravan123 commented on #8076
<md-toolbar ng-show="!showSearch">
                <md-tabs  md-center-tabs="true" md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
                     <md-tab id="tab1" aria-controls="tab1-content" flex >
                     Recent
                    </md-tab>
                    <md-tab id="tab2" aria-controls="tab2-content" flex>
                    Complete

[2016-04-16 10:17] jainshravan123 commented on #8076
<md-toolbar ng-show="!showSearch">
                <md-tabs  md-center-tabs="true" md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
                  <md-tab id="tab1" aria-controls="tab1-content" flex >
                    Recent
                  </md-tab>
                  <md-tab id="tab2" aria-controls="tab2-content" flex>
                    Complete
                  </m

[2016-04-16 10:17] jainshravan123 commented on #8076
<md-toolbar ng-show="!showSearch">
                <div class="md-toolbar-tools">
                  <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                    <ng-md-icon icon="menu"></ng-md-icon>
                  </md-button>
                  <h3>
                    Dashboard
                  </h3>
                  <span flex></span>
                  <md-b

[2016-04-16 10:17] #8076 closed

[2016-04-16 10:17] DevVersion commented on #8072
@uxitten This shows a basic form, outputting the `$touched` value.
- http://codepen.io/DevVersion/pen/NNMRoL

[2016-04-16 10:18] jainshravan123 commented on #8076
M using following code for this tool bar.
`<md-toolbar ng-show="!showSearch">
                <div class="md-toolbar-tools">
                  <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                    <ng-md-icon icon="menu"></ng-md-icon>
                  </md-button>
                  <h3>
                    Dashboard
                  </h3>

[2016-04-16 10:19] jainshravan123 commented on #8076
M using the following code for this toolbar.

`<md-toolbar ng-show="!showSearch">
                <md-tabs  md-center-tabs="true" md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
                  <md-tab id="tab1" aria-controls="tab1-content" flex >
                    Recent
                  </md-tab>
                  <md-tab id="tab2" aria-controls="tab2-content" flex>

[2016-04-16 10:22] jainshravan123 commented on #8076
M using the following code for this toolbar.

`<md-toolbar ng-show="!showSearch">
                <md-tabs  md-center-tabs="true" md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
                  <md-tab id="tab1" aria-controls="tab1-content" flex >
                    Recent
                  </md-tab>
                  <md-tab id="tab2" aria-controls="tab2-content" flex>

[2016-04-16 10:27] uxitten commented on #8072
![md-chips](https://cloud.githubusercontent.com/assets/1549069/14580483/8a023c04-03e3-11e6-91b9-83165660dcc0.PNG)

[2016-04-16 10:59] DevVersion commented on #8072
@uxitten Yes, can see that, this is strange.

[2016-04-16 11:11] apokusin opened #8077 "mdButton: light text on dark colors has incorrect transparency level"
See design specification: [Material Style - Color](https://www.google.com/design/spec/style/color.html)
Implementation reference: [mdButton demo](https://material.angularjs.org/latest/demo/button)

The guidelines state that light colors on dark backgrounds, like primary and accent colors, should be white at 100% opacity. The current implementation sets transparency to 87%.

![screenshot](https://d

[2016-04-16 11:19] DevVersion commented on #8077
Yes, I can see that. Maybe the specs have changed that or we just missed it.

![image](https://cloud.githubusercontent.com/assets/4987015/14580697/da64bc52-03d5-11e6-9c29-cb0f5b8f2477.png)

[2016-04-16 11:22] DevVersion commented on #8071
This is caused by the transclusion of the tabs component. Through the transclusion, all the references to the original canvas will be lost and fabricjs can't keep track of them anymore.

[code]

Maybe there should be a possibility to anchor the tab content.

[2016-04-16 13:42] ThomasBurleson commented on #6304
@stefanahman, @alexalexandresq - thx for the information. Reopened.

[2016-04-16 14:29] cadilhac commented on #1211
What is the status of this ? I use a bottomsheet with RC3. The display is perfect under my iphone. But on a desktop browser it shows a vertical scrollbar because of the bottom padding...

[2016-04-16 14:30] DevVersion commented on #1211
@cadilhac The bottom padding is already reported. #7410

[2016-04-16 14:51] praskarnam opened #8078 ""UNSPECIFIED_EVENT_TYPE_ERR: DOM Events Exception 0:""
on iOS 9.2.1 getting the below error on any touch event and not able to proceed with anything.

"UNSPECIFIED_EVENT_TYPE_ERR: DOM Events Exception 0: The Event's type was not specified by initializing the event before the method was called. - undefined:undefined"

Am using angular material with appgyver supersonic framework.

Appreciate your earliest reply.

Regards
Prashanth Karnam

[2016-04-16 15:05] randallmeeker opened #8079 "FAB speed dial does not support ng-repeat for fab actions"
Looks different than #3224 despite the same title

when using ng-repeat for actions, they peak out of behind the trigger

![image](https://cloud.githubusercontent.com/assets/2538537/14581768/95ac6620-03ba-11e6-82b6-fe445a61b569.png)

CodePen http://codepen.io/anon/pen/revjLY

Locally getting same result on ngMaterial / 1.1.0 | Angular 1.5

[2016-04-16 16:59] redyyu commented on #1177
I am using Chrome on Android 6, Samsung Galaxy S7. and Moto G.
The sidenav animation has same issue. the material angular is 1.0.7

I have another material ng project using 0.9.8, looks much better than 1.0.7.

[2016-04-16 17:11] tspayne87 opened #8080 "md-menu offset not calculating correctly"
When you open a menu and you do not have a ng-click before the md-menu-contents tag it will get the first ng-click that may exist within the menu itself.  I was using data-ng-click to open my menu which is not being picked up by the init function.  I have a fix for this and its adding in the data-ng-click into the querySelector, an example is

Current:
triggerElement = $element[0].querySelector('[

[2016-04-16 18:05] #8043 closed

[2016-04-16 18:05] #8044 closed

[2016-04-16 22:37] GustavoCostaW commented on #7577
fixed.

[2016-04-16 22:37] #7577 closed

[2016-04-17 00:48] tylerl0706 opened #8081 "md-tabs drag and drop"
Does md-tabs have drag and drop reordering? I can't seem to find docs on it anywhere.

[2016-04-17 08:58] zaqpiotr commented on #4636
Hello, @achuinard could You tell me how add Your directive to md-datepicker and how to use it?

[2016-04-17 09:57] rexhxiao commented on #4233
+1

[2016-04-17 11:27] rak13 commented on #8071
there's a workaround [here](http://stackoverflow.com/questions/36660982/fabricjs-canvas-inside-angular-material-tabs-doesnt-work/36675788#36675788) but a callback function would be more preferable.

[2016-04-17 14:20] DevVersion commented on #3538
Fixed with SHA 08bf4f93763d2aea9901d697f8cc3786d242725f

[2016-04-17 14:20] #3538 closed

[2016-04-17 14:21] DevVersion commented on #1078
Seems like this is fixed with SHA 08bf4f93763d2aea9901d697f8cc3786d242725f

[2016-04-17 14:21] #1078 closed

[2016-04-17 14:31] markfarrall commented on #3395
Also looking for the md-tab directive to support ng-dblclick to support users renaming the tab. Not urgent for me as I'm giving them a button at the bottom of the tab to rename.

[2016-04-17 16:55] crisbeto opened #8085 "Privatise the datepicker classes"
The datepicker-specific classes haven't been privatised. We should do it after #8083 is merged.

[2016-04-17 17:30] aeby commented on #7823
This is maybe related to #6810

[2016-04-17 21:36] moeabdol commented on #6304
I'm having the same problem. I ended up using the CDN version instead.

[2016-04-17 22:10] clshortfuse commented on #8029
@djfd I wrote the PR to lighten the watcher load. I suggest you take a second look at the code or pull request conversation since there's more technical information there, but I'll summarize.

Originally, there were two watchers per tooltip always. Now, there is a check to see if the browser supports MutationObserver. If it does, the watcher on md-direction is removed since it will always be a sta

[2016-04-17 22:20] ivoviz commented on #7955
@robertmesserle Can confirm this bug has been there for a long time. I don't think you can reproduce it in @DevVersion's pen, since it requires a query for a non existent element first.

One way to reproduce it on the demo page (in the `Basic Usage` example):
- Type 'x' in the input field (there is no state starting with 'x')
- Fast backspace
- And now type any character that would give you a real

[2016-04-17 22:26] djfd commented on #8029
sounds good ))

well, too rare case to have that visible watcher )) why do not use for that emit, for exmple ? but it is ok, just thinking...

please take a moment to test this as well: https://codepen.io/djFD/pen/PNRLWq try md-tooltip set to left under firefox (maybe under other browsers too, did not check

[2016-04-17 22:39] ThomasBurleson commented on #8029
Closing "tooltip flaw issue"

[2016-04-17 22:39] #8029 closed

[2016-04-17 22:41] clshortfuse commented on #8029
I'm looking at it the codepen now.

Of course, removing the watcher would be easier, but I designed the change to be non-breaking. The title of the issue is rather vague, but the conversation seems to be mostly be related to the usage of a watcher. If you feel there's nothing wrong with md-tooltip in terms of watchers I suggest you close this issue.

You might want to open up a new issue related s

[2016-04-17 22:44] clshortfuse commented on #8033
@topherfangio the Chrome click issue appears on angular 1.4.6

Angular 1.4.7 is fine. Here's a codepen fork with master and 1.4.7

https://codepen.io/shortfuse/pen/eZrKOO

[2016-04-17 22:55] ThomasBurleson commented on #6304
* the `**ie_fixes.css**` should not be included in the Sass compile process. It is a standalone, post-compile resource.
* `[bower-material/modules/layouts/angular-material.layouts.ie_fixes.css](https://github.com/angular/bower-material/blob/master/modules/layouts/angular-material.layouts.ie_fixes.css)` contains valid `@media screen\0`.

[2016-04-17 23:01] ThomasBurleson commented on #7593
Invalid or not core focus for Material 1.

[2016-04-17 23:01] #7593 closed

[2016-04-17 23:04] ThomasBurleson commented on #5371
Out-dated, invalid, or not core focus for Material 1.

[2016-04-17 23:04] #5371 closed

[2016-04-17 23:08] robertmesserle commented on #7955
@ivoviz Thanks, that worked for me!

[2016-04-17 23:32] konsumer opened #8087 "mdInkRipple not interpreting variable to disable"
Codepen [here](http://codepen.io/konsumer/pen/ONZENw)

In last items ripple should be disabled, but isn't.

`md-ink-ripple="doRipple"` `md-ink-ripple="!yes"` both ripple where `doRipple == false` and `yes == true`.

[2016-04-17 23:57] konsumer commented on #8087
I worked around it with this, but this seems terrible:

[code]

[2016-04-18 00:01] konsumer commented on #8087
I worked around it by using an inline template & `ng-if, but this doesn't seem right at all:

[code]

[2016-04-18 02:13] clshortfuse opened #8088 "md-color overrides md-button hover and focus colors"
as seen here: https://material.angularjs.org/latest/demo/colors

This is more important than it sounds for accessibility reasons. Trying to navigate with tabbing with keyboard won't show the user where focus is placed. Just by glancing at mdColors, I'm assuming it's a simple replacement for css with key/value pairs.

I suggest a key called 'palette' so users could instead write

    md-colors={pal

[2016-04-18 02:25] texas697 opened #8089 "TemplateUrl for Dialog"
I have been trying to get this work for a while with no luck. I have found the other posts here asking for the same thing but I am not able to get it to work. I can successfully put the script tag in the header of the index.html but that is not practical considering I will have many modals. I am not receiving any errors in the console so i am stuck on how to trouble shoot this. I can confirm that

[2016-04-18 02:56] bietech opened #8090 "md-select-subheader inside md-tabs or md-subheader doesnt work"
Hi,
the searchbox in my md-select-subheader doesnt work if i put it inside the md-tabs and md-subheader but it is working outside. Please help. thanks

[code]

[2016-04-18 03:53] matt-neill commented on #5909
+1

[2016-04-18 03:54] piyushchauhan2011 commented on #3464
@Kasahs yep works perfectly. Use `.your-container` to identify in which case you want to disable

[2016-04-18 07:35] gimox commented on #8090
same problem, custom directive inside md-tabs not work.

[2016-04-18 08:41] Arf291 commented on #5575
Hello, I know this issue is closed, but I'm experimenting this problem and I would like to know if it has been solved in some concrete release.

Thank you very much.

[2016-04-18 09:23] radzikp opened #8091 "mdIcon: size and component's layout"
Angular material version: `1.1.0-rc4-master-9679be3`
Browsers and Operating System: All browsers/systems

If I set `font-size `ex: `md-96` in css and add this as class name with `md-icon` directive, layout doesn't look well (column). This is because `md-icon` `height`, and `width` are set to `24px` in `md-icon` directive by default.

Suggested fix: They should be set to `auto`.

![screen shot 2016

[2016-04-18 09:54] z3ntu commented on #7983
bump

[2016-04-18 11:05] dalu commented on #3420
eh... I .. of course I didn't commit the changes. That's how it always goes. There's git and you just don't use it the way you should because you're in the middle of it.

http://codepen.io/anon/pen/ZWoVzR

try reducing the width of your browser.

[2016-04-18 11:20] mmiszy commented on #6086
I exported your code into a directive decorator. Moreover, I removed the condition from second `$watch` because I was still getting inconsistent red underlines (now they're gone).
*Mind the code is in ES2016 so you might need to modify it to make it work without a transpiler.*

[code]

[2016-04-18 11:27] graphefruit opened #8092 "CSS - Toast-Content - Wrong height adjustment"
Hello Team,

the md-toast-content doesn't expand to the max-height of 168px.
```   max-height: 168px; ```
Looks like:
![image](https://cloud.githubusercontent.com/assets/6260244/14602544/db4c43d0-0568-11e6-9424-aa7a1397ad5e.png)

The problem of this is that the height is set to 0.
``` height: 0 ```

After setting the height to auto, it works like expexted.
``` height:auto ```

![image](https://clo

[2016-04-18 14:08] vapits commented on #1773
That would be a great update on mdToast.
Material Design is awesome but there are a lot of cases that simple the four corners are not good choice.

Usually:
Top Left: Logo / Menu
Top Right: Logout or options
Bottom Right: FAB or Help
Bottom Left: Usually not noticeable (usually there is a toolbar there...

So I agree that would be a great addition Top/Bottom Center position.

[2016-04-18 14:15] EladBezalel commented on #6830
@crisbeto is your PR solves this issue?

[2016-04-18 14:19] crisbeto commented on #6830
I'd say so. I also pushed something similar a little earlier that should've solved this issue as well. See #7553.

[2016-04-18 14:19] epelc commented on #8066
@ThomasBurleson If you change `md-icon`'s `display` from `inline-block` to `block` it works. I think this is safe if we just apply it to `.md-icon-button md-icon` instead of `.md-button md-icon`.

Basically adding the following css will fix the alignment.
[code]

![image](https://cloud.githubusercontent.com/assets/5204642/14606179/fbb01684-0549-11e6-96db-73260eeca4ca.png)

I found this [codepen](h

[2016-04-18 14:21] DevVersion commented on #6830
@crisbeto @EladBezalel Already solved by #7553

- http://codepen.io/DevVersion/pen/Goxpxe

[2016-04-18 14:21] #6830 closed

[2016-04-18 14:36] EladBezalel commented on #6815
closed with 81b44a47cdf6c23f6811ebbb4ccaad17fd0b81af

[2016-04-18 14:36] #6815 closed

[2016-04-18 14:37] EladBezalel commented on #6557
closed with 65239b7

[2016-04-18 14:37] #6557 closed

[2016-04-18 14:38] EladBezalel commented on #6411
closed with 1554eb1

[2016-04-18 14:38] #6411 closed

[2016-04-18 14:51] yoav-zibin commented on #7978
BTW, I happened to stumble upon a similar behavior with just angularjs (without material design):
http://yoav-zibin.github.io/emulator/examples/ngMaterialBug/file_example.html

Now I'm always animating my ng-if show/hide :)
Since animation is at the heart of material design, and it fixes this issue, feel free to close the bug or reduce priority.

[2016-04-18 15:16] EladBezalel commented on #5919
@DevVersion @crisbeto is this solved?

[2016-04-18 15:16] #5845 closed

[2016-04-18 15:17] EladBezalel commented on #5845
@Wardormeur please write your comment there, your issue was first but #5861 has more info. thanks!

[2016-04-18 15:18] EladBezalel commented on #5751
@DevVersion take a look

[2016-04-18 15:47] rolandmaio commented on #1773
+1 @vapits is absolutely correct. Material Design is fantastic, but for a toast none of the four corners may be suitable in cases where the users attention is directed elsewhere. So either the toast tears their attention away or they may miss it entirely.

[2016-04-18 15:51] topherfangio commented on #7978
@yoav-zibin Thanks for the update!

[2016-04-18 16:19] mahonrig commented on #7419
Just wanted to note that I was also having this same problem, with the scroll-mask element blocking all touch events from changing focus.

Loading full jquery fixed the issue though, if that helps anyone hunt down the bug or have a temporary fix.

[2016-04-18 16:29] crisbeto commented on #5919
It should be once we merged #7991, I changed the logic for determining the height there so it doesn't use the rows to calculate it.