[2015-07-31 11:07] mrichar1 opened #3966 "md-autocomplete md-floating-label is string, not expression"
This means that you can't use 'dynamic' labels, e.g.: `<md-autocomplete md-floating-label="ctrl.myLabel">`

[2015-07-31 11:36] seiyria commented on #2344
I wrote it with jade.

[2015-07-31 12:11] Winsehr opened #3967 "Submission date time icons are too smal in input field (md-input)"
Hello!
I'm using Angular md-input in my form where the user must be able to submit a date and I am using the code from this material demo: https://material.angularjs.org/latest/#/demo/material.components.input (Basic usage example, "Submission date" especially).
It all works fine on tablets and the date time picker pops up. But on PC these icons are way too small and it's really hard to click on t

[2015-07-31 12:40] niwasmala commented on #3374
I've also encountered similar problem when I set data-ng-click on md-list-item, but when I used ng-click, it works.

[code]

[2015-07-31 13:17] Wardormeur opened #3968 "placeholder and icon floating with layout row"
Hi
When you align 2 inputs thanks to a layout="row", with one having an icon and the other not; the one with the icon is "floating" above the normal level
Example : http://codepen.io/anon/pen/bdOVzv
Version : 0.10

[2015-07-31 13:19] ThomasBurleson commented on #3964
Fixed https://github.com/angular/material/commit/af052358a0f606c7c43aafe34e20a6cdf53975b2

[2015-07-31 13:19] #3964 closed

[2015-07-31 13:21] ThomasBurleson commented on #2701
@paambaati - Thanks for the feedback. As soon as v0.10.1 is released, we will commit to master (to be published with 0.11) these fixes for the ngAnimate compatibility issues: https://github.com/angular/material/pull/3949

[2015-07-31 13:24] ThomasBurleson commented on #2447
@greenecreations @aretheregods  - please make sure you are using the latest from #master:

*  Do you still have these issues?
*  Which version of Angular are you using ?

[2015-07-31 13:24] alexliubj opened #3969 "[Question] How can I embed a md-button inside md-list-item in a md-list"
Each row is a md-list-item it can be clickable with ng-click1
Each row contains a md-button which can also be clickable with ng-click2
When user click the area without md-button, it will execute ng-click1. if click the button will execute ng-click2 function.

Right now when I click the button, button's ng-click is not working, can't accept the click event.

[2015-07-31 13:32] dh94 commented on #3898
@rgolea  ofcourse you can define any palette you want, it's just that i needed a way to access
my costume defined palette when declaring a directive, and i thought i could use <code>$mdColorPalette</code> but now i see it's a constant.. anyways sorry for the false issue

[2015-07-31 13:32] #3898 closed

[2015-07-31 13:34] lbialachowski-act commented on #3406
+1

[2015-07-31 13:35] dh94 commented on #1269
@clshortfuse cool function, but i dont think it'll work with costume palettes because mdColorPalette is a constant that doesn't contain costume defined palettes

[2015-07-31 13:39] ThomasBurleson commented on #3965
Not yet.
*  There is a PR https://github.com/angular/material/pull/3662 that would support this.
*  Dialog service would need to use `$mdCompile`

Your request may present a good use case.

Please provide a CodePen or Plunkr that demonstrates this issue. Here are some starter demo templates that you can use/fork:

*  CodePen template: http://codepen.io/team/AngularMaterial/pen/BNYppz
*  Plunkr tem

[2015-07-31 13:43] bluebirdtech commented on #2943
+1

[2015-07-31 14:29] Sriram143 opened #3970 "md-autocomplete is not disabling if `disabled` applied to its parent"
hi

I have a ng form and and inside that i have many md-autocomplete controls if i applied ng-disabled attribute to ng-form its changing the color but autocomplete is not disabling.

[2015-07-31 14:45] jocel1G opened #3971 "Hello World on Internet Explorer 11"
From the CodePen http://codepen.io/ThomasBurleson/pen/JopjjN, I make a local Web site. On this site, the text "HELLO WORLD" and the icons are left aligned witn Internet Explorer 11, whereas on Thomas Burleson's CodePen, only the icons are left aligned. Anyway, to have everything center aligned, I have made the following changes, in the file angular-material.css :

* in .md-button, the line display

[2015-07-31 14:49] programmist commented on #2530
This issue will close when PR #3718 is merged into master.

[2015-07-31 15:09] lwcincr93 commented on #1388
add .md-whiteframe-z1 class to toolbar

[2015-07-31 15:28] NickBolles commented on #3817
For now would it be possible to remove the `md-scroll-y` attribute on the `<md-content ng-view...>` element so that mobile users can scroll over to see the rest of the table? currently `md-scroll-x` sets `overflow-x` to `hidden`.

[2015-07-31 15:30] dongmingliy opened #3972 "Font weight is not right"
The font weight does not look right when I use  md-button, and I noticed that in the demo and codepen are showing different font weight. It appears the demo is following the MD spec.

Demo:
![image](https://cloud.githubusercontent.com/assets/6826615/9010820/588e47d2-3777-11e5-8284-f658a265b2f1.png)

https://material.angularjs.org/latest/#/demo/material.components.button
Codepen:
![image](https://c

[2015-07-31 15:42] sanketsaurav commented on #3615
+1

[2015-07-31 15:42] innerpeace0 commented on #3967
It was even smaller on my computer. The up/down arrow covered the last digit of the year.

[2015-07-31 16:24] pavankumarkatakam commented on #3965
I have seen that PR and he used to make the `$mdDialog resolve` same as the `ui.router resolve`, i agree that and it also very help full and of course im suggesting that too that in ui.router we have `templateProvider` which is a function to resolve dynamically return a template, in fact im using ui.router `templateProvider` in my own project also.

But my use case is that , my application is big

[2015-07-31 17:00] #3719 closed

[2015-07-31 17:01] #3692 closed

[2015-07-31 18:27] calebegg opened #3973 "Wrong color for validation errors"
Validation errors are #F44336 (on e.g. https://material.angularjs.org/HEAD/#/demo/material.components.select). The spec says they should be #DD2C00: http://www.google.com/design/spec/patterns/errors.html#errors-user-input-errors

[2015-07-31 18:33] KReden commented on #3969
One of the guys on my team  accomplished this by making a localize event directive we can slap on buttons and the like

[code]

[2015-07-31 19:55] YBogomolov opened #3975 "md-tabs: controller leakage (1.4.x compatibility)"
With Angular 1.4.x ngIf began to work as expected, and this lead to the following issue with md-tabs.

Consider the following CodePen as an example: http://codepen.io/anon/pen/PqXGKB
When you switch between tabs, you can see that in console many new messages 'I am created!' are written, thus many scopes are created, too. But none of them are destroyed.

The fix is relatively simple: you should cha

[2015-07-31 21:00] amritk commented on #1060
@talgleichger any progress on this? I think its definitely needed

[2015-07-31 21:39] tiny-dancer opened #3976 "Md Autocomplete: Blur on selected element (enhancement)"
Couldn't find this through docs/google.  Unless i am missing something, it would appear to be helpful to allow the input for autocomplete to blur when selecting an item.  In devices this would naturally allow the keyboard to hide from the screen.

Thanks and great work

[2015-07-31 22:22] aretheregods commented on #2447
I'm on version 1.4.4 of angularjs and version 0.10.1 of angular-material - the most current from master. I do still have this issue with md-select, exactly the same issue as stated in the op.

[2015-07-31 22:55] pavellob commented on #3911
Hi,
md-autocomplete component crashed browser when I want to remove its selected value and click to another one.
It so in Chrome Brower (v. 43.0.2357.130).
angular-material 0.10.0
angular 1.4.3
There's no error in console.
Thanks

[2015-07-31 22:58] bengadbois commented on #3797
I see the same behavior on with md-switch

[2015-07-31 23:38] juliusl commented on #3326
This was causing issues for me when I had a table with a good number of elements. Eventually when I do this:
[code]
Everything just works. I think there might be an issue in the clamp() logic.

https://github.com/angular/material/blob/master/src/components/menu/menu-interim-element.js#L363

[2015-07-31 23:44] ngraef commented on #3972
Looks like Roboto isn't being loaded in the pens. Roboto needs to be added as a CSS resource in [`CodepenDataAdapter`](https://github.com/angular/material/blob/master/docs/app/js/codepen.js#L49).

[2015-08-01 01:03] jameswyse commented on #3179
Thanks for the workaround @sylviefiat!

[2015-08-01 03:13] scarletsky opened #3977 "sticky footer not work well in md-content"
demo: http://codepen.io/scarletsky/pen/MwZJrP

I implement sticky footer by the following way: (it is from https://css-tricks.com/snippets/css/sticky-footer/)

[code]

[code]

But the result is that there are two scrollbar in the window(out of `md-content` and in the `md-content`).

How can I fix this? Thanks.

[2015-08-01 06:04] norkunas commented on #3977
If you don't need to support older browsers then you can use css ```calc``` function with ```vh``` units
or with a little bit changed layout you can make to work in this way http://codepen.io/rscafi/pen/bNXRxY/

[2015-08-01 06:27] scarletsky commented on #3977
@norkunas
Thanks for the reply.
In your demo, it seems that the header is no longer always fixed on top ?

[2015-08-01 06:39] sina-mirhejazi commented on #3309
I have the same problem but error message is a little different
[code]

any help?

[2015-08-01 06:45] norkunas commented on #3977
http://codepen.io/norkunas/pen/PqXpNR try this. And if you will catch window scrollbar again then  add:
[code]
http://www.paulirish.com/2012/box-sizing-border-box-ftw/ or import https://github.com/necolas/normalize.css/

[2015-08-01 07:20] norkunas commented on #3309
@sina-mirhejazi include non minified version of angular and then you'll see the problem

[2015-08-01 08:16] sina-mirhejazi commented on #3309
@norkunas so it's the same error
[code]

[2015-08-01 09:44] scarletsky commented on #3977
@norkunas
I'm sorry, in my case, I need to keep the header fixed on top, the footer needn't to fixed on bottom.

This is what I want:
If the `#main` container's height do not enough height, the footer should fixed on bottom, else the footer should appear when user scroll to bottom.

[2015-08-01 10:09] KSanthanam opened #3978 "md-grid-list not working in 0.10.0 but works in 0.8.3"
Same parameters produce proper md-grid-list in Angular Material 0.8.3 but when I upgrade to 0.10.0 it fails.
I found the difference in generated HTML. For some reason the 0.10.0 version calculates the padding-bottom with 0 multiplier. Is this a known bug. I need md-menu with $mdOpenMenu(), it doesn't seem to work in 0.8.3 version.

Can someone please if **$mdOpenMenu()** works in **0.8.3** or if t

[2015-08-01 10:33] andreialecu commented on #3975
This is fixed in the latest 0.10.1-rc5: http://codepen.io/anon/pen/zGyZVZ

Related: https://github.com/angular/material/issues/3692

[2015-08-01 11:07] andreialecu commented on #3903
Repro: http://codepen.io/anon/pen/PqXpMV (remove the inner form tag and it will work.

[2015-08-01 11:27] andreialecu commented on #3903
Found a workaround, here's a working codepen: http://codepen.io/anon/pen/aOPWOL

Looks like it needs a wrapping md-content, so the markup looks like this:
[code]

I will keep this open waiting for more feedback on whether this should be the expected markup for this scenario or not.

Perhaps <form> can have some specific styling in angular-material to not require those attributes so it just works f

[2015-08-01 11:48] chungwong opened #3979 "autocomplete is not working inside dialog."
For some reason, if scope is preserved in a dialog, autocomplete is not functioning well at all.

To produce the problem:
1. open dialog
2. select anything in autocomplete
3. close the dialog
4. repeat above steps

And you will see an extra autocomplete selection appeared at the top left of the page.

If
[code]
are commented out, this will not happen.

Below is a codepen which is forked from  the

[2015-08-01 13:59] KSanthanam commented on #3978
I figured out the issue. In 0.10.0, it expects the tile to be immediate child to grid-list whereas 0.8.3 was lenient in this regard. So closing.

[2015-08-01 13:59] #3978 closed

[2015-08-01 14:34] pbaris commented on #2353
+1

[2015-08-01 15:09] andreialecu commented on #3900
+1 for this.

Repro here: https://material.angularjs.org/0.10.1-rc5/#/demo/material.components.chips

Go to the contact chips and start typing, then hit down arrow on the keyboard and select something with enter. It's broken with the keyboard, but it works with the mouse.

[2015-08-01 15:12] houmark commented on #3900
If you use tab when having selected one it works as expected. Only hitting enter breaks it.

[2015-08-01 15:19] norkunas commented on #3977
@scarletsky i've updated the demo. now it should behave how you want

[2015-08-01 15:27] scarletsky commented on #3977
@norkunas I try to do this in your demo:

[code]

It seems that the `<footer>` not work as we expected.

[2015-08-01 15:48] tommy8694 commented on #3030
+1
firefox and safari work normally in my mac.
chrome is very laggy

[2015-08-01 17:11] agconti commented on #2741
+1

[2015-08-01 17:25] ianchenguo commented on #3811
+1

[2015-08-01 18:45] andreialecu commented on #3833
#3900 is related.

[2015-08-01 18:55] karamasoff opened #3980 "md-subheader does not update his md-sticky-clone position if an element is hidden via a ng-show="false""
I don't know if it's a bug or a misunderstood, but when you display a md-subheader after an element that can be hidden through ng-show directive, the md-subheader sticky-clone never changes his top position.

Please check this codepen for more details: http://codepen.io/anon/pen/ZGVywP

[2015-08-01 19:23] jjf1 commented on #3860
This refactoring commit breaks nested tabs... https://github.com/angular/material/commit/c7131f3a84e9af141dff2b0e4ac9e352307d342f

[2015-08-01 19:32] infomofo opened #3981 "Fire an event when a sidenav is closed because md-backdrop is clicked"
On the "material.components.sidenav" demo page they demonstrate how you can print a log message when the right sidenav is toggled, and when the close button is explicitly pressed.  Both will log events to the console.

https://material.angularjs.org/latest/#/demo/material.components.sidenav

However the close event does NOT fire if you click on the md-backdrop that is generated.  If you click on t

[2015-08-01 19:52] norkunas commented on #3977
@scarletsky updated again.

[2015-08-01 23:41] jobsamuel commented on #2272
Hey @programming-kid, did Angular Material **v0.10.0** solve your issue? I'm looking forward to create something similar but I'm worried about this :pensive:

[2015-08-02 02:17] rodrigotm commented on #2097
+1

[2015-08-02 05:02] piyushchauhan2011 opened #3983 "md-autocomplete property for showing or hiding the cross icon on right."
It would be very useful if there is any property that we can use to enable and disable the cross button present on the right side of autocomplete to clear the text.

e.g. `enableClearButton: true/false`

![screen shot 2015-08-02 at 3 01 42 pm](https://cloud.githubusercontent.com/assets/693487/9024783/68b3c270-3927-11e5-98d1-91ddb0544ba9.png)

[2015-08-02 05:35] norkunas commented on #3977
@scarletsky http://codepen.io/norkunas/pen/waRrVz

[2015-08-02 05:37] scarletsky commented on #3977
@norkunas It works! thanks for your help!

[2015-08-02 05:37] #3977 closed

[2015-08-02 06:28] kingIZZZY opened #3984 "How to make an <md-select> view switcher with ui-router"
What is the best way to bind an &lt;md-select&gt; with ui-router routes, so that they update each other correctly; ui-router initializes the md-select to appropriate option upon page load, and selecting another option changes ui-router state?

Here is a working example without Angular Material http://plnkr.co/edit/b3pOQKRmuJRS7RyLbDP8 (courtesy of ctanga)
Here is a fork of the above appropriated f

[2015-08-02 06:34] natcohen opened #3985 "No visual difference between input and textarea"
It creates a confusion when a user can press the enter key to submit a form while in an input but in a textarea. There should be a visual difference between both in order to indicate to the user if he is in an input or a textarea...

[2015-08-02 06:38] gkalpak commented on #3985
:+1:

[2015-08-02 07:24] milad-kh commented on #2610
hi @ThomasBurleson,
is it possible to drag and re-arrange mdchip in a row ? like the one in jquery UI
sorry for my week english

[2015-08-02 07:27] mattblang commented on #2741
+1

[2015-08-02 07:51] tommyadey commented on #2073
+1

[2015-08-02 10:22] rafidka opened #3986 "Button not aligning right-to-left when the document is rtl"
I set dir="rtl" at the page level and everything seems to be working fine, except the sidebar navigator whose buttons still show left to right:

![angular-material-rtl](https://cloud.githubusercontent.com/assets/442447/9025720/b1c1116c-3908-11e5-8f56-0a05a2136fa2.png)

[2015-08-02 12:59] gabguy commented on #3802
+1 Md-autocomplete progressbar (the linear one) not animating on the first character when the search is an async request. On the rest of the characters the loading animation does appear

[2015-08-02 13:59] lillylykho commented on #3802
+ 1
I have the same behavior on my autocomplete

[2015-08-02 14:17] programming-kid commented on #2272
i haven't tried material v0.10.0 yet , but will soon give it a try meanwhile u can clone my above repo and replace angular material with v 0.10.0 and see if it works

[2015-08-02 14:17] macdasi commented on #3802
+1
I have the same behavior on my autocomplete

[2015-08-02 15:19] alanpurple opened #3987 "menu items not aligned in Microsft Edge(0.10.1-rc5)"
md-menu-item is not aligned properly to the start in Microsoft Edge
aligned well in Chrome

[2015-08-02 18:22] calebeaires opened #3988 "Windows 10 and Microsoft Edge"
MS has doing some improvements. Will Material Design AngularJS be prepared to it?

[2015-08-02 18:54] YAmikep opened #3989 "table component?"
I could not find a demo of tables on the Angular Material Live Docs website.
I could not find a table component in the source code either: https://github.com/angular/material/tree/master/src/components

That is however something we see in MDL: http://www.getmdl.io/components/index.html#tables-section

It'd be useful to add such a component.

Thanks.

[2015-08-02 20:12] faustomorales commented on #2151
Thanks, MaximShoustin! I built off of your directive but tried to compartmentalize (i.e., avoid searching the entire document for the input element).

[code]
Then you can use the directive this way (the requirement is to include a button and a file input inside the element).
[code]

[2015-08-02 22:24] wlingke opened #3990 "Angular Material breaks form ng-submit via enter/go button on iOS"
If you have a form with ng-submit, pressing enter on a iOS device (with both chrome and safari), will not trigger the ng-submit function. This works as expected with angularjs alone but with the addition of angular material, it no longer works.

Working (without ngMaterial)
http://embed.plnkr.co/Cs3QTjaN6GdnfL1vOKNl/preview

Not working (with ngMaterial)
http://embed.plnkr.co/F0qVeaIxNnBlLHgVKQ5Z/

[2015-08-03 01:32] tmhilton commented on #2344
This looks very promising. However, I want to take it a bit further and navigate to a tab via a link (in the left nav, specifically) to one of the tabs on another page. Here is a simple example of what I am trying to do. As @bastienJS noted the content changes but the tab doesn't. Any suggestions on how to make this work?

[2015-08-03 02:08] blakecannell commented on #3562
+1

[2015-08-03 02:21] Koslun commented on #3989
Look at this issue #796 on mdTable and close this as a duplicate.

Other than that, agreed, would be useful. Using https://github.com/daniel-nagy/md-data-table for now.

[2015-08-03 02:28] rothanachoun commented on #2131
+1

[2015-08-03 02:31] george3447 commented on #2792
+1

[2015-08-03 02:33] george3447 commented on #3158
+1

[2015-08-03 03:06] #3989 closed

[2015-08-03 03:52] advancedits commented on #487
+1

[2015-08-03 04:22] mattdanna commented on #2327
+1

[2015-08-03 04:39] epelc commented on #3988
I've was using the preview build(until it completly crashed my hard drive the day before release) and testing my app along with the docs in Edge every now and then. It works 100x better then ie11. I'd say it's some where between Safari and Firefox on the browser scale.

Also I updated to the real windows 10 after my computer crashed and it seems to work really well.

[2015-08-03 04:41] epelc commented on #3985
Do the little expand lines show up?

![image](https://cloud.githubusercontent.com/assets/5204642/9030950/5d48e748-3978-11e5-8f30-3570ecd41b1c.png)

[2015-08-03 04:49] epelc commented on #3984
@kingIZZZY You are setting your model to the state object while your option values use the name. Also you should using `ng-value="something"` instead of `value="{{something}}`.

Here is a working version http://plnkr.co/edit/UqSwd3t1gRPfQdM5AMt6?p=preview

Note I'm not quite sure while there's still a blank option it may be because of how you obtain the states list. As ui-router may have an empty

[2015-08-03 05:27] rhnatiuk commented on #3910
Reproduces in all PC browsers (IE11, FF, Chrome) on master (HEAD). Worse, the selected item will be reset to empty when the drop-down is open.

[2015-08-03 05:54] rhnatiuk opened #3992 "md-select is not sizing properly in IE11"
![capture](https://cloud.githubusercontent.com/assets/5135587/9031355/9d940840-39ba-11e5-9352-43b18cf7a295.PNG)

This behavior is there for ages in IE11 (since 0.8.something, if I remember correctly) - wonder why no one is reporting it.

[2015-08-03 07:18] diegolaciar commented on #3397
+1 with ui-router   ui-sref

[2015-08-03 07:21] diegolaciar commented on #3752
+1 -    Uncaught TypeError: target.hasAttribute is not a function
Using ui-sref

[2015-08-03 07:50] loveapoex opened #3993 "md-input-container scroll issue on iPad Safari"
Typing indicator within md-input-container shows wrong vertical position when scrolling in Safari on iPad.

Can be recreated by visiting https://material.angularjs.org/latest/#/demo/material.components.input on an iPad, focusing an input field and start scrolling.

Angular version: 1.4.0
AngularMaterial version: 0.10.0

[2015-08-03 09:13] heoseok opened #3994 "need 'dynamic' md-menu creation"
I use a number of 'md-card' and 'conditional' menus on each card.
So I bind all conditions per each card for menus.
It causes too much watcher and bad performace.
So I need an way to create menu on demand by script.

[2015-08-03 10:23] sovanna commented on #1269
@ThadeuLuz 404 on the gist..

[2015-08-03 11:47] ekaitzht commented on #3881
@naomiblack is still happening with v0.10.1-rc5.

[2015-08-03 12:59] MarcLoupias commented on #3564
There is another issue on top of that.

Color highlight is working well with readonly but md-input doesn't manage properly the ng-readonly directive (color highlight is still active with ng-readonly="true").

[2015-08-03 13:02] silverprize commented on #3803
I have experienced the same problem.
Checkout please.
- [video](https://drive.google.com/open?id=0BxDXoXCevyJKZnBKMlJjQy1kUzA)
- [site](http://silverprize.github.io/materialdrive)

[2015-08-03 13:21] chadburton opened #3995 "Dialog: Hide/Cancel not working in Firefox"
Firefox v39 on Windows 10. Can't click the hide/cancel buttons. Stuck in dialog box. Tested in `0.10.0` and `0.10.1-rc5`.

https://material.angularjs.org/0.10.1-rc5/#/demo/material.components.dialog

[2015-08-03 14:16] erem-ifg commented on #2736
Any updates on this? @robertmesserle?

[2015-08-03 14:31] ThomasBurleson commented on #3988
@epelc - Can you investigate #3995 also?

[2015-08-03 14:33] epelc commented on #3988
@ThomasBurleson That was created by my coworker he just started this week.

I was showing him how to submit issues since he found it. It was coming up in `0.10.0` and rc-4/5 in the latest firefox on windows 10. I'm not sure if it happens on windows 7/8 or on macs though.

[2015-08-03 14:51] epelc commented on #3988
@ThomasBurleson Also I just checked edge and the dialogs work fine.

[2015-08-03 14:58] ThadeuLuz commented on #1269
@sovanna sorry about that. fixed.

[2015-08-03 15:03] sovanna commented on #1269
@ThadeuLuz no worries ;) by the way, thank a lot for the gist, I use it in my module and it works perfectly ;)

[2015-08-03 15:05] lievenjanssen opened #3996 "mdDateTime Week picker"
@jelbourn Will there be an option in mdDateTime to pick a week?

[2015-08-03 15:38] brianpkelley commented on #809
I landed here looking for documentation for md-ink-ripple.   My use case is adding it to a `tr` element in a ng-table where the entire row is clickable.  This results in the entire table having the md-ink-ripple.

[2015-08-03 15:53] antonwestman commented on #2131
+1

[2015-08-03 15:54] #3988 closed

[2015-08-03 16:10] cafenroy commented on #3905
I have the same issue. Tabs are hiden when the screen is maximized. But they appear when the screen is smaller. I had to add (md-stretch-tabs='always') on the md-tabs element. If I add (md-center-tabs=false), the tabs show up, but the red line at the bottom is not working properly. Work on Chrome and Firefox.

I am using version 0.10.0

[2015-08-03 16:13] topherfangio commented on #3925
@davidedellai I'm updating the FAB speed dial with some more improvements, I'll make sure to include this too. Ideally, clicking the initial fab would toggle speed dial so that it can open/close.

[2015-08-03 16:15] topherfangio commented on #3748
@jaitaiwan Awesome! I'm going to go ahead and close this, please re-open if you are still seeing broken behavior in master or one of the latest -rc releases.

[2015-08-03 16:15] #3748 closed

[2015-08-03 16:20] topherfangio commented on #3390
@EndymionUSA is definitely correct, you should use `class="md-left"` or `class="md-right"` instead of `ng-class`, however, it looks like there may be some other issues with this.

On the example, I'm seeing the house icon appear above the FAB even when the toolbar isn't visible. I'll look into this a bit further, but it's possible it has been fixed with some other recent updates.

[2015-08-03 16:24] topherfangio commented on #3796
I've got some commits coming soon which will use `height: auto` so this should be fixed soon. I'll keep it open and post an update when fixed.

[2015-08-03 16:35] topherfangio commented on #3803
This was the intended behavior as Google Inbox does the same thing (if you hover the area of the speed dial, the actions appear). However, it has been requested by many to make this configurable and will be added soon.

Please track this issue and add comments to #3214 as it has more info/thoughts.

[2015-08-03 16:35] #3803 closed

[2015-08-03 16:36] jelbourn commented on #3996
Not in the initial version.

[2015-08-03 16:36] #3996 closed

[2015-08-03 16:39] topherfangio commented on #1416
@sjlynch I unfortunately took it a bit easier than I planned on my vacation and didn't get much done. Apparently, chasing a toddler around a cabin in the woods is harder than I thought (especially when there are two other kids he is chasing after).

In any case, I am now 100% focused on material and will be pushing to get a bunch of stuff done this week :-)

[2015-08-03 16:49] gkalpak commented on #3995
FWIW, it works fine for me on Firefox 39/Win 10...

[2015-08-03 17:05] robertmesserle commented on #3881
@ekaitzht Without being able to see the site breaking, I'm not sure I'm going to be able to help find the cause.  Is this visible somewhere so that I can debug it?

[2015-08-03 17:25] chadburton commented on #3995
Issue was with a Firefox add on by the name of "Print Edit" and should be closed (at least here)
Sorry for the non-issue and thanks for looking into it.

[2015-08-03 17:45] johannesjo opened #3997 "setting html and body height to 100% results in not being able to scroll the page via javascript"
Using the latest RC I just recognised the following:
[code]

I'm not sure what the actual purpose of this is, but it breaks all javascript scrolling functionality using ```window``` or ```$document```. Setting the height to auto again fixes those issues.

[2015-08-03 17:47] george3447 commented on #3981
+1

[2015-08-03 17:47] #3995 closed

[2015-08-03 18:10] calebegg opened #3998 "Wrong color for hint text"
Hint text in <md-input-container> and friends is too light; the contrast ratio for hint text is only 1.88. The Material spec requires a ratio of at least 4.5. Hint text should be changed to 54% alpha instead of the current 26%.

http://www.google.com/design/spec/style/typography.html#typography-other-typographic-guidelines

"Text should maintain a minimum contrast ratio of at least 4.5:1"

[2015-08-03 18:12] topherfangio commented on #3739
@rgolea Any chance you could test out the latest master version and see if this is fixed? Thanks!

[2015-08-03 18:13] nickmorri opened #3999 "md-autocomplete menu positioned before md-dialog has finished animating"
The md-autocomplete menu is positioned when the md-dialog first begins animating from its initial location. This causes the dropdown menu to appear in the at the eventTarget source rather than on the input method where we would expect it. I'm thinking that this would be a problem for any directive that is compiled during md-dialog's animation.

[2015-08-03 18:15] johannesjo commented on #3997
It turns out that I had ```overflow-x: hidden;```set which in combination with the height does prevent all scrolling.

[2015-08-03 18:18] nickmorri opened #4000 "MdAutocompleteCtrl shouldHide func returns undefined"
Currently if the expression evaluates to false undefined is returned when it should instead be returning false.

    function shouldHide () {
        if (!isMinLengthMet() || !ctrl.matches.length) return true;
    }

Below I included a fix. I was unable to push my branch to initiate a pull-request, what is the procedure to submit a PR?

    function shouldHide () {
        return !isMinLengthMet()

[2015-08-03 18:25] syjulian opened #4001 "md-input: <input type="date"> placeholder clashes with empty dd/MM/YYYY text (Chrome)"
When I use a dark theme with a date input, the placeholder value can be seen overlapping the input's label. It also looks like the text is doubled. Any help on how to fix this?

http://codepen.io/syjulian/pen/jPXXdg

[2015-08-03 18:48] nickmorri commented on #3999
A quick fix could be:

    $mdDialog.show({
        onComplete: function (scope, element, options) {
            element.find('input').focus();
        }
    });

[2015-08-03 18:56] alirezamirian commented on #1376
@sjlynch you should use it as class on label.

[2015-08-03 18:58] ngraef commented on #3985
@epelc The Biography field in the [input demo](https://material.angularjs.org/latest/#/demo/material.components.input) is a textarea. Though I agree, it might be helpful to explicitly highlight it in a new example.

[2015-08-03 19:07] topherfangio commented on #3632
Still working on this, should have code merged this week.

[2015-08-03 19:07] thunderboltsid opened #4003 "input field in md-input-container doesn't work with label and placeholder at the same time"
An input field inside and md-input-container chooses to display only the label if present or the placeholder in the absence of a label. I'd normally expect placeholder to animate in once the field is focussed and empty but it doesn't. The console log shows a warning saying 'The placeholder='email@web.com' will be ignored since this md-input-container has a child label element.'. I found a referenc

[2015-08-03 19:15] topherfangio commented on #3585
@deckikwok @EricBichara @kschwidder I think I may have mis-understood the exact issue here. Can one of you describe it in a bit more detail?

[2015-08-03 19:15] r0b- commented on #3802
+1
(0.10.1-rc5)

[2015-08-03 19:45] rschmukler commented on #3909
@no-more can you please submit a codepen/demo of the issue that you're seeing?

[2015-08-03 19:46] rschmukler commented on #3874
Closing since this is fixed on master.

[2015-08-03 19:46] #3874 closed

[2015-08-03 19:48] rschmukler commented on #3758
@Tyrannmisu can you submit a demo?

[2015-08-03 19:53] heinschulie opened #4004 "Angular Material conflicts with Angular Google Maps once markers are added to map."
Hi everybody,

My issue is so convoluted that I'm scared the solution is really obvious...I recently rehauled the design of a small app I am writing which relies heavily on Angular Google Maps. The new look uses the Angular Material framework and everything works amazingly well on Safari but for some reason on Chrome the map breaks completely (jumps erratically when attempting to pan etc.) as soon

[2015-08-03 19:58] jimmyorr commented on #3639
@llwt sorry, you're right, I'm still seeing it with 44.0.2403.125 on Linux (using http://codepen.io/anon/pen/MwVdZK to test).

[2015-08-03 20:01] rschmukler commented on #3701
This is fixed on master. Suspect it was a duplicate of #3704

[2015-08-03 20:01] #3701 closed

[2015-08-03 20:05] mmatheson1 commented on #3639
Just tried with the next release (v0.10.1-rc5) and this bug seems to be resolved there.

[2015-08-03 20:07] jelbourn opened #4005 "Include a minified file in closurized releases"
When we generate the Closurized component modules, we currently just generate an unminified file like `button.js`. We should also be generating a pre-minified file like `button.min.js`.

[2015-08-03 20:11] topherfangio commented on #4004
Any chance you have a test site that we could look at, or could you possibly create a Codepen.io with a minimal, breaking example.

Also, what version of Angular/Material/Maps/Chrome are you using?

[2015-08-03 20:25] topherfangio commented on #3477
Since we haven't received any updates on this, I'm going to go ahead and close this issue. Please re-open if you can provide a codepen/example or better describe what you're trying to do.

[2015-08-03 20:25] #3477 closed

[2015-08-03 20:34] gnmfcastro commented on #3190
@davthu can you post the solution to deal with the delete key ? i wnat to make only one of the chips unable to be deleted.

[2015-08-03 20:39] heinschulie commented on #4004
Hi Topher,

Firstly thanks for the reply!

It's relatively late here and I've shut down everything but will try get a code pen up tmw morning. I'll include the exact versions of everything then too.

Thanks again!
Hein

[2015-08-03 21:13] ekaitzht commented on #3881
@robertmesserle here you have http://bit.ly/1K18Xx0.

[2015-08-03 21:25] robertmesserle commented on #3881
Can you try the latest version?

https://github.com/angular/material/commit/778af934ffd0cb331660581a26446e635d898f28

I think this should take care of it for you.

On Mon, Aug 3, 2015 at 2:13 PM, ekaitzht <notifications@github.com> wrote:

[2015-08-03 22:17] cybercyst opened #4009 "md-select doesn't close on backdrop click"
In Firefox and Internet Explorer, you HAVE to click on an option to close md-select, you can't just click on the backdrop to close the md-select element without selecting an option.

[2015-08-04 03:59] epelc opened #4011 "mdTab: Document md-active option"
It seems the docs for [`md-active`](https://github.com/angular/material/blob/master/src/components/tabs/js/tabDirective.js#L84) were either removed or never there. Anyways it'd be nice if it was documentented on the `md-tab` page.

Docs page
https://material.angularjs.org/0.10.1-rc5/#/api/material.components.tabs/directive/mdTab

[2015-08-04 04:30] no-more commented on #3909
Hi,

You can try on : http://codepen.io/anon/pen/oXJRqP

If you select a label then change the corresponding the selected label does not update until you open the select dialog.

Thanks.

[2015-08-04 04:53] innerpeace0 commented on #4001
Looks fine on Pale Moon, a Firefox derivitive, on Linux.

[2015-08-04 06:16] deckikwok opened #4012 "on IE11: on mddialog close, body overflow hidden does not reset to overflow:auto"
related to issue #3005. I've temporarily solved that issue with a specified height since flex is acting up on IE. However, I face another issue:

When opening a mddialog with disableParentScroll set to true, the body will be assigned an overscroll: hidden. On closing, the overscroll:hidden attribute is not set to auto - which is the intended behavior and is exhibited on Chrome.

My temp fix: calle

[2015-08-04 06:18] JavierCVilla commented on #35
It would be very useful if the swipe functionality could be added to close sidenav

[2015-08-04 06:52] Tyrannmisu commented on #3758
Demo on 0.10.1-rc5:
http://codepen.io/anon/pen/oXJrwK

'Scooby Doo' won't show up as selected in the md-select until you click on it (no selection necessary) to load the async values.
It is not possible to pre-select something when using async-options.

[2015-08-04 06:52] ianchenguo commented on #2148
+1

[2015-08-04 07:12] houmark commented on #1495
Any news here?

[2015-08-04 07:32] jahtalab commented on #2982
+1
when this will be resolved?

[2015-08-04 08:08] ekaitzht commented on #3881
@robertmesserle  is fixed but there is a small issue. The title "murnow" is not centering. As well this is not happening in development and is not happening in firefox and chrome.

[2015-08-04 08:20] davthu commented on #3190
This is basicly what we do. Watching the chips collection for changes in size and then finding the the diff:

[code]

[2015-08-04 10:12] ddatta commented on #406
faced the same issue, added ngAria as a dependency and it worked.

[2015-08-04 10:32] no-more commented on #4001
Hi,

I have same issue on chrome, not FF

[2015-08-04 11:55] YuriyVlasenko commented on #1912
+1

[2015-08-04 12:57] Londovir commented on #4009
I can reproduce this on the HEAD demo website for Firefox, but not in IE11 (Windows 10 build) nor Edge. Need to set up a Win8.1/Win7 IE11 VM to test that, though...

[2015-08-04 13:04] ThomasBurleson commented on #4009
@cybercyst, @Londovir - you are using which version of:
*  Angular Material?
*  Angular?

[2015-08-04 13:16] heinschulie commented on #4004
Hi @topherfangio

Apologies for not putting this up sooner. This is the first time I ever post an issue or write a plunkr for public viewing. Let me know if anything else is needed!

If anyone wishes to follow the other thread on this issue over on the Maps forum, here is the link: https://github.com/angular-ui/angular-google-maps/issues/1420

Else here is a plunk of the issue: http://plnkr.co/edi

[2015-08-04 13:17] Londovir commented on #3992
It was reported, just hasn't ever been fixed officially. There's a workaround in issue #2769 where this was reported in the past (and I commented in that one as well). This issue is a duplicate of that one.

One thing I've noticed is if you are seeing odd IE11 sizing/layout issues, the first culprit typically is the `flex-basis` CSS style. IE11 has significant issues with that one, namely that if

[2015-08-04 13:18] xtiggerk commented on #3992
It's the same on Chrome and FF i think ... ? there is also the same issue on md-select-option display.
The md-select doesnt' fit the larger element

[2015-08-04 13:21] innerpeace0 commented on #4009
May be related to freezing and other problems mentioned in [#3908] (https://github.com/angular/material/issues/3908).

[2015-08-04 14:17] Vishnuraj910 opened #4014 "sidenav close listen"
<pre><code>
 $scope.toggleMenu = function (obj) {
        $mdSidenav('left').toggle();
        $(".main-menu-icon").toggleClass("anim-active");
    };

</code></pre>

toggleMenu is on  ng-click the menu button. How can i remove the class 'anim-active' when sidenav is closed when clicked outside menu??

i want to do <code>$(".main-menu-icon").removeClass("anim-active");</code>
on sidenav close.

[2015-08-04 15:28] johannesjo commented on #1637
Don't know. When you wrap your navigation into a div thats not working. Maybe its better to set the overflow property on the body/window instead?

[2015-08-04 15:44] GlennButera opened #4015 "mdMenu opens only on ng-click event due to triggerElement"
**mdMenu** opens only on an *ng-click* event.  The current code specifically sets the triggerElement based on *ng-click*.

    this.init = function(setMenuContainer) {
      menuContainer = setMenuContainer;
      triggerElement = $element[0].querySelector('[ng-click]');
    };

This means that you cannot set it to open on a *ng-mouseenter* or *ng-mouseover*.  It would be better if it was using so

[2015-08-04 15:59] calebegg opened #4016 "md-toolbar too tall on mobile"
App bars should be 56px tall on mobile, but md-toolbar stays 64px tall.

[2015-08-04 16:08] alexitooi opened #4017 "md-menu-divider not visible if menu is scrollable (chrome)"
hi there,

currently (v10.rc5) the md-menu-divider is not visible, but in the DOM, if there are more than 5 items in md-menu-content which is scrollable. if md-menu-content is small enough, md-menu-divider are shown.
is this a desired behaviour? in latest stable chrome was not working, IE11 works as expected :+1:

best regards
![bildschirmfoto 2015-08-04 um 18 09 23](https://cloud.githubuserconten

[2015-08-04 16:11] calebegg opened #4018 "List view titles look bad with long strings"
See screenshot. The `line-height: .75em` means that the text overlaps. It should probably use `text-overflow: ellipsis`, but that also doesn't work with the `line-height: .75em`.

![long list view](https://cloud.githubusercontent.com/assets/782920/9065792/db5bc87e-3aa1-11e5-8896-295c715957ac.png)

[2015-08-04 16:29] kseamon commented on #3416
https://github.com/angular/material/pull/4002

[2015-08-04 16:29] kseamon commented on #1716
https://github.com/angular/material/pull/4002

[2015-08-04 17:25] #3421 closed

[2015-08-04 17:25] dmackerman commented on #4015
@GlennButera fork the repository, then submit a pull request with your changes.

[2015-08-04 17:27] robertmesserle commented on #3394
There are multiple issues for this already, closing for now.

[2015-08-04 17:27] #3394 closed

[2015-08-04 17:31] dmarg commented on #3945
@ThomasBurleson I have forked the plunker so you don't have to change it. Now one has the body-lock and one doesn't so you can see the difference.

With out body-lock: http://plnkr.co/edit/9rz5D30BTyP5ujWzL68h?p=info and see it in action here http://run.plnkr.co/plunks/9rz5D30BTyP5ujWzL68h/#/

With body-lock: http://plnkr.co/edit/3bBrC1lZP60XHVeA1kCK and see it in action here http://run.plnkr.co/p

[2015-08-04 17:46] ACDN commented on #3876
Hey Guys,

Just tried this out again in 0.10.1-RC5 and md-not-found is still not working.

ACDN

[2015-08-04 17:48] #2941 closed

[2015-08-04 17:50] robertmesserle commented on #2924
This should have been resolved - can you confirm?

(Closing for now)

[2015-08-04 17:50] #2924 closed

[2015-08-04 17:53] #2843 closed

[2015-08-04 17:59] robertmesserle commented on #2450
This should be resolved - please confirm.  Closing for now, will re-open if issue still exists.

[2015-08-04 17:59] #2450 closed

[2015-08-04 18:27] VikramTiwari commented on #3343
@ThomasBurleson When should we expect this to be implemented?

[2015-08-04 18:30] VikramTiwari commented on #3343
:+1:

[2015-08-04 18:42] robertmesserle opened #4019 "bug(toast): causes scrollbars to show while animating in"
This happens when the toast is initially placed out of view.  Setting `overflow: hidden` on the body should fix this; however, a more elegant solution would be to provide a wrapper around the toast box to contain the animation without using any global styles.

[2015-08-04 18:57] #1819 closed

[2015-08-04 19:00] #1789 closed

[2015-08-04 19:04] #1007 closed

[2015-08-04 19:04] #1006 closed

[2015-08-04 19:04] #840 closed

[2015-08-04 19:05] #465 closed

[2015-08-04 19:41] sricc commented on #3876
Same here..

[2015-08-04 20:02] NickBolles commented on #3994
You could use the bind once syntax in angular 1.3.x and up to avoid any watchers after the first bind
http://swirlycheetah.com/native-bind-once-in-angularjs-1-3/

[2015-08-04 20:20] mckenzielong commented on #4016
:+1: Also from the [spec](https://www.google.com/design/spec/layout/structure.html#structure-app-bar):

[2015-08-04 20:41] cesar-oyarzun-m commented on #4016
hi @calebegg are u using cordova web view for your app???

[2015-08-04 20:43] cybercyst commented on #4009
@ThomasBurleson
I'm currently on:
angular#1.4.3 (1.4.4-build.4148+sha.dc0b856 available)
angular-material#0.10.0 (0.10.1-rc5-master-f5a9101 available)

[2015-08-04 20:47] hblonski commented on #2492
+1

[2015-08-04 21:41] alanpurple opened #4021 "material site(HEAD) menu demo totally different in Microsoft Edge"
very slow and totally different

[2015-08-04 22:34] Charlie-Ng commented on #1901
or, selecting the same option again will clear the value and display the placeholder/label

[2015-08-04 22:36] breandr commented on #1901
That seems like poor UX

On Tue, 4 Aug 2015 3:35 pm Charlie-Ng <notifications@github.com> wrote:

[2015-08-04 23:20] nkoterba commented on #1399
So we've just "upgraded" from MD 0.8.3 to 0.10.

In 0.8.3, `md-dialog` had the `md-default-theme` class applied to it, e.g.: md-dialog.md-default-theme, in what I believe was the CSS styles injected into the `<head>` by material design.

This created a dialog in our app of:
![image](https://cloud.githubusercontent.com/assets/2508944/9074886/885abd52-3adc-11e5-8a46-ea0881ed794c.png)

In the inspect

[2015-08-05 00:31] chrismbeckett commented on #3576
I am. I get the same behavior. I don't get any animation, and I am also not getting a backdrop.

[2015-08-05 01:13] giriprashaad commented on #3225
my 2 cents in here, since its broken in the 0.10.0 version, i thought i'll comment in my workaround for others who are looking for a temporary fix.

I attached md-swipe-left="onSwipeLeft()" to the <md-content> inside a tab and md-selected="selectedIndex" for the <md-tabs>.

Added the following to work the swipes.
$scope.selectedIndex = 0;
$scope.onSwipeLeft = function(){
    if($scope.selectedInde

[2015-08-05 02:10] kalianto commented on #3225
@giriprashaad I tried your solution on 0.10.0., yes it works. However, I couldn't make the tab to scroll to the left and right, even with md-center-tabs

[2015-08-05 02:37] innerpeace0 commented on #4009
Besides the [demo page] (https://material.angularjs.org/latest/#/demo/material.components.select), it also happens on the codepen.

[2015-08-05 03:23] langley-agm opened #4022 "md-content doesn't work correctly with flex."
Maybe it works as expected but if it does, I'm not sure I fully understand the purpose of md-content and the documentation resumes up to one single line. I made a shorter example of my issue.

I want two divs with overflowing content each covering half the page,

This example works as I would expect (the two divs are immediate children of the body):

http://codepen.io/langley/pen/Nqorzv

However i

[2015-08-05 06:27] kitensei opened #4023 "md-icon & md-select aligment"
Is it possible to align an icon before a `md-select` tag ? I have tried in the angular-material codepen but as soon as I add an icon infront of a md-select tag, the alignement break up

[codepen][1]

[![md-select / md-icon alignement trouble][2]][2]

I tried to do it differently, but same result:

    <div>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-ic

[2015-08-05 07:15] gimox commented on #2450
ok thanks i try it..

[2015-08-05 09:39] evoker opened #4024 "md-autocomplete - Removing saved value blocks the UI"
Selecting an option from the list and then pressing X to remove it, blocks any interaction with the page. From a quick look it seems that the scroll mask is not removed or is added when pressing the X button.

[2015-08-05 10:37] evoker opened #4025 "[master#5722449] md-autocomplete - presseing (x) focuses the field but the list drop-down list doesn't appear"
After selecting a value from the autocomplete list, press (X).

The autocomplete field is focused but the list doesn't appear.

This was found on master at commit 5722449b372604fc2231f73140a44094c3a94cf8

[2015-08-05 11:18] Londovir commented on #4009
Oddly enough, I'm not seeing the issue this morning on the HEAD demo page in Firefox like I did yesterday. What's odd is the one main commit that I can see that took place yesterday wouldn't/shouldn't have had anything to do with this issue. Anyway, I can no longer replicate this in FF on my machine.

[2015-08-05 11:43] Londovir commented on #2447
Still seeing it in my CodePen which points to AngularJS 1.3.15 and master from angular-material. In IE11 (Windows 10 build), it takes over a second to open after initial click. Much of the time is spent in multiple "Style calculation" events in the timeline, as shown here:

![image](https://cloud.githubusercontent.com/assets/11982575/9084693/2f30fbd4-3b44-11e5-88a0-2493b6e44134.png)

What's odd is

[2015-08-05 11:47] bonatoc commented on #3364
In the meantime, you can still hack :

    MdChipsCtrl.prototype.onInputBlur = function () {
    this.inputHasFocus = false;
    var chipBuffer = this.getChipBuffer();
    this.appendChip(chipBuffer);
    this.resetChipBuffer();
    };

This is just replicating what is triggered by ENTER keycode, on **MdChipsCtrl.prototype.inputKeydown**.

[2015-08-05 11:53] evoker opened #4026 "[master#5722449] md-autocomplete - md-not-found text doesn't show"
md-not-found doesn't work although it's defined.

When looking at the DOM, the code appears and it seems to check 3 variables:
$mdAutocompleteCtrl.matches.length
$mdAutocompleteCtrl.loading
$mdAutocompleteCtrl.hidden

the first and second variable come up true when you enter a string that returns on matches but the third variable returns false. The list is hidden sure but the not found part should

[2015-08-05 11:55] evoker commented on #2574
I can confirm this as well with RC5, it's not working either.

[2015-08-05 12:31] tuchk4 opened #4027 "Click other component if md-select is opened"
http://codepen.io/anon/pen/yNZMjd

Now if one **select** is opened - to open second **select** user should click two times:
 - close current select
 - open second

it would be more convenient when user click second **select** while first **select** is still opened - close first and open second.  Maybe use additional parameter to <md-select>

What do you think?

[2015-08-05 12:36] dmaslov commented on #4027
It would be very useful! +1

[2015-08-05 12:38] cybercyst commented on #4009
It does appear to be working on HEAD for me as well, before I was testing on the 0.10.0 release page, which still doesn't work. So this should have been fixed and will be good in the next release!  Thanks!

[2015-08-05 12:38] #4009 closed

[2015-08-05 12:39] ya-s-ya commented on #4027
Absolutely agree! Right now it's not convenient for multiselect filters. Would be great to avoid the necessity of closing the previous select before opening the next one

[2015-08-05 12:56] evoker commented on #3293
This doesn't seem to be working still.

he's my code:

[code]

I don't think there's anything wrong with the code.

Trying with latest master 5722449b372604fc2231f73140a44094c3a94cf8

[2015-08-05 13:12] rolandjitsu opened #4028 "layout in IE10 seems broken"
I am not sure if this is because I may be doing something wrong, but on [this](http://commerceservertraining.com/#!/) website I've built, in IE10 it looks like the layout is messed up (It does not occur in other browsers).

[2015-08-05 13:32] evoker commented on #1780
This doesn't seem to be working in RC5 for 0.10.1

[2015-08-05 13:33] mhipo1364 opened #4029 "http problem"
Hi guys

Thanks for this awesome project

I provide data from http://localhost:1337 to my front-end:

I fetch data from server via $http, but I have a problem, when I see my project in browser everything looks fine, but in mobile (chrome browser), my $http request not work( I'm sure about this, because my server never get any request in this mode), I'm so frustrated, would you kindly help me?

***

[2015-08-05 14:49] topherfangio commented on #4004
@heinschulie I hate to say it, but I'm afraid I can't reproduce the issue on my iPhone 6. I don't have much else to test with, but since I can't even see what the issue is, I don't think I can really help debug it.

Is this a bug that happens 100% consistently, or is it something that only pops up occasionally?

Finally, I noticed you're using Material 0.9.4. Is there any chance you could test 0.1

[2015-08-05 15:03] rkotenko commented on #3702
To expand on this, the template actually cannot be overriding even if is outside the template.  Consider:

    <md-chips ng=model="test">
        <md-chip-remove><button>test</button></md-chip-remove>
        <md-chip-template>{{$chip.name}}</md-chip-template>
    </md-chips>

Now, in angular-material:

    var chipRemoveTemplate   = getTemplateByQuery('md-chips>*[md-chip-remove]') || CHIP_REMOVE_

[2015-08-05 15:21] peduxe commented on #4029
You don't share the same IP, it is unique, when you say `localhost` it means it's your local machine, when accessing from outside your host will attempt to connect to the localhost from where you're accessing. Get your host machine IP instead: `http://{host_ip}:1337`. If you're using bash use the `ifconfig` command in DOS use `ipconfig` it will print among other informations your machine IP.

[2015-08-05 15:22] daniel-nagy opened #4030 "mdTabs: ngRepeat and selected index"
I have a service (a network of services really) that handles page navigation in my application. Essentially, I've implemented [two level navigation](https://www.google.com/design/spec/patterns/navigation.html#navigation-two-levels) using a left drawer and tabs.

At the top level I have what I call pages and each page may have multiple tabs. Each page keeps track of its active tab so when the user

[2015-08-05 15:36] rgolea commented on #3739
Works on master. Thanks!

[2015-08-05 15:36] #3739 closed

[2015-08-05 15:37] dmackerman commented on #4001
Appears to be a Chrome only issue.

[2015-08-05 15:44] topherfangio commented on #3739
@rgolea Glad it worked!

[2015-08-05 15:53] rscottfree opened #4031 "md-icon font not working in md-list-item (broken in 0.10.1)"
Using the material icon font faces in md-icon inside of an md-list-item fails to show the actual icon, showing only the glyph text.

This worked in 0.10.0 but is broken in 0.10.1-rc[1-5]

Here is the md-list example for "Checkbox with secondary action" from the demo page, using 0.10.1-rc5. This is identical to the demo except I'm using the font face in place of the SVG icon. (SVG works fine)

[Bro

[2015-08-05 15:57] kitensei commented on #2540
I have the exact same problem

[2015-08-05 16:14] Masadow opened #4032 "Custom contrast for custom palettes"
Hi,

I use custom palettes for primary, accent and warn color but I can't find a way to configure the contrast color.

Actually, I've set up `contrastDefaultColor` to `light` on my primary palette. The problem is that when I use my primary palette for buttons, text color is `color: rgba(255, 255, 255, 0.870588);` and I would like to have `color: rgb(255, 255, 255);`. Is there a way to configure th

[2015-08-05 16:25] george3447 commented on #3179
+1

[2015-08-05 16:43] rgolea commented on #3739
Can you put the latest one on npm so I can install it with the latest master?
`npm install http://github.com/angular/bower-material/tarball/master` I have some other stuff that I'm working on and would be nice to have the latest features

[2015-08-05 16:46] clshortfuse opened #4033 "(perf)md-tooltip uses angular watcher per item"
This isn't a major issue at all, but md-tooltip is using 1 (or maybe 2) watchers per tooltip. While many won't see this as major, I'm currently using a large table that's completely structured to be bind once.

If, for example, I have 200 rows, and each row has a md-tooltip, it would be 200/400 watchers which are called on each digest. It has terrible performance. I am aware of the ability to use

[2015-08-05 17:07] Charlie-Ng commented on #1901
I just feel like this is another way to cancel selection, isn't it?

[2015-08-05 17:14] topherfangio commented on #3739
I'm not quite sure how often things get pushed to bower-material.

@ThomasBurleson Can you chime in on this topic real fast?

[2015-08-05 17:39] #3670 closed

[2015-08-05 18:06] hanu412 opened #4034 "md-tab within md-toolbar : is it possible?"
Hello Team,

I have fallen in love with material design. I want to use the amazing tabs "md-tabs" inside the tool bar.
I want to use tool-bar to act as my navigation bar and use md-tab as hyperlink to display pages like AboutMe,Contact etc.

When I use <md-tabs> outside toolbar it works supremely well. But I want to include tabs inside the toolbar and avoid the need of creating separate html pages

[2015-08-05 18:37] mhipo1364 commented on #4029
@peduxe: Really thanks :+1:

[2015-08-05 18:38] iBeliever commented on #4034
See #1076, especially the last comment. I had a similar requirement, and that example worked perfectly for me, animations included.

[2015-08-05 19:00] KReden commented on #3987
I am seeing this too. Screencap below:

![screenshot_080515_015846_pm](https://cloud.githubusercontent.com/assets/1535122/9094906/19dcceee-3b7a-11e5-93b3-c9f515d95e2d.jpg)

Chrome behaves like you would expect and opens the menu offset to the button.
Microsoft Edge opens it centered over the button.

[2015-08-05 19:12] dg1202 opened #4035 "md-fab-top-right md-bottom-right: Position not fixed with md-content within md-tabs"
The classes used to fix fabs buttons to the top or bottom becomes broken inside a `md-tab` containing the `md-content` directive

![screen shot 2015-08-05 at 2 10 01 pm](https://cloud.githubusercontent.com/assets/2365581/9095241/c950b1d2-3b7b-11e5-9f51-804179964c88.png)

http://codepen.io/dgavigan/pen/KpJXNw

[2015-08-05 19:19] topherfangio commented on #4035
I think I understand the problem, but I have a quick question: what is your expectation of where the FAB will appear?

Do you expect it to:

1. appear at the bottom right of the content after scrolling it into view
1. or appear outside of the tabs at the bottom right of the screen

[2015-08-05 19:39] nestorneto commented on #4033
+1

[2015-08-05 19:42] dg1202 commented on #4035
I expect it to stay in view on the bottom right within each tab.

My example use case is that I have scrolling content on multiple tabs, and trying to use a fab in the lower right for actions specific to current tab.

![screen shot 2015-08-05 at 2 40 29 pm](https://cloud.githubusercontent.com/assets/2365581/9095997/1a4b368a-3b80-11e5-9c30-baf5293d4e90.png)
![screen shot 2015-08-05 at 2 40 34 pm](h

[2015-08-05 19:46] TiS opened #4036 "md-switch does not revert on external model changes"
MD switch directive does not revert, when model change is not a consequence of clicking on switch.

Example:

HTML:
[code]

JS:

[code]

The expected outcome is, that on service failure switch is reverted. Unfortunately, this does not happen (although other page elements indicate, that the `post.isAccepted` value **has been** reverted)

[2015-08-05 19:51] ErinCoughlan opened #4037 "Configurable position for mdDialog"
I'm trying to create a custom dialog using mdDialog, but the position is always set to the middle of the screen. I would like to be able to configure it to be above the button that opens the dialog, the same way that mdMenu does.

[2015-08-05 19:56] qorsmond opened #4038 "layout-fill inconsistencies in Chrome and MS Edge"
I have this layout working in Chrome 44 using 0.10.0:

![image](https://cloud.githubusercontent.com/assets/4716711/9096008/d9dabbf8-3bba-11e5-9b52-9795e03da21c.png)

Viewing it in MS Edge:

![image](https://cloud.githubusercontent.com/assets/4716711/9096064/2de56d24-3bbb-11e5-99bc-07f1e1cf0fca.png)

Here is a codepen:  http://codepen.io/qorsmond/pen/aOPPPp

Trying to get the layout similar to the

[2015-08-05 20:05] topherfangio commented on #4035
Based on the [FAB style recommendations](http://www.google.com/design/spec/components/buttons-floating-action-button.html#buttons-floating-action-button-behavior) (*check the "For tabbed screens..." paragraph under Behavior*), I would recommend an approach similar to this: http://codepen.io/topherfangio/pen/vObeQb

This way, each FAB is shown/hidden based on what tab is selected, but they aren't i

[2015-08-05 20:06] GustavoCostaW opened #4039 "md-backdrop on md-select is open never is removed"
when open md-select the Angular-Material add in DOM md-backdrop but in Android or iOS when the user click in md-backdrop he not removed and the user is locked in this step, can someone help me?

[2015-08-05 20:19] ngraef commented on #3071
This is fixed and should be closed.

[2015-08-05 20:43] elubin commented on #487
+1

[2015-08-05 20:45] sanketsaurav commented on #4039
Which version are you on? This seems to have been fixed in v0.10.1-rc5.

[2015-08-05 20:45] dg1202 commented on #4035
@topherfangio you da man! thanks for the help. your fab wizardy strikes again.

[2015-08-05 20:45] #4035 closed

[2015-08-05 20:46] topherfangio commented on #4035
@dg1202 Glad to help! ;-)

[2015-08-05 20:55] GustavoCostaW commented on #4039
thx @sanketsaurav

[2015-08-05 20:55] #4039 closed

[2015-08-05 21:01] kingIZZZY commented on #3984
Ah perfect, that seems to solve it. Thanks!

[2015-08-05 21:01] #3984 closed

[2015-08-05 21:15] ddimitrop commented on #4037
+1 for custom positioning.

We would like to configure dialogs to animate and stay on the right side of the screen.

[2015-08-05 21:43] elubin opened #4040 "md-slider add option for real time events"
Please modify the md-slider to have an option that updates my model in real time as the user is sliding the control, rather than waiting until they let go before updating my model.

[2015-08-05 21:50] clshortfuse opened #4041 "md-dialog is receiving duplicated ESCAPE key events"
When you press ESCAPE in a dialog, the dialog will get a duplicated key event (I checked by checking event.timestamp). preventDefault/stopPropogation don't work with the dialog because the dialog is getting a different one.

Here's the codepen.

http://codepen.io/anon/pen/pJGdap

At first I thought this was something to do with md-autocomplete, but I added md-select and the issue appears there too

[2015-08-05 21:57] clshortfuse commented on #4041
@ThomasBurleson I noticed a lot of md-dialog's code looks for keyup instead of keydown. I didn't build a PR because I think there might be something I'm missing.

[2015-08-05 22:56] clshortfuse commented on #4037
You can supply your own CSS to override the default ones.

This is what I use for one of my apps:

    .md-dialog-container {
      position: absolute;
    }

    md-dialog {
      max-width: 90%;
      max-height: 90%;
    }

This is global, but you can always assign an id to limit the scope.

[2015-08-05 23:47] peduxe commented on #4029
@mhipo1364 you're welcome

[2015-08-05 23:48] karthikcsridhar commented on #2936
+1

[2015-08-05 23:55] luclanet commented on #3300
I still had the same problem even with rc5.

<div md-template="::tab.template" md-scope="::tab.parent" ng-if="tab.shouldRender()" class="ng-scope ng-isolate-scope">

[2015-08-06 00:34] weiway opened #4042 "Tabs Animation Broken with Angular 1.4.1"
The animation of tabs seems to be broken with Angular 1.4.1, works fine with Angular 1.3.5

Here is a codepen reproducing the problem:
http://codepen.io/anon/pen/rVPpzX

[2015-08-06 00:42] iBeliever opened #4043 "Long tooltip clipped for last icon in the toolbar"
When I have a long tooltip on the last icon button in the toolbar, it is clipped. It would probably be a good idea to offset tooltips as necessary near the edges of the browser window so they aren't clipped like this.

<img width="663" alt="lelander_app_tester_and_1__python___users_mspencer_developer_lelander_app-tester__python_" src="https://cloud.githubusercontent.com/assets/3230912/9101239/fcce

[2015-08-06 01:21] xenoterracide commented on #2630
http://stackoverflow.com/q/31840673/206466 `md-48` doesn't work for me, and centering only works if I add `material-icons` to the class

[2015-08-06 01:48] mlom commented on #3677
a more general explanation of issue:

repeating multiple md-menu elements with only text within the md-menu-item results in no issues (ie. works as expected).
[code]

However, if the md-menu-item content involves another directive that requires transclusion, such as md-button or md-switch, this directive's transclusion fails at some point.

[code]
If the above md-menu element (with a single md-men

[2015-08-06 02:57] #2526 closed

[2015-08-06 02:57] #3559 closed

[2015-08-06 03:11] #3370 closed

[2015-08-06 03:11] #3632 closed

[2015-08-06 03:11] #3796 closed

[2015-08-06 03:17] #3384 closed

[2015-08-06 04:27] nkoterba commented on #4022
@langley-agm I'm not sure how to do that cool little thumbs up emoticon, so I'll just have to do:

+1 +1 +1

Been struggling all day to get a `md-content` nested inside several layers of `divs` with `layout="column"` and "flex" to correctly scroll.

Using latest chrome and MD `0.10.0` (no RCs yet for me).

I agree that the demo of `md-content` uses a fixed height, which always works but like you s

[2015-08-06 04:31] nkoterba commented on #3901
@goncaloneves Thanks for the fix...working for now.

Seems related to: #4022

[2015-08-06 06:33] jmogollon-tild opened #4044 "Cannot read property 'removeChild' of null"
When using md-select inside an md-menu I am getting the following error: "Cannot read property 'removeChild' of null". After debugging the code I concluded that the cause might be that the md-select removes its backdrop when it is closed and, after that, when closing md-menu, it also tries to remove the same backdrop that it is indeed null.

I think that the error may be fixed checking if `scrollM

[2015-08-06 07:21] heinschulie commented on #4004
Hi @topherfangio ,

Man, that is either great news (the bug has vanished) or just damn frustrating! My guess is it's the latter. My experience with it is that on the real-world site, where the data behind the markers is slightly heavier, the bug happens consistently and immediately... on the test site I mocked up it happens around the 20th time the idle event fires, that is to say - when there are

[2015-08-06 07:59] piyushchauhan2011 opened #4046 "md-autocomplete focus error"
![screen shot 2015-08-06 at 5 55 57 pm](https://cloud.githubusercontent.com/assets/693487/9106559/85b59e94-3c64-11e5-86ff-c682c38e453d.png)

I included the md-autocomplete

![screen shot 2015-08-06 at 5 57 40 pm](https://cloud.githubusercontent.com/assets/693487/9106577/ad1c9352-3c64-11e5-94f4-7958706d69b2.png)

and I'm getting this weird behavior of `focus` and `unfocus` first time and then next

[2015-08-06 08:15] matthiasg commented on #923
It would be nice to have the option not to center a dialog vertically but use a fixed offset from the top. That should fix the tab height issue too.. Is this possible already somehow?

[2015-08-06 08:53] remcohaszing opened #4047 "Link to the Material Design specs in the docs"
The @angular-material@ documentation contains technical documentation for implementing the directives and services as well as examples.

The documentation doesn't contain any details about the design principles.

For example in https://material.angularjs.org/latest/#/api/material.components.button/directive/mdButton is described how to implement the directive.

In http://www.google.com/design/spec

[2015-08-06 08:53] tuchk4 opened #4048 "md-select: ng-repeat for md-options - undefined arguments"
Here is example (run with opened console) http://codepen.io/anon/pen/VLgWeO?editors=101
JS:
[code]

Template
[code]

**showSizeTitle** function is inside **ng-repeat="size in sizes"** so when it is called - that means that **$scope.sizes** exists. But in example function is called for a few times and arguments are undefined
($index is also undefined).

But if remove attr @name from **md-select** -

[2015-08-06 09:04] Sam-Davis opened #4049 "autocomplete results not displaying correctly in dialog"
If autocomplete is at the bottom of the dialog, then as you type the results appear below, but when they get to the bottom of the dialog, they disappear behind the faded out background (outside the dialog).

[2015-08-06 10:19] eXaminator commented on #3455
We can affirm this with our own tests even outside of angular material. IE seems to be extremely slow when it comes to attribute selectors.

[2015-08-06 10:43] ekaitzht commented on #3881
@robertmesserle I have seen that this problem it doesn't happen if I set config.assets.debug to 'true'.(This option concatenates and minify the code in rails 4)

However if I remove  config.assets.debug to 'true' I have other problems with Safari with the layout="column" and flex="100", but not with Chrome and Firefox.

All tested with v0.10.1-rc5-master-17676e6

[2015-08-06 11:28] ThomasBurleson opened #4050 "mdSnackbar - full-width, no-margin variation of Toast"
mdSnackbar - a variation of the existing mdToast should be provided: Snackbars. Use the [Material Design Specification](https://www.google.com/design/spec/components/snackbars-toasts.html#snackbars-toasts-specs) for guidance.

[2015-08-06 12:01] #3527 closed

[2015-08-06 12:01] #3640 closed

[2015-08-06 12:01] #3773 closed

[2015-08-06 12:01] #3837 closed

[2015-08-06 12:01] #3919 closed

[2015-08-06 12:01] #3653 closed

[2015-08-06 15:14] topherfangio commented on #3220
I have a PR (#3693) to fix this that should be merged soon.

[2015-08-06 15:17] carab commented on #3220
Glad to hear that ;)

[2015-08-06 15:25] Londovir commented on #3622
This code change breaks IE11 vertical centering of the md-toast contents. This can be seen in the HEAD demo page, and is a known IE11 flexbox bug as discussed at http://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/

Once you drop the height from being specifically set to a min-height setting instead, IE11 cannot determine the height for its align-items CSS, and therefore everyt

[2015-08-06 15:41] ThomasBurleson commented on #4044
@jmogollon-tild - can you confirm this problem still exists with the latest code from #master ?

[2015-08-06 15:58] ThomasBurleson commented on #3622
@Londovir - I think simply removing `min-height:: 2*$toast-height;` will solve this problem. What are your thoughts ?

[2015-08-06 16:16] ThomasBurleson commented on #4029
Please post this in the [Angular Material Forum](https://groups.google.com/forum/#!forum/ngmaterial)

[2015-08-06 16:16] #4029 closed

[2015-08-06 16:24] ThomasBurleson commented on #3739
We only publish to NPM during releases (@see `release.js`).

You should, however, be able to install directly from master:

[code]

or for those without git

[code]

[2015-08-06 18:33] EladBezalel commented on #3493
@Stamy can you please post your code in codepen or plunker so i can use it?

[2015-08-06 19:00] nkoterba opened #4051 "Layout-Align fails for <md-button> with <md-icon> and Text"
Demo shows it best.

Using latest chrome.

Using latest MD source (via CDN).

http://codepen.io/anon/pen/qdgQMG

I have `layout-align="start start"`, but the icon and text are ALWAYS centered in button.

Does `<md-button>` not support children alignment?

[2015-08-06 19:15] davidlmiller21 commented on #3833
Issue has to do with this:
[code]

Is the point of enter to make a custom chip from the user input text?  Otherwise, this is the simple easy fix to get it to work by selecting the element:

[code]

[2015-08-06 19:33] canercandan opened #4052 "any chance to get something similar to md-sidenav-focus with toolbar ?"
Any chance to get something similar to md-sidenav-focus with toolbar ? ... or something generic that can be used in more elements ?

[2015-08-06 19:34] pdf13 opened #4053 "mdInput: issue with textarea height and ngShow"
**Steps to reproduce:**
1. Initialize a variable with a long string
2. Create a textarea with ngModel binding this variable
3. Set textarea hidden using some ngShow condition
4. Change condition to show textarea after controller and view were loaded
5. See that textarea has a default height and only fits text height when input is focused and any key is pressed

**angular-material version:** 0.10.0

[2015-08-06 19:39] mattclevyr commented on #1771
How can this not be resolved yet?

[2015-08-06 19:40] mattclevyr commented on #3951
Thank you! Not have a document on the new inclusions in the RC is like running blindly into a room of angry cats. No one is happy.

[2015-08-06 19:45] innerpeace0 commented on #4053
Focusing on the textarea does nothing, either. `CTRL + A` and `CTRL + end` both bring the text area to the right size after it has focus. Good catch @pdf13. I'm going to need this fixed for my projects.

[2015-08-06 19:46] ThomasBurleson commented on #1771
*  Animation performances have been improved
*  Tab performance has been significantly improved.
*  SideNav and Ripple perf improvements are in-progress and scheduled for 0.11

[2015-08-06 20:17] nkoterba commented on #3421
@robertmesserle So I actually have the same question as @Seiifer regarding `<md-tabs>` height.

The default 48px height does not work well for our UI.  We are trying to set the tabs height to something ~24px.

Was this resolved somewhere else?

[2015-08-06 20:59] Stamy commented on #3493
@EladBezalel after 0.10.1 is released. Because there are a lot of bugs in 10.0 which are important and a lot of them will be probably fixed in a new version.

[2015-08-06 21:18] #3622 closed

[2015-08-06 21:23] ThomasBurleson commented on #2630
@fanturi - Please provide a CodePen or Plunkr that demonstrates this issue. Here are some starter demo templates that you can use/fork:

*  CodePen template: http://codepen.io/team/AngularMaterial/pen/BNYppz
*  Plunkr template: http://plnkr.co/edit/yP0gB9iTacIQb48thud8?p=preview.

[2015-08-06 21:26] ThomasBurleson commented on #4041
@clshortfuse - please retry with the latest changes from master. Dialog, Select, Menu, and Toast all have  improvements.

[2015-08-06 21:29] ngraef commented on #3833
@davidlmiller21 The code you removed is needed for chips without autocomplete.

After some debugging, the underlying issue here seems to be that `requireMatch` isn't being set as expected in the `MdChipsDirective` scope (from the attribute `mdRequireMatch`). This causes the chips controller to not break out of the keydown handler, and it ends up appending a chip using the input text (`chipBuffer`)

[2015-08-06 21:33] ThomasBurleson commented on #4048
This no longer appears to be an issue with the lastest code [and updated mdSelect] from master.
http://codepen.io/ThomasBurleson/pen/jPddbg

[2015-08-06 21:33] #4048 closed

[2015-08-06 21:43] clshortfuse commented on #4041
It still persists.

I made changes in my personal fork and those fixed the issue:

https://github.com/clshortfuse/material/commit/95faaebc6f8c606f8d7462b2ced949dc43d0b0a0

https://github.com/clshortfuse/material/commit/cbb14b88257d53188efc5537cb166f57e06ba7e1

I didn't make a PR for it though.

I would suspect bottomsheet would have the same issue.

https://github.com/angular/bower-material/search

[2015-08-06 22:08] EladBezalel commented on #3493
@Stamy I know 10.0 is not stable yet, i'd like to use it in a poc and i figured that if you already did it i'd like to see how..

[2015-08-06 22:23] mckenzielong commented on #4050
After looking at the spec, it seems like mdToast is probably closer to an mdSnackbar than it is proper toasts... apparently toasts can't be swiped away, and do not contain actions.

Is this item targeted at swipe-able snackbar? At quick glance, toasts and snackbars seem ridiculously similar.

[2015-08-06 23:19] houmark commented on #3833
@ngraef Interesting findings there. Did you manage to make a fix? If you have a chunk of code to potentially correct it I would be happy to test it out :) We are quite bothered by this particular bug as we are using chips quite a lot.

[2015-08-07 00:22] ngraef commented on #3833
@houmark After a little more digging, the issue is in [chipsController.js line 87](https://github.com/angular/material/blob/master/src/components/chips/js/chipsController.js#L87):
[code]

The [`mdChips` directive](https://github.com/angular/material/blob/master/src/components/chips/js/chipsDirective.js#L144) defines `bindToController: true`, which binds the directive's isolate scope properties to

[2015-08-07 00:24] houmark commented on #3833
Thanks for that @ngraef, I will give it a spin and provide feedback :)

[2015-08-07 00:33] houmark commented on #2982
Has become somewhat related with #3833

[2015-08-07 01:26] batressc commented on #1983
I modified the code line indicated by @breeze4 in unminified file "angular-material.js" and the counter was reset correctly.

Please consider include this change and make the respective test framework

[2015-08-07 01:47] vectorderivative commented on #276
So, what's the status of the multiple attribute?
It's not working.

[2015-08-07 03:42] se-panfilov opened #4055 "md-sliders with input fields had a broken behavior in chrome"
Chrome (44.0.2403.130 Ubuntu 14.04 (64-bit) (and same isssue on mac))

Take a look on this
https://material.angularjs.org/latest/#/demo/material.components.slider

![ScreenShot](https://habrastorage.org/files/02c/1d3/aa0/02c1d3aa069449e588ff187647bbe2cd.png)

Sliders covers inputs.

But it's all ok in Chromium (43.0.2357.130 Ubuntu 14.04 (64-bit))

![ScreenShot](https://habrastorage.org/files/112/

[2015-08-07 05:05] ajoslin commented on #276
`md-multiple`

[2015-08-07 05:18] vectorderivative commented on #276
Oh... Docs lists it as just multiple.
Okay then. Thanks.

[2015-08-07 06:10] itrethan commented on #2741
+1

[2015-08-07 07:18] afief commented on #4042
thanks, i spend hours to figured it out why my tabs animation is lagging. :)

[2015-08-07 07:20] fanturi commented on #2630
@ThomasBurleson - http://codepen.io/anon/pen/QbYPeP
You can see that those who have a standard size icon are too high and those with doubled size are too low.

[2015-08-07 07:48] afief commented on #4042
it is OK with Angular 1.4.0, but the tabs label are not centered

[2015-08-07 09:28] smashercosmo commented on #3941
@ThomasBurleson just want you to know, I've just tested with latest master, that includes #3949, but issue is still not resolved :(

[2015-08-07 12:12] Soulcyber commented on #2936
+1

[2015-08-07 12:35] GitOfThomas opened #4056 "Cannot select md-tab IE11"
I just tested this code :

[code]

It is working well on Firefox & Chrome. Unfortunately, in IE11, I cannot select any other tab. Indeed, when I click on another tab, there is no animation (with the bottom line moving) and my tab does not appear as selected. Moreover, the tabs don't show up in IE11 if I don't include the "md-stretch-tabs='always'" directive.

[2015-08-07 12:41] francorisso opened #4057 "Elements stay fixed when scroll happens"
Every time I scroll, the options for the md-select element stay in their original position, it should change when I scroll, so it always show on top of the select element.

![captura de pantalla 2015-08-07 a las 9 38 05](https://cloud.githubusercontent.com/assets/7562249/9135879/2d5dc076-3ce8-11e5-841c-1f1569041af6.png)

The same happens with the toast element, that has position absolute instead o

[2015-08-07 13:04] ThomasBurleson commented on #3941
@smashercosmo - this appears to be an edge-case issue with $animate and ngMaterial. See [Plunkr Demo](http://plnkr.co/edit/PpyyYMcqiD65u1ysq3ZA) and the `script.js`.

[2015-08-07 13:07] ThomasBurleson commented on #4057
Please provide a CodePen or Plunkr that demonstrates this issue. Here are some starter demo templates that you can use/fork:

*  CodePen template: http://codepen.io/team/AngularMaterial/pen/BNYppz
*  Plunkr template: http://plnkr.co/edit/yP0gB9iTacIQb48thud8?p=preview.

[2015-08-07 13:07] ThomasBurleson commented on #4056
Please provide a CodePen or Plunkr that demonstrates this issue. Here are some starter demo templates that you can use/fork:

*  CodePen template: http://codepen.io/team/AngularMaterial/pen/BNYppz
*  Plunkr template: http://plnkr.co/edit/yP0gB9iTacIQb48thud8?p=preview.

[2015-08-07 13:36] ThomasBurleson commented on #4042
This is working with the latest code in Angular Material master and recent fixes to use ngAnimate 1.4.x features. See updated [Demo](http://codepen.io/ThomasBurleson/pen/eNxqbO)

[2015-08-07 13:36] #4042 closed

[2015-08-07 14:40] Mellbourn commented on #2613
Getting this too in 0.10.0

[2015-08-07 15:16] AleksueiR commented on #3744
+1

[2015-08-07 15:16] AleksueiR commented on #2595
+1

[2015-08-07 15:24] AleksueiR commented on #3339
+1

[2015-08-07 15:46] ngraef commented on #3833
I believe there's also an issue here with event propagation. I don't think the keydown event on the autocomplete dropdown should propagate to the chips. In the use case where you don't want `md-require-match="true"` (e.g. being able to select a predefined tag from the autocomplete list or create a new tag from the input value), this propagation becomes an issue.

[2015-08-07 16:18] ThomasBurleson commented on #4015
@GlennButera - The `mdMenu` triggerElement is only used to set aria attributes. Notice:

* `md-menu` creates a special scope variable `$mdOpenMenu`
*  a [custom handler/expression](https://github.com/angular/material/blob/master/src/components/menu/demoBasicUsage/index.html#L8) `ng-click="ctrl.openMenu($mdOpenMenu, $event)"`
*  openMenu uses [$mdOpenMenu($ev)](https://github.com/angular/material/b

[2015-08-07 16:20] #4015 closed

[2015-08-07 16:21] ngraef commented on #3900
Duplicate of #3833

[2015-08-07 16:39] chrisguerrero commented on #1780
+1

`md-input-name` and `required` don't work for me either with 0.10.0

[2015-08-07 16:44] 120psi opened #4058 "mdAutocomplete should set mdSelectedItem on blur if a suggestion is highlighted"
I was surprised to discover that tabbing out of an mdAutocomplete didn't set the selected item to the highlighted suggestion.  Tabbing through controls is common user behavior, and needing to press ENTER to select the item is not something users are trained to do for inputs.

[2015-08-07 17:49] ramanathan92 commented on #3916
I had a problem like when i open md-dialog and close it,afterwards click event is not triggering in my page(simply nothing is working after i close dialog,again if i tries to open it is not opening)

[2015-08-07 17:57] weiway commented on #4042
Thanks!

[2015-08-07 19:19] ngraef commented on #4058
Works for me on master, Chrome v46. And [the code looks correct](https://github.com/angular/material/blob/master/src/components/autocomplete/js/autocompleteController.js#L364). Maybe a browser issue?

[2015-08-07 19:27] nkoterba commented on #3321
@csvan Did you ever resolve this?

Both the Angular Material Design code-pen and demos when using 0.10, `md-tabs` are **not** centered by default.  However, in my webapp they are...and I can't figure out why they are "defaulting" to centered.

I've traced the scope and code and `$scope.centerTabs` is getting set to True but I never set the directive attribute so I'm not sure how it's going from `u

[2015-08-07 19:54] csvan commented on #3321
@nkoterba no, at the time we had to set them manually to get the desired behaviour. I am not aware what the status is in newer releases since we do not use md-tabs anymore.

[2015-08-07 19:56] ThomasBurleson commented on #3916
@Tyrannmisu, @ramanathan92 - please retry with the latest code base from master. Please provide a CodePen if this persists. Here are some starter demo templates that you can use/fork:

*  CodePen template: http://codepen.io/team/AngularMaterial/pen/BNYppz
*  Plunkr template: http://plnkr.co/edit/yP0gB9iTacIQb48thud8?p=preview.

[2015-08-07 20:14] josephperrott opened #4059 "md-virtual-repeat does not render items if they are not available on initialization"
The virtual repeater does not render the items if the list iterated over is empty on initalization of the directive.  I created a codepen to verify and found that if the array items are not available on inital render, they are not rendered until scrolling occurs.

http://codepen.io/josephperrott/pen/ZGPYXZ

[2015-08-07 20:45] deepikat commented on #923
Having a tough time trying to resize the mdDialog with respect to height. Anyone got lucky in being able to set its height manually?

[2015-08-07 20:49] GlennButera commented on #4015
@ThomasBurleson - The above does not work because of the code that I referenced at the top of this issue.  I submitted a fix in a pull request.  What is happening is that the menu fails to open because the triggerElement returns as null.  The triggerElement returns as null, because in the init function Angular Material currently just does a querySelector for '[ng-click]' and nothing else.

The pul

[2015-08-07 21:06] csvan commented on #4028
https://github.com/angular/material/issues/1276

[2015-08-07 21:33] ThomasBurleson commented on #3455
The Angular Core team needs to discuss how we will respond to this particular IE Layout Attribute performance issue.

[2015-08-07 21:43] ngraef commented on #4055
This is actually an issue with the sizing of the input, not the slider. The width of the input is never defined, either by css or flex layout, so it gets defined by the browser. I imagine that calculation is what changed between browser versions.

Here's the code from the demo:
[code]

Adding `flex` to the `input` solves this issue.

[2015-08-07 21:47] zimyand opened #4060 "md-icon with class is not using default fontset"
Apparently this CL https://github.com/angular/material/commit/f5a9101a59f5cf51cb204399ecd45425305e14b9 broke us.

It used to add a class that is specified by

    $mdIconProvider.defaultFontSet('material-icons-extended')

But now it's not adding the class because of this check https://github.com/angular/material/commit/f5a9101a59f5cf51cb204399ecd45425305e14b9#diff-ae311e811f650092284f179738826496R

[2015-08-07 21:59] Belicosus opened #4061 "FF: Browser navigates back when trying to delete tag in search"
In search (by tag), when trying to delete a "complete" tag in the autocomplete box, using backspace, the browser navigates back.

Works in Chrome.

[2015-08-07 22:04] jelbourn commented on #4060
@ThomasBurleson

[2015-08-07 22:27] jelbourn commented on #4060
Fixed via 1daa8bcef7b737ee8a7876414fe1f0b5eef01ce2

[2015-08-07 22:27] #4060 closed

[2015-08-08 04:53] satheesh786 opened #4062 "md-menu not working in correct position"
![menu](https://cloud.githubusercontent.com/assets/12515306/9149108/e834a01c-3db6-11e5-9890-fd9134382e34.png)

once go through the "pic" i have sent,
md-menu tag is working correctly for a certain height...when i try to work it to the lower list items md-menu position is changing.look at pointer in the image  .when i placed at lower list item ,menu is showing at top position.
any solution for that

[2015-08-08 05:38] se-panfilov commented on #4055
Thanks, that's nice

[2015-08-08 06:06] csvan commented on #1276
Since IE10 now that Edge has been released effectively falls outside the N-1 range, is it still going to be supported?

[2015-08-08 06:55] jeffbcross opened #4063 "fix(RobotoDraft): drop the Draft. Just Roboto. It's cleaner."
From what I understand, RobotoDraft was the temporary font while the Roboto 2.0 was being prepared for release, which has now happened (see the update here: https://www.google.com/fonts/specimen/Roboto). I think it's safe and recommended to remove "RobotoDraft" from css rules that have it as the primary choice. There have been internal UI issues (b/20920031) reported with using the deprecated Robo

[2015-08-08 13:07] TimMeissner opened #4065 "Tabs directive md-no-pagination not working"
See this CodePen for demonstration: http://codepen.io/TimMeissner/pen/KpEzmK

When using the attribute md-no-pagination on the md-tabs directive, the tabs look very ugly.
Also on the first example (left sidebar) there shouldn't be any pagination (arrows disappear, when selecting a tab).

[2015-08-08 14:25] kamarouski opened #4066 "md-input-container disabled copy value in Firefox"
Our customers noticed that it's not possible to copy value from disabled input in Firefox (Latest). Chrome\IE 11 allow to copy value. Can you guys please take a look and make the behavior consistent across all the browsers.

Thanks

[2015-08-08 14:25] bluebirdtech opened #4067 "md-autocomplete md-min-length="1" behaviour"
Identical codepen to the head md-autocomplete demo, except md-min-length="1" not 0: http://codepen.io/anon/pen/GJeZdP

Repro:
 - Select the input
 - Press 'n' key
 - Scroll the dropdown to the bottom
 - Click the mouse in the whitespace below the dropdown.  Closes dropdown.
 - Highlight the 'n' searchText, and press 'n' key again.  Dropdown doesn't open.  Expected: Dropdown opens, as for a fresh s

[2015-08-08 14:30] joshilomas opened #4068 "flex and offset not working properly in real mobile devices."
The below code works fine in laptop browsers but not on mobile.

[code]

flex responsive only working in laptop browsers but not on mobile.

[2015-08-08 15:26] Frank3K commented on #3182
+1

[2015-08-08 16:44] ngraef commented on #4055
This should be reopened, as the docs need to be fixed.

[2015-08-08 17:11] sanketsaurav opened #4069 "md-icon does not render when class attribute is present"
When a `class` attribute is present on the `<md-icon>` directive, the icon fails to render. This was working in v10.0.0, but in v0.10.1-rc5, it's broken. When there is no `class` attribute present, the icon renders fine.

Edit: When the class is added using `ng-class`, the icon renders fine.

[2015-08-08 22:09] ddimitrop commented on #4037
Sure, but this is fragile as it depends on internal implementation. Also animations may look wrong - for example a side dialog would probably animate from that side.
It may be possible to override animations but this becomes ever more fragile.

[2015-08-09 07:55] acondiff opened #4070 "md-menu does not render properly in Firefox"
`<md-menu>` does not render correctly in Firefox.

![Image of md-menu](https://s3.amazonaws.com/f.cl.ly/items/1L0w223A0V3d3X0p3F38/Screen%20Shot%202015-08-09%20at%202.48.54%20AM.png)

This screenshot was taken [right on the Material Angular website](https://material.angularjs.org/latest/#/demo/material.components.menu).

[2015-08-09 07:57] acondiff opened #4071 "First item in md-menu is selected upon opening"
The first item in md-menu is always selected upon opening the menu. This can lead to some UX concerns as the user may assume it is already selected or disabled.

[2015-08-09 09:16] sanketsaurav commented on #4070
This seems to be fixed  in v0.10.1-rc5.

[2015-08-09 11:19] gpopovic opened #4073 "Autocomplete md-autofocus expression"
It would be nice if md-autofocus would be an expression, instead of boolean (example usage: on big screen autofocus autocomplete field, on small screens don't)

Not sure why but i'm unable to get it working by using md-autofocus="{{expression()}}"

[2015-08-09 15:20] dondoco7 commented on #3208
+1

[2015-08-09 15:43] EladBezalel commented on #3208
#1054 Dup.

[2015-08-09 19:52] sergkr commented on #2846
I'd like to have the ability to disable the backdrop on the sidenav component as well.

[2015-08-09 23:30] Gaff commented on #1993
You probably missed this instruction from the ngCsp docs: https://docs.angularjs.org/api/ng/directive/ngCsp :

Don't worry, I missed it to :)

[2015-08-10 01:28] topherfangio commented on #3585
After thinking about it, I believe I better understand this request. Most of the other components have been transitioned to use a new `$interimElement` service. Once the fab components are updated to use this same service, I believe it will fulfill this request.

This may or may not happen before 1.0, I will discuss with the team and update this issue with any new info.

[2015-08-10 01:29] zlwaterfield commented on #2702
I had the same issue. It seems to be the bottom padding being too large (not update correctly). I fixed it with :

md-grid-list {
  padding-bottom: 0 !important;
}

Not the best fix but it works for me.

[2015-08-10 03:02] typotter commented on #3961
Looks like the md-scroll-mask is getting left around after the autocomplete item is selected.

[2015-08-10 03:36] typotter commented on #3921
remove md-require-match from md-chips, and you will be able to add items not already in the autocomplete list.
You will need to provide an md-on-append expression.

[2015-08-10 03:41] typotter commented on #3921
reopening for docs.

[2015-08-10 03:41] typotter commented on #3900
I am not able to reproduce this at HEAD.

[2015-08-10 03:44] typotter commented on #3529
ilanbiala is correct, this is accomplished by using a Custom Chip Template.

[2015-08-10 03:44] #3529 closed

[2015-08-10 03:44] typotter commented on #3863
In #3529 , you are correct, this is possible by using a "custom chip template".

[2015-08-10 03:44] #3863 closed

[2015-08-10 03:48] houmark commented on #3900
@typotter Then it's because you're not testing correctly :) For the Vegetable demo on the AM website, using HEAD, type in "bro" and hit ENTER, and it will show an empty chip. Then try again using TAB or the mouse to select the result. Does not happen if you're **not** filtering in the results and just arrow down and select.

Much more details in #3833

[2015-08-10 03:54] typotter commented on #3900
What browser are you using?
I did the following in Chome:
went to: https://material.angularjs.org/latest/#/demo/material.components.chips
scroll to Vegetable chips demo
clicked the input
Typed "BRO"
Pressed <enter> - nothing happened; no result is selected.
pressed <arrow-down> to selected Broccoli result
pressed <enter> - chip is added.

[2015-08-10 04:01] typotter commented on #3857
What we need to do here, is update the $viewValue of the ngModelCtrl on md-chips when the collection changes. This should not be too hard, and should make ng-change work for you.

[2015-08-10 04:02] houmark commented on #3900
1) Your demo link is pointing to latest, not HEAD. This is a recent issue that is happening in HEAD and not in the latest release.

2) I'm using Chrome, but I just re-tested in Safari and Firefox to make sure and it also happens there.

Like it is written in the subject line of this issue report and the other extensively researched issue report, this happens with chips that uses **md-autocomplete*

[2015-08-10 04:08] typotter commented on #3900
confirmed

[2015-08-10 04:11] typotter commented on #3849
The "custom filter function" exists so that search results are cached. Can you please explain your motivation for wanting to use search:searchText?

[2015-08-10 04:17] typotter commented on #3846
Could you please provide a codepen/plunkr/etc demonstrating this error? On the surface, it looks like the ng-model is being set to something undefined.

[2015-08-10 04:22] typotter commented on #3820
Probably the correct thing would have been to separate user input from chips altogether and introduce a layered component which deals with a default input, custom user input, or custom user autocomplete, but that's probably too big a change and will break a lot of implementations (well, all).
What we could do now, is add a bool property: md-no-input (or somesuch), that will suppress the default in

[2015-08-10 04:25] typotter commented on #3777
Hi oharlem. Is this issue still happening at HEAD? I see a commit [7fed14e](https://github.com/angular/material/commit/7fed14ebac76e136059b4fb2a890ddae470d19ef), which prevents unnecessary ellipses.

[2015-08-10 04:26] typotter commented on #3771
Is this related to Chips? Not sure what the context is here, Rob.

[2015-08-10 05:51] typotter commented on #3760
Is this a duplicate of/similar to #3900? Can you please provide a code example (or better yet, a codepen/plunkr/etc?)

[2015-08-10 05:57] typotter commented on #3710
Can you use indexOf in place of injecting this value in the template: ex: http://codepen.io/anon/pen/rVRzbN?

[2015-08-10 06:03] typotter commented on #3697
need to add an ng-if where the chip-remove template is transcluded in ChipsDirective.

[2015-08-10 06:07] typotter commented on #3679
hi alanpurple, could you please provide an example of where you would use this code? Can you use indexOf instead, similar to #3710?

[2015-08-10 06:27] alanpurple commented on #3679
@typotter  yeah that would work, even though that's just search and match. thanks

[2015-08-10 07:12] blockjon commented on #3300
Same problem here.. cant figure out how to do data binding to input elements inside a tab.

[2015-08-10 07:27] ramanathan92 commented on #3916
Thanks @ThomasBurleson .It is my fault(my bad).Actually, I  added scope: $scope when calling dialog but forgot to add preserveScope: true.That is the reason, it is not allowing me to open dialog.

[2015-08-10 07:44] ramanathan92 opened #4075 "md-auto-complete not allowing to click outside after clicking close button in it."
Scenario :
If user clicks auto-complete close button after page loads(when auto-complete having default selected one in box).

Problem :
After clicking close button click outside the auto-complete box, page will get locked(nothing is working,If you tries to click somewhere is not working). We need to refresh page to make it work again as normal.

[2015-08-10 07:45] Tyrannmisu commented on #3916
I did not experience this issue in 0.10.1-rc4 and rc5 for a long time now. :)
But i will have a look on master.

[2015-08-10 07:54] smashercosmo commented on #3529
@typotter no, it's not. because you might want to show in template one thing and keep in model something different.

[2015-08-10 08:00] viztastic opened #4076 "Md-Menu within md-toolbar creates page scroll when clicked"
This is similar to issue #3818 except that it happens when I include the md-menu in an md-toolbar it appears fine. But when I click on the menu, it creates a page scroll. See before and after images below for reference (running latest version of Google Chrome at time of posting):

Before click (no page scroll-bar)
http://screencast.com/t/zYJsVx7v

After click (page click)
http://screencast.com/t/U

[2015-08-10 09:24] Masadow opened #4077 "Chips: way to disable input validation"
In my state, I have an input which when submitted (with enter key), it creates a new chip containing the input value. then the input is cleared.

Problem is that material is adding a ng-valid class to that input with no reason, there is no specific rules enabled and in my case, it does not make any sense to turn the input green when it is emptied.

It should be possible to turn of input validation

[2015-08-10 10:38] bijoux opened #4078 "md-select with scrollbars auto closing"
current head, the issue is present in both latest chrome and firefox.
To reproduce, go to the select demo page, open an md-select with a scrollbar, and try to scroll down.

[2015-08-10 10:58] mxab commented on #2999
I have issue with ui-sref="foo" as well (1.4.3 / 0.10.1-rc5)

[2015-08-10 12:39] zlovin commented on #4071
I've submitted an issue for this already in #3352, it was set to backlog.

[2015-08-10 13:23] michaelkrog commented on #3876
+1

[2015-08-10 13:24] gouravsood opened #4079 "Docs failed to install at locally"
Hi Team,

I have tried to follow the instructions given at URL https://github.com/angular/material/blob/master/docs/README.md and even at :https://github.com/angular/material#-building but documentation never worked at local.

I can see exceptions in console which are shown in attached pictures.

Please help me to solve this issue and setup docs at local.

Thanks,
Gourav.
![dist-docs-error](https:

[2015-08-10 13:26] robgrimball commented on #3727
@rscottfree : Sorry about the delay in reply, I moved on to other things since posting that initial issue.  My querySearch is a very simple function, just going through an array of data more or less and returning the list of those that match :

    $scope.querySearch = function(searchText) {
        var searchedList = [];
        for (var i=0; i<$scope.dataList.length; i++) {
            if ($scop

[2015-08-10 13:32] JoachimR opened #4080 "md-select init value not set when complex model"
See http://codepen.io/JoachimR/pen/jPJZro

Why is the ``selectedDisplay`` not set inside the md-select component of the complex model when first loading the page?

[2015-08-10 13:46] prxg22 commented on #3401
Hey @robertmesserle, any idea when this feature will be live?? thanks (:

[2015-08-10 14:33] dmackerman commented on #3674
I think it would be possible to use the `md-not-found` directive here, and then implement some of your own logic. It's currently broken, but I'd like this type of functionality as well.

[2015-08-10 14:40] nkoterba commented on #3321
@csvan I figured it what was happening.

Using 0.10 + Ang 1.4.3 => 'broke' tabs.

Ang 1.4.3 changed how optional directive attributes are passed to the Angular `$attrs` service.  Starting in Ang 1.4.3, it looks like angular will pass any optional directive attributes as `undefined`.  However, MD 0.10 was assuming that any attributes on the `$attrs` service, if present, should be set to true.

With

[2015-08-10 14:44] mxab commented on #2999
actually it seems that it does already occur when I change the state once, does not need to be an already visited state

[2015-08-10 15:06] topherfangio commented on #4079
Hi @gouravsood,

I am not seeing this issue with the latest master branch. What version are you using?

Also, it's not documented, but a better command might be `gulp watch` as that will compile/host the docs and watch for any changes.

[2015-08-10 15:07] mxab commented on #2999
Ok I managed to workaround this issue, I cannot say what exactly I did but I had an ui-view on the sidenav and also some ng-hide stuff on it, after I removed this it seems to work again

[2015-08-10 15:10] robertmesserle commented on #3771
@typotter It's related to chips, but in terms of implementation, I'm not sure where it would live.  Basically, while you are typing, I wanted the text field to expand/contract to fit your text - that way, wrapping would be accurate while typing and your text wouldn't be cut off for longer chips.

[2015-08-10 15:15] typotter commented on #3529
@smashercosmo: Can you please provide an example? You can put anything into the chip template. If your chip label is not a field of your collection object, but a function of it, you can do that to:

    <md-chip-template>
      <span>{{getChipLabel($chip)}}</span>
    </md-chip-template>

[2015-08-10 15:28] nkoterba commented on #2068
@robertmesserle So we are using the `<md-tabs>` control simply to display tabs (no content) that alter 'states' in our app.

However, the current logic for `updateHasContent`, currently just checks to see if the tab's template exists.
[code]

Unfortunately, developers may not realize that whitespace/return line counts as **HTML** content and will cause the 200px 'content' area to appear.

For exam

[2015-08-10 15:47] smitty02001 opened #4081 "md-tooltip background color displaying partially at random times"
I am using tooltips through out my application and sometimes the background color only displays half way.  My text label is white and the background color is red. When it happens the white text blends into the white background making the tooltip impossible to read.

I can never reproduce it consistently but it does happen. Is this a known issue and/or has other developers experienced this issue?

[2015-08-10 15:48] smashercosmo commented on #3529
@typotter
[code]
[code]
After adding all three chips, I'll get (One) (Two) (Three) in my view, but I also want to have [1,2,3] in my model. This is the same functionality that you can get with ng-options by using "select as label for value in array" syntax. Does this make sense?

[2015-08-10 15:51] typotter commented on #3679
I had another look at the code, and exposing $index should not be too hard (it would be nice if we had a custom template option for ng-repeat, but that's not available in ng1, afaict).

Using indexOf is problematic in some cases where there are duplicate objects in the collection of chips, and adds a list-search operation needlessly reducing performance.

[2015-08-10 16:03] typotter commented on #3529
If you want the collection model to be [1, 2, 3] instead of  [{ title: 'One', value: 1 }, ...], you can provide an md-on-append expression, but you will also need an external function to render the chip label:

    md-on-append="$chip.value"

and chip template:

    <md-chip-template>
      <span>{{getChipLabel($chip)}}</span>
    </md-chip-template>

What you're proposing, at heart, is to get the

[2015-08-10 16:08] ilanbiala commented on #3529
@typotter why was an ng repeat expression like that of select not implemented?

[2015-08-10 16:30] typotter commented on #3529
Chips contains only the collection of selected objects and has no knowledge of the available options. This is why such an expression is not used - the list of available options is outside the scope of Chips' concerns.

[2015-08-10 16:33] typotter commented on #3145
duplicate of #3857

[2015-08-10 16:33] #3145 closed

[2015-08-10 16:33] typotter commented on #3580
duplicate of #3857

[2015-08-10 16:33] #3580 closed

[2015-08-10 16:45] typotter commented on #3557
To achieve this, you need to provide an md-on-append expression to convert the input text into a chip/JSON object:

_template:_

    md-on-append="createChip($chip)"

_code:_

    function createChip(text) {
      return {
        foo: text,
        bar: 'my other field'
      };
    }

[2015-08-10 16:45] #3557 closed

[2015-08-10 16:49] typotter commented on #3545
Hi @lllpsi,
Can you please provide a screenshot of what you're describing here? I've not been able to reproduce, but I'm not entirely clear on the repro specifics. Please include your browser, and specific instructions to reproduce (i.e. when you say "click on chips", do you mean click on a chip (that's been added)? Click on the input? etc.
Thanks

[2015-08-10 16:52] nkoterba opened #4082 "md-no-bar not working on md-tabs"
Demo: Using latest chrome, Angular 1.4.3, and master.

http://codepen.io/anon/pen/eNXMqj

Screenshot:
![image](https://cloud.githubusercontent.com/assets/2508944/9177322/9745961c-3f5e-11e5-866f-d3e8e5a8a2a0.png)

My understanding was that `md-no-bar` would hide the **active** tab bar.

I believe that was the behavior in the past.

[2015-08-10 16:54] topherfangio opened #4083 "mdFabSpeedDial/Toolbar: Refactor to work and behave more like mdMenu"
We need to refactor the mdFabSpeedDial and mdFabToolbar to work more like mdMenu.

This may include:

1. Having a `md-fab-content` directive instead of two `md-fab-trigger` and `md-fab-actions`
2. Potentially using interimElement service to show speed dial/toolbar actions/content
3. Refactoring into a single `<md-fab>` component?

[2015-08-10 16:55] typotter commented on #3399
Hi @amergin,
We will have to review and discuss this feature request to see how it might fit the spec and determine the complexity involved in implementation.
We would happily review a PR for it :)

[2015-08-10 16:58] nkoterba commented on #2068
Just ran into another issue.  I'm trying again to use `<md-tabs>` as only a **tab** display "header" (meaning I don't plan to put any content ever inside the tabs).

However, i need to customize the `<md-tab-label>`.

Here is the code:
[code]

However, although `<md-tab>` only contains the `<md-tab-label>`, the code to check for **hasContent** is again returning true b/c it is finding whitespace b

[2015-08-10 17:16] typotter commented on #3365
This is a fair proposal.

[2015-08-10 17:25] ThomasBurleson commented on #1901
The standard way to clear a HTML Select field is to add a *blank* option.

[2015-08-10 17:25] #1901 closed

[2015-08-10 17:31] ThomasBurleson commented on #2819
References #2595

[2015-08-10 17:53] dopgm commented on #3921
@typotter
I confirm that the issue has been resolved.
Thank you, Sir!

[2015-08-10 17:58] NickBolles commented on #4079
I was seeing this a while back too. The `material.components.menu` module was trying to be loaded and couldn't be. I just nuked the `src/components/menu` folder while I was working...

[2015-08-10 18:01] ThomasBurleson opened #4084 "RTL support"
Consistent RTL support should be provided for basic components in Angular Material

[2015-08-10 18:04] bluebirdtech commented on #3998
+1

I'm seeing "three shades of grey".. when looking at the inputs: https://material.angularjs.org/HEAD/#/demo/material.components.input

 - label non-floating state: BDBDBD (lightest - too light in fact)
 - label floating state: 757575 (darkest)
 - input placeholder: A9A9A9 (medium)

It would be great if these were all consistent.  Inputs on the material design spec seem to be about A0A0A0.  http

[2015-08-10 18:05] typotter commented on #3921
Thanks @dopgm. Am keeping open the issue to add to the docs, as that attribute is not documented yet.

[2015-08-10 18:13] typotter commented on #3082
The duplication check uses identity matching (==) versus semantic comparison (compare all the members).
In order to work around this, you would have to cache the suggestion objects. I've updated your codepen here: http://codepen.io/anon/pen/aOMGKb to do this.

[2015-08-10 18:13] #3082 closed

[2015-08-10 18:15] ramanathan92 commented on #2296
It is better to have it as a configuration.Because there is a jerk in Page when u click on md-autocomplete box.It tries to disable scroll even scroll is not their in the page.

[2015-08-10 18:25] erslater opened #4085 "$mdDialog doesnt support enter key"
The Enter key on the dialog will close the dialog but doesnt raise any events.  I think it should trigger the ok button click at minimum and even better be able to specify what gets triggered on enter.

This issue makes it impossible to use correctly for any form input.

[2015-08-10 18:25] fabriciocs commented on #2886
+1

[2015-08-10 18:27] typotter commented on #2577
adding event for chip-remove is a fair request and should be straightforward to implement.

[2015-08-10 18:41] smaye81 opened #4086 "$mdDialog height not adapting in IE11"
We are having an issue in our app with the height of `$mdDialog` in IE11.  This is able to be recreated on the Angular Material site by the following:

1.  In IE11, navigate to:  https://material.angularjs.org/latest/#/demo/material.components.dialog
2.  Open the Custom Dialog
3.  While open, drag the browser window from the bottom all the way to the top so thats its height is as small as it can g

[2015-08-10 19:58] amergin commented on #3399
[ngTagsInput](https://github.com/mbenford/ngTagsInput) implements this by allowing to set a split pattern (that defaults to `,`) and `addOnComma` when set to true creates a new tag. In addition, [`onTagAdding`](http://mbenford.github.io/ngTagsInput/documentation/api) is an expression that is evaluated whenever a tag is being added to determine if it is legal or not and will it therefore be added t

[2015-08-10 19:59] typotter commented on #2605
the reason that only the text is selected is because adding ng-click to the chip template steals the click from going higher to the chip element proper. adding an on-select event/expression seems reasonable.

[2015-08-10 20:06] adamwmeek commented on #2148
+1

[2015-08-10 20:08] typotter commented on #3399
related to #3365?

[2015-08-10 20:23] naomiblack commented on #3829
This is fixed in master

[2015-08-10 20:23] #3829 closed

[2015-08-10 20:57] amergin commented on #3399
Partially yes.

[2015-08-10 21:02] ThomasBurleson commented on #1398
Pending fixes with #3952.

[2015-08-10 21:08] ThomasBurleson commented on #2151
The **File Picker** feature has been deferred/bumped to a post-1.0 milestone.

[2015-08-10 21:10] ThomasBurleson commented on #2887
Pair with @robertmesserle

[2015-08-10 21:11] ThomasBurleson commented on #2636
Depends upon #3952

[2015-08-10 21:12] ThomasBurleson commented on #2242
Pair w/ @topherfangio

[2015-08-10 22:15] ThomasBurleson commented on #1515
Duplicate of #3842

[2015-08-10 22:15] #1515 closed

[2015-08-10 22:24] qjlee opened #4087 "press enter key will add empty chip in md-autocomplete inside md-chips"
Go to section "Use md-autocomplete to build an ordered set of chips." on the latest release demo site ( https://material.angularjs.org/0.10.1-rc5/#/demo/material.components.chips)

Enter 'b' in the textbox, there are two items showing up in the autocomplete dropdown, use keyboard to navigate to the any of the items in the dropdown and press enter key and an empty chip will be added to the chips co

[2015-08-10 22:38] qjlee commented on #3900
Sorry, I think I just raised the same issue here as well, https://github.com/angular/material/issues/4087, maybe someone can close it and mark as duplicate? Any quick workaround or timeline for fixing this issue please?

[2015-08-10 22:38] qjlee commented on #4087
seems like a duplicate of https://github.com/angular/material/issues/3900

[2015-08-10 22:40] houmark commented on #3900
#3833 has much more details and investigations into the cause of this. I have yet to find time to test out the proposed improvement.

[2015-08-10 22:42] ThomasBurleson commented on #1978
This is application-level logic with dependency issues upon Routing

[2015-08-10 22:42] #1978 closed

[2015-08-10 22:45] ThomasBurleson commented on #1879
References #3952

[2015-08-10 23:00] #3889 closed

[2015-08-10 23:24] innerpeace0 commented on #3889
On 0.10.1-rc5/ or Head versions, besides the screenshots shown above, after clicking list or grid, subsequent clicks also give a message under the buttons, in the middle, that says: "undefined clicked!" Codepen still works fine.

[2015-08-11 00:12] prerna12 commented on #3287
I am unable to resolve this issue with the 0.10.1-rc5 version available of angular material. Is it resolved?Please tell me what is the fix to get it working?

[2015-08-11 00:42] thenextvoz commented on #4081
I noticed this issue, too. Will try to capture a screen shot. Problem is it happens randomly without any obvious usage pattern. Hard to reproduce.

[2015-08-11 01:51] cornerbodega opened #4091 "Tabs on Firefari, No Tabs on Chrome (with codepen)"
Hello Angular Materials Team,

You are all rock stars and angular is the shit.

 http://codepen.io/kyleledbetter/pen/gbQOaV

In Firefox and Safari this example has tabs "Latest" and "Favorite". In Chrome, I do not see any tabs. I copied this code onto my own server and I'm seeing the same thing. I apologize if I'm doing something noobish or if this is a known issue. I googled trying to find if thi

[2015-08-11 02:00] #4091 closed

[2015-08-11 02:00] cornerbodega commented on #4091
User error... apologies for wasting internet on this

[2015-08-11 02:17] bijoux commented on #4080
Use ng-value="d" instead

[2015-08-11 05:00] gouravsood commented on #4079
HI @topherfangio ,

I have again taken master code and followed below steps (mentioned in <link>https://github.com/angular/material/blob/master/docs/README.md#docs</link>)

To view the Live Docs (locally):

Install the dependencies using <code>npm install</code>
Build the docs using <code>gulp docs</code>
Start server <code>gulp server</code>

But I still have the same problem.

<code>
Uncaught Er

[2015-08-11 05:06] kumarrajudt opened #4092 "Browser issue"
Material is not working in windows safari

[2015-08-11 06:18] dziamid commented on #60
I'm getting `element.height() is not a function` in `growTextarea` function when using without jquery.

[2015-08-11 07:06] WhiteAbeLincoln commented on #4092
Windows safari lost support from Apple 3 years ago. It's unlikely that much will work, and most people don't use such an outdated browser (especially one that had such a niche following on windows).
Plus, if you want anyone to help you you need to give some details. They can't read your mind (:

[2015-08-11 07:19] JoachimR commented on #4080
oh... ok this works. sorry for that

[2015-08-11 07:19] #4080 closed

[2015-08-11 08:05] vivek3003 commented on #4076
This issue occuring for me too.
Moreover if the toolbar is fixed to the top and the page height is large ( scroll bar is required), the menu position is not set correctly when scrolling down. Please refer this pen,

http://codepen.io/vivek3003/pen/RPdqgm?editors=100

[2015-08-11 08:25] phoenixgao commented on #35
I seems like I have to wait 1.0 come out to use angular material...

[2015-08-11 09:50] bluebirdtech commented on #4026
+1

This reproduces in the first demo: https://material.angularjs.org/HEAD/#/demo/material.components.autocomplete

[2015-08-11 09:54] emgolubev commented on #3876
+1
0.10.1-rc5

[2015-08-11 13:26] fxck commented on #3200
+1

[2015-08-11 14:12] icchio opened #4093 "md-checkbox no check visible inside table"
Hello,
i'm trying to use md-checkbox inside a table:
![schermata 2015-08-11 alle 16 03 56](https://cloud.githubusercontent.com/assets/9406133/9199430/9a296ef0-4042-11e5-8940-2df6baabe750.png)
it doesn't show the mark inside when checked....is just my problem or someone else has the same issue?
Thank You

[2015-08-11 15:28] alphatwit commented on #2423
+1

[2015-08-11 15:32] glebm opened #4094 "Impossible to resolve a dialog with a boolean (always returns true)"
This is due to this line in interimElement: https://github.com/angular/material/blob/d9ba0e13a5abca05d6afa3b3b781b0dc7677183f/src/core/services/interimElement/interimElement.js#L314 (and L339):

[code]

Instead of using `||` this should check for `undefined`.

[2015-08-11 15:32] dmackerman opened #4095 "md-autocomplete not firing focus events."
Angular `1.4.3` and Material `0.10.1-rc5`.

I've copied the examples for `mdAutocomplete` directly in my application and am seeing some weird issues.

For whatever reason, when the field is focused - *not having typed anything yet* - no events (and therefore no classes) are added, so the menu doesn't show "all" results.  In the docs, the `md-menu-shown` class is added to the `md-autocomplete-wrap`

[2015-08-11 15:39] KReden commented on #4086
This looks like a problem that has been fixed is the RCs (it doesnt show up in rc5) so will likely be fixed in 0.10.1. You could update to rc5 or wait until 0.10.1 is released.

[2015-08-11 15:48] dmackerman commented on #4094
Couldn't you just use `.cancel()` on the `mdDialog` instance to return `false`?

[2015-08-11 16:16] konzuk opened #4096 "md-input display not correct with textarea and placeholder"
In the picture show the problems:
1. the placeholder is not display correctly.
2. the textarea , the label is too height from the input

http://plnkr.co/edit/NXVoWVRdPRn2riSmYAGy?p=preview

![untitled](https://cloud.githubusercontent.com/assets/9130742/9202994/bb45a7ac-407e-11e5-91da-e7a66b0ba2ba.png)

[2015-08-11 16:18] glebm commented on #4094
This is not what cancel does.

Example: Imagine an unsaved changes dialog that triggers on some action, with three buttons:

[2015-08-11 16:24] topherfangio commented on #4079
Hi @gouravsood,

I am honestly not sure what is wrong. I did those exact same steps:

1. `git clone git@github.com/angular/material.git`
2. `cd material`
3. `npm install`
4. `gulp docs`
5. `gulp server`

And everything worked perfectly for me.

Since we can't reproduce the issue, I'm afraid we can't help. I'm going to go ahead and close this issue. Please do comment if you find the issue so that o

[2015-08-11 16:26] karlhorky commented on #1585
@ngraef @rschmukler I believe this is with 0.10.0 and newer now broken. Maybe because it was removed in 5d9874fbfe3f80616d8c0cd948738d2865908b3e ? I guess the correct markup looks like this now:

[code]

[2015-08-11 16:35] ThomasBurleson commented on #4044
Nesting of Select and Menu components are not supported.

[2015-08-11 16:35] #4044 closed

[2015-08-11 16:51] jsenecal opened #4097 "Add more toolbar examples"
The toolbar demo page is missing information on how to achieve the variants that are shown there:
https://www.google.com/design/spec/layout/structure.html#structure-toolbars

Notably, getting the toolbar to have this look is something I am currently struggling with (with the buttons and all):
![Full-width, extended height app bar](https://material-design.storage.googleapis.com/publish/material_v_4

[2015-08-11 17:31] #3762 closed

[2015-08-11 17:34] dmackerman commented on #4094
Why is "Exit without saving" any different than "Cancel"? Am I missing something?

[2015-08-11 17:43] glebm commented on #4094
Exit without saving reverts the changes and exits. Cancel does not revert the changes, and does not exit.

[2015-08-11 17:43] ThomasBurleson commented on #3941
Fixed with recent Angular.JS master build/snapshot: http://plnkr.co/edit/hQ2Q6y5Qi72fePI1VrUl?p=preview

[2015-08-11 17:43] #3941 closed

[2015-08-11 18:08] #4005 closed

[2015-08-11 18:13] Ian-Y opened #4099 "How to know the exact CSS code of a certain animations?"
I'm unable to include Angular Material's CSS and JS files directly into my webpage because that would affect my other elements. But I need an animation from Angular Material.

The only thing I could do is copy the corresponding Angular Material's CSS code into my CSS code.

Precisely, the animation I need is the dropdown show on [this page](https://material.angularjs.org/latest/#/demo/material.com

[2015-08-11 18:17] no-more opened #4100 "Catch events on mdDialog"
Hi,

This is not a bug, I was looking for a way to catch events on mddialog.

There's two main cases :
 * Trigger a function on dialog close. I know show() returns a promise on which I can attach a function, but this have to be done in the caller function. I would like to be able to do the same from inside the dialog and I didn't find a simple way to do this. How can I catch the ESC keyboard event

[2015-08-11 18:30] alphatwit opened #4101 "Contact Chips: filter-selected doesn't work"
In the contact chip demo, even with filter-selected="true", I still see selected contacts in the auto-complete menu.

Unless I missed the purpose, I expected that, once "Marina Augustine" is selected, that "Marina Augustine" will no long appear in the auto-complete dropdown list.

[2015-08-11 18:41] tolemac commented on #3906
+1
Perhaps the `ng-onblur` on `md-autocomplete` have to be $eval on `ng-onblur` of internal input.
Actually the internal input have `ng-blur="$mdAutocompleteCtrl.blur()"`

Te same for ng-focus.

[2015-08-11 18:47] typotter commented on #3476
duplicate of #3475

[2015-08-11 18:47] #3476 closed

[2015-08-11 19:09] KReden commented on #4099
You should ask this over on the angular material boards https://groups.google.com/forum/#!forum/ngmaterial

[2015-08-11 19:44] kseamon commented on #3896
Is it possible to reproduce outside of the date picker? I tried by modifying the virtual repeat vertical demo and it seems to work fine. I suspect this might be an issue with the month directive.

[2015-08-11 20:27] jlmagee opened #4104 "SEO with PhantomJS generated pages and about 500k of styles"
Finally got to the point of SEO development and testing for a new Material Design-based site. After getting all the infrastructure in place using the https://github.com/steeve/angular-seo approach which I've used for a plain angular site, I was shocked to discover that PhantomJS creates about 500k of Styles which were generated by Material Design. It is not a surprise that no Webmaster tools would

[2015-08-11 20:36] zwhitchcox commented on #1054
+1

[2015-08-11 20:48] marcysutton opened #4105 "mdDialog: focus trap broken, incorrectly allowing keyboard navigation behind the modal"
Somehow in the latest rewrite of the dialog, it no longer traps keyboard focus inside the modal. You can shift+tab and get to the Alert, Confirm and Custom demo dialog buttons behind the modal (and beyond), or tab to cycle through the whole document. This is incorrect–it should trap focus inside of the dialog in addition to disabling everything in the background with `aria-hidden="true"` (which it

[2015-08-11 20:55] dmackerman commented on #4104
Yeah, I think the theming system as a whole is a bit over the top. We end up overriding a lot of the Material base styles anyway.

[2015-08-11 20:56] smaye81 commented on #4086
Yep, I see that now.  Closing this issue.

[2015-08-11 20:56] #4086 closed

[2015-08-11 20:59] marcysutton opened #4106 "Angular Material site sidenav: hidden nav items should not be reachable from the keyboard"
When using a keyboard to navigate through the Angular Material website, child links that are hidden behind an accordion are still reachable from a keyboard. To be accessible for keyboard and screen reader users, "hidden" menus need to be truly hidden with `display: none;` (after completing animation) OR `aria-hidden="true"` on the wrapper and `tabindex="-1"` on each link to remove it from the tab

[2015-08-11 21:12] danieladz commented on #2455
yeah, I would like this too

[2015-08-11 21:21] sanketsaurav opened #4107 "md-tabs: md-center-tabs does not maintain tabs centering on viewport resize"
When the viewport's size is changed, the tabs go back to being left-aligned. This is in v0.10.1-rc5.

[2015-08-11 21:32] metamatt commented on #3833
I saw this problem using mdAutocomplete and mdChips together and stepped through the code adding a bunch of logging. The problem I see is that both mdAutocomplete and mdChips attach a `keydown` event handler, and both of these `keydown` event handlers run. When you select an entry from the autocomplete dropdown by pressing Enter, `mdAutocomplete.keydown` calls `mdAutocomplete.select` which defers

[2015-08-11 21:38] typotter opened #4109 "ContactChips/Chips+Autocomplete flashes [Object object] in the input when adding item."
PR #4108 fixing #3475 exposes the fact that contact chips does not have the item-name expression properly set up.

[2015-08-11 21:43] paulflo150 commented on #2542
I am noticing this as well, and I believe it happens because of the .md-autocomplete-suggestions li animation (md-autocomplete-list-out and md-autocomplete-list-in) which appears to animate the height from 0 to 40px and vice versa when adding/ removing records.

It doesn't happen on the demo site though, nor do I see that behavior on codepen for that matter.

Any thoughts on what the purpose of th

[2015-08-11 21:45] elubin commented on #4046
I have a similar issue.  I don't get that error, but focus is getting lost on my page.  TAB fixes is on my desktop browser, but there is no workaround on my phone or ipad.  It can be recreated on an ipad with this fiddle.

http://jsfiddle.net/5m9rpcrn/

[2015-08-11 21:47] peetahzee opened #4110 "Click hijacking on mobile disrupting label behavior"
Mobile users are not able to click on radio / checkbox buttons within a label. Specifically, when the user clicks on the label, the browser automatically fires a click on the input; but [this code](https://github.com/angular/material/blob/249631748be39566e3eeebb5dac24c853fd4188e/src/core/services/gesture/gesture.js#L451) hijacks it and prevents it altogether.

I made a simple reproduction of the p

[2015-08-11 21:53] elubin commented on #4095
Ditto.  Weird focus events with md-autocomplete on an md-dialog inside md-chips.  (although i'm not sure that has anything to do with it, but it makes seeing the issue easier)  In my case, the issue is because md-min-length="0" because i wanted to show all 9 options to the user immediately instead of making them select one.

http://jsfiddle.net/5m9rpcrn/

(added the same note to 4046)

[2015-08-11 22:08] NickBolles commented on #4079
@gouravsood Try modifying the /dist/docs/index.html line 166 to `<script src="angular-material.js"></script>` does that fix it for you? it does for me. It must be a minification issue.

[2015-08-11 22:09] kseamon commented on #3807
For the font-size issue, you can probably set the scroller's font-size to 0 and override it back to the original size for the repeated elements.

I'll address the container height issues in another PR.

[2015-08-11 23:07] typotter commented on #3833
duplicate of #3475

[2015-08-11 23:07] #3833 closed

[2015-08-11 23:09] typotter commented on #3253
I would argue that in fact a static chip should have cursor:text since the text can be edited. But yes, the background/container element should not have cursor:text.

[2015-08-11 23:23] rschmukler commented on #3752
@diegolaciar are you running off of master?

[2015-08-11 23:35] typotter commented on #3279
Hi there,
The autocomplete on-selected-item-change is fired twice because of the mechanics involved in wiring it up to chips: the user selects an option from autocomplete (first change), then chips snarfs that selection into its model, and clears the autocomplete selection (second change).

If you want to run code when the user selects an item, you can watch the model for changes, and react accord

[2015-08-11 23:48] metamatt commented on #3475
@typotter do you also want to resolve #3900 and #4087 as dupes of this?

[2015-08-11 23:53] geoffreytran commented on #4031
I can confirm I am having this same issue.

[2015-08-11 23:53] Lander opened #4115 "md-dialog height calculated wrong if page is scrolled"
For some reason dialog's max-height depends on md-backdrop height, which is calculated based on parent (in my case body) height. If you open dialog from a not scrolled page, it will scale fine, but if you scroll the page, the dialog will still try to take 80% of md-backdrop. The way md-backdrop height calculated right now is the following: if parent has position fixed, then we are taking body heig

[2015-08-11 23:54] jelbourn commented on #4115
@rschmukler

[2015-08-12 00:08] typotter commented on #3900
Dupe of #3475

[2015-08-12 00:08] #3900 closed

[2015-08-12 00:08] typotter commented on #4087
Dupe of #3475

[2015-08-12 00:08] #4087 closed

[2015-08-12 00:11] mismith commented on #1416
How's it going? Did 0.10.1 push any changes here?

[2015-08-12 00:36] marcoriesco commented on #3343
+1

[2015-08-12 02:10] Ian-Y commented on #4099
@KReden Thank you. I had posted there.

[2015-08-12 02:19] #4099 closed

[2015-08-12 04:26] no-more commented on #4100
I just find out than $destroy event is generated but I still don't know how to prevent closing the dialog in case of unsaved changes.

Thanks.

[2015-08-12 05:03] typotter commented on #2623
Hi Folks,
I am unable to reproduce this bug. There have been some changes in chips and md-autocomplete which may have fixed this.
@umidbekkarimov, could you please confirm?

[2015-08-12 05:04] gouravsood commented on #4079
Hi @topherfangio  and @NickBolles ,

Thanks a lot for your help on this issue.

I used other machine (ubuntu) and there sorted all the dependencies and followed it from scratch. That worked.

So I think it could be due to few dependencies not sorted when i ran <code>npm install</code> on my Windows 7 machine. I will try to re-install nodejs and get npm modules again and see.

Thanks,
Gourav.

[2015-08-12 05:05] gouravsood commented on #4079
Hi @NickBolles,

Tried to take out minified file and using unminified also not helping.

[2015-08-12 05:18] NickBolles commented on #4079
hmmm odd. Its working fine for me with the unminified angular-material.js and the deleted menu component folder. But ya it is probably some sort of issue with npm modules not being in the expected places on windows. I'm gonna dig into it more tonight cuz its really annoying me.

[2015-08-12 05:23] john2x commented on #1667
@dohomi could you share your workaround? I've tried [this](http://codepen.io/anon/pen/ZGZEwr) but it doesn't work. Thanks.

[2015-08-12 05:55] gouravsood commented on #4079
Hi @NickBolles,

My apologies for this. I was not following both steps as you mentioned.

* Delete src/components/menu folder
* modifying the /dist/docs/index.html line 166 to <script src="angular-material.js"></script>

Now I have done both and this has sorted the issue. :+1: :+1 :+1

FINALLY I have the docs installed locally.. :)

So final steps to get the docs installed are:

* git clone https:

[2015-08-12 06:02] NickBolles commented on #4079
Ok Cool. Well Not that that really gets us anywhere. Its still an issue and every time you build the docs you need to change the line in index.html. I took a deeper look and dont really know where the issue is.

Maybe it has something to do with the handling of globs in windows vs linux. Idk.

[2015-08-12 06:32] NickBolles commented on #4097
If your just looking for the buttons isnt the first demo on this ( https://material.angularjs.org/latest/#/demo/material.components.toolbar ) page enough?
possible dupe of #1054 if your looking for something like the title and flexible space
PR in the works here: #3735  for flexible space

[2015-08-12 06:36] NickBolles commented on #4037
I would also like to see an option for full screen dialog https://www.google.com/design/spec/components/dialogs.html#dialogs-full-screen-dialogs
This is pretty easy with a custom dialog template and putting the buttons in the toolbar, but it would be cool if it was baked in

[2015-08-12 07:16] hillerstorm commented on #4085
+1

[2015-08-12 08:08] fxck commented on #1376
God I wish there was a way to disable that stupid autofill completely. Along with it's annoying yellow background.

[2015-08-12 08:59] kikhtenko opened #4118 "Using trackBy causes model to trigger ng-change even when it hasn't changed."
Hi,

when I use md-select with mg-model which has pre-selected value and this value is actually an object but not a string, control doesn't show the selected item.
In previous releases I could use md-select-label but now it's being removed.
The examples are here:
http://plnkr.co/edit/7AzpwHFGVaPt9kiFv6Fv?p=preview - when ng-model value is an object - doesn't work

http://plnkr.co/edit/966Xez4lQ79N

[2015-08-12 09:00] vovashevchenko commented on #4118
+1

[2015-08-12 09:01] asadovnikov commented on #4118
+

[2015-08-12 09:01] soutlan commented on #4118
+++

[2015-08-12 09:03] ivorobkalo commented on #4118
+1

[2015-08-12 09:16] Nickproger commented on #4118
+1

[2015-08-12 09:19] darknode commented on #4118
+1

[2015-08-12 09:20] stefan-schweiger commented on #4062
Please always search if your issue has already been reported (and maybe close) and also always try if it's also broken in the HEAD version.

http://codepen.io/anon/pen/WvWvZW?editors=100

I'm not 100% sure if I understood your problem, but it works now in my opinon.

[2015-08-12 09:38] satheesh786 commented on #4062
tanqu ...got it

[2015-08-12 09:52] schmkr opened #4119 "autocomplete cleanup results in error if there are no elements displayed"
The cleanup method (e3a82c9) for md-autocomplete results in an error when there are no elements being displayed: `Cannot read property '$' of null`.

[2015-08-12 10:12] prxg22 opened #4120 "md-tabs: class md-no-tab-content not being set on 0.10.1"
I upgraded angular-material today and the component md-tabs where with a huge height:

- Before:
![before](http://s28.postimg.org/raq5vmgvd/before.jpg?noCache=1439374065)

- After: ![after](http://s12.postimg.org/8w7onoq65/after.jpg)

Apparently, the class `md-no-tab-content` isn't being set, causing the rule:

[code]

Here's my html:

[code]

[2015-08-12 10:26] stefan-schweiger commented on #4062
If this has resolved your issue please close it.

[2015-08-12 10:36] kikhtenko commented on #4118
I investigated the code and found that ng-model-options can possibly be used in this case but it doesn't work anyway.
ng-model-options="{trackBy: 'item.id'}" doesn't help much.

[2015-08-12 10:39] #4062 closed

[2015-08-12 11:10] prxg22 opened #4121 "0.10.1 - Update cdn"
The cdn's links don't seem to work with the new version

[2015-08-12 11:32] vishalkrv commented on #2561
Same here. Even we are facing the exactly same issue.

[2015-08-12 11:39] Stamy opened #4122 "md-icon doesn't work with classes on 0.10.1"
I was using icons like this on 0.10.0:
<md-icon class="cool-icon">cloud</md-icon>

After update to 0.10.1 the icons disappeared and I see only text 'cloud'. However if I remove the class the icon will work again.

[2015-08-12 11:41] Stamy commented on #4122
Duplicate of #4069.

[2015-08-12 11:41] #4122 closed

[2015-08-12 12:01] slash13 commented on #4118
ng-model-options="{ trackBy: '$value.id' }" should do the trick ;-)

[2015-08-12 12:18] jsmylnycky commented on #4121
:+1:

[2015-08-12 12:27] matthiasg commented on #2233
should `Enter`/`Return` while browsing chips in the drop down behave identical to pressing `Tab` ? Right now it enters an empty chip, in the demo at least.

[2015-08-12 12:49] Masadow commented on #3707
This might be a duplicate of #3352

[2015-08-12 12:53] kikhtenko commented on #4118
nope, I've already tried this. You can check this http://plnkr.co/edit/ykk9IrCbuD1ZpqqLekLg?p=preview

[2015-08-12 12:58] siulung4073 commented on #4069
I saw in the change log before on one of the RC releases as a breaking change.
Now it is listed as a Bug Fix:

icons: improve use of material-icons style (dab30b34, closes #3333)

which says:

Improve logic to auto-add `.material-icons` style to **md-icon**.

[2015-08-12 13:02] chrisryer commented on #1464
md-no-pagination="false"

You're welcome.

[2015-08-12 13:08] pratyushmittal opened #4123 "Autocomplete not working with remote requests in 0.10.1"
It seems that the promises are no longer working with the version update.

**CodePen Demo:** http://codepen.io/anon/pen/oXObNr?editors=101

Enter anything in the above example. It won't show the results-menu until the results are fetched from cache.

[2015-08-12 13:33] yochayme commented on #2841
+1

[2015-08-12 13:34] lyschoening commented on #4001
+1 Not sure if I have exactly the same issue, but something is definitely off.

The `<label>` element (md-placeholder) has a `text-shadow` set to `foreground-shadow`, which is only set in a dark theme. It looks odd because (1) the shadow is darker than the text and (2) `color` itself is transparent so, as you can see by zooming in, the drop shadow is visible below the text and the text itself ends

[2015-08-12 13:41] jsenecal commented on #4097
Yes #3735 is what I was looking for that specific example (thanks) but many other toolbar usages are not covered as per the spec.

[2015-08-12 13:46] jsenecal commented on #1054
+1!

[2015-08-12 13:50] caok2709 commented on #556
Does anyone know how to disable md-button hover effect?

[2015-08-12 14:08] myagoo commented on #3654
Any news on this ?

[2015-08-12 14:09] Masadow commented on #3797
I'm not sure what does `md-select behaves the same` means for you (is it like `disabled` or is it like if there were nothing ?)

But for me, when I add `ng-disabled="true"` to `md-select`, then it does not respond to click and can't be focused, but it does not look like disabled.

[2015-08-12 15:41] rgthree opened #4124 "dialog: cuts off/hides body when window is scrolled"
Fiddle: http://jsfiddle.net/rgthree/9m7z8cqy/

If body has any `overflow` applied by the app, angular overrides its style to `hidden` when the dialog is open. This clashes with the other styles added to body, particularly, `position: fixed; top: -XXpx;` and `max-height: 100%` from the `md-dialog-is-showing` class which ends up cutting off the body content or completely hiding it when the window ha

[2015-08-12 15:45] syjulian commented on #4001
Here is my current workaround for the issue

[md-theme=myTheme] md-input-container .md-input {
    text-shadow: none
}

[2015-08-12 15:45] mcapu commented on #4033
Is there a workaround for having performance problems due to having many md-tooltips right now? My situation is similar, although it's caused by several tooltips in each row.

[2015-08-12 15:47] begemott opened #4125 "md-select cannot be configured to display options under label"
Hi

As I understood now there is no way to configure an md-select component to display its options under the the component when the select is opened (now options are positioned around the select). The current behavior is nice, but I want to have it only on a small screen and on a large screen I need to display it under the select. Are you planning guys to add such an options to the component?

Tha

[2015-08-12 16:06] matthiasg opened #4126 "md-icon not supporting data urls"
When binding md-svg-src against a property which returns a data-uri url nothing is being rendered.

[code]

where `command.icon` returns

[code]

[2015-08-12 16:09] marcysutton commented on #3352
From #3707: I'm guessing that is because the list of options is in a separate area of the DOM than the triggering element, so focus has to be sent to it for accessibility. Internally in the component, focus could be sent to an element wrapping the options instead (using tabindex="-1").

[2015-08-12 16:09] #3707 closed

[2015-08-12 16:19] topherfangio commented on #1416
I think there were a few small fixes in 0.10.1, but the majority of fixes will be pushed in 0.11 which we are working on now.

I actually just finished what should be my last PR for the speed dial/toolbar for a while, so as soon as it is merged, it will be available and should be mostly ready. We have some plans post 1.0, but will likely only have bug fixes until then.

[2015-08-12 16:19] OlsonDev commented on #3797
I edited the OP for clarity: `md-select` behaves the same (as if it had the disabled attribute)

That is, it looks disabled, doesn't respond to clicks, can't be focused. I just double-checked this with the latest update (angular 1.4.3, angular/material 0.10.1). Odd that we're getting different behavior.

[2015-08-12 16:21] topherfangio commented on #4079
If you guys are on Windows, that may make a huge difference. I should be
switching to Windows sometime next week to test some IE issues and I will
take another look at it then.

Glad you have a workaround for the time being :-)

On Tue, Aug 11, 2015 at 11:02 PM Nick Bolles <notifications@github.com>
wrote:

[2015-08-12 16:28] bshir commented on #2684
Hello,
I think that this update has taken away desired functionality from the md-select directive.  There are cases where customizing the select options improves the UX.
Examples...
a select element containing countries as options with their flag image displayed beside the text.
a select element which formats each option text in a different color (red, yellow, green)

Is there a way to configure t

[2015-08-12 16:33] mismith commented on #1416
Cool, thanks for the update. And cheers for all your efforts!

[2015-08-12 17:08] calebegg opened #4128 "Missing red underline for invalid md-select"
From the [demo page](https://material.angularjs.org/HEAD/#/demo/material.components.select):

![](https://cloud.githubusercontent.com/assets/782920/9230890/1564d40a-40f3-11e5-8ad2-6e261782b878.png)

[2015-08-12 17:11] calebegg opened #4129 "Classes on <md-input-container>'s label do not work on <md-select>"
We have a 'required' class with CSS for the `::after` as `content: "*"`. This doesn't work with an `<md-select>` because the `<label>` is not actually used unless there's something selected.

See [this codepen](http://codepen.io/calebegg/pen/LVvZrX).

[2015-08-12 17:21] chinnichaitanya opened #4130 "Buttons not aligned in official site"
The `Icon Buttons` are not aligned properly in the official site [here](https://material.angularjs.org/latest/#/demo/material.components.button) in Chrome with Angular-Material version - 0.10.1

Screenshot below:

![screenshot 80](https://cloud.githubusercontent.com/assets/6941024/9231090/df568e7a-4143-11e5-93c2-5a522984f8c9.png)

[2015-08-12 17:34] metamatt opened #4131 "md-contact-chips attribute filter-selected is not implemented"
https://material.angularjs.org/latest/#/api/material.components.chips/directive/mdContactChips documents a `filter-selected` attribute which doesn't work because the directive doesn't actually look at the attribute. (It does have code to honor `this.filterSelected` on the controller, but it never propagates the attribute to the controller property.)

It's missing this, basically:

[code]

[2015-08-12 17:37] ryanespin opened #4132 "Using md-wrap to reverse the order of children element."
Hi,

Currently in a project I am working on, I needed to reverse the order of buttons in a wrapping layout for small resolutions.  I noticed [layout-wrap] allows me to wrap the child elements, but not in reverse.  I would recommend adding something to handle this.

I've added to my CSS the concept of adding layout-wrap="reverse" to allow me to reverse the order of layouts.

[code]

Here's an examp

[2015-08-12 17:38] jelbourn commented on #4059
@kseamon was one of your existing PRs something that addressed this?

[2015-08-12 17:59] kseamon commented on #4059
https://github.com/kseamon/material/commit/016ca6967e981f6edd7fa2b9d880be637f115eb5

On Wed, Aug 12, 2015 at 10:38 AM, Jeremy Elbourn <notifications@github.com>
wrote:

[2015-08-12 18:00] jelbourn opened #4134 "Change components to `restrict: 'EA'`"
As discussed, change most components to allow attribute syntax to better support progressive enhancement and SEO.

This will require any code that is specifically depending on the element syntax to be updated (such as CSS selectors or JS querySelector use).

[2015-08-12 18:05] jelbourn commented on #4124
@rschmukler

[2015-08-12 18:11] mckenzielong commented on #4096
#2 is fixed in master.
#1 is coming from 'md-icon-float' being added to the input container.  Specifically this bit here:

[code]

Out of curiosity, should there be a check to see if the container has an md-icon before assigning this class? and does that check have to rely on the label tag being missing?

[2015-08-12 18:17] topherfangio commented on #2742
Hi @ddimitrop,

I am sorry for the delay, but I am now looking into this issue. I'm unfortunately having a bit of trouble getting your codepen to work.

Are you still experiencing this issue? If so, do you think you could update the pen so that I can see it and begin to debug?

Thanks!

[2015-08-12 20:13] bengadbois commented on #3797
I just noticed if you add the "md-primary" class to md-switch, it'll override the disabled grayed out appearance, so it'll look enabled, but acts disabled (ie the first bullet point in the OP).

[2015-08-12 20:17] skolade commented on #4121
+1

[2015-08-12 20:26] mattclevyr commented on #1771
@ThomasBurleson I appreciate that, and you and your hard work, but without significant speed/performance increases in IE we simply cannot use Material with enterprise clients who are locked into the Microsoft paradigm.

Really excited about your upcoming release.

[2015-08-12 20:29] jestelle commented on #3364
From the best I can tell, this is not explicitly specified in spec, but I would agree with the suggestion of the reporter.

[2015-08-12 20:59] luclanet opened #4135 "two md-dialog same time"
I'd like to open 2 dialog in the same time but it looks not possible as you can see from this example.

http://codepen.io/anon/pen/OVGbgw

When another dialog will be opened the first one is closed. That doesn't work for me.

Is there any fix for that?

[2015-08-12 21:36] topherfangio commented on #2985
Apologies for the random references/tags; I swapped the last two digits of the issue I was working on when referencing it in my PR :/

[2015-08-12 22:10] KReden commented on #4135
see this issue https://github.com/angular/material/issues/698 it talks about exactly this.

[2015-08-12 22:13] nkoterba opened #4137 "Md-Tabs (Tabs) Pagination Flicker When Tabs Dynamically Loaded/Created"
Using 0.10.1 with latest Angular and latest Chrome Browser.

In our webapp, we dynamically generate `<md-tab>` based on data we receive from an `$http` call.

It appears there is a **timing** and race condition and that part of it is due to how `ctrl.maxTabWidth` is not being set/updated in the MD Source.

First, a demo video of what's happening:
[![Demo of Flicker](http://j.gifs.com/yob4Mq.gif)](

[2015-08-12 22:18] ThomasBurleson commented on #1190
We will be adding a `md-auto-focus` directive to allow SideNav, DIalog, and Bottomsheet to specify a custom auto-focus target.

[2015-08-12 22:18] #1190 closed

[2015-08-12 22:19] ch4 commented on #3287
@prerna12 try 0.10.1. It was just released yesterday and seems to have fixed it for me.

[2015-08-12 22:51] jtosey opened #4138 "spurious validation message while dismissing dialog"
When I dismiss a dialog which has invalid data, an incorrectly styled message flickers across the screen.  It appears only during the dismissal animation.  See attached:

![animation-artifact](https://cloud.githubusercontent.com/assets/330118/9238761/bdf70c1c-4109-11e5-8d98-2dda6539dff4.png)

[2015-08-12 22:57] ultamatt commented on #3021
I'm also having this issue.

[2015-08-12 23:00] KReden commented on #4100
If you haven't yet you should post this over on the forums https://groups.google.com/forum/#!forum/ngmaterial as you will probably get more answers there.

You might also try the angular forums seeing as this strikes me more of a general 'how can I do this in angular?' question. https://groups.google.com/forum/#!forum/angular

Finally I did a google search and came up with this stackoverflow post

[2015-08-12 23:11] jelbourn commented on #3364
UX decision: Always add on blur

[2015-08-12 23:14] jelbourn commented on #2878
Word from UX: it's okay to allow (we're not going to be the bad ui police)

[2015-08-12 23:31] topherfangio commented on #4130
Thanks for noticing! We've fixed. Might need to do a hard refresh on the page as we manually fixed the CSS.

[2015-08-12 23:31] #4130 closed

[2015-08-13 00:26] robertmesserle opened #4139 "Implement clang-format with travis integration"
- Add clang-format config file
- Add travis integration in order to enforce usage of clang-format

[2015-08-13 00:29] #2958 closed

[2015-08-13 00:29] viztastic commented on #4078
For me the issue is with both version 10.0 and 10.1

I have an md-select. Appears fine on the page. And it also behaves fine when in large or medium screen mode:

http://screencast.com/t/k0rrG0Iu3EO

When I srhink the screen to a mobile width, and then click on md-select. It hides the page scroll bars and I can't seem to click out of the md-select or scroll up/down the page (even with the mouse sc

[2015-08-13 00:36] #3697 closed

[2015-08-13 00:37] viztastic commented on #4078
Also worth noting, that when I resize the screen to desktop.. everything is still frozen (no scroll bars and select is still open).

[2015-08-13 00:37] #3402 closed

[2015-08-13 00:43] #3253 closed

[2015-08-13 00:46] ThomasBurleson commented on #1190
Updated with SHA https://github.com/angular/material/commit/5fc572d35557197f2f9c3b610ebbfcd066dbdff9

[2015-08-13 00:47] #2748 closed

[2015-08-13 00:56] #3190 closed

[2015-08-13 01:02] amritk commented on #3436
So every interior flex container needs a height value? Then what is the point of using flex if it doesn't work vertically?

[2015-08-13 01:18] amritk commented on #3436
Now say I want to nest another one in there, it doesn't work. Is there a way to keep nesting them properly to get the correct vertical split?

http://codepen.io/anon/pen/WvWRqp

You don't seem to be able to get a proper height % wise inside a flex child.

[2015-08-13 01:36] isyun commented on #3760
We also run into similar issues in our application. Our application uses an autocomplete box to build a selection list similar to chips but as a customized list above the autocomplete box. In 0.10 release, not setting the md-item-text will clear out the text on select, which is exactly what we want. In 0.10.1, [object Object] is displayed on the autocomplete input on select. This seems to be the s

[2015-08-13 02:18] pmoelgaard commented on #1416
Thanks for the great effort so far, looking forward to the update... really, need it now, but no complaints ! :)

[2015-08-13 02:21] mattiLeBlanc commented on #1865
@urish The example in plunker is not showing anything beside a header. Due to changes in Angular2?

[2015-08-13 03:20] tapas4java commented on #1865
@mattiLeBlanc,

You can check below working Plunker. The problem is it only works with Angular alpha-23.

[Working Plunk](http://plnkr.co/edit/nYKpBlmIIHCIWhnXCdze?p=preview)

[2015-08-13 03:48] innerpeace0 commented on #2878
+1
Looks great!

[2015-08-13 04:58] bijoux commented on #4118
I use ngSelected in cases like this. It's more readable atleast for me.
ng-selected="vm.selectedItem.id === item.id"

[2015-08-13 05:25] kikhtenko commented on #4118
This doesn't work either.
Check this
http://plnkr.co/edit/dGGXOEBhfNYSRCBIDCuw?p=preview
It works with select tag but not with md-select

[2015-08-13 06:17] colinskow commented on #1773
+1

[2015-08-13 06:18] no-more commented on #4100
Hi, Thanks for the response, but I know how to catch event in angular, and I already managed them at page level. My question was specific to mdDialog, is there any specific way to catch closing event before it occurs. I can do it in the button when clicked, but how can I catch other events (ESC keyboard, or other $mddialog calls that will close the current one. I would like to be able to prevent t

[2015-08-13 07:17] noamshemesh commented on #35
+1

[2015-08-13 07:58] uriva commented on #4121
+1

[2015-08-13 08:19] Masadow commented on #3352
@marcysutton In #3707, it is related to md-select, so there is no separate area of the DOM in that case. Example generating the focus behaviour :

            <md-select multiple="true" placeholder="Type d'établissement">
                <md-option>Ecole d'ingénieur</md-option>
                <md-option>Ecole de commerce</md-option>
                <md-option>Ecole spécialisée</md-option>

[2015-08-13 09:10] Masadow commented on #3797
@OlsonDev I was using 0.10.1-rc5, just upgraded to 0.10.1 and still get the same behaviour.

What is looking disabled for you ? Can you provider a screenshot ?

![disabled](https://cloud.githubusercontent.com/assets/2227736/9246425/c46f3112-41ab-11e5-8980-ac22d8245369.png)

In the provided example, only the last two fields are disabled for me, it works as expected aside from the design that looks

[2015-08-13 09:24] vasiliy0s commented on #4031
+1

[2015-08-13 09:33] OlsonDev commented on #3797
Enabled, `ng-disabled="true"`, `disabled="disabled"`:

[code]
No focus, focus 1st `<md-select>`, activate 1st `<md-select>` (cannot focus/activate 2nd/3rd):
![1](https://cloud.githubusercontent.com/assets/308072/9246817/d5976686-4173-11e5-91e8-c212f53dd2e3.png) ![2](https://cloud.githubusercontent.com/assets/308072/9246818/d5979bd8-4173-11e5-9edd-0c3c6e399ba5.png) ![3](https://cloud.githubusercont

[2015-08-13 09:37] Masadow commented on #3797
Oh, then there's an issue when using placeholder on top of that. In my examples, I'm using placeholder.

Just try to add a placeholder in a fourth column and you'll see that he looks like the disabled input

    <md-select flex="10" class="md-primary" ng-model="options.selectedDisplayNumber" aria-label="Display number" placeholder="Number">
        <md-option ng-repeat="displayNumber in availableD

[2015-08-13 09:39] websirnik commented on #4118
+1

[2015-08-13 09:46] OlsonDev commented on #3797
`placeholder="Number"` did nothing.

Do you mean something like this?
[code]

[2015-08-13 09:49] Masadow commented on #3797
Oh it changed again, your syntax is right. This is weird that placeholders are working for me then

[2015-08-13 09:57] Masadow commented on #3797
@OlsonDev Did you try to put a placeholder with `md-input-container` ? For me, it works as if I were using `placeholder="Placeholder"`. So it looks disabled all the time

[2015-08-13 10:00] smashercosmo commented on #4082
Yes, that's definitely a bug. It was working in previous versions.

[2015-08-13 10:03] OlsonDev commented on #3797
`<md-input-container placeholder="Test">` does nothing even if I remove `<label>Number</label>`. However, with the `<label>` in place, it looks greyed out because it's getting this CSS applied to it:

[code]

[2015-08-13 10:05] Masadow commented on #3797
The placeholder attribute should be placed on the md-select tag

I know that there is a gray color applied to it through css, still, it's a mistake to use the same gray as disabled

[2015-08-13 10:06] marcoocram commented on #3352
+1

[2015-08-13 10:07] OlsonDev commented on #3797
Ah, `placeholder` on `<md-select>` behaved the same. Grey/disabled looking text.

[2015-08-13 10:19] Eden-Sun commented on #3872
+1
even demo page can see this issue on the  "Client Name" input validation https://material.angularjs.org/0.10.1/#/demo/material.components.input

[2015-08-13 10:32] vautrinr commented on #2577
Instead of watching the collection of chips, I did a little 'trick' :
`<md-chips ng-model="searchObj.selectedFilters">
      <button md-chip-remove class="md-primary md-chip-remove"
                                ng-click="$parent.$log($chip)">
       <md-icon md-svg-icon="md-close"></md-icon>
       </button>
</md-chips>`
What do you guys think about it ?
Waiting for the events btw :+1:

[2015-08-13 11:12] tonyawad88 commented on #3557
Thank you @typotter @ThomasBurleson

[2015-08-13 11:32] AleksueiR commented on #4104
+1

[2015-08-13 11:45] r0b- opened #4140 "Chips / mdChips (with autocomplete): Keyboard selection broken"
With v0.10.1 selecting an option by keyboard creates an empty chip.
(see Demo with Vegetable Options)

[2015-08-13 12:00] bshir commented on #3567
Hello,
I agree with @no-more that this update has taken away desired functionality from the md-select directive. There are cases where customizing the select options could be considered an improvement to the UX. Opinions may vary.
Examples...

a select element containing color selections with the color displayed beside the hex code (see pen below).
a select element which formats each option text i

[2015-08-13 12:26] khyamay commented on #4003
any update on this one ?

[2015-08-13 13:01] no-more opened #4141 "Change tabs display on small screen"
Hi,

This is not a bug, but I think the way tabs are working currently it's not really good for small screen. The display of tabs should switch to a menu like display. I mean display the current tab name full witdh, and when clicked on, display a list of other available tabs. This way you can easily have an overview of all tabs, and you can switch easy from the first one to the last one for exampl

[2015-08-13 13:14] dohomi commented on #1667
@john2x
I just changed the span to div, and then you'll see how it works. In general it means, that if you'd choose span as the container just add a few more lines of CSS. Cheers

http://codepen.io/anon/pen/pJBWxo

[2015-08-13 13:57] bshir commented on #4118
Modifying the example from the demo page
initialize with object and it does not display the selected value:  http://codepen.io/anon/pen/XbQzbM
initialize with string and selected value is displayed:  http://codepen.io/anon/pen/xGePGX

[2015-08-13 14:07] marminthibaut commented on #1259
:+1:

[2015-08-13 15:03] viztastic commented on #2266
Would be great to have an md-card-image support SVGs and not just standard <img > tags.... would be great to have SVGs that span the full width of the md-card-image.

[2015-08-13 15:05] norkunas commented on #4069
If this is intended, i think it should work at least only if using md-hue classes.

[2015-08-13 15:07] #3807 closed

[2015-08-13 15:10] #4063 closed

[2015-08-13 15:23] antoinebrault opened #4142 "mdMenu: mdButton not vertically centered when its a link instead of a button"
Using 0.10.1 with latest Angular and latest Chrome Browser.

When using a md-button with ui-sref inside a mdMenu, a link is generated instead of a button.
The link text is not vertically centered in the mdMenuItem.

See https://jsfiddle.net/uaoqj7e4/2/

[2015-08-13 16:48] MetalHexx commented on #3455
+1 big lag scroll issue in IE 11 with large list of items (200 in this case).  Remove CSS and blazing fast performance.  One interesting thing to note it hat IE performs alright just using the mouse wheel to scroll through the items.  It only seems to bonk when a single click to anywhere in the scrollable area occurs (even white space).

And to @stevenmiles point:   I was invited to the Microsoft

[2015-08-13 16:48] lscordilis opened #4143 "md-select.isOpen() has naming conflict with sideNav.isOpen()"
I've been following issues where you provide solutions to trigger events based on the sidenav.isOpen() state:

https://github.com/angular/material/issues/974

@ThomasBurleson I implemented your solution:
[code]

It worked perfectly yesterday. However, just this morning, my console was flooded with hundreds of these whenever anyone had used an md-select element in the same scope as the $watch('isOp

[2015-08-13 16:50] dkemper01 opened #4144 "MdAutocompleteCtrl.select - add val argument"
On the Contact Chips demo, a welcome user experience would be to click a contact and have it automatically added to the list of selected contacts.  From what I gather, this may require an additional argument in the select method of the MdAutocompleteCtrl (auto-complete controller, autocompleteController.js).

The new argument I am proposing would simply be "val", representing a single value in the

[2015-08-13 16:58] rschmukler commented on #3455
@MetalHexx can you see if taking a class based approach with the layout resolves the speed issues? We are trying to figure out if IE11 is having performance issues with attribute selectors or whether it is flexbox that is causing the issue.

We will be doing a more formal performance audit to get to the bottom of this, but any feedback from users will also help us get started.

[2015-08-13 17:06] MetalHexx commented on #3455
@rschmukler Our designer is trying a class based approach with a different flexbox as we speak.  I'll update you with the results.

[2015-08-13 17:06] eXaminator commented on #3455
We used the layout part of angular material in one of our projects (nothing else was used from angular material). We had some big performance problems (not just scrolling but in general) in IE 10 and 11 (luckily we don't need to support older IEs). We managed to pinpoint the problem to the layout / flex attributes. Some tests showed it is due to the attribute selectors. We actually changed all sty

[2015-08-13 17:20] rschmukler commented on #3455
@MetalHexx awesome, we look forward to hearing back. It's a huge help.

@eXaminator thanks a ton for the feedback! Good to hear.

[2015-08-13 17:20] marcysutton commented on #3352
Yes, but look at the compiled source in the DOM. The options are embedded in a completely different location than the `<md-select>` tag. Here is a demo: http://codepen.io/marcysutton/pen/yyxREg?editors=101

Menus and selects work in the same way, so both components need similar focus management.

[2015-08-13 17:30] MetalHexx commented on #3455
@rschmukler, So our designer @ryanespin, tried removing all the flex and layout attributes from our problem page and we still saw the same problems (maybe the other md directives we've implemented use them?).  He then removed the flex and layout definitions from the CSS file itself and the performance has dramatically improved.

[2015-08-13 17:33] rschmukler commented on #3455
@MetalHexx so it is having lots of attribute selectors to check against that is likely causing the issue? Have you tried porting things to classes and seeing if that works?

[2015-08-13 17:44] ajoslin commented on #3455
Just chiming in: I'd guess it's flexbox having performance issues, not the attribute selectors.

At Ionic we saw issues just scrolling large lists of flex elements versus block elements.

[2015-08-13 17:52] cesarvarela opened #4145 "Contact chips demo rendering bugs"
![image](https://cloud.githubusercontent.com/assets/1172479/9257236/d477e8c8-41ca-11e5-8058-98e987789555.png)

2 bugs 1 screenshot

- the chips are empty
- the name and the picture are mixed in the autocomplete

[2015-08-13 17:54] eXaminator commented on #3455
I don't know about flexbox, but attribute selectors definetly have a problem. It's actually quite known that class selectors are the fastest. And as I say we still use flexbox (via classes) which works far better then before (not perfect though, but we could still have other performance problems in other areas of our application).

By the way: This is mostly true if the attribute (or anything besi

[2015-08-13 17:59] MetalHexx commented on #3455
@rschmukler We have not tried porting anything to class selectors yet as we're not in a rush.  We merely commented out the layout styles in the MD CSS file.

[2015-08-13 18:07] stevenmiles commented on #3455
@rschmukler

The codepen  from the OP (http://codepen.io/stevenmiles/pen/jPaZJL) doesn't have any flexbox layout  at all and the scrollbar still behaves badly. Obviously the universal attribute selectors are there, but as fas as I can tell, they shouldn't actually be applied, from my understanding, it just takes a long time to figure out that they don't need to be applied.

CSSLint has a warning a

[2015-08-13 18:17] pablocespedes opened #4146 "Doesn't show margin bottom and md-select-icon on a select input"
I uploaded new version of angular material 0.10.1 and doesn't show the normal margin bottom and md-select-icon that a select input have.

Has anyone had this problem?

![filterby](https://cloud.githubusercontent.com/assets/7781064/9257847/4143b204-41b5-11e5-8aa7-faadfb1d8cc5.PNG)

[2015-08-13 18:30] programming-kid commented on #2266
excellent point @viztastic

[2015-08-13 19:11] Frank3K opened #4147 "bower-material is not updating anymore"
Currently the latest [bower-material](https://github.com/angular/bower-material/) build is [version 0.10.1-master-514927a](https://github.com/angular/bower-material/commit/fe6731d22a568f8a449ef2cc4fe8625515b8736c) as can be seen [here](https://github.com/angular/bower-material/commits/master).

Since 514927a there have been a number of commits which are not auto build into a bower package anymore.

[2015-08-13 19:51] stevenmiles commented on #3455
@rschmukler  I converted all flex layout to class selectors in another codepen. scrolling performance issues went away.

Before: http://codepen.io/stevenmiles/pen/jPaZJL
After: http://codepen.io/stevenmiles/pen/MwRQXY

Both codepens are 0.10.1

[2015-08-13 20:15] #4146 closed

[2015-08-13 20:35] Frank3K commented on #4145
Which material version and which browser do you use? Seems to work fine on master / Chromium 43.

[2015-08-13 20:54] ngraef commented on #4145
Duplicate of #3475

[2015-08-13 21:11] cesarvarela commented on #4145
Chrome 45.0.2454.26 beta (64-bit)
and
https://material.angularjs.org/HEAD/#/demo/material.components.chips

[2015-08-13 21:40] dkemper01 commented on #4144
This is easily accomplished by modifying the existing pen for the contact chips demo such that ng-click executes a method in the controller that simply adds the selected contact from the collection of all contacts to the _contacts_ collection of the md-contact-chips.

In the markup ...

[code]

In the controller ...

[code]

[2015-08-13 21:41] #4144 closed

[2015-08-13 22:10] timnix commented on #1771
@ThomasBurleson We removed all of the media queries from the layout.scss and had performance gains in IE using Flexbox. So I guess IE is having trouble with all of the media queries.

[2015-08-13 22:26] #2841 closed

[2015-08-13 22:26] #3482 closed

[2015-08-14 00:22] rschmukler commented on #3455
@stevenmiles super helpful codepens. Thanks a ton for the effort! Will take this to the team and figure out how to tackle this.

[2015-08-14 00:34] bonatoc commented on #3364
Yay!

[2015-08-14 00:46] ThomasBurleson commented on #1495
`.content()` will support simple strings or strings with HTML markup.

[2015-08-14 01:04] rschmukler commented on #4147
Fixed in 1d90ffaad436bd9a078b24e05bdd46a0c8774379

[2015-08-14 01:04] #4147 closed

[2015-08-14 01:07] naresh8t7 commented on #2921
When the fix will be available for this issue ?

[2015-08-14 01:13] epelc opened #4149 "Conflicting suggestions for angular version between readme and the google groups header"
Not to nitpick or anything but the readme recommends 1.3.x or higher while the official google groups recommends `1.3` only. I know it's a slight difference but given the problems in the recent `0.10.1-rc`'s with animations in `1.4.x` it'd be nice if they were consistent.

On the [readme](https://github.com/angular/material)

On the [google groups](https://groups.google.com/forum/#!forum/ngmateria

[2015-08-14 01:15] epelc commented on #4134
Is this so you can make everything an attribute? I thought google didn't mind custom element names.

[2015-08-14 01:17] jelbourn commented on #4134
It to give people to option to do it whichever way they want.

[2015-08-14 01:21] #3220 closed

[2015-08-14 01:21] #2921 closed

[2015-08-14 02:05] ddimitrop opened #4150 "Calling $mdDialog.hide with an empty string resolves to the string 'true'"
See codepen

http://codepen.io/anon/pen/oXOyjz

Problem at line:

https://github.com/angular/material/blob/6fd31c9a9fef9a6bda099883fd104a186d9b36dd/src/core/services/interimElement/interimElement.js#L301

If 'reason' (which is the value returned by the dialog) is empty, the expression remove(reason || SHOW_CLOSED, false) passes SHOW_CLOSED (='true') to the caller.

[2015-08-14 02:11] jelbourn commented on #4150
@ThomasBurleson Looks like this came from your batch of dialog changes.

[2015-08-14 05:17] paulflo150 commented on #1771
I believe @timnix's suggestion has helped, but it's hard to tell since it's still very sluggish in IE11.

Any plans at all on making fixing the performance a top priority?

[2015-08-14 06:42] webley commented on #3876
+1

[2015-08-14 06:44] julian-iFactory commented on #4109
FYI: [Object Object]  showing in \<md-autocomplete\> in #3670 [closed] appears to be unresolved as of v0.10.1

[2015-08-14 07:57] trazek opened #4151 "md-select leaves style and md-backdrop on the screen if closed without selecting an option"
1. Open the `md-select` component
2. Instead of clicking an option to close it, click on a custom element on screen to transition away or hide the parent container

Result:

The style applied to the `<body>` and the generated `<md-backdrop>` will remain in the DOM. The `md-backdrop` doesn't really affect things but the style left on the `<body>` causes unexpected errors with original scrollbar pos

[2015-08-14 08:18] matthiasg commented on #4126
ok .. 'getIcon' is not handling data urls and does also not even pass a dataurl to the `loadByUrl` function. But even if it did , the `loadByUrl` function would forward it to the $http service but that would still require an interceptor to decode the dataurl into the raw text since the icon service requires the original svg text and doesnt just hand it of to an img tag etc...

we are using browser

[2015-08-14 08:23] alexcriss commented on #487
+1

[2015-08-14 09:59] J-Zeitler commented on #1092
@MemoLabra + @QuantumInformation

My quickfix for this is to add `position: relative;` to my `div flex row`.

[2015-08-14 10:24] hodeyp opened #4152 "$mdSideNav no longer animates in angular 1.4.4"

[2015-08-14 11:15] pulkitnandan opened #4153 "Using flex to design resize resistant layout of elements."

[2015-08-14 11:28] bertramvarga commented on #1771
WE found that the stylesheet size is what kills IE. So we are now compiling sass sources including only the used components and uncss-ing the unused layout selectors by scanning index + template files.
Using only about 10-15 components, the performance is almost equivalent to Chromes.
(I doubt this is good long-term solution but solves the problem for now.)

[2015-08-14 12:04] rudzikdawid opened #4154 "md-menu/md-dialog with auto opened md-autocomplete"
It would be fantastic if md-autocomplete put in md-menu/md-dialog could works like element from github ui.
expected behavior: when you open the md-menu/md-dialog, md-autocomplete is auto opened, without chance to hiding results, only you can hide whole md-menu/md-dialog.
![md-menu_md-autocomplete](https://cloud.githubusercontent.com/assets/7476577/9273272/2e210a92-428b-11e5-840f-6942fa3f9fa7.png)

[2015-08-14 12:18] oliversalzburg opened #4155 "How can I use this with CSP?"
We don't allow `unsafe-eval` or `unsafe-inline` in our Content Security Policy. This causes angular-material to not work and many errors being logged in the JS console when attempting to use it.

We're already using `ngCsp`, but it has no noticeable effect on the issue.

[2015-08-14 12:21] heyton commented on #4120
+

[2015-08-14 12:34] koconder commented on #4121
+1

[2015-08-14 12:50] julienpa commented on #4152
I have the same issue with Angular Material 0.10.1

[2015-08-14 13:21] lanmower commented on #3214
Since this got merged with 3314, does the hover trigger only happen on the md-fab-trigger element now? or does it still happen for its popup children?

[2015-08-14 13:32] websirnik opened #4156 "md-backdrop: Animate opacity instead of background-color"
I've noticed that animating `opacity` was in plans https://github.com/angular/material/pull/3841#issue-96349832, but then the issue was closed without the necessary commit.
In 10.1 since backdrop became darker, you can easily see that animation does not perform well. Animating `opacity` instead of `background-color` will improve the performance.

[2015-08-14 14:44] guiporto commented on #2148
+1

[2015-08-14 15:03] AleksueiR commented on #4078
+1

[2015-08-14 15:04] brianfeister commented on #4152
:+1:

[2015-08-14 15:06] joalcega commented on #4069
<md-icon> renders with classes only if it is inside of a <p> element.

[2015-08-14 15:41] hamdipro commented on #2014
is there a solution for this issue please ?

[2015-08-14 15:57] juandiago commented on #4022
@nkoterba thnks for the <code>height:1px</code> workaround.

Works like a charm!

[2015-08-14 16:18] jeremymwells opened #4157 "md-svg-icon attr value should function like ng-class"
It'd be awesome if md-svg-icon functioned like ng-class so as to be able to:

[code]

rather than:

[code]

[2015-08-14 16:20] #3214 closed

[2015-08-14 16:20] #3231 closed

[2015-08-14 16:20] #3925 closed

[2015-08-14 16:23] #3413 closed

[2015-08-14 16:23] kschwidder opened #4158 "md-datepicker: Feature - min/max date"
This is a great first step for a date picker ! Well done !!

It would be awesome if min-date, max-date and a year selection could be added soon.

BTW: Is it possible to set a date format which can also be entered via keyboard ?

[2015-08-14 16:24] marcysutton commented on #4149
Sounds like the Google group needs to say "Angular 1.3 or higher".

[2015-08-14 16:33] lscordilis commented on #1637
@johannesjo That's what I ended up doing. In the html file that opens the sidenav:

[code]

Then, in your template's controller:
[code]

And define the css class like so:
[code]

This way, you don't scroll on the out of focus content, only on the sidenav's content. The sidenav can have its own controller if you want, just make sure to put this in the parent template's controller. Hope this helped

[2015-08-14 16:34] #1416 closed

[2015-08-14 16:35] topherfangio commented on #1416
Speed dial should now be feature complete and was merged into master this morning. Please let us know if you find more issues!

[2015-08-14 16:38] ThomasBurleson commented on #2742
Determine if already fixed.

[2015-08-14 16:45] jelbourn commented on #1376
Status: need more discussion about how to address this

[2015-08-14 16:47] jelbourn commented on #2623
Status: need to check if this still exists

[2015-08-14 16:50] ddimitrop commented on #2742
Yes its fixed.
This is the new codepen using 0.10.1
http://codepen.io/ddimitrop/pen/gpyqMX

Thanks

[2015-08-14 16:50] #2742 closed

[2015-08-14 16:51] ThomasBurleson commented on #3752
Please provide a CodePen or Plunkr that demonstrates this issue. Here are some starter demo templates that you can use/fork:

*  CodePen template: http://codepen.io/team/AngularMaterial/pen/BNYppz
*  Plunkr template: http://plnkr.co/edit/yP0gB9iTacIQb48thud8?p=preview.

[2015-08-14 16:51] topherfangio opened #4159 "Review fab speed dial/toolbar to refactor custom code into gestures.js"
We have implemented some custom code in the Fab SpeedDial/Toolbar controller to better handle taps and clicks across multiple devices. We need to see if we can merge this into `guestures.js` so we have a single set of code.

[2015-08-14 16:52] topherfangio opened #4160 "Review animations in Fab SpeedDial/Toolbar"
The Fab SpeedDial/Toolbar currently use old-style animation code. Need to review and refactor to use `$animateCss` instead.

[2015-08-14 17:06] ThomasBurleson commented on #1958
Due to international concerns, we are removing the presumptive transform `text-transform: uppercase`.
A workaround will be posted in the release notes.

[2015-08-14 17:12] jelbourn commented on #1831
@rdesimone are you still seeing this issue?

[2015-08-14 17:16] gligoran opened #4162 "::-webkit-input-placeholder is broken"
Mixin ```placeholder-input-color``` in mixins.scss won't work as expected in Chrome.

[code]

This is because Chrome (at this point in time) fails to parse its part. These have to be separated out like so:

[code]

It would be awesome if this could be fixed, so it works the same across all browsers.

P.S. Found this out the hard way after fiddling with it for more than an hour.

P.S. 2 Also defaul

[2015-08-14 17:16] jelbourn commented on #1208
Possible same issue as #1831

[2015-08-14 17:18] julienpa commented on #3990
I think I have the same issue when trying to submit a form with Angular (1.4.3) and Angular Material (0.10.1) by pressing enter: the ng-submit is not triggered, whereas it works well when there is a simple `md-button` inside the form

[2015-08-14 17:21] #1520 closed

[2015-08-14 17:33] dkemper01 opened #4163 "Contact Chips Demo (<number_of_chips>%3) > 0 ? weird ng-repeat behavior : okay;"
Please see this pen for a consistently reproducible demo of this problem.  To reproduce, instead of typing, simply click four contacts to add them to the list of selected contact chips.

[http://codepen.io/dotComb/pen/EjJroK](http://codepen.io/dotComb/pen/EjJroK)

[2015-08-14 17:37] #3730 closed

[2015-08-14 17:53] jelbourn commented on #2918
@jahtalab Can you provide a demo?

[2015-08-14 17:54] reubenmoes commented on #2560
I like that they can be `:focus`ed for accessibility.  I would expect that it would go smaller after you stopped dragging it though.  The polymer paper slider is a good example, although it isn't accessible, so I'm not too sure if this is possible to have both. https://www.polymer-project.org/0.5/components/paper-slider/demo.html

[2015-08-14 17:55] jelbourn commented on #3341
@prashant1587 can you provide a demo?

[2015-08-14 17:58] marcysutton commented on #2560
It is still focused when you stop dragging, so that is why the handle is still larger. Either it could be larger on `:active` only, or some kind of mouse/keyboard hack would have to be applied like in `md-button`. That's the whole idea behind this proposal: http://radar.oreilly.com/2015/08/proposing-css-input-modailty.html

[2015-08-14 17:59] topherfangio commented on #4022
Hi all, I am looking into this issue, but I'm having trouble understanding the `height: 1px` fix/workaround. When I apply that to the `md-content`, it gives me a `1px` tall block of text (which doesn't seem like a proper fix).

Can one of you produce a quick demo that shows the issue and has the CSS fix comment out so that I can comment it back in and see the difference?

[2015-08-14 18:00] jelbourn commented on #1772
@rgolea @WhiteAbeLincoln can someone provide a demo?

[2015-08-14 18:04] #2218 closed

[2015-08-14 18:04] kschwidder opened #4164 "md-tooltip: Feature request support of HTML tags"
It would great if the md-tooltip could handle HTML tags. Currently only Strings are supported.
When generating HTML tags (such as <div> .... </div>) the tooltip is not properly styled.

[2015-08-14 18:07] jelbourn commented on #2409
Resolution for this issue: move this class to demo styles.

We are going to look into implementing button-groups later on.

[2015-08-14 18:11] jelbourn commented on #2528
@daw451-duplicate md-select now uses md-input container. Closing this for now, re-open if you have other specific examples of where md-input-container would be used.

[2015-08-14 18:11] #2528 closed

[2015-08-14 18:12] jelbourn commented on #2558
We're going to suggest adding your own CSS to achieve this.

[2015-08-14 18:12] #2558 closed

[2015-08-14 18:15] topherfangio commented on #2556
@robertbaker Sorry for the delay; if you're still willing to submit a PR, the file is located in `src/components/input/demoErrors/index.html`.

You should be able to just search for the word `event` and remove the `t`.

Please let me know if you have questions or no longer have time for this and I'll take care of it :-)

[2015-08-14 18:16] jelbourn commented on #2720
Related #3234

[2015-08-14 18:18] jelbourn commented on #2641
We are going to follow the behavior of the standard `input` and `button` elements when disabled and use the default pointer.

[2015-08-14 18:18] #2641 closed

[2015-08-14 18:24] innerpeace0 commented on #1958
@ThomasBurleson, this is great how you and your team are paying attention to i18n. There are so many great things about both Angularjs, MD. What you folks are doing to make them work together is great, too. Keep up the good work.

[2015-08-14 18:26] topherfangio commented on #3901
Do any of you have a specific example/codepen you can provide that shows exactly how it's failing in material? I'd like to make sure we get a good/performant fix in.

[2015-08-14 18:32] 0101adm commented on #836
same issue.  parent wrapper div with an md-content gets no scrollbar.

div(style='height:100%;')
     md-content(flex='')

[2015-08-14 18:34] innerpeace0 commented on #4069
+1

[2015-08-14 18:44] topherfangio commented on #2650
Confirmed in latest 0.10.1 release. Will fix.

[2015-08-14 18:56] sscovil opened #4165 "layout.scss: Firefox incorrectly calculates flex width when img tag is present"
In my app, I have a fairly typical layout: a header, footer and two-column body. Everything works as expected in Chrome and Safari, but in Firefox the widths of the two flex columns are being incorrectly calculated when an `<img>` tag is present inside one (or both) of the columns. More specifically, the columns are too wide, overflowing and creating a horizontal scrollbar.

### [JSFiddle](http://

[2015-08-14 19:01] sscovil commented on #4165
[This code in layout.scss](https://github.com/angular/material/blob/778af934ffd0cb331660581a26446e635d898f28/src/core/style/layout.scss#L81-L88) is the only thing I see that is Mozilla-specific. I'm not sure it is the culprit though, because the problem persists event when I remove `layout-fill` from the wrapper layout.

[2015-08-14 20:19] juandiago commented on #4022
Here you go:

http://codepen.io/anon/pen/gpyEjV

Just remove the <code>height:1px</code> from the <code>md-content</code>

Hope it helps!..

[2015-08-14 20:31] timnix commented on #1771
I played with this most of the day, trying to pinpoint what the issue is. I was just testing on IE10 but removing components did not have the same performance gain as removing things from the layout sass file. I ended up removing most of the media queries and any of the layout options that we are not using and taking out some of the animations on a few items. It was about a 3-4 second gain when na

[2015-08-14 20:55] naomiblack commented on #3872
@matsko can you have a look and assess?

[2015-08-14 20:57] naomiblack commented on #3723
This looks interesting but unfortunately, we will not be able to add as a feature before beta. (PRs always welcome...)

[2015-08-14 20:59] matsko commented on #3872
Sure thing.

[2015-08-14 20:59] naomiblack commented on #349
@marcysutton is this still an issue...? If so, can you update with status and assign to @jelbourn if more work needed.

[2015-08-14 21:01] naomiblack commented on #2289
@rschmukler we think this might be closed. If so, please close it. :)
If not, can you please update with components still needing work and assign to M12?

[2015-08-14 21:03] AdriVanHoudt commented on #3723
Would this include more then putting the CSS under md-chip directly instead of md-chips.md-chip¿

[2015-08-14 21:05] naomiblack commented on #917
I think we should do this the same way we do search on angular.io. Investigate.

[2015-08-14 21:06] #1668 closed

[2015-08-14 21:08] naomiblack commented on #3535
@topherfangio can you look at (1) and see if it's a bug?

[2015-08-14 21:10] naomiblack commented on #2359
We would love to get to this, but cannot before the beta. However, a PR would be very welcome if you (or anyone else) have expertise.

[2015-08-14 21:11] #1354 closed

[2015-08-14 21:13] #3195 closed

[2015-08-14 21:15] #864 closed

[2015-08-14 21:17] naomiblack commented on #2260
dup of #1376

[2015-08-14 21:17] #2260 closed

[2015-08-14 21:19] #3924 closed

[2015-08-14 21:21] naomiblack commented on #3870
This is fixed.

[2015-08-14 21:21] #3870 closed

[2015-08-14 21:23] naomiblack commented on #3072
We agree this needs discussion, but unfortunately, we will not be able to add it before beta.

[2015-08-14 21:24] naomiblack commented on #1269
This is unfortunately more work than we can address before 1.0. However we will continue the discussion.

[2015-08-14 21:28] robertmesserle commented on #3497
This has been resolved.

[2015-08-14 21:28] #3497 closed

[2015-08-14 21:33] naomiblack commented on #2955
This issue refers to an old version of Tabs. Latest version seems to be working. Please file a new issue with a screenshot if there are other problems.

[2015-08-14 21:33] #2955 closed

[2015-08-14 21:50] naomiblack commented on #2807
May be related to layout attribute selectors or flexbox. Need to investigate but unfortunately, unlikely to resolve before 1.0.

[2015-08-14 21:54] naomiblack commented on #2760
@topherfangio can you repro?

[2015-08-14 21:56] gligoran commented on #2914
+1 It seems the default ```border-style``` in Firefox is ```inset```, which make the coloring of md-input and select inconsistent.

[2015-08-14 21:57] naomiblack commented on #2736
Not clear from this issue what the problem is or how to reproduce. @erem-ifg if this is a concern for you, could you please provide a demo that we can repro in a new issue? thanks!

[2015-08-14 21:57] #2736 closed

[2015-08-14 21:58] naomiblack commented on #2654
@topherfangio can we still repro in 10.0?

[2015-08-14 22:00] naomiblack commented on #2632
Unfortunately, I don't think we can get to this before 1.0 (unless, possibly, a PR appears). Contributions welcome but I am pushing this out past beta.

[2015-08-14 22:01] naomiblack commented on #2626
@jesselpalmer want to have a look at this one?

[2015-08-14 22:08] naomiblack commented on #1640
We have made a number of improvements to gestures as of 0.10.1.
If there are specific issues (excluding Ionic, which we already track in another bug #2758) please file a new issue with a codepen repro case.

[2015-08-14 22:08] #1640 closed

[2015-08-14 22:12] naomiblack commented on #3788
This is done.

[2015-08-14 22:12] #3788 closed

[2015-08-14 22:18] jesselpalmer commented on #2626
@naomiblack sure i'll take a look.

[2015-08-14 22:33] matgr1 opened #4169 "Weird scroll behavior with md-virtual-repeat-container"
it's probably easiest to just demostrate, so here's a codepen: http://codepen.io/matgr1/pen/BNEEmW

and here are the problems:

1.) scroll to the bottom, shrink the output pane to maybe half the height, start scrolling down again - it keeps going forever just repeating the last few items

2.) increase the output pane height (to larger than the original) - the numbers no longer go all the way to th

[2015-08-14 22:43] ThomasBurleson opened #4170 "DatePicker: possible to set a date format which can also be entered via keyboard ?"

[2015-08-14 22:45] mhchen commented on #4158
We're working on the min/max date selection already. Currently blocked on #3896

Year selection is also planned later on.

[2015-08-14 22:45] ThomasBurleson commented on #4158
@kschwidder - regard *date format*, please submit a separate issue with more details.

[2015-08-14 22:45] #4170 closed

[2015-08-14 22:55] matgr1 commented on #4169
one more issue I just noticed (and updated the codepen to show it): the items won't fill horizontally all the way to the scrollbar

[2015-08-14 22:57] jelbourn commented on #4170
This is done via `$mdDateLocaleProvider`

[2015-08-14 23:09] ThomasBurleson commented on #4135
Duplicate.

[2015-08-14 23:09] #4135 closed

[2015-08-14 23:10] #4121 closed

[2015-08-14 23:42] nkoterba commented on #1668
@naomiblack So does this mean future versions of MD will have the iconsets included?

[2015-08-14 23:46] nkoterba commented on #4022
@topherfangio @juandiago demo is a good example.  I updated the codepen to use the "master" CSS and JS files as it was still on 0.10 (instead of 0.10.1 or master):

http://codepen.io/anon/pen/vOMMbX

Issue still exists.  As @juandiago said, if you remove the `height: 1px` then the entire "page" scrolls versus just the stuff in the top `md-content`.

[2015-08-15 00:24] #2289 closed

[2015-08-15 00:26] #1495 closed

[2015-08-15 00:29] rschmukler commented on #3752
Additionally, tests were added with dc0114916beb8442ca44972c88affa9210b0f75e to ensure that this behavior worked. Likely resolved

[2015-08-15 00:54] houmark commented on #1495
:+1: Nice work! I'll be testing soon :)

[2015-08-15 01:09] innerpeace0 commented on #4121
Thanks for fixing this, @ThomasBurleson.

[2015-08-15 01:15] ThomasBurleson commented on #1668
@nkoterba - Similar to our online docs, you should just link to the online font resources:

[code]

[2015-08-15 02:23] prerna12 commented on #3287
With 0.10.1, when I select an item in md-autocomplete and click on [x] next to it, that browser tab freezes.
My observation is that when you type in autocomplete to filter items and do not select any item, first click on [x] hides the menu and next click on [x] clears the filter. Works fine!
But when you select an item and click on [x], it hangs. So clearing when an item has been selected is still

[2015-08-15 03:08] jjf1 opened #4174 "Clicks not reliably firing on child element of a parent registered via MdGesture on mobile (iOS)"
In [0.10.1](https://github.com/angular/bower-material/tree/v0.10.1) (and since 0.9.4), on desktop clicks fire perfectly for `md-button` inside `md-bottom-sheet`, **but on mobile, specifically iOS** (Android not yet tested), the **clicks frequently do not fire.**

Here are 3 such button-icon elements, inside md-bottom-sheet.

[code]
**Debugging led to AngularMaterial's MdGesture system** in [core.j

[2015-08-15 03:35] dmastag commented on #2454
Well is this what you are trying to achieve ?
http://codepen.io/dmastag/pen/oXORpZ

I changed the div to md-content as @Ontic-Entity suggested.

Before:
![image](https://cloud.githubusercontent.com/assets/5745805/9287318/d7e7a632-4338-11e5-92ca-be4dd776da2c.png)

After:
![image](https://cloud.githubusercontent.com/assets/5745805/9287319/e66739fc-4338-11e5-8d24-ddd7f2d4f947.png)

As I understand it

[2015-08-15 04:02] PseudoCorps opened #4175 "mdAutocomplete: Modifies body position"
I'm not sure if this is intended behavior or not, but some of the time when I type in an md-autocomplete box, the element style of the body tag is changed which makes my navbar disappear. The negative top value varies, and I'm not sure how to avoid it.

The navbar is the gray in the first picture with the teal bottom border part (I blocked out most of the content)

Before:

<img width="940" alt="b

[2015-08-15 04:04] PseudoCorps commented on #4175
Seems similar to #4151

[2015-08-15 04:07] PseudoCorps commented on #4140
Same problem, I cried a little when I noticed this :'(

[2015-08-15 07:29] eXaminator commented on #2595
+1

[2015-08-15 07:41] topherfangio commented on #3214
The default has been changed to never open on hover, (a noted breaking
change) but the demo has been updated to show how you can use md-mouseenter
and md-mouseleave on the speed dial to achieve the same thing.
On Fri, Aug 14, 2015 at 6:21 AM lanmower <notifications@github.com> wrote:

[2015-08-15 07:47] no-more commented on #3967
Hi,

Correct me if I'm wrong but this is chrome default input date picker. This is absolutely not a material design feature.

The material design component is currently in 'private' testing.
It would be great to have some feedback about it by the way, will we be able to test is soon ?

Thanks.

[2015-08-15 07:50] topherfangio commented on #3967
Date picker was pushed to master yesterday so you should be able to begin
testing and providing feedback :-)

Major props to@jelbourne for his impressive work on it!
On Sat, Aug 15, 2015 at 12:47 AM no-more <notifications@github.com> wrote:

[2015-08-15 08:10] no-more commented on #3967
Thanks that's a great news, I've been waiting for this feature for months.

Great job!

Thanks.

[2015-08-15 08:44] matthiasg opened #4176 "md-tooltip: Method to disable all tooltips globally. E.g on small screens/pure touch devices"
i am having some issues with tooltips appearing on touch devices and often they dont even appear at the right spots but sometimes all potential tooltips appear all at once centered at the top/left/right/bottom border of the screen overlaying each other.

it would be helpful if there was a way to just disable all tooltips globally. We could simply bind this to mobile detection or small screen sizes

[2015-08-15 08:49] matthiasg commented on #3672
this seems fixed in 0.10.1. sadly pressing TAB does not select the top item in the drop down .. you have to make two keypresses (cursor down and enter)...

[2015-08-15 08:57] matthiasg opened #4177 "md-tabs: there should be a md-greatest-height property similar to md-dynamic-height"
Idea would be to calculate the height of all tabs but render them all with the maximum height found, but it would also require a possibility to limit the extend to a maximum height.

I implemented this would solve the issue of dialogs moving up and down when a dialog contains tabs. as of now the only choice is to only show 200px height per tab or have the entire dialog recenter vertically each tim

[2015-08-15 08:57] no-more opened #4178 "md-datepicker first impression feedback"
Hi,

First of all, great job.

I have just tried the new date picker and have a few questions:
 * The date picker does not fit well with other input (http://codepen.io/anon/pen/doLBzj). Shouldn't it be working inside a md-input-container as md-select is currently doing ?
 * It took me some time to understand the scroll to change month feature. Perhaps there should be an other way to change month a

[2015-08-15 09:04] no-more commented on #4178
After more testing it seems the date format displayed (mm/dd/yyyy) is related to the browser configuration. If I switch to a french environment it's correctly display. You can ignore this point. But the first day of week is still not correctly set.

[2015-08-15 09:28] matthiasg commented on #4145
this bug is easily reproducable when using just keyboard navigation.

Works:
- enter a few letters, the drop-down opens up then clicking the element and it works correctly.

Doesnt work:
- enter a few letters, the drop-down opens up then press keyboard down and press return on a desired item.

PS: It would be extremely helpful if pressing `TAB` would select the top most or currently highlighted el

[2015-08-15 09:41] matthiasg commented on #4141
Nice option, but i would rather have it behave like the tabs in the google play store (sections) meaning swiping live. Right now there are swipe actions, but they are not intuitive since they only start after the swipe is finished .. it should start swiping right away just like a scrollable container... that would be much faster.

[2015-08-15 09:44] no-more opened #4179 "mdSelect disabled look"
Hi,

The disabled version of mdSelect is not the same as input (dots vs line underline).

Thanks.

[2015-08-15 11:13] umidbekkarimov commented on #2623
Hi, @typotter issue fixed,

Angular 1.3.17  [codepen](http://codepen.io/umidbekkarimov/pen/zGGqjG?editors=101)
Angular 1.4.4 [codepen](http://codepen.io/umidbekkarimov/pen/JdVQqm?editors=101)

P.S. sorry for delay

[2015-08-15 12:24] barryvdh commented on #864
@naomiblack You closed this, but added a milestone? Is it still planned? If so, why not keep it open?

[2015-08-15 14:16] fRzzy commented on #4176
+1

[2015-08-15 14:18] jmcpeak opened #4181 "$mdDialog and $mdBottomSheet - promises do not resolve when testing"
When unit testing my code, I ran across this issue. $mdDialog and $mdBottomSheet - promises do not resolve when testing by call hide() or cancel(). I included my test here. Both services use $q so I tested that and it is fine - release: version 0.10.1.

See the codepen here:
http://codepen.io/jmcpeak/pen/OVGKMN

[2015-08-15 15:07] ecunado commented on #2886
+1

[2015-08-15 16:10] ThomasBurleson commented on #4181
@jmcpeak - you need to use $timeout.flush() to clear all pending promise queues.

[2015-08-15 16:10] #4181 closed

[2015-08-15 16:22] jmcpeak commented on #4181
I updated my codepen to use ```$timeout.flush()``` - tried before and after ```$rootScope.$apply``` - no luck.

[2015-08-15 17:09] topherfangio commented on #4145
We will definitely work on the bug and get it fixed.

Regarding your tab request, the tab key is used to navigate to the next
item that is keyboard accessible, whereas the enter key is used to select.
If we allowed tab to select, it would go against the accessibility
principles we are trying to ensure all of our components conform to, so I
don't think this is likely.

On Sat, Aug 15, 2015 at 2:28

[2015-08-15 17:18] geraldinestarke commented on #4023
+1

[2015-08-15 19:27] topherfangio opened #4183 "fabSpeedDial/Toolbar: Add docs about md-fab-* positions."
There should be documentation about how to use the `md-fab-*` positions available on the speed dial and toolbar. We should also mention that it uses `position: absolute` so the container needs proper CSS as well.

[2015-08-15 19:34] ngraef commented on #4145
@cesarvarela Sorry, I missed the second part of the issue, where the images get mixed up. I don't think that's a duplicate.

The first part (empty chips when selected using <kbd>Enter</kbd>) is a duplicate of many issues (#3833, #3900, #4087) that have all been merged into #3475, even though that one doesn't describe the problem very well, IMO.

@matthiasg @topherfangio Tabbing to select related t

[2015-08-15 19:45] topherfangio commented on #2014
Checkout this demo for a solution: http://codepen.io/topherfangio/pen/yNWBWy?editors=110

Toggle the right sidenav open and you will see the scrollable content and the floating action button. This just required a small bit of CSS on the `<md-content>` to achieve.

[2015-08-15 19:53] topherfangio commented on #4058
I feel like we might want to get some feedback from UX team about this. To me, the autocomplete feels like a fancy select box with a search, so my preference would be that it follows the standard HTML select behavior which requires you to hit enter or spacebar to select.

The HTML select even disables tabbing altogether, which may or may not be a good default. It does ensure that people can't acci

[2015-08-15 19:56] topherfangio commented on #4145
@ngraef So, it's not really that we want the "tab to select" feature, it's that we want "select on autocomplete blur"?